<div class="panel panel-default panel-intro">
    <div class="panel-heading">

        <!--:build_heading(null, false)}-->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#mixanalysis" data-toggle="tab">综合统计详情</a></li>
            <li><a href="#buyanalysis" data-toggle="tab">用户购买详情</a></li>
            <li><a href="#storeanalysis" data-toggle="tab">店铺支付详情</a></li>
            <li><a href="#tjanalysis" data-toggle="tab">推荐人统计</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="mixanalysis">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a class="btn btn-default" style="font-size:13px;color:dodgerblue;">
                            <i class="fa fa-dollar"></i>
                            <span class="extend">
                                登陆总人数：<span id="loginin" style="color: #ff5500">0</span>,
                                新用户总注册数<span id="reviewuser" style="color: #ff5500">0</span>,
                                线上下单总人数<span id="payonline" style="color: #ff5500">0</span>,
                                店铺支付总人数<span id="paystorenum" style="color: #ff5500">0</span>,
                                店铺用户线上下单总人数<span id="payonlinestorenum" style="color: #ff5500">0</span>
                            </span>
                        </a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-detail="{:$auth->check('shop/orders/index')}"
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="buyanalysis">
                <div id="toolbar2" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a class="btn btn-default" style="font-size:14px;color:dodgerblue;">
                        <i class="fa fa-dollar"></i>
                        <span class="extend">
                                用户消费总次数：<span id="userpaynum1" style="color: #ff5500"></span>,
                                订单总金额：<span id="suserpaysum1" style="color: #ff5500">0</span>,
                                消费总金额：<span id="auserpaysum1" style="color: #ff5500">0</span>,
                                抵扣总金额：<span id="discountsum1" style="color: #ff5500">0</span><!-- ,
                                小哥豆领取次数：<span id="getbean" style="color: #ff5500">0</span> -->
                        </span>
                    </a>
                </div>
                <table id="table2" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="storeanalysis">
                <div id="toolbar3" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a class="btn btn-default" style="font-size:14px;color:dodgerblue;">
                        <i class="fa fa-dollar"></i>
                        <span class="extend">
                                用户消费总次数：<span id="userpaynum2" style="color: #ff5500">0</span>,
                                消费总人数：<span id="paynum2" style="color: #ff5500">0</span>,
                                订单总额：<span id="suserpaysum2" style="color: #ff5500">0</span>,
                                消费总额：<span id="auserpaysum2" style="color: #ff5500">0</span>,
                                抵扣金额：<span id="discountsum2" style="color: #ff5500">0</span>
                            </span>
                    </a>
                </div>
                <table id="table3" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="tjanalysis">
                <div id="toolbar4" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a class="btn btn-default" style="font-size:14px;color:dodgerblue;">
                        <i class="fa fa-dollar"></i>
                        <span class="extend">
                                推荐店铺总数：<span id="tjstorecount3" style="color: #ff5500">0</span>,
                                店铺总消费人数：<span id="payusercount3" style="color: #ff5500">0</span>,
                                订单总金额：<span id="suserpaysum3" style="color: #ff5500">0</span>,
                                消费总金额：<span id="auserpaysum3" style="color: #ff5500">0</span>,
                                抵扣总金额：<span id="discountsum3" style="color: #ff5500">0</span>
                            </span>
                    </a>
                </div>
                <table id="table4" class="table table-striped table-bordered table-hover" width="100%">
                </table>
        </div>
    </div>
</div>