<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
<!--     <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 图标:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="" class="form-control" size="50" name="row[icon]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">文本:</label>
        <div class="col-xs-8 col-sm-6">
            {:Form::textarea('row[text]')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">链接:</label>
        <div class="col-xs-8 col-sm-6">
            <input type="text" class="form-control" id="power" name="row[link]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-link" class="control-label col-xs-12 col-sm-2">小程序链接:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-link"  data-rule="length[~200]" data-msg="链接地址太长了" maxlength="240" class="form-control" name="row[mini_link]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">权重:</label>
        <div class="col-xs-8 col-sm-2">
            <input type="text" class="form-control" id="power" name="row[power]" value="" data-rule="integer;required" />
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-8 col-sm-2"></label>
        <div class="col-xs-8 col-sm-2">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
