<div class="panel panel-default panel-intro">
    <div class="panel-heading" style="margin-bottom: 30px">
        {:build_heading(null, false)}
    </div>
    <div class="panel-body">
    <form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="" novalidate="novalidate">
        <div class="tab-pane fade  active in" id="dictionary">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">关注公众号后回复：</label>
                <div class="col-xs-12 col-sm-4" style="padding-left: 26px">
                    <textarea name="default_msg" class="form-control" cols="30" rows="5">{$conf.default_msg}</textarea>
                </div>
            </div>

            <div class="widget-body no-padding">
                <label class="control-label col-xs-12 col-sm-2">自动回复：</label>
                 <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <dl class="fieldlist" data-name="reply[row]" data-listidx="1">
                            <dd>
                                <ins>关键字</ins>
                                <ins>回复内容</ins>
                            </dd>
                            <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a></dd>
                            <textarea name="reply[row]" class="form-control hide" cols="30" rows="5">{$conf.reply}</textarea>
                        </dl>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">默认回复：<br />(无关键字匹配时)</label>
                <div class="col-xs-12 col-sm-4" style="padding-left: 26px">
                    <textarea name="auto" class="form-control" cols="30" rows="5">{$conf.auto|default=""}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
                    <button type="submit" class="btn btn-success">保存配置</button>
                    <button type="reset" class="btn btn-default btn-embossed">重置</button>
                </div>
            </div>

        </div>
    </form>
    </div>
</div>