<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">规则名称：</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="name" class="form-control" value="{$row.name}" placeholder="输入规则名称">
        </div>
    </div>

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">订单序数：</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="times" class="form-control" value="{$row.times}" placeholder="输入第几次订单">
        </div>
    </div>

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">抵扣比率：</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="discount" class="form-control" value="{$row.discount}" placeholder="本次订单抵扣比率">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">额度配置:</label>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <dl class="fieldlist" data-name="rules" data-template="template">
                    <dd>
                        <ins style="width: 90px" align="center">序号</ins>
                        <ins style="width: 90px" align="center">额度下限值(元)</ins>
                        <ins style="width: 90px" align="center">额度上限值(元)</ins>
                        <ins style="width: 90px" align="center">抵扣峰值(豆)</ins>
                    </dd>

                    {php}$c=0;{/php}
                    {foreach name="$row['rules']" item="vo"}
                    {if $vo}
                    {php}$c=$c+1;$i=$c-1{/php}
                    <dd class="form-inline">
                        <input type="text" name="row[{$i}][od]" class="form-control"
                               style="width: 90px" value="{$vo["od"]}"  data-rule="digits" placeholder="顺序号">
                        <input type="text" name="row[{$i}][areamin]" class="form-control"
                               style="width: 90px" value="{$vo["areamin"]}"  data-rule="digits" placeholder="额度下限值">
                        <input type="text" name="row[{$i}][areamax]" class="form-control"
                               style="width: 90px" value="{$vo["areamax"]}"  placeholder="额度上限值">
                        <input type="text" name="row[{$i}][getmoney]" class="form-control"
                               style="width: 90px" data-msg="请填整数，不限请留空" data-rule="digits" value="{$vo["getmoney"]}"  placeholder="抵扣最大值">
                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                    </dd>
                    {/if}
                    {/foreach}

                    <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 新增</a></dd>
                    <textarea name="rules" class="form-control hide" cols="30" rows="5"></textarea>
                </dl>
            </div>
            <div class="col-sm-4"><textarea name="rule" class="form-control hide">{$row['rule']}</textarea></div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" style="font-size: 16px" class="btn btn-success">　<i class="fa fa-save"></i> 保存　</button>
        </div>
    </div>

</form>

<script type="text/html" id="template">
    <dd class="form-inline">
        <input type="text" name="row[<%=index+{$c}%>][od]" class="form-control"
               style="width: 90px" value="<%=row%>"  data-rule="digits" placeholder="顺序号">
        <input type="text" name="row[<%=index+{$c}%>][areamin]" class="form-control"
               style="width: 90px" value="<%=row%>"  data-rule="digits" placeholder="额度下限值">
        <input type="text" name="row[<%=index+{$c}%>][areamax]" class="form-control"
               style="width: 90px" value="<%=row%>"  placeholder="额度上限值">
        <input type="text" name="row[<%=index+{$c}%>][getmoney]" class="form-control"
               style="width: 90px" data-msg="请填整数，不限请留空" data-rule="digits" value="<%=row%>"  placeholder="抵扣最大值">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
    </dd>
</script>