<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-depositDetails.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>提现详情</title>
</head>

<body>


  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <strong>提现详情</strong>
    </div>

    <!-- 提现申请 -->
    <div class="apply">
      <div class="applyFor">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/icon_zfcg.png" />
        <strong>提现申请已提交</strong>
      </div>
      <p>正在为您审核中...</p>
    </div>

    <!-- 提现列表 -->
    <ul>
      <li>
        <span>提现金额 :</span>
        <span class="money" v-cloak>￥{{ review.amount }}</span>
      </li>
      <li>
        <span>提现方式 :</span>
        <span class="money-s wallet" v-cloak>{{ review.type }}</span>
      </li>
      <li>
        <span>提现日期 :</span>
        <span class="money-s" v-cloak>{{ formatDateTime(review.time) }}</span>
      </li>
    </ul>

    <!-- 底部按钮 -->
    <div class="btn">
      <a :href="'/index.php/mobile/withdraw/record/v/1.0.0.20190119/rand/'+date">
        <p>完成并返回</p>
      </a>
    </div>
  </div>

  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  

  <script>
    "use strict";

    var app = new Vue({
      el: '#app',
      data: {
        group_show: '',
        user: '',
        review: '',
        date: ''
      },
      created: function created() {
        var that = this;
        this.date = new Date().valueOf();
        this.user = JSON.parse(window.localStorage.userContent);
        this.review = JSON.parse(window.localStorage.Review);
      },
      methods: {
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    });
  </script>

</body>

</html>