<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-deposit.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>提现</title>
</head>

<body>


    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>提现</strong>
        </div>


        <!-- 遮罩层 -->
        <div class="mask" v-show="type==1" @tap='type=0'>

        </div>
        <!-- 弹窗 -->
        <div class="pop" v-show="type==1">
            <div>
                <img src="{$Think.const.PUBLIC_RES}/png/icons/tixianshenq.png">
            </div>
            <h5>提现申请</h5>
            <span>当前您有没完成的提现申请请先等待完成</span>
            <div class="but" @tap='type=0'>
                我知道了
            </div>
        </div>


        <!-- 可提现额度 -->
        <div class="limit">
            <div v-cloak>￥{{ cash.effective }}</div>
            <p>当前可提现额度</p>
        </div>


        <!-- 收益、已提现 -->
        <div class="onw">
            <div class="left">
                <h5>总收益</h5>
                <p v-cloak>￥{{ cash.totamount }}</p>
            </div>
            <div class="right">
                <h5>已提现额度</h5>
                <p v-cloak>￥{{ Math.floor((cash.totamount - cash.effective)*100)/100 }}</p>
            </div>
        </div>


        <!-- 钱包、银行卡 -->
        <ul>
            <li v-show="cash.status==1" @tap='type=1'>
                <strong>提现到微信钱包<span>（推荐）</span></strong>
                <img src="{$Think.const.PUBLIC_RES}/png/icons/into_1.png" />
            </li>
            <li v-show="cash.status==2">
                <a :href="cash.url.WithdrawWechatSet.url">
                    <strong>提现到微信钱包<span>（推荐）</span></strong>
                    <img src="{$Think.const.PUBLIC_RES}/png/icons/into_1.png" />
                </a>

            </li>
            <li v-show="cash.status==1" @tap='type=1'>
                <strong>提现到微信银行卡</strong>
                <img src="{$Think.const.PUBLIC_RES}/png/icons/into_1.png" />
            </li>
            <li v-show="cash.status==2">
                <a :href="cash.url.WithdrawBankSet.url">
                    <strong>提现到微信银行卡</strong>
                    <img src="{$Think.const.PUBLIC_RES}/png/icons/into_1.png" />
                </a>

            </li>
            <li>
                <a :href="cash.url.WithdrawRecord.url">
                    <strong>提现记录</strong>
                    <img src="{$Think.const.PUBLIC_RES}/png/icons/into_1.png" />
                </a>
            </li>
        </ul>
        <p>温馨提示：每周一16点前审核</p>
        <p>（如遇法定节假日顺延至下个工作日）</p>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    

    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                openid: '',
                // 提现详情
                cash: [],
                // 遮罩层 
                type: 0
            },
            created: function created() {
                var that = this;
                this.openid = window.localStorage.openid;
                axios.get('/mapiv2/cash/index_cash', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        openid: that.openid
                    }
                }).then(function (res) {
                    console.log(res);
                    that.cash = res.data.data;
                    window.localStorage.setItem('cash', JSON.stringify(that.cash));
                });
            }
        });
    </script>

</body>

</html>