<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-depositRecord.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>提现记录</title>
</head>

<body>

    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>提现记录</strong>
        </div>

        <!-- 提现记录列表 -->
        <ul>
            <li v-show="list!=''" v-for="(item, index) in list" :key="item.id" v-cloak>
                <!--<img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg" />-->
                <div class="deposit">
                    <p>提现<span v-cloak>{{ formatDateTime(item.create_time*1000) }}</span></p>
                    <div v-show="item.type==1" v-cloak>提现方式: 微信钱包</div>
                    <div v-show="item.type==2" v-cloak>提现方式: 银行卡</div>
                    <div>提现金额: <span v-cloak>￥{{ item.amount }}</span></div>
                    <div><span class="audit" v-show="item.status==1" v-cloak>审核中</span></div>
                    <div><span class="audit" v-show="item.status==2" v-cloak>审核通过</span></div>
                    <div><span class="audit" v-show="item.status==3" v-cloak>打款成功</span></div>
                    <div><span class="audit" v-show="item.status==4" v-cloak>申请驳回</span></div>
                </div>
                <div class="btn" v-show="item.type==1" @tap='wechat(item)'>查看详情</div>
                <div class="btn" v-show="item.type==2" @tap='bank(item)'>查看详情</div>
            </li>
            <li class="nl" v-show='list==""' v-cloak>暂无提现记录</li>
        </ul>
    </div>


    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    

    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 详情列表
                list: [],
                // 跳转链接
                url: '',
                date: ''
            },
            created: function created() {
                var that = this;
                this.date = new Date().valueOf();
                axios.get('/mapiv2/cash/cash_list', {}).then(function (res) {
                    console.log(res);
                    that.list = res.data.data;
                });
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                },
                wechat: function wechat(item) {
                    console.log(item);
                    window.localStorage.setItem('withdraw', JSON.stringify(item));
                    window.location.href = '/index.php/mobile/withdraw/wechat_detail/v/' + this.date + '/';
                },
                bank: function bank(item) {
                    console.log(item);
                    window.localStorage.setItem('withdraw', JSON.stringify(item));
                    window.location.href = '/index.php/mobile/withdraw/bank_detail/v/' + this.date + '/';
                }
            }
        });
    </script>


</body>

</html>