<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-RecordThree.css?{$Think.config.fastadmin['v_api']}" />
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>提现到银行卡</title>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>提现到银行卡</strong>
        </div>

        <!-- 遮罩层 -->
        <div class="mask" v-show="type==1" @tap='type=0'>

        </div>
        <!-- 弹窗 -->
        <div class="pop" v-show="type==1">
            <div>
                <img src="{$Think.const.PUBLIC_RES}/png/icons/zhuyi.png" />
            </div>
            <strong>注意</strong>
            <span>信息错误会导致提现失败,资金会重新回到余额,为避免耽误您的时间,请谨慎写</span>
            <div class="but" @tap='type=0'>知道了</div>
        </div>



        <!-- 提现列表 -->
        <ul>
            <li>
                <span>可提现额度</span>
                <span v-cloak>￥{{ money }}</span>
            </li>
            <li>
                <span>请输入提现金额</span>
                <!--<span>￥88888.00</span>-->
                <input type="number" placeholder="请输入提现额度" v-model="amount" />
            </li>
            <li>
                <span>持卡人姓名</span>
                <!--<span>开心果</span>-->
                <input type="text" placeholder="请输入姓名" v-model="enc_true_name" />
            </li>
            <li>
                <span>银行卡卡号</span>
                <!--<span>8888666686868686</span>-->
                <input type="text" placeholder="请输入卡号" v-model="enc_bank_no" />
            </li>
            <li>
                <span>开户行</span>
                <select v-model="bank_code">
                    <option value="">请选择所属银行</option>
                    <option :value="index" v-for="(item, index) in gidas" :key="index">{{ item }}</option>
                </select>
            </li>
            <li>
                <span>银行预留手机号</span>
                <!--<span>13668688868</span>-->
                <input type="number" placeholder="请输入手机号码" v-model="phone" />
            </li>
        </ul>
        <!-- 底部按钮 -->
        <div class="btn" @click="sbit">
            <p>确认提现 ( 每周最多进行一次提现操作 )</p>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    

    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 提现列表
                cash: '',
                // 可以提现额度
                money: '',
                // 金额
                amount: Number,
                // 备注
                notes: '',
                // 收款方用户名
                enc_true_name: '',
                // 收款方银行卡账号
                enc_bank_no: '',
                // 收款方开户行
                bank_code: '',
                // 银行预留手机号
                phone: '',
                // 银行id
                gidas: {
                    1002: '工商银行',
                    1005: '农业银行',
                    1026: '中国银行',
                    1003: '建设银行',
                    1001: '招商银行',
                    1066: '邮储银行',
                    1020: '交通银行',
                    1004: '浦发银行',
                    1006: '民生银行',
                    1009: '兴业银行',
                    1010: '平安银行',
                    1021: '中信银行',
                    1025: '华夏银行',
                    1027: '广发银行',
                    1022: '光大银行',
                    1032: '北京银行',
                    1056: '宁波银行'
                },
                //   文字
                testValue: '',
                type: 1,
                url: ''
            },
            created: function created() {
                var that = this;
                this.user = JSON.parse(window.localStorage.userContent);
                this.cash = JSON.parse(window.localStorage.cash);
                this.money = that.cash.effective;
            },
            methods: {
                sbit: function sbit() {
                    var that = this;

                    if (!this.amount && this.amount == 0) {
                        mui.toast('输入需要提现的金额', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!this.enc_true_name) {
                        mui.toast('请输入姓名', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!this.enc_bank_no) {
                        mui.toast('请输入银行卡号', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!/^.{19,23}$/.test(this.enc_bank_no)) {
                        mui.toast('请输入正确的银行卡号', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!this.bank_code) {
                        mui.toast('请选择开户行', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!this.phone) {
                        mui.toast('请输入电话号码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(this
                            .phone)) {
                        mui.toast('请输入正确的电话号码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;
                    axios.post('/index.php/mapiv2/cash/bank_cash', {
                        amount: that.amount,
                        notes: that.notes,
                        enc_true_name: that.enc_true_name,
                        enc_bank_no: that.enc_bank_no,
                        bank_code: that.bank_code,
                        phone: that.phone
                    }, {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        console.log(res);
                        that.url = res.data.url;
                        var Review = {
                            type: '银行卡',
                            amount: that.amount,
                            time: new Date()
                        };
                        window.localStorage.setItem('Review', JSON.stringify(Review));
                        window.location.href = that.url;
                    });
                }
            },
            watch: {
                enc_bank_no: {
                    handler: function handler(val, oldVal) {
                        var testValue = this.enc_bank_no.replace(/\D/g, '').replace(/....(?!$)/g,
                        '$& '); //替换空格前4位数字为4位数字加空格

                        this.enc_bank_no = testValue;
                    },
                    deep: true
                },
                amount: {
                    handler: function handler(val, oldVal) {
                        this.money = Number(this.money);
                        this.amount = Number(this.amount);

                        if (this.amount < 0) {
                            this.amount = 0;
                        } else if (this.amount <= this.money) {} else {
                            this.amount = this.money;
                        }
                    },
                    deep: true
                }
            }
        });
    </script>
</body>

</html>