<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-depositTwo.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>提现到微信钱包</title>
</head>

<body>

    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>提现到微信钱包</strong>
        </div>

        <!-- 遮罩层 -->
        <div class="mask" v-show="type==1" @tap='type=0'>

        </div>
        <!-- 弹窗 -->
        <div class="pop" v-show="type==1">
            <div>
                <img src="{$Think.const.PUBLIC_RES}/png/icons/huo.png">
            </div>
            <span>提交并审核成功后,金额将会发放至微信账号所在微信钱包</span>
            <div class="but" @tap='type=0'>
                &nbsp; &nbsp; 知道了 &nbsp; &nbsp;
            </div>
        </div>

        <!-- 提现额度 -->
        <div class="limit">
            <span>可提现额度</span>
            <span v-cloak>￥{{ money }}</span>
        </div>


        <!-- 提现金额 -->
        <div class="sum">
            <div>提现金额</div>
            <span>¥</span> <input type="number" v-model="amount">
        </div>


        <!-- 全部提现 -->
        <div class="all">
            <span v-cloak>可提现金额￥{{ money }}</span>
            <span @tap='synchronize'>全部提现</span>
        </div>


        <!-- 底部按钮 -->
        <div class="btn" @tap='withdraw'>
            <p>确认提现 ( 每周最多进行一次提现操作 )</p>
        </div>

    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>


    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 可提现额度
                money: '',
                // 许提现金额
                amount: '',
                // 提现详情
                cash: [],
                // 遮罩层
                type: 1,
                url: ''
            },
            created: function created() {
                var that = this;
                this.cash = JSON.parse(window.localStorage.cash);
                that.money = that.cash.effective;
            },
            methods: {
                withdraw: function withdraw() {
                    var that = this;

                    if (!this.amount && this.amount == 0) {
                        mui.toast('请输入提现金额', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    };
                    axios.get('/index.php/mapiv2/cash/index_cash', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            openid: window.localStorage.openid
                        }
                    }).then(function (res) {
                        if (res.data.data.status == 1) {
                            mui.toast('已提现,请勿重复操作', {
                                duration: '1000ms',
                                type: 'div'
                            });
                        } else {
                            axios.post('/index.php/mapiv2/cash/small_change_cash', {
                                amount: that.amount,
                                notes: ''
                            }, {
                                    headers: {
                                        'X-Requested-With': 'xmlhttprequest'
                                    }
                                }).then(function (res) {
                                    that.url = res.data.url;
                                    var Review = {
                                        type: '微信钱包',
                                        amount: that.amount,
                                        time: new Date()
                                    };
                                    window.localStorage.setItem('Review', JSON.stringify(Review));
                                    window.location.href = that.url;
                                });
                        }

                    })

                },
                synchronize: function synchronize() {
                    this.amount = this.money;
                }
            },
            watch: {
                amount: {
                    handler: function handler(val, oldVal) {
                        this.money = Number(this.money);
                        this.amount = Number(this.amount);

                        if (this.amount < 0) {
                            this.amount = 0;
                        } else if (this.amount <= this.money) { } else {
                            this.amount = this.money;
                        }
                    },
                    deep: true
                }
            }
        });
    </script>

</body>

</html>