<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-Rxxq.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>提现详情</title>
</head>

<body>

  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <strong>提现详情</strong>
    </div>

    <!-- 提现列表 -->
    <ul>
      <li>
        <span>提现时间 :</span>
        <span v-cloak>{{formatDateTime(group_show.create_time*1000)}}</span>
      </li>
      <li>
        <span>提现方式 :</span>
        <span v-cloak>微信钱包</span>
      </li>
      <li>
        <span>提现金额 :</span>
        <span class="money" v-cloak>￥{{group_show.amount}}</span>
      </li>
      <li>
        <span>提现状态 :</span>
        <span class="frost fz" v-show="group_show.status==1" v-cloak>审核中</span>
        <span class="frost fz" v-show="group_show.status==2" v-cloak>审核通过</span>
        <span class="frost fz" v-show="group_show.status==3" v-cloak>打款成功</span>
        <span class="frost fz" v-show="group_show.status==4" v-cloak>申请驳回</span>
      </li>
      <li>
        <span>说明 :</span>
        <span class="fz" v-cloak>{{ group_show.notes }}</span>
      </li>
    </ul>
  </div>


  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  

  <script>
    "use strict";

    var app = new Vue({
      el: '#app',
      data: {
        group_show: ''
      },
      created: function created() {
        var that = this;
        this.group_show = JSON.parse(window.localStorage.withdraw);
      },
      methods: {
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    });
  </script>

</body>

</html>