<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 头像:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[icon]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">用户名:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-mobile"  data-rule="required;" data-msg="用户名太长" maxlength="240" class="form-control" name="row[uname]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">用户地址:</label>
        <div class="col-xs-12 col-sm-4">
             {:Form::textarea('row[address]','',['data-rule'=>'required'])}
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">商品名字:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-mobile"  data-rule="required;" data-msg="商品名字太长" maxlength="240" class="form-control" name="row[goodsname]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">用户评价:</label>
        <div class="col-xs-12 col-sm-4">
             {:Form::textarea('row[commit]','',['data-rule'=>'required'])}
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">虚拟时间:</label>
        <div class="col-xs-12 col-sm-4">
           {:Form::datepicker('row[bum_time]',time())}
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">评星:</label>
        <div class="col-xs-12 col-sm-4">
            {:build_select('row[star]',[0,1,2,3,4,5],5)}
        </div>
    </div>

    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* {:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-joinip" data-rule="required" maxlength="3" class="form-control" name="row[power]" type="text" value="">
            <input  name="row[status]" type="hidden" value="1">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <!--<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>
</form>
