
body {
    background-color: #fff;
}

/* 员工登录 */
.staffNoe {
    position: relative;
    height: 5.8rem;
    /*background-color: #0ff;*/
}

.staff {
    width: 100%;
    height: 1.485rem;
    line-height: 1.485rem;
    text-align: center;
    font-size: 0.2rem;
    /*background-color: #0ff;*/
}


/* 员工编码 */
.coding {
    /*background-color: #f00;*/
    margin-top: 0.7rem;
}

.coding img {
    width: 0.16rem;
    height: 0.16rem;
    margin-left: 0.33rem;
}

.coding input {
    width: 2.84rem;
    /*margin: 0;*/
    border: none;
    border-bottom: 0.01rem solid #E6E6E6;
    border-radius: 0;
    margin: 0 0 0 0.05rem;
    font-size: 0.14rem;
    /* color: #A6A6A6; */
}

/* 员工姓名 */
.codings {
    /*background-color: #f00;*/
    margin-top: 0.08rem;
}

.codings img {
    width: 0.16rem;
    height: 0.16rem;
    margin-left: 0.33rem;
}

.codings input {
    width: 2.84rem;
    /*margin: 0;*/
    border: none;
    border-bottom: 0.01rem solid #E6E6E6;
    border-radius: 0;
    font-size: 0.14rem;
    margin: 0 0 0 0.05rem;
    /* color: #A6A6A6; */
}


/* 登录按钮 */
.register {
    width: 100%;
    text-align: center;
    /*background-color: #0ff;*/
    /*position: fixed;*/
    position: absolute;
    bottom: 0;
}

.register span {
    display: inline-block;
    width: 3.2rem;
    height: 0.36rem;
    line-height: 0.36rem;
    color: #fff;
    font-size: 0.14rem;
    background-color: #7D5A40;
    border-radius: 0.18rem;
}




















