<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*标题:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="length(~10);required;" data-msg=""  class="form-control" name="row[title]" maxlength="10"  type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*调用码:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="remote(shop/articlelibrary/lck);length(~10);required;" data-msg=""  class="form-control" name="row[usecode]" maxlength="10"  type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*权重:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="length(~10);required;" data-msg=""  class="form-control" name="row[power]" maxlength="10"  type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*简要:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[brief]','',array('data-rule'=>'length(~100)'))}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*内容:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::editor('row[detail]','请输入',array('class'=>'editor','id'=>'editor'))}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
