<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <style>th{text-align: right}</style>
    <table class="table table-striped">
        <tr>
            <th>序号</th>
            <td>{$info.id}</td>
        </tr>
        <tr>
            <th>用户ID</th>
            <td>{$info.uid}</td>
        </tr>
        <tr>
            <th>用户名</th>
            <td>{$info.user.name}</td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>{$info.user.phone}</td>
        </tr>
        <tr>
            <th>时间</th>
            <td>{$info.create_time|date="Y-m-d H:i",###}</td>
        </tr>
        <tr>
            <th>反馈内容</th>
            <td>{$info.feedback}</td>
        </tr>
    </table>
</form>