<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 广告图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[pic]" type="hidden" value="{$row['pic']}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* {:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-joinip" data-rule="integer;required digits range[0~255]" maxlength="3" class="form-control" name="row[power]" type="text" value="{$row['power']}">
            <input  name="row[status]" type="hidden" value="1">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 昵称:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="required;length[~200]" data-msg="昵称太长" maxlength="240" class="form-control" name="row[title]" type="text" value="{$row['title']}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 到期时间:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::datepicker('row[endtime]',$row['endtime'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 跳转链接:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;length[~200]" data-msg="跳转链接" maxlength="240" class="form-control" name="row[link]" type="text" value="{$row['link']}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-link" class="control-label col-xs-12 col-sm-2">小程序链接:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-link"  data-rule="length[~200]" data-msg="链接地址太长了" maxlength="240" class="form-control" name="row[mini_link]" type="text" value="{$row.mini_link}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 简要:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::textarea('row[text],$row[link]')}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <!--<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>
</form>
