
body {
    background-color: #f2f0f5;
}

.add {
    width: 100%;
}
.rule{
    flex: 1;
    height: 25px;
    border: none;
    font-size: 16px;
    padding: 0 2%;
}
.addForm {
    box-sizing: border-box;
    padding: 0 25% 0 12%;
}

.addForm>div {
    display: flex;
    margin-top: 32px;
}

.addForm .addTitle {
    flex: 1;
    box-sizing: border-box;
    padding-right: 2%;
}

.addForm  span {
    float: right;
    font-size: 16px;
    line-height: 30px;
}
.addForm .addContent {
    flex: 3;
    display: flex;
}
.addForm .addContent .store {
    flex: 1;
    height: 25px;
    border: none ;
    font-size: 16px;
    padding: 0 2%;
}
.addForm .addContent input {
    flex: 1;
    height: 25px;
    border: none ;
    padding: 0 2%;
}
.addForm .Provinces{
    margin: 0 2%;
    box-sizing: border-box;
    flex: 1;
    height: 25px;
    border: none ;
    font-size: 16px;
}

.latitude {
    margin-left: 10px;
}

.addForm .addContent textarea {
   height: 88px;
   flex: 3;
   border: none;
   font-size: 16px;
}
.addForm .button {
    float: right;
    width: 50%;    
}
.addForm .button input{
    width: 40%;
    height: 40px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d22c2c;
    color: #FFFFFF;
    font-size: 18px;
}

.addForm .addContent input[readonly="true"]{
    background-color: #e6e6e6;
}

#filecontent {
    width: 200px;
    text-align: center;
}


#imgShow {
    display: block;
    width: 100%;
}

#show {
    text-align: center;
    border-radius: 3px;
    /* background-color: #d22c2c; */
    margin-top: 5px;
}