body {
    background-color: #F2F2F2;

}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #d0d0d0;
}

.ipt {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 5%;
}

.ipt .iptA {
    width: 32%;
    height: 100px;
    float: left;
}

.ipt .iptB {
    width: 33%;
    height: 100px;
    float: left;
}

.ipt .iptC {
    width: 35%;
    height: 100px;
    float: left;
}

.ipt .iptA input[name="search"] {
    width: 70%;
    height: 45px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

.ipt .iptB select {
    width: 33%;
    height: 45px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

.ipt .iptC input {
    width: 20%;
    height: 45px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d22c2c;
    color: #FFFFFF;
    font-size: 16px;
}

#newshop {
    width: 20%;
    height: 45px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d22c2c;
    color: #FFFFFF;
    font-size: 16px;
    display: block;
    line-height: 45px;
    text-align: center;
}

.ipt .iptC input[name="newshop"] {
    width: 25%;
}

.box {
    width: 100%;
    height: auto;
    border: none;
    box-sizing: border-box;
    padding: 0 5%;
    background-color: #f2f2f2;
}

.box .tab {
    width: 100%;
    /* margin-left: 5%; */
    text-align: center;
}

.box .tab table {
    width: 100%;
    height: auto;
    text-align: center;
}

.box .tab table tr th {
    width: auto;
    height: 50px;
    background-color: #fff;
    border: #f2f2f2 solid 2px;
    font-size: 16px;
    text-align: center;
}

.box .tab table tr td {
    width: auto;
    height: 50px;
    font-size: 16px;
    background-color: #f7f7f7;
    border: #f2f2f2 solid 2px;
}

.box .tab table tr td:last-child {
    background-color: #f2f2f2;
}

.box .tab table tr td .frozen {
    width: 33%;
    height: 100%;
    float: left;
    line-height: 50px;
    color: #2cd257;
}

.box .tab table tr td .set {
    width: 33%;
    height: 100%;
    float: left;
    line-height: 50px;
    color: #29c7ca;
}

.up-down {
    width: 80%;
    height: 50px;
    margin-top: 30px;
    margin-left: 10%;
}

.up-down img {
    margin-top: 7px;
}

.up-down .up {
    width: 30%;
    height: 50px;
    float: left;
}

.up-down .up .toup {
    width: 45%;
    height: 50px;
    line-height: 50px;
    background-color: #29c7ca;
    float: left;
    margin-left: 3%;
    text-align: center;
}

.up-down .num {
    width: 40%;
    height: 50px;
    float: left;
    text-align: center;
}

.up-down .num table {
    width: 100%;
    height: 50px;
}

.up-down .num table th {
    width: 10%;
    height: 50px;
}

.up-down .down {
    width: 30%;
    height: 50px;
    float: left;
}

.up-down .down .todown {
    width: 45%;
    height: 50px;
    line-height: 50px;
    background-color: #29c7ca;
    float: right;
    margin-right: 3%;
    text-align: center;
}

tr:hover {
    background: #fafafa;
}

tr:hover td {
    background: none !important;
}

.no {
    text-align: center;
    background: #f2f2f2!important;
}

.no>td {
    background: #f2f2f2!important;
}
.no>td:hover{
    background: #f2f2f2!important;
}