body {
    background-color: #FAFAFA;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 顶部样式 */
/*.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header span {
    font-size: 0.15rem;
    line-height: 0.5rem;
    margin-left: 0.2rem;
}

.header .arrow {
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.5rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}*/

/* 分类样式 */
#pullrefresh .classify {
    /*background-color: #AEFFE4;*/
    /* height: 100%; */
    /*margin-top: 0.5rem;*/
    /* width: 25%; */
    /*margin-bottom: 0.5rem;*/
}

#pullrefresh .classify .ulList {
    height: 100%;
    width: 22%;
    float: left;
    overflow-y: scroll;
    list-style: none;
    background-color: #E4E1E1;
    /*margin-top: 0.5rem;*/
    text-align: center;
    font-size: 0.14rem;
    position: fixed;
    left: 0;
    top: 0;
    white-space: inherit;
}

#pullrefresh .mui-scroll-wrapper {
    position: absolute;
    height: 100%;
}

#pullrefresh .classify .ulList li {
    width: 100%;
    height: 0.5rem;
    /*background-color: #FF8AC0;*/
    padding:  0;
    line-height: 0.5rem;
    font-size: 0.14rem;
}

.classify .ulList li:last-child {
    margin-bottom: 0.6rem;
}

#pullrefresh .mui-active {
    color: black;
    border: none;
}

.sort {
    border-left: 0.03rem solid #FF8C2B;
    background-color: #F9F9F9;
}

/* 日常保洁样式 */
.everyday {
    /*float: right;*/
    /*border-top: 0.01rem solid #fff;*/
    /*background-color: #FFED83;*/
    width: 78%;
    /*margin-top: 0.5rem;*/
    overflow: hidden;
    /*margin-bottom: 0.6rem;*/
    margin-left: 0.8rem;
}

.everyday .ul_list {
    /*width: 100%;
    margin: 0;
    overflow: hidden;*/
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    margin-left: 0.15rem;
    padding: 0 0 0.6rem 0;
}

.everyday .ul_list .list {
  /*  float: left;
    width: 29.3%;
    margin: 0.18rem 0 0 0.09rem;*/
    float: left;
    width: 25.3%;
    /* height: 1rem; */
    margin: 0.18rem 0 0 0;
    /* background: #f00; */
}

/*.everyday .uls .li_s {*/
/*float: right;*/
/*margin-right: 0.33rem;*/
/*}*/

.everyday img {
    width: 0.84rem;
    height: 0.84rem;
}

.list p {
    text-align: center;
    /* background-color: #887881; */
    /*margin: 0;*/
    width: 0.84rem;
    font-size: 0.11rem;
    height: 0.28rem;
    line-height: 0.15rem;
    color: #454545;
    /*margin-top: 0.05rem;*/
    margin: 0.05rem 0 0 0;
}

/* 底部样式 */
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.49rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 -0.01rem 0.04rem 0 #DFDEDF;
    z-index: 10;
}

.bottom li {
    width: 25%;
    /*height: 0.45rem;*/
    /*line-height: 0.3rem;*/
    /*background-color: #93FF8B;*/
    float: left;
    text-align: center;
    margin-top: 0.05rem;
    /*font-size: 0.12rem;*/
}

.bottom li a {
    display: block;
    height: 100%;
}

.bottom li p {
    font-size: 0.12rem;
    margin: 0;
    color: #8f8f94;
    /*line-height: 0.1rem;*/
}

.bottom li .order {
    color: #D6541D;
}

/*.bottom li:hover .order {
    font-weight: 700;
}*/

.bottom li img {
    width: 0.23rem;
    height: 0.215rem;
    /*margin-top: 0.075rem;*/
}

.wu {
    width: 100%;
    text-align: center;
    color: #a1a1a1;
    margin-top: 0.2rem;
    font-size: 0.18rem;
}