/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 评价样式 */
.evaluation {
    height: 100%; 
    box-sizing: border-box;
    padding: 0.55rem 0.15rem 0 0.15rem;
    border: 0.01rem solid #ccc;

}

.details {
    width: 100%;
    overflow: hidden;
    margin-top: 0.1rem;
}

.details h4 {
    font-weight: normal;
    font-size: 0.12rem;
    float: left;
}

.details span {
    font-weight: normal;
    font-size: 0.12rem;
    float: right;
}

.user ,
.comment ,
.image,
.other {
    width: 100%;
    margin-top: 0.1rem;
}

.user i {
    width: 0.3rem;
    height: 0.3rem;
    background-color: #66ccff;
    display: inline-block;
}

.user i img {
    display: block;
    width: 100%;
    height: 100%;
}

.user span {
    font-size: 0.12rem;
}

.comment span {
    font-size: 0.12rem;
}

.image img {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.1rem;
}

.other {
    margin-bottom: 0.1rem;
}

.other span {
    font-size: 0.12rem;
}

.other .awesome {
    float: right;
}

.other .awesome i {
    width: 0.16rem;
    height: 0.16rem;
    display: inline-block;
}

.other .awesome i img {
    width: 100%;
    display: block;
}

/* 追加评论样式 */
.evaluation .add {
    width: 100%;
    height: 100%;
    /*background-color: #f00;*/
    overflow: hidden;
    margin-top: 0.1rem;
}

.add p {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0.16rem;
    color: #999933;
    /*display: inline-block;*/
    /*width: 70%;*/
}

.add img {
    float: right;
    margin-top: 0.05rem;
    /*display: inline-block;*/
}

.evaluation .add_p {
    margin-top: 0.1rem;
    color: #000;
}