
body {
    background-color: #FFF;
}

/* 顶部样式 */
.top {
    width: 100%;
    height: 0.9rem;
    overflow: hidden;
}

.top img {
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.15rem;
    border-radius: 50%;
}

.top .name {
    float: left;
    margin-top: 0.2rem;
}

.top .name div {
    color: #999;
    font-size: 0.12rem;
}

.top .name div:nth-child(1) {
    color: #333;
    font-size: 0.16rem;
}

/* 评论样式 */
.Comment {
    width: 3.45rem;
    height: 3.8rem;
    margin: 0.15rem auto;
    padding: 0.15rem 0.15rem 0 0.15rem;
    background-color: #fff;
    border-radius: 0.053rem;
}

.star {
    text-align: center;
    margin-bottom: 0.15rem;
    position: relative;
}

.star span {
    position: absolute;
    top: 0;
    line-height: 0.26rem;
}

.star span:first-child {
    color: #333;
    font-size: 0.14rem;
    left: 0;
}

.star img {
    width: 0.175rem;
    height: 0.17rem;
    margin-left: 0.15rem;
    vertical-align: text-top;
}

.star span:last-child {
    color: #FF7223;
    font-size: 0.12rem;
    margin-left: 0.15rem;
}

.Comment textarea {
    border: none;
    width: 3.15rem;
    height: 1.5rem;
    font-size: 0.14rem;
    background-color: #F5F6F7;
}

.star_star {
    display: inline-block;
}




























