body {
    background-color: #f9f9f9;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    z-index: 40;
    height: 0.5rem;
    position: fixed;
    background-color: #fff;
}

.header .arrow {
    float: right;
    width: 0.3rem;
    height: 0.5rem;
    display: block;
}

.header .arrow .imgs {
    width: 0.145rem;
    height: 0.125rem;
    margin-top: 0.19rem;
}

.header .arrow .transmit {
    color: #000;
    margin-left: 1.35rem;
}

.header .arrows {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}

.arrows img {
    width: 0.1rem;
    height: 0.2rem;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
    padding: 0 0 0 0.15rem;
}

.header span {
    left: 50%;
    font-weight: 500;
    font-size: 0.14rem;
    position: absolute;
    line-height: 0.5rem;
    transform: translateX(-50%);
}

.header img {
    width: 50%;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
}

/* 内容 */
.content {
    letter-spacing: 0.02rem;
}

/* 轮播图 */
.mui-slider-group {
    width: 100%;
    height: 1.8rem;
}

#slider {
    width: 100%;
    height: 1.8rem;
}

#slider img {
    width: 100%;
    height: 100%;
}

/* 价格 */
.sold {
    z-index: -2;
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    position: relative;
    background-color: #F5F5F5;
}

.sold .money {
    top: 0;
    left: 0;
    float: left;
    position: absolute;
    margin-top: 0.03rem;
    margin-left: 0.19rem;
}

.sold .money .img-s {
    width: 0.2rem;
    left: 0.01rem;
    height: 0.18rem;
    bottom: 0.01rem;
    position: absolute;
}

.money div {
    color: #fff;
}

.money div span {
    font-size: 0.12rem;
}

.money div .moneys {
    font-weight: 700;
    font-size: 0.20rem;
}

.money p {
    margin: 0;
    color: #fff;
    width: 1.1rem;
    height: 0.2rem;
    font-size: 0.13rem;
    text-align: center;
    transform: scale(.9);
    line-height: 0.19rem;
    border-radius: 0.5rem;
    border: 0.01rem solid #fff;
}

.sold .out {
    float: right;
    height: 100%;
    color: #7D5A40;
    font-size: 0.12rem;
    line-height: 0.5rem;
    margin-right: 0.2rem;
}

.h4-s {
    height: 0.55rem;
    line-height: 0.5rem;
    padding-left: 0.195rem;
    border-bottom: 0.05rem solid #e6e6e6;
}

.sold .imgs {
    top: 0;
    left: 0;
    z-index: -1;
    height: 0.5rem;
    position: absolute;
}

/*
.sold {
    !*background-color: #0f0;*!
    border-bottom: 0.05rem solid #E6E6E6;
}

.sold .money {
    !*background-color: #0ff;*!
    overflow: hidden;
    font-size: 0.14rem;
    margin-top: 0.05rem;
    margin-bottom: 0.1rem;
    margin-left: 0.195rem;
}

.price {
    !*float: left;*!
    color: #666;
    !* margin-left: 0.195rem; *!
    font-size: 0.18rem;
    font-weight: 700;
}

.money .pieces {
    float: right;
    color: #A68C79;
    margin-right: 0.195rem;
}

.money .mend {
    margin-left: 0.195rem;
}

.sold h4 {
    font-size: 0.16rem;
    font-weight: 500;
    margin-left: 0.195rem;
}

.sold p {
    font-size: 0.12rem;
    margin: 0 0.195rem 0.05rem;
    color: #A68C79;
}

    !* 会员专享价 *!
.sold .member {
    margin-left: 0.195rem;
    color: #DB7931;
    font-weight: 600;
}
*/

/* 开通会员 */
.dredgeMember {
    height: 0.59rem;
    overflow: hidden;
    line-height: 0.5rem;
    border-bottom: 0.05rem solid #E6E6E6;
}

#back {
    color: #666666;
    font-size: 0.14rem;
}

.dredgeMember a {
    display: block;
}

.dredgeMember img {
    width: 0.25rem;
    height: 0.215rem;
    margin-right: 0.1rem;
    margin-left: 0.195rem;
}

.dredgeMember span {
    color: #DB7931;
    font-weight: 600;
    font-size: 0.16rem;
}

.dredgeMember div {
    float: right;
    color: #DB7931;
    font-weight: 600;
    font-size: 0.14rem;
    margin-right: 0.195rem;
}

/* 拼单 */
.grabOne {
    border-bottom: 0.05rem solid #E6E6E6;
}

.grabTwo .take {
    display: block;
    height: 0.35rem;
    font-size: 0.14rem;
    line-height: 0.35rem;
    padding-left: 0.195rem;
    border-bottom: 0.01rem solid #E6E6E6;
}

.grab {
    height: 0.45rem;
    line-height: 0.45rem;
}

.grab .name, .grab .number {
    font-size: 0.14rem;
    display: inline-block;
}

.grab .name {
    width: 12%;
    text-align: center;
}

.grab .number {
    width: 45%;
    color: #A68C79;
    text-align: center;
}

.grab .share {
    width: 17%;
    color: #fff;
    height: 0.24rem;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.24rem;
    display: inline-block;
    border-radius: 0.12rem;
    background-color: #7D5A40;
}

.grab img {
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 50%;
    margin: 0 0.14rem 0 0.195rem;
}

/* 底部样式 */
.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #f00;
    border-top: 0.01rem solid #E6E6E6;
}

.footer del {
    color: #999;
    display: block;
    height: 0.1rem;
    font-size: 0.14rem;
    line-height: 0.26rem;
}

.footer .footer-money {
    float: left;
    width: 25.3%;
    color: #7D5A40;
    height: 0.49rem;
    text-align: center;
    font-size: 0.18rem;
    line-height: 0.49rem;
    display: inline-block;
    background-color: #fff;
}

.footer .sponsor {
    float: left;
    width: 37.33%;
    height: 0.49rem;
    text-align: center;
    display: inline-block;
    background-color: #DB7931;
}

.sponsor span {
    color: #fff;
    display: block;
    text-align: center;
}

.sponsor .sponsor-span1 {
    font-size: 0.1rem;
    margin-top: 0.06rem;
}

.sponsor .sponsor-span2 {
    font-size: 0.14rem;
    margin-top: -0.05rem;
}

.footer .buy {
    float: left;
    color: #fff;
    width: 37.33%;
    height: 0.49rem;
    text-align: center;
    font-size: 0.14rem;
    line-height: 0.49rem;
    display: inline-block;
    background-color: #7D5A40;
}

.footers {
    bottom: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    border-top: 0.01rem solid #E6E6E6;
}

.footers .footers-money {
    width: 50%;
    float: left;
    color: #FF7223;
    height: 0.49rem;
    text-align: center;
    font-size: 0.18rem;
    line-height: 0.49rem;
    display: inline-block;
    background-color: #fff;
}

.footers del {
    color: #999;
    display: block;
    height: 0.1rem;
    font-size: 0.14rem;
    line-height: 0.26rem;
}

.footers .buy {
    width: 50%;
    color: #fff;
    float: left;
    height: 0.49rem;
    text-align: center;
    font-size: 0.14rem;
    line-height: 0.49rem;
    display: inline-block;
    background-color: #FF7223;
}

.data {
    overflow: hidden;
    max-height: 300rem;
    padding-bottom: 0.55rem;
}

.data img {
    width: 100%;
}

/* 蒙版样式 */
.masking {
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    background: rgba(0, 0, 0, 1);
    /* display: none; */
}

.binding {
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: auto;
    width: 2.88rem;
    position: fixed;
    height: 3.505rem;
    padding: 0 0.25rem;
    background-color: #fff;
    border-radius: 0.05rem;
    transform: translate(-50%,-50%);
    /* display: none; */
}

.binding .logo {
    left: 26%;
    top: -20%;
    width: 1.41rem;
    height: 1.41rem;
    position: absolute;
}

.binding p {
    color: #333;
    margin-bottom: 0;
    font-size: 0.21rem;
    text-align: center;
    margin-top: 0.765rem;
}


/* 手机号样式 */
.phones {
    width: 100%;
    overflow: hidden;
    margin-top: 0.25rem;
}

.phones img {
    float: left;
    width: 0.28rem;
    height: 0.28rem;
    margin-top: 0.05rem;
}

.phones input {
    margin: 0;
    float: left;
    width: 87.7%;
    border: none;
    border-radius: 0;
    font-size: 0.14rem;
    padding: 0 0 0 0.05rem;
    border-bottom: 0.01rem solid #ddd;
}


/* 验证码样式 */
.password {
    width: 100%;
    overflow: hidden;
    margin-top: 0.21rem;

}

.password .xhx {
    width: 87%;
    float: right;
    height: 0.41rem;
    border-bottom: 0.01rem solid #ddd;
}

.password img {
    float: left;
    width: 0.28rem;
    height: 0.28rem;
    margin-top: 0.05rem;
}

.password input {
    margin: 0;
    width: 50%;
    float: left;
    border: none;
    border-radius: 0;
    font-size: 0.14rem;
    padding: 0 0 0 0.05rem;
}

.password span {
    width: 37.6%;
    float: right;
    color: #FF7223;
    font-size: 0.14rem;
    text-align: center;
    margin-top: 0.09rem;
    display: inline-block;
    border-left: 0.01rem solid #FF7223;
}


/* 备注样式 */
.binding .remark {
    color: #999;
    height: 0.27rem;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.15rem;
    margin: 0.145rem 0 0 0;
}


/* 底部按钮样式 */
.binding .btn {
    color: #fff;
    width: 2.3rem;
    height: 0.45rem;
    text-align: center;
    margin: 0.2rem auto;
    font-size: 0.175rem;
    line-height: 0.45rem;
    border-radius: 0.5rem;
    background-color: #FF7223;
}


/* 取消按钮样式 */
.cancel {
    left: 45%;
    z-index: 2;
    bottom: -16%;
    position: absolute;
}

.cancel img {
    width: 0.345rem;
    height: 0.345rem;
}

.Switch {
    width: 100%;
    display: flex;
    margin-bottom: 0.02rem;
}

.Switch div {
    flex: 1;
    padding: 0 12%;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
}


.Switch div span {
    display: block;
    line-height: 0.44rem;
}

.Switch .Selected {
    color: #FF7223;
    border-bottom: 0.01rem solid #FF7223;
}


/* 评论样式 */
.discuss {
    /*background-color: #0ff;*/
}

.discuss .synthesis {
    width: 100%;
    height: 0.75rem;
    padding: 0 0.15rem;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 0.05rem solid #F6F6F6;
}

.synthesis .brown {
    height: 100%;
    font-size: 0.18rem;
    color: #FF7223;
    display: inline-block;
}

.synthesis .star {
    height: 100%;
    text-align: center;
    margin-left: 0.3rem;
    display: inline-block;
}

.synthesis .star div {
    height: 50%;
    font-size: 0.14rem;
    color: #333;
    text-align: right;
}

.synthesis .star div:nth-child(1)  {
    text-align: right;
    line-height: 0.4rem;
}

.synthesis .star img {
    line-height: 50%;
    width: 0.115rem;
    height: 0.11rem;
    vertical-align: ideographic;

}

.synthesis .good {
    display: inline-block;
    height: 100%;
    line-height: 0.7rem;
    vertical-align: bottom;
    font-size: 0.14rem;
    color: #333;
    margin-left: 0.45rem;
}

.synthesis .all {
    display: inline-block;
    height: 100%;
    line-height: 0.7rem;
    vertical-align: bottom;
    font-size: 0.14rem;
    color: #333;
    text-align: center;
    float: right;
}


ul {

    margin: 0 0 0.55rem 0;
}

ul .pinglun {
    width: 100%;
    /* height: 1.3rem; */
    background-color: #fff;
    overflow: hidden;
    padding: 0 0.15rem 0.15rem 0.15rem;
    border-bottom: 0.05rem solid #F6F6F6;
}

.img_S {
    position: relative;
    float: left;
    padding: 0.1rem 0.12rem 0 0;
}

.img_S img:nth-child(1) {
    width: 0.46rem;
    height: 0.46rem;
    border-radius: 0.05rem;
}

.img_S img:nth-child(2) {
    width: 0.125rem;
    height: 0.115rem;
    transform: rotate(35deg);
    position: absolute;
    right: 13%;
    top: 3%;
}

.name {
    float: left;
    margin-top: 0.15rem;
}

.name div {
    font-size: 0.16rem;
    color: #333;
}

.name span {
    font-size: 0.16rem;
    color: #999;
}

.name img {
    width: 0.125rem;
    height: 0.12rem;
    vertical-align: baseline;
}

.expense {
    float: right;
    text-align: right;
    margin-top: 0.15rem;
}

.expense div:nth-child(1) {
    font-size: 0.16rem;
    color: #333;
}

.expense div:nth-child(2) {
    font-size: 0.12rem;
    color: #999;
}

li p {
    width: 84%;
    float: left;
    font-size: 0.12rem;
    margin-top: 0.15rem;
    margin-left: 0.57rem;
}

.star_star {
    display: inline-block;
    vertical-align: text-bottom;
}

.star_star>ul li {
    margin-left: 0.05rem!important;
}

#Scores {
    height: 0.3rem;
    line-height: 0.3rem;
}

#Scores>ul li {
    margin-left: 0.05rem!important;

}

.all {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.quanwen {
    float: left;
    margin-left: 0.55rem;
    font-size: 0.12rem;
}

.zanwu {
    line-height: 0.4rem;
    font-size: 0.14rem;
    color: #999;
    text-align: center;
}

.weizhi {
    margin-right: 0.3rem;
}













