

body {
    background-color: #FAFAFA;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    box-shadow:0 0.01rem 0.04rem 0 #F2F2F2;
}

.header span {
    line-height: 0.5rem;
    font-size: 0.14rem;
    /*padding-right: 0.4rem;*/
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows .imgs {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header .imgs {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

.header .img-s {
    width: 0.18rem;
    height: 0.18rem;
    float: right;
    margin: 0.13rem 0.13rem 0 0;
}


/* 店铺店名 */
.firm {
    width: 100%;
    /*background-color: #0ff;*/
    margin-top: 0.5rem;
    overflow: hidden;
    border-bottom: 0.09rem solid #E6E6E6;
}

.firm img {
    float: left;
    width: 0.94rem;
    height: 0.94rem;
    margin: 0.14rem 0.17rem;
}

.firm .firm-s {
    display: inline-block;
    /*background-color: #f0f;*/
    float: left;
    margin-top: 0.14rem;
}

.firm-s h4 {
    font-size: 0.16rem;
}

.firm-s p {
    width: 2.15rem;
    height: 0.305rem;
    color: #7D7D7D;
    font-size: 0.12rem;
}

/*.firm-s .imgs {*/
    /*display: inline-block;*/
    /*background: #0f0;*/
/*}*/

.firm-s img {
    width: 0.12rem;
    height: 0.12rem;
    margin: 0.05rem 0.08rem 0 0;
}

.firm-s span {
    display: inline-block;
    font-size: 0.14rem;
    color: #7D5A40;
}



/* 底部列表 */
ul {
    text-align: center;
    /*background-color: #0ff;*/
    width: 100%;
    overflow: hidden;
    margin: 0;
}

ul li {
    width: 43.3%;
    height: 2.4rem;
    float: left;
    /*background-color: #A8A8A8;*/
    margin-top: 0.18rem;
    margin-left: 0.17rem;
}

ul li img {
    width: 1.6rem;
    height: 1.6rem;
}

ul li h4 {
    line-height: 0.2rem;
    font-size: 0.16rem;
    margin: 0.12rem 0;
    font-weight: 500;
    color: #454545;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

ul li p {
    font-size: 0.1rem;
    line-height: 0.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}












