* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body,
ul,
li {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-size: 12px;
  overflow: hidden;
  font-family: ubuntu, helvetica, arial;
}

#footer {
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 48px;
  background: #444;
  position: absolute;
  border-top: 1px solid #444;
}

#wrapper,
#wrapper1 {
  top: 0;
  z-index: 1;
  width: 100%;
  bottom: 48px;
  background: #ccc;
  overflow: hidden;
  position: absolute;
}

#wrapper {
  width: 22%;
}

#wrapper1 {
  right: 0;
  width: 78%;
  background-color: #fafafa;
}

#scroller,
#scroller1 {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul,
#scroller1 ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

/* 分类选中样式 */
.sort {
  background-color: #f9f9f9;
  border-left: 0.03rem solid #ff8c2b;
}

.ulList {
  float: left;
  height: 100%;
  list-style: none;
  overflow-y: scroll;
  text-align: center;
  font-size: 0.14rem;
  white-space: inherit;
  background-color: #e4e1e1;
}

.ulList li {
  padding: 0;
  width: 100%;
  height: 0.5rem;
  font-size: 0.14rem;
  line-height: 0.5rem;
}

.ulList li:last-child {
  margin-bottom: 0.6rem;
}

/* 列表详情 */
.ul_list {
  margin-bottom: 0.6rem;
  margin-left: 0.15rem !important;
}

.ul_list .list {
  width: 30%;
  float: left;
  margin-top: 0.18rem;
  display: inline-block;
}

.ul_list .list img {
  width: 0.84rem;
  border: 0 none;
  height: 0.84rem;
}

.ul_list .list p {
  width: 100%;
  color: #454545;
  height: 0.28rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.11rem;
  line-height: 0.15rem;
  margin: 0.05rem 0 0 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}


/* 底部样式 */
.bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  height: 0.49rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 -0.01rem 0.04rem 0 #DFDEDF;
}

.bottom li {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 0.05rem;
}

.bottom li a {
  height: 100%;
  display: block;
}

.bottom li p {
  margin: 0;
  color: #8f8f94;
  font-size: 0.12rem;
}

.bottom li .order {
  color: #D6541D;
}

.bottom li img {
  width: 0.23rem;
  height: 0.215rem;
}

.wu {
  width: 100%;
  color: #a1a1a1;
  margin-top: 0.2rem;
  font-size: 0.18rem;
  text-align: center;
}