
body {
    background-color: #FFF;
}

/* 顶部样式 */
.top {
    width: 100%;
    height: 0.9rem;
    overflow: hidden;
}

.top img {
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.15rem;
    border-radius: 50%;
}

.top .name {
    float: left;
    margin-top: 0.2rem;
}

.top .name div {
    color: #999;
    font-size: 0.12rem;
}

.top .name div:nth-child(1) {
    color: #333;
    font-size: 0.16rem;
}

/* 评论样式 */
.Comment {
    width: 3.45rem;
    height: 3.8rem;
    margin: 0.15rem auto;
    padding: 0 0.15rem;
    background-color: #fff;
    border-radius: 0.053rem;
}

.Comment h5 {
    margin: 0;
    width: 100%;
    color: #FF4F19;
    height: 0.785rem;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.785rem;
}

.star {
    text-align: center;
    position: relative;
    margin-bottom: 0.15rem;
    height: 0.22rem;
}

.star span:first-child {
    color: #333;
    left: 0;
    font-size: 0.14rem;
}

.star span {
    position: absolute;
    top: 0;
    line-height: 0.26rem;
}

.star img {
    width: 0.175rem;
    height: 0.17rem;
    margin-left: 0.15rem;
    vertical-align: text-top;
}

.star span:last-child {
    color: #FF7223;
    font-size: 0.12rem;
    margin-left: 0.15rem;
    right: 0;
}

.Comment textarea {
    border: none;
    width: 3.15rem;
    height: 1.5rem;
    font-size: 0.14rem;
    background-color: #F5F6F7;
}

/* 底部按钮样式 */
.btn {
    color: #fff;
    width: 3.45rem;
    height: 0.44rem;
    text-align: center;
    font-size: 0.18rem;
    line-height: 0.44rem;
    border-radius: 0.053rem;
    margin: 0.735rem auto 0 ;
    background-color: #FF7223;
}

.star_star {
    display: inline-block;
    /* position: fixed;
    left: 50%;
    transform: translateX(-41%);
    top: 1.7rem;
    width: 55%;
    z-index: 50; */
}
/* 
#cleaning {
    margin-top: 0.35rem;
}

#service {
    margin-top: 0.72rem;
} */
























