/* 顶部样式 */
.complete {
    width: 100%;
    height: 1rem;
    background: linear-gradient(90deg, rgba(253, 124, 62, 1) 0%, rgba(255, 197, 87, 1) 100%);
    text-align: center;
}

.complete div {
    height: 50%;
    color: #fff;
    font-size: 0.16rem;
}

.complete div:nth-child(1) {
    line-height: 0.7rem;
}

/* 产品样式 */
.product {
    width: 100%;
    height: 1.2rem;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 0.05rem;
}

.product img {
    width: 0.9rem;
    height: 0.9rem;
    float: left;
    margin: 0.15rem;
}

.product div {
    float: left;
    height: 100%;
    /*background-color: #EDDAFF;*/
}

.product div p {
    margin: 0;
    height: 50%;
    line-height: 0.6rem;
}

.product div p:nth-child(1) {
    color: #000;
    font-size: 0.14rem;
}

.product div p:nth-child(2) {
    color: #FF7223;
    font-size: 0.16rem;
}

.product span {
    width: 0.9rem;
    height: 0.44rem;
    float: right;
    /*background-color: #FFC0C0;*/
    text-align: center;
    line-height: 0.44rem;
    border: 0.01rem solid rgba(255, 114, 35, 1);
    border-radius: 0.05rem;
    color: #FF7223;
    margin: 0.38rem 0.15rem 0 0;
}


/* 姓名地址样式 */
.site {
    width: 100%;
    height: 0.675rem;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 0.01rem;
}

.site img {
    width: 0.165rem;
    height: 0.2rem;
    float: left;
    margin: 0.235rem 0.13rem 0.235rem 0.15rem;
}

.site .name {
    color: #999;
    height: 100%;
    float: left;
}

.site .name div {
    height: 50%;
}

.site .name div:nth-child(1) {
    font-size: 0.16rem;
    line-height: 0.4rem;
}

.site .name div:nth-child(1) span:nth-child(1) {
    font-size: 0.14rem;
    vertical-align: middle;
}

.site .name div:nth-child(1) span:nth-child(2) {
    font-size: 0.12rem;
    vertical-align: middle;
}

.site .name div:nth-child(2) {
    font-size: 0.14rem;
}


/* 信息样式 */
ul {
    margin: 0;
    width: 100%;
    padding:0.19rem 0.15rem;
    background-color: #FFF;
}

ul li {
    margin-bottom: 0.03rem;
    overflow: hidden;
}

ul .money span:nth-child(1) {
    color: #333;
}

ul .money span:nth-child(2) {
    color: #FF7223;
}

ul li span:nth-child(1) {
    float: left;
    color: #666;
    font-size: 0.14rem;
}

ul li span:nth-child(2) {
    float: right;
    color: #999;
    font-size: 0.14rem;
}


/* 联系服务人员 */
.personnel {
    width: 100%;
    height: 0.625rem;
    background-color: #fff;
    text-align: center;
    line-height: 0.625rem;
    margin-top: 0.5rem;
}

.personnel img {
    width: 0.22rem;
    height: 0.24rem;
}

.personnel span {
    font-size: 0.16rem;
    color: #999;
}












































