
body {
    background-color: #f5f5f5;
}

/* 顶部样式 */
.top {
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-bottom: 0.05rem solid #f5f5f5;
    position: fixed;
    top: 0;
    z-index: 10;
}

.top img {
    float: left;
    width: 0.09rem;
    height: 0.13rem;
    margin: 0.14rem 0 0 0.085rem;
}

.top span {
    height: 100%;
    line-height: 0.45rem;
    margin-right: 0.085rem;
}


/* 评论内容样式 */
.comment {
    width: 100%;
    padding: 0.15rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.05rem solid #f5f5f5;
}

.first {
    margin-top: 0.5rem;
}

.comment .img-s {
    float: left;
    position: relative;
    margin-right: 0.12rem;
}

.comment .img-s img:nth-child(1) {
    width: 0.46rem;
    height: 0.46rem;
    border-radius: 0.05rem;
}

.comment .img-s img:nth-child(2) {
    top: -16%;
    right: -15%;
    width: 0.125rem;
    height: 0.115rem;
    position: absolute;
    transform: rotate(30deg);
}

.comment .name {
    float: left;
}

.comment .name h5 {
    color: #333;
    font-size: 0.16rem;
}

.comment .name span {
    color: #999;
    font-size: 0.16rem;
}

.comment .name img {
    width: 0.135rem;
    height: 0.13rem;
    vertical-align: baseline;
}

.comment .date {
    float: right;
    text-align: right;
}

.comment .date div {
    color: #333;
}

.comment .date div:nth-child(1) {
    font-size: 0.16rem;
    color: #333;
}

.comment .date div:nth-child(2) {
    color: #999;
    font-size: 0.12rem;
}

.comment .character {
    color: #333;
    float: right;
    width: 2.87rem;
    font-size: 0.12rem;
    margin: 0.2rem 0 0 0;
}


.comment p {
    margin: 0;
    color: #333;
    width: 2.87rem;
    font-size: 0.12rem;
}

.all {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.comment p span {
    color: #999;
}

.star_star {
    display: inline-block;
    vertical-align: text-bottom;
}

.star_star ul li {
    margin-left: 0.05rem!important;
}


 




































