body {
    background-color: #F5F5F5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


ul {
    width: 100%;
    margin-top: 0.5rem;
    /*background-color: #0ff;*/
}

ul li {
    width: 100%;
    height: 0.6rem;
    border-bottom: 0.01rem solid #EFEFF4;
    background-color: #fff;
}

li span {
    display: inline-block;
    height: 100%;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.14rem;
}

li span {
    margin-left: 0.195rem;
}

li i {
    /*height: 100%;*/
    /*background: #0f0;*/
    display: inline-block;
    float: right;
    margin: 0.2rem 0.15rem 0 0.1rem;
}

li i img {
    width: 0.075rem;
    height: 0.135rem;
}

li .img-rw {
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    float: right;
    margin-top: 0.05rem;
}

.store {
    width: 100%;
    height: 0.6rem;
    border-bottom: 0.01rem solid #EFEFF4;
}

.store span {
    display: inline-block;
    height: 100%;
    /*background: #0ff;*/
}

.store input {
    float: right;
    /*margin-right: 0.2rem;*/
    width: 70%;
    color: #666;
    border: none;
    padding: 0 0.1rem 0 0;
    margin: 0 0.2rem 0 0;
    height: 100%;
    text-align: left;
    padding-left: 0.5rem;

}

.store textarea {
    float: right;
    /*margin-right: 0.2rem;*/
    /*height: 0.1rem;*/
    width: 56%;
    color: #666;
    border: none;
    padding: 0 0.1rem 0 0;
    margin: 0.1rem 0.2rem 0 0;
    height: 0.49rem;
    text-align: left;
    font-size: 0.12rem;
    line-height: 0.15rem;
    /*background: #999;*/
    /*padding-right: 0.1rem;*/
    /*margin-top: 0.2rem;*/

}

.sb {
    margin-top: 0.5rem;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    color: white;
}

.sb span {
    display: block;
    border-radius: 0.2rem;
    background-color: #dc753d;
    font-size: 0.16rem;
}












































