body {
    background-color: #F5F5F5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 粉丝总贡献 */
.contribute {
    width: 100%;
    height: 0.77rem;
    /*background-color: #0ff;*/
    margin-top: 0.5rem;
    text-align: center;
    line-height: 0.765rem;
    color: #999;
    background-color: #fff;
    border-bottom: 0.05rem solid #F5F5F5;
    font-size: 0.15rem;
}

.contribute span {
    color: #DC753D;
}


/* 中间列表 */
.contributes {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    background-color: #fff;
    border-bottom: 0.05rem solid #F5F5F5;
}

.contributes img {
    width: 0.185rem;
    height: 0.165rem;
    margin: 0.12rem 0.15rem;
}

.contributes span {
    font-size: 0.15rem;
    color: #333;
}


/* 底部粉丝列表 */
ul{
    width: 100%;
    margin: 0;
    /*background-color: #0ff;*/
}

ul li {
    width: 100%;
    height: 1.2rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 0.05rem solid #F5F5F5;
}

li img{
    width: 0.556rem;
    height: 0.56rem;
    border-radius: 50%;
    margin: 0.3rem 0.15rem 0 0.195rem;
    float: left;
}

li .sum {
    float: left;
    /*background: #0ff;*/
    height: 83%;
    line-height: 0.2rem;
    margin-top: 0.2rem;
}

.sum h4 {
    font-size: 0.15rem;
    color: #333;
    font-weight: 400;
}

.sum p {
    margin: 0;
    font-size: 0.12rem;
}

li .btn {
    /*background-color: #f0f;*/
    float: right;
    height: 100%;
    margin-right: 0.155rem;
    text-align: center;
}

.btn div {
    color: #999;
    font-size: 0.12rem;
    margin-top: 0.23rem;
}

.btn p {
    width: 0.8rem;
    height: 0.25rem;
    line-height: 0.25rem;
    font-size: 0.12rem;
    /*background-color: #0ff;*/
    margin:0.15rem auto;
    color: #DC753D;
    border: 0.01rem solid #DC753D;
    border-radius: 0.025rem;
}

.nu {
    text-align: center;
    color: #ccc;
    height: 0.4rem;
    line-height: 0.4rem;
}














