html,
body {
  width: 100%;
  height: 100%;
}

#app {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pullrefresh {
  background-color: #fff;
}

.list {
  overflow: hidden;
}

.list ul {
  box-sizing: border-box;
  padding: 0 0.15rem;
}

.list ul li {
  margin-top: 0.15rem;
  display: flex;
  height: 0.93rem;
  border-radius: 0.05rem;
  overflow: hidden;
}

.list ul li p {
  text-align: center;
  color: #aaaaaa;
  width: 100%;
}

.list ul li .left {
  flex: 1;
  background-color: #ff6f61;
  position: relative;
}

.list ul li .left p {
  margin: 0;
  line-height: 0.92rem;
  text-align: center;
  font-size: 0.2rem;
  color: white;
}

.list ul li .left:after {
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 100%;
  bottom: -0.05rem;
  right: -0.05rem;
  background: white;
}

.list ul li .left:before {
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 100%;
  top: -0.05rem;
  right: -0.05rem;
  background: white;
}

.list ul li .left span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #ff6f61;
  color: #fff;
  font-size: 0.12rem;
  padding: 0.1rem 0.2rem 0 0.2rem;
  transform: rotate(-45deg) translate(-23%, -68%);
}

.list ul li .right {
  flex: 2;
  border: 0.01rem solid #eeeeee;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 0.05rem;
  border-bottom-right-radius: 0.05rem;
}

.list ul li .right:after {
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 100%;
  bottom: -0.05rem;
  left: -0.05rem;
  background: white;
  border: 0.01rem solid #eeeeee;
}

.list ul li .right:before {
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 100%;
  top: -0.05rem;
  left: -0.05rem;
  background: white;
  border: 0.01rem solid #eeeeee;
}

.list ul li .right .label {
  margin: 0.15rem 0 0 0.15rem;
  line-height: 0.14rem;
  border: 0.01rem solid #ff7567;
  color: #ff7567;
  font-size: 0.1rem;
  padding: 0 0.06rem;
  display: inline-block;
  border-radius: 0.05rem;
}

.list ul li .right p {
  font-size: 0.12rem;
  color: #2b2b2b;
  margin: 0.09rem 0 0 0.15rem;
  line-height: 0.12rem;
}

.list ul li .right hr {
  margin: 0;
  margin-top: 0.1rem;
  width: 90%;
  border: none;
  border-top: 0.01rem solid #e4e4e4;
}

.list ul li .right div {
  font-size: 0.12rem;
  color: #aaaaaa;
  margin: 0.05rem 0 0 0.15rem;
}

.list ul li .right span {
  position: absolute;
  right: 0.13rem;
  bottom: 0.02rem;
  font-size: 0.1rem;
  border: 0.01rem solid #ff7567;
  color: #ff7567;
  line-height: 0.2rem;
  border-radius: 0.05rem;
  padding: 0 0.06rem;
}

.list .left.use {
  color: #e4e4e4;
  background-color: #e4e4e4;
}

.list .right .label.use {
  border: 0.01rem solid #e4e4e4;
  color: #e4e4e4;
}

.list .right p.use {
  color: #e4e4e4;
}

.list .right div.use {
  color: #e4e4e4;
}

.list .right span.use {
  color: #e4e4e4;
  border: 0.01rem solid #e4e4e4;
}
