
body {
    background-color: #F5F5F5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 提现额度样式 */
.limit {
    width: 100%;
    background-color: #fff;
    height: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
    /*border-bottom: 0.1rem solid #F7F7F7;*/
    border-top: 0.01rem solid #fff;
}

.limit p {
    color: #000;
    line-height: 0.25rem;
    margin: 0;
}

.limit div {
    font-size: 0.3rem;
    line-height: 0.4rem;
    color: #DB7931;
    margin-top: 0.295rem;
}


/* 收益、已提现样式 */
.onw {
    width: 100%;
    height: 0.81rem;
    /*background-color: #0ff;*/
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.onw .left {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    /*background-color: #FFD4DA;*/
    float: left;
}

.onw .left h5,.onw .right h5 {
    margin-top: 0.1rem;
    font-size: 0.14rem;
    color: #333;
}

.onw h5,.onw p {
     margin: 0;
     line-height: 0.2rem;
     color: #000;

 }

.onw p {
    margin: 0;
    line-height: 0.2rem;
    color: #666;
    font-size: 0.18rem;
}

.onw .right {
    display: inline-block;
    height: 100%;
    background-color: #fff;
    /*background-color: #FFFAB0;*/
    width: 50%;
    float: right;
}


/* 钱包、银行卡 */
ul {
    width: 100%;
    margin: 0;
    /*background-color: #FFB9D3;*/
}

ul li {
    width: 100%;
    height: 0.6rem;
    /*background-color: #C6FFCF;*/
    background-color: #fff;
    border-bottom: 0.05rem solid #F7F7F7;
}

ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

ul li:nth-child(3) {
    border: 0;
}

li strong {
    height: 100%;
    /*background-color: #FFF9AE;*/
    line-height: 0.6rem;
    margin-left: 0.2rem;
    font-size: 0.15rem;
    color: #333;
    font-weight: 400;
}

li img {
    float: right;
    width: 0.075rem;
    height: 0.135rem;
    margin-top: 0.25rem;
    margin-right: 0.2rem;
}

strong span {
    color: #DB7931;
}

/* 遮罩层 */
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 20;
    top: 0;
}

.pop {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53%;
    height: 2.25rem;
    background-color: #fff;
    border-radius: 0.1rem;
    box-sizing: border-box;
    padding: 0 0.16rem;
    z-index: 30;
}

.pop>div {
    box-sizing: border-box;
    padding: 0 0.4rem;
}

.pop>div>img {
    margin-top: -0.14rem;
    width: 0.87rem;
    height: 0.87rem;
    display: block;
}

.pop h5 {
    margin-top: 0.15rem;
    text-align: center;
    color: #333333;
    font-size: 0.16rem;
}

.pop span {
    color: #999999;
    font-size: 0.14rem;
    margin-top: 0.18rem;
    display: block;
    text-align: center;
}

.but {
    position: absolute; 
    bottom: 0.16rem;
    box-sizing: border-box;
    margin: 0 0.15rem;
    text-align: center;
    height: 0.3rem;
    line-height: 0.3rem;
    background-color: #DC753D;
    border-radius: 0.15rem;
    color: #fff;
    font-size: 0.14rem;
}


p {
    font-size: 0.12rem;
    text-align: center;
}



































