
body {
    background-color: #fff;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}



/* 明细列表 */
ul {
    width: 100%;
    margin-top: 0.5rem;
}

ul li {
    /*background-color: #BAFFE3;*/
    width: 100%;
    /* height: 1.3rem; */
    overflow: hidden;
    border-bottom: 0.05rem solid #F7F7F7;
}

li .img-s {
    width: 25%;
    float: left;
    /*background-color: #0ff;*/
    margin: 0;
}

li .img-s img {
    width: 0.55rem;
    height: 0.55rem;
    line-height: 0.55rem;
    border-radius: 50%;
    float: left;
    margin: 0.18rem  0 0 0.3rem;
}

li .meal {
    display: inline-block;
    /*background-color: #FFBCCB;*/
    float: left;
    /* height: 0.78rem; */
    /* margin-left: 0.195rem; */
    /* margin-top: 0.1rem; */
    width: 45%;
}

li .meal div {
    font-size: 0.12rem;
    line-height: 0.15rem;
}

li div h5 {
    font-size: 0.15rem;
    color: #000;
    margin: 0;
    line-height: 0.2rem;
    /*margin-bottom: 0.15rem;*/
}

li div p {
    font-size: 0.12rem;
    color: #999;
    margin: 0;
}

li .site {
    /*background: #0f0;*/
    width: 70%;
    font-size: 0.12rem;
    line-height: 0.15rem;
    float: left;
    margin-bottom: 0.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin-left: 0.94rem;
}

li .money {
    display: inline-block;
    /* float: right; */
    color: #DB7931;
    /* margin-right: 0.2rem; */
    margin-top: 0.3rem;
    font-size: 0.12rem;
    width: 25%;
    text-align: right;
    /*background: #0ff;*/
}

.zan {
    text-align: center;
    line-height: 0.72rem;
    color: #ccc;
}







































