
body {
    background-color: #F5F5F5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 提现申请 */
.apply {
    width: 100%;
    height: 1.4rem;
    /*background-color: #0ff;*/
    margin-top: 0.5rem;
    text-align: center;
    background-color: #fff;
    border-top: 0.01rem solid #fff;
    border-bottom: 0.05rem solid #F8F8F8;
}

.apply .applyFor {
    width: 100%;
    margin-top: 0.36rem;
    /*background-color: #FFC1C6;*/
}

.applyFor img {
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
}

.applyFor strong {
    font-size: 0.18rem;
    font-weight: 400;
    margin-left: 0.1rem;
}

.apply p {
    font-size: 0.14rem;
    color: #000;
    margin-top: 0.1rem;
}

/* 提现列表 */
ul {
    width: 100%;
    margin: 0;
    /*background-color: #0ff;*/
}

ul li {
    width: 100%;
    height: 0.55rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.05rem solid #F8F8F8;
}

ul li:nth-child(3) {
    border-bottom: 0 solid #fff;
}

li span {
    height: 100%;
    line-height: 0.5rem;
    display: inline-block;
    font-size: 0.14rem;
}

li span:nth-child(1) {
    /*background-color: #FCFEBB;*/
    float: left;
    margin-left: 0.195rem;
}

li span:nth-child(2) {
    /*background-color: #CAF2FE;*/
    float: right;
    margin-right: 0.195rem;
}

li .money {
    color: #DC753D;
}

li .money-s {
    color: #999;
}

li .wallet {
    font-size: 0.12rem;
}

/* 底部按钮 */
.btn {
    width: 100%;
    height: 0.4rem;
    /*background-color: #0ff;*/
    text-align: center;
    margin-top: 0.5rem;
}

.btn p {
    height: 100%;
    width: 3.2rem;
    margin: auto;
    line-height: 0.4rem;
    color: #fff;
    /*font-weight: 600;*/
    font-size: 0.15rem;
    background-color: #DC753D;
    border: 0.01rem solid #C1C1C1;
    border-radius: .18rem;
}










































