body {
    background-color: #fafafa;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 提现额度 */
.limit {
    width: 100%;
    height: 0.6rem;
    /*background-color: #0ff;*/
    margin-top: 0.5rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #F2F2F2;
}

.limit span {
    height: 100%;
    line-height: 0.6rem;
    font-size: 0.15rem;
    /*background-color: #f0f;*/
}

.limit span:nth-child(1) {
    float: left;
    color: #999;
    margin-left: 0.15rem;
}

.limit span:nth-child(2) {
    float: right;
    margin-right: 0.16rem;
}

/* 提现金额 */
.sum {
    width: 100%;
    height: 0.93rem;
    /*background-color: #0ff;*/
    border-top: 0.01rem solid #fff;
}

.sum div {
    /*margin-top: 0.22rem;*/
    color: #999;
    font-size: 0.15rem;
    /*margin-left: 0.15rem;*/
    background-color: #fff;
    padding: 0.22rem 0 0 0.15rem;
}

.sum span {
    font-size: 0.14rem;
    height: 0.56rem;
    display: inline-block;
    line-height: 0.56rem;
    margin-left: 0.16rem;
}

.sum input {
    width: 90%;
    height: 0.56rem;
    /*background-color: #0f0;*/
    border: 0 solid #fff;
    font-size: 0.36rem;
    border-bottom: 0.01rem solid #F2F2F2;
    margin: 0;
    padding: 0;
}


/* 全部提现 */
.all {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
}

.all span {
    height: 100%;
    line-height: 0.45rem;
}

.all span:nth-child(1) {
    float: left;
    font-size: 0.12rem;
    color: #999;
    margin-left: 0.15rem;
}

.all span:nth-child(2) {
    float: right;
    font-size: 0.12rem;
    color: #DB7931;
    margin-right: 0.15rem;
}



/* 底部按钮 */
.btn {
    width: 100%;
    height: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

.btn p {
    width: 3.45rem;
    height: 100%;
    line-height: 0.5rem;
    font-size: 0.15rem;
    color: #fefefe;
    background-color: #DC753D;
    margin: 0 auto;
    border-radius: 0.05rem;
}

/* 遮罩层 */
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;
    height: 3rem;
    background-color: #fff;
    border-radius: 0.1rem;
    box-sizing: border-box;
    padding: 0  0.26rem;
}

.pop>div {
    box-sizing: border-box;
    padding: 0 0.4rem;
}

.pop>div>img {
    margin-top: 0.36rem;
    width: 1.31rem;
    height: 1.21rem;
    display: block;
}

.pop span {
    color: #DC753D;
    font-size: 0.16rem;
    margin-top: 0.18rem;
    display: block;
    text-align: center;
}

.but {
    position: absolute; 
    bottom: 0.16rem;
    box-sizing: border-box;
    margin: 0 0.3rem;
    text-align: center;
    height: 0.3rem;
    line-height: 0.3rem;
    background-color: #DC753D;
    border-radius: 0.15rem;
    color: #fff;
    font-size: 0.14rem;
}