
body {
    background-color: #F5F5F5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 提现列表 */
ul {
    width: 100%;
    /*background-color: #0ff;*/
    margin: 0.5rem 0 0 0;
}

ul li {
    width: 100%;
    height: 0.6rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
}

li .frost {
    color: #f00;
}

li span {
    display: inline-block;
    height: 100%;
    font-size: 0.15rem;
    /*background-color: #0f0;*/
    line-height: 0.6rem;
}

li span:nth-child(1) {
    float: left;
    color: #999;
    margin-left: 0.195rem;
}

li span:nth-child(2) {
    width: 48%;
    float: right;
    text-align: left-25;
    /*margin-right: 0.195rem;*/
    /*padding: 0;*/
    /*margin: 0.1rem 0 0 0;*/
}

select {
    width: 60%;
    float: right;
    text-align: center;
    display: inline-block;
    height: 100%;
    font-size: 0.15rem;
    /*background-color: #0f0;*/
    line-height: 0.6rem;
    padding: 0;
    padding-left: 0.5rem;
    margin: 0;
}

li input:nth-child(2) {
    width: 62%;
    float: right;
    /*margin-right: 0.195rem;*/
    padding: 0;
    margin: 0.1rem 0 0 0;
    border: 0;
    font-size: 0.14rem;
}

ul li:nth-child(1) input,
ul li:nth-child(2) input,
ul li:nth-child(3) input,
ul li:nth-child(4) input,
ul li:nth-child(6) input {
    width: 48%;
}


/* 底部按钮 */
.btn {
    width: 100%;
    height: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

.btn p {
    width: 3.45rem;
    height: 100%;
    line-height: 0.5rem;
    font-size: 0.15rem;
    color: #fefefe;
    background-color: #DC753D;
    margin: 0 auto;
    border-radius: 0.05rem;
}

/* 遮罩层 */
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    z-index: 20;
}

.pop {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;
    height: 3rem;
    /*background-color: #fff;*/
    border-radius: 0.1rem;
    box-sizing: border-box;
    /*padding: 0 0.26rem;*/
    z-index: 30;
}

.pop div {
    width: 100%;
    height: 3rem;
    /*background-color: #f00;*/
}

.pop div img {
    width: 100%;
    height: 100%;
}

.pop strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.18rem;
}

.pop span {
    width: 2.275rem;
    height: 0.5rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
    top: 66%;
    left: 50%;
    color: #666;
    transform: translate(-50%, -50%);
    position: absolute;
}

.pop .but {
    position: absolute;
    width: 2.2rem;
    height: 0.415rem;
    text-align: center;
    line-height: 0.415rem;
    background-color: #DC753D;
    border-radius: 0.21rem;
    color: #fff;
    font-size: 0.14rem;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}






























