
body {
    background-color: #fff;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 提现列表 */
ul {
    width: 100%;
    /*background-color: #0ff;*/
    margin: 0.5rem 0 0 0;
}

ul li {
    width: 100%;
    height: 0.4rem;
    /*background-color: #FFEDBD;*/
    border-bottom: 0.01rem solid #F8F8F8;
}

li .frost {
    color: #f00;
}


li .money {
    color: #DC753D;
}

li .fz {
    font-size: 0.12rem;
}

li span {
    display: inline-block;
    height: 100%;
    /*background-color: #0f0;*/
    line-height: 0.4rem;
    color: #999;
    font-size: 0.14rem;
}

li span:nth-child(1) {
    float: left;
    margin-left: 0.195rem;
    color: #000;
}

li span:nth-child(2) {
    float: right;
    margin-right: 0.195rem;

}
































