
body {
    background-color: #fafafa;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 已邀样式 */
.invited {
    /*background-color: #0ff;*/
    width: 100%;
    height: 0.6rem;
    margin-top: 0.5rem;
    text-align: center;
    border-bottom: 0.1rem solid #F7F7F7;
}

.invited h5, .invited p {
    margin: 0;
    line-height: 0.25rem;
    color: #000;
}

/* 邀请、奖励 */
.invite {
    width: 100%;
    /*background-color: #0ff;*/
    overflow: hidden;
    border-bottom: 0.05rem solid #F7F7F7;
    margin: 0.5rem 0 0 0;
}

.invite li {
    text-align: center;
    float: left;
    width: 33.3%;
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.14rem;
    background-color: #fff;
}

.invite li span {
    color: #DB7931;
}


/* 列表人员 */
.staff {
    width: 100%;
    margin: 0;
}

.staff li {
    width: 100%;
    height: 0.65rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.05rem solid #F7F7F7;
}

.staff li img {
    float: left;
    width: 0.41rem;
    height: 0.41rem;
    margin: 0.095rem 0.125rem 0.095rem 0.15rem;
}

.staff li .name {
    height: 65%;
    float: left;
    /*background-color: #f0f;*/
    margin-top: 0.12rem;
}

.name div {
    font-size: 0.14rem;
    color: #333;
}

.name p {
    color: #999;
    font-size: 0.14rem;
    margin: 0;
}























