
body {
    background-color: #F5F5F5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 提现记录列表 */
ul {
    width: 100%;
    margin-top: 0.5rem;
}

ul li {
    width: 100%;
    height: 1.2rem;
    background: #fff;
    overflow: hidden;
    border-bottom: 0.05rem solid #F5F5F5;
}

li img {
    float: left;
    border-radius: 50%;
    width: 0.56rem;
    height: 0.56rem;
    margin: 0.295rem 0.1rem 0.295rem 0.15rem;
}

li .deposit {
    /*background-color: #FFEDA9;*/
    float: left;
    width: 51%;
    font-size: 0.12rem;
    /*margin-top: 0.1rem;*/
    margin: 0.1rem 0 0 0.2rem;
}

.deposit p {
    font-size: 0.14rem;
    color: #000;
}

.deposit div {
    color: #999;
    font-size: 0.12rem;
}

.deposit p span {
    font-size: 0.12rem;
    margin-left: 0.1rem;
    color: #666;
}


.deposit div:nth-child(3) span {
    color: #DC753D;
}

.deposit div:nth-child(4) span {
    color: #f00;
}

.deposit div:nth-child(4) a {
    color: #DC753D;
    text-decoration: underline;
}

li .btn {
    /*background-color: #FFA1BC;*/
    float: right;
    width: 21%;
    height: 0.25rem;
    line-height: 0.25rem;
    font-size: 0.12rem;
    text-align: center;
    border: 0.01rem solid #DC753D;
    color: #DC753D;
    border-radius: 0.025rem;
    margin: 0.45rem 0.15rem 0 0;
}


li .deposit div .pass {
    color: #137609;
}

li .deposit div .audit {
    color: #DC753D;
}

.nl {
    text-align: center;
    color: #ccc;
    font-size: 0.14rem;
    height: 0.4rem;
    line-height: 0.4rem;
}







































