
body {
    background-color: #fff;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #F7F7F7;
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 日期总收益 */
.earnings {
    width: 100%;
    height: 0.765rem;
    /*background-color: #0ff;*/
    margin-top: 0.5rem;
    border-top: 0.01rem solid #fff;
}

.earnings img {
    width: 0.135rem;
    height: 0.075rem;
    margin-left: 0.145rem;
    border-bottom: 0.01rem solid #F5F5F5;
}

.earnings input {
    font-size: 0.18rem;
    color: #000;
    border: none;
    width: 30%;
    padding: 0;

    /*background: #0f0;*/
    margin: 0.145rem;
    /*margin-left: 0.145rem;*/
    /*margin-top: ;*/
}

.earnings .period {
    /*background-color: #f0f;*/
    overflow: hidden;
}

.period div {
    display: inline-block;
    font-size: 0.15rem;
    color: #999;
}

.period div:nth-child(1) {
    float: left;
    margin-left: 0.145rem;
}

.period div:nth-child(2) {
    float: right;
    margin-right: 0.155rem;
}

.period div span {
    color: #DB7931;
}




/* 明细列表 */
ul {
    width: 100%;
}

ul li {
    /*background-color: #BAFFE3;*/
    width: 100%;
    height:  0.92rem;
    overflow: hidden;
    border-bottom: 0.01rem solid #F7F7F7;
}

li img {
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    float: left;
    margin: 0.25rem 0.155rem 0 0.3rem;
}

li div {
    display: inline-block;
    /*background-color: #FFBCCB;*/
    float: left;
    height: 0.78rem;
    /*margin-left: 0.195rem;*/
    margin-top: 0.14rem;
}

li div h5 {
    font-size: 0.15rem;
    color: #000;
    margin-bottom: 0.15rem;
}

li div .time {
    /*margin-top: 0.2rem;*/
}

li div p {
    font-size: 0.12rem;
    color: #999;
    margin: 0;
}

li .money {
    display: inline-block;
    /*background-color: #AAFF95;*/
    float: right;
    color: #DB7931;
    /*line-height: 0.8rem;*/
    margin-right: 0.2rem;
    /*font-weight: 600;*/
    font-size: 0.12rem;
}








































