body {
  background-color: #fff;
}

/* 顶部样式 */
/*
.header {
    position: relative;
    !*padding: 0.16rem 0.16rem 0 0.16rem;*!
    box-sizing: border-box;
}

.header .black {
    width: 100%;
    height: 1.24rem;
    background-color: #2A344B;
    !*border-radius: 0.09rem;*!
    !*box-shadow: 0 1px 6px 0 rgba(69,69,69,0.5);*!
}

.header .user {
    position: absolute;
    top: 0;
    width: 95%;
    height: 100%;
}
.header .icon {
    width: 35%;
    height: 100%;
    position: relative;
}

.header .user .crown {
    width: 0.225rem;
    height: 0.215rem;
    position: absolute;
    top: 0.2rem;
    right: 2.6rem;
}

.header .icon>img{
    width: 0.64rem;
    height: 0.64rem;
    display: block;
    background-color: #ccc; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.header .userNmae {
    width: 50%;
    !* height: 100%; *!
    line-height: 0.15rem;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%,-50%);
}

.header .userNmae>span {
    color: #ffffff;
    font-size: 0.16rem;
    margin-top: 0.16rem;
    display: block;
}
!* 实体内容 *!
.content {
    margin-top: 0.08rem;
    box-sizing: border-box;
    padding: 0 0.16rem;
}

!* 开通会员 *!
.dredgeMember {
    !*background-color: #0ff;*!
    border: 1px solid #DB7931;
    border-radius: 0.1rem;
    height: 0.45rem;
    line-height: 0.45rem;
    overflow: hidden;
}

.dredgeMember img {
    width: 0.25rem;
    height: 0.215rem;
    margin-left: 0.135rem;
    margin-right: 0.1rem;
}

.dredgeMember span {
    color: #666;
    font-size: 0.14rem;
    font-weight: 600;
}

.dredgeMember>a {
    display: block;
}

.dredgeMember .cadds {
    float: right;
    font-size: 0.15rem;
    color: #DB7931;
    margin-right: 0.38rem;
}

.dredgeMember .cadds img {
    width: 0.07rem;
    height: 0.12rem;
    !*margin: 0;*!
    !*margin-bottom: 0.05rem;*!
    margin: 0 0 0.05rem 0;
}

.content ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0 0.16rem;
    !* border: 0.01rem solid #ccc; *!
    !*box-shadow: 0.01rem 0.01rem 0.1rem #ccc;*!

}

.content ul li {
    height: 0.6rem;
    border-bottom: 1px solid rgb(230, 224, 224);
    font-size: 0.12rem;
}

.content ul li a {
    display: block;
}

.content ul li:last-child {
    border: none;
}

.content ul li span{
    line-height: 0.6rem;
    color: black;
}

.content ul li i{
    height: 0.18rem;
    width: 0.16rem;
    margin-right: 0.14rem;
    display: inline-block;
}

.content ul li i img {
    width: 100%;
    display: inline-block;
    margin-top: -0.02rem;
}

.content ul li .into {
    height: 0.11rem;
    width: 0.07rem;
    margin-right: 0.3rem;
    margin-top: 0.25rem;
}

.right {
    float: right;
}

!* 底部样式 *!
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.49rem;
    margin: 0;
    !*height: 0.49rem;*!
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 -0.01rem 0.04rem 0 #DFDEDF;
}

.bottom li {
    width: 25%;
    !*height: 0.45rem;*!
    !*line-height: 0.3rem;*!
    !*background-color: #93FF8B;*!
    float: left;
    text-align: center;
    margin-top: 0.05rem;
    !*font-size: 0.12rem;*!
}

.bottom li a {
    display: block;
    height: 100%;
}

.bottom li p {
    font-size: 0.12rem;
    margin: 0;
    color: #8f8f94;
    !*line-height: 0.1rem;*!
}

.bottom li .age {
    color: #D6541D;
}

!*
.bottom li:active .age {
    font-weight: 700;
}
*!

.bottom li img {
    width: 0.23rem;
    height: 0.215rem;
    !*margin-top: 0.075rem;*!
}
*/

/*.wu {
    width: 100%;
    text-align: center;
    color: #a1a1a1;
    margin-top: 0.2rem;
    font-size: 0.18rem;
}*/

/* 蒙版样式 */
.masking {
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  background: rgba(0, 0, 0, 1);
}

.binding {
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: auto;
  width: 2.5rem;
  height: 2.4rem;
  position: fixed;
  padding: 0 0.15rem;
  border-radius: 0.1rem;
  background-color: #fff;
  transform: translate(-50%,-50%);
}

.binding h4 {
  margin: 0;
  width: 100%;
  color: #F95901;
  height: 0.71rem;
  font-weight: 400;
  text-align: center;
  font-size: 0.22rem;
  line-height: 0.71rem;
}

.binding p {
  margin: 0;
  font-size: 0.14rem;
}

.binding .btn {
  left: 30%;
  bottom: 5%;
  color: #fff;
  margin: auto;
  width: 1.03rem;
  height: 0.34rem;
  font-size: 0.14rem;
  text-align: center;
  position: absolute;
  line-height: 0.34rem;
  border-radius: 0.17rem;
  background-color: #F95901;
}


/* 头部样式 */
.box {
  width: 100%;
  background: #fff;
}

.header {
  width: 100%;
  background: url('../../../../resource/png/iconic/tbbjt.png') repeat-x;
  background-size: 100% 71%;
}

.header .two {
  width: 100%;
  height: 1.2rem;
  overflow: hidden;
  padding: 0 0.15rem;
  background: url('../../../../resource/png/iconic/tbbjt.png') repeat-x;
  background-size: 100% 150%;
}

.two .imgS {
  float: left;
  height: 100%;
  width: 0.57rem;
  position: relative;
}

.imgS img:nth-child(1) {
  width: 0.57rem;
  height: 0.57rem;
  border-radius: 50%;
  margin-top: 0.295rem;
}

.imgS img:nth-child(2) {
  right: 0;
  bottom: 23%;
  width: 0.185rem;
  height: 0.23rem;
  position: absolute;
}

.two .name {
  width: 54%;
  float: left;
  height: 100%;
  margin: 0 0 0 0.115rem;
}

.name h4 {
  color: #fff;
  font-weight: 400;
  font-size: 0.17rem;
  margin-top: 0.5rem;
}

.name p {
  margin: 0;
  width: 100%;
  color: #fff;
  padding: 0 0.1rem;
  font-size: 0.12rem;
  line-height: 0.14rem;
  border-radius: 0.09rem;
  border: 0.01rem solid #fff;
}

.two .dredge {
  width: 21.8%;
  height: 100%;
  float: right;
  color: #ff7223;
  font-size: 0.14rem;
  text-align: center;
}

.two .dredge a {
  color: #ff7223;
  font-size: 0.14rem;
}

.dredge div {
  width: 100%;
  height: 0.25rem;
  margin-top: 0.445rem;
  line-height: 0.26rem;
  background-color: #fff;
  border-radius: 0.125rem;
}

/* 红包样式 */
.redPacket {
  width: 92%;
  margin: auto;
  overflow: hidden;
  height: 1.645rem;
  border-radius: 0.1rem;
  background-color: #fff;
  box-shadow:0 0 0.075rem 0 rgba(51,51,51,0.3);
}

.redPacket .left {
  float: left;
  width: 29.8%;
  height: 1.355rem;
  position: relative;
  margin: 0.14rem 0 0 0.17rem;
}

.redPacket .left h3 {
  width: 0.85rem;
  position: relative;
  top: -1.3rem;
  left: 0.08rem;
  font-size: 0.12rem;
  line-height: 0.15rem;
  color: #825617;
  display: block;
  text-align: center;
  font-weight: 400;
}

.redPacket .left span {
  width: 0.85rem;
  position: relative;
  top: -1.3rem;
  left: 0.08rem;
  font-size: 0.12rem;
  line-height: 0.15rem;
  color: #d59951;
  display: block;
  text-align: center;
}

.redPacket .left .Demolition {
  top: -0.7rem;
  color: #fce7b2;
}

.left img:nth-child(1) {
  width: 100%;
  height: 100%;
}

.left img:nth-child(2) {
  left: 0.35rem;
  width: 0.345rem;
  bottom: 0.28rem;
  height: 0.345rem;
  position: absolute;
}

.right {
  width: 65.1%;
  height: 100%;
  float: right;
}

.right ul {
  overflow: hidden;
  margin: 0.14rem 0 0 0;
}

.right ul li {
  width: 50%;
  float: left;
  text-align: center;
}

.right ul li:nth-child(1) {
  border-right: 0.01rem solid #e5e5e5;
}

.right ul li p {
  color: #999;
  font-size: 0.15rem;
  margin-bottom: 0.12rem;
}

.right ul li span {
  color: #ff7223;
  font-size: 0.2rem;
}

.right .record {
  width: 100%;
  color: #999;
  display: block;
  font-size: 0.12rem;
  text-align: center;
}

.right .join {
  color: #999;
  font-size: 0.12rem;
  line-height: 0.24rem;
  margin: 0.13rem 0 0 0.2rem;
}

.right .join div:nth-child(3) {
  overflow: hidden;
}

.right .join a {
  width: 36%;
  float: right;
  color: #F95901;
  display: inline-block;
  text-decoration: underline;
}


/* 小哥豆记录 */
.laddieRecord {
  width: 92%;
  margin: auto;
  overflow: hidden;
  height: 0.995rem;
  padding: 0 0.15rem;
  border-radius: 0.1rem;
  background-color: #fff;
  box-shadow: 0 0 0.12rem 0 rgba(101, 176, 249, 0.41);
}

.laddieRecord .usable {
  width: 30%;
  float: left;
  height: 100%;
}

.usable div:nth-child(1) {
  color: #ff7223;
  font-size: 0.2rem;
  margin-top: 0.3rem;
}

.usable div:nth-child(1) span {
  color: #ff7223;
  font-size: 0.12rem;
}

.usable div:nth-child(2) {
  color: #ff7223;
  font-size: 0.12rem;
}

.laddieRecord .xgRecord {
  color: #999;
  height: 100%;
  float: right;
  font-size: 0.15rem;
  line-height: 0.995rem;
}

/* 小店、地址、订单、设置样式 */
.content ul {
  margin: 0;
  padding: 0 0.16rem;
  box-sizing: border-box;
}

.content ul li {
  height: 0.48rem;
  font-size: 0.12rem;
  border-bottom: 1px solid rgb(230, 224, 224);
}

.content ul li a {
  
}

.content ul li .filling {
  display: block;
}

.content ul li span {
  color: #666;
  font-size: 0.14rem;
  line-height: 0.5rem;
  margin-left: 0.14rem;
}

.content ul li i {
  width: 0.2rem;
  height: 0.2rem;
  display: inline-block;
}

.content ul li i img {
  width: 100%;
  margin-top: -0.02rem;
  display: inline-block;
}

.content ul li .into {
  float: right;
  width: 0.07rem;
  height: 0.11rem;
  margin-top: 0.19rem;
}

.right {
  float: right;
}

.right ul li p img {
  width: 0.165rem;
  height: 0.165rem;
}


/* 注销按钮样式 */
.btn {
  color: #fff;
  width: 3.45rem;
  height: 0.44rem;
  font-size: 0.15rem;
  text-align: center;
  line-height: 0.44rem;
  border-radius: 0.05rem;
  background-color: #FF7223;
  margin: 0.3rem auto 1rem auto;
}


/* 底部按钮 */
.bottom {
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 0.49rem;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 -0.01rem 0.04rem 0 #dfdedf;
}

.bottom li {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 0.05rem;
}

.bottom li a {
  height: 100%;
  display: block;
}

.bottom li p {
  margin: 0;
  color: #8f8f94;
  font-size: 0.12rem;
}

.bottom li .age {
  color: #d6541d;
}

.bottom li:active .age {
  font-weight: 700;
}

.bottom li img {
  width: 0.23rem;
  height: 0.215rem;
}
