body {
    margin: 0;
    padding: 0;
    /* font-size: 100px; */
    background-color: #fff;
}

/* 提示框的样式 */
.registersNoe {
    /*background-color: #0ff;*/
    height: 5.96rem;
    position: relative;
}

.prompt {
    /* background-color: #44eeff; */
    color: #a2a2a2;
    font-size: 0.14rem;
    line-height: 0.25rem;
    border-radius: 0.05rem;
    text-align: center;
    display: none;
    font-weight: 700;
}

span {
    font-size: 0.14rem;
    line-height: 0.32rem;
    text-align: right;
}

.spacing {
    letter-spacing: 0.03rem;
}

.div_input {
    height: 0.69rem;
    line-height: 0.6rem;
    padding-bottom: 0.1rem;
    /*background-color: #0FF;*/
    border-bottom: 0.09rem solid #E6E6E6;
}

.div_input .sir {
    /*background-color: #f00;*/
    display: inline-block;
    float: left;
    /*margin-top: 0.18rem;*/
    /*margin-left: 0.54rem;*/
    margin: 0.18rem 0 0 0.54rem;
}

.sir img {
    width: 0.94rem;
    height: 0.24rem;
}

.div_input .lady {
    /*background-color: #f0f;*/
    display: inline-block;
    float: right;
    margin: 0.18rem 0.4rem 0 0;
}

.lady img {
    width: 0.94rem;
    height: 0.24rem;
}

.header {
    width: 100%;
    height: 1.49rem;
    line-height: 1.49rem;
    text-align: center;
    /*background-color: #ccc;*/
    /*margin-bottom: 0.6rem;*/
}


.compellation img {
    width: 0.16rem;
    height: 0.16rem;
    float: left;
    margin-left: 0.27rem;
    margin-top: 0.1rem;
}

.compellation input {
    margin: 0;
    border: none;
    border-bottom: 0.01rem solid #E6E6E6;
    /* color: #A6A6A6; */
    font-size: 0.14rem;
    margin-left: 0.11rem;
}


/* 地址 区域 */
.compellations {
    /*background-color: #0ff;*/
    height: 0.4rem;
    position: relative;
}

.compellations img {
    width: 0.135rem;
    height: 0.16rem;
    float: left;
    margin-left: 0.27rem;
    margin-top: 0.1rem;
}

.compellations input {
    /*margin: 0;*/
    border: none;
    border-bottom: 0.01rem solid #E6E6E6;
    /* color: #A6A6A6; */
    font-size: 0.14rem;
    /*margin-left: 0.11rem;*/
    margin: 0 0 0 0.11rem;
}

.compellations select {
    display: inline-block;
    position: absolute;
    right: 0.4rem;
    width: 1rem;
    /*background-color: #f00;*/
    margin: 0;
    padding: 0.09rem 0.2rem;
    /*border-bottom: 0.1rem;*/
}

.compellations .img-s {
    position: absolute;
    width:  0.135rem;
    height:0.075rem;
    top: 0.05rem;
    right: 0.5rem;
}


/* 手机 */
.compellation-s img {
    width: 0.09rem;
    height: 0.16rem;
    float: left;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}

.compellation-s input {
    border: none;
    border-bottom: 0.01rem solid #E6E6E6;
    /* color: #A6A6A6; */
    font-size: 0.14rem;
    margin: 0 0 0 0.15rem;
}

.compellation-s {
    position: relative;
    /*background: #f00;*/
    overflow: hidden;
    width: 100%;
}

.compellation-s span {
    width: 1.09rem;
    height: 0.25rem;
    line-height: 0.22rem;
    position: absolute;
    border: 0.01rem solid #262626;
    color: #262626;
    right: 0.5rem;
    top: 0.085rem;
    font-size: 0.12rem;
    text-align: center;
    border-radius: 0.02rem;
}


/* 验证码 */
.compellationss img {
    width: 0.16rem;
    height: 0.11rem;
    float: left;
    margin-left: 0.27rem;
    margin-top: 0.15rem;
}

.compellationss input {
    /*margin: 0;*/
    border: none;
    border-bottom: 0.01rem solid #E6E6E6;
    /* color: #A6A6A6; */
    font-size: 0.14rem;
    /*margin-left: 0.11rem;*/
    margin: 0 0 0 0.11rem;
}



/*  注册按钮 */
.button {
    width: 100%;
    /*background-color: #0ff;*/
    position: absolute;
    bottom: 0;
    text-align: center;
}

.button span {
    width: 3.2rem;
    height: 0.36rem;
    text-align: center;
    display: inline-block;
    background: #7D5A40;
    color: #fff;
    border-radius: 0.18rem;
    font-size: 0.14rem;
}
























