
/* 头部 */
.header {
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    font-size: 2.18rem;
    /*font-weight: 600;*/
    text-align: center;
    background-color: #7D5A42;
    color: #fff;
}



/* 账号 密码 */
form {
    margin-top: 1rem;
    height: 100%;
    /*background: #f00;*/
}


/* 底部按钮 */
.btn {
    width: 77%;
    border-radius: 2.16rem;
    background-color: #7D5A40;
    color: #fff;
    border: none;
    margin: 4rem;
    /*margin-top: 2rem;*/
}
























