body {
  background-color: #f5f5f5;
}

/* 头部样式 */
.header {
  height: 0.5rem;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  text-align: center;
  /*border-bottom: 0.05rem solid #F7F7F7;*/
}

.header strong {
  line-height: 0.5rem;
  padding-right: 0.4rem;
  font-size: 0.14rem;
}

.header .arrows {
  display: inline-block;
  height: 0.5rem;
  float: left;
  width: 0.5rem;
}

.arrows img {
  display: block;
  width: 0.1rem;
  height: 0.2rem;
  box-sizing: border-box;
  margin-top: 25%;
  padding: 0 0 0 0.15rem;
}

.header img {
  display: block;
  width: 50%;
  box-sizing: border-box;
  margin-top: 25%;
}

/* 顶部头像样式 */
.big {
  width: 100%;
  height: 2.55rem;
  background-color: #f5f5f5;
  margin-top: 0.5rem;
  position: relative;
}

.big .gray {
  width: 100%;
  height: 0.6rem;
  background-color: #e0e0e0;
}

.big .top {
  width: 3.45rem;
  /*height: 1.43rem;*/
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
  box-shadow: 0 0.02rem 0.05rem 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0.1rem;
  left: 0.15rem;
  border-radius: 0.05rem;
}

.top .name {
  width: 100%;
  height: 0.7rem;
  /*background: #0ff;*/
  overflow: hidden;
}

.name img {
  float: left;
  width: 0.42rem;
  height: 0.42rem;
  margin: 0.15rem 0.15rem 0.2rem 0.15rem;
  border-radius: 50%;
}

.name span {
  float: left;
  height: 100%;
  line-height: 0.8rem;
  font-size: 0.14rem;
}

.top .three {
  height: 0.3rem;
  line-height: 0.3rem;
  /*background-color: #0f0;*/
  font-size: 0.14rem;
  color: #999;
  padding-left: 0.15rem;
}

.three span {
  color: #db7931;
}

.top .four {
  height: 0.3rem;
  line-height: 0.3rem;
  /*background-color: #0f0;*/
  font-size: 0.14rem;
  color: #999;
  padding-left: 0.15rem;
  overflow: hidden;
}

.four div:nth-child(1) {
  float: left;
}

.four div:nth-child(2) {
  float: right;
  margin-right: 0.15rem;
}

.four div span {
  color: #db7931;
}

/* 提现、明细、粉丝、店铺样式 */
ul {
  width: 100%;
  height: 0.86rem;
  /*background-color: #F0DAFF;*/
  margin: 0;
}

ul li {
  float: left;
  width: 25%;
  height: 0.865rem;
  line-height: 0.38rem;
  /*background-color: #BFFFF0;*/
  text-align: center;
  margin-top: 0.1rem;
}

ul li a {
  display: block;
}

li img {
  width: 0.285rem;
  height: 0.265rem;
}

li p {
  margin: 0;
  color: #333;
}

/* 今日、昨日、近七 */
.earnings {
  margin: 0;
  width: 100%;
  height: 0.43rem;
  background: #fff;
  overflow: hidden;
  border-bottom: 0.01rem solid #f5f5f5;
}

.earnings li {
  width: 33.3%;
  height: 100%;
  line-height: 0.43rem;
  font-size: 0.14rem;
  /*background-color: #FFACFC;*/
  color: #999;
  margin: 0;
  padding: 0 0.25rem;
  float: left;
}

.earnings .jstree {
  border-bottom: 0.02rem solid #db7931;
  color: #db7931;
}

/* 保洁列表 */
.keeping {
  margin: 0;
  width: 100%;
  background-color: #fff;
}

.keeping li {
  width: 100%;
  height: 0.92rem;
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  border-bottom: 0.01rem solid #f5f5f5;
  font-size: 0.14rem;
  color: #ccc;
}

.keeping li img {
  float: left;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 50%;
  margin: 0.25rem 0.155rem 0.25rem 0.3rem;
}

.keeping .clean {
  display: inline-block;
  float: left;
  /*background-color: #FF918B;*/
  line-height: 0.15rem;
  width: 28%;
  height: 100%;
  overflow: hidden;
}

.clean h4 {
  font-size: 0.15rem;
  font-weight: 400;
  margin: 0.2rem 0 0.1rem 0;
  text-align: left;
  color: black;
}

.clean p {
  font-size: 0.12rem;
  margin-bottom: 0.05rem;
  color: #999;
  float: left;
}

.keeping li .money {
  float: right;
  font-size: 0.12rem;
  /*background-color: #D8FFE1;*/
  height: 100%;
  line-height: 0.55rem;
  color: #db7931;
  margin-right: 0.285rem;
}

.mui-preview-image.mui-fullscreen {
  position: fixed;
  z-index: 20;
  /* background-color: #000; */
}
.mui-preview-header,
.mui-preview-footer {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
}
.mui-preview-header {
  height: 44px;
  top: 0;
}
.mui-preview-footer {
  height: 50px;
  bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
  display: block;
  line-height: 25px;
  color: #fff;
  text-align: center;
  margin: 15px auto 4;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  font-size: 16px;
}
.mui-preview-image {
  display: none;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
  background: none;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
  display: none;
}
.mui-zoom-scroller {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
.mui-zoom {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
  width: 80%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0.1rem;
  background-color: #fff;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
  width: 100%;
}
.mui-android-4-1
  .mui-slider.mui-preview-image
  .mui-slider-group
  .mui-slider-item {
  display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
  display: table-cell;
  vertical-align: middle;
}
.mui-preview-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.mui-preview-loading.mui-active {
  display: block;
}
.mui-preview-loading .mui-spinner-white {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  height: 50px;
  width: 50px;
}
.mui-preview-image img.mui-transitioning {
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
p img {
  max-width: 100%;
  height: auto;
}

.mui-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.7rem;
  height: 0.7rem;
  box-sizing: border-box;
  padding: 0.1rem;
  background-color: #fff;
}

.mui-content img {
  width: 0.42rem;
}
