<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="/admin/shopuser/user/edit/ids/{$data.id}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">员工编号:</label>
        <div class="col-xs-12 col-sm-4">
            <strong>{$data.cid}</strong>
            <input type="hidden" name="row[id]" value="{$data.id}" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 员工照片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" data-msg="请上传员工照片" class="form-control" size="50" name="row[pic]" type="hidden" value="{$data.pic?:'/assets/img/avatar.png'}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar">
                <li class="col-xs-3"><a href="{$data.pic?:'/assets/img/avatar.png'}" data-url="/assets/img/avatar.png" target="_blank" class="thumbnail"><img src="{$data.pic?:'/assets/img/avatar.png'}" class="img-responsive"></a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">* 员工姓名:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$data.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">* 岗位:</label>
        <div class="col-xs-12 col-sm-2">
            {$works}
        </div>
    </div>
    <div class="form-group">
        <label for="c-cid" class="control-label col-xs-12 col-sm-2">身份证号:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-cid" data-rule="digits" class="form-control" name="row[cards]" type="text" value="{$data.cards}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">* 手机号码:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-phone" data-rule="required digits" class="form-control" name="row[phone]" type="text" value="{$data.phone}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">注册时间:</label>
        <div class="col-xs-12 col-sm-4">
            {$data.create_time|date="Y-m-d H:i:s",###}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" onclick="history.back();" class="btn btn-default btn-embossed"> 取 消 </button>
            <button type="submit"  style="margin-left: 1em" class="btn btn-success btn-embossed"> 保 存 </button>
        </div>
    </div>
</form>
