<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
    <!-- <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/css/LCalendar.css?{$Think.config.fastadmin['v_api']}" /> -->
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/aunt/user/particulars.css?{$Think.config.fastadmin['v_api']}" />
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <!-- <script
        src="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/js/LCalendar.js?{$Think.config.fastadmin['v_api']}"></script> -->
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <span>订单信息</span>
        </div>

        <!-- 进度条 -->
        <div class="progress">
            <div class="gray"></div>
            <ul>
                <li class="Bar">
                    <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/ddjd.png" />
                    <p>已预约</p>
                </li>
                <li :class="order.is_ask!=0?'Bar':''">
                    <img v-if="order.is_ask!=0" class="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/qjxz.png" />
                    <img v-else class="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/shoudao.jpg" />
                    <p>上门并服务</p>
                </li>
                <li :class="order.is_ask!=0&&order.status==1||order.status==4?'Bar':''">
                    <img v-if="order.is_ask!=0&&order.status==1||order.status==4" class="imgs"
                        src="{$Think.const.PUBLIC_RES}/png/aunt/gxwcxz.png" />
                    <img v-else class="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/gxwc.png" />
                    <p>服务完成</p>
                </li>
                <li>
                    <img v-if="order.status==4" class="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/jsxz.png" />
                    <img v-else class="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/js.png" />
                    <p>结束</p>
                </li>
            </ul>
        </div>

        <!-- 客户信息 -->
        <h5>客户信息</h5>
        <div class="client">
            <div class="relation">
                <div class="left">
                    <div v-if="order.order!=null" v-cloak>客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                        {{ order.order.nickname }}</div>
                    <div v-cloak>手机号码 : ***</div>
                    <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 : {{ order.region_name }}</div>
                </div>
                <a v-if="order.mobile_status==0&&order.status!=4" :href="'tel:'+order.order.mobile"
                    class="right">联系用户</a>
                <a v-if="order.mobile_status==1&&order.status!=4" :href="'tel:'+order.mobile" class="right">联系用户</a>
            </div>
            <div class="site" v-cloak>
                详情地址 : {{ order.address }}
            </div>
        </div>

        <!-- 订单信息 -->
        <h5>订单信息</h5>
        <div class="project">
            <div v-cloak class="everyday">服务项目 : {{ order.card.name }}</div>
            <div v-cloak>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量 : {{ order.order.num }}</div>
            <div v-cloak>下单时间 : {{ formatDateTime(Number(order.create_time*1000)).time }}</div>
            <div v-cloak v-if="order.temp">预约时间 : {{ order.temp.d_data + ' ' + order.temp.d_time }}</div>
            <div v-cloak>订单编号 : {{ order.order.snorder }}</div>
            <div v-cloak v-if="order.is_ask!=0">上门时间 : {{ formatDateTime(Number(order.appoint_start*1000)).time }}</div>
            <div v-cloak>用户备注 : {{ order.note }}</div>
            <div v-cloak v-if="order.usernote != ''">改约备注 : {{ order.usernote }}</div>
        </div>

        <!-- 付款信息 -->
        <h5>付款信息</h5>
        <div class="project">
            <div v-cloak>订单价格 : ￥{{ JSON.parse(order.order.goods_msg).commonprice }}</div>
            <div v-if="order.bean" v-cloak>抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 : ￥{{ order.bean }} (
                {{ order.bean }}小哥豆 )</div>
            <div v-else v-cloak>抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 : ￥0 ( 0小哥豆 )</div>
            <div v-cloak>追加金额 : ￥{{ append1(order.extrorder) }}</div>
            <div v-cloak>实&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付 : ￥{{ append(order) }}</div>
        </div>

        <!-- 状态1 -->
        <!-- 定时间、联系失败 -->
        <!-- <div v-show="order.is_ask==0" class="No-fault">您还剩3/3次可无责放弃订单</div> -->
        <div v-show="order.is_ask==0" class="btn">
            <div @tap="choose=1">确认上门时间</div>
            <div @tap='change' v-if="order.is_errnotice==0">联系失败</div>
            <div v-else-if="order.is_errnotice!=0">已通知用户</div>
        </div>

        <!-- 状态2 -->
        <div v-show="order.is_ask!=0&&order.status==0" class="No-fault">在到达客户家后,请点击【已到达开始】开始服务</div>
        <div v-show="order.is_ask!=0&&order.status==0" class="btn">
            <div @tap='action_now'>已到达开始服务</div>
            <div v-if="order.is_ask==1" @tap='change'>改约</div>
            <div v-else-if="order.is_ask!=1">已改约请服务</div>
        </div>


        <!-- 状态3 -->
        <div v-show="order.is_ask!=0&&order.status==1" class="No-fault">服务中...</div>
        <div v-show="order.is_ask!=0&&order.status==1" class="btnS" @tap="stop_now">完成服务</div>

        <!-- 状态4 -->
        <!-- <div v-if="order.status==4" class="No-fault">服务已完成</div>
        <div v-if="order.status==4" class="No-fault" v-cloak>
            订单完成时间：{{  formatDateTime(Number(order.fu_start*1000)).time }}
        </div> -->
        <div class="bott" v-if="order.status==4">
            <p class="prompt">
                服务已完成，完成时间：{{  formatDateTime(Number(order.fu_end*1000)).time }}，请填写下面备注并将服务确认单拍照上传：
            </p>
            <div class="remark">
                <span>服务完成备注</span>
                <span class="status" v-if="fulfill.is_back==1"
                    @tap="fulfill.seenow.zong=1;fulfill.seenow.back=1;document.getElementsByTagName('body')[0].style = 'position: fixed;top: 0;left: 0;width: 100%;height: 100%;'">已填写</span>
                <span class="status"
                    @tap="fulfill.bomb=1;document.getElementsByTagName('body')[0].style = 'position: fixed;top: 0;left: 0;width: 100%;height: 100%;'"
                    v-else>点击填写></span>
            </div>
            <div class="remark">
                <span>服务确认单照片</span>
                <span class="status" v-if="fulfill.is_pic==1"
                    @tap="fulfill.seenow.zong=1;fulfill.seenow.pic=1;document.getElementsByTagName('body')[0].style = 'position: fixed;top: 0;left: 0;width: 100%;height: 100%;'">已上传</span>
                <span class="status" v-else @tap='Upload'>点击上传></span>
            </div>

            <!-- 评论 -->
            <div v-if=" order.assess">
                <div v-if="order.status==4&&order.assess!=''&&order.assess[0].status==1" class="comment">
                    <div class="title">
                        订单评价
                    </div>
                    <div class="aspect">
                        <div>
                            <span>综合评分 : </span>
                            <span v-cloak>{{ order.assess[0].avg_assess }}</span>
                        </div>
                        <div>
                            <span>评价文字 : </span>
                            <span v-cloak>{{ order.assess[0].detail }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 放弃订单 -->
        <a v-if="order.status!=4" href="tel:400-8185-088" class="abandon">放弃订单</a>

        <!-- 遮挡板 -->
        <div class="choose" style="display: none" v-show="choose==1||fulfill.bomb==1||fulfill.seenow.zong==1"
            @tap="choose=0;fulfill.bomb=0;fulfill.seenow.zong=0;fulfill.seenow.back=0;fulfill.seenow.pic=0;document.getElementsByTagName('body')[0].style = ''">
        </div>

        <!-- 显示评价备注和图片 -->
        <div class="fulfill shownow" v-if="fulfill.seenow.zong==1">
            <div class="picnow" v-if="fulfill.is_pic==1&&fulfill.seenow.pic==1"
                @tap="fulfill.seenow.zong=0;fulfill.seenow.back=0;fulfill.seenow.pic=0;document.getElementsByTagName('body')[0].style = ''">
                <h4>上传的图片</h4>
                <img v-if="localId!=''" :src="localId">
                <img v-else :src="Serverend.data[0].pic">
            </div>
            <div class="backnow" v-if="fulfill.is_back==1&&fulfill.seenow.back==1">
                <h4>备注详情</h4>
                <p v-if="fulfill.back!=''" v-cloak>{{ fulfill.back }}</p>
                <p v-else v-cloak>{{ Serverend.data[0].back }}</p>
            </div>
        </div>

        <!-- 服务完成弹框 -->
        <div class="fulfill" v-show="fulfill.bomb==1">
            <h4>备注示范如下：</h4>
            <span>
                清洗：清洗2挂，已完成，无收费</br>
                维修：维修150元，配件30元公众号已支付，</br>
                另追加高空费100元，已完成
            </span>
            <textarea placeholder="请在此处填写备注信息" maxlength="50" v-model="fulfill.back"></textarea>
            <div class="bottom">
                <div @tap="fulfill.bomb=0;document.getElementsByTagName('body')[0].style=''">取消</div>
                <div class="sib" @tap="sib">提交</div>
            </div>
        </div>

        <div class="time" v-show="choose==1">
            <h4>选择具体上门时间</h4>
            <!-- <input id="demo2" type="text" readonly="" placeholder="日期和时间选择" value=""
                data-lcalendar="2019-03-26,2020-03-26" v-model="determineTime" /> -->
            <input readonly type="text" id="Month" placeholder="选择时间">
            <div class="determine" @tap="determine">
                确定时间
            </div>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/rolldate/rolldate.modify.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 订单列表
                order: [],
                // 确定预约时间
                choose: 0,
                // 确定预约的时间
                determineTime: '',
                // 阿姨数据
                auntUser: [],
                // 上传图片显示
                localId: '',
                // 服务端图片id
                serverId: '',
                // 提交的内容
                imgs: '',
                // 服务详情
                Serverend: [{}],
                // 服务完成后追加操作
                fulfill: {
                    // 是否弹框
                    bomb: 0,
                    // 备注信息
                    back: '',
                    // 判断有无填写备注
                    is_back: 0,
                    // 判断有无上传图片
                    is_pic: 0,
                    // 查看详情
                    seenow: {
                        zong: 0,
                        pic: 0,
                        back: 0
                    }
                }
            },
            created: function created() {
                var that = this;
                this.order = JSON.parse(window.sessionStorage.auntOrder);
                this.auntUser = JSON.parse(window.localStorage.auntUser);
                wx.config({
                    debug: false,
                    appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
                    timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
                    nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
                    signature: '{$jssdk.signature}', // 必填，签名
                    jsApiList: ['chooseImage', 'uploadImage', 'downloadImage', 'getLocalImgData']
                });
                axios.get('/index.php/serverapi/v2/Serverend/upExtrKv', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest',
                    },
                    params: {
                        serverid: that.order.id,
                    }
                }).then(function (res) {
                    that.Serverend = res.data;
                    if (res.data.data != '') {
                        if (res.data.data[0].back != '') {
                            that.fulfill.is_back = 1;
                        }
                        if (res.data.data[0].pic != '') {
                            that.fulfill.is_pic = 1;
                        }
                    }
                })
            },
            methods: {
                // 追加
                append1: function append1(data) {
                    var a = 0;
                    for (var i in data) a += data[i].total_fee - 0;
                    return (a / 100).toFixed(2);
                },
                append: function append(row) {
                    var money = this.append1(row.extrorder)
                    return (Number(money) * 100 + Number(row.actualpay) * 100) / 100
                },
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h + ' ' + minute;

                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    };
                },
                // 开始服务
                action_now: function action_now() {
                    var that = this;
                    axios.get('/index.php/api/commonapi.scan/action_now', {
                        params: {
                            id: that.order.codeid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        if (res.data.code == 1) {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                            that.order.status = 1;
                            window.sessionStorage.setItem('auntOrder', JSON.stringify(that.order))
                            var date_star = new Date().valueOf();
                        } else {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    });
                },
                // 停止服务
                stop_now: function stop_now() {
                    var that = this;
                    axios.get('/index.php/api/commonapi.scan/stop_now', {
                        params: {
                            id: that.order.codeid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {

                        if (res.data.code == 1) {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                            that.order.status = 4;
                            window.sessionStorage.setItem('auntOrder', JSON.stringify(that.order));
                            that.order.fu_end = Math.floor(new Date().getTime() / 1000);
                        } else {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    });
                },
                // 确定预约
                determine: function determine() {
                    var that = this;
                    if (!this.determineTime) {
                        mui.toast('请选择上门时间', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    axios.get('/index.php/serverapi/v2.sure/up_time', {
                        params: {
                            serverid: this.order.id,
                            uptime: this.determineTime,
                            servernote: '',
                            message: ''
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.choose = 0;
                        that.order.appoint_start = Math.floor(new Date(that.determineTime.replace(/-/g, "/")).getTime() / 1000);
                        that.order.is_ask += 1;
                        window.sessionStorage.setItem('auntOrder', JSON.stringify(that.order))
                    });
                },
                // 改约跳转
                change: function change() {
                    window.sessionStorage.setItem('auntOrder', JSON.stringify(this.order));
                    window.location.href = '/index.php/aunt/index/amend';
                },
                // 选着图片
                Upload: function Upload() {
                    var that = this;
                    wx.ready(function () {
                        wx.chooseImage({
                            count: 1, // 默认9
                            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                            success: function success(res) {
                                that.localId = [];
                                var localIdsAll = res.localIds;
                                // that.num = that.num - res.localIds.length;
                                // 遍历图片,单个上传
                                // for (var i = 0; i <= res.localIds.length - 1; i++) {
                                var localIds = res.localIds[0]; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                                if (window.__wxjs_is_wkwebview) {
                                    //判断当前使用的webview内核
                                    //获取本地图片,此接口仅在 iOS WKWebview 下提供，用于兼容 iOS WKWebview 不支持 localId 直接显示图片的问题
                                    wx.getLocalImgData({
                                        localId: localIds, // 图片的localID
                                        success: function success(res) {
                                            var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                                            //iOS 系统里面得到的数据，类型为 image/jgp,因此需要替换一下
                                            localData = localData.replace('jgp', 'jpeg');
                                            that.localId.push(localData); //img标签显示图片
                                        }
                                    });
                                } else {
                                    that.localId.push(localIds); //img标签显示图片
                                }
                                // 上传图片
                                wx.uploadImage({
                                    localId: localIds, // 需要上传的图片的本地ID，由chooseImage接口获得
                                    isShowProgressTips: 1, // 默认为1，显示进度提示
                                    success: function success(res) {
                                        that.serverId = res.serverId; // 返回图片的服务器端ID
                                        axios.post('/index.php/mapi/commonapi.Ajaxcommon/ajax_curl_img', {
                                            mediaid: that.serverId
                                        }, {
                                                headers: {
                                                    'X-Requested-With': 'xmlhttprequest'
                                                }
                                            }).then(function (res) {
                                                that.imgs = res.data.data;
                                                if (that.Serverend.data != '') {
                                                    var extrid = that.Serverend.data[0].id;
                                                } else {
                                                    var extrid = ''
                                                }
                                                axios.get('/index.php/serverapi/v2/Serverend/upExtrKv', {
                                                    headers: {
                                                        'X-Requested-With': 'xmlhttprequest',
                                                    },
                                                    params: {
                                                        serverid: that.order.id,
                                                        'kv[key]': 'pic',
                                                        'kv[value]': that.imgs,
                                                        extrid: extrid
                                                    }
                                                }).then(function (res) {
                                                    mui.toast('上传成功', {
                                                        duration: '1000ms',
                                                        type: 'div'
                                                    });
                                                    that.fulfill.is_pic = 1;
                                                    that.Serverend.data[0] = res.data.data;
                                                })
                                            });
                                    }
                                });
                                // }
                            },
                            error: function error(res) {
                                // alert(res);
                            }
                        });
                    });
                },
                // 提交备注
                sib: function sib() {
                    var that = this;
                    if (!that.fulfill.back) {
                        mui.toast('请填写内容后提交', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (that.Serverend.data != '') {
                        var extrid = that.Serverend.data[0].id;
                    } else {
                        var extrid = ''
                    }
                    axios.get('/index.php/serverapi/v2/Serverend/upExtrKv', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest',
                        },
                        params: {
                            serverid: that.order.id,
                            'kv[key]': 'back',
                            'kv[value]': that.fulfill.back,
                            extrid: extrid
                        }
                    }).then(function (res) {
                        mui.toast('提交成功', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        that.fulfill.is_back = 1;
                        that.Serverend.data[0] = res.data.data;
                    })
                    that.fulfill.bomb = 0;
                    document.getElementsByTagName('body')[0].style = '';
                }
            },
            mounted: function mounted() {
                var that = this; // 时间插件初始化

                // function getNowFormatDate() {
                //     var date = new Date();
                //     var seperator1 = "-";
                //     var year = date.getFullYear();
                //     var month = date.getMonth() + 1;
                //     var strDate = date.getDate();

                //     if (month >= 1 && month <= 9) {
                //         month = "0" + month;
                //     }

                //     var day = date.getHours() + 3;

                //     if (date.getHours() > 16) {
                //         strDate += 1;
                //         day = 8;
                //     }

                //     if (strDate >= 0 && strDate <= 9) {
                //         strDate = "0" + strDate;
                //     }

                //     var currentdate = year + seperator1 + month + seperator1 + strDate;
                //     return [currentdate, day];
                // }

                // var day = getNowFormatDate();
                // var calendardatetime = new LCalendar();
                // calendardatetime.init({
                //     'trigger': '#demo2',
                //     'type': 'datetime',
                //     'minTime': day[1],
                //     //new Date().getHours()+ 2,
                //     'minDate': day[0]
                // });
                new Rolldate({
                    el: '#Month',
                    format: 'YYYY-MM-DD hh:mm',
                    beginYear: 2015,
                    endYear: 2020,
                    limitTime: that.formatDateTime(new Date()).time,
                    confirm: function (date) {
                        that.determineTime = date;
                        // that.select.start = date;
                    },
                })
            }
        });
    </script>

</body>

</html>