<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/aunt/user/serve.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>
  <div id="app">
    <!-- 当前订单 -->
    <div class="presents">
      <div class="present">当前订单</div>
      <div class="list" v-if="now!=''" v-for="(item, index) in now" :key="item.id" v-cloak>
        <a :href="url+'?id='+item.id" class="presentA" v-cloak>
          <img :src="'/'+item.pic" v-cloak />
          <div class="product">
            <h4 v-cloak>{{ item.goods_name }}</h4>
            <div class="site" v-if="item.status==1" v-cloak>状态 : 等待上门</div>
            <div class="site" v-if="item.status==2" v-cloak>状态 : 服务中</div>
            <div class="time" v-cloak>客户 : {{ item.nickname }}</div>
          </div>
          <span class="Grab">联系客服</span>
        </a>
      </div>
      <div class="list" v-else>当前暂无订单</div>
    </div>

    <!-- 历史订单 -->
    <div class="presents bot">
      <div class="present">历史订单</div>
      <div class="list" v-show="history!=[]" v-for="(item, index) in history" :key="history.id" v-cloak>
        <a :href="url+'?id='+item.id"  v-cloak>
          <span :href="url+'?id='+item.id" v-cloak>
            <img :src="'/'+item.pic" v-cloak />
            <div class="product">
              <h4 v-cloak>{{ item.goods_name }}</h4>
              <div class="site">状态 : 已完成</div>
              <div class="time" v-cloak>客户 : {{ item.nickname }}</div>
            </div>
          </span>
          <a href="tel:4008185088">
            <span class="Grab">联系客服</span>
          </a>
        </a>

      </div>
      <div class="list" v-show="history==[]" v-cloak>暂无历史订单</div>
    </div>

    <!-- 底部按钮 -->
    <div class="button">
      <div>
        <a :href="'/index.php/aunt/index/index/'+date+'/'" v-cloak>
          <img src="{$Think.const.PUBLIC_RES}/png/icons/DD2.png" />
          <p>抢单</p>
        </a>
      </div>
      <div>
        <img src="{$Think.const.PUBLIC_RES}/png/icons/serves.png" />
        <p class="serve">服务</p>
      </div>
      <div>
        <a :href="'/index.php/aunt/employee/index/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/register.png" />
          <p>个人</p>
        </a>
      </div>
    </div>
  </div>

  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>

  <script>
    'use strict';

    new Vue({
      el: '#app',
      data: {
        date: '',
        auntopenid: '',
        // 历史订单
        history: [],
        // 当前订单
        now: [],
        // 跳转链接
        url: ''
      },
      // 初始化后执行
      created: function created() {
        var that = this;
        this.date = new Date().valueOf();
        this.auntopenid = window.localStorage.auntopenid;
        axios.get('/index.php/mapiv2/staff/service_details', {
          params: {
            auntopenid: that.auntopenid
          }
        }).then(function (res) {
          console.log(res);
          that.history = res.data.data.history;
          that.now = res.data.data.now;
          that.url = res.data.data.url;
        });
      },
      methods: {
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    });
  </script>
</body>

</html>