<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/user/coupon.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>优惠券</title>
</head>

<body>
    <div id="app">
        <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="list">
                    <ul>
                        <li v-for="(item, index) in list" :key="item.id">
                            <div class="left " :class="item.status != 0?'use':''">
                                <p>{{ item.name }}</p>
                                <span v-if="item.status == 2">已过期</span>
                                <span v-if="item.status == 1">已使用</span>
                            </div>
                            <div class="right">
                                <div class="label " :class="item.status != 0?'use':''">{{ item.name }}</div>
                                <p :class="item.status != 0?'use':''">{{ item.scope }}</p>
                                <hr>
                                <div :class="item.status != 0?'use':''">有效期:{{ formatDateTime(item.validtime*1000) }}
                                </div>
                                <span :class="item.status != 0?'use':''" v-if="item.status == 0" @tap="jump">立即使用</span>
                                <span :class="item.status != 0?'use':''" v-else>立即使用</span>
                            </div>
                        </li>
                        <li v-if="list==''">
                            <p>暂无优惠券</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src=" {$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"> </script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 页数
                page: 1,
                // 兑换券列表
                list: {}
            },
            created: function created() {
                var _this = this;

                axios.get("/index.php/mobileapi/personal/freeCouponList", {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        page: this.page
                    }
                }).then(function (res) {
                    _this.list = res.data.data.list;
                    _this.page++;
                });
            },
            methods: {
                // 获取时间的每个键
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    var h = date.getHours();
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + "年" + m + "月" + d + "日";
                },
                // 跳转 
                jump: function jump() {
                    window.location.href = "/index.php/mobile/bargain/shop_list";
                }
            },
            mounted: function mounted() {
                // this.searchnow();
                var that = this;
                mui.init({
                    pullRefresh: {
                        container: '#pullrefresh',
                        down: {
                            callback: pulldownRefresh
                        },
                        up: {
                            contentrefresh: '正在加载...',
                            callback: pullupRefresh
                        }
                    }
                });
                /**
                 * 下拉刷新具体业务实现
                 */

                function pulldownRefresh() {
                    var _this = this;

                    axios.get("/index.php/mobileapi/personal/freeCouponList", {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            page: 1
                        }
                    }).then(function (res) {
                        that.list = res.data.data.list;
                        that.page = 2;
                        mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed

                        mui('#pullrefresh').pullRefresh().refresh(true);
                    });
                }
                /**
                 * 上拉加载具体业务实现
                 */


                function pullupRefresh() {
                    var _this = this;

                    axios.get("/index.php/mobileapi/personal/freeCouponList", {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            page: that.page
                        }
                    }).then(function (res) {
                        if (res.data.data.list != '') {
                            for (var key in res.data.data.list) {
                                that.list.push(res.data.data.list[key]);
                            }

                            _this.endPullupToRefresh(false);

                            mui('#pullrefresh').pullRefresh().endPullupToRefresh();
                            that.page++;
                        } else {
                            _this.endPullupToRefresh(true);

                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了

                            return false;
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>