<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/invitebargain/shop_list.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>兑换专区</title>
</head>

<body>
    <div id="app">

        <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="list">
                    <img class="banner" src="{$Think.const.PUBLIC_RES}/png/share/banner.png" alt="">
                    <ul>
                        <li v-for="(item, index) in list" :key="item.id">
                            <img :src="'/'+item.inoc">
                            <h4 v-cloak>{{ item.name }}</h4>
                            <div class="num">
                                <span v-cloak>已兑换{{ item.virtual_times }}份</span>
                                <del v-cloak>¥{{ item.commonprice }}</del>
                            </div>
                            <div class="voucher">
                                <span v-cloak>{{ item.bargain_data.freecount }}张免单券</span>
                                <span class="bot" @tap="jump(item)">兑换</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src=" {$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"> </script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 商品列表
                list: {},
                page: 1
            },
            created: function created() {
                var _this = this;

                axios.get("/index.php/mobileapi/Goods/specialGoods", {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        page: 1
                    }
                }).then(function (res) {
                    _this.list = res.data.data.list;
                    _this.page++;
                });
            },
            methods: {
                jump: function jump(item) {
                    window.location.href = "/index.php/mobile/bargain/shop_detail" + "/id/" + item.id; // + "/store_id/" + item.store.store_id
                }
            },
            mounted: function mounted() {
                var that = this;
                mui.init({
                    pullRefresh: {
                        container: '#pullrefresh',
                        down: {
                            callback: pulldownRefresh
                        },
                        up: {
                            contentrefresh: '正在加载...',
                            callback: pullupRefresh
                        }
                    }
                });
                /**
                 * 下拉刷新具体业务实现
                 */

                function pulldownRefresh() {
                    var _this = this;

                    axios.get("/index.php/mobileapi/Goods/specialGoods", {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            page: 1
                        }
                    }).then(function (res) {
                        that.list = res.data.data.list;
                        that.page = 2;
                        mui('#pullrefresh').pullRefresh().refresh(true);
                        mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
                    });
                }
                /**
                 * 上拉加载具体业务实现
                 */


                function pullupRefresh() {
                    var _this = this;

                    axios.get("/index.php/mobileapi/Goods/specialGoods", {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            page: that.page
                        }
                    }).then(function (res) {
                        that.page = 2;

                        if (res.data.data.list != '') {
                            for (var key in res.data.data.list) {
                                that.list.push(res.data.data.list[key]);
                            }

                            _this.endPullupToRefresh(false);

                            mui('#pullrefresh').pullRefresh().endPullupToRefresh();
                            that.page++;
                        } else {
                            _this.endPullupToRefresh(true);

                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了

                            return false;
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>