<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/invitebargain/shop_detail.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>兑换订单界面</title>
</head>

<body>
    <div id="app">
        <!-- 蒙版 -->
        <div class="masking" style="display: none" v-show="is_bind==1">

        </div>
        <div v-show="is_bind==1" style="display: none" class="binding">
            <img class="logo" class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/logo1.png" />
            <p>绑定手机号</p>

            <!-- 手机号 -->
            <div class="phones">
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/shouji.png" />
                <input type="number" placeholder="请输入手机号" v-model="phone">
            </div>

            <!-- 验证码 -->
            <div class="password">
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/mima1.png" />
                <div class="xhx">
                    <input type="text" maxlength="6" placeholder="请输入验证码" v-model="verification">
                    <span class="identifying" @tap='msg' v-if="for_if==0">获取验证码</span>
                    <span class="identifying" v-else>获取验证码</span>
                </div>
            </div>

            <!-- 备注 -->
            <p class="remark">
                注: 手机号作为您账户的唯一标识,用
                于身份验证，会员优惠等用途
            </p>

            <!-- 按钮 -->
            <div class="btn" @click='register'>
                提交
            </div>
            <!-- 取消按钮 -->
            <div class="cancel" @tap='is_bind=0'>
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi1.png" />
            </div>
        </div>

        <div class="ban">
            <img :src="'/'+product.pic">
        </div>
        <div class="title">
            <div class="top">
                <span class="pre_title" v-cloak>{{ product.name }}</span>
                <span class="buy" v-cloak>已兑换{{ product.virtual_times }}份</span>
            </div>
            <div class="bot">
                <span class="vouchers" v-cloak>{{ deed.freecount }}张免单券</span>
            </div>
        </div>
        <div class="detail" v-html="detail">
        </div>
        <div class="footer">
            <div class="left">
                <p>合计：<span v-cloak>{{ deed.freecount }}张免单券</span></p>
            </div>
            <div class="right" @click="order" v-if="invitebargain >= deed.freecount">
                立即兑换
            </div>
            <div class="right hui" @click="nobuy" v-else>
                立即兑换
            </div>
        </div>
    </div>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 链接参数
                url: {},
                // 商品数据
                product: {},
                // 注册弹框
                is_bind: 0,
                // 注册手机号
                phone: '',
                // 返回验证码
                message: '',
                // 输入的验证码
                verification: '',
                // 获取验证码判断
                for_if: 0,
                // 倒计时
                countdown: 60,
                // 用户数据
                user: {},
                // 商品详情
                detail: {},
                // 使用券
                deed: {},
                invitebargain: null
            },
            created: function created() {
                var _this = this;

                _this.user = JSON.parse(window.localStorage.userContent);
                _this.invitebargain = _this.user.invitebargain.length;
                var can = decodeURI(location.href).split('mobile/')[1].split('/');

                for (var i = 0; i < can.length; i += 2) {
                    this.url[can[i]] = can[i + 1];
                }

                if (this.url.store_id) {
                    this.url.store_id = this.url.store_id;
                } else {
                    this.url.store_id = 1;
                } // 产品数据


                axios.get('/index.php/mapi/goodsdetail/rest', {
                    params: {
                        store_id: this.url.store_id,
                        id: this.url.id
                    }
                }).then(function (res) {
                    _this.product = res.data.data.data;
                    _this.detail = res.data.data.data.detail.detail;
                    _this.deed = res.data.data.data.bargain_data;
                    window.localStorage.setItem('goods_detail', JSON.stringify(_this.product));
                });
            },
            methods: {
                // 优惠券不够
                nobuy: function nobuy() {
                    mui.toast('免单券数量不足', {
                        duration: '1000ms',
                        type: 'div'
                    });
                },
                // 下单
                order: function order(i) {
                    var _this = this;

                    window.localStorage.setItem('priceType', i);
                    axios.post('/index.php/mapiv2/myorder/checkbind', {
                        uid: _this.user.id
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                _this.is_bind = 1;
                                return false;
                            }

                            window.sessionStorage.setItem("goods_url", JSON.stringify(_this.url));
                            window.location.href = "/index.php/mobile/bargain/shop_order" + location.search;
                        });
                },
                msg: function msg() {
                    var _this = this;

                    axios.get('/index.php/mapi/commonapi.ajaxcommon/sms', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            phone: this.phone,
                            type: 2
                        }
                    }).then(function (res) {
                        // console.log(res);
                        _this.message = res.data.data;

                        if (res.data.code == 0) {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                            return false;
                        }

                        mui.toast('验证码已发送', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        $('.identifying').css('background-color', '#ccc');
                        _this.for_if = 1;
                        var that = _this;
                        _this.time = setInterval(that.timeout, 1000);
                    });
                },
                // 验证码样式更改
                timeout: function timeout() {
                    this.countdown--;
                    $('.identifying').text('请稍等(' + this.countdown + 's)');

                    if (this.countdown == 0) {
                        clearTimeout(this.time);
                        $('.identifying').css('background-color', '');
                        $('.identifying').text('获取验证码');
                        this.countdown = 60;
                        this.for_if = 0;
                    }
                },
                // 注册提交
                register: function register() {
                    var that = this;

                    if (!this.phone) {
                        mui.toast('请输入手机号', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ;

                    if (!this.verification) {
                        mui.toast('请输入验证码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    ; // 判断验证码

                    if (this.message == this.verification) {
                        // 上传
                        axios.post('/index.php/mapi/Binduser/rest', {
                            phone: this.phone
                        }, {
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (res) {
                                // console.log(res);
                                that.user = res.data.data.id;
                                window.localStorage.setItem('userContent', JSON.stringify(res.data.data));

                                if (res.data.code == 1) {
                                    mui.toast('注册成功', {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    window.sessionStorage.setItem("goods_url", JSON.stringify(that.url));
                                    window.location.href = '/index.php/mobile/order/order_details/';
                                } else {
                                    mui.toast('注册失败,' + res.data.msg, {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 1500);
                                }
                            });
                    } else {
                        mui.toast('短信输入错误', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                }
            }
        });
    </script>
</body>

</html>