<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小哥帮</title>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/order/order_details.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/invitebargain/shop_order.css?{$Think.config.fastadmin['v_api']}" />

</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 地址、年月 -->
        <div class="onw">
            <div class="years" v-show="address==''">
                <a href="/index.php/mobile/address/add">
                    <span>请添加服务地址</span>
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
                </a>
            </div>
            <div class="site" v-if="address!=''">
                <a href="/index.php/mobile/address/add">
                    <div class="name">
                        <div>
                            <span v-cloak>{{ address.name }}</span>
                            <span v-cloak>{{ address.phone.substr(0,3) + '****' + address.phone.substr(7,11) }}</span>
                        </div>
                        <p v-cloak>{{ address.address }}</p>
                    </div>
                    <img class="arrow-s" src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
                </a>
            </div>
            <!-- 年月 -->
            <div class="years" @tap='calendar.show = 1'>
                <span v-cloak>{{ calendar.showdate }}</span>
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
            </div>
        </div>
        <!-- 服务产品 -->
        <div class="datail">
            <img :src="'/'+goods_detail.pic">
            <div class="text">
                <h4>兑换</h4>
                <h4 class="name" v-cloak>{{ goods_detail.name }}</h4>
                <span class="Voucher" v-cloak>{{ goods_detail.bargain_data.freecount }}张免单券</span>
            </div>
        </div>
        <p class="prompt">温馨提示:下单成功后服务人员会尽快与您联系确认最终上门时间</p>
        <!-- 备注 -->
        <div class="remarks">
            <div class="tilt">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/remarks.png">
                <span>订单留言</span>
            </div>
            <textarea name="" placeholder="订单留言" maxlength='50' v-model="bak"></textarea>
        </div>
        <!-- 立即支付 -->
        <div class="pay">
            <span class="money">
                合计：<span v-cloak>{{ goods_detail.bargain_data.freecount }}张免单券</span>
            </span>
            <div class="but" @tap="order">
                立即兑换
            </div>
        </div>

        <!-- 日历样式 -->
        <transition name="fade">
            <div class="calendar" v-if="calendar.show==1">
                <div class="tilte">
                    <p>请选择上门时间</p>
                    <div @tap='calendar.show=0'>关闭</div>
                </div>
                <ul class="week">
                    <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
                </ul>

                <!-- 天数 -->
                <ul class="date">
                    <li v-for="(item, index) in calendar.week" class="not" :key="index" v-cloak>{{ Beyond(item) }}</li>
                    <li v-for="(item, index) in calendar.dadeDay" :key="index" :class="item==calendar.thatDay?'tap':''"
                        @tap="calendar.covenant[index].active==1?period(item):''"
                        :id="calendar.covenant[index].active==0?'full':''" v-cloak>{{ item }}
                        <div v-if="calendar.covenant[index].active==0">约满</div>
                        <div class="tday" v-if="item==calendar.date[2]&&calendar.covenant[index].active!=0">今天</div>
                    </li>
                </ul>

                <!-- 时间 -->
                <div class="period">
                    <div v-for="(item, index) in calendar.optional" :key="item.id"
                        :class="item.time==calendar.d_time&&calendar.d_data!=''&&calendar.thatDay==calendar.d_data.split('-')[2]?'man':''+''+item.count>0?'':'full'">
                        <span v-show="Number(item.count)<=0" v-cloak>{{ item.time }}</span>
                        <span v-show="Number(item.count)>0" @tap='deter(item)' v-cloak>{{ item.time }}</span>
                        <div class="ti" v-show="item.count<=0">
                            <img src="{$Think.const.PUBLIC_RES}/png/iconic/man.png">
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        'use strict';

        var app = new Vue({
            el: '#app',
            data: {
                // 用户内容
                user: null,
                // 商品信息
                goods_detail: [],
                openid: '',
                // 支付类型
                priceType: '',
                // token: $__token__,
                // 数量
                num: 1,
                // 店铺id
                store_id: '',
                // 商品id
                id: '',
                // 备注
                bak: '',
                // 时间
                date: '',
                // 发起状态
                participate: '',
                // 产品个数
                quantity: 1,
                // 地址信息
                address: [],
                // 时间日历
                calendar: {
                    // 显示
                    show: 0,
                    // 月天数
                    dadeDay: [],
                    // 星期
                    week: [],
                    // 选中的天数
                    thatDay: Number,
                    // 当前的时间
                    date: [],
                    //  预约时间段
                    period: '',
                    // 显示时间的值
                    showdate: '请选择服务时间',
                    // 满约状态
                    covenant: [],
                    // 当天时间段
                    optional: [],
                    // 提交时间
                    d_time: '',
                    // 提交时间段
                    d_data: '',
                    time_part: ''
                }
            },
            created: function created() {
                var that = this;
                this.date = new Date().valueOf(); // 获取本地的商品信息

                this.goods_detail = JSON.parse(window.localStorage.goods_detail); //  获取链接

                if (window.localStorage.goods_id) {
                    // 本地取
                    this.group_id = window.localStorage.group_id;
                    this.id = window.localStorage.goods_id;
                    this.store_id = window.localStorage.store_id;
                    this.participate = window.localStorage.participate;
                } else {
                    // 判断是否是店铺列表进来还是商品列表进来
                    if (decodeURI(location.search).split('&').length == 2) {
                        // 店铺列表进来
                        this.store_id = decodeURI(location.search).split('&')[0].split('=')[1];
                        this.id = decodeURI(location.search).split('&')[1].split('=')[1];
                    } else {
                        // 直接进入商品详情
                        this.store_id = 1;
                        this.id = decodeURI(location.search).split('&')[0].split('=')[1];
                    }
                } // *********************日期组件处理*******************


                this.dayProcess();
                this.calendar.date = this.formatDateTime(this.date);
                this.calendar.thatDay = this.formatDateTime(this.date)[2];
                this.calendar.period = new Date((this.calendar.date[0] + '-' + this.calendar.date[1] + '-' + this.calendar.date[2]).replace(/-/g, "/")).valueOf();
                this.month = this.formatDateTime(this.date)[1];
                var numtoday = this.calendar.thatDay; // 获取可预约的时间

                axios.get('/index.php/mapiv2/time/days', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        category: this.goods_detail.cate
                    }
                }).then(function (res) {
                    // console.log(res);
                    that.calendar.covenant = res.data.data;
                }); // 获取当天可预约时间段

                axios.get('/index.php/mapiv2/time', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        category: this.goods_detail.cate,
                        date: this.calendar.date[0] + '-' + this.calendar.date[1] + '-' + this.calendar.date[2]
                    }
                }).then(function (res) {
                    // console.log(res);
                    that.calendar.optional = res.data.data;
                });

                for (var i = 0; i <= 31; i++) {
                    switch (this.calendar.date[1]) {
                        case 1:
                        case 3:
                        case 5:
                        case 7:
                        case 8:
                        case 10:
                            // console.log(1);
                            if (numtoday > 31) {
                                this.month += 1;
                                numtoday = 1;
                            }

                            break;

                        case 12:
                            // console.log(1);
                            if (numtoday > 31) {
                                this.month = 1;
                                numtoday = 1;
                            }

                            break;

                        case 4:
                        case 6:
                        case 9:
                        case 11:
                            // console.log(2);
                            if (numtoday > 30) {
                                this.month += 1;
                                numtoday = 1;
                            }

                            break;

                        case 2:
                            // console.log(3);
                            if (numtoday > 27) {
                                this.month += 1;
                                numtoday = 1;
                            }

                            break;
                    }

                    if (this.month != this.calendar.date[1] && numtoday == this.calendar.thatDay) return false;
                    this.calendar.dadeDay.push(numtoday);
                    numtoday++;
                    if (numtoday == this.calendar.thatDay - 1) return false;
                }
            },
            mounted: function mounted() {
                var that = this; // 获取用户内容

                if (window.localStorage.userContent) {
                    that.user = JSON.parse(window.localStorage.userContent);
                } else {
                    this.openid = window.localStorage.openid;
                    axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            openid: this.openid
                        }
                    }).then(function (res) {
                        // console.log(res);
                        that.user = res.data.data;
                        window.localStorage.setItem("userContent", JSON.stringify(that.user));
                    });
                }

                axios.get('/index.php/mapiv2/address/rest', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    for (var i = 0; i < res.data.data.data.length; i++) {
                        if (res.data.data.data[i].is_default == 1) {
                            that.address = res.data.data.data[i];
                            window.sessionStorage.setItem('address', JSON.stringify(that.address));
                        }
                    }
                }); // 判断是否有时间

                if (window.sessionStorage.showdate) {
                    this.calendar.showdate = window.sessionStorage.showdate;
                    this.calendar.thatDay = window.sessionStorage.showdate.split('周')[0].split('-')[2];
                    this.period(this.calendar.thatDay);
                    this.calendar.d_time = window.sessionStorage.showdate.split('周')[1].substr(1, 20);
                    var date = this.formatDateTime(this.calendar.period);
                    this.calendar.d_data = date[0] + '-' + date[1] + '-' + date[2]; // 获取当天可预约时间段

                    axios.get('/index.php/mapiv2/time', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            category: this.goods_detail.cate,
                            date: this.calendar.d_data
                        }
                    }).then(function (res) {
                        // console.log(res);
                        that.calendar.optional = res.data.data;
                    });
                } // mui加载中
                //扩展mui.showLoading  


                (function ($, window) {
                    //显示加载框  
                    $.showLoading = function (message, type) {
                        if ($.os.plus && type !== 'div') {
                            $.plusReady(function () {
                                plus.nativeUI.showWaiting(message);
                            });
                        } else {
                            var html = '';
                            html += '<i class="mui-spinner mui-spinner-white"></i>';
                            html += '<p class="text">' + (message || "数据加载中") + '</p>'; //遮罩层  

                            var mask = document.getElementsByClassName("mui-show-loading-mask");

                            if (mask.length == 0) {
                                mask = document.createElement('div');
                                mask.classList.add("mui-show-loading-mask");
                                document.body.appendChild(mask);
                                mask.addEventListener("touchmove", function (e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                });
                            } else {
                                mask[0].classList.remove("mui-show-loading-mask-hidden");
                            } //加载框  


                            var toast = document.getElementsByClassName("mui-show-loading");

                            if (toast.length == 0) {
                                toast = document.createElement('div');
                                toast.classList.add("mui-show-loading");
                                toast.classList.add('loading-visible');
                                document.body.appendChild(toast);
                                toast.innerHTML = html;
                                toast.addEventListener("touchmove", function (e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                });
                            } else {
                                toast[0].innerHTML = html;
                                toast[0].classList.add("loading-visible");
                            }
                        }
                    }; //隐藏加载框  


                    $.hideLoading = function (callback) {
                        if ($.os.plus) {
                            $.plusReady(function () {
                                plus.nativeUI.closeWaiting();
                            });
                        }

                        var mask = document.getElementsByClassName("mui-show-loading-mask");
                        var toast = document.getElementsByClassName("mui-show-loading");

                        if (mask.length > 0) {
                            mask[0].classList.add("mui-show-loading-mask-hidden");
                        }

                        if (toast.length > 0) {
                            toast[0].classList.remove("loading-visible");
                            callback && callback();
                        }
                    };
                })(mui, window);
            },
            methods: {
                // 下单
                order: function order() {
                    if (this.address == '') {
                        mui.toast('请选择地址', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!this.calendar.d_time) {
                        mui.toast('请选择预约时间', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!/^.{0,50}$/.test(this.bak)) {
                        mui.toast('留言最多50个字符', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    var url = JSON.parse(window.sessionStorage.goods_url);

                    if (url.jj) {
                        var jj = url.jj;
                    } else {
                        var jj = '';
                    }

                    if (url.event) {
                        var event = url.event;
                    } else {
                        var event = '';
                    }

                    var areaid = this.address.region.split(',')[2];
                    axios.post('/index.php/mapi/order/rest', {
                        __token__: this.token,
                        bak: this.bak,
                        goodsid: this.goods_detail.id,
                        uid: this.user.id,
                        store_id: this.store_id,
                        num: this.quantity,
                        d_time: this.calendar.d_time,
                        d_data: this.calendar.d_data,
                        // sfuserid: this.content.id,
                        time_part: this.calendar.time_part,
                        cate_id: this.goods_detail.cate,
                        address_id: this.address.id,
                        platform_code: jj,
                        event: event
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            if (res.data.msg == '请求成功') {
                                mui.toast('下单成功', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                mui.showLoading("正在加载..", "div"); //加载文字和类型，plus环境中类型为div时强制以div方式显示  
                                // window.localStorage.setItem('orderId', res.data.data.data.data.id);

                                axios.post('/index.php/mobileapi/v2.pay/zeropayBargain', {
                                    oid: res.data.data.data.data.id
                                }, {
                                        headers: {
                                            'X-Requested-With': 'xmlhttprequest'
                                        }
                                    }).then(function (res) {
                                        mui.hideLoading(); //隐藏后的回调函数 

                                        if (res.data.code == 1) {
                                            mui.toast(res.data.msg, {
                                                duration: '1000ms',
                                                type: 'div'
                                            });
                                            setTimeout(function () {
                                                window.location.href = "/index.php/mobile/order/number";
                                            }, 1000);
                                        } else {
                                            mui.toast(res.data.msg, {
                                                duration: '1000ms',
                                                type: 'div'
                                            });
                                            setTimeout(function () {
                                                window.location.href = "/index.php/mobile/invitebargain/index";
                                            }, 1500);
                                        }
                                    }); // .catch(function (err) {
                                //     mui.hideLoading();//隐藏后的回调函数 
                                //     window.location.href = "/index.php/mobile/index/index"
                                // });
                            } else {
                                window.location.reload();
                            }
                        });
                },
                // 获取时间的每个键
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    var h = date.getHours();
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return [y = y, m = m, d = d, h = h, minute = minute, second = second];
                },
                // 获取星期的空
                dayProcess: function dayProcess() {
                    var week = Number("1234567".charAt(new Date().getDay()));

                    for (var i = 1; i < week; i++) {
                        this.calendar.week.push(i);
                    }

                    this.calendar.week = this.calendar.week.reverse();
                },
                // 日期点击
                period: function period(item) {
                    var that = this;
                    var period;
                    var time;

                    if (item >= this.calendar.date[2]) {
                        time = this.calendar.date[0] + '-' + this.calendar.date[1] + '-' + item;
                        period = new Date(time.replace(/-/g, "/")).valueOf();
                    }

                    if (item < this.calendar.date[2]) {
                        time = this.calendar.date[0] + '-' + (this.calendar.date[1] + 1) + '-' + item;
                        period = new Date(time.replace(/-/g, "/")).valueOf();
                    }

                    this.calendar.thatDay = item;
                    this.calendar.period = period; // 获取当天可预约时间段

                    axios.get('/index.php/mapiv2/time', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            category: this.goods_detail.cate,
                            date: time
                        }
                    }).then(function (res) {
                        that.calendar.optional = res.data.data;
                    });
                },
                // 处理1号前日期为负的情况
                Beyond: function Beyond(item) {
                    var day = this.calendar.date[2] - item;

                    if (day <= 0) {
                        console.log(day);
                        console.log(item);

                        switch (this.calendar.date[1] - 1) {
                            case 1:
                            case 3:
                            case 5:
                            case 7:
                            case 8:
                            case 10:
                            case 12:
                                day = this.calendar.date[2] + 31 - item;
                                break;

                            case 4:
                            case 6:
                            case 9:
                            case 11:
                                day = this.calendar.date[2] + 30 - item;
                                break;

                            case 2:
                                day = this.calendar.date[2] + 27 - item;
                                break;
                        }
                    }

                    return day;
                },
                // 日期显示
                deter: function deter(res) {
                    var date;
                    var week = "日一二三四五六".charAt(new Date(this.calendar.period).getDay());
                    date = this.formatDateTime(this.calendar.period);

                    if (res.count > 0) {
                        this.calendar.showdate = date[0] + '-' + date[1] + '-' + date[2] + '周' + week + res.time;
                        this.calendar.show = 0;
                        window.sessionStorage.setItem('showdate', this.calendar.showdate);
                    } else { }

                    this.calendar.d_data = date[0] + '-' + date[1] + '-' + date[2];
                    this.calendar.d_time = res.time;
                    this.calendar.time_part = res.part;
                },
                // 分类数量时间文案
                cate: function cate() {
                    this.goods_detail = this.switchlist.data[this.switchlist.num];
                }
            },
            watch: {
                // 深度 watcher
                // 产品数量
                quantity: {
                    handler: function handler(val, oldVal) {
                        var that = this;

                        if (this.quantity < 0) {
                            this.quantity = 0;
                        }

                        window.sessionStorage.setItem('quantity', this.quantity);
                        this.quantity = Math.ceil(this.quantity);
                    },
                    deep: true
                }
            }
        });
    </script>
</body>

</html>