input[type='number'] {
  -moz-appearance: textfield;
}

body {
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  max-width: 3.75rem;
  min-width: 1.6rem;
  margin: 0 auto !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}
.no {
  text-align: center;
  background: #f2f2f2 !important;
}

.no > td {
  background: #f2f2f2 !important;
}
.no > td:hover {
  background: #f2f2f2 !important;
}

.pages {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  /* 清除a标签的默认样式：下划线，颜色 */
}

li {
  list-style: none;
  /* 清除li标签前面自带的小点 */
}

input {
  border: 0 none;
  outline: 0 none;
  /* 清除input 的默认边框以及外轮廓线 */
}

img {
  border: 0 none;
  /* 低版本的浏览器中，img自带边框 */
  vertical-align: middle;
  /* 行内块元素与文字的对齐方式，中线对齐 */
}

ul {
  padding: 0;
}

[v-cloak] {
  display: none;
}

/* 红包弹出样式 */
.envelop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 30;
  width: 100%;
  height: 100%;
}

.envelop .envelop_big {
  height: 3.2rem;
  width: 2.34rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.envelop .envelop_cash {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.34rem;
  height: 3.1rem;
  background-color: #ea484d;
  overflow: hidden;
  border-radius: 0.1rem;
}

.envelop .envelop_cash .envelop_circle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  box-shadow: 0rem 0.05rem 0.05rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #f2484e;
  top: -98%;
  left: -58%;
}

.envelop .envelop_circleShow {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  top: -95%;
  left: -58%;
  overflow: hidden;
}

.envelop .envelop_circleShow .envelop_board {
  width: 2.14rem;
  height: 2.05rem;
  background-color: #fce7b2;
  border-radius: 0.1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-48.5%);
}

.envelop .envelop_circleShow .envelop_board h3 {
  text-align: center;
  font-size: 0.2rem;
  margin-top: 0.3rem;
  color: #8c6226;
}

.envelop .envelop_circleShow .envelop_board span {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 0.26rem;
  color: #d59951;
  font-size: 0.17rem;
}

.envelop .envelop_circleShow .envelop_board strong {
  font-size: 0.47rem;
}

.envelop .envelop_circleShow .envelop_board p {
  margin-top: 0.2rem;
  font-size: 0.18rem;
  color: #d59951;
  text-align: center;
}

.envelop .envelop_cash span {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #ffd680;
  font-size: 0.2rem;
}

.envelop .envelop_cash .envelop_open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.78rem;
  height: 0.78rem;
}

.envelop .envelop_cash .envelop_open img {
  width: 100%;
  height: 100%;
}

.envelop .envelop_closed {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.36rem;
  height: 0.36rem;
}

.envelop .envelop_closed img {
  width: 100%;
  height: 100%;
}

.envelop_tlile {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}

.envelop_use {
  background: linear-gradient(
    0deg,
    rgba(210, 130, 69, 1) 0%,
    rgba(252, 250, 191, 1) 100%
  );
  box-shadow: 0 0.02px 0.1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.18rem;
  height: 0.38rem;
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  line-height: 0.38rem;
  text-align: center;
  color: #9a4820;
  font-size: 0.18rem;
}

.enveloph-enter-active,
.enveloph-leave-active {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.enveloph-enter,
.enveloph-leave-to {
  -webkit-transform: translate(0, 20%);
  transform: translate(0, 20%);
}

.stop {
  pointer-events: none;
}

/* 蒙版样式 */
.public_masking {
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  background: rgba(0, 0, 0, 1);
  /* display: none; */
}

.public_binding {
  top: 50%;
  left: 50%;
  z-index: 5;
  margin: auto;
  width: 2.88rem;
  position: fixed;
  height: 3.505rem;
  padding: 0 0.25rem;
  background-color: #fff;
  border-radius: 0.05rem;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.public_binding .public_logo {
  left: 26%;
  top: -20%;
  width: 1.41rem;
  height: 1.41rem;
  position: absolute;
}

.public_binding p {
  color: #333;
  margin-bottom: 0;
  font-size: 0.21rem;
  text-align: center;
  margin-top: 0.765rem;
}

/* 手机号样式 */
.public_phones {
  width: 100%;
  overflow: hidden;
  margin-top: 0.25rem;
}

.public_phones img {
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.05rem;
}

.public_phones input {
  margin: 0;
  float: left;
  width: 87.7%;
  border: none;
  border-radius: 0;
  font-size: 0.14rem;
  padding: 0 0 0 0.05rem;
  border-bottom: 0.01rem solid #ddd;
  height: 0.41rem;
}

/* 验证码样式 */
.public_password {
  width: 100%;
  overflow: hidden;
  margin-top: 0.21rem;
}

.public_password .public_xhx {
  width: 87%;
  float: right;
  height: 0.41rem;
  border-bottom: 0.01rem solid #ddd;
}

.public_password img {
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.05rem;
}

.public_password input {
  margin: 0;
  width: 50%;
  float: left;
  border: none;
  border-radius: 0;
  font-size: 0.14rem;
  padding: 0 0 0 0.05rem;
}

.public_password span {
  width: 37.6%;
  float: right;
  color: #ff7223;
  font-size: 0.14rem;
  text-align: center;
  margin-top: 0.09rem;
  display: inline-block;
  border-left: 0.01rem solid #ff7223;
}

/* 备注样式 */
.public_binding .public_remark {
  color: #999;
  height: 0.27rem;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.15rem;
  margin: 0.145rem 0 0 0;
}

/* 底部按钮样式 */
.public_binding .public_btn {
  color: #fff;
  width: 2.3rem;
  height: 0.45rem;
  text-align: center;
  margin: 0.2rem auto;
  font-size: 0.175rem;
  line-height: 0.45rem;
  border-radius: 0.5rem;
  background-color: #ff7223;
}

/* 取消按钮样式 */
.public_cancel {
  left: 45%;
  z-index: 2;
  bottom: -16%;
  position: absolute;
}

.public_cancel img {
  width: 0.345rem;
  height: 0.345rem;
}

.public_Switch {
  width: 100%;
  display: flex;
  margin-bottom: 0.02rem;
}

.public_Switch div {
  flex: 1;
  padding: 0 12%;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
}

.public_Switch div span {
  display: block;
  line-height: 0.44rem;
}

.public_Switch .public_Selected {
  color: #ff7223;
  border-bottom: 0.01rem solid #ff7223;
}
