input[type='number'] {
  -moz-appearance: textfield;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}
.no {
  text-align: center;
  background: #f2f2f2 !important;
}

.no > td {
  background: #f2f2f2 !important;
}
.no > td:hover {
  background: #f2f2f2 !important;
}

.pages {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  /* 清除a标签的默认样式：下划线，颜色 */
}

li {
  list-style: none;
  /* 清除li标签前面自带的小点 */
}

input {
  border: 0 none;
  outline: 0 none;
  /* 清除input 的默认边框以及外轮廓线 */
}

img {
  border: 0 none;
  /* 低版本的浏览器中，img自带边框 */
  vertical-align: middle;
  /* 行内块元素与文字的对齐方式，中线对齐 */
}

ul {
  padding: 0;
}

[v-cloak] {
  display: none;
}
