<div class="panel-body">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="one">
            <div class="widget-body no-padding">
                <table id="table" class="table table-striped table-bordered table-hover"
                       width="100%">
                </table>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    var ids = "{$ids}";
</script>