<table id="table" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
    <tr>
        <th style="text-align: center; vertical-align: middle; " data-field="id">
            <div class="th-inner sortable both">粉丝数量</div>
            <div class="fht-cell"></div>
        </th>
        <th style="text-align: center; vertical-align: middle; " data-field="create_time">
            <div class="th-inner sortable both">粉丝销售额</div>
            <div class="fht-cell"></div>
        </th>
        <th style="text-align: center; vertical-align: middle; " data-field="goods_name">
            <div class="th-inner sortable both">提成收益</div>
            <div class="fht-cell"></div>
        </th>
        <th style="text-align: center; vertical-align: middle; " data-field="nickname">
            <div class="th-inner sortable both">粉丝购买单数</div>
            <div class="fht-cell"></div>
        </th>
    </tr>
    </thead>
    <tbody data-listidx="0">
    <tr data-index="0">
        <td style="text-align: center; vertical-align: middle; ">{$fans.mycount}</td>
        <td style="text-align: center; vertical-align: middle; ">{$fans.mysumsales}</td>
        <td style="text-align: center; vertical-align: middle; ">{$fans.mysumoutcome}</td>
        <td style="text-align: center; vertical-align: middle; ">{$fans.mysumorder}</td>
    </tr>
    </tbody>
</table>
<div class="form-group layer-footer">
    <label class="control-label col-xs-12 col-sm-4"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="button" onclick="Layer.closeAll()" class="btn btn-success btn-close center-align">　 {:__('ok')}
            　
        </button>
    </div>
</div>