<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*小店名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg=""  class="form-control" name="row[name]" maxlength="50"  type="text" value="{$store['name']}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 小店图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <img src="/{$store.pic}" width="100" height="100">
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 小店背景:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                    <img src="/{$store.backgroup}" width="100" height="100">
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>

    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">产品摘要:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[sign]',$store['sign'])}
        </div>
    </div>

</form>
