<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>个人中心</title>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/shopstore/user/index.css?{$Think.config.fastadmin['v_api']}" />

</head>

<body>
  <div id="app">
    <!-- 顶部 -->
    <div class="logo">
      <img src="{$Think.const.PUBLIC_RES}/png/aunt/xgblogo.png">
      <div class="firm">
        <div v-if="store.bind_user" v-cloak>{{ store.bind_user.nickname }}</div>
        <div v-cloak>{{ store.bind_store.nickname }}</div>
      </div>
    </div>

    <!-- 信息 -->
    <ul>
     <!-- <li>
        <span>店铺名称</span>
        <span v-cloak>{{ store.bind_store.nickname }}</span>
      </li>-->
      <li>
        <span>业务介绍</span>
        <span v-cloak>{{ store.bind_store.back }}</span>
      </li>
      <li>
        <span>客户电话</span>
        <span v-cloak><a :href="'tel:'+store.bind_store.telphone">{{ store.bind_store.telphone }}</a></span>
      </li>
      <li>
        <span>店铺地址</span>
        <span v-cloak>{{ store.bind_store.address }}</span>
      </li>
      <li>
        <a href="/index.php/shopstore/index/dpindex ">
          <span>提现</span>
          <span>
            <img src="{$Think.const.PUBLIC_RES}/png/iconic/fh.png">
          </span>
        </a>

      </li>
    </ul>

    <!-- 注销按钮 -->

    <a href="/index.php/shopstore/user/logout">
      <div class="btn">
        注销
      </div>
    </a>


  </div>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <!-- <script src="{$Think.const.PUBLIC_RES}/vConsole/vconsole.min.js"></script>
  <script>
    var vConsole = new VConsole();

  </script> -->
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        store: [],
      },
      created: function created() {
        this.store = JSON.parse(window.localStorage.shopuserContent);
      },
    })
  </script>
</body>

</html>