body {
    background-color: #fff;
}

/* 头部样式 */
.home {
    width: 100%;
    position: relative;
    /*background-color: #0ff;*/
}

.home .header {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 0.14rem;
}

.arrows {
    width: 0.09rem;
    height: 0.17rem;
    position: absolute;
    top: 0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0.08rem;
    bottom: 0.08rem;
    right: 0.16rem;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}

/* 申请为店主样式 */
.big {
    text-align: center;
    width: 100%;
    background-color: #fff;
    margin-top: 0.47rem;
    overflow: hidden;
    position: relative;
}

.big img {
    width: 116%;
    height: 4.8rem;
    margin-top: 0.2rem;
}

.big .swiper-container {
    width: 60%;
    height: 0.15rem;
    line-height: 0.16rem;
    font-size: 0.1rem;
    background: #E5E5E5;
    color: #999;
    border-radius: 0.075rem;
    position: absolute;
    top: 0.1rem;
    left: 0.15rem;
}

.swiper-slide {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    width: 100%;
}

/* 用户成为店主 */
.user {
    width: 100%;
    height: 0.24rem;
    text-align: center;
    /*background-color: #FFD1E4;*/
}

.user div {
    font-size: 0.15rem;
    font-weight: 600;
}

.user strong {
    font-size: 0.28rem;
}

/* 底部按钮 */
.btn {
    margin-top:0.17rem;
    width: 100%;
    height: 0.45rem;
    /*background: #D2FFE4;*/
    text-align: center;
}

.btn div {
    width: 2.275rem;
    height: 0.45rem;
    line-height: 0.45rem;
    background: #EF7E2F;
    border-radius: 0.22rem;
    margin: auto;
    color: #fff;
    font-size: 0.16rem;
}

.btn div a {
    display: block;
    color: black;
}






















