body {
    background-color: #fff;
}

/* 头部样式 */
.home {
    width: 100%;
    position: relative;
    /*background-color: #0ff;*/
}

.home .header {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 0.14rem;
}

.arrows {
    width: 0.09rem;
    height: 0.17rem;
    position: absolute;
    top: 0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0.08rem;
    bottom: 0.08rem;
    right: 0.16rem;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}


/* 信息填写 */
/* 姓名样式 */
.big {
    width: 100%;
    /*background-color: #C9C1FF;*/
    padding: 0 0.15rem;
    margin-top: 0.46rem;
}

.big .name {
    width: 100%;
    height: 0.45rem;
    overflow: hidden;
     border-bottom: 0.01rem solid #f5f5f5;
}

.big .name span {
    display: inline-block;
    line-height: 0.45rem;
    height: 100%;
    /*background-color: #f0f;*/
    font-size: 0.14rem;

}

.big .name input {
    font-size: 0.14rem;
    /*background-color: #0f0;*/
    text-align: left;
    margin: 0;
    width: 42%;
    float: right;
    border: none;
    color: #999;
    padding: 0;
}

/* 性别样式 */
.sex {
    width: 100%;
    height: 0.45rem;
    /*overflow: hidden;*/
    /*background-color: #FFBCBC;*/
    border-bottom: 0.01rem solid #f5f5f5;
}

.sex span {
    display: inline-block;
    line-height: 0.45rem;
    height: 100%;
    /*background-color: #f0f;*/
    font-size: 0.14rem;
}

.sex div {
    /*background-color: #f0f;*/
    float: right;
}

.sex div img {
    width: 0.14rem;
    height: 0.14rem;
    margin-right: 0.07rem;
}

.sex div span {
    font-size: 0.14rem;
    color: #666;
}

.sex div .man {
    margin-right: 0.3rem;
}

.sex div .woman {
    margin-right: 0.055rem;
}


/* 身份证样式 */
.big .name .card {
    width: 42%;
}


/* 验证码样式 */
.auth {
    width: 100%;
    height: 0.45rem;
    /*background: #0f0;*/
    overflow: hidden;
    border-bottom: 0.01rem solid #f5f5f5;
}

.auth input ,
.auth span {
    height: 100%;

    display: inline-block;
    /*background-color: #ffff00;*/
}

.auth input {
    font-size: 0.14rem;
    color: #999;
    line-height: 0.45rem;
    width: 30%;
    margin: 0;
    padding: 0;
    border: none;
}

.auth span {
    float: right;
    font-size: 0.12rem;
    width: 0.7rem;
    height: 0.2rem;
    line-height: 0.2rem;
    /*margin-top: 0.14rem;*/
    margin: 0.14rem 0.75rem 0 0;
    background-color: #FF7223;
    text-align: center;
    color: #fff;
    border-radius: 0.05rem;
}

/* 居住地址样式 */

.site {
    width: 100%;
    height: 0.8rem;
    /*background: #0f0;*/
    /*overflow: hidden;*/
    border-bottom: 0.01rem solid #f5f5f5;
}

.site span {
    display: inline-block;
    line-height: 0.45rem;
    height: 100%;
    /*background-color: #f0f;*/
    font-size: 0.14rem;
}

.site textarea {
    width: 42%;
    height: 0.78rem;
    float: right;
    margin: 0;
    font-size: 0.14rem;
    border: none;
    padding: 0.1rem 0 0 0;
    /*background-color: #0f0;*/
}


/* 底部按钮 */
.btn {
    width: 100%;
    height: 0.45rem;
    text-align: center;
    margin-top: 2rem;
}

.btn div {
    width: 3.45rem;
    height: 0.45rem;
    line-height: 0.45rem;
    background-color: #F08331;
    margin: auto;
    color: #fff;
    font-size: 0.16rem;
    border-radius: 0.22rem;
}



















