body {
    background-color: #fff;
}

/* 头部样式 */
.home {
    width: 100%;
    position: relative;
    /*background-color: #0ff;*/
}

.home .header {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 0.14rem;
}

.arrows {
    width: 0.09rem;
    height: 0.17rem;
    position: absolute;
    top: 0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0.08rem;
    bottom: 0.08rem;
    right: 0.16rem;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}


/* 资料审核中样式 */
.datum {
    margin-top: 0.44rem;
    width: 100%;
    /*background: #0f0;*/
    text-align: center;
    padding: 0 0.405rem;
}

.datum img {
    width: 1.655rem;
    height: 1.225rem;
    margin-top: 1.16rem;
}

.datum p {
    margin-top: 0.265rem;
    margin-bottom: 0.44rem;
    text-align: center;
    font-size: 0.18rem;
    color: #000;
}

.datum div {
    font-size: 0.14rem;
    color: #999;
}


/* 底部按钮 */
.btn {
    width: 100%;
    height: 0.45rem;
    text-align: center;
    margin-top: 0.34rem;
}

.btn div {
    width: 1.6rem;
    height: 0.45rem;
    line-height: 0.45rem;
    background: #EF8030;
    color: #fff;
    margin: auto;
    font-size: 0.15rem;
    box-shadow:0 0.02rem 0.015rem 0 rgba(102,102,102,0.49);
    border-radius: 0.22rem;
}

.btn div a {
    color: white;
    display: block;
}























