body {
    background-color: #f5f5f5;
}
/* 头部样式 */
.top {
    top: 0;
    width: 100%;
    color: #000;
    z-index: 999;
    height: 0.44rem;
    position: fixed;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.5rem;
    background-color: #fff;
    letter-spacing: 0.04rem;
}

.top>a {
    top: 0;
    right: 0;
    display: block;
    width: 0.44rem;
    height: 0.44rem;
    position: absolute;
}
.return {
    top: 0;
    left: 0;
    width: 0.2rem;
    position: absolute;
}

.return img {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}

.top img {
    padding: 15%;
    width: 0.15rem;
    display: block;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 0.5rem;
    text-align: center;
    font-size: 0.14rem;
    background: #fff;
    /*margin-top: 0.58rem;*/
}

.header div {
    display: block;
    line-height: 0.5rem;
}

.lok {
    color: #fff;
    background-color: #FF7223;
}

/* 追加付款 */
.append,
.customize {
    padding: 0.12rem;
    box-sizing: border-box;
}
.append{
    padding: 0;
}
.order_name {
    text-align: center;
    position: relative;
    line-height: 0.4rem;
}

.imgs {
    top: 0;
    right: 0;
    width: 0.14rem;
    height: 0.08rem;
    margin: 0.18rem;
    position: absolute;
}

.submit {
    margin:auto;
    color: #fff;
    width: 3.45rem;
    height: 0.44rem;
    text-align: center;
    font-size: 0.18rem;
    line-height: 0.44rem;
    border-radius: 0.05rem;
    background-color: #FF7223;
    margin-top: .7rem;
}

/*.submit {
    width: 100%;
    bottom: 0.5rem;
    position: fixed;
    text-align: center;
}

.submit span {
    color: #fff;
    width: 3.2rem;
    height: 0.36rem;
    font-size: 0.14rem;
    line-height: 0.36rem;
    margin-right: 0.25rem;
    display: inline-block;
    border-radius: 0.16rem;
    background-color: #7D5A40;
}*/

/* 卡片样式 */
.show {
    height: 1.6rem;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-radius: 0.08rem;
    margin-bottom: 0.18rem;
    box-shadow: 0 0 0.05rem #ccc;
}

.order {
    overflow: hidden;
    margin-bottom: 0.25rem;
}

.order .amount {
    width: 72%;
}

.order input {
    width: 100%;
}

.order .sum {
    width: 21%;
    float: left;
    line-height: 0.4rem;
    margin: 0 0.146rem 0 0.09rem;
}

.selects {
    border: 1px solid rgba(0,0,0,.2);!important;
}

.order .remark {
    width: 26%;
    float: left;
    text-align: center;
}

.order .remarks {
    width: 74%;
    display: inline-block;
}

.left {
    height: 100%;
    background-color: #ccc;
}

.left img {
    width: 100%;
    height: 100%;
    display: block;
}

span {
    font-size: 0.14rem;
    color: #333 !important;
}

.money {
    line-height: 0.4rem;
    text-align: center;
}

.right {
    height: 100%;
    text-align: left;
    padding-left: 0.14rem;
}

.right h4 {
    overflow: hidden;
    font-size: 0.14rem;
    line-height: 0.16rem;
    letter-spacing: 0.02rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
}

.identifier {
    margin-top: 0.05rem;
}

.identifier span {
    font-size: 0.12rem;
    line-height: 0.12rem;
}

.shop {
    margin-top: 0.05rem;
}

.shop span {
    font-size: 0.13rem;
    line-height: 0.12rem;
}

.right .payment {
    margin-top: 0.05rem;
}

.right .order {
    margin-top: 0.05rem;
}

.right .service {
    bottom: 0.05rem;
    position: absolute;
}

.right .service span:last-child {
    color: #ffb041;
    margin-left: 0.36rem;
}
/* 完成图标 */
.right .completed {
    right: 0;
    width: 0.52rem;
    bottom: 0.17rem;
    height: 0.51rem;
    position: absolute;
}

.right .completed img {
    width: 100%;
    height: 100%;
    display: block;
}
.popDivBg{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
}
.popDivBox{
  width: 3.45rem;
  height: 2.78rem;
  margin-left: -1.75rem;
  left: 50%;
  margin-top: -1.39rem;
  top: 50%;
  background: #fff;
  border-radius: .1rem;
  position: fixed;
  z-index: 11;
  overflow: hidden;
}

.popHeader{
    height: .44rem;
    width: 3.45rem;
    background: #FF7223;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: .18rem;
  }
  .scrollBox{
    width: 3.45rem;
    height: 2.34rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .popItem{
    height: 1.14rem;
    width: 3.05rem;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .popTop{
    display: flex;
    height: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .popQuanBox{
    display: flex;
    align-items: center;
    
  }
  .popQuanBox>div{
    color: #999999;
    font-size: .14rem;
    margin-left: .05rem;
  }
  .popTime{
    color: #999999;
    font-size: .12rem;
  }
  .quan2{
    color: #FF7223;
    font-size: .19rem;
  }
  .popBottom{
    width: 3.05rem;
    height: .65rem;
    display: flex;
    align-items: center;
    border-bottom: .01rem solid #DDDDDD;
    margin-top: -0.15rem;
    padding-bottom: .1rem;
  }
  .popBottom img{
    width: .4rem;
    height: .4rem;
    min-width: .4rem;
    max-width: .4rem;
    border-radius: .05rem;
    background: #000;
    margin: 0 .1rem 0 .25rem;
  }
  .popImgRight{
    width: 2rem;
    height: 0.5rem;
  }
  .popGoodsName{
    width: 2.3rem;
    display: block;
    color: #333333;
    font-size: .14rem;
    margin: .05rem 0;
  }
  .popGoodsPrice{
    font-size: .14rem;
    color: #FF7223;
    margin: .05rem 0;
  }
  .choo{
    display: block;
    margin-right: 1.72rem;
  }
  .quan{
      width: 0.16rem;
      height: 0.16rem;
  }
  .quan img{
    width: 0.16rem;
    height: 0.16rem;
}
.chooseDiv{
    text-align: left;
    background: #F5F5F5;
    width: 2.45rem;
    margin-left: 1rem;
}
.chooseI{
    display: block;
    font-style: normal;
    font-size: 0.15rem;
    color: #333333;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 2.2rem;
}
.rowtop{
    margin-top: .2rem;
    margin-bottom: 0.2rem;
}

.textAreaBox{
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: .05rem;
}
.textAreaBox>span{
    display: block;
    width: 1.4rem;
}
.textAreaBox>textarea{
    height: 0.7rem;
    border-radius: .05rem;
    margin-right: .15rem;
    margin-top: .15rem;
    border: none !important;
    background: #f5f5f5;
    font-size: .14rem;
    color: #333333;
}
.useBeanBox{
    width: 3.75rem;
    height: .4rem;
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: .05rem;
}
.useBeanBox>span{
    color: #333;
    font-size: .14rem;
}
.beanQuan{
    width: .16rem;
    height: .16rem;
    border: 1px solid #999;
    border-radius: 100%;
}
.beanQuan2{
    width: .16rem;
    height: .16rem;
}
.quanBox{
    margin-left: .2rem;
    margin-right: .1rem;
}
.tips{
    margin-top: .1rem;
    color: #999999;
    font-size: .14rem;
    padding-left: .33rem;
}
/*  */
.marginBottom{
    margin-top: .05rem;
  }
  .chooseOrderItem{
    display: flex;
    align-items: center;
    height: .4rem;
    background: #fff;
    justify-content: space-between;
  }
  .chooseTit{
    font-size: .14rem;
    color: #333333;
    margin-left: .15rem;
  }
  .chooseOrderName{
    font-size: .14rem;
    color: #999999;
    max-width: 2.65rem;
    height: .4rem;
    line-height: .4rem;
  }
  .chooseCon{
    display: flex;
    align-items: center;
    height: .4rem;
  }
  .rightIcon{
    width: .2rem;
    height: .2rem;
    margin-right: .1rem;
    display: block;
  }
  .orderName{
    font-size: .15rem;
    color: #333333;
    height: .44rem;
    line-height: .44rem;
    padding-left: .15rem;
    width: 3.6rem;
    align-items: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .orderDetailBox{
    background: #fff;
    height: 1.39rem;
    margin-bottom: .1rem;
    border-top: 1px solid #f5f5f5;
  }
  .orderGoodsBox{
    display: flex;
  }
  .chooseOrderImg{
    width: .8rem;
    height: .8rem;
    max-width: .8rem;
    min-width: .8rem;
    margin-left: .15rem;
    margin-right: .15rem;
  }
  .chooseOrderStore{
    display: flex;
  }
  .chooseOrderStore>div{
    font-size: .14rem;
    color: #333333;
  }
  .chooseOrderStore>span{
    font-size: .14rem;
    color: #666666;
    display: block;
    max-width: 1.9rem;
  }
  .chooseOrderPay{
    display: flex;
    align-items: center;
    height: .2rem;
    width: 100%;
  }
  .chooseOrderPay>div{
    font-size: .14rem;
    color: #333333;
  }
  .chooseOrderPay>span{
    font-size: .14rem;
    color: #FF7223;
  }
  
  .chooseOrderCreatetime{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .chooseOrderCreatetime>div{
    font-size: .14rem;
    color: #333333;
  }
  .chooseOrderCreatetime>span{
    font-size: .14rem;
    color: #666;
  }
  .chooseOrderImgRight{
    display: flex;
    flex-wrap: wrap;
  }
  .priceOne{
    text-align: right;
    font-size: .14rem;
    color: #333;
    height: .2rem !important;
    height: .4rem !important;
    line-height: .4rem !important;
    padding: 0 !important;
    border: none !important;
  }
  .pl{
    font-size: .14rem;
    color: #999;
  }
  .chooseOrderBakBox{
    width: 3.75rem;
    background: #fff;
    display: flex;
    height: 1.2rem;
    align-items: center;
    margin-top: .05rem;
  }
  .chooseOrderBakBox div{
    font-size: .15rem;
    color: #333333;
    padding-left: .15rem;
  }
  .chooseOrderBakBox div span:first-child{
    padding-right: .2rem;
  }
  .chooseOrderBakBox textarea{
    background: #F5F5F5;
    width: 2.5rem;
    height: .8rem;
    padding: .05rem;
    margin-left: .15rem;
    color: #333;
    font-size: .14rem;
  }
  .marginTop{
    margin-top: .2rem;
  }
  .chooseOrderPay>span{
      color: #FF7223 !important;
  }
  input::-webkit-input-placeholder {
    color: #999;
  }
  input::-moz-placeholder {
    color: #999;
  }
  input::-moz-placeholder {
    color: #999;
  }
  input::-ms-input-placeholder {
    color: #999;
  }
  

  textarea::-webkit-input-placeholder {
    color: #999;
  }
  textarea::-moz-placeholder {
    color: #999;
  }
  textarea::-moz-placeholder {
    color: #999;
  }
  textarea::-ms-input-placeholder {
    color: #999;
  }