body {
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
}

.money  {
    text-align: center;
    margin-top: 0.3rem;
}

.money h3 {
    font-size: 0.3rem;
}

.mutual {
    width: 100%;
    background-color: #fff;
    height: 0.5rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
    padding: 0 3%;
    border-bottom: 0.01rem solid #E4E4E4;
    border-top: 0.01rem solid #E4E4E4;
}

.mutual span {
    font-size: 0.14rem;
    line-height: 0.5rem;
}

.mutual span:first-child {
    float: left;
    color: #989898;
    /*font-size: 0.14rem;*/
}

.mutual span:last-child {
    float: right;
}

.pay {
    height: 0.5rem;
    width: 100%;
    margin-top: 0.2rem;
    box-sizing: border-box;
    padding: 0 3%;
}

.pay button {
    background-color: #07c160;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.05rem;
    color: #fff;
    display: block;
    font-size: 0.16rem;
    font-weight: 600;
}

p {
    margin: 0;
    margin-top: 0.1rem;
    font-size: 0.14rem;
    background-color: lightyellow;
    text-align: center;
}


/*
.return {
    height: 0.4rem;
    width: 100%;
    margin-top: 0.2rem;
    box-sizing: border-box;
    padding: 0 3%;
}

.return button {
    background-color: #ddd;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.05rem;
    color: #fff;
    display: block;
    font-size: 0.14rem;
}
*/
