html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#app {
  /* position: fixed;
    top: 50%;
    transform: translateY(-50%); */
}

/* 顶部样式 */
.header {
  width: 100%;
  /* position: fixed; */
  text-align: center;
  overflow: hidden;
  font-size: 0.15rem;
  margin-top: 0.2rem;
  color: #666;
  margin-bottom: 0.15rem;
  box-sizing: border-box;
  padding: 0 0.57rem;
}

.header img {
  height: 0.9rem;
}

.header .tit {
  font-size: 0.2rem;
  color: #333;
  /* margin-top: 0.2rem; */
}

.header .price {
  color: #333;
  font-size: 0.25rem;
}

.header .price span {
  font-size: 0.2rem;
}

.header .Description {
  width: 100%;
  color: #ff7223;
  font-size: 0.14rem;
}

.btn {
  display: flex;
}

.btn div {
  flex: 1;
  text-align: center;
}

.btn div span {
  display: inline-block;
  height: 0.39rem;
  line-height: 0.39rem;
  padding: 0 0.33rem;
  border: 0.01rem solid #999999;
  border-radius: 0.02rem;
  font-size: 0.14rem;
}

/* 支付成功 */
.succeed {
  height: 0.75rem;
  margin-top: 0.5rem;
  line-height: 0.66rem;
  background-color: #fff;
  border-bottom: 0.09rem solid #e6e6e6;
}

.succeed img {
  width: 0.18rem;
  height: 0.18rem;
  margin: 0 0.1rem 0 0.18rem;
}

.succeed span {
  font-size: 0.14rem;
}

/* 订单信息 */
.news {
  border-bottom: 0.08rem solid #e6e6e6;
}

.news h4 {
  margin: 0;
  height: 0.43rem;
  font-weight: 500;
  font-size: 0.16rem;
  line-height: 0.43rem;
  padding-left: 0.18rem;
  border-bottom: 0.01rem solid #e6e6e6;
}

.news div {
  height: 0.43rem;
  font-weight: 500;
  overflow: hidden;
  font-size: 0.14rem;
  line-height: 0.43rem;
  padding-left: 0.18rem;
  border-bottom: 0.01rem solid #e6e6e6;
}

.news div .dise {
  float: left;
}

.news div .everyday {
  width: 60%;
  float: right;
  overflow: hidden;
  margin-right: 0.18rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* 底部咨询客服信息 */
.news-s {
  margin-top: 0.135rem;
}

.news-s p {
  color: #454545;
  font-size: 0.12rem;
  margin: 0 0 0 0.18rem;
}

/* 查看订单按钮 */
.button {
  bottom: 0;
  width: 100%;
  height: 1rem;
  position: fixed;
  text-align: center;
}

.button .confirm {
  margin-bottom: 0.26rem;
}

.confirm span {
  color: #fff;
  width: 3.2rem;
  height: 0.36rem;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.36rem;
  display: inline-block;
  border-radius: 0.18rem;
  background-color: #ff7223;
}

/* 返回首页按钮 */
.button .confirms {
  margin-bottom: 0.26rem;
}

.confirms span {
  color: #000;
  width: 3.2rem;
  height: 0.36rem;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.36rem;
  display: inline-block;
  border-radius: 0.18rem;
  background-color: #fff;
  border: 0.01rem solid #ff7223;
}
/* 会员广告 */
.member {
  position: relative;
  margin-top: 0.3rem;
  height: 4.71rem;
}

.member .member_img {
  /* height: 2.53rem; */
  width: 100%;
  display: block;
  /* background-color: #ccc; */
}

.member .member_ab {
  box-sizing: border-box;
  padding: 0 0.5rem;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0rem 0.08rem 0.25rem 0rem rgba(217, 202, 198, 0.29);
  overflow: hidden;
}

.member .member_box {
  margin-top: -0.85rem;
  width: 100%;
  height: 3.02rem;
  box-sizing: border-box;
  padding: 0 0.15rem;
  position: absolute;
}

.member .member_ab .member_tit {
  color: #53403d;
  position: relative;
  font-size: 0.24rem;
  margin-top: 0.3rem;
  text-align: center;
}

.member .member_ab .member_tit span::before {
  content: '';
  position: absolute;
  z-index: 15;
  width: 0.28rem;
  height: 0.04rem;
  background: #ff7223;
  border-radius: 0.05rem;
  left: 0;
  top: 0.10rem;
}
.member .member_ab .member_tit span::after {
  content: '';
  position: absolute;
  z-index: 15;
  width: 0.28rem;
  height: 0.04rem;
  background: #ff7223;
  border-radius: 0.05rem;
  right: 0;
  top: 0.10rem;
}

.member .member_ab p {
  text-align: center;
  margin: 0 ;
  margin-top: 0.09rem;
}

.member .member_ab .privilege {
  /* display: flex; */
}

.member .member_ab .privilege div {
  /* flex: 1; */
  float: left;
  width: 50%;
  height: 1.09rem;
  background-color: #ccc;
}

.Join {
  height: 0.47rem;
  margin-top: 0.3rem;
  box-sizing: border-box;
  padding: 0 0.24rem;
  margin-bottom: 0.25rem;
}

.Join span {
  line-height: 0.47rem;
  text-align: center;
  background-color: #FF7223;
  color: #fff;
  font-size: 0.18rem;
  display: block;
  border-radius: 0.23rem;
}