/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .arrow{
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.5rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 内容 */
.content {
    padding:  0.5rem 0 0.64rem 0;
    letter-spacing: 0.02rem;
}

.content .summary {
    width: 100%;
    background-color: #fff;
}

.content .summary h4 {
    font-size: 0.17rem;
    line-height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
}


.content .summary_content .writing {
    font-size: 0.13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* （行数） */
    -webkit-box-orient: vertical;
}

.content .summary_content .writing_js {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
}

/*.content .summary_content .site {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    !* （行数） *!
    -webkit-box-orient: vertical;
}*/


.content .summary span {
    font-size: 0.14rem
}

.content .summary>div>img{
    width: 100%;
    box-sizing: border-box;
    padding: 0.09rem 0 0.1rem 0.16rem;
}

.content .summary_content {
    box-sizing: border-box;
    padding: 0.18rem 0.12rem 0 0.08rem;
}

.content .summary_content .writing {
    font-size: 0.13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* （行数） */
    -webkit-box-orient: vertical;
}

.phone,
.site {
    margin-top: 0.1rem;
    font-size: 0.13rem;
    line-height: 0.18rem;
}


/* 价格 */
.price {
    height: 0.44rem;
    width: 100%;
    background-color: #ffb041;
}

.price span {
    text-align: center;
    line-height: 0.44rem;
    font-size: 0.16rem;
}

.price>span {
    color: #fff;
    font-size: 0.18rem;
}

/* 支付成功logo */
.centers {
    width: 100%;
    height: 100%;
    text-align: center;
}

.centers img {
    width: 0.56rem;
    height: 0.56rem;
}

/* 支付成功 */
.centers .succeed {
    font-size: 0.24rem;
    color: #6BDD9F;
    padding: 0.24rem 0 ;
    margin-bottom: 0;
}

/* 客服内容 */
.centers .thank,.centers .service{
    color: #454545;
    font-size: 0.18rem;
    margin: 0;
}

.centers .zd {
    margin-bottom: 0.485rem;
}

/* 返回图片 */
.return {
    width: 100%;
    height: 100%;
}

.return img {
    width: 1.4rem;
    height: 0.44rem;
}

[v-cloak] {
    display: none;
}

/*.summary span {
    font-size: 0.13rem;
    line-height: 0.18rem;
}*/

.content .summary span {
    font-size: 0.13rem;
    line-height: 0.18rem;
}
.content .summary .introduce {
    font-size: 0.13rem;
    line-height: 0.18rem;
}

.summary .headeImg {
    width: 100%;
    height: 26%;
    box-sizing: border-box;
    padding: 0.09rem 0 0.1rem 0.16rem;
}












































/*
!* 顶部样式 *!
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .arrow{
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.5rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

!* 内容 *!
.content {
    padding:  0.5rem 0 0.64rem 0;
    letter-spacing: 0.02rem;
}

.content .summary {
    width: 100%;
    background-color: #fff;
}

.content .summary h4 {
    font-size: 0.17rem;
    line-height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    !* （行数） *!
    -webkit-box-orient: vertical;
}

.content .summary span {
    font-size: 0.14rem
}

.content .summary>div>img{
    width: 100%;
    box-sizing: border-box;
    padding: 0.09rem 0 0.1rem 0.16rem;
}

.content .summary_content {
    box-sizing: border-box;
    padding: 0.18rem 0.12rem 0 0.08rem;
}

.content .summary_content .writing {
    font-size: 0.13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    !* （行数） *!
    -webkit-box-orient: vertical;
}

.phone,
.introduce,
.summary_content {
    margin-top: 0.1rem;
    font-size: 0.13rem;
    line-height: 0.18rem;
}

!* 价格 *!
.price {
    height: 0.44rem;
    width: 100%;
    background-color: #ffb041;
}

.price span {
    text-align: center;
    line-height: 0.44rem;
    font-size: 0.16rem;
}

.price>span {
    color: #fff;
    font-size: 0.18rem;
}

!* 支付成功logo *!
.centers {
    width: 100%;
    height: 100%;
    text-align: center;
}

.centers img {
    width: 0.56rem;
    height: 0.56rem;
}

!* 支付失败 *!
.centers .succeed {
    font-size: 0.24rem;
    color: #FF5A57;
    padding: 0.24rem 0 ;
    margin-bottom: 0;
}

!* 客服内容 *!
.centers .thank,.centers .service{
    color: #454545;
    font-size: 0.18rem;
    margin: 0;
}

.centers .zd {
    margin-bottom: 0.485rem;
}

!* 返回图片 *!
.return {
    width: 100%;
    height: 100%;
}

.return img {
    width: 1.4rem;
    height: 0.44rem;
}

[v-cloak] {
    display: none;
}

.content .summary_content .writing {
    font-size: 0.13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    !* （行数） *!
    -webkit-box-orient: vertical;
}

!*.content .summary span,.content .summary .introduce{
    font-size: 0.13rem;
    line-height: 0.18rem;
}*!

#phone {
    font-size: 0.13rem;
    line-height: 0.18rem;
}

#site_dz {
    font-size: 0.13rem;
    line-height: 0.18rem;
}

.summary .headeImg {
    width: 100%;
    height: 26%;
    box-sizing: border-box;
    padding: 0.09rem 0 0.1rem 0.16rem;
}



*/
