body {
    background-color: #FAFAFA;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    /*background-color: #f00;*/
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    box-shadow:0 0.01rem 0.04rem 0 #F2F2F2;
}

.header span {
    line-height: 0.5rem;
    font-size: 0.14rem;
    /*padding-right: 0.4rem;*/
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows .imgs {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header .imgs {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

.header .img-s {
    width: 0.18rem;
    height: 0.18rem;
    float: right;
    margin: 0.13rem 0.13rem 0 0;
}

/* 支付成功 */
.succeed {
    background-color: #fff;
    height: 0.75rem;
    line-height: 0.66rem;
    margin-top: 0.5rem;
    border-bottom: 0.09rem solid #E6E6E6;
}

.succeed img {
    width: 0.18rem;
    height: 0.18rem;
    margin: 0 0.1rem 0 0.18rem;
}

.succeed span {
    font-size: 0.14rem;
}


/* 中间部分 */
.img-no {
    height: 2.11rem;
    /*line-height: 2.11rem;*/
    text-align: center;
    background-color: #fff;
    border-bottom: 0.09rem solid #E6E6E6;
}

.img-no img {
    margin-top: 0.34rem;
    width: 1.2rem;
    height: 1.225rem;
}

.img-no p {
    color: #7D5A40;
    font-size: 0.14rem;
}



/* 底部咨询客服信息 */
.news-s {
    /*background-color: #f00;*/
    margin-top: 0.135rem;
}

.news-s p {
    margin: 0 0 0 0.18rem;
    font-size: 0.12rem;
    color: #454545;
}


/* 查看订单按钮 */
.button {
    width: 100%;
    height: 1rem;
    text-align: center;
    /*background-color: #0ff;*/
    position: fixed;
    bottom: 0;
}

.button .confirm {
    /*background-color: #f0f;*/
    margin-bottom: 0.26rem;
}

.confirm span {
    width: 3.2rem;
    height: 0.36rem;
    line-height: 0.36rem;
    text-align: center;
    color: #fff;
    background-color: #7D5A40;
    border-radius: 0.18rem;
    display: inline-block;
    font-size: 0.14rem;
}


/* 返回首页按钮 */
.button .confirms {
    /*background-color: #f0f;*/
    margin-bottom: 0.26rem;
}

.confirms span {
    width: 3.2rem;
    height: 0.36rem;
    line-height: 0.36rem;
    text-align: center;
    color: #7D5A40;
    background-color: #fff;
    border-radius: 0.18rem;
    display: inline-block;
    font-size: 0.14rem;
    border:0.01rem solid #7D5A40;
}



















