<style>td{text-align: right}</style>
{assign name="gmsg" value="$info.goods_msg|json_decode=###,true"}
<table class="table table-striped">
    <tr>
        <td>订单编号</td>
        <th>{$info.snorder}</th>
    </tr>
    <tr>
        <td>应付金额</td>
        <th style="text-decoration: line-through">￥{$info.shouldpay}</th>
    </tr>
    <tr>
        <td>实付金额</td>
        <th style="color: #ff5500">￥<span style="font-size:16px;">{$info.actualpay}</span></th>
    </tr>
    <tr>
    <td>抵扣</td>
        <th style="color: #612e14">￥<span style="font-size:16px;">
                                {empty name='info.virdiscount'}
                                 0.00
                                {else/}
                                {$info.virdiscount.dismoney}
                                {/empty}
        </span></th>
    </tr>
    <tr>
        <td>支付状态</td>
        <th>{$info.is_pay?'支付成功':'支付失败'}</th>
    </tr>
    <tr>
        <td>预约人</td>
        <th>{$info.nickname}</th>
    </tr>
    <tr>
        <td>预约人手机</td>
        <th>{$info.mobile}</th>
    </tr>
    <tr>
        <td>服务地址</td>
        <th>{$info.address}</th>
    </tr>
    <tr>
    <tr>
        <td>店铺名称</td>
        <th>{$info.store.nickname}</th>
    </tr>
    <tr>
        <td>店铺管理人姓名</td>
        <th>{$info.store.ruler}</th>
    </tr>
    <tr>
        <td>店铺管理人手机号</td>
        <th>{$info.store.ruler_phone}</th>
    </tr>
        <td>下单时间</td>
        <th>{$info.create_time|date="Y-m-d H:i",###}</th>
    </tr>
    {volist name="$info.paylog" id="v" key="k"}
    {php}if(3!=$v['attach'])continue;{/php}
    <tr>
        <td>追加付款{$k}</td>
        <th style="color: #ff5500">￥{$v.total_fee/100|sprintf="%.2f",###}</th>
    </tr>
    <tr>
        <td>追加时间{$k}</td>
        <th>{$v.create_time|date="Y-m-d H:i",###}</th>
    </tr>
    {/volist}
</table>