<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>全部订单</em>已更新为模糊搜索，按条件统计总额。订单编号搜索 “20190206” 则为2019-02-06 当日订单，如需当月订单可按"下单时间"搜索</div>
        <!--:build_heading(null, false)}-->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#all" data-toggle="tab">全部订单</a></li>
            <li><a href="#custom" data-toggle="tab">自定义付款</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="all">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a class="btn btn-default" style="font-size:13px;color:dodgerblue;">
                            <i class="fa fa-dollar"></i>
                            <span class="extend">
                                实付总额：<span id="real" style="color: #ff5500">0</span>
                                追加总额：<span id="money" style="color: #ff5500">0</span>
                            </span>
                        </a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-detail="{:$auth->check('shop/orders/index')}"
                           width="100%">
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="custom">
                <div id="toolbar2" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a class="btn btn-default" style="font-size:14px;color:dodgerblue;">
                        <i class="fa fa-dollar"></i>
                        <span class="extend">
                                自定义付款总金额：<span id="total" style="color: #ff5500">0</span>
                            </span>
                    </a>
                </div>
                <table id="table2" class="table table-striped table-bordered table-hover" width="100%">
                </table>
        </div>
    </div>
</div>