<div class="panel panel-default panel-intro">
    {:build_heading()}
    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" style="margin-left: 15px">邀请有奖设置</a></li>
    </ul>-->
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="addcfg">
                <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

                    <div class="form-group">
                        <label for="title" class="control-label col-xs-12 col-sm-2">全站总量/剩余量:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input type="text" class="form-control" id="title" name="row[total]" value="{$row['total']}" data-rule="required; digits" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value" class="control-label col-xs-12 col-sm-2">单人最大限额:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input type="text" class="form-control" id="value" name="row[single]" value="{$row['single']}" data-rule="required; digits" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tip" class="control-label col-xs-12 col-sm-2">每人每天限额:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input type="text" class="form-control" id="day" name="row[day]" value="{$row['day']}" data-rule="required; digits" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rule" class="control-label col-xs-12 col-sm-2">邀请人数（人/张）:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input type="text" class="form-control" id="rule" name="row[rule]" value="{$row['rule']}" data-rule="required; digits" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tip" class="control-label col-xs-12 col-sm-2">有效期（天）:</label>
                        <div class="col-xs-12 col-sm-2">
                            <input type="text" class="form-control" id="tip" name="row[tip]" value="{$row['tip']}" data-rule="required; digits" autocomplete="off" />
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="extend" class="control-label col-xs-12 col-sm-2">{:__('Extend')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <textarea name="row[extend]" id="extend" cols="30" rows="5" class="form-control" data-rule=""></textarea>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">　保存配置　</button>
                            <button type="reset" class="btn btn-default btn-embossed">　重读配置　</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
