<style>th{text-align: right}</style>
<table class="table table-striped">
    <tr>
        <th>用户编号</th>
        <td>{$info.id}</td>
    </tr>
    <tr>
        <th>微信号</th>
        <td>{$info.openid}</td>
    </tr>
    <tr>
        <th>微信昵称</th>
        <td>{$info.nickname}</td>
    </tr>
    <tr>
        <th>姓名</th>
        <td>{$info.name}</td>
    </tr>
    <tr>
        <th>性别</th>
        <td>{$info.sex?'男':'女'}</td>
    </tr>
    <tr>
        <th>服务地址</th>
        <td>{$info.address}</td>
    </tr>
    <tr>
        <th>店铺编号</th>
        <td>{$info.store.st_no}</td>
    </tr>
    <tr>
        <th>店铺名称</th>
        <td>{$info.store.nickname}</td>
    </tr>
    <tr>
        <th>注册时间</th>
        <td>{$info.create_time|date="Y-m-d H:i",###}</td>
    </tr>
    <!--<tr>
        <th>成交单数</th>
        <td></td>
    </tr>
    <tr>
        <th>成交总额</th>
        <td></td>
    </tr>-->
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>