<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--<div class="form-group">
        <label for="c-logintime" class="control-label col-xs-12 col-sm-2">{:__('Logintime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-logintime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[logintime]" type="text" value=">
        </div>
    </div>-->
    <div class="form-group"></div><div class="form-group"></div>
    <div class="form-group" style="vertical-align: middle">
        <label for="c-cost" class="control-label col-xs-4 col-sm-3"
            style="margin-top: 8px;text-align: right">{:__('小哥豆')}:</label>
        <div class="col-xs-6 col-sm-6">
            <input id="c-cost" data-rule="required number" class="form-control" name="row[cost]" type="text" value="">
        </div>
        <div class="col-xs-1"style="margin-top: 8px">个</div>
        <span class="msg-box n-right" for="c-cost"></span>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-4"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
