<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>提现</title>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/shopstore/user/dpindex.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <div class="top">
      <a href="javascript:history.go(-1);">
        <img class="dsa" src="{$Think.const.PUBLIC_RES}/png/aunt/fanhui.png">
      </a>

      <span>提现</span>
      <a href="/index.php/shopstore/user/index">
        <img class="sds" src="{$Think.const.PUBLIC_RES}/png/aunt/fhgrzx.png">
      </a>

    </div>

    <!-- 提现额度 -->
    <div class="limit">
      <div>可提现额度</div>
      <strong v-cloak>￥{{ Math.floor((sumactualpay - sumcash)*100)/100 }}</strong>
      <!-- <p>上次提现时间 : 2019-05-30 14:03</p> -->
    </div>

    <!-- 总营、累计 -->
    <ul>
      <li>
        <div v-cloak>￥{{ sumactualpay }}</div>
        <div>总营业额</div>
      </li>
      <li>
        <div v-cloak>￥{{sumcash}}</div>
        <div>累计收益(元)</div>
      </li>
    </ul>

    <!-- 提现记录 -->
    <div class="record">
      <a href="/index.php/shopstore/index/record">
        <div class="apply">
          <div>提现记录(系统每天中午自动申请)</div>
          <div>每个工作日的14:00-18:00进行日结审核,节假日顺延如果有提现问题,请联系市场人员</div>
        </div>
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/fh.png">
      </a>
    </div>

  </div>

  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        store: [],
        // 总
        sumactualpay: 0,
        // 已
        sumcash: 0
      },
      created:function created() {
        var that = this;
        this.store = JSON.parse(window.localStorage.shopuserContent)
        // 总额度
        axios.get('/index.php/storeapi/v2.order/sumorder', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            admin_id: this.store.bind_store.admin_id,

          }
        }).then(function (res) {
          that.sumactualpay = res.data.data.sumactualpay;
        })
        // 已用额度
        axios.get('/index.php/storeapi/v2.cash/sumcash', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.store.bind_user.id,

          }
        }).then(function (res) {
          that.sumcash = res.data.data;
        })
      },
    })
  </script>

</body>

</html>