<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>提现详情</title>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/shopstore/user/particulars.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <div class="top">
      <a href="javascript:history.go(-1);">
        <img src="{$Think.const.PUBLIC_RES}/png/aunt/fanhui.png">
      </a>
      
      <span>提现记录</span>
    </div>

    <!-- 提现说明 -->
    <ul>
      <li>
        <span>提现时间 : </span>
        <span v-cloak>{{ formatDateTime(order.create_time*1000).time }}</span>
      </li>
      <li>
        <span>提现方式 : </span>
        <span>微信钱包</span>
      </li>
      <li>
        <span>提现金额 : </span>
        <span v-cloak>￥{{ order.amount }}</span>
      </li>
      <li>
        <span>提现状态 : </span>
        <span v-if="order.status==1">待审核</span>
        <span v-if="order.status==2">通过</span>
        <span v-if="order.status==4">冻结</span>
        <span v-if="order.status==5">驳回</span>
      </li>
      <li v-if="order.status==4">
        <span>说明 : </span>
        <span>资金存在异常, 请联系客服</span>
      </li>
      <li v-if="order.status==2">
        <span>说明 : </span>
        <span>已发放</span>
      </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        // 数据
        order: []
      },
      created: function created() {
        var that = this;
        this.order = JSON.parse(window.sessionStorage.withdraw)
      },
      methods: {
        // 时间处理
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
          return {
            y: y,
            m: m,
            d: d,
            h: h,
            minute: minute,
            time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
          }
        }
      },
    })
  </script>

</body>

</html>