<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>提现记录</title>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/shopstore/user/record.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <div class="top">
      <a href="javascript:history.go(-1);">
        <img src="{$Think.const.PUBLIC_RES}/png/aunt/fanhui.png">
      </a>
      
      <span>提现记录</span>
    </div>


    <!-- 订单发起时间 -->
    <ul>
      <li v-for="(item, index) in list" :key="item.id" @click="jump(item)">
        <div class="time">
          <span>订单发起时间: </span>
          <span v-cloak>{{ formatDateTime(item.create_time*1000).time }}</span>
          <span v-if="item.status==1">审核中</span>
          <span v-if="item.status==4">已冻结</span>
          <span v-if="item.status==5">已冻结</span>
          <span v-if="item.status==2" class="pass">审核通过</span>

        </div>
        <div class="operate">
          <span>发起操作: </span>
          <span v-if="item.status!=2">系统自动提现申请</span>
          <span v-if="item.status==2" class="system">系统自动提现申请<span>(资金存在异常,请联系<a
                href="tel:400-8185-088">客服</a>)</span></span>
        </div>
        <div class="deposit">
          <span>提现金额: </span>
          <span v-cloak>￥{{ item.amount }}</span>
          <span>查看详情></span>
        </div>
      </li>
      <li v-if="list==''" class="not">暂无提现记录</li>
    </ul>
  </div>



  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        store: [],
        // 总
        list: '',
      },
      created:function created() {
        var that = this;
        this.store = JSON.parse(window.localStorage.shopuserContent)
        // 总
        axios.get('/index.php/storeapi/v2.cash/getCash', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.store.bind_user.id,
          }
        }).then(function (res) {
          that.list = res.data.data.data;
        })
      },
      methods: {
        // 时间处理
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
          return {
            y: y,
            m: m,
            d: d,
            h: h,
            minute: minute,
            time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
          }
        },
        // 跳转
        jump: function jump(item) {
          window.sessionStorage.setItem('withdraw', JSON.stringify(item))
          window.location.href = "/index.php/shopstore/index/particulars"
        }
      },
    })
  </script>


</body>

</html>