<style>.radio label{width:200px;margin-bottom:30px;display: block;}
.r_input{width:150px;left:100px;position: absolute;}
.r_input input{margin-bottom: 18px;}
.r_text{position: absolute;left: 260px;font-size: 18px}
.r_text .yuan{margin-top: 30px;}
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <div class="col-xs-12">
            当前分类：<strong>{$row.name}</strong>
        </div>
    </div>
    <div style="height: 30px;"></div>
    <div class="form-group">
    <label class="control-label col-sm-2">分成比例：</label>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[type]',['1'=>'按比例','2'=>'按每单'],$row.type)}
        </div>
        <div class="r_input">
            {if $row.type==2} {:Form::text('','',['data-rule'=>'number;range(0.01~)','autocomplete'=>'off'])}{/if}
            {:Form::text('row[rule]', $row.rule, ['data-rule'=>'number;range(0.01~)','autocomplete'=>'off'])}
            {if $row.type!=2}{:Form::text('','',['data-rule'=>'number;range(0.01~)','autocomplete'=>'off'])}{/if}
        </div>
        <div class="r_text">
            <div class="percent">%</div>
            <div class="yuan">元</div>
        </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2">分销封顶设置：</label>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">封顶值:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-mobile"  data-rule="required;number;" data-msg="封顶值"  class="form-control" name="row[to]" type="text" value="{$row.to}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">封顶收益:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-mobile"  data-rule="required;number;" data-msg="封顶收益"  class="form-control" name="row[give]" type="text" value="{$row.give}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}修改</button>
        </div>
    </div>
</form>
