<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">返利设置：</label>
        <textarea name="row[percent]" class="form-control hide" cols="30" rows="10">{$percent}</textarea>
        <div class="col-sm-8 col-xs-12">
            <dl class="fieldlist" data-name="row[percent]" data-template="template">
                <dd>
                    <ins align="center">百分数值</ins>
                </dd>
                <dd><a href="javascript:" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
            </dl>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12" style="text-align: left">请留意排列顺序，由上至下代表：第一个、第二个、第N个订单的返利比率</label>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" style="font-size: 16px" class="btn btn-success">　<i class="fa fa-pencil"></i>保存设置　</button>
        </div>
    </div>

</form>


<script type="text/html" id="template">
    <dd class="form-inline">
        <input type="text" name="<%=name%>[<%=index%>]" class="form-control" value="<%=row%>">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
    </dd>
</script>