body {
    background-color: #fff;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 40;
    border-bottom: 0.01rem solid #F7F7F7;
}

.header .arrow {
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.3rem;
    /*background-color: #f00;*/
}

.header .arrow .imgs {
    width: 0.145rem;
    height: 0.125rem;
    margin-top: 0.19rem;
    /*line-height: 0.125rem;*/
}

.header .arrow .transmit {
    margin-left: 1.35rem;
    color: #000;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 头像部分样式 */
.head {
    width: 100%;
    height: 1rem;
    margin-top: 0.35rem;
    /*background-color: #0ff;*/
    overflow: hidden;
    border-bottom: 0.08rem solid #F7F7F7;
    box-sizing: border-box;
}

.head .imgs{
    width: 0.64rem;
    height: 0.64rem;
    float: left;
    border-radius: 50%;
    margin: 0.2rem 0 0 0.5rem;
}

.head-right {
    display: inline-block;
    /*background-color: #f00;*/
    height: 100%;
    width: 50%;
    margin-left: 0.15rem;
}

.head-right div {
    /*background-color: #0f0;*/
    overflow: hidden;
    margin-top: 0.3rem;
}

.head-right div span {
    float: left;
    margin-top: 0.1rem;
}

.head-right div img {
    width: 0.4rem;
    height: 0.1rem;
    float: left;
    margin-top: 0.05rem;
    margin-left: 0.1rem;
}

.head-right p {
    /*background-color: #f0f;*/
    margin-top: 0.1rem;
}

.head-right p span {
    color: #000;
}

.head-right p .date {
    color: #FF80AC;
}

/* 续费时长 */
.select {
    width: 100%;
    height: 100%;
    /*background-color: #D4D4D4;*/
    overflow: hidden;
    border-bottom: 0.08rem solid #F7F7F7;
}

.select .duration {
    /*background-color: #0ff;*/
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: .14rem;
    color: #000;
    margin-left: 0.1rem;
    margin-bottom: 0;
}

.select ul{
    /*background-color: #D2CCFF;*/
    overflow: hidden;
    margin: 0;
}

.select ul li {
    width: 27%;
    height: 1.4rem;
    text-align: center;
    /*background-color: #0f0;*/
    float: left;
    border-radius: 0.1rem;
    border: 0.01rem solid #FF4081;
    margin: 0.1rem 0 0.1rem 0.18rem;
    position: relative;
}

ul li div {
    margin-top: 0.2rem;
    font-size: 0.12rem;
}

li p {
    color: #000;
    height: 0.3rem;
    line-height: 0.3rem;
    /*background-color: #f00;*/
    margin: 0.1rem 0;
}

li p .price {
    font-size: 0.3rem;
}

ul li del {
    color: #BCB7B7;
    font-size: 0.14rem;
}

ul li img {
    position: absolute;
    top: -0.05rem;
    right: -0.05rem;
    width: 0.4rem;
    height: 0.3rem;
}

/*.select ul .six {
    width: 27%;
    height: 1.4rem;
    text-align: center;
    !*background-color: #0f0;*!
    float: left;
    border-radius: 0.1rem;
    border: 0.01rem solid #000;
    margin: 0.1rem 0 0.1rem 0.18rem;
    position: relative;
}*/


/* 支付样式 */
.payment {
    width: 100%;
    height: 0.7rem;
    /*background-color: #0ff;*/
}

.paymentLeft {
    height: 100%;
    /*background-color: #0f0;*/
    float: left;
    margin-left: 0.195rem;
}

.paymentLeft p {
    color: #FF4081;
    margin: 0;
    margin-top: 0.15rem;
}

.paymentLeft p span {
    color: #000;
}


.paymentLeft div img {
    width: 0.2rem;
    height: 0.2rem;
}

.paymentLeft div span {
    font-size: 0.14rem;
}

.paymentRight {
    /*background-color: #f0f;*/
    width: 1.3rem;
    height: 100%;
    /*line-height: 100%;*/
    float: right;
    margin-right: 0.1rem;
}

.paymentRight p {
    height: 0.5rem;
    text-align: center;
    background-color: #FF4081;
    line-height: 0.5rem;
    color: #fff;
    margin-top: 0.1rem;
    /*font-size: 0.12rem;*/
    border-radius: 0.05rem;
}

/* 尊享特价 */
.enjoy {
    width: 100%;
    /*background-color: #0ff;*/
    overflow: hidden;
    border-bottom: 0.08rem solid #F7F7F7;
}

.enjoy h5 {
    margin: 0.1rem 0 0.1rem 0.1rem;
    color: #000;
}

.priority .priority-s {
    text-align: center;
    width: 20%;
    /*background-color: #f0f;*/
    display: inline-block;
    margin-left: 0.12rem;
    /*float: left;*/
}

.priority-s  img {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.2rem;
}


/* 会员协议 */
.protocol {
    text-align: center;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.14rem;
    border-bottom: 0.08rem solid #F7F7F7;
}

.protocol a {
    color: #FF4081;
}


/* 消费记录 */
.consume {
    /*background-color: #0ff;*/
    height: 0.5rem;
    line-height: 0.5rem;
}

.consume a {
    color: #000;
    margin-left: 0.195rem;
    font-size: 0.16rem;
}

.consume a span {
    float: right;
    margin-right: 0.1rem;
}

















































