
body {
    background-color: #fff;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 40;
    border-bottom: 0.01rem solid #F7F7F7;
}

.header .arrow {
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.3rem;
    /*background-color: #f00;*/
}

.header .arrow .imgs {
    width: 0.145rem;
    height: 0.125rem;
    margin-top: 0.19rem;
    /*line-height: 0.125rem;*/
}

.header .arrow .transmit {
    margin-left: 1.35rem;
    color: #000;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 支付成功 */
.payment {
    /*background-color: #0ff;*/
    width: 100%;
    height: 1.4rem;
    margin-top: 0.5rem;
    border-top: 0.01rem solid #fff;
    border-bottom: 0.05rem solid #FAFAFA;
}

.payment div {
    text-align: center;
    /*background-color: #0f0;*/
    margin-top: 0.35rem;
    /*line-height: 0.7rem;*/
}

.payment div span {
    font-size: 0.18rem;
    color: #454545;
}

.payment div img {
    width: 0.38rem;
    height: 0.38rem;
}

.payment div p {
    font-size: 0.14rem;
    color: #454545;
    margin-top: 0.1rem;
    padding-left: 0.2rem;
}


/* 中间部分 */
ul {
    /*background-color: #0ff;*/
    margin: 0;
}

ul li {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    border-bottom: 0.05rem solid #FAFAFA;
}

ul li span {
    font-size: .14rem;
    color: #454545;
}

ul li span:nth-child(1) {
    margin-left: 0.2rem;
    float: left;
}

ul li span:nth-child(2) {
    margin-right: 0.2rem;
    float: right;
}

ul li .sum {
    color: #DB7931;
}

.miao {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 0.12rem;
}

/* 底部按钮 */

.btn {
    text-align: center;
    width: 3.2rem;
    height: 0.36rem;
    line-height: 0.36rem;
    background-color: #7D5A40;
    color: #fff;
    border-radius: 0.18rem;
    position: fixed;
    bottom: 1.2rem;
    left: 0.275rem;
}








































