
body {
    background-color: #fff;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    z-index: 40;
    border-bottom: 0.01rem solid #F7F7F7;
}

.header .arrow {
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.3rem;
    /*background-color: #f00;*/
}

.header .arrow .imgs {
    width: 0.145rem;
    height: 0.125rem;
    margin-top: 0.19rem;
    /*line-height: 0.125rem;*/
}

.header .arrow .transmit {
    margin-left: 1.35rem;
    color: #000;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 消费记录 */
ul {
    /*background-color: #0ff;*/
    margin: 0;
}

ul li {
    /*margin-top: 0.5rem;*/
    height: 0.77rem;
    /*background-color: #f0f;*/
    border-bottom: 0.05rem solid #FAFAFA;
}

ul li img {
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    border-radius: 50%;
    float: left;
    margin: 0.185rem 0.1rem 0 0.1rem;
}

ul li .member {
    width: 40%;
    height: 100%;
    /*background-color: #E9A77A;*/
    float: left;
    display: inline-block;
}

.member h5 {
    color: #000;
    font-size: 0.14rem;
    margin-top: 0.08rem;
}

.member p {
    margin: 0;
    font-size: 0.1rem;
    color: #999;
}

ul li .price {
    float: right;
    height: 100%;
    line-height: 0.77rem;
    /*background-color: #0f0;*/
    color: #DB7931;
    display: inline-block;
    font-size: 0.12rem;
    margin-right: 0.155rem;
}




























