body {
    background-color: #fff;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 40;
    border-bottom: 0.01rem solid #F7F7F7;
}

.header .arrow {
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.3rem;
    /*background-color: #f00;*/
}

.header .arrow .imgs {
    width: 0.145rem;
    height: 0.125rem;
    margin-top: 0.19rem;
    /*line-height: 0.125rem;*/
}

.header .arrow .transmit {
    margin-left: 1.35rem;
    color: #000;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 头像部分样式 */
.head {
    width: 100%;
    height: 1rem;
    /* margin-top: 0.35rem; */
    /*background-color: #0ff;*/
    overflow: hidden;
    border-bottom: 0.02rem solid #F7F7F7;
    box-sizing: border-box;
}

.head .imgs {
    width: 0.64rem;
    height: 0.64rem;
    float: left;
    border-radius: 50%;
    margin: 0.15rem 0 0 0.3rem;
}

.head-right {
    display: inline-block;
    /*background-color: #f00;*/
    height: 100%;
    width: 50%;
    margin-left: 0.15rem;
    position: relative;
}

.head-right div {
    /*background-color: #0f0;*/
    overflow: hidden;
    margin-top: 0.2rem;
}

.head-right div span {
    float: left;
    width: 100%;
    font-size: 0.14rem;
    /*background-color: #f00;*/
}

.head-right div .dredge {
    font-size: 0.12rem;
    color: #999;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.head-right div span .crown {
    width: 0.17rem;
    height: 0.125rem;
    vertical-align: initial;
}

.head-right div .img-S {
    width: 0.225rem;
    height: 0.215rem;
    position: absolute;
    top: 0.07rem;
    right: 1.98rem;
}

.head-right p {
    /*background-color: #f0f;*/
    margin-top: 0.1rem;
    font-size: 0.14rem;
}

.head-right p span {
    color: #000;
}

.head-right p .date {
    color: #DB7931;
}

/* 续费时长 */
.select {
    width: 100%;
    /*background-color: #D4D4D4;*/
    overflow: hidden;
    border-bottom: 0.05rem solid #F7F7F7;
}

.select .duration {
    /*background-color: #0ff;*/
    height: 0.3rem;
    line-height: 0.38rem;
    font-size: .14rem;
    color: #333;
    margin-left: 0.195rem;
    margin-bottom: 0;
    font-weight: 600;
}

.select .choose {
    width: 100%;
    height: 0.3rem;
    /*background-color: #f0f;*/
}

.select .choose a {
    float: right;
    margin-right: 0.15rem;
    color: #999;
    text-decoration: underline;
    font-size: 0.12rem;
    font-weight: 400;
}

.select .list {
    /*background-color: #D2CCFF;*/
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.select .list .six {
    background-color: #FFF3EB;
}

.select ul li {
    width: 27%;
    height: 1.4rem;
    text-align: center;
    /*background-color: #0f0;*/
    float: left;
    border-radius: 0.1rem;
    border: 0.01rem solid #FF7223;
    margin: 0.1rem 0 0.1rem 0.18rem;
    position: relative;
}

.list li div {
    margin-top: 0.2rem;
    font-size: 0.12rem;
}

li p {
    color: #000;
    height: 0.3rem;
    line-height: 0.3rem;
    /*background-color: #f00;*/
    margin: 0.1rem 0;
}

li p .price {
    color: #FF7223;
    font-size: 0.3rem;
}

.list li del {
    color: #BCB7B7;
    font-size: 0.14rem;
}

.list li img {
    position: absolute;
    top: -0.01rem;
    right: -0.01rem;
    width: 0.4rem;
    height: 0.4rem;
}

/*.select ul .six {
    width: 27%;
    height: 1.4rem;
    text-align: center;
    !*background-color: #0f0;*!
    float: left;
    border-radius: 0.1rem;
    border: 0.01rem solid #000;
    margin: 0.1rem 0 0.1rem 0.18rem;
    position: relative;
}*/

/* 推广 */
.promotion {
    margin-top: 0.05rem;
    margin-left: 0.18rem;
    font-size: 0.12rem;
    position: relative;
}

.promotion span {
    position: absolute;
    /* top: 0.02rem; */
    left: 0.25rem;
}

.promotion i>img {
    width: 0.2rem;
    height: 0.2rem;
}

/* 支付样式 */
.payment {
    width: 100%;
    height: 0.48rem;
    /*background-color: #0ff;*/
    border-bottom: 0.05rem solid #F7F7F7;
}

.paymentLeft {
    height: 100%;
    /*background-color: #0f0;*/
    float: left;
    margin-left: 0.195rem;
    line-height: 0.43rem;
}

.paymentLeft p {
    color: #DB7931;
    margin: 0;
    margin-top: 0.15rem;
}

.paymentLeft p span {
    color: #000;
}


.paymentLeft div img {
    width: 0.18rem;
    height: 0.155rem;
}

.paymentLeft div span {
    font-size: 0.14rem;
}

.paymentRight {
    /*background-color: #f0f;*/
    width: 0.15rem;
    height: 100%;
    /*line-height: 100%;*/
    float: right;
    margin-right: 0.15rem;
}

.paymentRight img {
    width: .15rem;
    height: 0.15rem;
    text-align: center;
    /*background-color: #DB7931;*/
    /*line-height: 0.5rem;*/
    color: #fff;
    margin-top: 0.16rem;
    /*font-size: 0.12rem;*/
    border-radius: 0.05rem;
}

/* 尊享特价 */
.enjoy {
    width: 100%;
    /*background-color: #0ff;*/
    overflow: hidden;
    border-top: 0.05rem solid #f7f7f7;
    border-bottom: 0.05rem solid #F7F7F7;
}

.enjoy h5 {
    margin: 0.1rem 0 0.1rem 0.195rem;
    color: #333;
    font-weight: 600;
}

.priority .priority-s {
    text-align: center;
    width: 20%;
    /*background-color: #f0f;*/
    display: inline-block;
    margin-left: 0.12rem;
    /*float: left;*/
}

.priority-s img {
    width: 0.3rem;
    height: 0.3rem;
}

.priority-s p {
    color: #333;
    margin-top: 0.1rem;
}


/* 会员协议 */
.protocol {
    text-align: left;
    height: 0.41rem;
    line-height: 0.43rem;
    font-size: 0.12rem;
    position: relative;
    margin-left: 0.195rem;
    overflow: hidden;
}

.protocol img {
    width: 0.15rem;
    height: 0.13rem;
    float: right;
    margin-top: 0.15rem;
}

.protocol input {
    position: absolute;
    top: 44%;
    left: 18%;
}

.protocol a {
    color: #DB7931;
    text-decoration: none;
    display: inline-block;
    width: 71.5%;
}

/* 会员专享价样式 */
.members {
    width: 100%;
    /*height: 100%;*/
    line-height: 0.46rem;
    /*background-color: #DAFFE5;*/
    padding: 0 0.15rem;
}

.expect {
    margin-bottom: 0.55rem;
}

.members .memberS {
    width: 100%;
    height: 0.46rem;
    padding: 0;
    /*background-color: #DBC8FF;*/
}

.members .memberS img {
    width: 0.1rem;
    height: 0.1rem;
    margin-right: 0.075rem;
}

.members .memberS span {
    font-size: 0.15rem;
    color: #333;
}

.members .memberS a {
    float: right;
    font-size: 0.12rem;
    color: #999;
}

/* 商城图片样式 */
.members .commodity {
    width: 100%;
    height: 0.97rem;
    margin-bottom: 0.15rem;
}

/* 产品样式 */
.members .product {
    margin: 0;
    width: 100%;
    /*background-color: #E9CFFF;*/
    overflow: hidden;
}

.members .product li {
    width: 31.9%;
    height: 1.43rem;
    text-align: center;
    border: 0.01rem solid #999;
    border-radius: 0.05rem;
    position: relative;
    float: left;
    margin-right: 0.07rem;
}

.members .product li:nth-child(3) {
    margin: 0;
}

.members .product li img {
    width: 100%;
    height: 0.9rem;
    border-radius: 0.04rem;
}

.product li .have {
    width: 0.5rem;
    height: 0.17rem;
    background: #FF7223;
    font-size: 0.12rem;
    color: #fff;
    line-height: 0.18rem;
    /*display: inline-block;*/
    position: absolute;
    left: 0;
    top: 0.73rem;
    border-radius: 0 0.05rem 0.05rem 0;
}

.product li p {
    font-size: 0.12rem;
    text-align: left;
    height: 0.15rem;
    margin: 0 0 0 0.06rem;
}

.product li .price {
    /*background-color: #0ff;*/
    width: 100%;
    height: 0.2rem;
    text-align: left;
    margin-left: 0.06rem;
}

li .price span {
    font-size: 0.18rem;
    color: #FF7223;
}

li .price del {
    font-size: 0.12rem;
    color: #999;
}


/* 底部按样式 */
.btn {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    color: #fff;
    font-size: 0.15rem;
    background-color: #FF7223;
    position: fixed;
    bottom: 0;
}

/* 验证手机 */

/* 蒙版样式 */
.masking {
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    background: rgba(0, 0, 0, 1);
    /* display: none; */
}

.binding {
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: auto;
    width: 2.88rem;
    position: fixed;
    height: 3.505rem;
    padding: 0 0.25rem;
    background-color: #fff;
    border-radius: 0.05rem;
    transform: translate(-50%,-50%);
    /* display: none; */
}

.binding .logo {
    left: 26%;
    top: -20%;
    width: 1.41rem;
    height: 1.41rem;
    position: absolute;
}

.binding p {
    color: #333;
    margin-bottom: 0;
    font-size: 0.21rem;
    text-align: center;
    margin-top: 0.765rem;
}


/* 手机号样式 */
.phones {
    width: 100%;
    overflow: hidden;
    margin-top: 0.25rem;
}

.phones img {
    float: left;
    width: 0.28rem;
    height: 0.28rem;
    margin-top: 0.05rem;
}

.phones input {
    margin: 0;
    float: left;
    width: 87.7%;
    border: none;
    border-radius: 0;
    font-size: 0.14rem;
    padding: 0 0 0 0.05rem;
    border-bottom: 0.01rem solid #ddd;
}


/* 验证码样式 */
.password {
    width: 100%;
    overflow: hidden;
    margin-top: 0.21rem;

}

.password .xhx {
    width: 87%;
    float: right;
    height: 0.41rem;
    border-bottom: 0.01rem solid #ddd;
}

.password img {
    float: left;
    width: 0.28rem;
    height: 0.28rem;
    margin-top: 0.05rem;
}

.password input {
    margin: 0;
    width: 50%;
    float: left;
    border: none;
    border-radius: 0;
    font-size: 0.14rem;
    padding: 0 0 0 0.05rem;
}

.password span {
    width: 37.6%;
    float: right;
    color: #FF7223;
    font-size: 0.14rem;
    text-align: center;
    margin-top: 0.09rem;
    display: inline-block;
    border-left: 0.01rem solid #FF7223;
}


/* 备注样式 */
.binding .remark {
    color: #999;
    height: 0.27rem;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.15rem;
    margin: 0.145rem 0 0 0;
}


/* 底部按钮样式 */
.binding .btn {
    color: #fff;
    width: 2.3rem;
    height: 0.45rem;
    text-align: center;
    margin: 0.2rem auto;
    font-size: 0.175rem;
    line-height: 0.45rem;
    border-radius: 0.5rem;
    background-color: #FF7223;
}


/* 取消按钮样式 */
.cancel {
    left: 45%;
    z-index: 2;
    bottom: -16%;
    position: absolute;
}

.cancel img {
    width: 0.345rem;
    height: 0.345rem;
}

.Switch {
    width: 100%;
    display: flex;
    margin-bottom: 0.02rem;
}

.Switch div {
    flex: 1;
    padding: 0 12%;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
}


.Switch div span {
    display: block;
    line-height: 0.44rem;
}

.Switch .Selected {
    color: #FF7223;
    border-bottom: 0.01rem solid #FF7223;
}


/* 消费记录 */
/*
.consume {
    !*background-color: #0ff;*!
    height: 0.5rem;
    line-height: 0.5rem;
}

.consume a {
    color: #000;
    margin-left: 0.195rem;
    font-size: 0.12rem;
    display: block;
}

.consume a span {
    float: right;
    margin-right: 0.15rem;
    font-size: 0.16rem;
}

.consume a span>img {
    height: 0.15rem;
    margin-top: 0.15rem;
}*/












