<style>th{width: 100px;text-align: right}</style>
<table class="table table-striped">
    <tr>
        <th>序号</th>
        <td>{$row.id}</td>
    </tr>
    <tr>
        <th>操作者ID</th>
        <td>{$row.admin_id}</td>
    </tr>
    <tr>
        <th>登录名</th>
        <td>{$row.admin?$row.admin.username:''}</td>
    </tr>
    <tr>
        <th>店铺名称</th>
        <td>{$row.store?$row.store.nickname:''}</td>
    </tr>
    <tr>
        <th>模块名称</th>
        <td>{$row.module_name}</td>
    </tr>
    <tr>
        <th>操作内容</th>
        <td>{$row.op_name}</td>
    </tr>
    <tr>
        <th>操作备注</th>
        <td><div style="width: 200px;display: block;overflow: fragments">{$row.remark|urldecode}</div></td>
    </tr>
    <tr>
        <th>创建时间</th>
        <td>{$row.create_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>