<form id="edit-form" class="form-horizontal form-ajax" role="form" method="POST" action="">
    <input type="hidden" name="row[rules]" value="" />
    <div class="form-group">
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Parent')}:</label>-->
        <div class="col-xs-12 col-sm-8">
           <!-- :build_select('row[pid]', $parent, $row['pid'], ['class'=>'form-control selectpicker','data-id'=>$row['id'], 'data-pid'=>$row['pid']])-->
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-8 col-sm-2">{:__('Parent')}:</label>
        <div class="col-xs-8 col-sm-2">
             {:build_select('row[pid]', $groupdata,$groupids,['class'=>'form-control', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-8 col-sm-2">
            <input type="text" class="form-control" id="name" name="row[name]" value="{$row.name}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">权重:</label>
        <div class="col-xs-8 col-sm-2">
            <input type="text" class="form-control" id="power" name="row[power]" value="{$row.power}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">能否支付:</label>
        <div class="col-xs-8 col-sm-2">
            {:build_select('row[ispay]', ['0'=>'否', '1'=>'能'],$row['ispay'])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2 col-xs-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
