<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>分类</title>

    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/goods/new_classify.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <div id="wrapper">
            <div id="scroller">
                <ul class="ulList">
                    <li :class="sort==0?'sort':''" @tap="Switch()">全部</li>
                    <li :class="sort==item.id?'sort':''" v-for="(item, index) in list" @tap="Switch(item)"
                        :key="item.id">
                        {{ item.name }}</li>
                </ul>
            </div>
        </div>
        <div id="wrapper1">
            <div id="scroller1">
                <ul class="ul_list">
                    <li class="list" v-for="(item, index) in commodity" :key="item.id">
                        <a :href="url+'?id='+item.id" v-cloak>
                            <img :src="'/'+item.img[0]" v-cloak>
                            <!-- <img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg">-->
                            <p v-cloak>{{ item.name }}</p>
                        </a>
                    </li>
                    <div v-show="commodity==''" class="wu">
                        此分类暂无商品
                    </div>
                </ul>
            </div>
        </div>
        <!-- <div id="footer"> -->
        <ul class="bottom" v-show="type==0" v-cloak ref="xx">
            <li>
                <a :href="'/index.php/mobile/index/index/'+date+'/'">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/SY01.png">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a :href="'/index.php/mobile/goods/classify/'+date+'/'">
                    <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/FL02.png">
                    <p class="order">分类</p>
                </a>
            </li>
            <li>
                <a :href="'/index.php/mobile/order/number/'+date+'/'">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/DD01.png">
                    <p>订单</p>
                </a>
            </li>
            <li>
                <a :href="'/index.php/mobile/user/index/'+date+'/'">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/GR01.png">
                    <p>个人</p>
                </a>
            </li>
        </ul>
        <!-- </div> -->
    </div>



    <script type="text/javascript"
        src="{$Think.const.PUBLIC_RES}/js/iscroll/js/iscroll.js?{$Think.config.fastadmin['v_api']}"></script>
    <script type="text/javascript"
        src="{$Think.const.PUBLIC_RES}/js/iscroll/demoUtils.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // clientHeight: '',
                // bottom_height: '',
                area_id: '',
                date: '',
                // 分类选项
                list: [],
                // 分类id
                sort: '',
                // 所有的商品列表
                commodity: [],
                // 时间戳
                create_time: '',
                // 跳转url
                url: '',
                // 分享人id
                cans: {
                    to: ''
                },
                type: 0,
                // 用户数据
                user: [],
                // 所有列表详情
                all: {},
                myScroll: null,
                myScroll1: null,
            },
            created: function created() {
                this.date = new Date().valueOf();
                var that = this;
                // 用户数据
                this.user = JSON.parse(window.localStorage.userContent)

                // 获取链接数据
                var can = decodeURI(location.href).split('mobile/')[1].split('/');

                for (var i = 0; i < can.length; i += 2) {
                    this.cans[can[i]] = can[i + 1];
                }
                if (this.cans.cate != '' && this.cans.cate < 30) {
                    if (this.cans.cate == 0) {
                        this.sort = ''
                    } else {
                        this.sort = this.cans.cate;
                    }
                }

                if (this.cans.to) {
                    window.localStorage.setItem('toid', this.cans.to);
                    window.localStorage.setItem('mystore', 1);
                    window.localStorage.setItem('userstore', 0);
                }
                // ?????????????????????
                document.addEventListener('touchmove', function (e) { e.preventDefault(); }, isPassive() ? {
                    capture: false,
                    passive: false
                } : false);

                // 分类
                axios.get('/index.php/mapi/Category/getall', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.list = res.data.data;
                });
                // 商品列表
                axios.get('/index.php/mapi/goods/rest', {
                    params: {
                        store_id: 1,
                        'other[cate]': this.sort
                    }
                }).then(function (res) {
                    that.commodity = res.data.data.data;
                    that.create_time = res.data.data.create_time;
                    that.url = res.data.data.url;

                    setTimeout(function () {
                        that.myScroll = new IScroll('#wrapper', { keyBindings: true });
                        that.initialization()
                    }, 500);
                });

                // 判断是哪里来的
                this.cans.to = window.localStorage.toid
                // window.localStorage.userstore
                if (window.localStorage.userstore == 0) {
                    // if (this.cans.to == "undefined") {
                    this.type = 0
                    // } else {
                    //   if (this.cans.to == this.user.id) {
                    //     this.type = 1
                    //   } else {
                    //     this.type = 0
                    //   }
                    // }
                } else {
                    this.type = 1
                }
                // 执行分享
                that.Share()
                // 分享jssdk

            },
            methods: {
                Switch: function Switch(item) {
                    var that = this;
                    if (item == null) {
                        this.sort = "";
                    } else {
                        this.sort = item.id;
                    }
                    axios.get('/index.php/mapi/goods/rest', {
                        params: {
                            store_id: 1,
                            'other[cate]': this.sort
                        }
                    }).then(function (res) {
                        that.commodity = res.data.data.data;
                        that.create_time = res.data.data.create_time;
                        that.url = res.data.data.url;

                        setTimeout(function () {
                            that.initialization()
                        }, 500);
                        if (that.commodity == '') {
                            mui.toast('暂无此类产品', {
                                duration: '1000ms',
                                type: 'div'
                            });
                        } else if (that.commodity !== []) {
                            // mui.toast('类型更新', {
                            //     duration: '1000ms',
                            //     type: 'div'
                            // });
                        }
                    });
                },
                initialization: function initialization() {
                    var that = this;
                    that.myScroll1 = new IScroll('#wrapper1', { keyBindings: true });
                },
                // 分享
                Share: function Share() {
                    wx.config({
                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
                        timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
                        nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
                        signature: '{$jssdk.signature}', // 必填，签名
                        jsApiList: [
                            //把需要的接口加入至列表
                            'onMenuShareTimeline', //分享给好友
                            'onMenuShareAppMessage', //分享到朋友圈
                            'onMenuShareQQ', //分享到QQ
                            'onMenuShareWeibo', //分享到微博
                            'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
                        ]
                    });
                    wx.ready(function () {
                        var that = this;
                        if (that.sort == 1) {
                            var Copywriting = '8大服务项目，7大服务区域，4无服务标准，专业更安心'
                        } else if (that.sort == 2) {
                            var Copywriting = '10年经验清洗师，专业清洗工具，给您创造健康家居环境'
                        } else if (that.sort == 3) {
                            var Copywriting = `故障报修30天，配件报修90天
	                            服务就近安排，30分钟极速上门`
                        } else {
                            var Copywriting = `有家就有小哥帮，专注家庭秘书服务！
	                            保洁、清洗、维修、月嫂、保姆、消杀…..`
                        }
                        // 是不是分享来的

                        if (window.localStorage.toid != 'undefined') {
                            var toid = window.localStorage.toid;
                        } else {
                            var toid = that.user.id;
                        }
                        // 自己店铺推荐
                        if (window.localStorage.mystore == 1) {
                            var tourl = '/mystore/1/' + 'to/' + toid
                            var title = that.store_name
                        } else {
                            var tourl = ''
                            var title = "小哥帮"
                        }
                        var shareData = {
                            title: title,
                            //标题
                            desc: Copywriting,
                            //简介，这里请特别注意是要去除html
                            link: window.location.href + tourl,
                            imgUrl: "{$Think.config.web_host}" + "{$Think.const.PUBLIC_RES}/png/icons/xgblogo.png",
                            success: function success(res) {
                                // 用户确认分享后执行的回调函数
                                if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' ||
                                    'ShareWeibo:ok') {
                                    // mui.toast('分享成功', {
                                    //     duration: '1000ms',
                                    //     type: 'div'
                                    // });
                                } else {
                                    mui.toast('分享失败', {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                }
                            },
                            cancel: function cancel(res) { // 用户取消分享后执行的回调函数
                            }
                        };
                        wx.onMenuShareAppMessage(shareData);
                        wx.onMenuShareTimeline(shareData);
                        wx.onMenuShareQQ(shareData);
                        wx.onMenuShareWeibo(shareData);
                    });

                }
            },
            mounted: function mounted() {
                mui('body').on('tap', 'a', function () {
                    window.top.location.href = this.href;
                });
            },
        })
    </script>
</body>

</html>