<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/goods/comment.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>全部评价</title>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icon/return.png" />
            </a>
            <span>评价</span>
        </div>
        <!-- 评价 -->
        <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="mui-table-view mui-table-view-chevron">
                    <div class="evaluation" v-for="(item, index) in comment.list" :key="index" v-cloak>
                        <div class="user">
                            <i><img :src="item.user.pic"></i>
                            <span v-cloak>{{ item.user.name[0]+'***' }}</span>
                        </div>
                        <div class="comment">
                            <span v-cloak>{{ item.comment }}</span>
                        </div>
                        <div class="image">
                            <img :src="'/'+it" v-for="(it, i) in item.imgs.split(',')" :key="i" v-show="it != ''"
                                v-cloak>
                        </div>
                        <!-- 追加评价  -->
                        <!-- <div class="add">
                            <p>追加评价</p>
                            <img src="{$Think.const.PUBLIC_RES}/png/icon/down.png" />
                        </div>
                        <p class="add_p">李阿姨打扫的很干净，现在每次服务都找她。</p> -->
                        <div class="other">
                            <span v-cloak>{{ new Date(item.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>
                            <div class="awesome" @click='like(item)' v-if="item.like == 0" v-cloak>
                                <i><img src="{$Think.const.PUBLIC_RES}/png/icon/awesome.png"></i>
                                <span v-cloak>{{ item.like_num }}</span>
                            </div>
                            <div class="awesome" @click='unlike(item)' v-else v-cloak>
                                <i><img src="{$Think.const.PUBLIC_RES}/png/icon/awesome.png"></i>
                                <span v-cloak>{{ item.like_num }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    
    <script>
        'use strict';

        new Vue({
            el: '#app',
            data: {
                // 店铺id
                store_id: '',
                // 商品id
                id: '',
                // 用户id
                uid: '',
                // 评价列表
                comment: '',
                // 起始评价条数
                page: 0
            },
            created: function created() {
                var that = this;
                // 获取产品id
                if (decodeURI(location.search)) {
                    this.store_id = decodeURI(location.search).split("&")[0].split("=")[1];
                    this.id = decodeURI(location.search).split("&")[1].split("=")[1];
                }
                // 用户id
                if (window.localStorage.userContent != 'null') {
                    this.uid = JSON.parse(window.localStorage.userContent).id;
                }
                // 评价内容
                axios.get('/index.php/mapi/comment', {
                    params: {
                        gid: that.id,
                        uid: that.uid,
                        start: that.page
                    }
                }).then(function (res) {
                    that.page += 10;
                    console.log(res);
                    that.comment = res.data.data;
                });
            },

            methods: {
                // 点赞
                like: function like(item) {
                    console.log(item);
                    var that = this;
                    axios.post('/index.php/mapi/like', {
                        uid: that.uid,
                        comment_id: item.id
                    }, {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        // console.log(res);
                        if (res.data.code == 1) {
                            item.like_num += 1;
                            item.like = 1;
                        } else {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    });
                },
                // 取消点赞
                unlike: function unlike(item) {
                    var that = this;
                    axios.delete('/index.php/mapi/like', {
                        params: {
                            uid: that.uid,
                            comment_id: item.id
                        }
                    }, {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        // console.log(res);
                        if (res.data.code == 1) {
                            item.like_num -= 1;
                            item.like = 0;
                        } else {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    });
                }
            },
            updated: function updated() {
                var that = this;
                // mui 控件
                mui.init({
                    pullRefresh: {
                        container: '#pullrefresh',
                        down: {
                            callback: pulldownRefresh
                        },
                        up: {
                            contentrefresh: '正在加载...',
                            contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
                            callback: pullupRefresh
                        }
                    }
                });
                /**
                 * 下拉刷新具体业务实现
                 */
                function pulldownRefresh() {
                    var _this2 = this;

                    // console.log('刷新了');
                    axios.get('/index.php/mapi/comment', {
                        params: {
                            gid: that.id,
                            uid: that.uid,
                            start: 0
                        }
                    }).then(function (res) {
                        that.page = 10;
                        that.comment = res.data.data;
                        mui.toast('刷新成功', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        _this2.endPullupToRefresh(false);
                    });
                    mui('#pullrefresh').pullRefresh().refresh(true);
                    mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
                }
                var count = 0;
                /**
                 * 上拉加载具体业务实现
                 */
                function pullupRefresh() {
                    var _this3 = this;

                    // console.log('加载了');
                    axios.get('/index.php/mapi/comment', {
                        params: {
                            gid: that.id,
                            uid: that.uid,
                            start: that.page
                        }
                    }).then(function (res) {
                        that.page += 10;
                        var arr = res.data.data.list;
                        // console.log(res);
                        for (var i in arr) {
                            that.comment.push(arr[i]);
                        }
                        if (res.data.data.list == '') {
                            _this3.endPullupToRefresh(true);
                            mui("#pullrefresh").endPullupToRefresh(true);
                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了
                        }
                        _this3.endPullupToRefresh(false);
                        mui('#pullrefresh').pullRefresh().endPullupToRefresh();
                    });
                }
                mui('body').on('tap', 'a', function () {
                    window.top.location.href = this.href;
                });
            }
        });
    </script>
</body>

</html>