<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/star/css/font-awesome.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/goods/examine.css?{$Think.config.fastadmin['v_api']}">
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 顶部 -->
        <!-- <div class="top">
            <img :src="order.emp[0].pic" v-cloak>
            <div class="name">
                <div v-cloak>{{ order.emp[0].name }}</div>
                <div v-cloak>{{ order.order.goods_name }}</div>
                <div v-cloak>{{ formatDateTime(order.fu_end*1000).time }}完成任务</div>
            </div>
        </div> -->

        <!-- 评价 -->
        <div class="Comment">

            <div class="star">
                <span>仪表整洁</span>
                <div id="visit" class="star_star"></div>
                <span v-if="Math.ceil(visit) == 1">很差</span>
                <span v-if="Math.ceil(visit) == 2">一般</span>
                <span v-if="Math.ceil(visit) == 3">满意</span>
                <span v-if="Math.ceil(visit) == 4">非常满意</span>
                <span v-if="Math.ceil(visit) == 5">无可挑剔</span>
            </div>
            <div class="star">
                <span>服务专业</span>
                <div id="cleaning" class="star_star"></div>
                <span v-if="Math.ceil(cleaning) == 1">很差</span>
                <span v-if="Math.ceil(cleaning) == 2">一般</span>
                <span v-if="Math.ceil(cleaning) == 3">满意</span>
                <span v-if="Math.ceil(cleaning) == 4">非常满意</span>
                <span v-if="Math.ceil(cleaning) == 5">无可挑剔</span>
            </div>
            <div class="star">
                <span>态度热情</span>
                <div id="service" class="star_star"></div>
                <span v-if="Math.ceil(service) == 1">很差</span>
                <span v-if="Math.ceil(service) == 2">一般</span>
                <span v-if="Math.ceil(service) == 3">满意</span>
                <span v-if="Math.ceil(service) == 4">非常满意</span>
                <span v-if="Math.ceil(service) == 5">无可挑剔</span>
            </div>
            <textarea v-model="bak" readonly></textarea>
        </div>

    </div>

    <script src="{$Think.const.PUBLIC_RES}/star/js/star.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // 上门
                visit: '',
                // 保洁
                cleaning: '',
                // 服务
                service: '',
                // 评价
                bak: '',
                order: []
            },
            created() {
                var that = this;
                this.order = JSON.parse(window.sessionStorage.noComment)
                // 上门
                that.new_star('#visit', that.order.assess[0].meter_score);
                // 保洁
                that.new_star('#cleaning', that.order.assess[0].server_score);
                // 服务
                that.new_star('#service', that.order.assess[0].manner_score);
                this.bak = that.order.assess[0].detail;
            },
            methods: {
                // 星星插件初始化
                new_star: function new_star(e, star) {
                    var that = this;
                    new Star({
                        el: e,
                        number: 5,//一共有几颗星
                        starNumber: star,//默认选择几颗星
                        isHalf: false,//是否需要显示半星
                        starSize: 24,//星的大小,填写的值为font-size
                        color: 'orange',//星的颜色
                        success: function (number) {
                            //选择完毕回调
                            // console.log('选择评分为：', number)
                            // var number = number;
                            // obj(number, that)
                        }
                    })
                },
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    }
                },
            },
        })

    </script>

</body>

</html>