<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>商品详情</title>

  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/star/css/font-awesome.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/goods/goods_detail.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <style>
    .mui-toast-container {
      bottom: 50% !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- 蒙版 -->
    <div class="masking" style="display: none" v-show="is_bind==1">

    </div>
    <div v-show="is_bind==1" style="display: none" class="binding">
      <img class="logo" class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/logo1.png" />
      <p>绑定手机号</p>

      <!-- 手机号 -->
      <div class="phones">
        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/shouji.png" />
        <input type="number" placeholder="请输入手机号" v-model="phone">
      </div>

      <!-- 验证码 -->
      <div class="password">
        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/mima1.png" />
        <div class="xhx">
          <input type="text" maxlength="6" placeholder="请输入验证码" v-model="verification">
          <span class="identifying" @tap='msg' v-if="for_if==0">获取验证码</span>
          <span class="identifying" v-else>获取验证码</span>
        </div>
      </div>

      <!-- 备注 -->
      <p class="remark">
        注: 手机号作为您账户的唯一标识,用
        于身份验证，会员优惠等用途
      </p>

      <!-- 按钮 -->
      <div class="btn" @click='register'>
        提交
      </div>
      <!-- 取消按钮 -->
      <div class="cancel" @tap='is_bind=0'>
        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi1.png" />
      </div>
    </div>

    <div class="content">
      <div id="slider">
        <!-- <img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg"> -->
        <img :src="'/'+product.inoc" />
      </div>
    </div>

    <!-- 价格 -->
    <div class="sold">
      <div class="money">
        <div>
          <span>￥</span>
          <span class="moneys" v-cloak>{{ product.commonprice }}</span>
        </div>
        <p v-cloak>&nbsp; &nbsp;会员价:￥{{product.vipprice}}</p>
        <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/yuanbian.png">
      </div>
      <div class="out" v-cloak>已售{{ product.virtual_times }}件</div>
      <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/beijiingtu.png">
    </div>

    <!-- 标题 -->
    <h4 class="h4-s" v-cloak>{{ product.name }}</h4>


    <!-- 开通会员 -->
    <div class="dredgeMember" v-show="user.interval==0" v-cloak>
      <a href="/mobile/vip/index/v/1.0.0.20190119/rand/1553155409">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/huiyuan.png">
        <span id="back">开通会员，此服务立减{{ Math.floor(product.commonprice*100 - product.vipprice*100)/100 }}</span>
        <div>立即开通 ></div>
      </a>
    </div>
    <div class="dredgeMember" v-show="user.interval==-1" v-cloak>
      <a href="/mobile/vip/index/v/1.0.0.20190119/rand/1553155409">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/huiyuan.png">
        <span id="back">续费会员，此服务立减{{ Math.floor(product.commonprice*100 - product.vipprice*100)/100 }}</span>
        <div href="/mobile/vip/index/v/1.0.0.20190119/rand/1553155409">立即续费 ></div>
      </a>
    </div>
    <div class="dredgeMember" v-show="user.interval==1" v-cloak>
      <img src="{$Think.const.PUBLIC_RES}/png/icons/huangg.png">
      <span>你是尊贵的会员,此服务享受会员价</span>
    </div>

    <!-- 拼单 -->
    <div class="grabOne" v-if="product.is_grob==1" v-cloak>
      <div class="grabTwo">
        <span class="take" v-cloak>{{ group.length }}人在拼团，可直接参与</span>
        <div class="grab" v-for="(item, index) in group_show" :key="item.id">
          <img :src="item.user.pic" v-cloak>
          <span class="name" v-cloak>{{ item.user.name[0] }}**</span>
          <span class="number">还差1人拼成</span>
          <span class="share" @tap='groupBink(item)'>去拼单</span>
        </div>
      </div>
    </div>
    <!-- 商品详情 和 评价 -->
    <div class="Switch">
      <div @tap='Switch = 0'>
        <span :class="Switch == 0?' Selected':''">商品详情</span></div>
      <div @tap='Switch = 1'>
        <span :class="Switch == 1?' Selected':''">评价</span></div>
    </div>
    <div class="data" v-show="Switch == 0" v-html="product.detail.detail" v-cloak></div>
    <div class="discuss" v-show="Switch == 1" v-cloak>
      <div class="synthesis">

        <div class="star" :class="comment==''?'weizhi':''">
          <div>综合评分 &nbsp;<span class="brown" v-cloak>{{ shuju.avg_s }}</span></div>
          <div id="Scores"></div>
        </div>
        <!-- <span class="good">好评率80%</span> -->
        <a href="/index.php/mobile/goods/whole_discuss">
          <span v-show="comment!=''" class="all">全部 ></span>
        </a>

      </div>

      <ul>
        <li v-for="(item, index) in comment" :key="item.id" class="pinglun">
          <div class="img_S">
            <img :src="JSON.parse(item.json_user).pic">
            <img v-show="JSON.parse(item.json_user).vip_now == 1" src="{$Think.const.PUBLIC_RES}/png/icons/huangg.png">
          </div>
          <div class="name">
            <div v-cloak>匿名用户</div>
            <span>打分</span>
            <div :id="'visit'+index" class="star_star"></div>
          </div>
          <div class="expense">
            <div v-cloak>{{ formatDateTime(item.create_time*1000) }}</div>
            <div>消费后评价</div>
          </div>
          <p v-cloak :class="(!item.all|| item.all==0)?'all':''">
            {{ item.detail }}
          </p>
          <div class="quanwen" v-if="item.detail.substring(25,26)!=''">
            <span class="blue" v-if="!item.all||item.all==0" @tap="quanwen(item)">全文</span>
            <span v-if="item.all==1" @tap="quanwen(item)">收起</span>
          </div>
        </li>
        <li class="zanwu" v-if="comment==''">还未收到评价</li>
      </ul>
    </div>


    <!-- 底部 -->
    <div class="footer" v-if="product.is_grob==1" v-cloak>
      <span class="footer-money" v-if="user.interval==1" v-cloak>
        <del v-cloak>¥{{ product.commonprice }}</del>
        ¥{{ product.vipprice }}
      </span>
      <span class="footer-money" v-else-if="user.interval!=1" v-cloak>
        ¥{{ product.commonprice }}
      </span>
      <div class="sponsor" @tap='order(4)' v-if="participate==0">
        <span class="sponsor-span1" v-cloak>¥{{ product.grabprice }}</span>
        <span class="sponsor-span2">发起拼团</span>
      </div>
      <div class="sponsor" @tap='orders(4)' v-else if="participate==1">
        <span class="sponsor-span1" v-cloak>¥{{ product.grabprice }}</span>
        <span class="sponsor-span2">参与拼团</span>
      </div>
      <span v-if="product.is_del == 1 || product.status == 0" class="buy" style="background-color: #ccc;">已下架</span>
      <span v-else class="buy" @tap='order(1)'>直接购买</span>
    </div>


    <div class="footers" v-if="product.is_grob==0" v-cloak>
      <span class="footers-money" v-if="user.interval==1" v-cloak>
        <del v-cloak>¥{{ product.commonprice }}</del>
        ¥{{ product.vipprice }}
      </span>
      <span class="footers-money" v-else-if="user.interval!=1" v-cloak>
        ¥{{ product.commonprice }}
      </span>
      <span v-if="product.is_del == 1 || product.status == 0" class="buy" style="background-color: #ccc;">已下架</span>
      <span v-else class="buy" @tap='order(1)'>直接购买</span>
    </div>

  </div>
</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/star/js/star.noclick.js?{$Think.config.fastadmin['v_api']}"></script>

<script>
  'use strict';

  var app = new Vue({
    el: '#app',
    data: {
      // 产品id
      id: '',
      // 店铺id
      store_id: '',
      // 产品内容
      product: [],
      // 应付
      shouldpay: '',
      // 实付
      actualpay: '',
      // 备注
      bak: 'sx',
      // 用户id
      user: null,
      // 判断是否弹出数量选着
      order_number: 0,
      // 产品个数
      quantity: 1,
      // 拼团id
      group_id: '',
      // 参与拼团状态
      participate: 0,
      // 拼团信息
      group: [],
      // 拼团展示内容
      group_show: [],
      // 拼团显示到的条数
      group_num: 0,
      // 链接参数
      url: {},
      // 分享链接
      share: '',
      // 分享人的店铺名
      store_name: '',
      // 注册弹框
      is_bind: 0,
      // 注册手机号
      phone: '',
      // 返回验证码
      message: '',
      // 输入的验证码
      verification: '',
      // 获取验证码判断
      for_if: 0,
      // 倒计时
      countdown: 60,
      // 切换详情页和评价
      Switch: 0,
      // 评价列表
      comment: [],
      shuju: []
    },
    // 事件
    methods: {
      // 下单
      order: function order(i) {
        var _this = this;
        this.openid = window.localStorage.openid;
        axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            openid: this.openid
          }
        }).then(function (res) {
          _this.user = res.data.data;
          var userContent = JSON.stringify(_this.user);
          window.localStorage.setItem("userContent", userContent);
          window.localStorage.setItem('priceType', i);
          axios.post('/index.php/mapiv2/myorder/checkbind', {
            uid: _this.user.id
          }, {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              }
            }).then(function (res) {

              if (res.data.code == 0) {

                _this.is_bind = 1;

                return false;

              }

              if (window.localStorage.getItem('ispay') == 0) {

                mui.toast(window.localStorage.getItem('typ') + "服务正在上线中，敬请期待");

                return;

              }
              if (_this.product.is_del == 1 || _this.product.status == 0) {
                mui.toast('该商品已下架', {
                  duration: '1000ms',
                  type: 'div'
                });
                return false
              }
              if (window.sessionStorage.city_status) {

                if (window.sessionStorage.city_status != 1) {
                  mui.toast('尊敬的用户，感谢您选择小哥帮！当地服务系统正在升级与优化，服务即将开放，敬请期待！', {
                    duration: '1000ms',
                    type: 'div'
                  });
                  return false
                }
              }
              window.sessionStorage.setItem("goods_url", JSON.stringify(_this.url))
              window.location.href = res.data.data.url + location.search;
            });
        })

      },
      // 时间处理
      formatDateTime: function formatDateTime(inputTime) {
        var date = new Date(inputTime);
        // var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? '0' + m : m;
        var d = date.getDate();
        d = d < 10 ? '0' + d : d;
        // var h = date.getHours();
        // h = h < 10 ? '0' + h : h;
        // var minute = date.getMinutes();
        // var second = date.getSeconds();
        // minute = minute < 10 ? '0' + minute : minute;
        // second = second < 10 ? '0' + second : second;
        return m + '-' + d;
      },
      msg: function msg() {
        var _this = this;

        axios.get('/index.php/mapi/commonapi.ajaxcommon/sms', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            phone: this.phone,
            type: 2
          }
        }).then(function (res) {
          // console.log(res);
          _this.message = res.data.data;
          if (res.data.code == 0) {
            mui.toast(res.data.msg, {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          mui.toast('验证码已发送', {
            duration: '1000ms',
            type: 'div'
          });
          $('.identifying').css('background-color', '#ccc');
          _this.for_if = 1;
          var that = _this;
          _this.time = setInterval(that.timeout, 1000);
        });
      },
      // 验证码样式更改
      timeout: function timeout() {
        this.countdown--;
        $('.identifying').text('请稍等(' + this.countdown + 's)');

        if (this.countdown == 0) {
          clearTimeout(this.time);
          $('.identifying').css('background-color', '');
          $('.identifying').text('获取验证码');
          this.countdown = 60;
          this.for_if = 0;
        }
      },
      // 注册提交
      register: function register() {
        var that = this;
        if (!this.phone) {
          mui.toast('请输入手机号', {
            duration: '1000ms',
            type: 'div'
          });
          return false;
        }
        ;
        if (!this.verification) {
          mui.toast('请输入验证码', {
            duration: '1000ms',
            type: 'div'
          });
          return false;
        }
        ;
        // 判断验证码
        if (this.message == this.verification) {
          // 上传
          axios.post('/index.php/mapi/Binduser/rest', {
            phone: this.phone
          }, {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              }
            }).then(function (res) {
              // console.log(res);
              that.user = res.data.data.id;
              window.localStorage.setItem('userContent', JSON.stringify(res.data.data))
              if (res.data.code == 1) {
                mui.toast('注册成功', {
                  duration: '1000ms',
                  type: 'div'
                });
                if (window.sessionStorage.city_status) {

                  if (window.sessionStorage.city_status != 1) {
                    mui.toast('尊敬的用户，感谢您选择小哥帮！当地服务系统正在升级与优化，服务即将开放，敬请期待！', {
                      duration: '1000ms',
                      type: 'div'
                    });
                    return false
                  }
                }
                window.sessionStorage.setItem("goods_url", JSON.stringify(that.url))
                window.location.href = '/index.php/mobile/order/order_details/';
              } else {
                mui.toast('注册失败,' + res.data.msg, {
                  duration: '1000ms',
                  type: 'div'
                });
                window.location.reload();
              }
            });
        } else {
          mui.toast('短信输入错误', {
            duration: '1000ms',
            type: 'div'
          });
          return false;
        }
      },
      // 发起拼团
      orders: function order(i) {
        var that = this;
        window.localStorage.setItem('priceType', i);
        axios.post('/index.php/mapiv2/myorder/checkbind', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          }
        }).then(function (res) {
          // console.log(res);
          that.participate = 2;
          window.localStorage.setItem('participate', that.participate);
          window.location.href = res.data.data.url + location.search;
        });
      },
      // 星星插件初始化
      new_star: function new_star(e, star) {
        var that = this;
        star = Math.floor(Number(star) * 10) / 10
        var str = String(star).split('.')[1]
        if (str) {
          if (str < 5) {
          } else {
            star = String(star).split('.')[0] + '.0'
            star = String(star).split('.')[0] + '.5'
          }
        }
        new Star({
          el: e,
          number: 5,//一共有几颗星
          starNumber: star,//默认选择几颗星
          isHalf: true,//是否需要显示半星
          starSize: 15,//星的大小,填写的值为font-size
          color: '#FF7223',//星的颜色
          success: function (number) {
            //选择完毕回调
            // console.log('选择评分为：', number)
            // var number = number;
            // obj(number, that)
          }
        })
      },
      quanwen: function quanwen(item) {
        // item.all == 1
        console.log(item.all);
        if (item.all == 0) {
          item.all = 1;
        } else if (item.all == 1) {
          item.all = 0;
        }
      },
      // 参与拼团
      groupBink: function groupBink(item) {
        console.log(item);
        var that = this;
        window.localStorage.setItem('priceType', 4);
        axios.post('/index.php/mapiv2/myorder/checkbind', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          }
        }).then(function (res) {
          that.participate = 2;
          window.localStorage.setItem('participate', that.participate);
          window.localStorage.setItem('group_id', item.id);
          window.location.href = res.data.data.url + location.search;
        });
      },
      // 店铺拼团切换
      groupS: function groupS() {
        if (this.group_num < this.group.length) {
          this.group_show = [];
          this.group_show.push(this.group[this.group_num]);
          this.group_show.push(this.group[this.group_num + 1]);
          this.group_num += 2;
        } else {
          this.group_num = 0;
          this.group_show = [];
          this.group_show.push(this.group[this.group_num]);
          this.group_show.push(this.group[this.group_num + 1]);
          this.group_num += 2;
        }
      },
      wssdk: function wssdk() {
        var _this2 = this;
        wx.ready(function () {
          var date = new Date().valueOf();
          if (_this2.product.cate == 1) {
            var Copywriting = '8大服务项目，7大服务区域，4无服务标准，专业更安心'
          } else if (_this2.product.cate == 2) {
            var Copywriting = '10年经验清洗师，专业清洗工具，给您创造健康家居环境'
          } else if (_this2.product.cate == 3) {
            var Copywriting = `故障报修30天，配件报修90天
	                            服务就近安排，30分钟极速上门`
          } else {
            var Copywriting = `有家就有小哥帮，专注家庭秘书服务！
	                            保洁、清洗、维修、月嫂、保姆、消杀…..`
          }
          // 是不是分享来的

          if (window.localStorage.toid != 'undefined') {
            var toid = window.localStorage.toid;
          } else {
            var toid = _this2.user.id;
          }
          // 自己店铺推荐
          if (window.localStorage.mystore == 1) {
            var tourl = '/mystore/1/' + 'to/' + toid
            var title = _this2.store_name
          } else {
            var tourl = ''
            var title = "小哥帮"
          }
          var shareData = {
            title: title + ' - ' + _this2.product.name + '，推荐给你们哦！', //标题
            desc: Copywriting, //简介，这里请特别注意是要去除html
            link: "{$Think.config.web_host}" + '/mobile/goods/goods_detail' +
              '/id/' + _this2.url.id + '/store_id/' + _this2.store_id + tourl,
            imgUrl: "{$Think.config.web_host}" + '/' + _this2.product.pic,
            success: function success(res) {
              // 用户确认分享后执行的回调函数
              if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' ||
                'ShareWeibo:ok') {
                mui.toast('分享成功', {
                  duration: '1000ms',
                  type: 'div'
                });
              } else {
                mui.toast('分享失败', {
                  duration: '1000ms',
                  type: 'div'
                });
              }
            },
            cancel: function cancel(res) {
              // 用户取消分享后执行的回调函数
            }
          };
          wx.onMenuShareAppMessage(shareData);
          wx.onMenuShareTimeline(shareData);
          wx.onMenuShareQQ(shareData);
          wx.onMenuShareWeibo(shareData);
        });
      }

    },
    // 初始化后
    created: function created() {
      var _this2 = this;
      var can = decodeURI(location.href).split('mobile/')[1].split('/')
      for (var i = 0; i < can.length; i += 2) {
        this.url[can[i]] = can[i + 1]
      }
      this.id = this.url.id;
      if (this.url.store_id) {
        this.store_id = this.url.store_id;
      } else {
        this.store_id = 1;
      }
      if (this.url.to != undefined) {
        window.localStorage.setItem('toid', this.url.to)
        window.localStorage.setItem('mystore', this.url.mystore)
      }
      window.sessionStorage.setItem("goods_url", JSON.stringify(_this2.url))

      if (this.id) {

      } else {
        //  获取链接
        if (decodeURI(location.search)) {
          // 判断是否是店铺列表进来还是商品列表进来
          var can = decodeURI(location.search).split('?')[1].split('&');
          for (var i = 0; i < can.length; i++) {
            var aaa = can[i].split('=');
            for (var j = 0; j < aaa[0].length; j += 2) {
              this.url[aaa[j]] = aaa[j + 1];
            }
          }
          this.id = this.url.id;
          if (this.url.store_id) {
            this.store_id = this.url.store_id;
          } else {
            this.store_id = 1;
          }
        } else if (window.localStorage.goods_id) {
          // 本地取
          this.group_id = window.localStorage.group_id;
          this.id = window.localStorage.goods_id;
          this.store_id = window.localStorage.store_id;
          this.participate = window.localStorage.participate;
        }
      }


      // 存数据
      window.localStorage.setItem('store_id', this.store_id);
      window.localStorage.setItem('goods_id', this.id);

      // 产品详情
      axios.get('/index.php/mapi/goodsdetail/rest', {
        params: {
          store_id: this.store_id,
          id: this.id
        }
      }).then(function (res) {
        _this2.product = res.data.data.data;
        window.localStorage.setItem('goods_detail', JSON.stringify(_this2.product));
        //是否能下单
        if (res.data.data.data.cate_data) {
          window.localStorage.setItem('ispay', res.data.data.data.cate_data.ispay);
          window.localStorage.setItem('typ', res.data.data.data.cate_data.name);
        }
        // 扫码进来直接判断有无注册
        if (_this2.url.s == 1) {
          _this2.order(1)
        }
      });

      // 拿拼团信息
      axios.get('/index.php/api/shopapi/assemble/get_goods_assemble', {
        params: {
          goods_id: this.id
        }
      }).then(function (res) {
        _this2.group = res.data;
        // 拼团列表
        if (_this2.group != '') {
          setInterval(function () {
            _this2.groupS();
          }, 2000);
        }
      });

      // 评价信息
      axios.get('/index.php/mobileapi/v2/Assess/getGodosAssess', {
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        },
        params: {
          goodsid: this.id,
          limit: 10
        }
      }).then(function (res) {
        _this2.comment = res.data.data.data;

        for (var i = 0; i < _this2.comment.length; i++) {
          _this2.$set(_this2.comment[i], 'all', 0)
        }
      });

      // 评价分数
      axios.get('/index.php/mobileapi/v2.Assess/getAvgAssess', {
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        },
        params: {
          goodsid: this.id
        }
      }).then(function (res) {
        _this2.shuju = res.data.data[0];
      });


      wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
        timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
        nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
        signature: '{$jssdk.signature}', // 必填，签名
        jsApiList: [
          //把需要的接口加入至列表
          'onMenuShareTimeline', //分享给好友
          'onMenuShareAppMessage', //分享到朋友圈
          'onMenuShareQQ', //分享到QQ
          'onMenuShareWeibo', //分享到微博
          'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
        ]
      });

    },
    updated: function updated() {
      var that = this;
      that.new_star('#Scores', that.shuju.avg_s)
      for (var i = 0; i < this.comment.length; i++) {
        // const element = array[index];
        that.new_star('#visit' + i, this.comment[i].avg_assess);
      }
    },
    mounted: function mounted() {
      var that = this;
      //  判断本地有无用户信息
      if (window.localStorage.userContent) {
        that.user = JSON.parse(window.localStorage.userContent)
        // 获取来源用户信息
        if (window.localStorage.mystore == 1) {
          var toid = window.localStorage.toid
          axios.get('/index.php/mapiv2/Userstore/rest', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              uid: toid
            }
          }).then(function (res) {
            that.store_name = res.data.data.store_data.name;
            that.wssdk()
          });
        } else {
          that.store_name = that.user.user_store[0].name
          that.wssdk()
        }
      } else {
        this.openid = window.localStorage.openid;
        axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            openid: this.openid
          }
        }).then(function (res) {
          that.user = res.data.data;
          var userContent = JSON.stringify(that.user);
          window.localStorage.setItem("userContent", userContent);

          // 获取来源用户信息
          if (window.localStorage.mystore == 1) {
            var toid = window.localStorage.toid
            axios.get('/index.php/mapiv2/Userstore/rest', {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              },
              params: {
                uid: toid
              }
            }).then(function (res) {
              that.store_name = res.data.data.store_data.name;
              that.wssdk()
            });
          } else {
            that.store_name = that.user.user_store[0].name
            that.wssdk()
          }
        });
      }

    },
    watch: {
      // 深度 watcher
      // 产品数量
      quantity: {
        handler: function handler(val, oldVal) {
          var that = this;
          if (this.quantity < 1) {
            this.quantity = 1;
          }
          this.quantity = Math.ceil(this.quantity);
        },
        deep: true
      }
    }
  });
</script>

</html>