<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/goods/goods_list.css?{$Think.config.fastadmin['v_api']}">
  <title>小哥帮</title>
</head>

<body>

  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="/index.php/mobile/index/store">
        <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <span>店铺首页</span>
      <a href="/index.php/mobile/user/index">
        <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/register.png" />
      </a>
    </div>

    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll">
        <!-- 店铺店名 -->
        <div class="firm">
          <img class="img-s" :src="heade.ico" v-cloak />
          <div class="firm-s">
            <h4 v-cloak>{{ heade.nickname }}</h4>
            <p v-cloak>{{ heade.back }}</p>
            <!--<div class="imgs">-->
            <a href="tel:4008185088">
              <img src="{$Think.const.PUBLIC_RES}/png/icons/dianhua.png" />
              <span v-cloak> {{ heade.telphone }}</span>
            </a>
            <!--</div>-->
          </div>
        </div>


        <!-- 底部列表 -->
        <ul>
          <li v-for="(item, index) in store" :key="index" v-cloak>
            <a :href="url+'?store_id='+store_id+'&id='+item.id">
              <img class="img-s" :src="'/'+item.pic" />
              <h4 v-cloak>{{item.name}}</h4>
              <p v-cloak>{{item.brief}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    var app = new Vue({
      el: "#app",
      data: {
        // 店铺数组
        store: [],
        heade: [],
        // 页码
        page: 0,
        // 节点返回时间
        create_time: '',
        // 店铺id
        store_id: '',
        // 产品id
        id: '',
        // 跳转链接
        url: '',
        // 筛选
        cate: '',
        //选择类型
        genre: [],
        // 分享
        cans: {}
      },
      // 事件
      methods: {
        Share: function Share() {
          wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "{$jssdk.appId}", // 必填，公众号的唯一标识
            timestamp: "{$jssdk.timestamp}", // 必填，生成签名的时间戳
            nonceStr: "{$jssdk.nonceStr}", // 必填，生成签名的随机串
            signature: "{$jssdk.signature}", // 必填，签名
            jsApiList: ['getLocation', 'onMenuShareTimeline', //分享给好友
              'onMenuShareAppMessage', //分享到朋友圈
              'onMenuShareQQ', //分享到QQ
              'onMenuShareWeibo', //分享到微博
              'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
            ]
          });
          wx.ready(function () {
            var that = this;
            if (that.sort == 1) {
              var Copywriting = '8大服务项目，7大服务区域，4无服务标准，专业更安心'
            } else if (that.sort == 2) {
              var Copywriting = '10年经验清洗师，专业清洗工具，给您创造健康家居环境'
            } else if (that.sort == 3) {
              var Copywriting = `故障报修30天，配件报修90天
	                            服务就近安排，30分钟极速上门`
            } else {
              var Copywriting = `有家就有小哥帮，专注家庭秘书服务！
	                            保洁、清洗、维修、月嫂、保姆、消杀…..`
            }
            // 是不是分享来的

            if (window.localStorage.toid != 'undefined') {
              var toid = window.localStorage.toid;
            } else {
              var toid = that.user.id;
            }
            // 自己店铺推荐
            if (window.localStorage.mystore == 1) {
              var tourl = '/mystore/1/' + 'to/' + toid
              var title = that.store_name
            } else {
              var tourl = ''
              var title = "小哥帮"
            }
            var shareData = {
              title: title,
              //标题
              desc: Copywriting,
              //简介，这里请特别注意是要去除html
              link: window.location.href.split('?')[0] + tourl + window.location.search,
              imgUrl: "{$Think.config.web_host}" + "{$Think.const.PUBLIC_RES}/png/icons/xgblogo.png",
              success: function success(res) {
                // 用户确认分享后执行的回调函数
                if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' ||
                  'ShareWeibo:ok') {
                  mui.toast('分享成功', {
                    duration: '1000ms',
                    type: 'div'
                  });
                } else {
                  mui.toast('分享失败', {
                    duration: '1000ms',
                    type: 'div'
                  });
                }
              },
              cancel: function cancel(res) { // 用户取消分享后执行的回调函数
              }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
          });

        }
      },
      // 初始化后
      created: function created() {
        var _this = this;
        // 获取链接数据
        var can = decodeURI(location.href).split('?')[0];
        can = can.split('mobile/')[1].split('/');

        for (var i = 0; i < can.length; i += 2) {
          this.cans[can[i]] = can[i + 1];
        }

        if (this.cans.to) {
          window.localStorage.setItem('toid', this.cans.to);
          window.localStorage.setItem('mystore', 1);
          window.localStorage.setItem('userstore', 0);
        }
        this.Share();

        if (decodeURI(location.search)) {
          this.store_id = decodeURI(location.search).split("=")[1];
          // 店铺头部
          axios.get('/index.php/mapi/storedetail/rest', {
            params: {
              store_id: this.store_id
            }
          }).then(function (res) {
            _this.heade = res.data.data;
            window.localStorage.setItem('store', JSON.stringify(_this.heade));
          });
        } else {
          this.heade = JSON.parse(window.localStorage.store);
          this.store_id = this.heade.store_id;
        }
        // 店铺产品列表
        axios.get('/index.php/mapi/goods/rest', {
          params: {
            store_id: this.store_id,
            limit: 6,
            'other[cate]': this.cate
          }
        }).then(function (res) {
          console.log(res);
          _this.page = 6;
          _this.store = res.data.data.data;
          _this.create_time = res.data.data.create_time;
          _this.url = res.data.data.url;
        });

        // 选择类型
        axios.get('/index.php/mapi/Category/getall', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          }
        }).then(function (res) {
          // console.log(res);
          _this.genre = res.data.data;
          // this.all=res.data.data;
        });
      },
      mounted: function mounted() { },
      updated: function updated() {
        var that = this;
        // mui 控件
        mui.init({
          pullRefresh: {
            container: '#pullrefresh',
            down: {
              callback: pulldownRefresh
            },
            up: {
              contentrefresh: '正在加载...',
              contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
              callback: pullupRefresh
            }
          }
        });

        /**
         * 下拉刷新具体业务实现
         */
        function pulldownRefresh() {
          var _this2 = this;

          // console.log('刷新了');
          axios.get('/index.php/mapi/goods/rest', {
            params: {
              store_id: that.store_id,
              limit: 6,
              'other[cate]': that.cate
            }
          }).then(function (res) {
            // console.log(res);
            mui.toast('刷新成功', {
              duration: '1000ms',
              type: 'div'
            });
            that.page = 6;
            that.store = res.data.data.data;
            that.create_time = res.data.data.create_time;
            // console.log(that.store);
            _this2.endPullupToRefresh(false);
          });
          mui('#pullrefresh').pullRefresh().refresh(true);
          mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
        }

        var count = 0;

        /**
         * 上拉加载具体业务实现
         */
        function pullupRefresh() {
          var _this3 = this;

          // console.log('加载了');
          axios.get('/index.php/mapi/goods/rest', {
            params: {
              store_id: that.store_id,
              limit: that.page + ',6',
              create_time: that.create_time,
              'other[cate]': that.cate
            }
          }).then(function (res) {
            // console.log(res);
            that.create_time = res.data.data.create_time;
            that.page += 6;
            var arr = res.data.data.data;
            for (var i in arr) {
              that.store.push(arr[i]);
            }
            if (res.data.data.is_ture == 0) {
              _this3.endPullupToRefresh(true);
              mui("#pullrefresh").endPullupToRefresh(true);
              mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了
            }

            // console.log(that.store);
            _this3.endPullupToRefresh(false);
            mui('#pullrefresh').pullRefresh().endPullupToRefresh();
          });
        }

        mui('body').on('tap', 'a', function () {
          window.top.location.href = this.href;
        });
      },

      //  业务筛选
      watch: {
        // 深度 watcher
        cate: {
          handler: function handler(val, oldVal) {
            var _this4 = this;

            axios.get('/index.php/mapi/goods/rest', {
              params: {
                store_id: this.store_id,
                limit: 6,
                'other[cate]': this.cate
              }
            }).then(function (res) {
              // console.log(res);
              _this4.page = 6;
              _this4.store = res.data.data.data;
              _this4.create_time = res.data.data.create_time;
              // console.log(this.store);
              _this4.url = res.data.data.url;
              // console.log(this.url);
              if (_this4.store == '') {
                mui.toast('暂无此类产品', {
                  duration: '1000ms',
                  type: 'div'
                });
              } else if (_this4.store !== []) {
                mui('#pullrefresh').pullRefresh().refresh(true);
                mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
                mui.toast('类型更新', {
                  duration: '1000ms',
                  type: 'div'
                });
              }
            });
          },
          deep: true
        }
      }
    });
  </script>
</body>

</html>