<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/star/js/star.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/star/css/font-awesome.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/goods/noComment.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" type="text/cs./assets/plugins/font-awesome/css/font-awesome.min.css">
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 顶部 -->
        <!-- <div class="top">
            <img :src="order.emp[0].pic">
            <div class="name">
                <div v-cloak>{{ order.emp[0].name }}</div>
                <div v-cloak>{{ order.order.goods_name }}</div>
                <div v-cloak>{{ formatDateTime(order.fu_end*1000).time }}完成任务</div>
            </div>
        </div> -->

        <div id="main">
            <!-- 评价 -->
            <div class="Comment">
                <h5>您对服务/上门人员还满意吗</h5>
                <div class="star">
                    <span>仪表整洁</span>
                    <div id="visit" class="star_star"></div>
                    <span v-if="Math.ceil(visit) == 1">很差</span>
                    <span v-if="Math.ceil(visit) == 2">一般</span>
                    <span v-if="Math.ceil(visit) == 3">满意</span>
                    <span v-if="Math.ceil(visit) == 4">非常满意</span>
                    <span v-if="Math.ceil(visit) == 5">无可挑剔</span>
                </div>
                <div class="star">
                    <span>服务专业</span>
                    <div id="cleaning" class="star_star"></div>

                    <span v-if="Math.ceil(cleaning) == 1">很差</span>
                    <span v-if="Math.ceil(cleaning) == 2">一般</span>
                    <span v-if="Math.ceil(cleaning) == 3">满意</span>
                    <span v-if="Math.ceil(cleaning) == 4">非常满意</span>
                    <span v-if="Math.ceil(cleaning) == 5">无可挑剔</span>
                </div>
                <div class="star">
                    <span>态度热情</span>
                    <div id="service" class="star_star"></div>

                    <span v-if="Math.ceil(service) == 1">很差</span>
                    <span v-if="Math.ceil(service) == 2">一般</span>
                    <span v-if="Math.ceil(service) == 3">满意</span>
                    <span v-if="Math.ceil(service) == 4">非常满意</span>
                    <span v-if="Math.ceil(service) == 5">无可挑剔</span>
                </div>
                <textarea v-model="bak" maxlength="250" placeholder="评价一下本次服务吧～"></textarea>
            </div>
        </div>
        <!-- <div id="app"> -->
            <!-- 底部按钮 -->
            <div class="btn" @click='sib'>发表评价</div>
        <!-- </div> -->
    </div>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // 上门
                visit: '5',
                // 保洁
                cleaning: '5',
                // 服务
                service: '5',
                // 评价
                bak: '',
                // 用户信息
                user: [],
                // 预约信息
                order: []
            },
            created() {
                var that = this;

                // 获取用户信息
                if (window.localStorage.userContent) {
                    this.user = JSON.parse(window.localStorage.userContent)
                }

                this.order = JSON.parse(window.sessionStorage.noComment)
            },

            mounted() {
                var that = this;
                // 上门
                that.new_star('#visit', function (number, that) { that.visit = number });
                // 保洁
                that.new_star('#cleaning', function (number, that) { that.cleaning = number });
                // 服务
                that.new_star('#service', function (number, that) { that.service = number });
                // 获取预约信息
            },
            methods: {
                // 星星插件初始化
                new_star: function new_star(e, obj) {
                    var that = this;
                    new Star({
                        el: e,
                        number: 5,//一共有几颗星
                        starNumber: 5,//默认选择几颗星
                        isHalf: false,//是否需要显示半星
                        starSize: 22,//星的大小,填写的值为font-size
                        color: 'orange',//星的颜色
                        success: function (number) {
                            //选择完毕回调
                            console.log('选择评分为：', number)
                            var number = number;
                            obj(number, that)
                        }
                    })
                },
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    }
                },
                // 提交
                sib: function sib() {
                    var that = this;
                    if (!this.visit) {
                        mui.toast('选择上门速度的星级', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.cleaning) {
                        mui.toast('选择保洁速度的星级', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.service) {
                        mui.toast('选择服务态度的星级', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.bak) {
                        mui.toast('请填写评论', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!(/^.{0,250}$/.test(this.bak))) {
                        mui.toast('字数过多', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    axios.get('/index.php/mobileapi/v2/Assess/webAdd', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            uid: this.user.id,
                            'data[serverid]': this.order.id,
                            'data[detail]': this.bak,
                            'data[meter_score]': this.visit,
                            'data[server_score]': this.cleaning,
                            'data[manner_score]': this.service,
                        }
                    }).then(function (res) {
                        window.location.href = "/index.php/mobile/order/number"
                    })
                }
            },
        })

    </script>

</body>

</html>