<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/star/css/font-awesome.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/goods/whole_discuss.css?{$Think.config.fastadmin['v_api']}">
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 顶部 -->
        <div class="top">
            <a href="javascript:history.go(-1)">
                <img src="/resource/png/icons/fanhui.png">
            </a>
            <span>全部评价</span>
        </div>
        <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
            <li class="mui-scroll">
                <!--数据列表-->
                <ul class="mui-table-view mui-table-view-chevron">
                    <!-- 评价内容 -->
                    <li class="comment" :class="index == 0?'first':''" v-for="(item, index) in comment.data"
                        :key="item.id">
                        <!-- 图片 -->
                        <div class="img-s">
                            <img :src="JSON.parse(item.json_user).pic">
                            <img v-if="JSON.parse(item.json_user).vip_now == 1" src="/resource/png/icons/huangg.png">
                        </div>
                        <!-- 名字打分 -->
                        <div class="name">
                            <h5 v-cloak>匿名用户</h5>
                            <span>打分</span>
                            <div :id="'visit'+index" class="star_star"></div>
                        </div>
                        <!-- 日期 -->
                        <div class="date">
                            <div v-cloak>{{ formatDateTime(item.create_time*1000).time }}</div>
                            <div>消费后评价</div>
                        </div>
                        <div class="character">
                            <p v-cloak :class="(!item.all|| item.all==0)?'all':''">
                                {{ item.detail }}

                            </p>
                            <div v-if="item.detail.substring(25,26)!=''">
                                <span class="blue" v-if="!item.all||item.all==0" @tap="quanwen(item)">全文</span>
                                <span v-if="item.all==1" @tap="quanwen(item)">收起</span>
                            </div>

                        </div>
                    </li>
                </ul>
        </div>
    </div>


    </div>
    <script src="{$Think.const.PUBLIC_RES}/star/js/star.noclick.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 评价
                comment: {
                    // 列表
                    data: [],
                    create_time: '',
                    limit: 0
                }
            },
            created: function created() {
                var that = this;

                axios.get('/index.php/mobileapi/v2/Assess/getGodosAssess', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        goodsid: window.localStorage.goods_id,
                        limit: 15,
                        // create_time: ''
                    }
                }).then(function (res) {
                    that.comment.data = res.data.data.data;
                    that.comment.create_time = res.data.data.create_time;
                    that.limit = 15
                    for (var i = 0; i < that.comment.data.length; i++) {
                        that.$set(that.comment.data[i], 'all', 0)
                    }
                })
            },
            methods: {
                // 星星插件初始化
                new_star: function new_star(e, star) {
                    var that = this;
                    star = Math.floor(Number(star) * 10) / 10
                    var str = String(star).split('.')[1]
                    if (str) {
                        if (str < 5) {
                            star = String(star).split('.')[0] + '.0'
                        } else {
                            star = String(star).split('.')[0] + '.5'
                        }
                    }
                    new Star({
                        el: e,
                        number: 5,//一共有几颗星
                        starNumber: star,//默认选择几颗星
                        isHalf: true,//是否需要显示半星
                        starSize: 15,//星的大小,填写的值为font-size
                        color: '#FF7223',//星的颜色
                        success: function (number) {
                            //选择完毕回调
                            // console.log('选择评分为：', number)
                        }
                    })
                },
                quanwen: function quanwen(item) {
                    // item.all == 1
                    console.log(item.all);
                    if (item.all == 0) {
                        item.all = 1;
                    } else if (item.all == 1) {
                        item.all = 0;
                    }
                },
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: m + '-' + d
                    }
                },
            },

            updated: function updated() {
                var that = this;
                for (var i = 0; i < this.comment.data.length; i++) {
                    that.new_star('#visit' + i, this.comment.data[i].avg_assess);
                    // this.$set(this.comment.data[i], 'all', 0)
                }
                mui.init({
                    pullRefresh: {
                        container: refreshContainer,//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
                        up: {
                            contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                            contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                            callback: pullfresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                        }
                    }
                });
                function pullfresh() {
                    var _this = this;
                    //业务逻辑代码，比如通过ajax从服务器获取新数据；
                    //  ......
                    //注意：
                    //1、加载完新数据后，必须执行如下代码，true表示没有更多数据了：
                    //2、若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
                    axios.get('/index.php/mobileapi/v2/Assess/getGodosAssess', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            goodsid: window.localStorage.goods_id,
                            limit: that.limit + ',15',
                            create_time: that.create_time
                        }
                    }).then(function (res) {
                        var arr = res.data.data.data;

                        that.comment.create_time = res.data.data.create_time;
                        that.limit += 15
                        for (var i in arr) {
                            that.comment.data.push(arr[i]);
                        }
                        for (var i = 0; i < that.comment.data.length; i++) {
                            that.$set(that.comment.data[i], 'all', 0)
                        }
                        if (res.data.data.is_ture == 0) {
                            _this.endPullupToRefresh(true);
                            mui("#pullrefresh").endPullupToRefresh(true);
                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了
                        } else {
                            _this.endPullupToRefresh(false);
                            mui('#pullup-container').pullRefresh().enablePullupToRefresh();
                        }
                    })

                }
            },
        })
    </script>

</body>

</html>