<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>商品详情</title>

  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/h5/details.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <style>
    .mui-toast-container {
      bottom: 50% !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- 蒙版 -->
    <div class="masking" v-show="is_bind==1">

    </div>
    <div v-show="is_bind==1" class="binding">
      <h5>小哥帮欢迎您</h5>
      <p>请保存图片到微信识别打开,点击弹出的链接即可完成支付,并跟踪订单情况</p>
      <img class="logo" src="{$Think.const.PUBLIC_RES}/png/iconic/bjbj.png" />
      <div class="towwm">
        <img :src="qrcode" />
        <div>长按二维码保存图片即可注册</div>
      </div>
      <!--<div class="btn">保存二维码</div>-->

      <!-- 取消按钮 -->
      <div class="cancel" @tap='is_bind=0'>
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi1.png" />
      </div>
    </div>

    <div class="content">
      <div id="slider">
        <!-- <img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg"> -->
        <img :src="'/'+product.inoc" />
      </div>
    </div>

    <!-- 价格 -->
    <div class="sold">
      <div class="money">
        <div>
          <span>￥</span>
          <span class="moneys" v-cloak>{{ product.commonprice }}</span>
        </div>
        <!--<p v-cloak>&nbsp; &nbsp;会员价:￥{{product.vipprice}}</p>-->
        <!--<img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/yuanbian.png">-->
      </div>
      <div class="out" v-cloak>已售{{ product.virtual_times }}件</div>
      <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/beijiingtu.png">
    </div>

    <!-- 标题 -->
    <h4 class="h4-s" v-cloak>{{ product.name }}</h4>
    <div class="data" v-html="product.detail" v-cloak></div>
    <!-- 底部 -->

    <div class="footers" v-if="product.is_grob==0" v-cloak>
      <span class="footers-money" v-cloak>
        ¥{{ product.commonprice }}
      </span>
      <span class="buy" @tap='order(1)'>直接购买</span>
    </div>

  </div>
</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>

<script>
  'use strict';

  var app = new Vue({
    el: '#app',
    data: {
      // 产品id
      id: '',
      // 店铺id
      store_id: '',
      // 产品内容
      product: [],
      // 应付
      shouldpay: '',
      // 实付
      actualpay: '',
      // 备注
      bak: 'sx',
      // 用户id
      user: null,
      // 判断是否弹出数量选着
      order_number: 0,
      // 产品个数
      quantity: 1,
      // 拼团id
      group_id: '',
      // 参与拼团状态
      participate: 0,
      // 拼团信息
      group: [],
      // 拼团展示内容
      group_show: [],
      // 拼团显示到的条数
      group_num: 0,
      // 链接参数
      url: {},
      // 分享链接
      share: '',
      // 分享人的店铺名
      store_name: '',
      // 注册弹框
      is_bind: 0,
      // 注册手机号
      phone: '',
      // 返回验证码
      message: '',
      // 输入的验证码
      verification: '',
      // 获取验证码判断
      for_if: 0,
      // 倒计时
      countdown: 60,
      // 切换详情页和评价
      Switch: 0,
      // 二维码链接
      qrcode: []
    },
    // 事件
    methods: {
      // 下单
      order: function order(i) {
        var _this = this;
        this.is_bind = 1;

      },
      /*  save:function save() {
          var img =document.getElementById("img");
          var alink =document.createElement("a");
          alink.href=img.src;
          alink.click()
    },*/
      wssdk: function wssdk() {
        var _this2 = this;
        wx.ready(function () {
          var date = new Date().valueOf();
          if (_this2.product.cate == 1) {
            var Copywriting = '8大服务项目，7大服务区域，4无服务标准，专业更安心'
          } else if (_this2.product.cate == 2) {
            var Copywriting = '10年经验清洗师，专业清洗工具，给您创造健康家居环境'
          } else if (_this2.product.cate == 3) {
            var Copywriting = `故障报修30天，配件报修90天
	                            服务就近安排，30分钟极速上门`
          } else {
            var Copywriting = `有家就有小哥帮，专注家庭秘书服务！
	                            保洁、清洗、维修、月嫂、保姆、消杀…..`
          }
          // 是不是分享来的

          if (window.localStorage.toid != 'undefined') {
            var toid = window.localStorage.toid;
          } else {
            var toid = _this2.user.id;
          }
          // 自己店铺推荐
          if (window.localStorage.mystore == 1) {
            var tourl = '/mystore/1/' + 'to/' + toid
            var title = _this2.store_name
          } else {
            var tourl = ''
            var title = "小哥帮"
          }
          var shareData = {
            title: title + ' - ' + _this2.product.name + '，推荐给你们哦！', //标题
            desc: Copywriting, //简介，这里请特别注意是要去除html
            link: "{$Think.config.web_host}" + '/mobile/goods/goods_detail' +
              '/id/' + _this2.url.id + '/store_id/' + _this2.store_id + tourl,
            imgUrl: "{$Think.config.web_host}" + '/' + _this2.product.pic,
            success: function success(res) {
              // 用户确认分享后执行的回调函数
              if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' ||
                'ShareWeibo:ok') {
                mui.toast('分享成功', {
                  duration: '1000ms',
                  type: 'div'
                });
              } else {
                mui.toast('分享失败', {
                  duration: '1000ms',
                  type: 'div'
                });
              }
            },
            cancel: function cancel(res) {
              // 用户取消分享后执行的回调函数
            }
          };
          wx.onMenuShareAppMessage(shareData);
          wx.onMenuShareTimeline(shareData);
          wx.onMenuShareQQ(shareData);
          wx.onMenuShareWeibo(shareData);
        });
      }

    },
    // 初始化后
    created: function created() {
      var _this2 = this;
      var can = decodeURI(location.href).split('mobile/')[1].split('/')
      for (var i = 0; i < can.length; i += 2) {
        this.url[can[i]] = can[i + 1]
      }
      this.id = this.url.id;
      if (this.url.store_id) {
        this.store_id = this.url.store_id;
      } else {
        this.store_id = 1;
      }
      if (this.url.to != undefined) {
        window.localStorage.setItem('toid', this.url.to)
        window.localStorage.setItem('mystore', this.url.mystore)
      }


      //  判断本地有无用户信息

      // this.openid = window.localStorage.openid;
      // axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
      //   headers: {
      //     'X-Requested-With': 'xmlhttprequest'
      //   },
      //   params: {
      //     openid: this.openid
      //   }
      // }).then(function (res) {
      //   _this2.user = res.data.data;
      //   var userContent = JSON.stringify(_this2.user);
      //   window.localStorage.setItem("userContent", userContent);

      // 获取来源用户信息
      // if (window.localStorage.mystore == 1) {
      //     var toid = window.localStorage.toid
      //     axios.get('/index.php/mapiv2/Userstore/rest', {
      //       headers: {
      //         'X-Requested-With': 'xmlhttprequest'
      //       },
      //       params: {
      //         uid: toid
      //       }
      //     }).then(function (res) {
      //       _this2.store_name = res.data.data.store_data.name;
      //       _this2.wssdk()
      //     });
      //   } else {
      //     _this2.store_name = _this2.user.user_store[0].name
      //     _this2.wssdk()
      //   }
      // });

      if (this.id) {

      } else {
        //  获取链接
        if (decodeURI(location.search)) {
          // 判断是否是店铺列表进来还是商品列表进来
          var can = decodeURI(location.search).split('?')[1].split('&');
          for (var i = 0; i < can.length; i++) {
            var aaa = can[i].split('=');
            for (var j = 0; j < aaa[0].length; j += 2) {
              this.url[aaa[j]] = aaa[j + 1];
            }
          }
          this.id = this.url.id;
          if (this.url.store_id) {
            this.store_id = this.url.store_id;
          } else {
            this.store_id = 1;
          }
        } else if (window.localStorage.goods_id) {
          // 本地取
          this.group_id = window.localStorage.group_id;
          this.id = window.localStorage.goods_id;
          this.store_id = window.localStorage.store_id;
          this.participate = window.localStorage.participate;
        }
      }


      // 存数据
      window.localStorage.setItem('store_id', this.store_id);
      window.localStorage.setItem('goods_id', this.id);
      if (window.sessionStorage.pingtai) {
        var pingtai = window.sessionStorage.pingtai;
      } else {
        var pingtai = ''
      }

      // 产品详情
      axios.get('/index.php/mobile/h5/goods_detail', {
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        },
        params: {
          store_id: this.store_id,
          id: this.id,
          platform_code: pingtai
        }
      }).then(function (res) {
        //console.log(res);
        // console.log(res.data.data.data.cate_data.ispay);
        _this2.product = res.data.data.data;
        _this2.qrcode = res.data.data.qrcode;
        // window.localStorage.setItem('goods_detail', JSON.stringify(_this2.product));
        //是否能下单
        // window.localStorage.setItem('ispay', res.data.data.data.cate_data.ispay);
        // window.localStorage.setItem('typ', res.data.data.data.cate_data.name);

        // 扫码进来直接判断有无注册
        // if (_this2.url.s == 1) {
        //   _this2.order(1)
        // }
      });



      wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
        timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
        nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
        signature: '{$jssdk.signature}', // 必填，签名
        jsApiList: [
          //把需要的接口加入至列表
          'onMenuShareTimeline', //分享给好友
          'onMenuShareAppMessage', //分享到朋友圈
          'onMenuShareQQ', //分享到QQ
          'onMenuShareWeibo', //分享到微博
          'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
        ]
      });

    },
    // watch: {
    //   // 深度 watcher
    //   // 产品数量
    //   quantity: {
    //     handler: function handler(val, oldVal) {
    //       var that = this;
    //       if (this.quantity < 1) {
    //         this.quantity = 1;
    //       }
    //       this.quantity = Math.ceil(this.quantity);
    //     },
    //     deep: true
    //   }
    // }
  });
</script>

</html>