<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#cbeans" data-toggle="tab">新人红包配置</a></li>
            <!-- <li><a href="#addcfg" data-toggle="tab">公众号接入</a></li> -->
        </ul>
    </div>

    <div class="panel-body">

        <form id="add-form" class="form-horizontal nice-validator n-default n-bootstrap"
              role="form" data-toggle="validator" method="POST" action="" novalidate="novalidate">
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in" id="cbeans">
                    <div class="form-group">
                        <label for="name" class="control-label col-xs-4 col-sm-2">最小值：</label>
                        <div class="col-xs-4 col-sm-2">
                            <input type="text" class="form-control" id="min" name="min" value="{$conf.min}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weid" class="control-label col-xs-4 col-sm-2">最大值：</label>
                        <div class="col-xs-4 col-sm-2">
                            <input type="text" class="form-control" id="max" name="max" value="{$conf.max}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-2"></label>
                        <div class="col-xs-4 col-sm-2">
                            <input type="submit" class="btn btn-success btn-embossed" value="保存配置"/>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                        </div>
                    </div>
                </div>



            </div>
        </form>
    </div>
</div>
