<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/vip/vip-index.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>我的会员</title>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 蒙版 -->
        <div class="masking" style="display: none" v-show="is_bind==1">

        </div>
        <div v-show="is_bind==1" style="display: none" class="binding">
            <img class="logo" class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/logo1.png" />
            <p>绑定手机号</p>

            <!-- 手机号 -->
            <div class="phones">
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/shouji.png" />
                <input type="number" placeholder="请输入手机号" v-model="phone">
            </div>

            <!-- 验证码 -->
            <div class="password">
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/mima1.png" />
                <div class="xhx">
                    <input type="text" maxlength="6" placeholder="请输入验证码" v-model="verification">
                    <span class="identifying" @tap='msg' v-if="for_if==0">获取验证码</span>
                    <span class="identifying" v-else>获取验证码</span>
                </div>
            </div>

            <!-- 备注 -->
            <p class="remark">
                注: 手机号作为您账户的唯一标识,用
                于身份验证，会员优惠等用途
            </p>

            <!-- 按钮 -->
            <div class="btn" @click='register'>
                提交
            </div>
            <!-- 取消按钮 -->
            <div class="cancel" @tap='is_bind=0'>
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi1.png" />
            </div>
        </div>

        <!-- 头部 -->
        <!-- <div class="header">
            <a class="arrows" href="/index.php/mobile/user/index">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <span>我的会员</span>
        </div> -->

        <!-- 头像部分 -->
        <div class="head">
            <img class="imgs" :src="user.pic" />
            <div class="head-right">
                <div>
                    <span v-if='user.name' v-cloak>{{ user.name }}
                        <img class="crown" src="{$Think.const.PUBLIC_RES}/png/iconic/hhg.png"
                            v-show="user.interval==0" />
                    </span>
                    <span v-else v-cloak>{{ user.nickname }}</span>
                    <img class="img-S" src="{$Think.const.PUBLIC_RES}/png/icons/img_huangguan.png"
                        v-show="user.interval==1" />
                    <p class="dredge" v-show="user.interval==0">开通小哥会员, 乐享尊贵特权</p>
                </div>
                <p v-show="user.interval==1">
                    <span>会员有效期:</span>
                    <span class="date"
                        v-cloak>{{ new Date(user.vip_end_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>
                </p>
            </div>
        </div>

        <!-- 续费时长 -->
        <div class="select">
            <div class="choose" class="duration" v-cloak>
                <p v-if="user.interval!=0" class="duration" v-cloak>选择续费时长
                    <a v-show="user.interval!=0" class="duration" v-cloak href="/index.php/mobile/vip/record">购买记录
                    </a>
                </p>
                <p v-if="user.interval==0" class="duration" v-cloak>选择开通时长（限时折扣 ）<a v-show="user.interval==0" v-cloak
                        href="/index.php/mobile/vip/record">购买记录</a>
                </p>
            </div>
            <ul class="list">
                <li v-for="(item, index) in member" :key="item.id" :class="payment== index?'six':''"
                    @click='payment=index'>
                    <div v-cloak>{{ item.name }}</div>
                    <p><span class="price" v-cloak>￥{{ item.discoutprice }}</span></p>
                    <del v-if="Number(item.price)>Number(item.discoutprice)" v-cloak>(原价{{ item.price }})</del>
                    <img v-if="Number(item.price)>Number(item.discoutprice)" :src="item.icon" />
                </li>
            </ul>
        </div>
        <!-- 推广 -->
        <!--<div class="promotion" v-show="member[payment].effectivetime>=12">
<i>
    <img src="{$Think.const.PUBLIC_RES}/png/icons/gift.png" alt="">
</i>
<span>
    日常保洁3h一次/免费家电清洗一次
</span>
</div>-->

        <!-- 支付 -->
        <div class="payment">
            <div class="paymentLeft">
                <!--<p v-cloak><span>需支付:</span> ￥{{ member[payment].discoutprice }}</p>-->
                <div>
                    <img src="{$Think.const.PUBLIC_RES}/png/icons/wxzf.png" />
                    <span>微信支付</span>
                </div>
            </div>
            <div class="paymentRight">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/XZ01.png" />
            </div>
        </div>


        <div class="protocol">
            开通即视为同意 <a href="/index.php/mobile/vip/protocol/">《小哥帮会员协议》
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/fh.png" />
            </a>
        </div>

        <!-- 尊享特权 -->
        <div class="enjoy">
            <h5>会员尊享特权</h5>
            <div class="priority">
                <div class="priority-s">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/icon_hyzx.png" />
                    <p>会员专享</p>
                </div>
                <div class="priority-s">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/icon_yxpd.png" />
                    <p>优先派单</p>
                </div>
                <div class="priority-s">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/icon_zskf.png" />
                    <p>专属客服</p>
                </div>
                <div class="priority-s">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/icon_jqqd.png" />
                    <p>敬请期待</p>
                </div>
            </div>
        </div>

        <!-- 会员专享价 -->
        <div class="members">
            <div class="memberS">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/yuandian.png" />
                <span>权益一 : 会员专享价</span>
                <a href="/index.php/mobile/index/index">更多</a>
            </div>
            <!-- 商城图片 -->
            <img class="commodity" src="{$Think.const.PUBLIC_RES}/png/iconic/banner05.png" @tap='submit' />

            <!-- 产品样式 -->
            <ul class="product">
                <li>
                    <a href="/index.php/mobile/goods/goods_detail/id/54">
                        <img class="imgS" src="{$Think.const.PUBLIC_RES}/png/iconic/yyj.jpg" />
                        <div class="have">立减0</div>
                        <p>空调专业维修</p>
                        <div class="price"><span>￥150</span>
                            <del>￥150</del>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/index.php/mobile/goods/goods_detail/id/279">
                        <img class="imgS" src="{$Think.const.PUBLIC_RES}/png/iconic/qjta.png" />
                        <div class="have">立减19</div>
                        <p>日常保洁( 3小时 )</p>
                        <div class="price"><span>￥116</span>
                            <del>￥135</del>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/index.php/mobile/goods/goods_detail/id/370">
                        <img class="imgS" src="{$Think.const.PUBLIC_RES}/png/iconic/ktqx.png" />
                        <div class="have">立减10</div>
                        <p>空调挂机清洗</p>
                        <div class="price"><span>￥68</span>
                            <del>￥78</del>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <!-- 优先派单 -->
        <div class="members">
            <div class="memberS">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/yuandian.png" />
                <span>权益二：会员100%返现，非会员50%返现</span>
            </div>
            <!-- 商城图片 -->
            <img class="commodity" src="{$Think.const.PUBLIC_RES}/png/iconic/banner06.png" @tap='submit' />
        </div>
        <!-- 优先派单 -->
        <div class="members">
            <div class="memberS">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/yuandian.png" />
                <span>权益三 : 优先派单</span>
            </div>
            <!-- 商城图片 -->
            <img class="commodity" src="{$Think.const.PUBLIC_RES}/png/iconic/banner02.png" @tap='submit' />
        </div>
        <!-- 专属客户 -->
        <div class="members">
            <div class="memberS">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/yuandian.png" />
                <span>权益四 : 专属客户</span>
            </div>
            <!-- 商城图片 -->
            <img class="commodity" src="{$Think.const.PUBLIC_RES}/png/iconic/banner03.png" @tap='submit' />
        </div>

        <!-- 敬请期待 -->
        <div class="members expect">
            <div class="memberS">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/yuandian.png" />
                <span>权益五 : 敬请期待</span>
            </div>
            <!-- 商城图片 -->
            <img class="commodity" src="{$Think.const.PUBLIC_RES}/png/iconic/banner04.png" @tap='submit' />
        </div>

        <!-- 底部按钮 -->
        <div v-cloak class="btn" @tap='order' v-show="user.interval!=0">
            立即续费 ￥{{ member[payment].discoutprice }}
        </div>
        <div v-cloak class="btn" @tap='order' v-show="user.interval==0">
            立即开通 ￥{{ member[payment].discoutprice }}
        </div>

    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                //促销判断
                payment: 0,
                // 会员产品列表
                member: [],
                // 用户数据
                user: [],
                token: "{$__token__}",
                // 注册弹框
                is_bind: 0,
                // 注册手机号
                phone: '',
                // 返回验证码
                message: '',
                // 输入的验证码
                verification: '',
                // 获取验证码判断
                for_if: 0,
                // 倒计时
                countdown: 60,
            },
            //初始化后执行
            created: function created() {
                // 获取openid
                // this.openid = window.localStorage.openid
                window.sessionStorage.removeItem('vipOrder')
                var that = this
                // 获取会员商品列表
                axios.get('/index.php/mapiv2/Vipcard/rest', {}).then(function (res) {
                    that.member = res.data.data.data;
                })

                // 获取用户数据
                this.openid = window.localStorage.openid;
                axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        openid: this.openid
                    }
                }).then(function (res) {
                    that.user = res.data.data;
                    var userContent = JSON.stringify(that.user);
                    window.localStorage.setItem("userContent", userContent);
                });
            },
            methods: {
                // 购买会员
                submit: function submit() {
                    var that = this
                    axios.post('/index.php/mapiv2/Viprecord/rest', {
                        uid: this.user.id,
                        vipid: this.member[this.payment].id,
                        __token__: this.token
                    }).then(function (res) {
                        window.sessionStorage.setItem('vipOrder', 1)
                        window.localStorage.setItem('vipDetail', JSON.stringify(that.member[that.payment]))
                        // console.log(res);
                        window.location.href = res.data.data.url
                    })
                },
                // 下单
                order: function order() {
                    var _this = this;
                    axios.post('/index.php/mapiv2/myorder/checkbind', {
                        uid: _this.user.id
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                _this.is_bind = 1;
                                return false;
                            }
                            _this.submit()
                        });
                },
                // 发送短信
                msg: function msg() {
                    var _this = this;
                    axios.get('/index.php/mapi/commonapi.ajaxcommon/sms', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            phone: this.phone,
                            type: 2
                        }
                    }).then(function (res) {
                        _this.message = res.data.data;
                        if (res.data.code == 0) {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                            return false;
                        }
                        mui.toast('验证码已发送', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        $('.identifying').css('background-color', '#ccc');
                        _this.for_if = 1;
                        var that = _this;
                        _this.time = setInterval(that.timeout, 1000);
                    });
                },
                // 验证码样式更改
                timeout: function timeout() {
                    this.countdown--;
                    $('.identifying').text('请稍等(' + this.countdown + 's)');

                    if (this.countdown == 0) {
                        clearTimeout(this.time);
                        $('.identifying').css('background-color', '');
                        $('.identifying').text('获取验证码');
                        this.countdown = 60;
                        this.for_if = 0;
                    }
                },
                // 注册提交
                register: function register() {
                    var that = this;
                    if (!this.phone) {
                        mui.toast('请输入手机号', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    };
                    if (!this.verification) {
                        mui.toast('请输入验证码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    };
                    // 判断验证码
                    if (this.message == this.verification) {
                        // 上传
                        axios.post('/index.php/mapi/Binduser/rest', {
                            phone: this.phone
                        }, {
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (res) {
                                that.user = res.data.data;
                                window.localStorage.setItem('userContent', JSON.stringify(res.data.data))
                                if (res.data.code == 1) {
                                    mui.toast('注册成功', {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    that.submit();
                                } else {
                                    mui.toast('注册失败,' + res.data.msg, {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    window.location.reload();
                                }
                            });
                    } else {
                        mui.toast('短信输入错误', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                },
            },
        })
    </script>
</body>

</html>