<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/vip/payment.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
</head>

<body>


    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="/index.php/mobile/vip/index">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <span>支付结果</span>
        </div>

        <!-- 支付成功 -->
        <div class="payment">
            <div>
                <img src="{$Think.const.PUBLIC_RES}/png/icons/icon_zfcg.png" />
                <span>支付成功</span>
                <p v-show="user.interval!=0">正在为您续费中...</p>
                <p v-show="user.interval==0">正在为您开通中...</p>
            </div>
        </div>

        <!-- 中间部分 -->
        <ul>
            <li>
                <span>昵称 :</span>
                <span v-cloak>{{ user.name }}</span>
            </li>
            <li>
                <span>支付金额 :</span>
                <span class="sum" v-cloak>￥{{ vipDetail.price }}</span>
            </li>
            <li>
                <span>购买商品 :</span>
                <span v-cloak>{{ vipDetail.vipname }}</span>
            </li>
            <li>
                <span>到期时间 :</span>
                <span v-cloak>{{ formatDateTime(user.vip_end_time*1000) }}</span>
            </li>
        </ul>
        <div class="miao" v-cloak>
            {{ time }}秒后自动跳转
        </div>
        <!-- 底部按钮 -->
        <p class="btn" @tap='jump'>完成</p>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 用户数据
                user: [],
                vipDetail: [],
                time: 3
            },
            created: function created() {
                var that = this;
                // 获取用户数据
                this.openid = window.localStorage.openid;
                axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        openid: this.openid
                    }
                }).then(function (res) {
                    // console.log(res);
                    that.user = res.data.data;
                    var userContent = JSON.stringify(that.user);
                    window.localStorage.setItem("userContent", userContent);
                    // 获取会员信息
                    axios.get('/index.php/mapiv2/Viprecord/rest', {
                        params: {
                            uid: that.user.id,
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        console.log(res);
                        that.vipDetail = res.data.data.data[0];
                    })
                });
                setInterval(function () {
                    that.time--;
                    if (that.time == 0) {
                        that.time = 0;
                        window.localStorage.vipOrder = 0
                        window.location.href = '/index.php/mobile/vip/index';
                    }
                }, 1000);
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + '-' + m + '-' + d;
                },
                jump: function jump() {
                    window.location.href = '/index.php/mobile/vip/index';
                }
            }
        })
    </script>
    <script>

    </script>
</body>

</html>