<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/vip/record.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <title></title>
</head>

<body>

  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <span>消费记录</span>
    </div>
    

    <!-- 消费记录 -->
    <ul>
      <li v-for="(item, index) in list" :key="item.id" >
        <img :src="user.pic" />
        <div class="member">
          <h5 v-cloak>{{ item.vipname }}</h5>
          <!-- <p>{{ new Date(item.createtime*1000).toLocaleDateString().replace(/\//g,"-") }}</p> -->
          <p v-cloak>{{ formatDateTime(item.createtime*1000) }}</p>
          <p>交易成功</p>
        </div>
        <div class="price" v-cloak>￥{{ item.price }}</div>
      </li>
      <!--  <li>
              <img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg"/>
              <div class="member">
                  <h5>小哥帮会员 ( 1年 )</h5>
                  <p>2019年12月24日 10:30</p>
                  <p>交易成功</p>
              </div>
              <div class="price">￥396.00</div>
          </li>
          <li>
              <img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg"/>
              <div class="member">
                  <h5>小哥帮会员 ( 1年 )</h5>
                  <p>2019年12月24日 10:30</p>
                  <p>交易成功</p>
              </div>
              <div class="price">￥396.00</div>
          </li>-->
    </ul>
  </div>

  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        // 消费记录
        list: [],
        user: '',
      },
      created: function created() {
        this.user = JSON.parse(window.localStorage.userContent);
        var that = this;
        axios.get('/index.php/mapiv2/Viprecord/rest', {
          params: {
            uid: this.user.id,
          },
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          }
        }).then(function (res) {
          console.log(res);
          that.list = res.data.data.data;
        })
      },
      methods: {
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    })
  </script>

</body>

</html>