<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* Banner图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[img_url]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* {:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-joinip" data-rule="required digits range[0~255]" maxlength="3" class="form-control" name="row[hot]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">链接:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="length[~200]" data-msg="链接地址太长了" maxlength="240" class="form-control" name="row[href]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-link" class="control-label col-xs-12 col-sm-2">小程序链接:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-link"  data-rule="length[~200]" data-msg="链接地址太长了" maxlength="240" class="form-control" name="row[mini_link]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-link" class="control-label col-xs-12 col-sm-2">所属城市:</label>
        <div class="col-xs-12 col-sm-4">
            <select class="Provinces region" name="row[city_code]" id="city_code" data-area-id=''>
                <option value="1" selected>全国</option>
                {volist name="city_list" id="vo"}
                <option value="{$key}" data-area-id={$key}>{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <!--<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>

</form>
