<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">选择商品:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="cate,goods">
                <select class="cate form-control" data-url="shop/core_goods/cate" name="row[cate]">
                    <option value="{$row.cate}"></option>
                </select>
                <select class="goods form-control" data-query-name="gid" data-url="shop/core_goods/goods?gid={$row.cate}" name="row[gid]" disabled="">
                    <option value="{$row.gid}"></option>
                </select>
                <span class="msg-box n-right" for="row[gid]" style=""></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">设置标签:</label>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <textarea name="row[label]" class="form-control hide" cols="30" rows="5">{$row.label|substr="1",-1}</textarea>
                <dl class="fieldlist" data-name="row[label]" data-template="template">
                    <dd>
                        <ins>标签名</ins>
                    </dd>
                    <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加标签</a></dd>
                </dl>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[pic]" type="hidden" value="{$row.pic}">
                <div class="input-group-addon no-border no-padding n-left">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
            </div>
            <span class="msg-box n-right" for="c-avatar"><span class="msg-wrap">推荐尺寸：300x200</span></span>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-6 col-sm-2">设置标题:</label>
        <div class="col-xs-8 col-sm-8">
            <input id="c-title" data-rule="required;" data-msg="一定要输入" class="form-control" name="row[title]"
                   type="text" value="{$row.title}" autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-4 col-sm-2">* 城市编码:</label>
        <div class="col-xs-6 col-sm-2">
            {:build_select('row[city_code]',$row['city_data'],$row['city_code'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-4 col-sm-2">设置权重:</label>
        <div class="col-xs-6 col-sm-2">
            <input id="c-mobile" data-rule="integer;required;" data-msg="权重只能数字" class="form-control" name="row[weigh]"
                   type="text" value="{$row.weigh}" autocomplete="off">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" style="font-size: 16px" class="btn btn-success">　<i class="fa fa-edit"></i>修改　</button>
        </div>
    </div>

</form>

<script type="text/html" id="template">
    <dd class="form-inline">
        <input type="text" name="<%=name%>[]" class="form-control" value="<%=row%>">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
    </dd>
</script>