<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add" title="添加" data-title="添加服务推荐"><i class="fa fa-plus"></i> 添加服务推荐</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled" title="删除"><i class="fa fa-trash"></i> 删除</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-add="{:$auth->check('shop/banner/add')}"
                           data-operate-edit="{:$auth->check('shop/banner/edit')}"
                           data-operate-del="{:$auth->check('shop/banner/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
