textarea {
    width: 90%;
    height: 300px;
    font-size: 23px;
    margin-left: 5%;
}

.peno_a {
    width: 100%;
    height: auto;
    float: left;
    margin: 4%;
}

.float {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

img {
    position: relative;
}

.result {
    width: 200px;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
}

#file_input {
    display: none;
}

.delete {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 200px;
    z-index: 10;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #777;
    opacity: 0;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.delete:hover {
    cursor: pointer;
    opacity: 1;
}

.btn-success {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
    height: 80px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.btn-warning {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
    width: 40%;
    height: 80px;
    margin-top: 30px;
    margin-left: 10%;
}

.btn-info {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
    width: 40%;
    height: 80px;
    margin-top: 30px;
    margin-left: 5%;
}