.Herd {
	width: 90%;
	height: 150px;
	background-color: #d2e3ec;
	margin-top: 5%;
	margin-left: 5%;
}

.Herd_A {
	width: 100%;
	height: 100px;
	font-size: 34px;
}

.Herd_A_a {
	width: 23%;
	height: 65%;
	float: left;
	margin-top: 5%;
	margin-left: 3%;
	background-size: 100% 100%;
	background-image: url(../img/center/17.png);
}

.Herd_A_b {
	width: 55%;
	height: 65%;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	font-size: 10px;
}

.Herd_B{
	width: 100%;
	height: 50px;
	font-size: 34px;
}

.Herd_B_a {
	width: 50%;
	height: auto;
	float: left;
	text-align: center;
}

.Herd_B_a img {
	width: 50%;
	height: auto;
}

p img {
	width: 30%;
	height: 50%;
	margin-top: 5%;
	margin-left: 5%;
}



.lst {
	width: 90%;
	height: 200px;
	margin-left: 5%;
}

.lst_A {
	width: 33%;
	height: auto;
	text-align: center;
	float: left;
	margin-top: 10%;

}

.lst_A img {
	width: 40%;
	height: auto;
	margin-left: 5%;
}



