/* css 重置 */
* {	margin: 0;	padding: 0;	list-style: none;}
body {	background: #fff; font: normal 12px/22px 宋体;}
img {	border: 0;}
a {	text-decoration: none;	color: #333;}
q {	border: 0;	margin: 0;	padding: 0;}