.Head_A {
	width: 5%;
	height: auto;
	float: left;
	margin-top: 1%;
	margin-left: 5%;
}

.Head_B {
	width: 75%;
	height: auto;
	float: left;
	text-align: center;
	font-size: 32px;
	color: #FFFFFF;
}

.Head_A img {
	width: 80%;
	height: auto;
}

.content {
	width: 24%;
	height: 300px;
	margin-top: 5%;
	margin-left: 7%;
	float: left;
}

.content img {
	width: 100%;
	height: auto;
}












.Bottom {
	list-style: none;
	font-size: 14px;
	width: 100%;
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
}

.Bottom_A {
	text-align: center;
	width: 33.3%;
	height: 50px;	
	float: left;
	background-color: #C8CCCF;
	padding-top: 15px;
}

.Bottom_A p {
	font-size: 32px;
	text-align: center;
}


.Bottom_A img{
	width: auto;
	height: 90%;
}
