@import "css.css";
/*列表页*/
.container { width: 100%; overflow:hidden;}
.swiper1 {width: 100%; background:#fff; position:relative; height:auto;}
.swiper1height{ height:3.26087rem !important;}
.swiper1 .selected {color: #333; border-bottom: 3px solid #e6454a;}
.swiper1 .about_zxtit{width:100% !important; text-align:center;}
.swiper1 .swiper-slide {width: 24% !important; font-size: 0.521739rem; cursor: pointer; display:inline-block; text-align:center; padding:0 0.217391rem;}
.swiper1 .swiper-slide p{width:1.086957rem; height:1.06rem; background-size:100% !important; margin-left:0.695652rem; margin-top:0.869565rem}
.swiper1 .swiper-slide .one{background:url(../images/list-fenlei01.png);}
.swiper1 .swiper-slide .two{background:url(../images/list-fenlei02.png); }
.swiper1 .swiper-slide .three{background:url(../images/list-fenlei03.png);}
.swiper1 .swiper-slide .four{background:url(../images/list-fenlei04.png);}
.swiper1 .swiper-slide .five{background:url(../images/list-fenlei05.png);}
/*.swiper1 .swiper-slide img{width: auto; height: 100%; }*/
.swiper1 .swiper-slide span{width:100%; text-align:center; font-size:0.521739rem;}
.swiper2 { width: 100%; overflow:hidden;}
.swiper2 .swiper-wrapper{height:auto !important;}
.swiper2 .swiper-slide { height:auto !important; background-color: #f5f5f5; color: #333;
    text-align: center; box-sizing: border-box !important; overflow-x: hidden !important;}
.list-saixuan{width:100%; height:1.391304rem; background:#fff; border-bottom:1px solid #efefef; border-top:1px solid #efefef; text-align:center;}
.list-saixuan select{display:inline-block; padding:0 0.869565rem; margin-top:0.217391rem}
.list-liebiaoleft{width: 3.26087rem; height: 24.956522rem; overflow: hidden; float: left; background:#ededed}
.list-liebiaoleft ul{
    width: 3.26087rem;
    height: 24.956522rem;
    overflow: auto;
}
.list-liebiaoleft ul li{
    width: 3.26087rem; 
    float: left;
    border-left: 0.086957rem solid #ededed;
    height: auto!important;
    min-height: 1.521739rem;
    float: left;
    border-bottom: 1px solid #fff;
}
.list-liebiaoleft ul li span{
    font-size: 0.521739rem;
    color: #666;
    margin-top: 0.434783rem;
    display: block;
}
.list-liebiaoleft .lb_leftli_active{
    border-left: 0.086957rem solid #e6454a;
    background: #fff;
}
.list-liebiaoright{width:13.043478rem; height: 24.956522rem; overflow: hidden; float: right;}
.list-liebiaoright>div{width:13.043478rem; height: 24.956522rem; overflow: auto; float: right;}
.list-liebiaoright>div .lb_rtit{
    width:13.043478rem;
    background:#ededed;
    height: 1.521739rem;
    font-size: 0.608696rem;
    color: #666;
    line-height: 1.521739rem;
    text-align: left;
    padding-left: 0.434783rem
}
.list-liebiao{width:13.043478rem; overflow:hidden; float: right;}
.list-liebiao li{width:100%; float:left; background:#fff;}
.list-liebiao li .img{width:4.347826rem; height:4.347826rem; margin:0.434783rem; float:left; overflow:hidden; border-radius:0.217391rem;}
.list-liebiao li .img img{width:4.347826rem; height:4.347826rem;}
.list-liebiao li h1{width:7rem; /*height:0.652174rem;*/ overflow:hidden; font-size:0.565217rem; font-weight:400; text-align:left; margin-left:0.434783rem; margin-top:0.434783rem; float:left; text-overflow:ellipsis; white-space: nowrap;}
.list-liebiao li .xianxi{width:7rem; /*height:0.652174rem;*/ overflow:hidden; font-size:0.565217rem; text-align:left; margin-left:0.434783rem; margin-top:0.26087rem; float:left; color:#999; text-overflow:ellipsis; white-space: nowrap;}
.list-liebiao li .price{width:7rem; /*height:0.652174rem;*/ overflow:hidden; font-size:0.565217rem; text-align:left; margin-left:0.434783rem; margin-top:0.26087rem; float:left; color:#e6454a;}
.list-liebiao li .haopin{width:7rem; padding:0.434783rem 0; border-top:1px dashed #d8d8d8; float:left; margin-left:0.434783rem; margin-top:0.434783rem;}
.list-liebiao li .haopin .list-pinlun{width:2.608696rem; height:0.652174rem; padding-left:0.565217rem; background:url(../images/list-pinlun.png) no-repeat; background-size:1.3em; display:block; color:#888888; font-size:0.521739rem; float:left}
.list-liebiao li .haopin .list-haopin{padding:0 0.217391rem; float:right; color:#888; font-size:0.521739rem}
/*列表页end*/
/*列表详情页*/
.list-datu{width:100%; overflow:hidden;}
.list-datu img{width:100%; height:auto; float:left;}
.list-pjdetail{width:100%; overflow:hidden; padding:0.434783rem; background:#fff}
.list-pjdetail h1{font-size:0.608696rem; font-weight:600;}
.list-pjdetail .k{width:100%; float:left;}
.list-pjdetail .k .k-jiage{color:#e84345; float:left;}
.list-pjdetail .k .k-yikj{background:#e84345; color:#fff; font-size:0.521739rem; float:left; border:1px solid #e84345;}
.list-pjdetail .k .k-smfw{border:1px solid #c39869; color:#c39869; font-size:0.521739rem; float:left;}
.stars{ white-space: nowrap; text-align: left; }
.stars li{ display:inline-block; color:#999; font-size:0.565217rem; }
.stars dt{ display:inline-block; color:#999; font-size:0.565217rem; }
.list-pjdetail .k .span{font-size:0.565217rem; color:#999;}
.list-pjdetail .k .p{font-size:0.565217rem; color:#666;}
.list-pjdetail .k .tonguo:after{content:""; width:0.652174rem; height:0.652174rem; background:url(../images/list-detail01.png) no-repeat; background-size:100%; float:left; margin-top:0.086957rem; margin-right:0.086957rem}
.list-pjdetail .k .buman:after{content:""; width:0.782609rem; height:0.73913rem; background:url(../images/list-detail02.png) no-repeat; background-size:100%; float:left; margin-top:0.086957rem; margin-right:0.086957rem}
.list-dleixin{width:100%; background:#fff; padding:0.434783rem; color:#666; font-size:0.521739rem;}
.list-dleixin .psj{width: 0.73913rem; height: 0.73913rem; float: left; background-size: 5rem !important; padding-bottom: 0.347826rem; margin-right: 0.391304rem;background: url(../images/yuyue-ico.png) no-repeat; background-position: -2.5rem;}
.list-dleixin .pck{ width: 0.73913rem; height: 0.73913rem; background: url(../images/yuyue-ico.png) no-repeat;
    background-size: 5.5rem; background-position: -3.8rem; float: right;}
.list-dleixin input{width:6.0rem !important; font-size:0.521739rem}
.list-dleixin select{ line-height:normal;font-size:0.608696rem;-webkit-appearance:none; font-size:0.521739rem}
.list-yhpinjia{width:100%; background:#fff; padding:0.434783rem; color:#666;}
.list-yhpinjia .tit{width:100%; overflow:hidden;}
.list-yhpinjia .tit p b{color:#525a7f; font-weight:400}
.list-yhpinjia .tit span b{color:#666666; font-weight:400}
.list-yhpinjia .tit .p{width:100%; overflow:hidden; font-size:0.521739rem}
.list-yhpinjia .biaoqian{width:100%; overflow:hidden;}
.list-yhpinjia .biaoqian span{background:#fff0f1; padding:0.043478rem 0.217391rem; border-radius:2.173913rem; color:#333; font-size:0.521739rem;}
.list-yhpinjia .qunbu{width:100%; text-align:center;}
.list-yhpinjia .qunbu a{padding:0.043478rem 0.217391rem; border-radius:2.173913rem; border:1px solid #e6454a; color:#e6454a; display:inline-block;}
.list-yhfuwu{width:100%; overflow:hidden; background:#fff; padding:0 0.434783rem;}
.list-yhfuwu .tit{width:100%; overflow:hidden; padding:0.434783rem 0; border-bottom:1px solid #ddd;}
.list-yhfuwu .tit h1{font-weight:600; font-size:0.608696rem}
.list-yhfuwu .tit p{font-size:0.521739rem;}
.list-yhfuwu .liuchen{width:100%; overflow:hidden; padding:0.434783rem 0; line-height:1.043478rem}
.list-yhfuwu .zanzhu{width:100%; overflow:hidden; padding:0.434783rem 0; border-top:1px solid #ddd;}
.list-yhfuwu .zanzhu p{ font-weight:600; float:left;}
.list-yhfuwu .zanzhu p b{color:#e6454a;}
.list-yhfuwu .zanzhu span{color:#999; float:right; margin-left:0.434783rem}
.body{width:100%; color:#b2b8c2; text-align:center; overflow:hidden;}
.list-menu{width:100%; height:2.173913rem; padding:0 0.434783rem; position:fixed;left: 0; bottom: 0; background: #fff;}
.list-menu ul{}
.list-menu ul li{width:1.7rem; overflow:hidden; float:left; margin-right:0.434783rem; margin-top:0.217391rem}
.list-menu ul li p{width:1.086957rem; height:1.086957rem;}
.list-menu ul li .shouye{background:url(../images/lsit-home.png); background-size:100%; margin-left:0.26087rem}
.list-menu ul li .gouwu{background:url(../images/lsit-gouwu.png); background-size:100%; margin-left:0.217391rem;}
.list-menu ul li span{width:1.7rem; font-size:0.521739rem; text-align:center; display:block;}
.list-menu .button{padding:0.434783rem 3.478261rem; border-radius:0.217391rem;}
.list-zhez{width:100%; height:100%; background:rgba(0,0,0,0.5); left:0; top:0; position:fixed; z-index:99; display:none;}
.list-zhez .list-zbox{width:100%; height:auto; background:#fff; position: absolute; z-index:100; left:0; bottom:0; padding:0 0.521739rem; padding-bottom:0.434783rem;}
.list-zhez .list-zbox .tit{width:100%; overflow:hidden; float: left;}
.list-zhez .list-zbox .tit .img{width:1.73913rem; height:1.73913rem; border:1px solid #ddd; margin-top:-0.217391rem; position: absolute; z-index:100; background:#fff}
.list-zhez .list-zbox .tit .img img{width:1.73913rem; height:auto;}
.list-zhez .list-zbox .tit p{margin-left:2.391304rem; margin-top:0.434783rem;width: auto;}
.list-zhez .list-zbox .tit span{margin-left:2.391304rem; color:#e4474e;}
.list-zhez .list-zbox .tit .guanbi{width:0.652174rem; height:0.652174rem; font-size:1.135652rem; position: absolute; right:0.521739rem; top:0.521739rem;}

.list-zhez .list-zbox ul{width:100%; overflow:hidden;}
.list-zhez .list-zbox ul li{padding:0.217391rem; border:1px solid #a1a6ac; border-radius:0.086957rem; float:left; margin-right:0.217391rem;}
.list-active{color:#e6454a; border:1px solid #e6454a !important; padding: 0 !important; padding-top: 5px !important; padding-left: 5px !important;}
.list-active:after{content:""; width:0.695652rem; height:0.695652rem; background:url(../images/gou.png) no-repeat; background-size:100%; float:right; margin-left:-0.347826rem; margin-top:0.347826rem}
.list-zhez .list-zbox h1{font-size:0.608696rem}
.list-zhez .jj{width:2.2rem; float:left; overflow:hidden;}
.list-zhez .jj span{text-align:left; color:#666; display:block; float:left; margin-right:0.217391rem}
.list-zhez .jj .pjia{width:0.652174rem; height:0.652174rem; border:1px solid #ddd; color:#ff3c00; line-height:0.652174rem; text-align:center; border-radius:50%; float:left;}
.list-zhez .jj .pjian{width:0.652174rem; height:0.652174rem; border:1px solid #ddd; color:#ff3c00; line-height:0.652174rem; text-align:center; border-radius:50%; float:left; margin-right:0.217391rem}
.list-bfooter{width:100%; height:1.956522rem; background:#fff; padding:0.304348rem 0.521739rem; position:fixed; bottom: 0px; text-align:right;}
.list-bfooter a{padding:0.217391rem 0.347826rem; border:1px solid #999999; color:#666; display:inline-block; margin-left:0.434783rem}
.list-bfooter .a2{border-color: #e7454a; color: #e7454a;}
/*列表详情页end*/
/*全部评论*/
.list-qbxin{width:100%; height:1.956522rem; background:#fff; padding-top:0.521739rem; border-bottom:1px solid #efefef;}
.list-qbcont{width:100%; overflow:hidden; padding:0.521739rem; background:#fff; border-top:1px solid #efefef; border-bottom:1px solid #efefef;}
.list-qbcont .biaoqian{width:100%; overflow:hidden;}
.list-qbcont .biaoqian span{background:#fff0f1; padding:0.086957rem 0.217391rem; border-radius:2.173913rem; color:#333; font-size:0.521739rem; margin-right:0.217391rem}
.list-qbcont ul{width:100%; overflow:hidden;}
.list-qbcont ul li{width:100%; overflow:hidden; float:left; margin-top:0.434783rem;}
.list-qbcont ul li .tx{width:1.652174rem; height:1.652174rem; overflow:hidden; background:#f2f2f2; border-radius:50%; float:left;}
.list-qbcont ul li .tx img{width:1.652174rem; height:1.652174rem; float:left;}
.list-qbcont ul li .cont{width:13.043478rem; margin-left:0.565217rem; float:left;}
.list-qbcont ul li .cont .k{width:100%; overflow:hidden;}
.list-qbcont ul li .cont .k span{}
.list-qbcont ul li .cont .k img{width:3.26087rem; height:3.26087rem; float:left; margin-right:0.434783rem; display:block; background:#ddd;}
.list-qbcont ul li .kf{width:100%; overflow:hidden; padding:0.217391rem 0.434783rem; background:#f2f4f7; padding-right:0.217391rem; border-radius:0.217391rem; font-size:0.521739rem;}
.list-qbcont ul li .dz{width:100%; overflow:hidden; border-bottom:1px solid #f0f2f5; padding-bottom:0.434783rem}
.list-qbcont ul li .dz a{color:#666;}
.list-qbcont ul li .dz p{border:1px solid #ddd; border-radius:2.173913rem; padding:0 0.217391rem}
.list-qbcont ul li .dz p i{width:0.73913rem; height:0.73913rem; background:url(../images/pinlun-dz.png) no-repeat; background-size:100%; float:left; margin-top:0.086957rem;}
.list-qbcont ul li .dz p span{font-size:0.521739rem; margin-left:0.217391rem; color:#999; margin-top:0.086957rem; float:left;}
/*全部评论 end*/ 
/*评价中心*/
.pinjia{width:100%; height:3.913043rem; background:#fff; padding:0.869565rem;}
.pinjia img{width:1.521739rem; height:2.173913rem; float:left;}
.pinjia .pj-pinfen{width:12.173913rem; float:right;}
.pinjia .pj-dx input{margin-right: 0.217391rem; margin-left: 0.217391rem}
.pj-textarea{width:100%; height:5.217391rem; background:#f8f8f8; padding:0.434783rem; font-size:0.652174rem;}
.pj-jitu{width:100%; overflow:hidden; padding:0 0.434783rem; background:#fff;}
.pj-jitu .pul{width:100%;}
.pj-jitu .pul ul{width:16.304348rem; float:left;}
.pj-jitu .pul ul li{width:3.521739rem; height:3.521739rem; border:1px solid #efeff1; border-radius:0.086957rem; overflow:hidden; margin-right:0.434783rem; float:left; margin-top:0.434783rem}
.pj-jitu .pul ul li img{width:3.521739rem; height:3.521739rem;}
.pj-jitu .pjitu-tit{width:100%; height:1.391304rem; overflow:hidden; background:#fff; padding:0.347826rem 0 0.521739rem;}
.pj-jitu .pjitu-tit input{width:0.652174rem; height:0.652174rem; float:left;}
.pj-jitu .pjitu-tit .check{width:0.652174rem; height:0.652174rem; text-align: right; background:url(../images/fuxuank01.jpg) no-repeat; background-size: 100% !important;}
.pj-jitu .pjitu-tit .checkbox{width:0.652174rem; height:0.652174rem; vertical-align: middle; filter:alpha(opacity=0); -moz-opacity:0 -khtml-opacity: 0; opacity: 0; }
.pj-jitu .pjitu-tit span{font-size:0.521739rem; float:left; display:block; margin-left:0.217391rem}
.pj-wuliu{width:100%; overflow:hidden; padding:0.434783rem; background:#fff;}
.pj-wuliu .pj-wltit{width:100%; border-bottom:1px solid #ddd; padding-bottom:0.434783rem; overflow:hidden; line-height: 0.652174rem}
.pj-wuliu .pj-wltit:after{content:""; width:0.869565rem; height:0.652174rem; float:left; background:url(../images/pj-wuliu.jpg) no-repeat; background-size:100%; margin-right:0.217391rem}
.pj-wuliu .pj-wltit span{color:#6f7174; font-size:0.521739rem}
.pj-wuliu ul li{margin-top:0.434783rem; line-height:0.869565rem}
/*评价中心end*/
/*购物车*/
.gwc-tit{width:100%; height:1.391304rem; overflow:hidden; background:#fff; border-bottom:1px solid #efefef; border-top:1px solid #efefef; padding:0.347826rem 0.521739rem;}
.gwc-tit input{width:0.652174rem; height:0.652174rem; float:left;}
.gwc-tit .check{width:0.652174rem; height:0.652174rem; text-align: right; background:url(../images/fuxuank01.jpg) no-repeat; background-size: 100% !important;}
.gwc-tit .checkbox{width:0.652174rem; height:0.652174rem; vertical-align: middle; filter:alpha(opacity=0); -moz-opacity:0 -khtml-opacity: 0; opacity: 0; }
.gwc-tit p{font-size:0.521739rem; margin-left:0.217391rem; float:left; color:#666}
.gwc-tit p:after{content:""; width:0.782609rem; height:0.782609rem; background:url(../images/gw-dianpu.jpg) no-repeat; background-size:100%; float:left; margin-right:0.217391rem}
.gwc-tit .sc{font-size:0.521739rem; color:#666;}
.gwc-cont{width:100%; overflow:hidden; background:#fff; border-bottom:1px solid #efefef; padding:0.652174rem 0.782609rem;}
.gwc-cont input{width:0.652174rem; height:0.652174rem; float:left; margin-top:0.434783rem}
.gwc-cont .con-check{width:0.652174rem; height:0.652174rem; text-align: right; background:url(../images/fuxuank01.jpg) no-repeat; background-size: 100% !important;}
.gwc-cont .con-checkbox{width:0.652174rem; height:0.652174rem; vertical-align: middle; filter:alpha(opacity=0); -moz-opacity:0 -khtml-opacity: 0; opacity: 0; }
.gwc-cont img{width:1.521739rem; height:1.521739rem; float:left; background:#ddd; margin-left:0.434783rem; border-radius:0.217391rem;}
.gwc-cont .cen{width:9.347826rem; overflow:hidden; float:left; margin-left:0.434783rem}
.gwc-cont .cen p{text-align:left;}
.gwc-cont .cen span{text-align:left; color:#ff3c00; display:block;}
.gwc-cont .jj{width:2.2rem; float:left; overflow:hidden; margin-top:0.434783rem}
.gwc-cont .jj span{text-align:left; color:#ff3c00; display:block; float:left; margin-right:0.217391rem}
.gwc-cont .jj .pjia{width:0.652174rem; height:0.652174rem; border:1px solid #ddd; color:#ff3c00; line-height:0.652174rem; text-align:center; border-radius:50%; float:left;}
.gwc-cont .jj .pjian{width:0.652174rem; height:0.652174rem; border:1px solid #ddd; color:#ff3c00; line-height:0.652174rem; text-align:center; border-radius:50%; float:left; margin-right:0.217391rem}
.gwc-hj{width:100%; height:1.391304rem; overflow:hidden; background:#fff; border-bottom:1px solid #efefef; padding:0.347826rem 0.521739rem;}
.gwc-hj p{font-size:0.521739rem; margin-left:0.217391rem; float:left; color:#666}
.gwc-hj p b{font-weight:400; color:#ff3c00}
.gwc-hj .jiesuan{padding:0.086957rem 0.869565rem; border-radius:0.217391rem; background:#e6454a; color:#fff; font-size:0.521739rem; float:right; margin-top:-0.086957rem}
/*新增*/
.gwc-cont .cen2{ overflow:hidden; float:left; margin-left:0.434783rem}
.gwc-cont .cen2 p{text-align:left;}
.gwc-cont .cen2 span{text-align:left; color:#ff3c00; display:block; float:left; margin-right:0.434783rem; font-size: 0.608696rem}
.gwc-cont .jj2{ float:right; overflow:hidden; margin-top:0.434783rem}
.gwc-cont .jj2 span{text-align:left; color:#666; display:block; float:left; margin-right:0.217391rem}
/*新增 end*/
/*购物车end*/
/*订单支付*/
.dindan{width:100%; overflow:hidden; background:#fff; padding:0.434783rem 0.521739rem;}
.dindan-leixin{width:100%; overflow:hidden; background:#fff; padding:0.434783rem 0.521739rem; padding-top:0;}
.dindan-leixin li{width:100%; float:left; overflow:hidden; margin-top:0.434783rem;}
.dindan-leixin li img{width:1.521739rem; height:1.521739rem; background:#ddd; border-radius:0.217391rem; float:left;}
.dindan-leixin li span{float:left; margin-top:0.391304rem; margin-left:0.434783rem}
.dindan-leixin li input{width:0.652174rem; height:0.652174rem; background:url(../images/fuxuank.jpg) no-repeat; background-size:cover; float:right; margin-top:0.434783rem; }
/*订单支付end*/
/*我的订单*/
.container { width: 100%; overflow:hidden;}
.swiper3 {width: 100%; background:#fff; position:relative; height:auto; text-align:center;}
.swiper3height{ height:1.73913rem !important; line-height:1.73913rem}
.swiper3 .selected {color: #333; border-bottom: 3px solid #e6454a;}
.swiper3 .about_zxtit{width:100% !important; text-align:center;}
.swiper3 .swiper-slide {width: 25% !important; font-size: 0.521739rem; cursor: pointer; display:inline-block; text-align:center; padding:0 0.217391rem;}
.swiper3 .swiper-slide span{width:100%; text-align:center; font-size:0.652174rem;}
.swiper4 { width: 100%; overflow:hidden;
}
.swiper4 .swiper-wrapper{height:auto !important;}
.swiper4 .swiper-slide { height:auto !important; background-color: #f5f5f5; color: #333;
    text-align: center; box-sizing: border-box !important; overflow-x: hidden !important;}
.wd-zt{width:100%; overflow:hidden; height:2.173913rem; background:#fff; padding:0.608696rem; border-bottom:1px solid #efefef; border-top:1px solid #efefef;}
.wd-zt p{float:left; font-size:0.652174rem;max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 10px;
    position: relative;}
.wd-zt p:before{content:"";width:3px; height:0.956522rem; background:#e6454a; /*float:left; margin-right:0.434783rem;*/position: absolute; left: 0;}
.wd-zt span{padding:0.086957rem 0.043478rem; border:1px solid #e6454a; color:#e6454a; float:left; margin-left:0.434783rem;}
.wd-zt .zt{color:#e6454a; font-size:0.695652rem; float:right;}
.wd-cont{width:100%; overflow:hidden; background:#fff; padding:0.434783rem 1.304348rem; padding-bottom:0.869565rem; border-bottom:1px solid #efefef; position: relative;}
.wd-cont .qrwc{
    position: absolute;
    bottom: 0.434783rem;
    padding: 0.217391rem 0.347826rem;
    border: 1px solid #e7454a;
    display: inline-block;
    margin-left: 0.434783rem;
    right: 0.608696rem;
    color: #e7454a;
}
.wd-cont li{width:100%; float:left; overflow:hidden; margin-top:0.434783rem}
.wd-cont li p{font-size:0.652174rem; color:#999;float:left;}
.wd-cont li span{font-size:0.652174rem; color:#333;float:left;}
/*我的订单end*/
/*订单详情*/
.dingdanxx-tt{width:100%; height:1.5rem; line-height:1.086957rem; background:url(../images/dingdanxx-ttbg.png); padding:0.217391rem 0.521739rem}
.dingdanxx-tt p{color:#fff; float:left; font-size:0.521739rem}
.dingdanxx-tt p:after{content:""; width:0.565217rem; height:0.565217rem; background:url(../images/dd-chaoshi.png) no-repeat; background-size:100%; float:left; margin-top:0.304348rem; margin-right:0.217391rem}
.dingdanxx-tt .p1:after{content:""; width:0.652174rem; height:0.652174rem; background:url(../images/d-zhifu01.png) no-repeat; background-size:100%; float:left; margin-top:0.217391rem; margin-right:0.217391rem}
.dingdanxx-tt span{color:#fff; font-size:0.521739rem}
.dingdanxx-dz{width:100%; padding:0.521739rem; background:#fff; overflow:hidden;}
.dingdanxx-dz .pro{width:100%; overflow:hidden; background:#f5f6fa; overflow:hidden; padding:0.434783rem}
.dingdanxx-dz .pro .img{width:1.304348rem; height:1.73913rem; float:left; overflow:hidden; text-align:center;}
.dingdanxx-dz .pro .img:after{content:""; width:0; height:100%; display:inline-block; vertical-align:middle;}
.dingdanxx-dz .pro .img img{width:1.304348rem; height:auto; display:inline-block; vertical-align:middle;}
.dingdanxx-dz .pro p{width:12rem; float:left; margin-left:0.434783rem}
.dingdanxx-dz .pro span{margin-left:0.434783rem; margin-top:0.217391rem}
.dingdanxx-dz .pro span b{color:#e7454a; font-weight:400}
.dingdanxx-dz .k{width:100%; overflow:hidden; float:left; line-height:1.043478rem}
.dingdanxx-dz .k p{width:2.5rem; float:left; color:#999; font-size:0.521739rem;}
.dingdanxx-dz .k span{font-size:0.521739rem; margin-left:0.434783rem;}
/*订单详情end*/
/*我的套餐*/
.wdtc_top{
    width: 100%;
    overflow: hidden;
    padding: 0.565217rem 0.782609rem;
    background: #fff;
}
.wdtc_box{
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 0.434783rem;
}
.wdtc_box li{
    padding: 0.347826rem 0.434783rem;
    border-bottom: 1px solid #f4f4f4;
}
.wdtc_box li button{
    background: #e6454a;
    border-radius: 50px;
    padding: 0.086957rem 0.434783rem;
    color: #fff;
    margin-top: 0.347826rem
}
.wdtc_fwxm{
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.wdtc_fwxm table{
    width: 16.304348rem;
    border-collapse :collapse ;
    font-size: 0.521739rem;
    border-top: 1px solid #ddd;
}
.wdtc_fwxm h3{text-align: center; line-height:2.173913rem; font-weight: 400}
.wdtc_fwxm table th{
    width: 20% !important;
    text-align: center;
    border :1px solid #ddd;
    border-top:none;
    padding:0.217391rem
}
.wdtc_fwxm table td{
    width: 20% !important;
    text-align: center;
     border :1px solid #ddd;
     border-top:none;
     padding:0.217391rem
}
/*我的套餐end*/
