body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

.Herd {
	width: 100%;
	height: auto;
	background-size: 100% 100%;
	background-image: url(../img/00/banner背景.png);
	margin: 0;
	padding-top: 3%;
}

.Herd_search {
	width: 100%;
	height: auto;
	
}

.Map {
	width: 100%;
	height: auto;
	margin-top: 1%;
	margin-bottom: 3%;
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
}

.Search {
	width: 55%;
	height: 100%;
	text-align: center;
	float: left;
	padding-top: 1%;
	margin-top: 1%;
}

.Map img {
	width: auto;
	height: 80%;
	margin: 0 10px;
}

input[type="text"] {
	box-sizing: border-box;
	text-align: center;
	font-size: 1.4em;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 80%;
	float: left;
}

button[type="submit"]{
	box-sizing: border-box;
	text-align: center;
	font-size: 1.4em;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 20%;
	float: left;
}



.Middle {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.biaoti {
	margin: 5% 5%;
	width: 30%;
	height: auto;
}

.Middle_top {
	width: 100%;
	height: auto;
}

.Middle_top_A {
	width: 44%;
	height: auto;
	float: left;
	margin: 3% auto 3% 4%;
}

.Middle_top_A_a {
	width: 100%;
	height: 45%;
}

.Middle_top img {
	width: 100%;
	height: auto;
}

.Middle_top_B {
	width: 22%;
	height: auto;
	float: left;
	margin: auto auto 3% 4%;
}

.Middle_top_C {
	width: 66%;
	height: auto;
	float: left;
	margin: auto auto 3% 4%;
}

.Middle_trademark {
	text-align: center;
	margin-bottom: 50px;
	width: 100%;
	height: auto;
}
