ul,
li {
	padding: 0px;
	margin: 0px;
}

#panel {
	width: 500px;
	margin: 30px auto;
}

.goods_attr {
	overflow: hidden;
}

.goods_attr .label {
	font: 12px/30px '宋体';
	color: #777;
	width: 50px;
	;
	padding-right: 10px;
	float: left;
	display: block;
}

.goods_attr ul {
	float: left;
	width: 300px;
}

.goods_attr li {
	color: #333;
	overflow: hidden;
	position: relative;
	float: left;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #999;
	text-indent: 0;
	cursor: pointer
}

.goods_attr li.b {
	border: 1px dotted #CCC;
	color: #DDD;
	pointer: none;
}

.goods_attr li.b img {
	opacity: 0.4;
}

.goods_attr li.sel {
	border: 1px solid #c80a28;
	color: #333;
}

.goods_attr li.text {
	margin: 5px 10px 5px 0;
	height: 23px;
	line-height: 23px;
	text-indent: 0;
	padding: 0 23px;
	font-style: normal;
}

.goods_attr li.img {
	margin-right: 10px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}