<div id="envelop" class="envelop" v-if="change!=0||is_bind==1">
    <!-- --------------------------------------红包-------------------------------------------------- -->
    <div class="envelop_big" style="display: none" v-show="change!=0">
        <div class="envelop_cash">
            <div class="envelop_circle">
            </div>
            <img style="pointer-events: none;" class="envelop_tlile"
                src="{$Think.const.PUBLIC_RES}/png/iconic/logo.png">
            <span>给您发个现金红包</span>
            <div @click.stop="open" v-show="change==1" class="envelop_open">
                <img style="pointer-events: none; " src="{$Think.const.PUBLIC_RES}/png/iconic/kai.png">
            </div>

        </div>

        <transition name="enveloph">
            <div class="envelop_circleShow" v-show="change==2">
                <div class="envelop_board">
                    <h3>恭喜已获得</h3>
                    <span><strong v-cloak>{{ money }}</strong>元</span>
                    <p v-cloak>价值{{ money }}小哥豆</p>
                </div>
            </div>
        </transition>

        <div class="envelop_closed" @click.stop="cut">
            <img style="pointer-events: none; " src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi.png">
        </div>
        <div class="envelop_use" @click.stop="cut" v-show="change==2">
            立即使用
        </div>
    </div>

    <!-- --------------------------------------注册-------------------------------- -->
    <!-- 蒙版 -->
    <div class="public_masking" style="display: none" v-show="is_bind==1">

    </div>
    <div v-show="is_bind==1" style="display: none" class="public_binding">
        <img class="public_logo" class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/logo1.png" />
        <p>绑定手机号</p>
        <!-- 手机号 -->
        <div class="public_phones">
            <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/shouji.png" />
            <input type="number" placeholder="请输入手机号" v-model="phone">
        </div>
        <!-- 验证码 -->
        <div class="public_password">
            <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/mima1.png" />
            <div class="public_xhx">
                <input type="text" maxlength="6" placeholder="请输入验证码" v-model="verification">
                <span class="public_identifying" @tap='msg' v-if="for_if==0">获取验证码</span>
                <span class="public_identifying" v-else>获取验证码</span>
            </div>
        </div>
        <!-- 备注 -->
        <p class="public_remark">
            注: 手机号作为您账户的唯一标识,用
            于身份验证，会员优惠等用途
        </p>
        <!-- 按钮 -->
        <div class="public_btn" @click.stop='register'>
            提交
        </div>
        <!-- 取消按钮 -->
        <div class="public_cancel" @click.stop='is_bind=0'>
            <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi1.png" />
        </div>
    </div>

</div>

<script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
<script>
    var envelop = new Vue({
        el: "#envelop",
        data: {
            // ---------------------------------红包-------------------------------------
            change: 0,
            user: [],
            money: '',
            type: 0,
            // --------------------------------注册-----------------------------
            // 判断有无注册弹层
            is_bind: 0,
            // 注册手机号
            phone: '',
            // 验证码
            verification: '',
            // 返回的验证码
            message: '',
            // 获取验证码判断
            for_if: 0,
            // 倒计时
            countdown: 60,
        },
        created: function created() {
            var that = this;
            // -------------------------------------红包-----------------------------------------------
            // 获取用户数据
            this.openid = window.localStorage.openid;
            axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                headers: {
                    'X-Requested-With': 'xmlhttprequest'
                },
                params: {
                    openid: this.openid
                }
            }).then(function (res) {
                // console.log(res);
                that.user = res.data.data;
                var userContent = JSON.stringify(that.user);
                window.localStorage.setItem("userContent", userContent);
                that.is_chang();

            });
        },
        methods: {
            // 领红包请求
            open: function open() {
                var that = this;
                event.stopPropagation()
                if (that.type == 1) {
                    axios.get('/index.php/mapiv2/Hbbean/rest', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            uid: this.user.id
                        }
                    }).then(function (res) {
                        that.change = 2;
                        if (res.data.data.code == 1) {
                            that.money = res.data.data.data;
                        } else {
                            that.money = res.data.data.data.effective_bean;
                        }
                        return false;
                    })
                } else if (that.type == 2) {
                    axios.get('/index.php/mapiv2/hbbean/open', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            uid: this.user.id
                        }
                    }).then(function (res) {
                        that.change = 2;
                        if (res.data.code == 1) {
                            that.money = res.data.data;
                        } else {
                            that.money = res.data.data.effective_bean;
                        }
                        return false;
                    })
                }

            },
            cut: function cut() {
                // 记录关闭红包
                this.change = 0;
                this.order();
                event.stopPropagation()
                // console.log(event);
                window.sessionStorage.setItem('envelop', 0);
                this.openid = window.localStorage.openid;
                axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        openid: this.openid
                    }
                }).then(function (res) {
                    that.user = res.data.data;
                    var userContent = JSON.stringify(that.user);
                    window.localStorage.setItem("userContent", userContent);
                });
            },
            // 判断是否弹红包
            is_chang: function is_chang() {
                var that = this;
                // 判断是否已经关闭过红包
                if (window.sessionStorage.envelop == 0) {
                    this.order();
                } else {
                    // 判断是否领过红包
                    if (that.user.bean.receive_state == 1) {
                        that.change = 1;
                        that.type = 1;
                    } else if (that.user.bean.receive_state == 2) {
                        this.order();
                    }
                }
                if (window.sessionStorage.envelop == 0) {
                    this.order();
                } else {
                    // 判断是否领过红包
                    if (that.user.gift) {
                        that.change = 1;
                        that.type = 2;
                    } else if (that.user.bean.receive_state == 2) {
                        this.order();
                    }
                }
            },
            // ---------------------- 注册----------------------------------
            order: function order(i) {
                var _this = this;
                axios.post('/index.php/mapiv2/myorder/checkbind', {
                    uid: _this.user.id
                }, {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        if (res.data.code == 0) {
                            _this.is_bind = 1;
                            // return false;
                        } else {
                        }
                    });
            },
            // 获取验证码
            msg: function msg() {
                var _this = this;
                axios.get('/index.php/mapi/commonapi.ajaxcommon/sms', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        phone: this.phone,
                        type: 2
                    }
                }).then(function (res) {
                    _this.message = res.data.data;
                    if (res.data.code == 0) {
                        mui.toast(res.data.msg, {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    mui.toast('验证码已发送', {
                        duration: '1000ms',
                        type: 'div'
                    });
                    $('.public_identifying').css('background-color', '#ccc');
                    _this.for_if = 1;
                    var that = _this;
                    _this.time = setInterval(that.timeout, 1000);
                });
            },
            // 验证码样式更改
            timeout: function timeout() {
                this.countdown--;
                $('.public_identifying').text('请稍等(' + this.countdown + 's)');

                if (this.countdown == 0) {
                    clearTimeout(this.time);
                    $('.public_identifying').css('background-color', '');
                    $('.public_identifying').text('获取验证码');
                    this.countdown = 60;
                    this.for_if = 0;
                }
            },
            // 注册
            register: function register() {
                var that = this;
                if (!this.phone) {
                    mui.toast('请输入手机号', {
                        duration: '1000ms',
                        type: 'div'
                    });
                    return false;
                }
                ;
                if (!this.verification) {
                    mui.toast('请输入验证码', {
                        duration: '1000ms',
                        type: 'div'
                    });
                    return false;
                }
                ;
                // 判断验证码
                if (this.message == this.verification) {
                    // 上传
                    axios.post('/index.php/mapi/Binduser/rest', {
                        phone: this.phone
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            that.user = res.data.data.id;
                            window.localStorage.setItem('userContent', JSON.stringify(res.data.data))
                            if (res.data.code == 1) {
                                mui.toast('注册成功', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                that.is_bind = 0;
                            } else {
                                mui.toast('注册失败,' + res.data.msg, {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            }
                        });
                } else {
                    mui.toast('短信输入错误', {
                        duration: '1000ms',
                        type: 'div'
                    });
                    return false;
                }
            },
        },
    })
</script>