<ul class="bottom">
    <li>
        <a :href="'/index.php/mobile/index/index/'+date+'/'">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/SY2.png">
            <p>首页</p>
        </a>
    </li>
    <li>
        <a :href="'/index.php/mobile/goods/classify/'+date+'/'">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/FL1.png">
            <p class="order">分类</p>
        </a>
    </li>
    <li>
        <a :href="'/index.php/mobile/order/number/'+date+'/'">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/DD2.png">
            <p>订单</p>
        </a>
    </li>
    <li>
        <a :href="'/index.php/mobile/user/index/'+date+'/'">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/GR2.png">
            <p>个人</p>
        </a>
    </li>
</ul>