<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a class="btn btn-default btn-change btn-bt-default" href="javascript:;"><i class="fa fa-battery-full" aria-hidden="true"></i>全部</a>
                        <a class="btn btn-success btn-change btn-status-on" href="javascript:;"><i class="fa fa-battery-3" aria-hidden="true"></i>待审核</a>
                        <a class="btn btn-info btn-change btn-status-suc" href="javascript:;"><i class="fa fa fa-battery-1" aria-hidden="true"></i>审核成功</a>
                        <a class="btn btn-danger btn-change btn-status-err" href="javascript:;"><i class="fa fa-battery-empty" aria-hidden="true"></i>审核失败</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('auth/group/edit')}" 
                           data-operate-del="{:$auth->check('auth/group/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
