<style type="text/css">
    .myp{
        padding: 0.5rem;
        letter-spacing: 0.1rem;
        font-size: 15px;
        font-family: fantasy;
    }
</style>
<div class="myp">
    {$assess.detail}
</div>