<style>td{width:120px;text-align: right}tr:nth-of-type(odd){font-size16px;background-color: #cfffe2!important;}</style>
<table class="table table-striped">
    <tr>
        <td>综合评价：</td>
        <th>{$assess.avg_assess}</th>
    </tr>
    <tr>
        <td>仪表整洁：</td>
        <th>{$assess.meter_score}</th>
    </tr>
    <tr>
        <td>服务专业：</td>
        <th>{$assess.server_score}</th>
    </tr>
    <tr>
        <td>态度热情：</td>
        <th>{$assess.manner_score}</th>
    </tr>
    <tr>

</table>