<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <div class="col-xs-6 col-sm-6">
            <div class="widget-body no-padding">
                <div id="toolbar" class="toolbar">
                    {:build_toolbar('refresh')}
                </div>
                <table id="table" class="table table-striped table-bordered table-hover"
                       data-operate-edit="{:$auth->check('user/stats/gift')}"
                       width="100%">
                </table>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1" style="padding-left: 2px">
            <div style="height: 90px"></div>
            <button type="button" class="btn btn-success btn-add">添加 &gt;</button>
            <div class="clearFix" style="height: 30px"></div>
            <button type="button" class="btn btn-danger del-ids">&lt; 去除</button>
        </div>
        <div class="col-xs-5 col-sm-5">
            <div class="clearFix" style="height: 50px"></div>
            <div class="block__list-title">
            <label for="cc" class="control-label" style="margin-bottom: 10px">接收红包用户</label>（<span id="add_num" style="color: #f50">0</span>人）</div>
            <textarea id="cc" name="row[ids]" disabled class="add_ids form-control" style="min-height: 200px" data-rule="required"></textarea>
            <span class="msg-box" for="add_ids"></span>
            <input type="hidden" class="add_ids" name="row[uid]" />
        </div>
    </div>


    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">红包面额（豆）</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-weigh" class="form-control" name="row[cost]" type="number" data-rule="required range(0.01~)" value="1">
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-4 col-sm-4"></label>
        <div class="col-xs-8 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled hide">{:__('OK')}</button>
            <button type="button" class="btn btn-success btn-submit">{:__('OK')}</button>
            <button type="button" onclick="Layer.closeAll()" style="margin-left: 30%" class="btn btn-default btn-embossed"> 取 消 </button>
        </div>
    </div>
</form>