<style>
    .sm-st {
        background:#fff;
        padding:20px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        margin-bottom:20px;
        -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0 1px 0px rgba(0,0,0,0.05);
    }
    .sm-st-icon {
        width:60px;
        height:60px;
        display:inline-block;
        line-height:60px;
        text-align:center;
        font-size:30px;
        background:#eee;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        float:left;
        margin-right:10px;
        color:#fff;
    }
    .sm-st-info {
        font-size:12px;
        padding-top:2px;
    }
    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }
    .st-red {
        background-color: #F05050;
    }
    .st-green {
        background-color: #27C24C;
    }
    .st-violet {
        background-color: #7266ba;
    }
    .st-blue {
        background-color: #23b7e5;
    }
</style>
<div class="panel">
    <div class="panel-heading">
        {:build_heading(null, false)}
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">

                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-red"><i class="fa fa-envelope-open-o"></i></span>
                            <div class="sm-st-info">
                                <span>0</span>红包池总余额</div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-cny"></i></span>
                            <div class="sm-st-info">
                                <span>0</span>可用池总余额</div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-blue"><i class="fa fa-book"></i></span>
                            <div class="sm-st-info">
                                <span>0</span>红包池发放总额</div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-green"><i class="fa fa-shopping-bag"></i></span>
                            <div class="sm-st-info">
                                <span>0</span>可用池消耗总额</div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="tab-pane fade active in" id="two">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a class="btn btn-info btn-change btn-dialog" href="/admin/user/stats/gift"><i class="fa fa-group"></i> 群发红包</a>
                        <a class="btn btn-default" style="color:dodgerblue;">
                            <span class="extend">
                                今日拆红包：<span style="color: #ff5500">0</span> 人
                            </span>
                        </a>
                        <a class="btn btn-default" style="color:dodgerblue;">
                            <span class="extend">
                                当前持有可用池：<span style="color: #ff5500">0</span> 人
                            </span>
                        </a>
                        <a class="btn btn-default" style="color:dodgerblue;">
                            <span class="extend">
                                当前持有红包池：<span style="color: #ff5500">0</span> 人
                            </span>
                        </a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-edit="{:$auth->check('auth/admin/edit')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>