body {
    background-color: #f5f5f5;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 0.5rem;
    position: fixed;
    text-align: center;
    background-color: #fff;
    border-bottom: 0.01rem solid #f2f2f2;
    box-shadow:0 0.01rem 0.04rem 0 #F2F2F2;
}

.header h3 {
    margin: 0;
    font-size: 0.14rem;
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}

.arrows .imgs {
    width: 0.1rem;
    height: 0.2rem;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
    padding: 0 0 0 0.15rem;
}

.header .imgs {
    width: 50%;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
}


/* 客户信息样式 */
.one {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #fff;
    /*padding-bottom: 0.13rem;*/
    border-bottom: 0.05rem solid #f0f0f0;
}

.one h4 {
    width: 100%;
    margin: 0;
    height: 0.43rem;
    line-height: 0.43rem;
    background-color: #fff;
    font-size: 0.13rem;
    padding-left: 0.15rem;
    border-bottom: 0.01rem solid #f0f0f0;
}

.one .tow {
    line-height: 0.3rem;
    padding-left: 0.15rem;
    font-size: 0.13rem;
    color: #868686;
}


/* 订单信息样式 */
.order {
    width: 100%;
    background-color: #fff;
    /*padding-bottom: 0.13rem;*/
    border-bottom: 0.05rem solid #f0f0f0;
}

.order h4 {
    width: 100%;
    margin: 0;
    height: 0.43rem;
    line-height: 0.43rem;
    background-color: #fff;
    font-size: 0.13rem;
    padding-left: 0.15rem;
    border-bottom: 0.01rem solid #f0f0f0;
}

.order .project {
    font-size: 0.13rem;
    color: #868686;
    padding: 0.08rem 0 0.08rem 0.15rem;
}


/* 改约信息 */
.amend {
    width: 100%;
    margin: 0;
    height: 0.43rem;
    line-height: 0.43rem;
    background-color: #fff;
    font-size: 0.13rem;
    padding-left: 0.15rem;
    border-bottom: 0.01rem solid #f0f0f0;
}

.site {
    padding: 0 0.15rem;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.site span {
    color: #999;
    line-height: 0.4rem;
    font-size: 0.13rem;
}

.site input,
.site select {
    padding: 0 0.05rem;
    float: right;
    width: 50%;
    color: #999;
    margin: 0.05rem 0;
    line-height: 0.3rem;
    background-color: #F5F5F5;
    font-size: 0.14rem;
    border: none;
    height: auto;
}

.site img {
    width: 0.105rem;
    height: 0.07rem;
    position: absolute;
    right: 7%;
    top: 45%;
}

.prompt {
    font-size: 0.14rem;
    line-height: 0.3rem;
    margin: 0;
    margin-left: 0.2rem;
}

/* 改约时间 */
.remark {
    background-color: #fff;
    padding: 0.05rem 0.15rem 0.15rem 0.15rem;
}

.remark div {
    color: #999;
    font-size: 0.13rem;
}

.remark textarea {
    width: 100%;
    font-size: 0.12rem;
    height: 0.87rem;
    background: #f5f5f5;
    border: 0;
    color: #999;
    margin: 0.1rem 0 0 0;
}


/* 底部按钮样式 */
.btn {
    width: 3.45rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background-color: #F95901;
    text-align: center;
    margin: 0.2rem auto;
    color: #fff;
    border-radius: 0.05rem;
    font-size: 0.15rem;
}
























