body {
    background-color: #f5f5f5;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 0.5rem;
    position: fixed;
    text-align: center;
    background-color: #fff;
    border-bottom: 0.01rem solid #f2f2f2;
    box-shadow:0 0.01rem 0.04rem 0 #F2F2F2;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}

.arrows .imgs {
    width: 0.1rem;
    height: 0.2rem;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
    padding: 0 0 0 0.15rem;
}

.header .imgs {
    width: 50%;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
}


/* 全部分类样式 */
.all {
    text-align: center;
    background-color: #fff;
    margin-top: 0.5rem;
    width: 100%;
    height: 0.485rem;
    line-height: 0.485rem;
    border-bottom: 0.01rem solid #f2f2f2;
}

.all span {
    margin-left: 0.5rem;
    font-size: 0.15rem;
    color: #333;
}

.all img {
    float: right;
    width: 0.25rem;
    height: 0.25rem;
    margin: 0.12rem 0.15rem 0 0;
}


/* 确认、上门、服务、完成样式 */
ul {
    margin: 0;
    width: 100%;
    height: 0.485rem;
}

ul li {
    text-align: center;
    width: 25%;
    height: 100%;
    background-color: #fff;
    line-height: 0.485rem;
    float: left;
    color: #999;
    font-size: 0.15rem;
}

ul li span {
    display: inline-block;
    height: 100%;
}

ul .accomplish span {
    color: #F95901;
}

ul .accomplish span:after {
    content: '';
    display: block;
    height: 0.015rem;
    border-bottom: 0.015rem solid #FF7223;
}


/* 服务、订单样式 */
.box {
    width: 100%;
    /*background-color: #0ff;*/
    padding: 0.065rem 0.15rem 0 0.15rem;
}

.onw {
    width: 100%;
    background-color: #fff;
    padding: 0.145rem;
    position: relative;
    border-bottom: 0.01rem solid #f5f5f5;
}

.onw div:nth-child(1) {
    font-size: 0.18rem;
    color: #333;
    margin-bottom: 0.12rem;
}

.onw div:nth-child(2),
.onw div:nth-child(3),
.onw div:nth-child(4) {
    color: #666;
    font-size: 0.15rem;
}

.onw img {
    width: 0.525rem;
    height: 0.525rem;
    top: 0;
    right: 0;
    position: absolute;
}































