body {
  background-color: #f5f5f5;
}

/* 全部分类样式 */
.all {
  position: fixed;
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 0.485rem;
  line-height: 0.485rem;
  border-bottom: 0.01rem solid #f2f2f2;
  top: 0;
  z-index: 10;
}

.all select {
  position: absolute;
  color: #333;
  font-size: 0.15rem;
  /* margin-left: 0.5rem; */
  left: 50%;
  transform: translateX(-20%);
  width: 52%;
  margin: 0;
  height: 0.48rem;
  z-index: 20;
  background-color: transparent;
}

.img-gr {
  margin: 0.12rem 0 0 0.15rem;
  width: 0.25rem;
  height: 0.25rem;
  float: left;
}

.all .imgs {
  /* float: right; */
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 0.25rem;
  margin: 0.12rem 0.15rem 0 0;
  z-index: 1;
}

/* 确认、上门、服务、完成样式 */
ul {
  margin: 0;
  width: 100%;
  height: 0.485rem;
  position: fixed;
  top: 0.485rem;
  z-index: 10;
}

ul li {
  text-align: center;
  width: 20%;
  height: 100%;
  background-color: #fff;
  line-height: 0.485rem;
  float: left;
  font-size: 0.15rem;
}

ul li a {
  color: #999;
}

ul li span {
  display: inline-block;
  height: 100%;
}

ul .accomplish span {
  color: #f95901;
}

ul .accomplish span:after {
  content: '';
  display: block;
  height: 0.015rem;
  border-bottom: 0.015rem solid #ff7223;
}

/* 服务、订单样式 */
.box {
  width: 100%;
  /*background-color: #0ff;*/
  padding: 0.065rem 0.15rem 0 0.15rem;
}

.gib {
  margin-top: 0.97rem;
}

.onw {
  width: 100%;
  background-color: #fff;
  padding: 0.145rem 0.145rem 0.05rem 0.145rem;
  position: relative;
  border-bottom: 0.01rem solid #f5f5f5;
  overflow: hidden;
}

.onw .triangle {
  text-align: center;
  line-height: 1.5rem;
  width: 0.9rem;
  height: 0.9rem;
  top: -0.45rem;
  right: -13%;
  position: absolute;
  font-size: 0.15rem;
  color: #fff;
  background-color: #f95901;
  transform: rotate(45deg);
}

.onw div:nth-child(1) {
  font-size: 0.18rem;
  color: #333;
  margin-bottom: 0.12rem;
}

.onw div:nth-child(1) span {
  color: #999;
  font-size: 0.12rem;
  float: right;
  margin-right: 0.375rem;
}

.onw div:nth-child(2),
.onw div:nth-child(3),
.onw div:nth-child(4) {
  color: #666;
  font-size: 0.15rem;
}

.onw img {
  width: 0.525rem;
  height: 0.525rem;
  top: 0;
  right: 0;
  position: absolute;
}

.temporarily {
  text-align: center;
  line-height: 0.5rem;
  background-color: #f5f5f5;
  color: #999;
}

.finished {
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem;
  border: none;
  /* margin-top: 0.05rem; */
  background-color: #fff;
}

.finished span {
  display: block;
  width: 100%;
  background-color: #ff7223;
  line-height: 0.35rem;
  text-align: center;
  color: #fff;
  border-radius: 0.05rem;
}
