body {
  background-color: #f5f5f5;
}

/* 全部分类样式 */
.all {
  width: 100%;
  height: 0.485rem;
  text-align: center;
  /* margin-top: 0.5rem; */
  line-height: 0.485rem;
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
}

.all select {
  position: absolute;
  color: #333;
  font-size: 0.15rem;
  /* margin-left: 0.5rem; */
  left: 50%;
  transform: translateX(-20%);
  width: 52%;
  margin: 0;
  height: 0.48rem;
  z-index: 20;
  background-color: transparent;
}

.img-gr {
  margin: 0.12rem 0 0 0.15rem;
  width: 0.25rem;
  height: 0.25rem;
  float: left;
}

.all .imgs {
  /* float: right; */
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 0.25rem;
  margin: 0.12rem 0.15rem 0 0;
  z-index: 1;
}

/* 确认、上门、服务、完成样式 */
.top {
  margin: 0;
  width: 100%;
  height: 0.485rem;
}

.top li {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.485rem;
  background-color: #fff;
}

ul li a {
  color: #999;
}

.top li span {
  height: 100%;
  display: inline-block;
}

.top .accomplish span {
  color: #f95901;
}

.top .accomplish span:after {
  content: '';
  display: block;
  height: 0.015rem;
  border-bottom: 0.015rem solid #ff7223;
}

/* 任务样式 */
/* .task {
    width: 100%;
    height: 0.3rem;
    overflow: hidden;
    text-align: center;
    padding: 0 0.45rem;
    margin: 0.165rem 0 0.05rem 0;
}

.task mui-control-item {
    float: left;
    color: #999;
    height: 100%;
    width: 33.3333%;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.3rem;
    background-color: #0f0;
}

.task .mui-control-item:nth-child(1) {
    color: #fff;
    background-color: #F95901;
    border-radius: 0.05rem 0 0 0.05rem;
}

.task .mui-control-item:nth-child(3) {
    background-color: #fff;
    border: 0.01rem solid #F95901;
}

.task .mui-control-item:nth-child(2) {
    border-right: 0;
}

.task .mui-control-item:nth-child(3) {
    border-radius: 0 0.05rem 0.05rem 0;
} */

/* 服务、订单样式 */
/* .box {
    width: 100%;
    padding: 0.065rem 0.15rem 0 0.15rem;
}

.onw {
    width: 100%;
    padding: 0.145rem;
    position: relative;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
}

.onw div:nth-child(1) {
    color: #333;
    font-size: 0.18rem;
    margin-bottom: 0.12rem;
}

.onw div:nth-child(2),
.onw div:nth-child(3),
.onw div:nth-child(4) {
    color: #666;
    font-size: 0.15rem;
}

.onw img {
    top: 0;
    right: 0;
    width: 0.525rem;
    height: 0.525rem;
    position: absolute;
} */

/* mui样式 */
html,
body {
  background-color: #f5f5f5;
}

.mui-bar ~ .mui-content .mui-fullscreen {
  top: 0.44rem;
  height: auto;
}

.mui-fullscreen {
  top: 1rem;
}

.mui-bar-nav {
  box-shadow: none;
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
}

.mui-pull-top-tips {
  left: 50%;
  top: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  border-radius: 100%;
  margin-left: -0.25rem;
}

.mui-bar ~ .mui-pull-top-tips {
  top: 0.24rem;
}

.mui-pull-top-wrapper {
  display: block;
  width: 0.42rem;
  height: 0.42rem;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #efeff4;
  background-clip: padding-box;
  box-shadow: 0 0.04rem 0.1rem #bbb;
}

.mui-pull-top-tips.mui-transitioning {
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
  /*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    */
  margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 0.07rem;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
  /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
  color: #777;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.4rem;
  background-color: #efeff4;
}

.mui-pull-top-canvas {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: #fafafa;
  box-shadow: 0 0.02rem 0.1rem #bbb;
}

.mui-pull-top-canvas canvas {
  width: 0.4rem;
}

.mui-slider-indicator.mui-segmented-control {
  padding: 0 20%;
  margin-top: 0.16rem;
  box-sizing: border-box;
}

#sliderSegmentedControl .mui-control-item.mui-active {
  color: white;
  background-color: #ff7223;
  border-bottom: 0.01rem solid #ff7223;
}

#sliderSegmentedControl .switch {
  width: 60%;
  display: flex;
  height: 0.3rem;
}

#sliderSegmentedControl .mui-control-item {
  flex: 1;
  color: #999999;
  font-size: 0.15rem;
  padding: 0 0.03rem;
  line-height: 0.3rem;
  border: 0.01rem solid #ff7223;
}

#sliderSegmentedControl .mui-control-item:first-child {
  border-radius: 0.05rem 0 0 0.05rem;
}

#sliderSegmentedControl .mui-control-item:last-child {
  border-radius: 0 0.05rem 0.05rem 0;
}

#slider .mui-slider-item.mui-control-content.mui-active {
  border-top: none;
}

.mui-slider-group {
  margin-top: 0.22rem;
}

.list {
  padding: 0 0.15rem;
  background-color: #f5f5f5;
  border-bottom: 0.05rem solid #f5f5f5;
}

.onw {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 0.15rem 0.15rem 0 0.15rem;
}

/*.onw img {
  top: 0;
  right: 0;
  height: 0.525rem;
  position: absolute;
}*/

.onw .triangle {
  text-align: center;
  line-height: 1.5rem;
  width: 0.9rem;
  height: 0.9rem;
  top: -0.45rem;
  right: -13%;
  position: absolute;
  font-size: 0.15rem;
  color: #fff;
  background-color: #f95901;
  transform: rotate(45deg);
}

.onw div {
  color: #666;
  font-size: 0.16rem;
}

.onw h4 {
  font-weight: 400;
  font-size: 0.18rem;
  margin-bottom: 0.1rem;
}

.tow {
  padding-bottom: 0.15rem;
}

.tow h4 {
  margin-top: 0.2rem;
}

.tow p {
  margin: auto;
  width: 3.15rem;
  height: 0.01rem;
  background-color: #f5f5f5;
}

.temporarily {
  text-align: center;
  line-height: 0.5rem;
  background-color: #f5f5f5;
  color: #999;
}

.finished {
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem;
  border: none;
  /* margin-top: 0.05rem; */
  background-color: #fff;
}

.finished span {
  display: block;
  width: 100%;
  background-color: #ff7223;
  line-height: 0.35rem;
  text-align: center;
  color: #fff;
  border-radius: 0.05rem;
}
