
<!-- 用户信息 -->
<table class="table">
    <caption style="text-align: center;">订单人工处理</caption>
    <thead>
    <tr>
        <th>用户信息</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>用户名</td>
        <td>电话</td>
        <td>会员</td>
        <td>注册手机号</td>
        <td>注册姓名</td>
        <td>注册昵称</td>
        <td>区域</td>
        <td>详细地址</td>
        <td>用户留言</td>
    </tr>
    <tr>{assign name="vip" value="$list.user.vip_end_time>request()->time()"}
        <td>{$list.order.nickname}</td>
        <td>{$list.order.mobile}</td>
        <td style="text-align: center">{$vip?'是':'否'}</td>
        <td>{$list.user.phone}</td>
        <td>{$list.user.name}</td>
        <td>{$list.user.nickname}</td>
        <td>{$list.region_name}</td>
        <td>{$list.order.address}</td>
        <td>{$list.order.bak}</td>
    </tr>
    </tbody>
</table>
<!-- 订单信息 -->
<table class="table">
   <thead>
      <tr>
         <th>订单信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>购买项目</td>
         <td>来源</td>
         <td>订单编号</td>
         <td>数量</td>
         <td>下单时间</td>
         <td>客户预约时间</td>
         <td>归属店铺</td>
      </tr>
      <tr>
         <td>{$list.order.goods_name}</td>
         <td>{if condition="$list['order']['orgin'] eq 1"}公众号{else/}未定义{/if}</td>
         <td>{$list.order.snorder}</td>
         <td>{$list.order.num}</td>
         <td>{$list.create_time|(int)|date="Y-m-d H:i:s",###}</td>
         <td>{if $date}{$date.d_data} {$date.d_time}{/if}</td>
         <td>{$list.order.store_id|is_get_val='store',###,'nickname','store_id'}</td>
      </tr>
   </tbody>
</table>
<!-- 付款信息 -->
<table class="table">
   <thead>
      <tr>
          <th width="10%">付款信息</th>
          <th width="10%"></th>
          <th width="18%"></th>
          {if $vip}<th width="10%"></th>{/if}
          <th width="55%"></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>总价格</td>
         <td>实付</td>
         <td>抵扣</td>
          {if $vip}<td>会员优惠</td>{/if}
          <td>追加金额</td>
      </tr>
      <tr>{assign name="g" value="$list.goods_msg|json_decode='1'" /}
         <td>{$list.shouldpay}</td>
         <td>{$list.actualpay}</td>
         <td>{$list.dismoney}</td>
          {if $vip}<td>{$g.vipprice && $list.order.type==2?'￥'.sprintf("%.2f",($g.commonprice-$g.vipprice)*$list.order.num):''}</td>{/if}
          <td>{volist name="$list.order.paylog" key="k" id="v"}
              {if $k>1}
              ￥{$v.total_fee/100} ({$v.create_time|date="Y-m-d H:i",###})　
              {/if}
              {/volist}</td>
      </tr>
   </tbody>
</table>
<!-- 服务人员信息 -->
<table class="table">
   <thead>
      <tr>
         <th>服务人员信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>客服</td>
         <td>师傅联系失败备注</td>
         <td>客服备注</td>
         <td>师傅预约上门时间</td>
         <td>实际上门时间</td>
         <td>完成时间</td>
      </tr>
      <tr>
         <td>{$list.admin_id|is_get_val='admin',###,'nickname','id'}</td>
         <td>{$list.usernote}</td>
         <td>{$list.servernote}</td>
         <td>
           {if condition='$list.is_ask gt 0'}
           {$list.appoint_start|(int)|date="Y-m-d H:i:s",###}
           {/if}
         </td>

         {if condition='$list.status eq 1'}
         <td>
             {$list.fu_start|(int)|date="Y-m-d H:i:s",###}
         </td>
         <td>
         </td>
         {/if}

         {if condition='$list.status eq 4'}
         <td>
         {$list.fu_start|(int)|date="Y-m-d H:i:s",###}
         </td>
         <td>
             {$list.fu_end|(int)|date="Y-m-d H:i:s",###}
         </td>
         {/if}

      </tr>
   </tbody>
</table>
<!-- 拓展信息 -->
<table class="table">
   <thead>
      <tr>
         <th>拓展信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="font-weight: 600;">服务人员备注:</td>
         <td style="font-weight: 600;">服务图片:</td>
         <td style="font-weight: 600;">备注时间:</td>
      </tr>
      {volist  name='list.extrkv' id='extr'}
      <tr>
         <td style="width: 400px">{$extr.back}</td>
         <td><img src="{$extr.pic}" width="20%"></td>
         <td>{:date('Y-m-d H:i:s',$extr.create_time)}</td>
        
      </tr>
      {/volist}
   </tbody>
</table>

<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">* 指派服务人员:</label>
        <div class="col-xs-12 col-sm-4">

        	{:Form::selectpages('row[sfuserid]',$list['sfuserid'],'shop/employee/all/cate/'.$list.cate,'name','id',['data-multiple'=>'true'])}
          
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">师傅留言:</label>
        <div class="col-xs-12 col-sm-4">
             {$list.usernote|default="无"}
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">客服备注:</label>
        <div class="col-xs-12 col-sm-4">
             {:Form::textarea('row[servernote]',$list['servernote'],['data-rule'=>''])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-4 center"><div onclick='if(confirm("确认取消订单吗?")){ window.location.href="/admin/shop/todo/cancel/ids/{$list.orderid}"; }else{}' style="margin-left: 2em; background: #95a5a6; padding: 8px; width: 5.3em; border-radius: 3px; color: white; font-weight: 300;" class="">取消订单</div></label>
        <div class="col-xs-12 col-sm-8">
            
            {if condition='$list.status eq 0'}
              {empty name='list.sfuserid'}
              <button type="submit" style="margin-left: 3em" class="btn btn-success btn-embossed button.btn-close">　 {:__('指派')} 　</button>
              {else /}
              <button type="submit" style="margin-left: 3em" class="btn btn-success btn-embossed button.btn-close">　 {:__('改派')} 　</button>
              {/empty}
            {elseif condition='$list.status eq 4'}
            {else /}
              <button type="submit" style="margin-left: 3em" class="btn btn-success btn-embossed button.btn-close">　 {:__('改派')} 　</button>
            {/if}
            {if condition='$list.status neq 4'}
            <div onclick='if(confirm("确认转入代办吗?")){ window.location.href="/admin/shop/todo/pause/ids/{$list.orderid}"; }else{}' style="margin-right: 5em; background: #95a5a6; padding: 8px; width: 5.3em; border-radius: 3px; color: white; font-weight: 300;" class="pull-right">转入待办</div>
            {/if}
        </div>
    </div>
    
</form>
