<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">选择分类:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="cate">
                {:build_select('row[cid]', '', null, ['class'=>'cate form-control', 'data-rule'=>'required', 'data-url'=>'shop/core_goods/cate'])}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">选择时间:</label>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <dl class="fieldlist" data-name="time" data-template="template">
                    <dd>
                        <ins style="width: 70px">起始时间</ins>
                        <ins style="width: 70px">结束时间</ins>
                        <ins style="width: 180px">备注</ins>
                        <ins>数量</ins>
                    </dd>
                    <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 新增</a></dd>
                    <textarea name="time" class="form-control hide" cols="30" rows="5">{"":""}</textarea>
                </dl>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" style="font-size: 16px" class="btn btn-success">　<i class="fa fa-save"></i> 添加　</button>
        </div>
    </div>

</form>

<script type="text/html" id="template">
    <dd class="form-inline">
        <select class="form-control" name="row[time<%=index+1%>][]">
            <option value="0">起始时</option>
            {volist name="time" id="v"}
            <option value="{$v}">{$v}</option>
            {/volist}
        </select>
        <select class="form-control" name="row[time<%=index+1%>][]">
            <option value="0">结束时</option>
            {volist name="time" id="v" key="k"}
            <option value="{$v}">{$v}</option>
            {/volist}
        </select>
        <input type="text" name="row[note<%=index+1%>]" class="form-control"
               value="<%=row%>" placeholder="输入备注">
        <input type="text" name="row[count<%=index+1%>]" class="form-control"
                style="width: 90px" data-msg="请填整数，不限请留空" data-rule="digits" value="<%=row%>" placeholder="约满数量">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
    </dd>
</script>