<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">选择分类:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="cate">
                {:build_select('row[cid]', '', null, ['class'=>'cate form-control', 'data-rule'=>'required', 'data-url'=>'shop/core_goods/cate'])}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">日期:</label>
        <div class="col-xs-12 col-sm-2">
            {:Form::datepicker('row[date]', '', [],['data-rule'=>'required', 'autocomplete'=>'off'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">时间段:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="checkbox">
                <label for="row[part][]-0">
                    <input id="row[part][]-0" checked="checked"
                           name="row[part][]" type="checkbox" value="1">
                     <span class="m-box">1</span> </label>
                <label for="row[part][]-1">
                    <input id="row[part][]-1" checked="checked" name="row[part][]"
                           type="checkbox" value="2">
                    <span class="m-box">2</span></label>
                <label for="row[part][]-2">
                    <input id="row[part][]-2" checked="checked" name="row[part][]" type="checkbox" value="3">
                    <span class="m-box">3</span></label>
            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" class="btn btn-success">　<i class="fa fa-save"></i> 设置约满　</button>
        </div>
    </div>

</form>
