<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">选择分类:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="cate">
                <select class="cate form-control" data-url="shop/core_goods/cate" name="row[cid]">
                    <option value="{$row.cid}"></option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">选择时间:</label>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <dl class="fieldlist" data-name="time" data-template="template">
                    <dd>
                        <ins style="width: 70px">起始时间</ins>
                        <ins style="width: 70px">结束时间</ins>
                        <ins style="width: 180px">备注</ins>
                        <ins>数量</ins>
                    </dd>
                    {php}$c=0;{/php}
                    {for start="1" end="4"}
                    {if $row["time$i"]}
                    {php}list($a,$b)=explode('~', $row['time'.$i]);$c=$i+1;$temp=array_combine($time,$time);{/php}
                    <dd class="form-inline">
                        {:build_select("row[time$i][]",$temp, $a)}
                        {:build_select("row[time$i][]",$temp, $b)}
                        <input type="text" name="row[note{$i}]" class="form-control" value="{$row["note$i"]}" />
                        <input type="text"  style="width: 90px" name="row[count{$i}]" class="form-control"
                               data-msg="请填整数，不限请留空" data-rule="digits" value="{$row["count$i"]}" />
                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                    </dd>
                    {/if}
                    {/for}

                    <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 新增</a></dd>
                    <textarea name="time" class="form-control hide" cols="30" rows="5"></textarea>
                </dl>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" style="font-size: 16px" class="btn btn-success">　<i class="fa fa-save"></i> 保存　</button>
        </div>
    </div>

</form>

<script type="text/html" id="template">
    <dd class="form-inline">
        <select class="form-control" name="row[time<%=index+{$c}%>][]">
            <option value="0">起始</option>
            {volist name="time" id="v"}
            <option value="{$v}">{$v}</option>
            {/volist}
        </select>
        <select class="form-control"  name="row[time<%=index+{$c}%>][]">
            <option value="0">结束</option>
            {volist name="time" id="v" key="k"}
            <option value="{$v}">{$v}</option>
            {/volist}
        </select>
        <input type="text" name="row[note<%=index+{$c}%>]" class="form-control"
               value="<%=row%>" placeholder="输入备注">
        <input type="text" name="row[count<%=index+{$c}%>]" class="form-control"
               style="width: 90px" data-msg="数量应为整数" data-rule="digits" value="<%=row%>" placeholder="约满数量">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
    </dd>
</script>