<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add,del')}
                        <a href="javascript:;" class="btn btn-facebook btn-setting" title="设置可选时间段"><i class="fa fa-gear"></i> 时间设置</a>
                        <a href="javascript:;" class="btn btn-twitter btn-date" title="手动设置约满"><i class="fa fa-calendar-times-o"></i> 手动约满</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
