<style>@font-face{font-family:rate;src:url(/assets/fonts/iconfont.woff?v=20) format('woff')}
    .icon-rate{font-family:rate;font-style: normal;font-size: 20px;color: #FFB800;margin-right: 5px;transition: all .3s;-webkit-transition: all .3s;}
    .icon-rate:before {content: "\e67b";}.rate-solid:before {content: "\e67a";}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-edit="{:$auth->check('shop/comment/edit')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
