body {
    background: #fff;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    height: 0.44rem;
    position: fixed;
    overflow: hidden;
    text-align: center;
    line-height: 0.44rem;
    background:rgba(255,255,255,1);
    box-shadow:0 0.01rem 0.04rem 0 rgba(26,25,26,0.05);
}

.header img {
    float: left;
    width: 0.09rem;
    height: 0.17rem;
    margin: 0.15rem 0 0 0.15rem;
}

.header span {
    margin-right: 0.15rem;
}

/* logo样式 */
.logo {
    width: 100%;
    text-align: center;
    margin: 0.64rem 0 0.075rem 0;
}

.logo img {
    width: 0.7rem;
    height: 0.7rem;
}


/* 中间部分样式 */
.centre {
    margin: auto;
    width: 3.45rem;
    background-color: #fff;
    padding-bottom: 0.1rem;
}

.noe {
    padding: 0 0.125rem;
}

h5 {
    margin: 0;
    color: #FF7223;
    height: 0.425rem;
    font-size: 0.15rem;
    line-height: 0.425rem;
}

.noe p {
    margin: 0;
    color: #666;
    font-size: 0.14rem;
}

/* 服务项目样式 */
.item {
    padding: 0 0.125rem;
}

.item div {
    width: 100%;
    text-align: center;
}

.item div span {
    color: #666;
    width: 0.8rem;
    height: 0.25rem;
    text-align: center;
    font-size: 0.14rem;
    line-height: 0.25rem;
    display: inline-block;
    border-radius: 0.125rem;
    border: 0.01rem solid #999;
}

.item div span:nth-child(2) {
    margin: 0 0.22rem;
}

.papers {
    width: 3.45rem;
    height: 2.175rem;
    background: url("../../../../resource/png/iconic/zj.png") no-repeat;
    background-size: 100% 100%;
}


.zj {
    margin-top: 0.14rem;
}

.zj p {
    margin: 0;
}

.gj {
    width: 2.79rem;
    height: 2.225rem;
    margin: 0.25rem auto 0 auto;
    background: url("../../../../resource/png/iconic/gj.png") no-repeat;
    background-size: 100% 100%;
}

.oero {
    margin-top: 0.1rem;
}

.excellent {
    width: 3.45rem;
    height: 2.19rem;
    background: url("../../../../resource/png/iconic/o2o.png") no-repeat;
    background-size: 100% 100%;
}

.bottom {
    text-align: center;
    margin: 0.22rem 0 0 0;
}

















































