<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-2">Id</th>
            <td>{$log.id}</td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th>订单ID</th>
                <td>{$log.oid}</td>
            </tr>
            <tr>
                <th>用户名称</th>
                <td>{$log.openid}</td>
            </tr>
            <tr>
                <th>订单编号</th>
                <td>{$log.trade_no}</td>
            </tr>
            <tr>
                <th>微信订单号</th>
                <td>{$log.transaction_id}</td>
            </tr>
            <tr>
                <th>支付金额</th>
                <td>￥{$log.total_fee/100|sprintf="%.2f",###}</td>
            </tr>
            <tr>
                <th>是否关注公众账号</th>
                <td>{$log.is_subscribe=='Y'?'是':'否'}</td>
            </tr>
            <tr>
                <th> {:__('Status')}</th>
                <td>{$log.result_code=='SUCCESS'?'支付成功':'未支付'}</td>
            </tr>
            <tr>
                <th>支付时间</th>
                <td>{$log.create_time|date="Y-m-d H:i",###}</td>
            </tr>
    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>