
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#log" data-toggle="tab">支付记录</a></li>
            <li>
                <a href="#config" data-toggle="tab">支付配置</a>
            </li>
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="log">
                <div id="toolbar" class="toolbar">
                    {:build_toolbar('refresh')}
                </div>
                <table id="table" class="table table-bordered table-hover"
                       data-operate-detail="{:$auth->check('wechat/response/detail')}"
                       width="100%">
                </table>

            </div>

            <div class="tab-pane fade" id="config">
                <form id="form" class="form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="/admin/wechat/pay/config" novalidate="novalidate">

                    <div class="form-group">
                        <label for="name" class="control-label col-xs-12 col-sm-2">商户号：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="mch_id" name="config[mch_id]" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="control-label col-xs-12 col-sm-2">APPID (应用标识)：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="appid" name="config[appid]" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="control-label col-xs-12 col-sm-2">AppSecret (支付密钥)：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="secret" name="config[secret]" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value" class="control-label col-xs-12 col-sm-2">回调地址：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="notify_url" name="config[notify_url]" value="" data-rule="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">确定</button>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>