<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>小哥帮</title>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/group/group_order.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <div v-if="type==0">
            <!-- 遮挡板 -->
            <!-- <div class="share" v-show="share>=1" @tap="share=0"></div> -->
            <!-- 置顶分享 -->
            <!-- <div class="share_content" v-show="share>=1">
                <h3>已有<i>{{ num }}</i>人,赶快邀请好友来拼单吧!</h3>
                <span>拼单已发起,人满后立即服务</span>
            </div> -->
            <!-- 遮挡板2 -->
            <div class="share2" v-show="status>=1" @tap="status=0" v-cloak></div>
            <!-- 分享成功 -->
            <div class="share_success" v-show="status>=1" v-cloak>
                <div class="success">
                    <img src="" />
                    <span> √ 分享成功</span>
                </div>
                <span>再分享到 <i>2</i> 个不同的微信群,<i>拼成概率翻倍</i></span>
                <div class="continue" @tap="status=0">
                    继续分享
                </div>
                <a class="go" href="/">
                    前往小哥帮首页
                </a>
            </div>
        </div>

        <!-- 头部 -->
        <div class="home">
            <div class="header">
                <a href="/index.php/mobile/order/number">
                    <div class="arrows">
                        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt="" />
                    </div>
                </a>
                <span>邀请好友拼团</span>
                <a href="/index.php/mobile/user/index">
                    <!--<div class="character">-->
                    <!--<img src="{$Think.const.PUBLIC_RES}/png/icons/register.png" alt="" />-->
                    <!--</div>-->
                </a>
            </div>
        </div>
        <!-- 拼单 -->
        <div class="group">
            <h3>已有<i v-cloak>{{ num }}</i>人,赶快邀请好友来拼单吧!</h3>
            <div class="boxx" v-if="type==0" v-cloak>
                <span @tap="share=1">
                    点击右上角分享邀请好友
                </span>
            </div>
            <div class="boxx" v-else if='type==1' v-cloak>
                <span class="click">
                    <a :href="'/index.php/mobile/goods/goods_detail/'+date">
                        点击参与好友拼单
                    </a>
                </span>
            </div>
            <!-- 商品详情 -->
            <div class="details">
                <a class="content">
                    <div class="right">
                        <img :src="'/'+goods_detail.pic" />
                    </div>
                    <div class="left">
                        <h4 v-cloak>{{ goods_detail.name }}</h4>
                        <span v-cloak>{{ goods_detail.brief }}</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- 拼单人数 -->
        <div class="pop">
            <div class="personnel">
                <div class="who" v-for="(item, index) in pic" :key="item.id" v-cloak>
                    <img :src="item.pic">
                </div>
                <div class="who" v-show="num<2" v-cloak>
                    <img src="{$Think.const.PUBLIC_RES}/png/icons/pop.png">
                </div>
            </div>
        </div>
    </div>

    
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        'use strict';

        new Vue({
            el: '#app',
            data: {
                // 判断是否是发起人还是链接进来的
                type: 0,
                // 分享弹框
                share: 1,
                // wxjssdk
                sdk: [],
                // 分享状态
                status: 0,
                // 商品详情
                goods_detail: [],
                // 拼团id
                group_id: '',
                // 商品id
                goods_id: '',
                // 人数
                num: '',
                // 头像
                pic: [],
                // 时间戳
                date: ''
            },
            methods: {
                shares: function shares() {
                    var that = this;
                }
            },
            created: function created() {
                var that = this;
                this.date = new Date().valueOf();
                // 判断是否是发起人还是链接进来的
                if (decodeURI(location.search)) {
                    // 链接进来的
                    this.type = 1;
                    var url = decodeURI(location.search).split('?')[1].split('&');
                    this.group_id = url[0].split('=')[1];
                    this.goods_id = url[1].split('=')[1];
                    this.store_id = url[2].split('=')[1];
                    // 存产品信息
                    window.localStorage.setItem('group_id', this.group_id);
                    window.localStorage.setItem('goods_id', this.goods_id);
                    window.localStorage.setItem('store_id', this.store_id);
                    // 参与拼团状态
                    window.localStorage.setItem('participate', 1);
                    // 获取商品信息
                    axios.get('/index.php/mapi/goodsdetail/rest', {
                        params: {
                            id: this.goods_id,
                            store_id: this.store_id
                        }
                    }).then(function (res) {
                        console.log(res);
                        that.goods_detail = res.data.data.data;
                        // _this2.product = res.data.data.data;
                        // window.localStorage.setItem('goods_detail', JSON.stringify(_this2.product))
                    });
                } else {
                    // 发起人 获取拼团id
                    this.group_id = window.localStorage.group_id;
                    this.goods_detail = window.localStorage.goods_detail;
                    this.store_id = window.localStorage.store_id;
                    // 获取商品信息
                    this.goods_detail = JSON.parse(window.localStorage.goods_detail);
                    this.goods_id = this.goods_detail.id;
                    console.log(2);
                }
                //  用户信息
                this.openid = window.localStorage.openid;
                axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        openid: this.openid
                    }
                }).then(function (res) {
                    // console.log(res);
                    that.user = res.data.data;
                    var userContent = JSON.stringify(that.user);
                    window.localStorage.setItem("userContent", userContent);
                });

                // 拼团信息
                axios.get('/index.php/api/shopapi/assemble/get_assemable_detail', {
                    params: {
                        group_id: that.group_id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    console.log(JSON.parse(res.data));
                    that.num = JSON.parse(res.data).length;
                    console.log(that.num);
                    that.pic = JSON.parse(res.data);
                });

                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
                    timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
                    nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
                    signature: '{$jssdk.signature}', // 必填，签名
                    jsApiList: [
                        //把需要的接口加入至列表
                        'onMenuShareTimeline', //分享给好友
                        'onMenuShareAppMessage', //分享到朋友圈
                        'onMenuShareQQ', //分享到QQ
                        'onMenuShareWeibo', //分享到微博
                        'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
                    ]
                });
                wx.ready(function () {
                    var shareData = {
                        title: '小哥帮', //标题
                        desc: that.goods_detail.name, //简介，这里请特别注意是要去除html
                        link: "{$Think.config.web_host}"+'/mobile/fightgroup/group_order/v/1.0.0.20190119/rand/' +
                            that.data + '?group_id=' + that.group_id + '&goods_id=' + that.goods_id +
                            '&store_id=' + that.store_id,
                        imgUrl: "{$Think.config.web_host}"+'/' + that.goods_detail.pic,
                        success: function success(res) {
                            // 用户确认分享后执行的回调函数
                            if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' ||
                                'ShareQQ:ok' || 'ShareWeibo:ok') {
                                mui.toast('分享成功', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                that.status = 1;
                            } else {
                                mui.toast('分享失败', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                            }
                        },
                        cancel: function cancel(res) {
                            // 用户取消分享后执行的回调函数
                        }
                    };
                    wx.onMenuShareAppMessage(shareData);
                    wx.onMenuShareTimeline(shareData);
                    wx.onMenuShareQQ(shareData);
                    wx.onMenuShareWeibo(shareData);
                });
            }
        });
    </script>
</body>

</html>