<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">




    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 选择时间:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::datetimepicker('row[appoint_start]',time())}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
