<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-uid" class="control-label col-xs-12 col-sm-2">* 用户ID:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-uid" data-rule="required digits remote[user/info/check]"
                   class="form-control" name="row[uid]" type="text" value="">
            <input  name="row[vipid]" type="hidden" value="0">
            <input  name="row[is_pay]" type="hidden" value="1">
            <input  name="row[pay_id]" type="hidden" value="0">
            <input  name="row[interval]" type="hidden" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8 u_info"></div>
    </div>
    <div class="form-group">
        <label for="c-time" class="control-label col-xs-12 col-sm-2">到期时间:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::datepicker('row[endtime]', strtotime('+1 month'),['id'=>'c-time', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-4 col-sm-4"></label>
        <div class="col-xs-6 col-sm-6">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
