<table class="table">
    <caption style="text-align: center;">订单人工处理</caption>
    <thead>
    <tr>
        <th>用户信息</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>用户名</td>
        <td>电话</td>
        <td>注册手机号</td>
        <td>区域</td>
        <td>详细地址</td>
        <td>用户留言</td>
    </tr>
    <tr>
        <td>{$list.order.nickname}</td>
        <td>{$list.order.mobile}</td>
        <td>{$list.user.phone}</td>
        <td>{$list.region_name}</td>
        <td>{$list.order.address}</td>
        <td>{$list.order.bak}</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>订单信息</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>购买项目</td>
        <td>来源</td>
        <td>订单编号</td>
        <td>数量</td>
        <td>下单时间</td>
        <td>客户预约时间</td>
        <td>归属店铺</td>
    </tr>
    <tr>
        <td>{$list.order.goods_name}</td>
        <td>{$source[$list['order']['orgin']]|default=''}</td>
        <td>{$list.order.snorder}</td>
        <td>{$list.order.num}</td>
        <td>{$list.create_time|(int)|date="Y-m-d H:i:s",###}</td>
        <td>{$list.appoint_start>0?date('Y-m-d H:i:s',$list.appoint_start):''}</td>
        <td>{$list.order.store_id|is_get_val='store',###,'nickname','store_id'}</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th width="15%">付款信息</th>
        <th width="15%"></th>
        <th width="15%"></th>
        <th width="55%"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>总价格</td>
        <td>实付</td>
        <td>抵扣</td>
        <td>追加金额</td>
    </tr>
    <tr>
        <td>￥{$list.shouldpay|sprintf="%.2f",###}</td>
        <td>￥{$list.actualpay|sprintf="%.2f",###}</td>
        <td>￥{$list.dismoney|sprintf="%.2f",###} &nbsp;( {$list.dismoney}小哥豆 )</td>
        <td>{volist name="$list.order.expand" key="k" id="v"}
            ￥{$v.money} ({$v.create_time|date="Y-m-d H:i",###})　{$v.note}
            {/volist}</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>服务人员信息</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>客服</td>
        <td>服务人员</td>
        <td>师傅联系失败备注</td>
        <td>师傅预约上门时间</td>
        <td>实际上门时间</td>
        <td>完成时间</td>
    </tr>
    <tr>
        <td>{$list.admin_id|is_get_val='admin',###,'nickname','id'}</td>
        <td>{volist name="list.emp" id="v"}{$v.name}&nbsp;&nbsp;{/volist}</td>
        <td>{$list.servernote}</td>
         <td>
           {if condition='$list.is_ask gt 0'}
             {$list.appoint_start>0?date('Y-m-d H:i:s',$list.appoint_start):''}
           {/if}
         </td>

         {if condition='$list.status eq 1'}
         <td>
             {$list.fu_start|(int)|date="Y-m-d H:i:s",###}
         </td>
         <td>
         </td>
         {/if}

         {if condition='$list.status eq 4'}
         <td>
         {$list.fu_start|(int)|date="Y-m-d H:i:s",###}
         </td>
         <td>
             {$list.fu_end|(int)|date="Y-m-d H:i:s",###}
         </td>
         {/if}
    </tr>
    </tbody>
</table>
<!-- 拓展信息 -->
<table class="table">
   <thead>
      <tr>
         <th>拓展信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="font-weight: 600;">服务人员备注:</td>
         <td style="font-weight: 600;">服务图片:</td>
         <td style="font-weight: 600;">备注时间:</td>
      </tr>
      {volist  name='list.extrkv' id='extr'}
      <tr>
         <td style="width: 400px">{$extr.back}</td>
          <td><a href="{$extr.pic}" class="dialogit"><img src="{$extr.pic}" width="20%"></a></td>
         <td>{:date('Y-m-d H:i:s',$extr.create_time)}</td>
        
      </tr>
      {/volist}
   </tbody>
</table>

<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">* 指派服务人员:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::selectpages('row[sfuserid]',$list['sfuserid'],'shop/employee/all','name','id',['data-multiple'=>'true','data-max-select-limit'=>'1'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">师傅留言:</label>
        <div class="col-xs-12 col-sm-4">{$list.usernote|default="无"}
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">客服备注:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::textarea('row[servernote]',$list['servernote'],['data-rule'=>''])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-4"></label>
        <div class="col-xs-12 col-sm-4">
            {if condition="$list['order']['schedule'] neq 4"}
            <button type="button" class="btn btn-default btn-embossed btn-cancel"> 取消订单 </button>
            {/if}
            {if condition="$list['order']['schedule'] neq 4 AND  $list['order']['schedule'] neq 7"}
            <button type="submit" style="margin-left: 1em" class="btn btn-success btn-embossed button.btn-close">　 {:__('修改')} 　</button>
            {/if}
        </div>
    </div>
</form>
<script type="text/javascript">
    var eid = {$list.orderid};
</script>