<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <div class="col-xs-12 alert">
            {volist name="$list" id="v" key="k"}
            <p>{$v.create_time|date="Y-m-d H:i",###}</p>
            <p class="alert-link">{$v.desc}</p>
            {/volist}
        </div>
    </div>

    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-8 col-sm-2"></label>
        <div class="col-xs-8 col-sm-8">
            <button type="reset" class="btn btn-success btn-embossed btn-close" style="width: 100%">{:__('OK')}</button>
        </div>
    </div>
</form>
