<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <div class="col-xs-12 col-sm-4">
            <textarea  data-rule="length[~200]" data-msg="客诉标记" rows="10" maxlength="240"
                       class="form-control" name="mark" placeholder="请添加客诉原因">{$row.mark}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" onclick="Layer.closeAll()" class="btn btn btn-default btn-embossed">{:__('　取消　')}</button>
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('标记客诉')}</button>
        </div>
    </div>
</form>
