<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">选择一个商品:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="cate,goods">
                <select class="cate form-control" data-rule="required" data-url="shop/core_goods/cate" name="row[cate]">
                    <option value="{$row.goods.cate}"></option>
                </select>
                <select class="goods form-control" data-rule="required" data-query-name="gid" data-url="shop/core_goods/goods?gid={$row.goods.cate}" name="row[goodsid]" disabled="">
                    <option value="{$row.goodsid}"></option>
                </select>
                <span class="msg-box n-right" for="row[gid]" style=""></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('平台/券号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="plat">
                <select class="plat form-control" data-rule="required" data-url="shop/extrorder/plat" name="row[orgin]">
                    <option value="{$row.orgin}"></option>
                </select>
                <input type="text" class="form-control" id="coupons" name="row[coupons]" data-rule="required" value="{$row.coupons}"
                       data-rule="required" placeholder="输入10位券号" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2">{:__('客户姓名')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input type="text" class="form-control" id="name" data-rule="required" name="row[nickname]" placeholder="输入姓名" value="{$row.nickname}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('电话')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input type="text" class="form-control" id="mobile" name="row[mobile]" placeholder="输入电话" data-rule="required;mobile;" value="{$row.mobile}" />
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('区域')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="area">
                <select class="area form-control" data-rule="required" data-url="shop/extrorder/area" name="row[area]">
                    <option value="{$row.area}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-2">* 指派服务人员:</label>
        <div class="col-xs-12 col-sm-4">

            {:Form::selectpages('row[sfuserid]',$row['sfuserid'],'shop/employee/all/cate/'.$row.cate,'name','id',['data-multiple'=>'true'])}
          
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('数量')}:</label>
        <div class="col-xs-2 col-sm-2">
                <input type="text" class="form-control" value="{$row.num}" name="row[num]" data-rule="required;integer;"/>
        </div>
    </div>
    <div class="form-group">
        <label for="weigh" class="control-label col-xs-12 col-sm-2">{:__('预约时间')}:</label>
        <div class="col-xs-12 col-sm-4">
            {:Form::datetimepicker('row[time]',$row['time'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('服务地址')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="address" name="row[address]" placeholder="输入地址" data-rule="required" value="{$row.address}" />
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="control-label col-xs-12 col-sm-2">{:__('订单备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="remark" name="row[bak]" placeholder="输入订单备注（选填）">{$row.bak}</textarea>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>