<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('平台/券号')}:</label>
        <div class="col-xs-12 col-sm-2">
            <div class="form-inline" data-toggle="cxselect" data-selects="plat">
<!--                 <select class="plat form-control" data-rule="required" data-url="shop/extrorder/plat" name="row[orgin]" data-select-only="true">
                    <option value="{$row.orgin}"></option>
                </select> -->
                <input type="text" class="form-control" id="coupons" name="row[coupons]" data-rule="required" value="{$row.coupons}"
                       data-rule="required" placeholder="输入10位券号" />
            </div>
        </div>
    </div>

    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>