<form id="dictionary-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form"
      data-toggle="validator" method="POST" action="" novalidate="novalidate">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">平台列表：</label>
        <textarea name="row[value]" class="form-control hide" cols="30" rows="5">{$time}</textarea>
        <div class="col-sm-8 col-xs-12">
            <dl class="fieldlist" data-name="row[value]" data-template="template">
                <dd><a href="javascript:" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <span style="font-size: 12px;color: #999;margin-left:12px;">注：请谨慎修改(会影响已经存在订单)</span>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4" style="padding-left: 25px">
            <button type="submit" class="btn btn-success">　<i class="fa fa-pencil"></i>保存设置　</button>
        </div>
    </div>

</form>

<script type="text/html" id="template">
    <dd class="form-inline">
        <input type="text" name="<%=name%>[<%=index%>]" class="form-control" value="<%=row%>">
    </dd>
</script>