<div class="box-header">
<div class="box-title">店铺信息</div>
</div>
<div class="box box-danger">
    <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
        <div class="form-group" style="margin-top: 1em">
            <label class="control-label col-xs-12 col-sm-2">店铺名称：</label>
            <div class="col-xs-12 col-sm-2">
                <input type="text" value="{$row.nickname}" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">* 业务介绍：</label>
            <div class="col-xs-12 col-sm-4">
                <input data-rule="required length[~30]" class="form-control" name="row[back]" type="text"
                       value="{$row['back']}" placeholder="建议介绍店铺主营业务">
            </div>
            <span class="msg-box n-right"><span style="line-height: 100%">不超过30字</span> </span>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2"> 客服电话：</label>
            <div class="col-xs-12 col-sm-2">
                <input type="text" value="{$site.tel400}" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2"> 店铺地址：</label>
            <div class="col-xs-12 col-sm-4">
                <input type="text" value="{$row.address}" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2"> 是否满单：</label>
            <div class="col-xs-12 col-sm-2" id="full">
                <input name="row[mandan]" type="hidden" value="{$row.mandan}">
                <div class="layui-unselect layui-form-switch layui-form-onswitch">
                    <em>{$row.mandan?"是":"否"}</em><i></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2"> 店铺二维码：</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <ul class="row list-inline plupload-preview">
                        <li class="col-xs-12">
                            <a href="info/qrcode" data-url="{$row.store_code}" target="_blank">
                                <img src="{$row.store_code}" onerror="this.src='/assets/img/default.png';this.onerror=null" class="img-responsive" title="点击保存二维码" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-success btn-embossed"><i class="fa fa-save"></i> 保 存</button>
            </div>
            <div class="col-xs-12 col-sm-8" style="height: 30px"></div>
        </div>
    </form>
</div>

<script type="text/html" id="template">

</script>