
body {
    background-color: #f5f5f5;
}

/* 顶部样式 */
.top {
    width: 100%;
    height: 0.45rem;
    padding: 0 0.15rem;
    text-align: center;
    line-height: 0.44rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
}

.top .dsa {
    float: left;
    width: 0.09rem;
    height: 0.17rem;
    margin-top: 0.135rem;
}

.top span {
    margin-left: 0.2rem;
}

.top .sds {
    float: right;
    width: 0.26rem;
    height: 0.26rem;
    margin-top: 0.09rem;
}


/* 提现额度样式 */
.limit {
    width: 100%;
    height: 1.11rem;
    background-color: #fff;
    text-align: center;
    border-top: 0.01rem solid #fff;
    border-bottom: 0.05rem solid #f5f5f5;
}

.limit div {
    font-size: 0.15rem;
    color: #333;
    margin: 0.17rem 0 0.1rem 0;
}

.limit strong {
    font-size: 0.3rem;
    color: #FF7223;
    font-weight: 400;
}

.limit p {
    font-size: 0.12rem;
    color: #999;
}


/* 总营、累计样式 */
ul {
    width: 100%;
    height: 0.64rem;
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 0.11rem 0;
    border-bottom: 0.05rem solid #f5f5f5;
}

ul li {
    float: left;
    text-align: center;
    width: 50%;
    height: 100%;

}

ul li:nth-child(1) {
    border-right: 0.01rem solid #999;
}

ul li div {
    text-align: center;
}

ul li div:nth-child(1) {
    font-size: 0.2rem;
    color: #999;
}

ul li div:nth-child(2) {
    font-size: 0.12rem;
    color: #333;
}


/* 提现记录样式 */
.record {
    width: 100%;
    height: 0.685rem;
    background-color: #fff;
    padding: 0.1rem 0.15rem;
}

.record .apply {
    width: 79%;
    display: inline-block;
}

.record .apply div:nth-child(1) {
    font-size: 0.15rem;
    color: #333;
}

.record .apply div:nth-child(2) {
    font-size: 0.12rem;
    color: #999;
    line-height: 0.15rem;
}

.record img {
    float: right;
    width: 0.17rem;
    height: 0.17rem;
    margin-top: 0.1rem;
}






































