
body {
    background-color: #f5f5f5;
}

/* 顶部 */
.logo {
    width: 100%;
    height: 1.85rem;
    text-align: center;
    /*line-height: 1.4rem;*/
    background: url("../../../png/iconic/tbbjt.png") no-repeat;
    background-size: 100% 100%;
    /*border-bottom: 0.15rem solid #f5f5f5;*/
}

.logo img {
    width: 0.865rem;
    height: 0.865rem;
    margin-top: 0.28rem;
    margin-bottom: 0.16rem;
}

.logo .firm {
    width: 100%;
    height: 0.55rem;
}

.logo .firm div {
    width: 100%;
    height: 50%;
    color: #fff;
}

.logo .firm div:nth-child(1) {
    font-size: 0.2rem;
}

.logo .firm div:nth-child(2) {
    font-size: 0.12rem;
}


/* 信息样式 */
ul {
    margin: 0;
}

ul li {
    width: 100%;
    height: 0.44rem;
    overflow: hidden;
    padding: 0 0.15rem;
    line-height: 0.44rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
}

ul li:nth-child(4) {
    height: 0.54rem;
    border-bottom: 0.1rem solid #f5f5f5;
}

ul li span:nth-child(1) {
    color: #333;
    font-size: 0.18rem;
}

ul li span:nth-child(2) {
    color: #999;
    float: right;
    font-size: 0.15rem;
}

ul li span a {
    color: #999;
}

ul li span img {
    width: 0.17rem;
    height: 0.17rem;
    vertical-align: text-top;
}


/* 注销按钮样式 */
.btn {
    width: 100%;
    color: #fff;
    height: 0.44rem;
    text-align: center;
    margin-top: 0.3rem;
    font-size: 0.18rem;
    line-height: 0.44rem;
    background-color: #FF7223;
}




































