body {
    background-color: #fff;
}

/* 店主登录样式 */
.register {
    width: 100%;
    color: #FF7223;
    height: 1.8rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 1.8rem;
}



/* 手机、密码样式 */
.registers {
    width: 100%;
    height: 1.1rem;
    padding: 0 0.4rem;
    position: relative;
}

.registers input {
    border: none;
    color: #666;
    font-size: 0.14rem;
    padding: 0 0 0 0.45rem;
    border-bottom: 0.01rem solid #e6e6e6;
}

.registers img:nth-child(3) {
    top: 7%;
    left: 13%;
    width: 0.24rem;
    height: 0.24rem;
    position: absolute;
}

.registers img:nth-child(4) {
    top: 55%;
    left: 13%;
    width: 0.24rem;
    height: 0.24rem;
    position: absolute;
}



/* 保存登录样式 */
.save {
    width: 100%;
    color: #999999;
    font-size: 0.12rem;
    padding: 0 0 0 0.55rem;
}

.save img {
    width: 0.095rem;
    height: 0.095rem;
    margin-right: 0.05rem;
    vertical-align: baseline;
}


/* 确认按钮样式 */
.btn {
    width: 100%;
    height: 0.48rem;
    margin-top: 0.38rem;
}

.btn div {
    color: #fff;
    margin: auto;
    width: 2.8rem;
    height: 0.48rem;
    text-align: center;
    font-size: 0.18rem;
    line-height: 0.48rem;
    border-radius: 0.24rem;
    background-color: #FF7D16;
}

::-webkit-input-placeholder {
    color:#d2d2d2;
}
:-moz-placeholder {
    color:#d2d2d2;
}
::-moz-placeholder {
    color:#d2d2d2;
}
:-ms-input-placeholder {
    color:#d2d2d2;
}




































