
body {
    background-color: #f5f5f5;
}

/* 顶部样式 */
.top {
    width: 100%;
    height: 0.49rem;
    padding: 0 0.15rem;
    text-align: center;
    line-height: 0.44rem;
    background-color: #fff;
    border-bottom: 0.05rem solid #f5f5f5;
}

.top img:nth-child(1) {
    float: left;
    width: 0.09rem;
    height: 0.17rem;
    margin-top: 0.135rem;
}

.top span {
    margin-left: 0.2rem;
}

.top img:nth-child(3) {
    float: right;
    width: 0.26rem;
    height: 0.26rem;
    margin-top: 0.09rem;
}

ul {
    margin: 0;
}

ul li {
    width: 100%;
    height: 0.41rem;
    overflow: hidden;
    padding: 0 0.15rem;
    line-height: 0.4rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
}

ul li span {
    font-size: 0.14rem;
}

ul li span:nth-child(2) {
    float: right;
    color: #999;
}

ul li:nth-child(3) span:nth-child(2) {
    color: #FF7223;
}

ul li:nth-child(4) span:nth-child(2) {
    color: #f00;
}





































