body {
  background-color: #f5f5f5;
}

/* 顶部样式 */
.top {
  width: 100%;
  height: 0.49rem;
  padding: 0 0.15rem;
  text-align: center;
  line-height: 0.44rem;
  background-color: #fff;
  border-bottom: 0.05rem solid #f5f5f5;
}

.top img:nth-child(1) {
  float: left;
  width: 0.09rem;
  height: 0.17rem;
  margin-top: 0.135rem;
}

.top span {
  margin-left: 0.2rem;
}

.top img:nth-child(3) {
  float: right;
  width: 0.26rem;
  height: 0.26rem;
  margin-top: 0.09rem;
}

/* 订单发起时间样式 */
ul {
  width: 100%;
  margin: 0;
}

ul li {
  width: 100%;
  /*height: 0.87rem;*/
  background-color: #fff;
  padding: 0.085rem 0.15rem;
  overflow: hidden;
  border-bottom: 0.05rem solid #f5f5f5;
}

li span {
  font-size: 0.15rem;
  color: #333;
}

.time span:nth-child(2),
.operate span:nth-child(2) {
  color: #999;
}

.time span:nth-child(3) {
  font-size: 0.14rem;
  float: right;
  color: #f00;
}

.deposit span:nth-child(2) {
  color: #ff7223;
}

.deposit span:nth-child(3) {
  float: right;
  font-size: 0.14rem;
  color: #333;
}

ul li .system span {
  font-size: 0.12rem;
  color: #666;
}

ul li .system span a {
  font-size: 0.12rem;
  color: #00f;
  text-decoration: underline;
}

ul li .time .pass {
  color: #62b900;
}

.not {
  text-align: center;
  color: #999;
}
