<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <!-- <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/css/LCalendar.css?{$Think.config.fastadmin['v_api']}" /> -->
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/aunt/index/amend.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <!-- <script
        src="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/js/LCalendar.js?{$Think.config.fastadmin['v_api']}"></script> -->
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <h3 v-show="order.is_ask==0">联系失败</h3>
            <h3 v-show="order.is_ask!=0">改约</h3>
        </div>
        <!-- 客户信息 -->
        <div class="one">
            <h4>客户信息</h4>
            <div class="tow">
                <div v-if="order.order!=null" v-cloak>客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                    {{ order.order.nickname }}</div>
                <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 : {{ order.region_name }}</div>
                <div v-cloak>详情地址 : {{ order.address }}</div>
            </div>
        </div>


        <!-- 订单信息 -->
        <div class="order">
            <h4>订单信息</h4>
            <div class="project">
                <div v-cloak>服务项目 : {{ order.card.name }}</div>
                <div v-cloak>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量 : {{ order.order.num }}</div>
                <div v-cloak>下单时间 : {{ formatDateTime(Number(order.create_time*1000)).time }}</div>
                <div v-cloak>订单编号 : {{ order.order.snorder }}</div>
                <div v-cloak>上门时间 : {{ formatDateTime(Number(order.appoint_start*1000)).time }}</div>
            </div>
        </div>

        <!-- 改约信息 -->
        <h4 class="amend" v-show="order.is_ask==0">联系失败</h4>
        <h4 class="amend" v-show="order.is_ask!=0">改约信息</h4>
        <!-- 改约时间 -->
        <div class="site">
            <span v-show="order.is_ask!=0">改约时间</span>
            <span v-show="order.is_ask==0">选择多久后再次联系用户</span>
            <!-- <input v-show="order.is_ask!=0" id="demo2" type="text" readonly="" placeholder="日期和时间选择" value=""
                data-lcalendar="2019-03-26,2020-03-26" v-model="time" /> -->
                <input v-show="order.is_ask!=0" readonly type="text" id="Month" placeholder="选择时间">
            <select v-show="order.is_ask==0" v-model="postpone">
                <option value="">选择时间</option>
                <option value="3">3小时</option>
                <option value="6">6小时</option>
                <option value="12">12小时</option>
            </select>
            <img class="imgs stop" src="{$Think.const.PUBLIC_RES}/png/aunt/down.png" />
        </div>
        <p class="prompt">【将会以短信通知】</p>
        <!-- 改约备注 -->
        <div class="remark">
            <div>备注</div>
            <textarea placeholder="请输入改约备注，如:用户电话3次都接不通" v-model="bak"></textarea>
        </div>

        <!-- 底部按钮 -->
        <div class="btn" v-show="order.is_ask!=0" @tap='determine'>确认改约</div>
        <div class="btn" v-show="order.is_ask==0" @tap='is_errnotice'>提醒</div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/rolldate/rolldate.modify.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 改约时间
                time: '',
                // 订单详情
                order: [],
                // 改约备注
                bak: '',
                // 推迟时间
                postpone: '',
                // 阿姨数据
                auntUser: []
            },
            created: function created() {
                var that = this;
                this.order = JSON.parse(window.sessionStorage.auntOrder);
                this.auntUser = JSON.parse(window.localStorage.auntUser);
            },
            mounted: function mounted() {
                var that = this; // 时间插件初始化

                // function getNowFormatDate() {
                //     var date = new Date();
                //     var seperator1 = "-";
                //     var year = date.getFullYear();
                //     var month = date.getMonth() + 1;
                //     var strDate = date.getDate();

                //     if (month >= 1 && month <= 9) {
                //         month = "0" + month;
                //     }

                //     var day = date.getHours() + 3;

                //     if (date.getHours() > 16) {
                //         strDate += 1;
                //         day = 8;
                //     }

                //     if (strDate >= 0 && strDate <= 9) {
                //         strDate = "0" + strDate;
                //     }

                //     var currentdate = year + seperator1 + month + seperator1 + strDate;
                //     return [currentdate, day];
                // }

                // var day = getNowFormatDate();
                // var calendardatetime = new LCalendar();
                // calendardatetime.init({
                //     'trigger': '#demo2',
                //     'type': 'datetime',
                //     'minTime': day[1],
                //     //new Date().getHours()+ 2,
                //     'minDate': day[0]
                // });
                new Rolldate({
                    el: '#Month',
                    format: 'YYYY-MM-DD hh:mm',
                    beginYear: 2019,
                    endYear: 2020,
                    limitTime: that.formatDateTime(new Date()).time,
                    confirm: function (date) {
                        that.time = date;
                        // that.select.start = date;
                    },
                })
            },
            methods: {
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h + ' ' + minute;

                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    };
                },
                // 确定预约
                determine: function determine() {
                    var that = this;

                    if (!that.time) {
                        mui.toast('请选择改约时间', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    // if (this.order.is_ask == 0) {
                    //     if (Number(this.formatDateTime(new Date()).h) + Number(this.postpone) > 24) {
                    //         var settime = this.formatDateTime(new Date()).y + '-' + this.formatDateTime(new Date()).m + '-' + (Number(this.formatDateTime(new Date()).d) + 1) + ' ' + (Number(this.formatDateTime(new Date()).h) + Number(this.postpone) - 24) + ':00';
                    //     } else {
                    //         var settime = this.formatDateTime(new Date()).time.split(' ')[0] + ' ' + (this.formatDateTime(new Date()).h + Number(this.postpone)) + ':00';
                    //     }
                    // } else {
                    //     var settime = that.time;
                    // }
                    var bak = that.formatDateTime(new Date()).time + this.bak
                    axios.get('/index.php/serverapi/v2.sure/up_time', {
                        params: {
                            serverid: this.order.id,
                            uptime: that.time,
                            servernote: bak,
                            message: ''
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        if (res.data.code == 1) {
                            // if (that.order.is_ask == 0) {
                            //     mui.toast('已给用户提醒', {
                            //         duration: '1000ms',
                            //         type: 'div'
                            //     });
                            //     that.order.is_ask = 1;
                            // } else {
                            mui.toast('改约成功', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            that.order.is_ask += 1;
                            var messageYH = "订单" + that.order.order.snorder + "的服务人员" + that.auntUser.name + "在" + that.formatDateTime(that.order.appoint_start * 1000).time + "将上门时间改为" + that.time + "。如有疑问，请联系客服400-8185-088";
                            var messageFW = "您已将订单" + that.order.order.snorder + "的上门时间改为" + that.time + "。如有疑问，请联系客服400-8185-088";
                            // 短信发送
                            // axios.get('/index.php/mapi/commonapi.ajaxcommon/sms_diy', {
                            //     params: {
                            //         'arr[0][phone]': that.order.order.mobile,
                            //         'arr[0][message]': messageYH,
                            //         'arr[1][phone]': that.auntUser.phone,
                            //         'arr[1][message]': messageFW
                            //     },
                            //     headers: {
                            //         'X-Requested-With': 'xmlhttprequest'
                            //     }
                            // }).then(function (res) {
                                that.order.servernote = bak;
                                that.order.appoint_start = Math.floor(new Date(that.time.replace(/-/g, "/")).getTime() / 1000);
                                window.sessionStorage.setItem('auntOrder', JSON.stringify(that.order));
                                history.go(-1);
                            // })
                            // }
                        }
                    });
                },
                // 联系失败双方提醒
                is_errnotice: function is_errnotice() {
                    var that = this;
                    if (!this.postpone) {
                        mui.toast('请选择推迟时间', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    var bak = that.formatDateTime(new Date()).time + "   " + that.bak
                    var messageYH = "订单" + that.order.order.snorder + "的服务人员" + that.auntUser.name + "在" + that.formatDateTime(that.order.appoint_start * 1000).time + "与您联系失败，将在" + that.postpone + "小时后再次联系您，此信息不再提醒。";
                    var messageFW = "订单" + that.order.order.snorder + "与用户联系失败，请于" + that.postpone + "小时后再次联系用户，此信息不再提醒。";
                    // 发短信
                    axios.post('/index.php/serverapi/v2/sure/err_notice', {
                        serverid: this.order.id,
                        // messageuser: messageYH,
                        // messagesever: messageFW,
                        usernote: bak,
                        new_time: that.postpone
                    },
                        {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }
                    ).then(function (res) {
                        that.order.is_errnotice = 1
                        that.order.servernote = bak;
                        window.sessionStorage.setItem('auntOrder', JSON.stringify(that.order));
                        history.go(-1);
                    });
                }
            }
        });
    </script>


</body>

</html>