<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/aunt/user/begin.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>


  <div id="app">
    <!-- 头部样式 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <span>订单详情</span>
      <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/register.png" />
    </div>

    <div class="await" v-if="order.status==0">
      <div>待服务…</div>
    </div>

    <!-- 服务中 -->
    <div class="await" v-if="order.status==1">
      <div>服务中…</div>
    </div>

    <!-- 服务已完成 -->
    <div class="await" v-if="order.status==4">
      <div>服务完成</div>
      <div>订单完成时间:2019-05-05 08:00</div>
    </div>


    <!-- 产品 -->
    <div class="cleaning">
      <img :src="'/'+order.pic" />
      <div class="right">
        <div v-cloak>{{ order.goods_name }}</div>
        <div v-cloak>￥ {{ order.actualpay }}</div>
      </div>
    </div>


    <!-- 名字、号码、地址 -->
    <div class="location">
      <img src="{$Think.const.PUBLIC_RES}/png/iconic/weizhi.png" />
      <div class="nameSite">
        <div><span v-cloak>{{ order.nickname }}</span></div>
        <div v-cloak>{{ order.address }}</div>
      </div>
    </div>


    <!-- 金额、抵扣、编号、时间、留言、人员、电话 -->
    <ul>
      <li>
        <div class="pocket">实付金额 :</div>
        <div class="money" v-cloak>￥ {{ order.actualpay }}</div>
      </li>
      <li>
        <div class="out-of-pocket">抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 :</div>
        <div class="phone" v-if="order.virdiscount" v-cloak>￥{{ order.virdiscount.dismoney }} ({{ order.virdiscount.bean }}小哥豆)</div>
      </li>
      <li>
        <div class="out-of-pocket">订单编号 :</div>
        <div class="phone" v-cloak>{{ order.snorder }}</div>
      </li>
      <li class="staff">
        <div class="out-of-pocket">上门时间 :</div>
        <div class="phone" v-cloak>{{ time }}</div>
      </li>
      <li>
        <div class="out-of-pocket">订单留言 :</div>
        <div class="phone" v-cloak> {{ order.note }}</div>
      </li>
      <li>
        <div class="out-of-pocket">客户电话 :</div>
        <a :href="'tel:'+order.mobile">
          <div class="client">联系客户</div>
        </a>
      </li>
    </ul>

    <!-- 结束服务 -->
    <!-- <div class="finish">
      结束服务
    </div> -->
    <div class="finish" v-if="order.status==0">
      <!-- <p>待服务...</p> -->
      <span @tap='action_now'>开始服务</span>
    </div>
    <div class="finish" v-if="order.status==1">
      <!-- <p>服务中...</p> -->
      <span @tap='stop_now'>停止服务</span>
    </div>
    <div class="finish" v-if="order.status==4">
      <p>服务已完成</p>
    </div>
  </div>

  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    new Vue({
      el: '#app',
      data: {
        // 用户数据
        auntUser: [],
        // 订单内容
        order: [],
        // 订单id
        id: '',
        time: ''
      },
      created: function created() {
        var that = this;
        this.id = decodeURI(location.search).split('=')[1];
        axios.get('/index.php/mapiv2/staff/assign', {
          params: {
            orderid: that.id
          }
        }).then(function (res) {
          console.log(res);
          that.order = res.data.data[0];
          that.time = that.formatDateTime(that.order.appoint_start * 1000);
        });
      },

      methods: {
        action_now: function action_now() {
          var that = this;
          axios.get('/index.php/api/commonapi.scan/action_now', {
            params: {
              id: that.order.codeid
            },
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          }).then(function (res) {
            console.log(res);
            if (res.data.code == 1) {
              mui.toast(res.data.msg, {
                duration: '1000ms',
                type: 'div'
              });
              that.order.status = 1;
              var date_star = new Date().valueOf();

            } else {
              mui.toast(res.data.msg, {
                duration: '1000ms',
                type: 'div'
              });
            }
          });
        },
        stop_now: function stop_now() {
          var that = this;
          axios.get('/index.php/api/commonapi.scan/stop_now', {
            params: {
              id: that.order.codeid
            },
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          }).then(function (res) {
            console.log(res);
            if (res.data.code == 1) {
              mui.toast(res.data.msg, {
                duration: '1000ms',
                type: 'div'
              });
              that.order.status = 4;
            } else {
              mui.toast(res.data.msg, {
                duration: '1000ms',
                type: 'div'
              });
            }
          });
        },
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    });
  </script>
</body>

</html>