<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/aunt/user/all_order.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 全部分类 -->
        <div class="all">
            <a href="/index.php/aunt/employee/index">
                <img class="img-gr" src="{$Think.const.PUBLIC_RES}/png/aunt/fhgrzx.png" />
            </a>
            <!-- <span>全部分类</span> -->
            <select v-model="category_id">
                <option value="">全部分类</option>
                <option v-cloak v-for="(item, index) in category" :key="item.id" :value="item.id">
                    {{ item.name }}
                </option>
            </select>
            <img class="imgs stop" src="{$Think.const.PUBLIC_RES}/png/aunt/fenlei.png" />
        </div>

        <!-- 确认、上门、服务、完成 -->
        <ul class="top">
            <li class="accomplish"><span>全部</span></li>
            <li><a href="/index.php/aunt/index/rush"><span>待确认</span></a></li>
            <li><a href="/index.php/aunt/index/visit"><span v-cloak>待上门({{ num }})</span></a></li>
            <li><a href="/index.php/aunt/index/serve"><span>服务中</span></a></li>
            <li><a href="/index.php/aunt/index/stocks"><span>已完成</span></a></li>
        </ul>

        <!-- 总的展示列表 -->

        <div class="gib">

            <!-- 抢单列表 -->

            <li class=" keeping" v-for="(item, index) in grab.data" :key="item.id" v-show="category_id==item.cate">
                <h4 v-cloak>{{ item.card.name }}</h4>
                <div v-cloak>预约时间 :
                    {{ item.temp.d_data + ' ' + item.temp.d_time }}
                </div>
                <div>订单价格 : <span class="price" v-if="item.order!=null" v-cloak>￥{{ append(item) }}</span></div>
                <div v-if="item.order!=null" v-cloak>
                    客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                    {{ item.order.nickname }}</div>
                <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                    {{ item.region_name }}</div>
                <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 : {{ item.address }}
                </div>
                <div v-cloak>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注 : <span class="note">{{ item.note }}</span>
                </div>
                <div type="button" v-if="time(item.appoint_start).i != 0" class="btn" @tap='is_grab(item,index)'>
                    立即抢单</div>
                <p v-if="time(item.appoint_start).i != 0" class="TS" v-cloak>
                    {{ time3(item.create_time).h }}小时{{ time3(item.create_time).m }}分后订单将转入后台,届时将不可抢单
                </p>
                <p v-else>已超时</p>
                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                <!-- <img id="img" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
            </li>
            <li class=" keeping" v-for="(item, index) in grab.data" :key="item.id" v-show="category_id==''">
                <h4 v-cloak>{{ item.card.name }}</h4>
                <div v-cloak>预约时间 :
                    {{ item.temp.d_data + ' ' + item.temp.d_time }}
                </div>
                <div>订单价格 : <span class="price" v-if="item.order!=null" v-cloak>￥{{ append(item) }}</span></div>
                <div v-if="item.order!=null" v-cloak>
                    客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                    {{ item.order.nickname }}</div>
                <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                    {{ item.region_name }}</div>
                <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 : {{ item.address }}
                </div>
                <div v-cloak>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注 : <span class="note">{{ item.note }}</span>
                </div>
                <div v-if="time(item.appoint_start).i != 0" class="btn" @tap='is_grab(item)'>
                    立即抢单</div>
                <p v-if="time(item.appoint_start).i != 0" class="TS" v-cloak>
                    {{ time3(item.create_time).h }}小时{{ time3(item.create_time).m }}分后订单将转入后台,届时将不可抢单

                </p>
                <p v-else>已超时</p>
                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                <!-- <img id="img" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
            </li>

            <!-- 确定预约时间列表 -->

            <div class="keeping" v-for="(item, index) in reservation.data" :key="item.id"
                v-show="category_id==item.cate">
                <div @tap='jump(item)'>
                    <h4 v-cloak>{{ item.card.name }}</h4>
                    <div v-cloak>预约时间 :
                        {{ item.temp.d_data + ' ' + item.temp.d_time }}
                    </div>
                    <div>订单价格 : <span class="price" v-if="item.order!=null" v-cloak>￥{{ append(item) }}</span></div>
                    <div v-if="item.order!=null" v-cloak>
                        客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                        {{ item.order.nickname }}</div>
                    <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                        {{ item.region_name }}
                    </div>
                    <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 :
                        {{ item.address }}
                    </div>
                </div>
                <div class="btnBoxMax">

                    <div class="btnBox">
                        <a href="tel:" class="contact">联系客户</a>
                        <div class="determine" @tap="initialization(index)">确定时间</div>
                    </div>
                    <!-- <p>请立即与客户沟通上门时间</p> -->
                    <div class="prompt">
                        请使用
                        <i>{{ auntUser.phone }}</i>
                        与客户沟通后再确认上门时间（其他号码联系不到客户）
                    </div>
                </div>
                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                <!-- <img id="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
            </div>
            <div class="keeping" v-for="(item, index) in reservation.data" :key="item.id" v-show="category_id==''">
                <div @tap='jump(item)'>
                    <h4 v-cloak>{{ item.card.name }}</h4>
                    <div v-cloak>预约时间 :
                        {{ item.temp.d_data + ' ' + item.temp.d_time }}
                    </div>
                    <div>订单价格 : <span class="price" v-if="item.order!=null" v-cloak>￥{{ append(item) }}</span></div>
                    <div v-if="item.order!=null" v-cloak>
                        客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                        {{ item.order.nickname }}</div>
                    <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                        {{ item.region_name }}
                    </div>
                    <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 :
                        {{ item.address }}
                    </div>

                </div>
                <div class="btnBoxMax">
                    <div class="btnBox">
                        <a v-if="item.mobile_status==0&&item.status!=4" :href="'tel:'+item.order.mobile"
                            class="contact">联系客户</a>
                        <a v-if="item.mobile_status==1&&item.status!=4" :href="'tel:'+item.mobile"
                            class="contact">联系客户</a>
                        <div class="determine" @tap="initialization(index)">确定时间</div>
                    </div>
                    <!-- <p>请立即与客户沟通上门时间</p> -->
                    <div class="prompt">
                        请使用
                        <i>{{ auntUser.phone }}</i>
                        与客户沟通后再确认上门时间（其他号码联系不到客户）
                    </div>
                </div>
                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                <!-- <img id="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
            </div>

            <!-- 待上门列表 -->

            <div class="box" v-for="(item, index) in all.show" :key="item.id" v-show="category_id==item.cate">
                <div @tap='jump(item)'>
                    <div class="onw">
                        <div>服务信息</div>
                        <div v-cloak>上门时间 :
                            {{ formatDateTime(Number(item.appoint_start*1000)).time }}
                        </div>
                        <div v-if="item.appoint_start*1000>new Date().getTime()" v-cloak>签到剩余 :
                            {{ time2(item).Remaining.h }}小时{{ time2(item).Remaining.m }}分</div>
                        <div v-else v-cloak>签到剩余 : 已超时</div>
                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                        <!--<img style="width: 0.525rem" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" />-->
                    </div>
                    <!-- 订单 -->
                    <div class="onw tow">
                        <div>订单＆客户信息</div>
                        <div v-cloak>服务项目 : {{ item.card.name }}</div>
                        <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}</div>
                        <div v-cloak>客户地址 : {{ item.address }}</div>
                    </div>
                </div>
                <div class="finished" @tap='action_now(item)'>
                    <span>开始服务</span>
                </div>
            </div>
            <div class="box" v-for="(item, index) in all.show" :key="item.id" v-show="category_id==''">
                <div @tap='jump(item)'>
                    <div class="onw">
                        <div>服务信息</div>
                        <div v-cloak>上门时间 :
                            {{ formatDateTime(Number(item.appoint_start*1000)).time }}
                        </div>
                        <div v-if="item.appoint_start*1000>new Date().getTime()" v-cloak>签到剩余 :
                            {{ time2(item).Remaining.h }}小时{{ time2(item).Remaining.m }}分</div>
                        <div v-else v-cloak>签到剩余 : 已超时</div>
                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                        <!--<img style="width: 0.525rem" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" />-->
                    </div>
                    <!-- 订单 -->
                    <div class="onw tow">
                        <div>订单＆客户信息</div>
                        <div v-cloak>服务项目 : {{ item.card.name }}</div>
                        <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}</div>
                        <div v-cloak>客户地址 : {{ item.address }}</div>
                    </div>
                </div>
                <div class="finished" @tap='action_now(item,index)'>
                    <span>开始服务</span>
                </div>
            </div>

            <!-- 服务中、订单 -->

            <div class="box" v-for="(item, index) in serving" :key="item.id" v-show="category_id==item.cate">
                <!-- 服务 -->
                <div @tap='jump(item)'>
                    <div class="onw">
                        <div>服务信息</div>
                        <div v-cloak>上门时间 : {{ formatDateTime(item.fu_start*1000).time }}</div>
                        <div v-cloak>经过时长 : {{ time1(item.fu_start) }}</div>
                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                        <!-- <img src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                    </div>
                    <!-- 订单 -->
                    <div class="onw">
                        <div>订单＆客户信息</div>
                        <div v-cloak>服务项目 : {{ item.card.name }}</div>
                        <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}</div>
                        <div v-cloak>客户地址 : {{ item.address }}</div>
                    </div>
                </div>
                <div class="finished" @tap='stop_now(item,index)'>
                    <span>完成服务</span>
                </div>
            </div>
            <div class="box" v-for="(item, index) in serving" :key="item.id" v-show="category_id==''">
                <!-- 服务 -->
                <div @tap='jump(item)'>
                    <div class="onw">
                        <div>服务信息</div>
                        <div v-cloak>上门时间 : {{ formatDateTime(item.fu_start*1000).time }}</div>
                        <div v-cloak>经过时长 : {{ time1(item.fu_start) }}</div>
                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                        <!-- <img src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                    </div>
                    <!-- 订单 -->
                    <div class="onw">
                        <div>订单＆客户信息</div>
                        <div v-cloak>服务项目 : {{ item.card.name }}</div>
                        <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}</div>
                        <div v-cloak>客户地址 : {{ item.address }}</div>
                    </div>
                </div>
                <div class="finished" @tap='stop_now(item)'>
                    <span>完成服务</span>
                </div>
            </div>

            <!-- 服务完成列表 -->

            <div class="box" v-for="(item, index) in complete" :key="item.id" v-show="category_id==item.cate"
                @tap='jump(item)'>
                <!-- 服务 -->
                <div class="onw">
                    <div>服务信息
                        <span v-show="item.assess == ''">没评价</span>
                        <span v-show="item.assess != ''">已评价</span>
                    </div>
                    <div v-cloak>完成时间 : {{ formatDateTime(item.fu_end*1000).time }}</div>
                    <div v-cloak>经过时长 : {{ time(item).h }}小时{{ time(item).m }}分</div>
                    <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                    <!-- <img src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                </div>
                <!-- 订单 -->
                <div class="onw">
                    <div>订单＆客户信息</div>
                    <div v-cloak>服务项目 : {{ item.card.name }}</div>
                    <div v-cloak v-if="item.order!=null">客户姓名 : {{ item.order.nickname }}</div>
                    <div v-cloak>客户地址 : {{ item.address }}</div>
                </div>
            </div>
            <div class="box" v-for="(item, index) in complete" :key="item.id" v-show="category_id==''"
                @tap='jump(item)'>
                <!-- 服务 -->
                <div class="onw">
                    <div>服务信息
                        <span v-show="item.assess == ''">未评价</span>
                        <span v-show="item.assess != ''">已评价</span>
                    </div>
                    <div v-cloak>完成时间 : {{ formatDateTime(item.fu_end*1000).time }}</div>
                    <div v-cloak>经过时长 : {{ time(item).h }}小时{{ time(item).m }}分</div>
                    <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                    <!-- <img src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                </div>
                <!-- 订单 -->
                <div class="onw">
                    <div>订单＆客户信息</div>
                    <div v-cloak>服务项目 : {{ item.card.name }}</div>
                    <div v-cloak v-if="item.order!=null">客户姓名 : {{ item.order.nickname }}</div>
                    <div v-cloak>客户地址 : {{ item.address }}</div>
                </div>
            </div>
            <!-- <div class="temporarily" v-if="service.data==''">暂无数据</div> -->
        </div>
        <!-- 遮挡板 -->
        <div class="choose" style="display: none" v-show="choose==1" @touchmove.prevent
            @tap.prevent="choose=0;document.getElementsByTagName('body')[0].style = ''">
        </div>
        <div class="time" v-show="choose==1" @touchmove.prevent>
            <h4>选择具体上门时间</h4>
            <!-- <input id="demo2" type="text" readonly="" placeholder="日期和时间选择" value=""
                            data-lcalendar="2019-03-26,2020-03-26" v-model="determineTime" /> -->
            <input readonly type="text" id="Month" placeholder="选择时间">
            <div class="determine" @tap="determine">
                确定时间
            </div>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/rolldate/rolldate.modify.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 分类列表
                list: [],
                // 展示分类数据
                category: [],
                // 选中的数据
                category_id: '',
                // 待上门的数量
                num: 0,
                // 阿姨数据
                auntUser: [],
                // 服务中
                serving: {},
                // 完成
                complete: {},
                // 所有待服务任务
                all: {
                    // 所有任务列表
                    data: [],
                    // 显示的列表
                    show: []
                },
                // 待预约
                reservation: {
                    // 待预约列表
                    data: [],
                    // 时间段
                    create_time: '',
                    // 显示到的条数
                    num: 0,
                    // 刷新的条数
                    limit: 20
                },
                // 时间选择弹窗 
                choose: 0,
                // 确定预约时间的下标
                i: null,
                // 确定预约时间的当前时间
                currentTime: null,
                // 待抢单
                grab: {
                    // 抢单列表
                    data: [],
                    // 时间段
                    create_time: '',
                    // 显示到的条数
                    num: 0,
                    // 刷新的条数
                    limit: 20
                },
            },
            created: function created() {
                var that = this;
                //  阿姨数据
                if (window.localStorage.auntUser) {
                    that.auntUser = JSON.parse(window.localStorage.auntUser);
                    // 列表请求
                    this.QD();
                    this.DYY();
                    this.DSM();
                    this.FWZ();
                    this.FWWC();
                } else {
                    axios.get('/index.php/mapiv2/staff/personal', {
                        params: {
                            auntopenid: window.localStorage.auntopenid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.auntUser = res.data.data[0];
                        window.localStorage.setItem('auntUser', JSON.stringify(that.auntUser));
                        // 列表请求
                        that.QD();
                        that.DYY();
                        that.DSM();
                        that.FWZ();
                        that.FWWC();
                    });
                }
                // 分类数据
                if (window.localStorage.sort) {
                    that.list = JSON.parse(window.localStorage.sort);
                    // 处理展示的分类
                    that.showCategory();
                } else {
                    axios.get('/index.php/mapi/Category/getall', {
                        params: {},
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.list = res.data.data;
                        that.showCategory();
                    });
                }
            },
            methods: {
                // 抢单列表
                QD: function QD() {
                    var that = this;
                    // 获取抢单列表
                    axios.get('/index.php/serverapi/v2.sure/grab', {
                        params: {
                            uid: that.auntUser.id,
                            // limit: '0,' + that.grab.limit,
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.grab.data = res.data.data.data;
                        that.grab.num = that.grab.limit;
                        that.grab.create_time = res.data.data.create_time;
                    });
                },
                // 待预约列表
                DYY: function DYY() {
                    var that = this;
                    // 获取待预约列表
                    axios.get('/index.php/serverapi/v2.sure/server', {
                        params: {
                            uid: that.auntUser.id,
                            // limit: '0,' + that.reservation.limit,
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.reservation.data = res.data.data.data;
                        console.log(res.data.data.data)
                        for (var i in that.reservation.data) {
                            that.$set(that.reservation.data[i], 'deterTime', '');
                        }
                        that.reservation.num = that.reservation.limit;
                        that.reservation.create_time = res.data.data.create_time;
                    });
                },
                // 待上门列表
                DSM: function DSM() {
                    var that = this;
                    // 获取所有待服务任务
                    axios.get('/index.php/serverapi/v2.goup/all', {
                        params: {
                            uid: that.auntUser.id
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.all.data = res.data.data;
                        if (that.all.data) that.num = that.all.data.length;
                        that.all.show = res.data.data;
                    });
                },
                // 服务中列表
                FWZ: function FWZ() {
                    var that = this;
                    // 服务中
                    axios.get('/index.php/serverapi/v2.Serverin/message', {
                        params: {
                            uid: that.auntUser.id
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.serving = res.data.data;
                    });
                },
                // 服务完成列表
                FWWC: function FWWC() {
                    var that = this;
                    // 服务完成
                    axios.get('/index.php/serverapi/v2.Serverend/message', {
                        params: {
                            uid: that.auntUser.id
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.complete = res.data.data;
                    });
                },
                // 开始服务
                action_now: function action_now(item, index) {
                    var that = this;
                    var btnArray = ['是', '否'];
                    mui.confirm('', '确定开始服务?', btnArray, function (e) {
                        if (e.index == 0) {
                            axios.get('/index.php/api/commonapi.scan/action_now', {
                                params: {
                                    id: item.codeid
                                },
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (res) {
                                if (res.data.code == 1) {
                                    mui.toast(res.data.msg, {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    that.all.show.splice(index, 1);
                                    that.FWZ();
                                } else {
                                    mui.toast(res.data.msg, {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                }
                            });
                        } else {
                            mui.toast('已取消', {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    })
                },
                // 停止服务
                stop_now: function stop_now(item, index) {
                    var that = this;
                    var btnArray = ['是', '否'];
                    mui.confirm('', '确定完成服务?', btnArray, function (e) {
                        if (e.index == 0) {
                            axios.get('/index.php/api/commonapi.scan/stop_now', {
                                params: {
                                    id: item.codeid
                                },
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (res) {

                                if (res.data.code == 1) {
                                    mui.toast(res.data.msg, {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    that.complete.splice(index, 1);
                                    that.FWWC()
                                } else {
                                    mui.toast(res.data.msg, {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                }
                            });
                        } else {
                            mui.toast('已取消', {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    })
                },
                // 确定抢单按钮
                is_grab: function is_grab(item, index) {
                    var that = this;
                    var btnArray = ['是', '否'];
                    mui.confirm('', '确定抢单', btnArray, function (e) {
                        if (e.index == 0) {
                            qingqui()
                        } else {
                            mui.toast('已取消', {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    })
                    function qingqui() {
                        axios.post('/index.php/serverapi/v2/sure/ret_grab', {
                            severid: item.id
                        }, {
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (re) {
                                if (re.data.code != 1) {
                                    mui.alert(re.data.data, '对不起', function () {
                                        location.reload();
                                    });
                                    return false;
                                } else {
                                    axios.post('/index.php/serverapi/v2.sure/sure_grab', {
                                        severid: item.id,
                                        uid: that.auntUser.id
                                    }, {
                                            headers: {
                                                'X-Requested-With': 'xmlhttprequest'
                                            }
                                        }).then(function (res) {
                                            if (res.data.code == 1) {
                                                mui.toast('抢单成功', {
                                                    duration: '1000ms',
                                                    type: 'div'
                                                });
                                                that.grab.data.splice(index, 1);
                                                that.DYY()
                                            } else {
                                                mui.toast('抢单失败', {
                                                    duration: '1000ms',
                                                    type: 'div'
                                                });
                                            }
                                        });
                                }
                            });
                    }
                },
                // 追加
                append1: function append1(data) {
                    var a = 0;
                    for (var i in data) a += data[i].total_fee - 0;
                    return (a / 100).toFixed(2);
                },
                append: function append(row) {
                    var money = this.append1(row.extrorder)
                    return (Number(money) * 100 + Number(row.actualpay) * 100) / 100
                },
                // 时间插件初始化
                initialization: function initialization(i) {
                    var that = this;
                    that.i = i;
                    that.currentTime = that.formatDateTime(new Date()).time;
                    window.sessionStorage.setItem('initialization', i)
                    that.choose = 1;
                    // document.getElementsByTagName('body')[0].style = 'position: fixed;top: 0;left: 0;width: 100%;height: 100%;'
                    new Rolldate({
                        el: '#Month',
                        format: 'YYYY-MM-DD hh:mm',
                        beginYear: 2015,
                        endYear: 2020,
                        limitTime: that.currentTime,
                        confirm: function (date) {
                            that.reservation.data[that.i].deterTime = date;
                        },
                    })
                },
                // 确定预约
                determine: function determine() {
                    var that = this;
                    var initialization = window.sessionStorage.initialization;
                    if (!that.reservation.data[initialization].deterTime) {
                        mui.toast('请选择上门时间', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    axios.get('/index.php/serverapi/v2.sure/up_time', {
                        params: {
                            serverid: that.reservation.data[initialization].id,
                            uptime: that.reservation.data[initialization].deterTime,
                            servernote: '',
                            message: ''
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        if (res.data.code == 1) {
                            window.sessionStorage.removeItem('initialization');
                            mui.toast('预约成功', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            that.reservation.data.splice(initialization, 1);
                            that.choose = 0;
                            that.DSM();
                        }
                    });
                },
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h + ' ' + minute;

                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    };
                },
                // 时间判断
                time: function time(item) {
                    var currentTime = new Date(Number(item.fu_start * 1000)).getTime();
                    var judgeTime = new Date(Number(item.fu_end * 1000)).getTime(); // 相差时间

                    var differenceDay = Number(this.formatDateTime(Number(judgeTime) - Number(currentTime)).d) - 1;
                    var h = Number(this.formatDateTime(Number(judgeTime) - Number(currentTime)).h) - 8;
                    var m = this.formatDateTime(Number(judgeTime) - Number(currentTime)).minute;
                    h += Number(differenceDay) * 24;
                    return {
                        h: h,
                        m: m
                    };
                },
                // 时间判断
                time1: function time1(res) {
                    var currentTime = new Date().getTime();
                    var judgeTime = new Date(Number(res * 1000)).getTime(); // 相差时间

                    var differenceDay = Number(this.formatDateTime(Number(currentTime) - Number(judgeTime)).d) - 1;
                    var h = Number(this.formatDateTime(Number(currentTime) - Number(judgeTime)).h) - 8;
                    var m = this.formatDateTime(Number(currentTime) - Number(judgeTime)).minute;
                    h += Number(differenceDay) * 24;
                    var time = h + '小时' + m + '分';
                    return time;
                },
                // 时间判断
                time2: function time(item) {
                    // 剩余
                    var Remaining = {
                        d: null,
                        h: null,
                        m: null
                    };
                    // 经过
                    var through = {
                        d: null,
                        h: null,
                        m: null
                    };
                    through.d = this.formatDateTime(new Date((Number(item.appoint_end) - Number(item.appoint_start)) * 1000).getTime()).d;
                    through.h = Number(this.formatDateTime(new Date((Number(item.appoint_end) - Number(item.appoint_start)) * 1000).getTime()).h);
                    through.m = Number(this.formatDateTime(new Date((Number(item.appoint_end) - Number(item.appoint_start)) * 1000).getTime()).minute);
                    through.h += Number(through.d) * 24;
                    var Start = this.formatDateTime(item.appoint_start * 1000)
                    var determine = this.formatDateTime(new Date().getTime())
                    Remaining.y = Start.y - determine.y
                    Remaining.M = Start.m - determine.m
                    Remaining.d = Start.d - determine.d
                    Remaining.h = Start.h - determine.h
                    Remaining.m = Start.minute - determine.minute
                    if (Remaining.y > 0) Remaining.M += Remaining.y * 12;
                    if (Remaining.M > 0) {
                        var day;
                        switch (Number(Remaining.M)) {
                            case 1:
                            case 3:
                            case 5:
                            case 7:
                            case 8:
                            case 10:
                            case 12:
                                day = 31;
                                break;
                            case 2:
                                day = 28;
                                break;
                            case 4:
                            case 6:
                            case 9:
                            case 11:
                                day = 30;
                                break;
                        }
                        Remaining.d += Remaining.M * day
                    }
                    if (Remaining.m < 0) {
                        Remaining.h--;
                        Remaining.m += 60;
                    }
                    if (Remaining.d > 0) Remaining.h += Remaining.d * 24;
                    return {
                        through: through,
                        Remaining: Remaining
                    };
                },
                // 时间判断
                time3: function time(res) {
                    var currentTime = new Date().getTime();
                    var judgeTime = res * 1000 + 1800000;

                    // if (Number(currentTime) < Number(judgeTime)) {
                    // 相差时间
                    // var differenceDay = Number(this.formatDateTime(judgeTime - currentTime).d) - 1;
                    var h = Number(this.formatDateTime(Number(judgeTime) - Number(currentTime)).h) - 8;
                    var m = this.formatDateTime(Number(judgeTime) - Number(currentTime)).minute;
                    // h += Number(differenceDay) * 24;
                    if (h < 0) {
                        h = 0;
                    }
                    m = m < 10 ? '0' + m : m;
                    // } else {
                    // 当超时返回判断
                    // var i = 0;
                    // }

                    return {
                        h: h,
                        m: m,
                        // i: i
                    };
                },
                // 获取全部数据
                get_All: function get_All() {
                    var that = this;
                    axios.get('/index.php/serverapi/v2/server/message', {
                        params: {
                            uid: that.auntUser.id,
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {

                    })
                },
                // 处理展示的分类
                showCategory: function showCategory() {
                    for (var i = 0; i < this.list.length; i++) {
                        for (var j = 0; j < this.auntUser.job.split(',').length; j++) {
                            if (this.list[i].id == Number(this.auntUser.job.split(',')[j])) {
                                this.category.push(this.list[i]);
                            }
                        }
                    }
                },
                // 跳转详情页
                jump: function jump(item) {
                    window.sessionStorage.setItem('auntOrder', JSON.stringify(item));
                    window.location.href = '/index.php/aunt/serverorder/particulars';
                },
            },
        })
    </script>
</body>

</html>