<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/aunt/user/index.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>

  <!-- 列表 -->
  <div id="app">
    <div class="noe">
      <div class="list" v-for="(item, index) in order" :key="item.id" v-if="order!=''" v-cloak>
        <h4 v-cloak>{{ item.goods_name }}</h4>
        <img :src="'/'+item.pic" v-cloak />
        <div class="product">
          <!--<h4 v-cloak>{{ item.goods_name }}</h4>-->
          <div class="time" v-cloak>预约时间 : {{ formatDateTime(item.appoint_start*1000) }}</div>
          <div class="site" v-cloak>地址 : {{ item.region_name + item.address }}</div>
          <!--<div class="site" v-cloak>订单:{{ item.snorder }}</div>-->
        </div>
        <div class="Grab" @tap='grab(item)'>立即抢单</div>
      </div>
      <div class="list" v-else>
        当前暂无订单
      </div>
    </div>

    <!-- 底部按钮 -->
    <div class="button">
      <div>
        <img src="{$Think.const.PUBLIC_RES}/png/icons/DD1.png" />
        <p class="single">抢单</p>
      </div>
      <div>
        <a :href="'/index.php/aunt/serverorder/serve/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/serve.png" />
          <p>服务</p>
        </a>
      </div>
      <div>
        <a :href="'/index.php/aunt/employee/index/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/register.png" />
          <p>个人</p>
        </a>
      </div>
    </div>
  </div>


  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    new Vue({
      el: '#app',
      data: {
        // 订单列表
        order: [],
        date: '',
        openid: ''
      },
      created: function created() {
        var that = this;
        this.date = new Date().valueOf();
        this.openid = window.localStorage.auntopenid;
        // 获取订单
        axios.get('/index.php/mapiv2/staff/await_assign', {
          params: {
            auntopenid: that.openid
          }
        }).then(function (res) {
          console.log(res);
          that.order = res.data.data;
        });
        setInterval(function () {
          axios.get('/index.php/mapiv2/staff/await_assign', {
            params: {
              auntopenid: that.openid
            }
          }).then(function (res) {
            console.log(res);
            that.order = res.data.data;
          });
        }, 5000);
      },

      methods: {
        grab: function grab(item) {
          var that = this;
          console.log(item);
          axios.get('/index.php/mapiv2/staff/roborder', {
            params: {
              orderid: item.id,
              openid: that.openid
            }
          }).then(function (res) {
            console.log(res);
            if (res.data.msg == 'failure') {
              mui.toast('抢单失败', {
                duration: '1000ms',
                type: 'div'
              });
              setTimeout(function () {
                window.location.reload();
              }, 1000);
            } else {
              mui.toast('抢单成功', {
                duration: '1000ms',
                type: 'div'
              });
              setTimeout(function () {
                window.location.href = res.data.data.url + '?orderid=' + item.id;
              }, 1000);
            }
          });
        },
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    });
  </script>
</body>

</html>