<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/aunt/user/rush.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 全部分类 -->
        <div class="all">
            <a href="/index.php/aunt/employee/index">
                <img class="img-gr" src="{$Think.const.PUBLIC_RES}/png/aunt/fhgrzx.png" />
            </a>
            <!-- <span>全部分类</span> -->
            <select v-model="category_id">
                <option value="">全部分类</option>
                <option v-cloak v-for="(item, index) in category" :key="item.id" :value="item.id">
                    {{ item.name }}
                </option>
            </select>
            <img class="imgs stop" src="{$Think.const.PUBLIC_RES}/png/aunt/fenlei.png" />
        </div>

        <!-- 确认、上门、服务、完成 -->
        <ul class="top">
            <li><a href="/index.php/aunt/index/index"><span>全部</span></a></li>
            <li class="accomplish"><span>待确认</span></li>
            <li><a href="/index.php/aunt/index/visit"><span v-cloak>待上门({{ num }})</span></a></li>
            <li><a href="/index.php/aunt/index/serve"><span>服务中</span></a></li>
            <li><a href="/index.php/aunt/index/stocks"><span>已完成</span></a></li>
        </ul>

        <div class="mui-content">
            <div id="slider" class="mui-slider mui-fullscreen">
                <div id="sliderSegmentedControl"
                    class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll switch">
                        <a class="mui-control-item mui-active" href="#grab">
                            待抢单
                        </a>
                        <a class="mui-control-item" href="#reservation">
                            待预约
                        </a>
                    </div>
                </div>
                <div class="mui-slider-group" id="scrol">
                    <div id="grab" class="mui-slider-item mui-control-content mui-active">
                        <div id="scroll1" class="mui-scroll-wrapper">
                            <div class="mui-scroll">
                                <ul class="mui-table-view list">
                                    <li class=" keeping" v-for="(item, index) in grab.data" :key="item.id"
                                        v-show="category_id==item.cate">
                                        <h4 v-cloak>{{ item.card.name }}</h4>
                                        <div v-cloak>预约时间 :
                                            {{ item.temp.d_data + ' ' + item.temp.d_time }}
                                        </div>
                                        <div>订单价格 : <span class="price" v-if="item.order!=null"
                                                v-cloak>￥{{ append(item) }}</span></div>
                                        <div v-if="item.order!=null" v-cloak>
                                            客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                                            {{ item.order.nickname }}</div>
                                        <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                                            {{ item.region_name }}</div>
                                        <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 : {{ item.address }}
                                        </div>
                                        <div v-cloak>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注 : <span
                                                class="note">{{ item.usernote }}</span>
                                        </div>
                                        <div type="button" v-if="time(item.appoint_start).i != 0" class="btn"
                                            @tap='is_grab(item)'>
                                            立即抢单</div>
                                        <p v-if="time(item.appoint_start).i != 0" v-cloak>
                                            {{ time(item.create_time).h }}小时{{ time(item.create_time).m }}分后订单将转入后台,届时将不可抢单

                                        </p>
                                        <p v-else>已超时</p>
                                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                        <!-- <img id="img" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                                    </li>
                                    <li class=" keeping" v-for="(item, index) in grab.data" :key="item.id"
                                        v-show="category_id==''">
                                        <h4 v-cloak>{{ item.card.name }}</h4>
                                        <div v-cloak>预约时间 :
                                            {{ item.temp.d_data + ' ' + item.temp.d_time }}
                                        </div>
                                        <div>订单价格 : <span class="price" v-if="item.order!=null"
                                                v-cloak>￥{{ append(item) }}</span></div>
                                        <div v-if="item.order!=null" v-cloak>
                                            客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                                            {{ item.order.nickname }}</div>
                                        <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                                            {{ item.region_name }}</div>
                                        <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 : {{ item.address }}
                                        </div>
                                        <div v-cloak>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注 : <span
                                                class="note">{{ item.usernote }}</span>
                                        </div>
                                        <div v-if="time(item.appoint_start).i != 0" class="btn" @tap='is_grab(item)'>
                                            立即抢单</div>
                                        <p v-if="time(item.appoint_start).i != 0" v-cloak>
                                            {{ time(item.create_time).h }}小时{{ time(item.create_time).m }}分后订单将转入后台,届时将不可抢单

                                        </p>
                                        <p v-else>已超时</p>
                                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                        <!-- <img id="img" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                                    </li>
                                    <div class="temporarily" v-if="grab.data==''">暂无数据</div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="reservation" class="mui-slider-item mui-control-content">
                        <div class="mui-scroll-wrapper">
                            <div class="mui-scroll">
                                <ul class="mui-table-view list">
                                    <li class="keeping" v-for="(item, index) in reservation.data" :key="item.id"
                                        v-show="category_id==item.cate">
                                        <div @tap='jump(item)'>
                                            <h4 v-cloak>{{ item.card.name }}</h4>
                                            <div v-cloak>预约时间 :
                                                {{ item.temp.d_data + ' ' + item.temp.d_time }}
                                            </div>
                                            <div>订单价格 : <span class="price" v-if="item.order!=null"
                                                    v-cloak>￥{{ append(item) }}</span></div>
                                            <div v-if="item.order!=null" v-cloak>
                                                客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                                                {{ item.order.nickname }}</div>
                                            <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                                                {{ item.region_name }}
                                            </div>
                                            <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 :
                                                {{ item.address }}
                                            </div>
                                        </div>
                                        <div class="btnBoxMax">
                                            <div class="btnBox">
                                                <a href="tel:" class="contact">联系客户</a>
                                                <div class="determine" @tap="initialization(index)">确定时间</div>
                                            </div>
                                            <!-- <p>请立即与客户沟通上门时间</p> -->
                                            <div class="prompt">
                                                请使用
                                                <i>{{ auntUser.phone }}</i>
                                                与客户沟通后再确认上门时间（其他号码联系不到客户）
                                            </div>
                                        </div>
                                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                        <!-- <img id="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                                    </li>
                                    <li class="keeping" v-for="(item, index) in reservation.data" :key="item.id"
                                        v-show="category_id==''">
                                        <div @tap='jump(item)'>
                                            <h4 v-cloak>{{ item.card.name }}</h4>
                                            <div v-cloak>预约时间 :
                                                {{ item.temp.d_data + ' ' + item.temp.d_time }}
                                            </div>
                                            <div>订单价格 : <span class="price" v-if="item.order!=null"
                                                    v-cloak>￥{{ append(item) }}</span></div>
                                            <div v-if="item.order!=null" v-cloak>
                                                客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :
                                                {{ item.order.nickname }}</div>
                                            <div v-cloak>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域 :
                                                {{ item.region_name }}
                                            </div>
                                            <div v-cloak>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址 :
                                                {{ item.address }}
                                            </div>
                                        </div>
                                        <div class="btnBoxMax">
                                            <div class="btnBox">
                                                <a v-if="item.mobile_status==0&&item.status!=4"
                                                    :href="'tel:'+item.order.mobile" class="contact">联系客户</a>
                                                <a v-if="item.mobile_status==1&&item.status!=4"
                                                    :href="'tel:'+item.mobile" class="contact">联系客户</a>
                                                <div class="determine" @tap="initialization(index)">确定时间</div>
                                            </div>
                                            <!-- <p>请立即与客户沟通上门时间</p> -->
                                            <div class="prompt">
                                                请使用
                                                <i>{{ auntUser.phone }}</i>
                                                与客户沟通后再确认上门时间（其他号码联系不到客户）
                                            </div>
                                        </div>
                                        <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                        <!-- <img id="imgs" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                                    </li>
                                    <div class="temporarily" v-if="reservation.data==''">暂无数据</div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 遮挡板 -->
        <div class="choose" style="display: none" v-show="choose==1"
            @tap="choose=0;document.getElementsByTagName('body')[0].style = ''">
        </div>
        <div class="time" v-show="choose==1">
            <h4>选择具体上门时间</h4>
            <!-- <input id="demo2" type="text" readonly="" placeholder="日期和时间选择" value=""
                            data-lcalendar="2019-03-26,2020-03-26" v-model="determineTime" /> -->
            <input readonly type="text" id="Month" placeholder="选择时间">
            <div class="determine" @tap="determine">
                确定时间
            </div>
        </div>
    </div>


    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.pullToRefresh.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/rolldate/rolldate.modify.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rubber/rubber.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 待抢单
                grab: {
                    // 抢单列表
                    data: [],
                    // 时间段
                    create_time: '',
                    // 显示到的条数
                    num: 0,
                    // 刷新的条数
                    limit: 20
                },
                // 待预约
                reservation: {
                    // 待预约列表
                    data: [],
                    // 时间段
                    create_time: '',
                    // 显示到的条数
                    num: 0,
                    // 刷新的条数
                    limit: 20
                },
                // 阿姨数据
                auntUser: [],
                // 分类列表
                list: [],
                // 展示分类数据
                category: [],
                // 选中的数据
                category_id: '',
                // 待上门的数量
                num: 0,
                // 时间选择弹窗 
                choose: 0,
                // 确定预约时间的下标
                i: null,
                // 确定预约时间的当前时间
                currentTime: null,
            },
            created: function created() {
                var that = this;
                //  阿姨数据
                if (window.localStorage.auntUser) {
                    that.auntUser = JSON.parse(window.localStorage.auntUser);
                } else {
                    axios.get('/index.php/mapiv2/staff/personal', {
                        params: {
                            auntopenid: window.localStorage.auntopenid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.auntUser = res.data.data[0];
                        window.localStorage.setItem('auntUser', JSON.stringify(that.auntUser));
                    });
                }
                // 分类数据
                if (window.localStorage.sort) {
                    that.list = JSON.parse(window.localStorage.sort);
                    // 处理展示的分类
                    that.showCategory();
                } else {
                    axios.get('/index.php/mapi/Category/getall', {
                        params: {},
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.list = res.data.data;
                        that.showCategory();
                    });
                }
                // 获取抢单列表
                axios.get('/index.php/serverapi/v2.sure/grab', {
                    params: {
                        uid: that.auntUser.id,
                        limit: '0,' + that.grab.limit,
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.grab.data = res.data.data.data;
                    that.grab.num = that.grab.limit;
                    that.grab.create_time = res.data.data.create_time;
                });
                // 获取待预约列表
                axios.get('/index.php/serverapi/v2.sure/server', {
                    params: {
                        uid: that.auntUser.id,
                        limit: '0,' + that.reservation.limit,
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.reservation.data = res.data.data.data;
                    for (var i in that.reservation.data) {
                        that.$set(that.reservation.data[i], 'deterTime', '');
                    }
                    that.reservation.num = that.reservation.limit;
                    that.reservation.create_time = res.data.data.create_time;
                });
                // 获取所有任务
                axios.get('/index.php/serverapi/v2.goup/all', {
                    params: {
                        uid: that.auntUser.id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    if (res.data.data) that.num = res.data.data.length;
                });
            },
            methods: {
                // 时间插件初始化
                initialization: function initialization(i) {
                    var that = this;
                    that.i = i;
                    that.currentTime = that.formatDateTime(new Date()).time2;
                    window.sessionStorage.setItem('initialization', i)
                    that.choose = 1;
                    new Rolldate({
                        el: '#Month',
                        format: 'YYYY-MM-DD hh:mm',
                        beginYear: 2015,
                        endYear: 2020,
                        limitTime: that.currentTime,
                        confirm: function (date) {
                            that.reservation.data[that.i].deterTime = date;
                        },
                    })
                },
                // 确定预约
                determine: function determine() {
                    var that = this;
                    var initialization = window.sessionStorage.initialization;
                    if (!that.reservation.data[initialization].deterTime) {
                        mui.toast('请选择上门时间', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    axios.get('/index.php/serverapi/v2.sure/up_time', {
                        params: {
                            serverid: that.reservation.data[initialization].id,
                            uptime: that.reservation.data[initialization].deterTime,
                            servernote: '',
                            message: ''
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        if (res.data.code == 1) {
                            window.sessionStorage.removeItem('initialization');
                            mui.toast('预约成功', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        }
                    });
                },
                // 追加
                append1: function append1(data) {
                    var a = 0;
                    for (var i in data) a += data[i].total_fee - 0;
                    return (a / 100).toFixed(2);
                },
                append: function append(row) {
                    var money = this.append1(row.extrorder)
                    return (Number(money) * 100 + Number(row.actualpay) * 100) / 100
                },
                // 确定抢单按钮
                is_grab: function is_grab(item) {
                    var that = this;
                    var btnArray = ['是', '否'];
                    mui.confirm('', '确定抢单', btnArray, function (e) {
                        if (e.index == 0) {
                            qingqui()
                        } else {
                            mui.toast('已取消', {
                                duration: '1000ms',
                                type: 'div'
                            });
                        }
                    })
                    function qingqui() {
                        axios.post('/index.php/serverapi/v2/sure/ret_grab', {
                            severid: item.id
                        }, {
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (re) {
                                if (re.data.code != 1) {
                                    mui.alert(re.data.data, '对不起', function () {
                                        location.reload();
                                    });
                                    return false;
                                } else {
                                    axios.post('/index.php/serverapi/v2.sure/sure_grab', {
                                        severid: item.id,
                                        uid: that.auntUser.id
                                    }, {
                                            headers: {
                                                'X-Requested-With': 'xmlhttprequest'
                                            }
                                        }).then(function (res) {
                                            if (res.data.code == 1) {
                                                mui.toast('抢单成功', {
                                                    duration: '1000ms',
                                                    type: 'div'
                                                });
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 1000);
                                            } else {
                                                mui.toast('抢单失败', {
                                                    duration: '1000ms',
                                                    type: 'div'
                                                });
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 1000);
                                            }
                                        });
                                }
                            });
                    }
                },
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h;

                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':00',
                        time2: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    };
                },
                // 时间判断
                time: function time(res) {
                    var currentTime = new Date().getTime();
                    var judgeTime = res * 1000 + 1800000;

                    // if (Number(currentTime) < Number(judgeTime)) {
                    // 相差时间
                    // var differenceDay = Number(this.formatDateTime(judgeTime - currentTime).d) - 1;
                    var h = Number(this.formatDateTime(Number(judgeTime) - Number(currentTime)).h) - 8;
                    var m = this.formatDateTime(Number(judgeTime) - Number(currentTime)).minute;
                    // h += Number(differenceDay) * 24;
                    if (h < 0) {
                        h = 0;
                    }
                    m = m < 10 ? '0' + m : m;
                    // } else {
                    // 当超时返回判断
                    // var i = 0;
                    // }

                    return {
                        h: h,
                        m: m,
                        // i: i
                    };
                },
                // 跳转详情页
                jump: function jump(item) {
                    window.sessionStorage.setItem('auntOrder', JSON.stringify(item));
                    window.location.href = '/index.php/aunt/serverorder/particulars';
                },
                // 处理展示的分类
                showCategory: function showCategory() {
                    for (var i = 0; i < this.list.length; i++) {
                        for (var j = 0; j < this.auntUser.job.split(',').length; j++) {
                            if (this.list[i].id == Number(this.auntUser.job.split(',')[j])) {
                                this.category.push(this.list[i]);
                            }
                        }
                    }
                }
            },
            mounted: function mounted() {
                var that = this;
                mui.init(); // mui 选项卡加上拉加载初始化代码

                (function ($) {
                    //阻尼系数
                    var deceleration = mui.os.ios ? 0.003 : 0.0009;
                    $('.mui-scroll-wrapper').scroll({
                        bounce: false,
                        indicators: true,
                        //是否显示滚动条
                        deceleration: deceleration
                    });
                    var request = [
                        // 抢单
                        {
                            // 刷新的请求
                            refresh: function refresh(obj) {
                                // 获取抢单列表
                                axios.get('/index.php/serverapi/v2.sure/grab', {
                                    params: {
                                        uid: that.auntUser.id,
                                        limit: '0,' + that.grab.limit,
                                    },
                                    headers: {
                                        'X-Requested-With': 'xmlhttprequest'
                                    }
                                }).then(function (res) {
                                    that.grab.num = that.grab.limit;
                                    that.grab.create_time = res.data.data.create_time;
                                    that.grab.data = res.data.data.data;
                                    obj(res)
                                });
                            },
                            // 加载的请求
                            load: function load(obj) {
                                // 获取抢单列表
                                axios.get('/index.php/serverapi/v2.sure/grab', {
                                    params: {
                                        uid: that.auntUser.id,
                                        limit: that.grab.num + ',' + that.grab.limit,
                                        create_time: that.grab.create_time
                                    },
                                    headers: {
                                        'X-Requested-With': 'xmlhttprequest'
                                    }
                                }).then(function (res) {
                                    that.grab.num += that.grab.limit;
                                    that.grab.create_time = res.data.data.create_time;
                                    var arr = res.data.data.data;
                                    for (var key in arr) {
                                        that.grab.data.push(arr[key])
                                    }
                                    obj(res)
                                });
                            },
                        },
                        // 待预约
                        {
                            // 刷新的请求
                            refresh: function refresh(obj) {
                                // 获取待预约列表
                                axios.get('/index.php/serverapi/v2.sure/server', {
                                    params: {
                                        uid: that.auntUser.id,
                                        limit: '0,' + that.reservation.limit,
                                    },
                                    headers: {
                                        'X-Requested-With': 'xmlhttprequest'
                                    }
                                }).then(function (res) {
                                    that.reservation.data = res.data.data.data;
                                    that.reservation.num = that.reservation.limit;
                                    that.reservation.create_time = res.data.data.create_time;
                                    obj(res)
                                });
                            },
                            // 加载的请求
                            load: function load(obj) {
                                // 获取待预约列表
                                axios.get('/index.php/serverapi/v2.sure/server', {
                                    params: {
                                        uid: that.auntUser.id,
                                        limit: that.reservation.num + ',' + that.reservation.limit,
                                        create_time: that.reservation.create_time
                                    },
                                    headers: {
                                        'X-Requested-With': 'xmlhttprequest'
                                    }
                                }).then(function (res) {
                                    that.reservation.num += that.reservation.limit;
                                    that.reservation.create_time = res.data.data.create_time;
                                    var arr = res.data.data.data;
                                    for (var key in arr) {
                                        that.reservation.data.push(arr[key])
                                    }
                                    obj(res)
                                });
                            },

                        }
                    ]
                    $.ready(function () {
                        //     //循环初始化所有下拉刷新，上拉加载。
                        $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                            $(pullRefreshEl).pullToRefresh({
                                down: {
                                    callback: function () {
                                        var self = this;
                                        request[index].refresh(function (res) {
                                            if (res.data.data.is_ture) {
                                                if (res.data.data.is_ture == 1) {
                                                    setTimeout(function () {
                                                        self.endPullDownToRefresh(false);
                                                        self.refresh(true);
                                                    }, 1000);
                                                } else {
                                                    setTimeout(function () {
                                                        self.endPullDownToRefresh(true);
                                                    }, 1000);
                                                }
                                            } else {
                                                setTimeout(function () {
                                                    self.endPullDownToRefresh(true);
                                                }, 1000);
                                            }
                                        }, self)
                                    }
                                },
                                up: {
                                    callback: function () {
                                        var self = this;
                                        request[index].load(function (res) {
                                            if (res.data.data.is_ture) {
                                                if (res.data.data.is_ture == 1) {
                                                    setTimeout(function () {
                                                        self.endPullUpToRefresh(false);
                                                    }, 1000);
                                                } else {
                                                    setTimeout(function () {
                                                        self.endPullUpToRefresh(true);
                                                    }, 1000);
                                                }
                                            } else {
                                                setTimeout(function () {
                                                    self.endPullUpToRefresh(true);
                                                }, 1000);
                                            }
                                        }, self)
                                    }
                                }
                            });
                        });
                    });
                })(mui);

                // mui('body').on('tap', 'a', function () {
                //     window.top.location.href = this.href;
                // });
            },
            updated: function updated() {

            }
        });
    </script>
</body>

</html>