<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/aunt/index/stocks.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 全部分类 -->
        <div class="all">
            <a href="/index.php/aunt/employee/index">
                <img class="img-gr" src="{$Think.const.PUBLIC_RES}/png/aunt/fhgrzx.png" />
            </a>
            <!-- <span>全部分类</span> -->
            <select v-model="category_id">
                <option value="">全部分类</option>
                <option v-cloak v-for="(item, index) in category" :key="item.id" :value="item.id">
                    {{ item.name }}
                </option>
            </select>
            <img class="imgs stop" src="{$Think.const.PUBLIC_RES}/png/aunt/fenlei.png" />
        </div>

        <!-- 确认、上门、服务、完成 -->
        <ul>
            <li><a href="/index.php/aunt/index/index"><span>全部</span></a></li>
            <li><a href="/index.php/aunt/index/rush"><span>待确认</span></a></li>
            <li><a href="/index.php/aunt/index/visit"><span v-cloak>待上门({{ num }})</span></a></li>
            <li><a href="/index.php/aunt/index/serve"><span>服务中</span></a></li>
            <li class="accomplish"><span>已完成</span></li>
        </ul>

        <!-- 服务、订单 -->
        <div class="gib"  >
            <div class="box" v-for="(item, index) in complete.data" :key="item.id" v-show="category_id==item.cate"
                @tap='jump(item)'>
                <!-- 服务 -->
                <div class="onw">
                    <div>服务信息
                        <span v-show="item.assess == ''">没评价</span>
                        <span v-show="item.assess != ''">已评价</span>
                    </div>
                    <div v-cloak>完成时间 : {{ formatDateTime(item.fu_end*1000).time }}</div>
                    <div v-cloak>经过时长 : {{ time(item).h }}小时{{ time(item).m }}分</div>
                    <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                    <!-- <img src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                </div>
                <!-- 订单 -->
                <div class="onw">
                    <div>订单＆客户信息</div>
                    <div v-cloak>服务项目 : {{ item.card.name }}</div>
                    <div v-cloak v-if="item.order!=null">客户姓名 : {{ item.order.nickname }}</div>
                    <div v-cloak>客户地址 : {{ item.address }}</div>
                </div>
            </div>
            <div class="box" v-for="(item, index) in complete.data" :key="item.id" v-show="category_id==''"
                @tap='jump(item)'>
                <!-- 服务 -->
                <div class="onw">
                    <div>服务信息
                        <span v-show="item.assess == ''">未评价</span>
                        <span v-show="item.assess != ''">已评价</span>
                    </div>
                    <div v-cloak>完成时间 : {{ formatDateTime(item.fu_end*1000).time }}</div>
                    <div v-cloak>经过时长 : {{ time(item).h }}小时{{ time(item).m }}分</div>
                    <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                    <!-- <img src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" /> -->
                </div>
                <!-- 订单 -->
                <div class="onw">
                    <div>订单＆客户信息</div>
                    <div v-cloak>服务项目 : {{ item.card.name }}</div>
                    <div v-cloak v-if="item.order!=null">客户姓名 : {{ item.order.nickname }}</div>
                    <div v-cloak>客户地址 : {{ item.address }}</div>
                </div>
            </div>
            <div class="temporarily" v-if="complete.data==''">暂无数据</div>
        </div>


    </div>

    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 完成
                complete: {
                    // 完成列表
                    data: []
                },
                // 阿姨数据
                auntUser: [],
                // 分类列表
                list: [],
                // 展示分类数据
                category: [],
                // 选中的数据
                category_id: '',
                // 待上门的数量
                num: 0,
            },
            created: function created() {
                var that = this; //  阿姨数据

                if (window.localStorage.auntUser) {
                    that.auntUser = JSON.parse(window.localStorage.auntUser);
                } else {
                    axios.get('/index.php/mapiv2/staff/personal', {
                        params: {
                            auntopenid: window.localStorage.auntopenid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.auntUser = res.data.data[0];
                        window.localStorage.setItem('auntUser', JSON.stringify(that.auntUser));
                    });
                } // 分类数据


                if (window.localStorage.sort) {
                    that.list = JSON.parse(window.localStorage.sort); // 处理展示的分类

                    that.showCategory();
                } else {
                    axios.get('/index.php/mapi/Category/getall', {
                        params: {},
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.list = res.data.data; // 处理展示的分类

                        that.showCategory();
                    });
                }

                axios.get('/index.php/serverapi/v2.Serverend/message', {
                    params: {
                        uid: that.auntUser.id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.complete.data = res.data.data;
                });
                // 获取所有任务
                axios.get('/index.php/serverapi/v2.goup/all', {
                    params: {
                        uid: that.auntUser.id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    if (res.data.data) that.num = res.data.data.length;
                });
            },
            methods: {
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h + ' ' + minute;

                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
                    };
                },
                // 时间判断
                time: function time(item) {
                    var currentTime = new Date(Number(item.fu_start * 1000)).getTime();
                    var judgeTime = new Date(Number(item.fu_end * 1000)).getTime(); // 相差时间

                    var differenceDay = Number(this.formatDateTime(Number(judgeTime) - Number(currentTime)).d) - 1;
                    var h = Number(this.formatDateTime(Number(judgeTime) - Number(currentTime)).h) - 8;
                    var m = this.formatDateTime(Number(judgeTime) - Number(currentTime)).minute;
                    h += Number(differenceDay) * 24;
                    return {
                        h: h,
                        m: m
                    };
                },
                // 处理展示的分类
                showCategory: function showCategory() {
                    for (var i = 0; i < this.list.length; i++) {
                        for (var j = 0; j < this.auntUser.job.split(',').length; j++) {
                            if (this.list[i].id == Number(this.auntUser.job.split(',')[j])) {
                                this.category.push(this.list[i]);
                            }
                        }
                    }
                },
                // 跳转详情页
                jump: function jump(item) {
                    window.sessionStorage.setItem('auntOrder', JSON.stringify(item));
                    window.location.href = '/index.php/aunt/serverorder/particulars';
                },
            }
        });
    </script>


</body>

</html>