<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/aunt/index/visit.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 全部分类 -->
        <div class="all">
            <a href="/index.php/aunt/employee/index">
                <img class="img-gr" src="{$Think.const.PUBLIC_RES}/png/aunt/fhgrzx.png" />
            </a>
            <!-- <span>全部分类</span> -->
            <select v-model="category_id">
                <option value="">全部分类</option>
                <option v-for="(item, index) in category" :key="item.id" :value="item.id" v-cloak>
                    {{ item.name }}
                </option>
            </select>
            <img class="imgs stop" src="{$Think.const.PUBLIC_RES}/png/aunt/fenlei.png" />
        </div>

        <!-- 确认、上门、服务、完成 -->
        <ul class="top">
            <li><a href="/index.php/aunt/index/index"><span>全部</span></a></li>
            <li><a href="/index.php/aunt/index/rush"><span>待确认</span></a></li>
            <li class="accomplish"><span v-cloak>待上门({{ num }})</span></li>
            <li><a href="/index.php/aunt/index/serve"><span>服务中</span></a></li>
            <li><a href="/index.php/aunt/index/stocks"><span>已完成</span></a></li>
        </ul>

        <div class="mui-content">
            <div id="slider" class="mui-slider mui-fullscreen">
                <div id="sliderSegmentedControl"
                    class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll switch">
                        <a class="mui-control-item mui-active" href="#all">
                            所有任务
                        </a>
                        <a class="mui-control-item" href="#today">
                            今日任务
                        </a>
                        <a class="mui-control-item" href="#exceed">
                            超时任务
                        </a>
                    </div>
                </div>
                <div class="mui-slider-group" id="scrol">
                    <!-- 所有任务 -->
                    <div id="all" class="mui-slider-item mui-control-content mui-active">
                        <div id="scroll1" class="mui-scroll-wrapper">
                            <div class="mui-scroll">
                                <ul class="mui-table-view">
                                    <li class="list" v-for="(item, index) in all.show" :key="item.id">
                                        <!-- 第1个选项卡子项 -->
                                        <div @tap='jump(item)'>
                                            <div class="onw">
                                                <h4>服务信息</h4>
                                                <div v-cloak>上门时间 :
                                                    {{ formatDateTime(Number(item.appoint_start*1000)).time }}
                                                </div>
                                                <div v-if="item.appoint_start*1000>new Date().getTime()" v-cloak>签到剩余 :
                                                    {{ time(item).Remaining.h }}小时{{ time(item).Remaining.m }}分</div>
                                                <div v-else v-cloak>签到剩余 : 已超时</div>
                                                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                                <!--<img style="width: 0.525rem" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" />-->
                                            </div>
                                            <!-- 订单 -->
                                            <div class="onw tow">
                                                <p></p>
                                                <h4>订单＆客户信息</h4>
                                                <div v-cloak>服务项目 : {{ item.card.name }}</div>
                                                <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}
                                                </div>
                                                <div v-cloak>客户地址 : {{ item.address }}</div>
                                            </div>
                                        </div>
                                        <div class="finished" @tap='action_now(item)'>
                                            <span>开始服务</span>
                                        </div>
                                    </li>
                                    <div class="temporarily" v-if="all.show==''">暂无数据</div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 今日任务 -->
                    <div id="today" class="mui-slider-item mui-control-content">
                        <div class="mui-scroll-wrapper">
                            <div class="mui-scroll">
                                <ul class="mui-table-view">
                                    <li class="list" v-for="(item, index) in today.show" :key="item.id">
                                        <!-- 第2个选项卡子项 -->
                                        <div @tap='jump(item)'>
                                            <div class="onw">
                                                <h4>服务信息</h4>
                                                <div v-cloak>上门时间 :
                                                    {{ formatDateTime(Number(item.appoint_start*1000)).time }}
                                                </div>
                                                <div v-cloak>签到剩余 :
                                                    {{ time(item).Remaining.h }}小时{{ time(item).Remaining.m }}分</div>
                                                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                                <!--<img style="width: 0.525rem" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" />-->
                                            </div>
                                            <!-- 订单 -->
                                            <div class="onw tow">
                                                <p></p>
                                                <h4>订单＆客户信息</h4>
                                                <div v-cloak>服务项目 : {{ item.card.name }}</div>
                                                <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}
                                                </div>
                                                <div v-cloak>客户地址 : {{ item.address }}</div>
                                            </div>
                                        </div>
                                        <div class="finished" @tap='action_now(item)'>
                                            <span>开始服务</span>
                                        </div>
                                    </li>
                                    <div class="temporarily" v-if="today.show==''">暂无数据</div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 超时任务 -->
                    <div id="exceed" class="mui-slider-item mui-control-content">
                        <div class="mui-scroll-wrapper">
                            <div class="mui-scroll">
                                <ul class="mui-table-view">
                                    <li class="list" v-for="(item, index) in exceed.show" :key="item.id">
                                        <!-- 第3个选项卡子项 -->
                                        <div @tap='jump(item)'>
                                            <div class="onw">
                                                <h4>服务信息</h4>
                                                <div v-cloak>上门时间 :
                                                    {{ formatDateTime(Number(item.appoint_start*1000)).time }}</div>
                                                <div v-cloak>签到剩余 : 已超时</div>
                                                <span class="triangle" v-cloak>{{ item.cate_name }}</span>
                                                <!--<img style="width: 0.525rem" src="{$Think.const.PUBLIC_RES}/png/aunt/baojei.png" />-->
                                            </div>
                                            <!-- 订单 -->
                                            <div class="onw tow">
                                                <p></p>
                                                <h4>订单＆客户信息</h4>
                                                <div v-cloak>服务项目 : {{ item.card.name }}</div>
                                                <div v-if="item.order!=null" v-cloak>客户姓名 : {{ item.order.nickname }}
                                                </div>
                                                <div v-cloak>客户地址 : {{ item.address }}</div>
                                            </div>
                                        </div>

                                        <div class="finished" @tap='action_now(item)'>
                                            <span>开始服务</span>
                                        </div>
                                    </li>
                                    <div class="temporarily" v-if="exceed.show==''">暂无数据</div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.pullToRefresh.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rubber/rubber.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 分页切换判断  1.待确定  2.待上门  3.服务中  4.已完成
                switch: 1,
                // 所有任务
                all: {
                    // 所有任务列表
                    data: [],
                    // 显示的列表
                    show: []
                },
                // 今日任务
                today: {
                    // 今日任务列表
                    data: [],
                    // 显示的列表
                    show: []
                },
                // 超时任务
                exceed: {
                    // 超时任务列表
                    data: [],
                    // 显示的列表
                    show: []
                },
                // 阿姨数据
                auntUser: [],
                // 分类列表
                list: [],
                // 展示分类数据
                category: [],
                // 选中的数据
                category_id: '',
                // 待上门的数量
                num: 0,
            },
            created: function created() {
                var that = this; //  阿姨数据

                if (window.localStorage.auntUser) {
                    that.auntUser = JSON.parse(window.localStorage.auntUser);
                } else {
                    axios.get('/index.php/mapiv2/staff/personal', {
                        params: {
                            auntopenid: window.localStorage.auntopenid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.auntUser = res.data.data[0];
                        window.localStorage.setItem('auntUser', JSON.stringify(that.auntUser));
                    });
                } // 分类数据


                if (window.localStorage.sort) {
                    that.list = JSON.parse(window.localStorage.sort); // 处理展示的分类

                    that.showCategory();
                } else {
                    axios.get('/index.php/mapi/Category/getall', {
                        params: {},
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        that.list = res.data.data; // 处理展示的分类

                        that.showCategory();
                    });
                }
                // 获取所有任务
                axios.get('/index.php/serverapi/v2.goup/all', {
                    params: {
                        uid: that.auntUser.id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.all.data = res.data.data;
                    if (that.all.data) that.num = that.all.data.length;
                    that.all.show = res.data.data;
                });
                // 获取今日任务
                axios.get('/index.php/serverapi/v2.goup/today', {
                    params: {
                        uid: that.auntUser.id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.today.data = res.data.data;
                    that.today.show = res.data.data;
                }); // 获取超时任务

                axios.get('/index.php/serverapi/v2.goup/out', {
                    params: {
                        uid: that.auntUser.id
                    },
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                }).then(function (res) {
                    that.exceed.data = res.data.data;
                    that.exceed.show = res.data.data;
                });
            },
            methods: {
                // 开始服务
                action_now: function action_now(item) {
                    var that = this;
                    axios.get('/index.php/api/commonapi.scan/action_now', {
                        params: {
                            id: item.codeid
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        if (res.data.code == 1) {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                location.reload()
                            }, 1000);
                        } else {
                            mui.toast(res.data.msg, {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                location.reload()
                            }, 1000);
                        }
                    });
                },
                // 时间判断
                time: function time(item) {
                    // 剩余
                    var Remaining = {
                        d: null,
                        h: null,
                        m: null
                    };
                    // 经过
                    var through = {
                        d: null,
                        h: null,
                        m: null
                    };
                    through.d = this.formatDateTime(new Date((Number(item.appoint_end) - Number(item.appoint_start)) * 1000).getTime()).d;
                    through.h = Number(this.formatDateTime(new Date((Number(item.appoint_end) - Number(item.appoint_start)) * 1000).getTime()).h);
                    through.m = Number(this.formatDateTime(new Date((Number(item.appoint_end) - Number(item.appoint_start)) * 1000).getTime()).minute);
                    through.h += Number(through.d) * 24;
                    var Start = this.formatDateTime(item.appoint_start * 1000)
                    var determine = this.formatDateTime(new Date().getTime())
                    Remaining.y = Start.y - determine.y
                    Remaining.M = Start.m - determine.m
                    Remaining.d = Start.d - determine.d
                    Remaining.h = Start.h - determine.h
                    Remaining.m = Start.minute - determine.minute
                    if (Remaining.y > 0) Remaining.M += Remaining.y * 12;
                    if (Remaining.M > 0) {
                        var day;
                        switch (Number(Remaining.M)) {
                            case 1:
                            case 3:
                            case 5:
                            case 7:
                            case 8:
                            case 10:
                            case 12:
                                day = 31;
                                break;
                            case 2:
                                day = 28;
                                break;
                            case 4:
                            case 6:
                            case 9:
                            case 11:
                                day = 30;
                                break;
                        }
                        Remaining.d += Remaining.M * day
                    }
                    if (Remaining.m < 0) {
                        Remaining.h--;
                        Remaining.m += 60;
                    }
                    if (Remaining.d > 0) Remaining.h += Remaining.d * 24;
                    return {
                        through: through,
                        Remaining: Remaining
                    };
                },
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    var h = date.getHours();
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h;

                    return {
                        y: y,
                        m: m,
                        d: d,
                        h: h,
                        minute: minute,
                        time: y + '-' + m + '-' + d + ' ' + h + ':00'
                    };
                },
                // 跳转详情页
                jump: function jump(item) {
                    window.sessionStorage.setItem('auntOrder', JSON.stringify(item));
                    window.location.href = '/index.php/aunt/serverorder/particulars';
                },
                // 处理展示的分类
                showCategory: function showCategory() {
                    for (var i = 0; i < this.list.length; i++) {
                        for (var j = 0; j < this.auntUser.job.split(',').length; j++) {
                            if (this.list[i].id == Number(this.auntUser.job.split(',')[j])) {
                                this.category.push(this.list[i]);
                            }
                        }
                    }
                }
            },
            mounted: function mounted() {
                var that = this; // mui 选项卡加上拉加载初始化代码

                (function ($) {
                    //阻尼系数
                    var deceleration = mui.os.ios ? 0.003 : 0.0009;
                    $('.mui-scroll-wrapper').scroll({
                        bounce: false,
                        indicators: true,
                        //是否显示滚动条
                        deceleration: deceleration
                    });
                    var amount = 5,
                        last = 20,
                        levelType = 0;
                    // $.ready(function () {
                    //     //循环初始化所有下拉刷新，上拉加载。
                    //     $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                    //         $(pullRefreshEl).pullToRefresh({
                    //             down: {
                    //                 callback: function () {
                    //                     var self = this;
                    //                     setTimeout(function () {
                    //                         // var ul = self.element.querySelector('.mui-table-view');
                    //                         // var fragment = createFragment(ul, index, 10, true);
                    //                         // if (fragment == null) {
                    //                         self.endPullDownToRefresh(true);
                    //                         // } else {
                    //                         //     ul.insertBefore(fragment, ul.firstChild);
                    //                         //     self.endPullDownToRefresh();
                    //                         // }
                    //                     }, 1000);
                    //                 }
                    //             },
                    //             up: {
                    //                 callback: function () {
                    //                     var self = this;
                    //                     setTimeout(function () {
                    //                         // var ul = self.element.querySelector('.mui-table-view');
                    //                         // var fragment = createFragment(ul, index, 5);
                    //                         // if (fragment == null) {
                    //                         self.endPullUpToRefresh(true);
                    //                         // } else {
                    //                         //     ul.appendChild(fragment);
                    //                         //     self.endPullUpToRefresh();
                    //                         // }
                    //                     }, 1000);
                    //                 }
                    //             }
                    //         });
                    //     });
                    // var createFragment = function (ul, index, count, reverse) {
                    //     var length = ul.querySelectorAll('li').length;
                    //     var fragment = null;
                    //     var li;
                    //     //for (var i = 0; i < count; i++) {
                    //     //    li = document.createElement('li');
                    //     //    li.className = 'mui-table-view-cell';
                    //     //    li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
                    //     //    fragment.appendChild(li);
                    //     //}
                    //     // 说明不到一页 没必要请求了
                    //     if (length < pageSize) {
                    //         return null;
                    //     }
                    //     last = length + amount;
                    //     pageIndex = last / amount;
                    //     if (index == 0) {
                    //         levelType = -1;
                    //     } else if (index == 1) {
                    //         levelType = 0;
                    //     } else {
                    //         levelType = 1;
                    //     }
                    //     // 实现异步查询
                    //     // mui.ajax({
                    //     //     async: false,
                    //     //     type: "post",
                    //     //     dataType: "json",
                    //     //     url: "/Comment/GetPullList",
                    //     //     data: "levelType=" + levelType + "&pageIndex=" + pageIndex + "&pageSize=" + amount,
                    //     //     complete: function () {
                    //     //         //$("#load").hide();
                    //     //     },
                    //     //     success: function (result) {
                    //     //         if (result.Status) {
                    //     //             var data = result.Data;
                    //     //             var tmp = '';
                    //     //             fragment = document.createDocumentFragment();
                    //     //             $.each(data, function (i, n) {
                    //     //                 var li = document.createElement('li');
                    //     //                 li.className = 'mui-table-view-cell';
                    //     //                 li.innerHTML = (length + (reverse ? (count - i) : (i + 1))) + ',' + n.Comment;
                    //     //                 fragment.appendChild(li);
                    //     //                 //下拉刷新，新纪录插到最前面；
                    //     //                 //table.insertBefore(li, table.firstChild);
                    //     //             });
                    //     //         }
                    //     //     }
                    //     // });
                    //     return fragment;
                    // };
                    // var createFragment_old = function (ul, index, count, reverse) {
                    //     var length = ul.querySelectorAll('li').length;
                    //     var fragment = document.createDocumentFragment();
                    //     var li;
                    //     for (var i = 0; i < count; i++) {
                    //         li = document.createElement('li');
                    //         li.className = 'mui-table-view-cell';
                    //         li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
                    //         fragment.appendChild(li);
                    //     }
                    //     return fragment;
                    // };
                    // });
                })(mui);

                mui.init();
            },
            watch: {
                // 深度 watcher
                category_id: {
                    handler: function handler(val, oldVal) {
                        var that = this; // 所有任务

                        if (that.category_id != '') {
                            this.all.show = [];

                            for (var i = 0; i < this.all.data.length; i++) {
                                if (this.all.data[i].cate == this.category_id) {
                                    this.all.show.push(this.all.data[i]);
                                }
                            }
                        } else {
                            this.all.show = this.all.data;
                        } // 今日任务


                        if (that.category_id != '') {
                            this.today.show = [];

                            for (var i = 0; i < this.today.data.length; i++) {
                                if (this.today.data[i].cate == this.category_id) {
                                    this.today.show.push(this.today.data[i]);
                                }
                            }
                        } else {
                            this.today.show = this.today.data;
                        } // 超时任务


                        if (that.category_id != '') {
                            this.exceed.show = [];

                            for (var i = 0; i < this.exceed.data.length; i++) {
                                if (this.exceed.data[i].cate == this.category_id) {
                                    this.exceed.show.push(this.exceed.data[i]);
                                }
                            }
                        } else {
                            this.exceed.show = this.exceed.data;
                        }
                    },
                    deep: true
                }
            }
        });
    </script>
</body>

</html>