<style>
    .profile-avatar-container {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .profile-avatar-container .profile-user-img {
        width: 100px;
        height: 100px;
    }

    .profile-avatar-container .profile-avatar-text {
        display: none;
    }

    .profile-avatar-container:hover .profile-avatar-text {
        display: block;
        position: absolute;
        height: 100px;
        width: 100px;
        background: #444;
        opacity: .6;
        color: #fff;
        top: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
    }

    .profile-avatar-container button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
</style>
<div class="row animated fadeInRight">
    <div class="col-md-4">
        <div class="box box-success">
            <div class="panel-heading">
                {:__('Profile')}
            </div>
            <div class="panel-body">

                <form id="update-form" role="form" data-toggle="validator" method="POST" action="{:url('general.profile/update')}">
                    <input type="hidden" id="c-avatar" name="row[avatar]" value="{$admin.avatar}"/>
                    <div class="box-body box-profile">

                        <div class="profile-avatar-container">
                            <img class="profile-user-img img-responsive img-circle plupload" src="{$admin.avatar|cdnurl}" alt="">
                            <div class="profile-avatar-text img-circle">{:__('Click to edit')}</div>
                            <button id="plupload-avatar" class="plupload" data-input-id="c-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                        </div>

                        <h3 class="profile-username text-center">{$admin.username}</h3>

                        <p class="text-muted text-center">{$admin.email}</p>
                        <div class="form-group">
                            <label for="username" class="control-label">{:__('Username')}:</label>
                            <input type="text" class="form-control" id="username" name="row[username]" value="{$admin.username}" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">原{:__('Password')}:</label>
                            <input type="password" class="form-control" id="old_pass" data-rule="required" autocomplete="new-password" name="row[old_pass]" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">新{:__('Password')}:</label>
                            <input type="password" class="form-control" id="password" placeholder="{:__('Leave password blank if dont want to change')}" autocomplete="new-password" name="row[password]" value=""/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">确认新{:__('Password')}:</label>
                            <input type="password" class="form-control" data-rule="match(row[password])" id="repassword" placeholder="{:__('Leave password blank if dont want to change')}" autocomplete="new-password" value=""/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
