<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>注册</title>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/index-dome.css?{$Think.config.fastadmin['v_api']}" />

</head>

<body>
  <div class="prompt">
    非常抱歉，您的手机操作系统版本太低，为保证用户体验，请升级至最新版本后再注册.
  </div>
  <script type="text/javascript">
    // 判断ios版本并提示
    var str = navigator.userAgent.toLowerCase();
    var ver = str.match(/cpu iphone os (.*?) like mac os/);
    var version = ver[1].replace(/_/g, ".");
    console.log(version, ver);
    if (version < 10) {
      $('.prompt').css('display', 'block')
    }
  </script>
  {include file="common/alerthb" /}<div id="app">
    <div class="registersNoe">
      <div class="header">
        <div class="registers">注册</div>
      </div>
      <div class="register">
        <div class="compellation mui-row">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/register.png" alt="" />
          <div class=" mui-col-sm-9 mui-col-xs-9">
            <input type="text" placeholder="姓名" class="input" v-model="name" />
          </div>
        </div>
        <div class="mui-row div_input">
          <div class="sir">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/1.png" v-show="sex==0" @tap='sex=1'>
            <img src="{$Think.const.PUBLIC_RES}/png/icons/2.png" v-show="sex==1">
          </div>
          <div class="lady">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/4.png" v-show="sex==0">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/3.png" v-show="sex==1" @tap='sex=0'>
          </div>
        </div>
      </div>

      <!-- 地址 区域 -->
      <!-- <div class="compellations mui-row">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/weizhi3.png" />
        <div class=" mui-col-sm-9 mui-col-xs-9">
          <input type="text" placeholder="广东省深圳市" class="input" disabled="disabled" />
        </div>
        <select class="store">
          <option value="">请选择</option>
          <option value="440304,福田区">福田区</option>
          <option value="440303,罗湖区">罗湖区</option>
          <option value="440305,南山区">南山区</option>
          <option value="440308,盐田区">盐田区</option>
          <option value="440306,宝安区">宝安区</option>
          <option value="440307,龙岗区">龙岗区</option>
          <option value="440311,光明新区">光明新区</option>
          <option value="440312,坪山新区">坪山新区</option>
          <option value="440310,龙华新区">龙华新区</option>
          <option value="440313,大鹏新区">大鹏新区</option>
        </select>
        <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/subscript.png" />
      </div> -->
      <!-- 手机 -->
      <div class="compellation-s mui-row">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/Phoneshouji.png" alt="" />
        <div class=" mui-col-sm-9 mui-col-xs-9">
          <input type="number" placeholder="手机号" class="input" v-model="phone" />
        </div>
        <span class="identifying" @tap='msg' v-if="for_if==0">免费获取验证码</span>
        <span class="identifying" v-else>获取验证码</span>
      </div>


      <!-- 验证码 -->
      <div class="compellationss mui-row">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/xin-xianxing.png" alt="" />
        <div class=" mui-col-sm-9 mui-col-xs-9">
          <input type="text" maxlength="6" placeholder="验证码" class="input" v-model="verification" />
        </div>
      </div>


      <!-- 注册按钮 -->
      <div class="button" @tap="register">
        <span>注册</span>
      </div>
    </div>
  </div>


</body>

<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
<script>
  'use strict';

  var app = new Vue({
    el: '#app',
    data: {
      // 令牌
      token: '',
      // 手机号
      phone: '',
      // 昵称
      name: '',
      // 店铺id
      mstore_id: null,
      // 省id
      province_id: '440000',
      // 省昵称
      province: '广东省',
      // 市id
      city_id: '440300',
      // 市昵称
      city: '深圳市',
      // 区id
      area_id: '',
      // 区昵称
      area: '',
      // 地址
      address: '',
      // 验证码
      verification: '',
      // 短信
      message: '',
      // 倒计时
      countdown: 60,
      // 计时器
      time: null,
      // openid
      openid: '',
      // 性别
      sex: 1,
      // 获取验证码判断
      for_if: 0
    },
    methods: {
      // 验证码
      msg: function msg() {
        var _this = this;

        axios.get('/index.php/mapi/commonapi.ajaxcommon/sms', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            phone: this.phone,
            type: 2
          }
        }).then(function (res) {
          // console.log(res);
          _this.message = res.data.data;
          if (res.data.code == 0) {
            mui.toast(res.data.msg, {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          mui.toast('验证码已发送', {
            duration: '1000ms',
            type: 'div'
          });
          $('.identifying').css('background-color', '#ccc');
          _this.for_if = 1;
          var that = _this;
          _this.time = setInterval(that.timeout, 1000);
        });
      },
      // 验证码样式更改
      timeout: function timeout() {
        this.countdown--;
        $('.identifying').text('请稍等(' + this.countdown + 's)');

        if (this.countdown == 0) {
          clearTimeout(this.time);
          $('.identifying').css('background-color', '');
          $('.identifying').text('免费获取验证码');
          this.countdown = 60;
          this.for_if = 0;
        }
      },
      // 注册提交
      register: function register() {
        // 区域的id和名字区分

        // if ($('.store').val()) {

        //   this.area_id = $('.store').val().split(',')[0];
        //   this.area = $('.store').val().split(',')[1];
        // }
        // 匹配规则
        if (!this.name) {
          mui.toast('请输入姓名', {
            duration: '1000ms',
            type: 'div'
          });
          return false;
        }
        // if (!this.sex) {
        //   mui.toast('请选择性别', {
        //     duration: '1000ms',
        //     type: 'div'
        //   });
        //   return false;
        // }

        // if (!this.area) {
        //   mui.toast('请输入选择区域', {
        //     duration: '1000ms',
        //     type: 'div'
        //   });
        //   return false;
        // }
        // 判断验证码
        if (this.message == this.verification) {
          // 上传
          axios.post('/index.php/mapi/Binduser/rest', {
            __token__: this.token,
            phone: this.phone,
            name: this.name,
            mstore_id: this.mstore_id,
            // province_id: this.province_id,
            // province: this.province,
            // city_id: this.city_id,
            // city: this.city,
            // area_id: this.area_id,
            // area: this.area,
            // address: this.address,
            openid: this.openid,
            sex: this.sex
          }, {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          }).then(function (res) {
            // console.log(res);
            if (res.data.code == 1) {
              mui.toast('注册成功', {
                duration: '1000ms',
                type: 'div'
              });
              window.location.href = '/'
            } else {
              mui.toast('注册失败,' + res.data.msg, {
                duration: '1000ms',
                type: 'div'
              });
            }
          });
        }
      }
    },

    // 初始化后
    created: function created() {
      // 判断是否扫码进来的
      if (window.location.href.split('binduser/')[1]) {
        this.mstore_id = window.location.href.split('binduser/')[1].split('.')[0].split('/')[1];
      }
      this.openid = window.localStorage.openid;
      this.token = '{$__token__}';
    },

    // 数据更改后执行
    updated: function updated() {
      mui('body').on('tap', 'a', function () {
        window.top.location.href = this.href;
      });
    }
  });
</script>

</html>