<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享</title>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
    <style type="text.css?{$Think.config.fastadmin['v_api']}">

    </style>
</head>

<body>
    <div id="app">
        <canvas id="canvas" width="300" height="400"></canvas>
        <img :src="imgs" alt="" v-if='imgs'>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                imgs: ''
            },
            created() {

            },
            mounted() {

                this.draw();
            },
            methods: {
                draw: function draw() {
                    var that = this
                    var canvas = document.getElementById('canvas');
                    var img = new Image(); // 创建一个<img>元素
                    var img1 = new Image(); // 创建一个<img>元素
                    var img2 = new Image(); // 创建一个<img>元素
                    // 图片加载
                    //参数1：要绘制的img  参数2、3：绘制的img在canvas中的坐标
                    if (!canvas.getContext) return;
                    var ctx = canvas.getContext("2d");
                    //开始代码
                    img.onload = function () {
                        ctx.drawImage(img, 0, 0, 300, 300)
                        ctx.font = "0.12rem sans-serif"
                        ctx.fillText('我是某某某', 80, 50)
                        ctx.globalCompositeOperation = "source-over"; //全局合成操作
                        ctx.drawImage(img1, 100, 20, 10, 10)
                        ctx.save();
                        ctx.font = "0.16rem sans-serif"
                        ctx.fillText('这是文案', 100, 150)
                        ctx.drawImage(img2, 100, 300, 100, 100)
                        that.imgs = canvas.toDataURL('image', 0.92);
                    }
                    img.src = '{$Think.const.PUBLIC_RES}/png/icons/rw.jpg'; // 设置图片源地址
                    img1.src = '{$Think.const.PUBLIC_RES}/png/icons/register.png'; // 设置图片源地址
                    img2.src = '{$Think.const.PUBLIC_RES}/png/icons/not.png'; // 设置图片源地址



                    // ctx.fillStyle = "rgb(200,0,0)";
                    // //绘制矩形
                    // ctx.fillRect(5, 15, 55, 30);

                    // ctx.fillStyle = "rgba(0, 0, 200, 0.5)";
                    // ctx.fillRect(30, 30, 55, 30);

                    // // 文字加载
                    // ctx.font = "0.12rem sans-serif"
                    // ctx.fillText('我是某某某', 100, 150)


                }
            },
        })
    </script>
</body>

</html>