<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/user/index.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>


    {include file="common/alerthb" /}
    <div id="app">

        <!-- 蒙版 -->
        <div class="masking" v-show="Copywriting.enable==1||Copywriting.total==1">

        </div>
        <div class="binding" v-show="Copywriting.enable==1">
            <h4>可用池</h4>
            <p>
                红包开出的金额即会转移到可用池, 可以直接进行商品总额最多50%额 度的现金抵扣
            </p>

            <div class="btn" @click="Copywriting.enable=0">知道了</div>
        </div>
        <div class="binding" v-show="Copywriting.total==1">
            <h4>红包池</h4>

            <p>
                每次完成消费即将实付的 现金金额(小哥豆抵扣不算)按比 例进行补贴返还,需要通过每日开 红包的方式提取到可用池进行使用, 单笔消费的最长领完时间为两年
            </p>
            <div class="btn" @click="Copywriting.total=0">知道了</div>
        </div>


        <!-- 头部 -->
        <div class="box">
            <div class="header">
                <div class="two">
                    <div class="imgS">
                        <img v-cloak :src="user.pic" />
                        <img v-cloak v-show="user.interval==1" src="{$Think.const.PUBLIC_RES}/png/iconic/jp.png" />
                    </div>
                    <div class="name">
                        <h4 v-cloak>{{ user.nickname }}</h4>
                        <!--<p>个性签名: 努力让自己每天开心</p>-->
                    </div>
                    <div class="dredge" v-show="user.interval!=1">
                        <a href="/index.php/mobile/vip/index/">
                            <div>开通会员</div>
                        </a>
                    </div>
                    <div class="dredge" v-show="user.interval==1">
                        <a href="/index.php/mobile/vip/index/">
                            <div>续费会员</div>
                        </a>
                    </div>
                </div>

                <!-- 红包 -->
                <div class="redPacket">
                    <div class="left" v-if="bean.total==0" v-cloak>
                        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/XIAOPBEIJ01.png" />
                        <h3>购买服务</h3>
                        <span>每天可领取返现红包,会员最高返现100%</span>
                    </div>
                    <div class="left" v-else-if="bean.today==0&&bean.total!=0" @tap="open" v-cloak>
                        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/XIAOBEIJ.png" />
                        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/XIAOKAI.png" />
                    </div>
                    <div class="left" v-else-if="bean.today==1&&bean.total!=0" v-cloak>
                        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/XIAOPBEIJ01.png" />
                        <h3 v-cloak>{{ bean.last }}小哥豆</h3>
                        <span v-cloak>可抵扣¥{{ bean.last }}元</span>
                        <span class="Demolition">请明天来拆红包</span>
                    </div>

                    <div class="right">
                        <ul>
                            <li @tap='Copywriting.total=1'>
                                <p>红包池(豆) <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/wenhao.png"></p>
                                <span v-cloak>{{ bean.total }}</span>
                            </li>
                            <li @tap='Copywriting.enable=1'>
                                <p>可用池(豆) <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/wenhao.png"></p>
                                <span v-cloak>{{ bean.enable }}</span>
                            </li>
                        </ul>

                        <div class="join">
                            <div v-cloak>已从红包池提出:{{ bean.add }}(豆)</div>
                            <div v-cloak>小哥豆已帮您节省:￥{{ bean.save }}</div>
                            <div v-cloak>
                                <span v-cloak> 已参加:{{ bean.days }}天</span>
                                <a class="record" href="/index.php/mobile/order/record/">
                                    小哥豆记录
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 小哥豆记录 -->
                <!-- <a href="/index.php/mobile/order/record/">
            <div class="laddieRecord">

                <div class="usable">
                    <div>896.<span>26</span></div>
                    <div>可用小哥(豆)</div>
                </div>
                <div class="xgRecord">小哥豆记录</div>

            </div>
        </a> -->
            </div>
        </div>

        <!-- 小店、地址、订单、设置 -->
        <div class="content">
            <ul>
                <!-- <li @tap="Storereview">
                    <i><img src="{$Think.const.PUBLIC_RES}/png/iconic/DP01.png" /></i>
                    <span>小店主页</span>
                    <i class="right"><img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" class="into" /></i>
                </li> -->
                <!-- <li>
                    <a :href="url.address.url">
                        <div class="filling">
                            <i><img src="{$Think.const.PUBLIC_RES}/png/iconic/DZ01.png" /></i>
                            <span>我的地址</span>
                            <i class="right"><img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png"
                                    class="into" /></i>
                        </div>
                    </a>
                </li> -->
                <li>
                    <a :href="url.selfpay.url">
                        <div class="filling">
                            <i><img src="{$Think.const.PUBLIC_RES}/png/iconic/DDZJ01.png" /></i>
                            <span>订单追加</span>
                            <i class="right"><img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png"
                                    class="into" /></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/index.php/mobile/bargain/coupon">
                        <div class="filling">
                            <i><img src="{$Think.const.PUBLIC_RES}/png/share/youhuiquan.png" /></i>
                            <span>卡券</span>
                            <i class="right"><img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png"
                                    class="into" /></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a :href="url.setting.url">
                        <div class="filling">
                            <i><img src="{$Think.const.PUBLIC_RES}/png/iconic/SZ01.png" /></i>
                            <span>帮助与反馈</span>
                            <i class="right"><img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png"
                                    class="into" /></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 购买完返现弹出 -->
        <div id="envelop" class="envelop" v-if="change!=0">
            <div class="envelop_big">
                <div class="envelop_cash">
                    <div class="envelop_circle">
                    </div>
                </div>
                <transition name="enveloph">
                    <div class="envelop_circleShow" v-show="change==1">
                        <div class="envelop_board">
                            <h3>恭喜获得返现红包</h3>
                            <span><strong v-cloak>{{ money }}</strong>元</span>
                            <p v-cloak>价值{{ money }}小哥豆</p>
                        </div>
                    </div>
                </transition>

                <div class="envelop_closed" @click="cut">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi.png">
                </div>
                <div class="envelop_use" @click="cut" v-show="change==1">
                    感谢
                </div>
            </div>
        </div>

        <!-- 领取每日红包弹出 -->
        <div id="envelop" class="envelop" v-if="openbean!=0">
            <div class="envelop_big">
                <div class="envelop_cash">
                    <div class="envelop_circle">
                    </div>
                </div>
                <transition name="enveloph">
                    <div class="envelop_circleShow" v-show="openbean==1">
                        <div class="envelop_board">
                            <h3>成功拆出</h3>
                            <span><strong v-cloak>{{ daily.data }}</strong>元</span>
                            <p v-cloak>价值{{ daily.data }}小哥豆</p>
                        </div>
                    </div>
                </transition>

                <div class="envelop_closed" @click="shut">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi.png">
                </div>
                <div class="envelop_use" @click="shut" v-show="openbean==1">
                    真棒
                </div>
            </div>
        </div>

        <!-- 注销按钮 -->
        <!--<a href="/index.php/mobile/user/logout">-->
        <!--<div class="btn">注销</div>-->
        <!--</a>-->


        <!-- 底部按钮 -->
        <ul class="bottom">
            <li>
                <a :href="'/index.php/mobile/index/index/'+date">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/SY01.png">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a :href="'/index.php/mobile/goods/classify/'+'cate/0'">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/FL01.png">
                    <p>分类</p>
                </a>
            </li>
            <li>
                <a :href="'/index.php/mobile/order/number/'+date+'/'">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/DD01.png">
                    <p>订单</p>
                </a>
            </li>
            <li>
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/GR02.png">
                <p class="age">个人</p>
            </li>
        </ul>
    </div>


</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>

<script>
    'use strict';

    var app = new Vue({
        el: '#app',
        data: {
            // 个人内容
            user: [],
            // 跳转地址
            url: [],
            // openid
            openid: '',
            //  时间
            date: '',
            // 红包数据
            bean: [],
            // 红包弹出
            change: 0,
            // 返现价格
            money: '',
            // 开红包弹出
            openbean: 0,
            // 每日红包
            daily: [],
            //   判断弹出文案
            Copywriting: {
                // 红包池(豆)
                total: 0,
                // 可用池(豆)
                enable: 0
            }
        },
        methods: {
            Storereview: function Storereview() {
                var that = this;
                axios.get('/index.php/mapiv2/Storereview/rest', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    console.log(res);
                    window.location.href = res.data.data.url
                })
            },
            open: function open() {
                var that = this;
                this.bean.today = 1;
                axios.get('/index.php/mapiv2/bean/open', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    that.daily = res.data
                    that.openbean = 1
                    that.digital()
                })
            },
            digital: function digital() {
                var that = this;
                //   小哥豆数据获取
                axios.get('/index.php/mapiv2/bean', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    that.bean = res.data.data;
                    window.localStorage.setItem('envelop', JSON.stringify(that.bean))
                })
            },
            cut: function cut() {
                window.localStorage.removeItem('CashBack');
                this.change = 0;
            },
            shut: function shut(e) {
                this.openbean = 0;
                e.stopPropagation();
            }
        },
        mounted: function mounted() {
            var that = this;
            //   获取用户信息
            setInterval(function () {
                if (window.localStorage.userContent) {
                    that.user = JSON.parse(window.localStorage.userContent);
                    that.digital()
                } else {
                    this.openid = window.localStorage.openid;
                    axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            openid: this.openid
                        }
                    }).then(function (res) {
                        // console.log(res);
                        that.user = res.data.data;
                        var userContent = JSON.stringify(that.user);
                        window.localStorage.setItem("userContent", userContent);
                        that.digital()
                    });
                }
            }, 1000);
        },
        created: function created() {
            var that = this;

            axios.get('/index.php/mapi/user/rest', {}).then(function (res) {
                // console.log(res);
                that.url = res.data.data;
            });
            this.date = new Date().valueOf();

            // 处理红包弹窗
            // if (window.localStorage.CashBack) {
            //     if (this.user.interval == 0) {
            //         this.money = Math.floor(JSON.parse(window.localStorage.CashBack).money * 100 / 2) / 100;
            //     } else if (this.user.interval != 0) {
            //         this.money = JSON.parse(window.localStorage.CashBack).money;
            //     }
            //     this.change = 1;
            // }
        }
    });
</script>

</html>