.main-for select {
    height: 32px;
    border: #ebebeb 1px solid;
    background: #FFF;
    font-family: "Microsoft YaHei", "Tahoma", "Arial", '??';
    color: #666;
}

.header {
    display: flex;
    box-sizing: border-box;
    padding: 0 5%;
}

.control {
    flex: 6;
}

.form-control {
    flex: 5;
    width: 70%;
}

.borderbottom {
    flex: 3;
}

.text-word {
    width: 70%;
}

.btn-primary {
    flex: 1;
    background-color: #d22c2c;
    border: none ;
}

.btn-primary {
    line-height: 18px;
    display: block;
}

.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover{
    background-color: #d22c2c;
    border: none;
}


#fat-btn {
    padding-right: 10px;
}

.test {
    flex: 1;
}

.data {
    flex: 3;
}

.data #test1,
.data #test2 {
    width: 70%;
    height: 100%;
    border: none;
}

#plish {
    color:#24B461;
    background-color: rgba(0,0,0,0);
}

.ture {
    position: relative;
}

.newOrder {
    height: 20px;
    position: absolute;
    left: 0;
}

.newOrder img {
    height: 100%;
    display: block;
}