<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* 用户id(会员id):</label>
        <div class="col-xs-4 col-sm-4">
            <input id="c-joinip" data-rule="required;digits;remote(user/review/cksame)" maxlength="10" class="form-control" name="row[uid]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* 真实姓名:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-joinip" data-rule="required;length(~10)" class="form-control" name="row[realname]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* 性别:</label>
        <div class="col-xs-12 col-sm-4">
            {:build_select('row[sex]',['0'=>'男','1'=>'女'],0)}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 身份证号:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="required;IDcard" data-msg="身份证号" maxlength="20" class="form-control" name="row[idnumber]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 手机号:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="required;mobile" data-msg="手机号" maxlength="11" class="form-control" name="row[phone]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">* 居住地址:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="length[~255]" data-msg="居住地址" maxlength="240" class="form-control" name="row[address]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
