<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邀请有礼</title>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/invitebargain/index.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
    <div id="app" :style="'height:'+height+'rem;'">
        <div class="header">
            <img src="{$Think.const.PUBLIC_RES}/png/share/share2.png">
            <span
                @click="is_particular=1;document.getElementsByTagName('body')[0].style = 'position: fixed;top: 0;left: 0;width: 100%;height: 100%;'">活动规则</span>
        </div>
        <div class="my">
            <!-- 邀请特享 -->
            <div class="Voucher">
                <div class="title">
                    <hr class="titlehr">
                    <span class="titlename">邀请特享</span>
                    <img src="{$Think.const.PUBLIC_RES}/png/share/new.png">
                    <p class="text">绑手机后每邀10人可获免单券1张，可在免单专区兑换上面服务。</p>
                    <div class="connection">
                        <img class="left" src="{$Think.const.PUBLIC_RES}/png/share/shengjie.png">
                        <img class="right" src="{$Think.const.PUBLIC_RES}/png/share/shengjie.png">
                    </div>
                </div>
            </div>
            <!-- 邀请流程 -->
            <div class="invite">
                <hr class="titlehr">
                <span class="titlename">邀请流程</span>
                <ul>
                    <li>
                        <div class="invite_left">
                            <img src="{$Think.const.PUBLIC_RES}/png/share/three.png">
                        </div>
                        <div class="invite_right">
                            <span class="step">第一步</span>
                            <span>将活动分享到朋友圈，邀请好友注册</span>
                        </div>
                    </li>
                    <li>
                        <div class="invite_left">
                            <img src="{$Think.const.PUBLIC_RES}/png/share/one.png">
                        </div>
                        <div class="invite_right">
                            <span class="step">第二步</span>
                            <span>好友打开链接注册成功领取新人红包奖励</span>
                        </div>
                    </li>
                    <li>
                        <div class="invite_left">
                            <img src="{$Think.const.PUBLIC_RES}/png/share/two.png">
                        </div>
                        <div class="invite_right">
                            <span class="step">第三步</span>
                            <span>根据邀请人数领取相应奖励</span>
                        </div>
                    </li>
                </ul>
                <!-- 链接按钮 -->
                <div class="bot"
                    @click="is_link=1;document.getElementsByTagName('body')[0].style = 'position: fixed;top: 0;left: 0;width: 100%;height: 100%;'">
                    生成邀请链接
                </div>
                <a class="bot bot2" href="/index.php/mobile/invitebargain/poster">
                    生成邀请二维码
                </a>
                <div class="connection">
                    <img class="left" src="{$Think.const.PUBLIC_RES}/png/share/shengjie.png">
                    <img class="right" src="{$Think.const.PUBLIC_RES}/png/share/shengjie.png">
                </div>
            </div>
            <div class="myinvite">
                <hr class="titlehr">
                <span class="titlename">我的邀请</span>
                <ul>
                    <li>
                        <span class="name">昵称</span>
                        <span class="phone">手机号</span>
                        <span class="is_ture">邀请情况</span>
                        <span class="time">时间</span>
                    </li>
                </ul>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide sw_list" v-for="(item, index) in invitelist" :key="item.id">
                            <span class="name" v-cloak>{{ item.invitee }}</span>
                            <span class="phone" v-cloak>{{ item.tel.substr(0, 3) }}****{{ item.tel.substr(7, 12) }}</span>
                            <span class="is_ture">成功</span>
                            <span class="time" v-cloak>{{ formatDateTime(item.create_time*1000) }}</span>
                        </div>
                        <div v-if="invitelist==''" class="zw">暂无邀请人员</div>
                    </div>
                </div>
                <p class="prompt">
                    您成功邀请好友数<span>{{ invitelist.length }}</span>人，您拥有<span>{{ user.invitebargain.length }}</span>张免单券
                </p>
                <div class="Jump">
                    <span @click="jump">前往免单专区</span>
                </div>
                <div class="connection">
                    <img class="left" src="{$Think.const.PUBLIC_RES}/png/share/shengjie.png">
                    <img class="right" src="{$Think.const.PUBLIC_RES}/png/share/shengjie.png">
                </div>
            </div>
            <div class="point">
                <hr class="titlehr">
                <span class="titlename">温馨提示</span>
                <div class="Warm">
                    <p>①红包使用规则在活动规则中查看；</p>
                    <p>②为保证奖励正常发放，请登录并绑定手机账号，就
                        能邀请小伙伴拿奖励啦；</p>
                    <p>③严禁恶意刷单，一切通过非正常流程获得的奖励，
                        一经发现，将取消奖励发放；</p>
                    <p>④本活动暂时只对深圳地区开放。</p>
                    <p>⑤更多详情查看活动规则。</p>
                </div>
            </div>
        </div>
        <!-- 个人海报 -->
        <!-- <div class="poster" v-show='is_poster==1'
            @click="is_poster=0;document.getElementsByTagName('body')[0].style = ''">
            <canvas id="canvas" :width="width" :height="width * 1.7786" style="display: none;"></canvas>
            <img class="poster"  :src="imgs">
        </div> -->
        <!-- 分享链接 -->
        <div class="poster is_link" v-show="is_link == 1">
            <img src="{$Think.const.PUBLIC_RES}/png/share/share.png">
            <div class="pan">
                <span>1. 绑定手机号分享才有效</span>
                <span>2. 点击右上角···按钮</span>
                <span>3. 发送给微信好友或分享朋友圈</span>
                <div class="bot" @click="is_link=0;document.getElementsByTagName('body')[0].style = ''">知道了</div>
            </div>
        </div>
        <div class="poster detail" v-show="is_particular == 1"
            @click="is_particular=0;document.getElementsByTagName('body')[0].style = ''">
            <img src="{$Think.const.PUBLIC_RES}/png/share/huodongtanc.png">
        </div>
    </div>
    <script src="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // canvas 图片显示
                imgs: '',
                is_poster: 0,
                width: '',
                height: '',
                // 分享链接
                is_link: 0,
                // 活动详情
                is_particular: 0,
                // 用户数据
                user: {},
                // 邀请列表
                invitelist: {},
                openid: ''
            },
            created: function created() {
                var _this = this;

                this.openid = window.localStorage.openid;
                axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        openid: this.openid
                    }
                }).then(function (res) {
                    _this.user = res.data.data;
                    var userContent = JSON.stringify(_this.user);
                    window.localStorage.setItem("userContent", userContent); // 邀请列表

                    axios.get("/index.php/mobileapi/v2.Invitebargain/GetInvite", {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            uid: _this.user.id // limit: '0,' + _this.num

                        }
                    }).then(function (res) {
                        _this.invitelist = res.data.data.data;
                    });
                });
            },
            methods: {
                // 生成分享图
                // draw: function draw() {
                //     var that = this;
                //     var width = document.documentElement.offsetWidth;
                //     this.height = window.screen.height / 100;
                //     this.width = width;
                //     var canvas = document.getElementById('canvas');
                //     var img = new Image(); // 创建一个<img>元素
                //     var img2 = new Image(); // 创建一个<img>元素
                //     // 图片加载
                //     //参数1：要绘制的img  参数2、3：绘制的img在canvas中的坐标
                //     if (!canvas.getContext) return;
                //     var ctx = canvas.getContext("2d");
                //     //开始代码
                //     img.onload = function () {
                //         ctx.drawImage(img, 0, 0, width, width * 1.7786)
                //         ctx.globalCompositeOperation = "source-over"; //全局合成操作
                //         ctx.save();
                //         ctx.drawImage(img2, width / 4, width * 1.7786 / 1.89, width / 2, width / 2)
                //         that.imgs = canvas.toDataURL('image', 0.92);
                //     }
                //     img.src = '{$Think.const.PUBLIC_RES}/png/share/poster.png'; // 设置图片源地址
                //     img2.src = that.user.qrcode.usercodetemp.usercode; // 设置图片源地址
                // },
                jump: function jump() {
                    window.location.href = "/index.php/mobile/bargain/shop_list";
                },
                // 时间处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second; // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;

                    return y + '/' + m + '/' + d;
                }
            },
            mounted: function mounted() {
                var that = this; // this.draw();

                wx.config({
                    debug: false,
                    // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: '{$jssdk.appId}',
                    // 必填，公众号的唯一标识
                    timestamp: '{$jssdk.timestamp}',
                    // 必填，生成签名的时间戳
                    nonceStr: '{$jssdk.nonceStr}',
                    // 必填，生成签名的随机串
                    signature: '{$jssdk.signature}',
                    // 必填，签名
                    jsApiList: [//把需要的接口加入至列表
                        'onMenuShareTimeline', //分享给好友
                        'onMenuShareAppMessage', //分享到朋友圈
                        'onMenuShareQQ', //分享到QQ
                        'onMenuShareWeibo', //分享到微博
                        'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
                    ]
                });
                wx.ready(function () {
                    // 是不是分享来的
                    var shareData = {
                        title: "是朋友就帮我点一下！我真的很想要，爱你哦~",
                        //标题
                        desc: "我在小哥帮免费领免单券，活动100%真实。",
                        //简介，这里请特别注意是要去除html
                        link: that.user.qrcode.usercodetemp.link,
                        imgUrl: "{$Think.config.web_host}" + "{$Think.const.PUBLIC_RES}/png/icons/xgblogo.png",
                        success: function success(res) {
                            // 用户确认分享后执行的回调函数
                            if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' || 'ShareWeibo:ok') {
                                // mui.toast('分享成功', {
                                //     duration: '1000ms',
                                //     type: 'div'
                                // });
                            } else {
                                mui.toast('分享失败', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                            }
                        },
                        cancel: function cancel(res) {
                            // 用户取消分享后执行的回调函数
                        }
                    };
                    wx.onMenuShareAppMessage(shareData);
                    wx.onMenuShareTimeline(shareData);
                    wx.onMenuShareQQ(shareData);
                    wx.onMenuShareWeibo(shareData);
                });
            },
            updated: function updated() {
                if (this.invitelist.length > 5) {
                    var swiper = new Swiper('.swiper-container', {
                        direction: 'vertical',
                        loop: true,
                        //复制多份循环(这里就是让轮播看起来是循环的，去掉这个就恢复了默认的swiper轮播)
                        autoplay: 1500,
                        //自动切换的时间间隔（单位ms），不设定该参数slide不会自动切换。
                        slidesPerView: 5,
                        autoplayDisableOnInteraction: false,
                        onlyExternal: true
                    });
                } else {
                    var swiper = new Swiper('.swiper-container', {
                        direction: 'vertical',
                        // loop: true, //复制多份循环(这里就是让轮播看起来是循环的，去掉这个就恢复了默认的swiper轮播)
                        // autoplay: 1000, //自动切换的时间间隔（单位ms），不设定该参数slide不会自动切换。
                        slidesPerView: 5,
                        autoplayDisableOnInteraction: false,
                        onlyExternal: true
                    });
                }
            }
        });
    </script>
</body>

</html>