<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>申请认证店主</title>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/userstore/application.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
</head>

<body>

    <!-- 头部 -->
    <div class="home">
        <div class="header">
            <a href="javascript: history.go(-1);">
                <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
            </a>
            <span>申请认证店主</span>
        </div>
    </div>
    {include file="common/alerthb" /}<div id="app">
        <!-- 申请为店主 -->
        <div class="big">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-no-swiping" v-for="(item, index) in showUser" :key="index" v-cloak>
                        用户{{ item.ph }}****{{ item.random }}在{{ item.mm }}分钟前通过店主审核</div>
                    <!-- <div class="swiper-slide swiper-no-swiping">slider2</div>
                    <div class="swiper-slide swiper-no-swiping">slider3</div> -->
                </div>
            </div>
            <!-- <div>用户136****0392在5秒前通过店主审核</div> -->
            <img src="{$Think.const.PUBLIC_RES}/png/iconic/sqdz.png" />
        </div>

        <!-- 用户成为店主 -->
        <div class="user">
            <div>目前小哥帮已有<strong v-cloak>{{ pop }}</strong>用户成为店主</div>
        </div>

        <!-- 底部按钮 -->
        <div class="btn" @click="sib">
            <div>
                申请认证店主
            </div>
        </div>
    </div>

    
    <script src="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 手机号码开头
                phone: [130, 131, 132, 155, 156, 186, 185, 176, 134, 135, 136, 137, 138, 139, 150, 151, 152, 157, 158, 159, 182, 183, 184, 188, 187, 147, 178, 133, 153, 180, 181, 189, 177],
                // 展示用户
                showUser: [],
                // 用户人数
                num: 10,
                // 多少用户
                pop: ''
            },
            created: function created() {
                var that = this;
                this.date = new Date().valueOf();

                for (var i = 0; i < this.num; i++) {
                    var random = Math.floor(Math.random() * 1000);
                    var ph = Math.floor(Math.random() * 32); // var mm = Math.floor(Math.random() * 32);

                    var list = [];
                    list['ph'] = this.phone[ph];
                    list['random'] = random;
                    list['mm'] = ph;
                    this.showUser.push(list);
                }

                axios.get('/index.php/mapiv2/Storereview/bumReview').then(function (res) {
                    that.pop = res.data.data;
                });
            },
            methods: {
                sib: function sib() {
                    if (JSON.parse(window.localStorage.userContent).vip_end_time * 1000 < this.date) {
                        mui.toast('请购买会员后再申请小店', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    } else { }

                    window.location.href = "/index.php/mobile/userstore/attestation";
                }
            },
            mounted: function mounted() {
                var mySwiper = new Swiper('.swiper-container', {
                    direction: 'vertical',
                    autoplay: 2000,
                    //可选选项，自动滑动
                    noSwiping: true
                });
            }
        });
    </script>
</body>

</html>