<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>认证信息填写</title>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/userstore/attestation.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
</head>

<body>

    <!-- 头部 -->
    <div class="home">
        <div class="header">
            <a href="javascript: history.go(-1);">
                <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
            </a>
            <span>认证信息填写</span>
        </div>
    </div>
    {include file="common/alerthb" /}<div id="app">
        <!-- 信息填写 -->
        <div class="big">
            <!-- 姓名 -->
            <div class="name">
                <span>姓名</span>
                <input type="text" placeholder="请输入您的真实姓名" v-model="realname">
            </div>

            <!-- 性别 -->
            <div class="sex">
                <span>性别</span>
                <div>
                    <div class="man" @click='girl'>
                        <img v-show="sex==0" src="{$Think.const.PUBLIC_RES}/png/iconic/weixuanz.png" alt="">
                        <img v-show="sex==1" src="{$Think.const.PUBLIC_RES}/png/iconic/xuanze.png" alt="">
                        <span class="woman">女</span>
                    </div>
                    <div class="girl" @click='man'>
                        <img v-show="sex==1" src="{$Think.const.PUBLIC_RES}/png/iconic/weixuanz.png">
                        <img v-show="sex==0" src="{$Think.const.PUBLIC_RES}/png/iconic/xuanze.png" alt="">
                        <span class="man">男</span>
                    </div>

                </div>
            </div>

            <!-- 身份证 -->
            <div class="name">
                <span>身份证号</span>
                <input class="card" type="text" placeholder="请填写身份证号" v-model="idnumber">
            </div>

            <!-- 居住地址 -->
            <div class="name">
                <span>手机号</span>
                <input type="text" placeholder="请输入您的手机号" v-model="phone">
            </div>

            <!-- 验证码 -->
            <div class="auth">
                <input type="text" placeholder="验证码" maxlength="6" v-model="verificaCode">
                <span class="identifying" v-if="for_if==0" @click="verification">发送验证码</span>
                <span class="identifying" v-else>发送验证码</span>
            </div>

            <!-- 居住地址 -->
            <div class="site">
                <span>居住地址</span>
                <textarea placeholder="请填写详细地址" v-model="address"></textarea>
            </div>
        </div>

        <!-- 底部按钮 -->
        <div class="btn" @click='sibit'>
            <div>立即申请</div>
        </div>
    </div>

    
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 真实名称
                realname: "",
                // 手机
                phone: '',
                // 性别
                sex: 0,
                // 地址
                address: '',
                // 身份证号
                idnumber: "",
                // 返回验证码
                verificationCode: '',
                // 输入的验证码
                verificaCode: '',
                // 获取验证码判断
                for_if: 0,
                // 倒计时
                countdown: 60
            },
            created: function created() { },
            methods: {
                man: function man() {
                    this.sex = 0;
                },
                girl: function girl() {
                    this.sex = 1;
                },
                verification: function verification() {
                    var that = this;

                    if (!this.phone) {
                        mui.toast('请输入手机', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    axios.post('/index.php/mapi/commonapi/Ajaxcommon/sms', {
                        phone: this.phone,
                        type: 2
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            console.log(res);

                            if (res.data.code == 0) {
                                mui.toast(res.data.msg, {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                return false;
                            }

                            mui.toast('验证码已发送', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            that.verificationCode = res.data.data;
                            $('.identifying').css('background-color', '#ccc');
                            that.for_if = 1;
                            var _this = that;
                            that.time = setInterval(_this.timeout, 1000);
                        });
                },
                // 验证码样式更改
                timeout: function timeout() {
                    this.countdown--;
                    $('.identifying').text('请稍等(' + this.countdown + 's)');

                    if (this.countdown == 0) {
                        clearTimeout(this.time);
                        $('.identifying').css('background-color', '');
                        $('.identifying').text('发送验证码');
                        this.countdown = 60;
                        this.for_if = 0;
                    }
                },
                sibit: function sibit() {
                    var that = this;

                    if (!/^.{1,6}$/.test(this.realname)) {
                        mui.toast('请输入正确姓名', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!/^\d{15}|\d{18}$/.test(this.idnumber)) {
                        mui.toast('请输入正确的身份证号', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!this.phone) {
                        mui.toast('请输入手机', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!this.verificaCode) {
                        mui.toast('请输入验证码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!Number(this.verificationCode) == Number(this.verificaCode)) {
                        mui.toast('请输入正确的验证码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!/^.{1,50}$/.test(this.address)) {
                        mui.toast('请输入地址', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    axios.post('/index.php/mapiv2/Storereview/rest', {
                        __token__: "{$__token__}",
                        realname: this.realname,
                        phone: this.phone,
                        sex: this.sex,
                        address: this.address,
                        idnumber: this.idnumber
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            console.log(res);

                            if (res.data.data.code == 1) {
                                mui.toast('申请成功', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                setTimeout(function () {
                                    window.location.href = "/index.php/mobile/userstore/audit";
                                }, 1000);
                            } else {
                                mui.toast('申请失败', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            }
                        });
                }
            }
        });
    </script>
</body>

</html>