<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-detail.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/js/LCalendar.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/css/LCalendar.css?{$Think.config.fastadmin['v_api']}" />
    <title>总收益明细</title>
</head>

<body>

    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>总收益明细</strong>
        </div>


        <!-- 日期总收益 -->
        <div class="earnings">
            <input id="demo2" type="text" readonly="" placeholder="2019-4" value=""
                :data-lcalendar="'2018-03,'+formatDateTime(new Date)" v-model="time" />
            <img src="{$Think.const.PUBLIC_RES}/png/icons/subscript.png" />
            <div class="period">
                <div>总收益 : <span v-cloak>￥{{ user.sumincome }}</span></div>
                <div>期间收益 : <span v-cloak>￥{{ money }}</span></div>
            </div>
        </div>


        <!-- 明细列表 -->
        <ul>
            <li v-for="(item, index) in list" :key="item.id">
                <img :src="item.userpic" />
                <div>
                    <h5 v-cloak>{{ item.username }}</h5>
                    <p v-cloak>{{ item.backup }}</p>
                    <p class="time" v-cloak>{{ formatDateTime(item.update_time*1000) }}</p>
                </div>
                <div class="money" v-cloak>+￥{{ item.points }}</div>
            </li>

        </ul>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    

    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 贡献列表
                list: null,
                // 总金额
                money: '',
                time: '',
                user: []
            },
            created: function created() {
                var that = this;
                this.user = JSON.parse(window.localStorage.userContent);
                axios.get('/index.php/mapiv2/income/total', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {}
                }).then(function (res) {
                    console.log(res);
                    that.list = res.data.data.list;
                    that.money = res.data.data.money;
                });
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                }
            },
            mounted: function mounted() {
                var that = this;
                var calendardatetime = new LCalendar();
                calendardatetime.init({
                    'trigger': '#demo2',
                    'type': 'ym'
                });
            },
            watch: {
                time: {
                    handler: function handler(val, oldVal) {
                        var that = this;
                        var start_time = new Date(that.time).getTime();
                        axios.get('/index.php/mapiv2/income/total', {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            },
                            params: {
                                month: start_time
                            }
                        }).then(function (res) {
                            console.log(res);
                            that.list = res.data.data.list;
                            that.money = res.data.data.money;
                        });
                    },
                    deep: true
                }
            }
        });
    </script>

</body>

</html>