<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/user/store-index.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小店主页</title>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>小店主页</strong>
        </div>


        <!-- 顶部头像部分 -->
        <div class="big">
            <div class="gray"></div>
            <div class="top">
                <div class="name">
                    <img :src="incomes.info.pic" v-cloak />
                    <span v-show="incomes.info.name!=''" v-cloak>{{ incomes.info.name }}</span>
                    <span v-show="incomes.info.name==''" v-cloak>{{ incomes.info.nickname }}</span>
                </div>
                <div class="mui-content">
                    <div class="mui-content-padded">
                        <p>
                            <img src="{$Think.const.PUBLIC_RES}/png/iconic/QRcode.png"
                                :data-preview-src="user.qrcode.fanscode" data-preview-group="1" />
                        </p>
                    </div>
                </div>
                <div class="three">历史收益总合 : <span v-cloak>{{ incomes.info.sumincome }}</span>元</div>
                <div class="four">
                    <div>本月收益 : <span v-cloak>{{ incomes.month }}</span>元</div>
                    <div>可提现 : <span v-cloak>{{ incomes.info.sumwithdraw }}</span>元</div>
                </div>
                <!-- 提现、明细、粉丝、店铺 -->
                <ul>
                    <li>
                        <a :href="incomes.url.Withdraw.url" v-cloak>
                            <img src="{$Think.const.PUBLIC_RES}/png/icons/tixian.png" />
                            <p>提现</p>
                        </a>
                    </li>
                    <li>
                        <a :href="incomes.url.sumincome.url" v-cloak>
                            <img src="{$Think.const.PUBLIC_RES}/png/icons/shouyi.png" />
                            <p>总收益明细</p>
                        </a>
                    </li>
                    <li>
                        <a :href="incomes.url.fans.url" v-cloak>
                            <img src="{$Think.const.PUBLIC_RES}/png/icons/fensi01.png" />
                            <p>我的粉丝</p>
                        </a>
                    </li>
                    <li>
                        <a :href="incomes.url.UserStoreShow.url"  v-cloak>
                        <img src="{$Think.const.PUBLIC_RES}/png/icons/dianpu.png" />
                        <p>店铺管理</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 今日、昨日、近七 -->
        <ul class="earnings">
            <li :class="income==0?'jstree':''" @tap='income=0'>今日收益</li>
            <li :class="income==1?'jstree':''" @tap='income=1'>昨日收益</li>
            <li :class="income==2?'jstree':''" @tap='income=2'>近七日收益</li>
        </ul>

        <!-- 保洁列表 -->
        <ul class="keeping" v-show="income==0">
            <!-- 今日 -->
            <li v-show="today!=''" v-for="(item, index) in today" :key="item.id" v-cloak>
                <img :src="item.userpic" />
                <div class="clean">
                    <h4 v-cloak>{{ item.username }}</h4>
                    <p v-cloak>{{ item.backup }}</p>
                    <p v-cloak>{{ formatDateTime(item.create_time*1000) }}</p>
                </div>
                <div class="money" v-cloak>+{{ item.points }}</div>
            </li>
            <li v-show="today==''">暂无数据</li>

        </ul>
        <ul class="keeping" v-show="income==1">
            <!-- 昨日 -->
            <li v-show="yesterday!=''" v-for="(item, index) in yesterday" :key="item.id" v-cloak>
                <img :src="item.userpic" />
                <div class="clean">
                    <h4 v-cloak>{{ item.username }}</h4>
                    <p v-cloak>{{ item.backup }}</p>
                    <p v-cloak>{{ formatDateTime(item.create_time*1000) }}</p>
                </div>
                <div class="money" v-cloak>+{{ item.points }}</div>
            </li>
            <li v-show="yesterday==''">暂无数据</li>
        </ul>
        <ul class="keeping" v-show="income==2">
            <!-- 七日 -->
            <li v-show="last7day!=''" v-for="(item, index) in last7day" :key="item.id" v-cloak>
                <img :src="item.userpic" />
                <div class="clean">
                    <h4 v-cloak>{{ item.username }}</h4>
                    <p v-cloak>{{ item.backup }}</p>
                    <p v-cloak>{{ formatDateTime(item.create_time*1000) }}</p>
                </div>
                <div class="money" v-cloak>+{{ item.points }}</div>
            </li>
            <li v-show="last7day==''">暂无数据</li>
        </ul>

    </div>



    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/zoom.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/mui/js/previewimage.js?{$Think.config.fastadmin['v_api']}"></script>
    


    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 用户数据
                user: [],
                // 收益状态
                income: 0,
                // 今日收益
                today: [],
                // 昨日收益
                yesterday: [],
                // 七日收益
                last7day: [],
                // 小店数据
                incomes: []
            },
            created: function created() {
                var that = this;
                this.user = JSON.parse(window.localStorage.userContent);
                window.localStorage.setItem('toid', '');
                window.localStorage.setItem('userstore', 0);
                // 小店详情

                axios.get('/index.php/mapiv2/income/index', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    console.log(res);
                    that.incomes = res.data.data;
                    var incomeContent = JSON.stringify(that.incomes);
                    window.localStorage.setItem("incomeContent", incomeContent);
                    // 初始化previewImage
                    mui.previewImage();
                });
                // 小店昨天收益
                axios.get('/index.php/mapiv2/income/history', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        act: 'yesterday'
                    }
                }).then(function (res) {
                    console.log(res);
                    that.yesterday = res.data.data.list;
                });
                // 小店今日收益

                axios.get('/index.php/mapiv2/income/history', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        act: 'today'
                    }
                }).then(function (res) {
                    console.log(res);
                    that.today = res.data.data.list;
                }); // 小店七日收益

                axios.get('/index.php/mapiv2/income/history', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        act: 'last7day'
                    }
                }).then(function (res) {
                    console.log(res);
                    that.last7day = res.data.data.list;
                });
                // 初始化previewImage
                mui.previewImage();
            },
            mounted() {
                // 初始化previewImage
                mui.previewImage();
                mui('body').on('tap', 'a', function () {
                    window.top.location.href = this.href;
                });
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                },
            }
        });
    </script>

</body>

</html>