<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>小哥帮</title>
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <!-- <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.css?{$Think.config.fastadmin['v_api']}" /> -->
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/user/index-sales.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <!-- 顶部店铺 -->
    <div class="one">
      <div class="bg">
        <div class="top"></div>

      </div>
      <div class="con" v-if="store_data!=null" v-cloak>
        <img class="bjtp" src="{$Think.const.PUBLIC_RES}/png/icons/bjtp.png" />
        <div>
          <img class="userpic" :src="store_data.pic" v-cloak />
          <span>{{ store_data.name }}</span>
          <a :href="url" :class="type==0?'':'dpn'">修改店铺信息</a>
        </div>

        <!-- 二维码 -->
        <!-- <div class="mui-content">
          <div class="mui-content-padded">
            <img src="{$Think.const.PUBLIC_RES}/png/iconic/QRcode.png" :data-preview-src="user.qrcode.fanscode" data-preview-group="1" />

          </div>
        </div> -->


        <p v-cloak v-if="store_data.sign!=null">
          {{ store_data.sign }}
        </p>
        <p v-cloak v-else>
          有温度的店长，期待您的光临！
        </p>
      </div>
      <div class="con" v-if="store_data==null" v-cloak>
        <img class="bjtp" src="{$Think.const.PUBLIC_RES}/png/icons/bjtp.png" />
        <div>
          <img class="userpic" :src="user.pic" v-cloak />
          <span>{{ user.name }}</span>
          <a :href="url" :class="type==0?'':'dpn'">修改店铺信息</a>
        </div>
        <!-- 二维码 -->
        <!-- <div class="mui-content">
          <div class="mui-content-padded">
            <img src="{$Think.const.PUBLIC_RES}/png/iconic/QRcode.png" :data-preview-src="user.qrcode.fanscode" data-preview-group="1" />

          </div>
        </div> -->

        <p v-cloak>
          有温度的店长，期待您的光临！
        </p>
      </div>
    </div>

    <!-- 标签 -->
    <div class="sort">
      <a v-for="(item, index) in index" :key="item.id" :href="item.link" v-cloak>
        <img :src="item.icon" v-cloak />
        <span v-cloak>{{ item.name }}</span>
      </a>
    </div>

    <!-- 热门商品 -->
    <div class="popular">
      <span>热门推荐</span>
      <div class="popular_commodity" v-for="(item, index) in commodity" :key="item.id" v-cloak>
        <a :href="storeUrl+'?id='+item.id" class="popular-a" v-cloak>
          <div class="right">
            <img :src="'/'+item.pic" v-cloak />
          </div>
          <div class="left">
            <h4 v-cloak>{{ item.name }}</h4>
            <span v-cloak>{{ item.brief }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/mui/js/zoom.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/mui/js/previewimage.js?{$Think.config.fastadmin['v_api']}"></script>

<script>
  'use strict';

  var app = new Vue({
    el: '#app',
    data: {
      // 热门商品数据
      commodity: [],
      // 轮播图
      banner: [],
      // 请求时间
      create_time: '',
      // 加载页面的条数
      frequency: 0,
      // url地址
      url: '',
      // 用户id
      openid: '',
      // 时间戳
      date: '',
      area_id: '',
      // 首页数据
      index: [],
      // 热门商品url
      storeUrl: '',
      // 用户数据
      user: null,
      // 店铺内容
      store_data: '',
      // 判断是否是自己打开
      type: 0,
      // 判断是谁点进来
      cans: [],
      open: ''
    },
    // 事件
    methods: {},
    // 初始化后执行
    created: function created() {
      this.date = new Date().valueOf();
      var that = this;
      // 获取链接数据
      var can = decodeURI(location.href).split('mobile/')[1].split('/');

      for (var i = 0; i < can.length; i += 2) {
        this.cans[can[i]] = can[i + 1];
      }
      window.localStorage.setItem('userstore', 1);
      window.localStorage.setItem('toid', this.cans.to);
      window.localStorage.setItem('mystore', 1);

      // 获取用户数据
      if (window.localStorage.userContent) {
        this.user = JSON.parse(window.localStorage.userContent);
        if (this.cans.to) {
          // window.localStorage.setItem('userstore', 0);

          if (this.cans.to == this.user.id) {
            this.type = 0;
          } else {
            this.type = 1;
          }
        } else {
          this.type = 0;
        }
        // 获取店铺内容,标签,推荐
        if (this.type == 1) {
          var userdata = this.cans.to;
        } else {
          var userdata = this.user.id;
        }
        window.localStorage.setItem('toid', userdata);

        axios.get('/index.php/mapiv2/Userstore/rest', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: userdata
          }
        }).then(function (res) {
          console.log(res);
          that.store_data = res.data.data.store_data;
          that.index = res.data.data.tip_data;
          that.commodity = res.data.data.top_goods.data;
          that.storeUrl = res.data.data.top_goods.url;
          that.url = res.data.data.url;
        });
      } else {
        this.openid = window.localStorage.openid;
        axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            openid: this.openid
          }
        }).then(function (res) {
          // console.log(res);
          that.user = res.data.data;
          var userContent = JSON.stringify(that.user);
          window.localStorage.setItem("userContent", userContent);
          if (that.cans.to) {
            // window.localStorage.setItem('userstore', 0);

            if (that.cans.to == that.user.id) {
              that.type = 0;
            } else {
              that.type = 1;
            }
          } else {
            that.type = 0;
          }
          // 获取店铺内容,标签,推荐
          if (that.type == 1) {
            var userdata = that.cans.to;
          } else {
            var userdata = that.user.id;
          }

          axios.get('/index.php/mapiv2/Userstore/rest', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              uid: userdata
            }
          }).then(function (res) {
            console.log(res);
            that.store_data = res.data.data.store_data;
            that.index = res.data.data.tip_data;
            that.commodity = res.data.data.top_goods.data;
            that.storeUrl = res.data.data.top_goods.url;
            that.url = res.data.data.url;
          });
        });
      }


      wx.config({
        debug: false,
        // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jssdk.appId}',
        // 必填，公众号的唯一标识
        timestamp: '{$jssdk.timestamp}',
        // 必填，生成签名的时间戳
        nonceStr: '{$jssdk.nonceStr}',
        // 必填，生成签名的随机串
        signature: '{$jssdk.signature}',
        // 必填，签名
        jsApiList: [ //把需要的接口加入至列表
          'onMenuShareTimeline', //分享给好友
          'onMenuShareAppMessage', //分享到朋友圈
          'onMenuShareQQ', //分享到QQ
          'onMenuShareWeibo', //分享到微博
          'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
        ]
      });
      wx.ready(function () {
        if (that.cans.to) {
          var toid = that.cans.to
        } else {
          var toid = that.user.id
        }
        var shareData = {
          title: '【' + that.store_data.name + "】",
          //标题
          desc: "开张啦！保洁、清洗、维修、开锁、消杀等服务欢迎进店选购哦！",
          //简介，这里请特别注意是要去除html
          link: "{$Think.config.web_host}" + '/mobile/userstore/storeshow/v/1.0.0.20190119/rand/' + that
            .date + '/to/' + toid,
          imgUrl: "{$Think.config.web_host}" + "{$Think.const.PUBLIC_RES}/png/icons/xgblogo.png",
          success: function success(res) {
            // 用户确认分享后执行的回调函数
            if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' ||
              'ShareWeibo:ok') {
              mui.toast('分享成功', {
                duration: '1000ms',
                type: 'div'
              });
              that.status = 1;
            } else {
              mui.toast('分享失败', {
                duration: '1000ms',
                type: 'div'
              });
            }
          },
          cancel: function cancel(res) { // 用户取消分享后执行的回调函数
          }
        };
        wx.onMenuShareAppMessage(shareData);
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareQQ(shareData);
        wx.onMenuShareWeibo(shareData);
      });
    },
    // 渲染后执行
    mounted: function mounted() {
    },
    //  数据更改后执行
    updated: function updated() {
      mui('body').on('tap', 'a', function () {
        window.top.location.href = this.href;
      });

    }
  });
</script>

</html>