.main-for select {
    height: 32px;
    border: #ebebeb 1px solid;
    background: #FFF;
    font-family: "Microsoft YaHei", "Tahoma", "Arial", '??';
    color: #666;
}

.header {
    display: flex;
    box-sizing: border-box;
    padding: 0 5%;
}

.control {
    flex: 6;
}

.form-control {
    flex: 5;
    width: 70%;
}

.borderbottom {
    flex: 3;
}

.text-word {
    width: 70%;
}

.btn-primary {
    flex: 1;
    background-color: #d22c2c;
    border: none;
}

.btn-primary {
    line-height: 18px;
    display: block;
}

.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus {
    background-color: #d22c2c;
    border: none;
}

#fat-btn {
    padding-right: 10px;
}

.test {
    flex: 1;
}

.data {
    flex: 3;
}

.data #establish,
.data #service {
    width: 70%;
    height: 100%;
    border: none;
}

.demo-input {
    padding: 0 5%;
}

.data select {
    width: 70%;
    height: 100%;
    border: 1px solid #ddd;
}

#reset,
#query {
    flex: 1;
    background-color: #d22c2c;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.ture {
    position: relative;
}

.notSet {
    /* height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: yellow;
    font-weight: 500; */
    /* height: 100%;
    background-color: #fe615a;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0; */
}

.notSet span {
    color: red;
    line-height: 15px;
    font-weight: 700;
}

.notSet img {
    height: 100%;
    display: block;
}