html,
body {
  background: linear-gradient(
    0deg,
    rgba(251, 100, 81, 1),
    rgba(251, 100, 81, 1)
  );
}

#app {
  background: linear-gradient(
    0deg,
    rgba(251, 100, 81, 1),
    rgba(251, 100, 81, 1)
  );
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: relative;
}

.header img {
  width: 100%;
}

.header span {
  position: absolute;
  top: 0.15rem;
  right: 0;
  font-size: 0.12rem;
  color: #fff;
  border-radius: 0.12rem 0 0 0.12rem;
  padding: 0.07rem 0.06rem 0.06rem 0.07rem;
  background-color: #f75c5f;
  line-height: 0.12rem;
}

.my {
  box-sizing: border-box;
  padding: 0 0.235rem 0 0.215rem;
}

.my .Voucher {
  height: 2.2rem;
  background-color: #fff;
  position: relative;
  border-radius: 0 0 0.1rem 0.1rem;
  margin-bottom: 0.1rem;
}
.text{
  width: 2.2rem;
  margin: 0 auto !important;
  line-height: 0.2rem;
  margin-top: 0.1rem !important;
}

.titlehr {
  border: none;
  border-bottom: 0.01rem solid #fb6451;
  padding: 0;
  margin: 0;
  width: 1.75rem;
  top: 0.2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.titlename {
  position: absolute;
  font-size: 0.18rem;
  color: #fb6451;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  top: 0.11rem;
  background-color: #fff;
  padding: 0 0.1rem;
}

.my .Voucher .title > img {
  width: 2.99rem;
  margin: 0 auto;
  display: block;
  padding-top: 0.5rem;
}

.my .Voucher p {
  margin-left: 0.1rem;
  margin-top: 0.05rem;
  text-align: center;
}

.connection {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.connection > img {
  position: absolute;
  height: 0.39rem;
  width: 0.06rem;
  z-index: 10;
}

.connection .left {
  left: 0.23rem;
  top: 0;
  transform: translateY(-0.13rem);
}

.connection .right {
  right: 0.23rem;
  top: 0;
  transform: translateY(-0.13rem);
}

.invite {
  position: relative;
  height: 3.86rem;
  background-color: #fff;
  border-radius: 0 0 0.1rem 0.1rem;
  /* overflow: hidden; */
  margin-bottom: 0.1rem;
}

.invite .titlehr {
  top: 0.27rem;
}

.invite .titlename {
  top: 0.18rem;
}

.invite ul {
  padding-top: 0.57rem;
}

.invite ul li {
  margin-left: 0.2rem;
  width: 100%;
  overflow: hidden;
  margin-top: 0.2rem;
}

.invite ul li .invite_left {
  width: 0.52rem;
  height: 0.52rem;
  /* display: inline-block; */
  float: left;
}

.invite ul li .invite_left img {
  width: 100%;
}

.invite ul li .invite_right {
  /* display: inline-block; */
  font-size: 0.12rem;
  color: #666666;
  float: left;
  margin: 0.08rem 0 0 0.09rem;
}

.invite ul li .invite_right span {
  display: block;
  margin-top: 0.11rem;
  line-height: 0.12rem;
}

.invite ul li .invite_right .step {
  font-size: 0.14rem;
  color: #fb6451;
  margin: 0;
  line-height: 0.14rem;
}

.invite .bot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.3rem;
  height: 0.3rem;
  background: linear-gradient(
    0deg,
    rgba(255, 103, 102, 1) 0%,
    rgba(251, 108, 107, 1) 100%
  );
  box-shadow: 0px 2px 1px 0px rgba(253, 28, 0, 0.4);
  border-radius: 0.3rem;
  color: #fff;
  font-size: 0.16rem;
  top: 3rem;
  text-align: center;
  line-height: 0.3rem;
}

.invite .bot2 {
  top: 3.4rem;
}

.myinvite {
  height: 3.84rem;
  background-color: #fff;
  border-radius: 0 0 0.1rem 0.1rem;
  position: relative;
  margin-bottom: 0.1rem;
}

.myinvite .titlehr {
  top: 0.27rem;
}

.myinvite .titlename {
  top: 0.18rem;
}

.myinvite ul {
  /* box-sizing: border-box;
  padding: 0 0.15rem; */
  padding-top: 0.57rem;
  margin: 0;
}

.myinvite ul li,
.myinvite .sw_list {
  display: flex;
  border-bottom: 0.01rem solid #dddddd;
}

.zw {
  font-size: 0.14rem;
  color: #999;
  text-align: center;
  width: 100%;
  line-height: 1.64rem;
}

.myinvite ul li span,
.myinvite .sw_list span {
  font-size: 0.12rem;
  color: #666666;
  text-align: center;
  line-height: 0.38rem;
}

.swiper-container {
  height: 1.64rem;
}
.sw_list {
  height: 0.38rem;
}

.myinvite ul li:first-child {
  background-color: #fff8e5;
  border: none;
}

.myinvite ul li .name,
.myinvite .sw_list .name {
  flex: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.myinvite ul li .phone,
.myinvite .sw_list .phone {
  flex: 3;
}

.myinvite ul li .is_ture,
.myinvite .sw_list .is_ture {
  flex: 2;
}

.myinvite ul li .time,
.myinvite .sw_list .time {
  flex: 3;
}

.myinvite .prompt {
  color: #333333;
  font-size: 0.15rem;
  text-align: center;
  margin-top: 0.2rem;
  font-weight: 500;
}

.myinvite .prompt span {
  color: #fb6451;
  font-size: 0.2rem;
}

.myinvite .Jump {
  color: #fde058;
  font-size: 0.17rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.15rem;
  text-align: center;
  margin-top: 0.2rem;
  height: 0.37rem;
}

.myinvite .Jump span {
  background-color: #fb6451;
  line-height: 0.37rem;
  width: 100%;
  display: block;
  border-radius: 0.05rem;
}

.point {
  height: 2.24rem;
  background-color: #fff;
  margin-bottom: 0.3rem;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0.1rem 0.1rem;
}

.point .titlehr {
  top: 0.27rem;
}

.point .titlename {
  top: 0.18rem;
}

.point .Warm {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.15rem;
  margin-top: 0.56rem;
}

.point .Warm p {
  color: #666666;
  font-size: 0.13rem;
  line-height: 0.2rem;
  margin-bottom: 0.04rem;
}

/* 个人海报 */
.poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.poster img {
  /* max-width: 3.75rem; */
  display: block;
}

.is_link {
  margin-top: -0.01rem;
}

.is_link img {
  position: absolute;
  top: 0.21rem;
  right: 0.5rem;
  width: 0.81rem;
  height: 0.91rem;
}

.is_link .pan {
  position: absolute;
  width: 72%;
  top: 1.32rem;
  left: 50%;
  transform: translateX(-50%);
}

.is_link .pan span {
  display: block;
  color: #fff;
  font-size: 0.19rem;
  line-height: 0.3rem;
}

.is_link .pan .bot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.19rem;
  color: #fff;
  background-color: #fb6451;
  border-radius: 0.05rem;
  padding: 0.06rem 0.09rem;
  margin-top: 0.2rem;
}

.detail img {
  width: 85%;
  display: block;
  position: absolute;
  top: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
}
