html,
body,
#app {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

canvas {
    width: 3.75rem;
    height: 6.67rem;
}

img {
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
