html,
body,
#app {
  width: 100%;
  height: 100%;
}

.list {
  background-color: #f2f2f2;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  box-sizing: border-box;
  padding: 0.15rem;
}

.list ul {
  margin: 0;
}

.list ul li {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0.1rem 0.15rem;
  width: 48%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 0.1rem;
}

.list ul li:nth-child(even) {
  margin-right: 0;
}

.list ul li:nth-child(1),
.list ul li:nth-child(2) {
  margin-top: 0;
}

.list ul li img {
  width: 100%;
  height: 1.52rem;
  background-color: #ccc;
  display: block;
}

.list ul li h4 {
  font-size: 0.17rem;
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-top: 0.1rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.list ul li .num {
  margin-top: 0.1rem;
  font-size: 0.12rem;
  color: #999999;
  width: 100%;
}

.list ul li .num del {
  float: right;
  font-size: 0.15rem;
}

.list ul li .voucher {
  margin-top: 0.12rem;
  font-size: 0.15rem;
  color: #ff7223;
  width: 100%;
}

.list ul li .voucher .bot {
  float: right;
  background: linear-gradient(
    215deg,
    rgba(249, 136, 86, 1) 0%,
    rgba(240, 77, 41, 1) 100%
  );
  color: #fff;
  line-height: 0.17rem;
  border-radius: 0.05rem;
  padding: 0.05rem 0.11rem;
  margin-top: -0.03rem;
}

