#app {
  background-color: #f5f5f5;
}

.ban {
  height: 1.85rem;
  background-color: #ccc;
}

.ban img {
  width: 100%;
  height: 100%;
}

.title {
  height: 0.75rem;
  background-color: #fff;
  margin-bottom: 0.1rem;
  overflow: hidden;
}

.title .top {
  margin: 0.12rem 0 0 0.18rem;
  position: relative;
}

.title .top .pre_title {
  font-size: 0.15rem;
  color: #262626;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.title .top .buy {
  color: #999999;
  font-size: 0.12rem;
  position: absolute;
  right: 0.15rem;
  top: 0.01rem;
}

.title .bot {
  margin: 0.12rem 0 0 0.16rem;
  color: #ff7223;
  font-size: 0.17rem;
}

.detail {
  margin-top: 0.1rem;
}

.detail,
.detail img,
.detail p,
.detail span .detail div {
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  display: flex;
}

.footer .left {
  flex: 2;
}

.footer .left p {
  color: #999999;
  margin-left: 0.16rem;
  font-size: 0.14rem;
  line-height: 0.5rem;
}

.footer .left p > span {
  font-size: 0.17rem;
  color: #ff7223;
}

.footer .right {
  flex: 1;
  background-color: #ff7223;
  text-align: center;
  line-height: 0.5rem;
  color: white;
}

/* 蒙版样式 */
.masking {
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  background: rgba(0, 0, 0, 1);
  /* display: none; */
}

.binding {
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: auto;
  width: 2.88rem;
  position: fixed;
  height: 3.505rem;
  padding: 0 0.25rem;
  background-color: #fff;
  border-radius: 0.05rem;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.binding .logo {
  left: 26%;
  top: -20%;
  width: 1.41rem;
  height: 1.41rem;
  position: absolute;
}

.binding p {
  color: #333;
  margin-bottom: 0;
  font-size: 0.21rem;
  text-align: center;
  margin-top: 0.765rem;
}

/* 手机号样式 */
.phones {
  width: 100%;
  overflow: hidden;
  margin-top: 0.25rem;
}

.phones img {
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.05rem;
}

.phones input {
  margin: 0;
  float: left;
  width: 87.7%;
  border: none;
  border-radius: 0;
  font-size: 0.14rem;
  padding: 0 0 0 0.05rem;
  border-bottom: 0.01rem solid #ddd;
}

/* 验证码样式 */
.password {
  width: 100%;
  overflow: hidden;
  margin-top: 0.21rem;
}

.password .xhx {
  width: 87%;
  float: right;
  height: 0.41rem;
  border-bottom: 0.01rem solid #ddd;
}

.password img {
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.05rem;
}

.password input {
  margin: 0;
  width: 50%;
  float: left;
  border: none;
  border-radius: 0;
  font-size: 0.14rem;
  padding: 0 0 0 0.05rem;
}

.password span {
  width: 37.6%;
  float: right;
  color: #ff7223;
  font-size: 0.14rem;
  text-align: center;
  margin-top: 0.09rem;
  display: inline-block;
  border-left: 0.01rem solid #ff7223;
}

/* 备注样式 */
.binding .remark {
  color: #999;
  height: 0.27rem;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.15rem;
  margin: 0.145rem 0 0 0;
}

/* 底部按钮样式 */
.binding .btn {
  color: #fff;
  width: 2.3rem;
  height: 0.45rem;
  text-align: center;
  margin: 0.2rem auto;
  font-size: 0.175rem;
  line-height: 0.45rem;
  border-radius: 0.5rem;
  background-color: #ff7223;
}

/* 取消按钮样式 */
.cancel {
  left: 45%;
  z-index: 2;
  bottom: -16%;
  position: absolute;
}

.cancel img {
  width: 0.345rem;
  height: 0.345rem;
}

.right.hui {
  background-color: #ccc;
}
