.onw {
  margin-top: 0;
}
.onw .years {
  margin-top: 0.05rem;
}
.datail .text h4 {
  font-size: 0.18rem;
  color: #333333;
  font-weight: 400;
  padding: 0;
}
.datail .text .name {
  margin-top: 0.08rem;
  font-size: 0.15rem;
  color: #666666;
  font-size: 0.15rem;
}
.datail .text .Voucher {
  margin-top: 0.18rem;
  font-size: 0.17rem;
  color: #ff7223;
  line-height: 0.17rem;
}
.prompt {
  font-size: 0.11rem;
  color: #999999;
  line-height: 0.4rem;
  background-color: #fff;
  border-top: 0.01rem solid #eeeeee;
  padding: 0 0.14rem;
  margin: 0;
}
.remarks {
  padding-bottom: 0.35rem;
}
.remarks textarea {
  height: 1.44rem;
}
.money {
  line-height: 0.5rem;
  margin-left: 0.15rem;
  color: #999999;
  font-size: 0.14rem;
}
.money > span {
  color: #ff7223;
  font-size: 0.2rem;
}

/* mui 加载中 */
/*----------------mui.showLoading---------------*/
.mui-show-loading {
  position: fixed;
  padding: 5px;
  width: 120px;
  min-height: 120px;
  top: 45%;
  left: 50%;
  margin-left: -60px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  visibility: hidden;
  margin: 0;
  z-index: 2000;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0;
  -webkit-transform: scale(0.9) translate(-50%, -50%);
  transform: scale(0.9) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.mui-show-loading.loading-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
}
.mui-show-loading .mui-spinner {
  margin-top: 24px;
  width: 36px;
  height: 36px;
}
.mui-show-loading .text {
  line-height: 1.6;
  font-family: -apple-system-font, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 10px 0 0;
  color: #fff;
}

.mui-show-loading-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mui-show-loading-mask-hidden {
  display: none !important;
}
