<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <!-- 图片 -->
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* Banner图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[icon]" type="hidden" value="{$row.icon}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 重新{:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">权重:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="integer;required;" data-msg="权重只能数字"  class="form-control" name="row[power]" type="text" value="{$row.power}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">类目名称:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="required;" data-msg="请输入正确类目名称" maxlength="250" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">原价:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="range(0~);required;" data-msg="只能输入整数"  class="form-control" name="row[price]" type="text" value="{$row.price}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">优惠价:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="range(0~);required;" data-msg="只能输入整数"  class="form-control" name="row[discoutprice]" type="text" value="{$row.discoutprice}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">有效时间:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile"  data-rule="integer;required;" data-msg="只能输入整数"  class="form-control" name="row[effectivetime]" type="text" value="{$row.effectivetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('Normal'), '0'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
