<form id="edit-form" class="form-horizontal form-ajax" role="form" method="POST" action="">
    <input type="hidden" name="row[rules]" value="" />
    <div class="form-group">
        <div class="col-xs-7 col-sm-6">
            {:build_radios('row[status]', ['2'=>__('审核通过')], $row['status'])}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['4'=>__('冻结（扣留该款项）')], $row['status'])}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['5'=>$row['origin']>1?'驳回（汇入今日流水，明天再审核）':__('驳回（要求用户修改银行卡信息）')], $row['status'])}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[notes]',$row.notes,['placeholder'=>'请输入驳回原因'])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2 col-xs-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">　{:__('OK')}　</button>
        </div>
    </div>
</form>
