<style>th{width:120px;font-weight:normal;text-align: right}
td{font-weight: bold;}
tr:nth-of-type(odd){font-size16px;background-color: #cfffe2}</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <table class="table table-striped">
        <tr>
            <th>提现方式</th>
            <td>银行卡</td>
        </tr>
        <tr>
            <th>银行卡卡号</th>
            <td>{$info.enc_bank_no}</td>
        </tr>
        <tr>
            <th>开户行</th>
            <td>{$info.bank_code}</td>
        </tr>
        <tr>
            <th>真实姓名</th>
            <td>{$info.enc_true_name}</td>
        </tr>
        <tr>
            <th>金额</th>
            <td>{$info.cash.amount}</td>
        </tr>
    </table>
</form>