<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/shopstore/order/serial.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>

  <div id="app">
    <div class="header">
      <a href="javascript:history.back(-1)">
        <img class="asdf" src="{$Think.const.PUBLIC_RES}/png/aunt/fanhui.png" />
      </a>
      <span class="name">店铺订单流水查询
      </span>
      <a href="/index.php/shopstore/user/index">
        <div class="character">
          <img src="{$Think.const.PUBLIC_RES}/png/aunt/fhgrzx.png" />
        </div>
      </a>
    </div>

    <div class="mui-content">
      <div id="slider" class="mui-slider mui-fullscreen">
        <div id="sliderSegmentedControl"
          class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
          <div class="mui-scroll switch">
            <a class="mui-control-item mui-active" href="#today">
              今日营销额
            </a>
            <a class="mui-control-item" href="#select">
              区间营销额
            </a>
            <a class="mui-control-item" href="#all">
              总营销额
            </a>
          </div>
        </div>
        <div class="mui-slider-group" id="scrol">
          <!-- 今天 -->
          <div id="today" class="mui-slider-item mui-control-content mui-active">
            <div id="scroll1" class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view list">
                  <!-- 第1个选项卡子项 -->
                  <li>
                    <span class="money" v-cloak>
                      ¥{{ incometoday }}
                    </span>
                  </li>
                  <li v-if="todayList!=''" v-for="(item, index) in todayList" :key="item.id">
                    <div class="left">
                      <div class="numbering" v-cloak>
                        订单编号 : {{ item.snorder }}
                      </div>
                      <div class="shopName" v-cloak>
                        商品名称 : {{ item.goods_name }}
                      </div>
                      <div class="name" v-cloak>
                        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 : {{ item.nickname }}
                      </div>
                      <div class="time" v-cloak>
                        时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间 :
                        {{ formatDateTime(item.create_time*1000).y + '-' + formatDateTime(item.create_time*1000).m + '-' +
                      formatDateTime(item.create_time*1000).d }}
                      </div>
                      <div class="time" v-if="item.virdiscount" v-cloak>
                        营&nbsp;&nbsp;业&nbsp;&nbsp;额 :
                        ¥{{ Number(item.virdiscount.dismoney) + Number(item.actualpay) }}
                      </div>
                      <div class="time" v-else v-cloak>
                        营&nbsp;&nbsp;业&nbsp;&nbsp;额 : ¥{{ item.actualpay }}
                      </div>
                      <div class="price">
                        实&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付 :
                        <span v-cloak>¥{{ item.actualpay }}</span>
                      </div>
                      <div class="time" v-if="item.virdiscount" v-cloak>
                        抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 :
                        ¥{{ item.virdiscount.dismoney }}
                      </div>
                      <div class="time" v-else>
                        抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 : ¥0
                      </div>
                    </div>
                    <div class="right">
                      <div class="details" @tap="detail(item)">
                        查看详情
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 昨天 -->
          <div id="select" class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <div class="mtime">
                  <span class="money" v-cloak>
                    ¥{{ incomeselect }}
                  </span>
                  <div class="Month">
                    <div class="date">
                    </div>
                    <span>开始日期</span>
                    <input readonly type="text" id="Month" placeholder="选择时间">
                  </div>
                  <div class="day">
                    <div class="date">
                    </div>
                    <span>结束日期</span>
                    <input readonly type="text" id="day" placeholder="选择时间">
                  </div>
                </div>
                <!-- 查询按钮 -->
                <div class="btn" @tap='Inquire'>查询</div>
                <ul class="mui-table-view list">
                  <!-- 第2个选项卡子项 -->
                  <li>
                    <!-- <span class="money" v-cloak>
                      ¥{{ incomeselect }}
                    </span>-->
                  </li>
                  <li v-if="selectList!=''" v-for="(item, index) in selectList" :key="item.id">
                    <div class="left">
                      <div class="numbering" v-cloak>
                        订单编号 : {{ item.snorder }}
                      </div>
                      <div class="shopName" v-cloak>
                        商品名称 : {{ item.goods_name }}
                      </div>
                      <div class="name" v-cloak>
                        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 : {{ item.nickname }}
                      </div>
                      <div class="time" v-cloak>
                        时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间 :
                        {{ formatDateTime(item.create_time*1000).y + '-' + formatDateTime(item.create_time*1000).m + '-' +
                      formatDateTime(item.create_time*1000).d }}
                      </div>
                      <div class="time" v-if="item.virdiscount" v-cloak>
                        营&nbsp;&nbsp;业&nbsp;&nbsp;额 :
                        ¥{{ Number(item.virdiscount.dismoney) + Number(item.actualpay) }}
                      </div>
                      <div class="time" v-else v-cloak>
                        营&nbsp;&nbsp;业&nbsp;&nbsp;额 : ¥{{ item.actualpay }}
                      </div>
                      <div class="price">
                        实&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付 :
                        <span v-cloak>¥{{ item.actualpay }}</span>
                      </div>
                      <div class="time" v-if="item.virdiscount" v-cloak>
                        抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 :
                        ¥{{ item.virdiscount.dismoney }}
                      </div>
                      <div class="time" v-else>
                        抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 : ¥0
                      </div>
                    </div>
                    <div class="right">
                      <div class="details" @tap="detail(item)">
                        查看详情
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 总 -->
          <div id="all" class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view list">
                  <!-- 第3个选项卡子项 -->
                  <li>
                    <span class="money" v-cloak>
                      ¥{{ income }}
                    </span>
                  </li>
                  <li v-if="orderList!=''" v-for="(item, index) in orderList" :key="item.id">
                    <div class="left">
                      <div class="numbering" v-cloak>
                        订单编号 : {{ item.snorder }}
                      </div>
                      <div class="shopName" v-cloak>
                        商品名称 : {{ item.goods_name }}
                      </div>
                      <div class="name" v-cloak>
                        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 : {{ item.nickname }}
                      </div>
                      <div class="time" v-cloak>
                        时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间 :
                        {{ formatDateTime(item.create_time*1000).y + '-' + formatDateTime(item.create_time*1000).m + '-' +
                      formatDateTime(item.create_time*1000).d }}
                      </div>
                      <div class="time" v-if="item.virdiscount" v-cloak>
                        营&nbsp;&nbsp;业&nbsp;&nbsp;额 :
                        ¥{{ Number(item.virdiscount.dismoney) + Number(item.actualpay) }}
                      </div>
                      <div class="time" v-else v-cloak>
                        营&nbsp;&nbsp;业&nbsp;&nbsp;额 : ¥{{ item.actualpay }}
                      </div>
                      <div class="price">
                        实&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付 :
                        <span v-cloak>¥{{ item.actualpay }}</span>
                      </div>
                      <div class="time" v-if="item.virdiscount" v-cloak>
                        抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 :
                        ¥{{ item.virdiscount.dismoney }}
                      </div>
                      <div class="time" v-else>
                        抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 : ¥0
                      </div>
                    </div>
                    <div class="right">
                      <div class="details" @tap="detail(item)">
                        查看详情
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.pullToRefresh.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/rolldate/rolldate.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rubber/rubber.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        // 列表判断
        Judge: 0,
        // 总订单数据列表
        orderList: [],
        // 今天的列表
        todayList: [],
        // 区间的列表
        selectList: [],
        // 今日收益
        incometoday: 0,
        // 区间收益
        incomeselect: 0,
        // 收益
        income: 0,
        // 今天订单的参数
        today: {
          // 数据返回的时间
          time: '',
          // 数据第几条开始
          limit: 0,
          // 请求多少条
          num: 20
        },
        // 区间订单的参数
        select: {
          // 数据返回的时间
          time: '',
          // 数据第几条开始
          limit: 0,
          // 请求多少条
          num: 20,
          // 范围时间
          // 开始
          start: '',
          // 结束
          end: ''
        },
        // 总订单的参数
        all: {
          // 数据返回的时间
          time: '',
          // 数据第几条开始
          limit: 0,
          // 请求多少条
          num: 20
        },
        // 店铺id
        id: '',
        // 店铺名称
        name: "",
        // 选择的月份
        selectM: '',
        // 选择的天
        selectD: ''
      },
      created: function created() {
        var that = this;
        // 店铺id
        // var vConsole = new VConsole();
        this.id = JSON.parse(window.localStorage.shopstoreuser).id;
        this.name = JSON.parse(window.localStorage.shopstoreuser).name;
        // 总的数据
        axios.get('/index.php/storeapi/v2.Order/rest', {
          headers: {
            'X-Requested-With': 'xmlhttprequest',
          },
          params: {
            admin_id: this.id,
            btime: '',
            limit: this.all.limit + ',' + this.all.num
          }
        }).then(function (res) {
          that.orderList = res.data.data.data;
          that.all.limit += that.all.num;
          that.all.time = res.data.data.create_time;
        })
        var today = this.formatDateTime(new Date()).y + '-' + this.formatDateTime(new Date()).m + '-' +
          this.formatDateTime(new Date()).d
        // 今天的数据
        axios.get('/index.php/storeapi/v2.Order/rest', {
          headers: {
            'X-Requested-With': 'xmlhttprequest',
          },
          params: {
            admin_id: this.id,
            btime: today,
            limit: '0' + ',' + that.today.num,
            create_time: ''
          }
        }).then(function (res) {
          that.todayList = res.data.data.data;
          that.today.limit = that.today.num;
          that.today.time = res.data.data.create_time;
        })
        var yesday = this.formatDateTime(new Date()).y + '-' + this.formatDateTime(new Date()).m + '-' +
          (this.formatDateTime(new Date()).d - 1)
        // 获取今日收益
        axios.get('/index.php/storeapi/v2.order/sumorder', {
          headers: {
            'X-Requested-With': 'xmlhttprequest',
          },
          params: {
            admin_id: this.id,
            btime: today
          }
        }).then(function (res) {
          if (res.data.data.sumactualpay == '') {
            that.incometoday = 0
          } else {
            that.incometoday = res.data.data.sumactualpay
          }
        })

        // 获取收益
        axios.get('/index.php/storeapi/v2.order/sumorder', {
          headers: {
            'X-Requested-With': 'xmlhttprequest',
          },
          params: {
            admin_id: this.id,
          }
        }).then(function (res) {
          if (res.data.data.sumactualpay == '') {
            that.income = 0
          } else {
            that.income = res.data.data.sumactualpay
          }
        })
      },
      methods: {
        // 跳转到详情页
        detail: function detail(item) {
          // console.log(item);
          window.localStorage.setItem('serial', JSON.stringify(item))
          window.location.href = "/index.php/shopstore/order/serialdetail"
        },
        // 时间处理
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          return {
            y: y,
            m: m,
            d: d
          }
        },
        // 区间查询 
        Inquire: function Inquire() {
          var that = this;
          var start = that.select.start;
          var end = that.select.end;
          var startTime = new Date(start.replace(/-/g, '/')).getTime()
          var endTime = new Date(end.replace(/-/g, '/')).getTime()
          if (start != '' && end != '') {
            if (startTime <= endTime) {
              if (startTime = endTime) {
                end_time = that.formatDateTime(endTime)
                switch (Number(end_time.m)) {
                  case 1:
                  case 3:
                  case 5:
                  case 7:
                  case 8:
                  case 10:
                  case 12:
                    if (Number(end_time.d) == 31) {
                      var d = 1;
                      if (Number(end_time.m) == 12) {
                        var m = 1;
                        var n = Number(end_time.y) + 1;
                      } else {
                        var m = Number(end_time.m) + 1;
                        var n = Number(end_time.y);
                      }
                    } else {
                      var d = Number(end_time.d) + 1;
                      var m = Number(end_time.m);
                      var n = Number(end_time.y);
                    }
                    break;
                  case 2:
                    if (end_time.d == 28) {
                      var d = 1;
                      if (Number(end_time.m) == 12) {
                        var m = 1;
                        var n = Number(end_time.y) + 1;
                      } else {
                        var m = Number(end_time.m) + 1;
                        var n = Number(end_time.y);
                      }
                    } else {
                      var d = Number(end_time.d) + 1;
                      var m = Number(end_time.m);
                      var n = Number(end_time.y);
                    }
                    break;
                  case 4:
                  case 6:
                  case 9:
                  case 11:
                    if (Number(end_time.d) == 30) {
                      var d = 1;
                      if (Number(end_time.m) == 12) {
                        var m = 1;
                        var n = Number(end_time.y) + 1;
                      } else {
                        var m = Number(end_time.m) + 1;
                        var n = Number(end_time.y);
                      }
                    } else {
                      var d = Number(end_time.d) + 1;
                      var m = Number(end_time.m);
                      var n = Number(end_time.y);
                    }
                }
                end = n + '-' + m + '-' + d
                that.select.end = end;

              }
              that.selectaxios(start, end)
              mui.toast('列表更新成功', {
                duration: '1000ms',
                type: 'div'
              });
            } else {
              mui.toast('开始时间不能大于结束时间', {
                duration: '1000ms',
                type: 'div'
              });
            }

          } else {
            mui.toast('请选择开始或结束时间', {
              duration: '1000ms',
              type: 'div'
            });
          }

        },
        // 区间数据请求
        selectaxios: function select(start, end) {
          var that = this;
          // 区间的数据
          axios.get('/index.php/storeapi/v2.Order/rest', {
            headers: {
              'X-Requested-With': 'xmlhttprequest',
            },
            params: {
              admin_id: this.id,
              btime: start,
              etime: end,
              create_time: '',
              limit: '0' + ',' + that.today.num,
            }
          }).then(function (res) {
            that.selectList = res.data.data.data;
            that.select.limit = that.select.num;
            that.select.time = res.data.data.create_time;
          })
          // 获取区间收益
          axios.get('/index.php/storeapi/v2.order/sumorder', {
            headers: {
              'X-Requested-With': 'xmlhttprequest',
            },
            params: {
              admin_id: this.id,
              btime: start,
              etime: end
            }
          }).then(function (res) {
            if (res.data.data.sumactualpay == '') {
              that.incomeselect = 0
            } else {
              that.incomeselect = res.data.data.sumactualpay
            }
          })
        }
      },
      //  数据更改后执行
      updated: function updated() {
        var that = this;
        (function ($) {
          //阻尼系数
          var deceleration = mui.os.ios ? 0.003 : 0.0009;
          $('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: true,
            //是否显示滚动条
            deceleration: deceleration
          });
          var today = that.formatDateTime(new Date()).y + '-' + that.formatDateTime(new Date()).m + '-' +
            that.formatDateTime(new Date()).d
          // 遍历请求的参数
          var request = [
            // 今天的
            {
              // 刷新的请求
              refresh: function refresh(obj) {
                axios.get('/index.php/storeapi/v2.Order/rest', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: that.id,
                    btime: today,
                    limit: '0' + ',' + that.today.num,
                    create_time: ''
                  }
                }).then(function (res) {
                  that.todayList = res.data.data.data;
                  that.today.limit = that.today.num;
                  that.today.time = res.data.data.create_time;
                  obj(res)
                })
                // 获取区间收益
                axios.get('/index.php/storeapi/v2.order/sumorder', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: this.id,
                    btime: today,
                  }
                }).then(function (res) {
                  if (res.data.data.sumactualpay == '') {
                    that.incometoday = 0
                  } else {
                    that.incometoday = res.data.data.sumactualpay
                  }
                })
              },
              // 加载的请求
              load: function load(obj) {
                axios.get('/index.php/storeapi/v2.Order/rest', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: that.id,
                    btime: today,
                    limit: that.today.limit + ',' + that.today.num,
                    create_time: that.today.time,
                  }
                }).then(function (res) {
                  var arr = res.data.data.data;
                  for (var key in arr) {
                    that.todayList.push(arr[key])
                  }
                  that.today.limit += that.today.num;
                  that.today.time = res.data.data.create_time;
                  obj(res)
                })
              },
            },
            // 区间的
            {
              // 刷新的请求
              refresh: function refresh(obj, self) {
                if (that.select.start == '') {
                  self.endPullDownToRefresh(true);
                  mui.toast('请选择时间', {
                    duration: '1000ms',
                    type: 'div'
                  });
                  return false;
                }
                // 区间数据请求
                axios.get('/index.php/storeapi/v2.Order/rest', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: that.id,
                    btime: that.select.start,
                    etime: that.select.end,
                    create_time: '',
                    limit: '0' + ',' + that.today.num,
                  }
                }).then(function (res) {
                  that.selectList = res.data.data.data;
                  that.select.limit = that.select.num;
                  that.select.time = res.data.data.create_time;
                  obj(res)
                })
                // 获取区间收益
                axios.get('/index.php/storeapi/v2.order/sumorder', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: this.id,
                    btime: that.select.start,
                    etime: that.select.end
                  }
                }).then(function (res) {
                  if (res.data.data.sumactualpay == '') {
                    that.incomeselect = 0
                  } else {
                    that.incomeselect = res.data.data.sumactualpay
                  }
                })
              },
              // 加载的请求
              load: function load(obj, self) {
                if (that.select.start == '') {
                  self.endPullUpToRefresh(true);
                  mui.toast('请选择时间', {
                    duration: '1000ms',
                    type: 'div'
                  });
                  return false;
                }
                axios.get('/index.php/storeapi/v2.Order/rest', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: that.id,
                    btime: that.select.start,
                    etime: that.select.end,
                    limit: that.select.limit + ',' + that.select.num,
                    create_time: that.select.time,
                  }
                }).then(function (res) {
                  var arr = res.data.data.data;
                  for (var key in arr) {
                    that.selectList.push(arr[key])
                  }
                  that.select.limit += that.select.num;
                  that.select.time = res.data.data.create_time;
                  obj(res)
                })
              },

            },
            // 总的
            {
              // 刷新的请求
              refresh: function refresh(obj) {
                axios.get('/index.php/storeapi/v2.Order/rest', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: that.id,
                    btime: '',
                    limit: '0' + ',' + that.all.num,
                    create_time: ''
                  }
                }).then(function (res) {
                  that.orderList = res.data.data.data;
                  that.all.limit = that.all.num;
                  that.all.time = res.data.data.create_time;
                  obj(res)
                })
              },
              // 加载的请求
              load: function load(obj) {
                axios.get('/index.php/storeapi/v2.Order/rest', {
                  headers: {
                    'X-Requested-With': 'xmlhttprequest',
                  },
                  params: {
                    admin_id: that.id,
                    btime: '',
                    limit: that.all.limit + ',' + that.all.num,
                    create_time: that.all.time,
                  }
                }).then(function (res) {
                  var arr = res.data.data.data;
                  for (var key in arr) {
                    that.orderList.push(arr[key])
                  }
                  that.all.limit += that.all.num;
                  that.all.time = res.data.data.create_time;
                  obj(res)
                })
              }
            }
          ]
          $.ready(function () {
            //循环初始化所有下拉刷新，上拉加载。
            $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
              $(pullRefreshEl).pullToRefresh({
                down: {
                  callback: function () {
                    var self = this;
                    request[index].refresh(function (res) {
                      if (res.data.data.is_ture) {
                        if (res.data.data.is_ture == 1) {
                          setTimeout(function () {
                            self.endPullDownToRefresh(false);
                            self.refresh(true);
                          }, 1000);
                        } else {
                          setTimeout(function () {
                            self.endPullDownToRefresh(true);
                          }, 1000);
                        }
                      } else {
                        setTimeout(function () {
                          self.endPullDownToRefresh(true);
                        }, 1000);
                      }
                    }, self)
                  }
                },
                up: {
                  callback: function () {
                    var self = this;
                    request[index].load(function (res) {
                      if (res.data.data.is_ture) {
                        if (res.data.data.is_ture == 1) {
                          setTimeout(function () {
                            self.endPullUpToRefresh(false);
                          }, 1000);
                        } else {
                          setTimeout(function () {
                            self.endPullUpToRefresh(true);
                          }, 1000);
                        }
                      } else {
                        setTimeout(function () {
                          self.endPullUpToRefresh(true);
                        }, 1000);
                      }
                    }, self)
                  }
                }
              });

            });
          });
        })(mui);
        // mui 选项卡加上拉加载初始化代码
        mui.init();
        new Rolldate({
          el: '#Month',
          format: 'YYYY-MM-DD',
          beginYear: 2018,
          endYear: 2020,
          confirm: function (date) {
            that.selectM = date;
            that.select.start = date;

          },
        })
        new Rolldate({
          el: '#day',
          format: 'YYYY-MM-DD',
          beginYear: 2018,
          endYear: 2020,
          confirm: function (date) {
            that.selectD = date;
            that.select.end = date;
          },
        })
      },
      // watch: {
      //   selectM: {
      //     handler: function handler(val, oldVal) {
      //       var that = this;

      //       if (val == '') {

      //       } else {
      //         var str = new Date((that.selectM + '-01').replace(/-/g, '/')).getTime()
      //         var all = this.formatDateTime(str);
      //         var start = all.y + '-' + all.m + '-' + all.d;
      //         if (Number(all.m) == 12) {
      //           var m = 1;
      //           var n = Number(all.y) + 1;
      //         } else {
      //           var m = Number(all.m) + 1;
      //           var n = Number(all.y);
      //         }
      //         var end = n + '-' + m + '-' + all.d;
      //         document.getElementsByTagName("input")[1].value = '';
      //         that.selectD = '';
      //         that.select.start = start;
      //         that.select.end = end;
      //         that.selectaxios(start, end);
      //       }
      //     },
      //     deep: true
      //   },
      //   selectD: {
      //     handler: function handler(val, oldVal) {
      //       var that = this;
      //       if (val == '') {

      //       } else {
      //         var all = this.formatDateTime(that.selectD.replace(/-/g, '/'));
      //         var start = all.y + '-' + all.m + '-' + all.d;
      //         switch (Number(all.m)) {
      //           case 1:
      //           case 3:
      //           case 5:
      //           case 7:
      //           case 8:
      //           case 10:
      //           case 12:
      //             if (Number(all.d) == 31) {
      //               var d = 1;
      //               if (Number(all.m) == 12) {
      //                 var m = 1;
      //                 var n = Number(all.y) + 1;
      //               } else {
      //                 var m = Number(all.m) + 1;
      //                 var n = Number(all.y);
      //               }
      //             } else {
      //               var d = Number(all.d) + 1;
      //               var m = Number(all.m);
      //               var n = Number(all.y);
      //             }
      //             break;
      //           case 2:
      //             if (all.d == 28) {
      //               var d = 1;
      //               if (Number(all.m) == 12) {
      //                 var m = 1;
      //                 var n = Number(all.y) + 1;
      //               } else {
      //                 var m = Number(all.m) + 1;
      //                 var n = Number(all.y);
      //               }
      //             } else {
      //               var d = Number(all.d) + 1;
      //               var m = Number(all.m);
      //               var n = Number(all.y);
      //             }
      //             break;
      //           case 4:
      //           case 6:
      //           case 9:
      //           case 11:
      //             if (Number(all.d) == 30) {
      //               var d = 1;
      //               if (Number(all.m) == 12) {
      //                 var m = 1;
      //                 var n = Number(all.y) + 1;
      //               } else {
      //                 var m = Number(all.m) + 1;
      //                 var n = Number(all.y);
      //               }
      //             } else {
      //               var d = Number(all.d) + 1;
      //               var m = Number(all.m);
      //               var n = Number(all.y);
      //             }
      //         }
      //         var end = n + '-' + m + '-' + d;
      //         document.getElementsByTagName("input")[0].value = '';
      //         that.selectM = '';
      //         that.select.start = start;
      //         that.select.end = end;
      //         that.selectaxios(start, end);
      //       }
      //     },
      //     deep: true
      //   }
      // },
    })
  </script>
</body>

</html>