<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/shopstore/order/serialdetail.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    <div class="header">
        <a href="javascript:history.go(-1)">
            <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
        </a>
        <span>店铺订单流水详情</span>
        <!-- <a href="/index.php/mobile/user/index">
                    <div class="character"><img src="{$Think.const.PUBLIC_RES}/png/icons/register.png" alt=""></div>
                </a> -->
    </div>
    <div id="app">
        <!-- 订单编号详情 -->
        <div class="order">
            <div v-cloak>订单编号: {{ list.snorder }}</div>
            <div v-cloak>下单时间:
                {{ formatDateTime(list.create_time*1000).y + '-' + formatDateTime(list.create_time*1000).m + '-' + formatDateTime(list.create_time*1000).d }}
            </div>
            <div v-show="list.is_pay==1">订单状态: 已付款</div>
            <div v-show="list.is_pay==0">订单状态: 未付款</div>
        </div>

        <!-- 客户信息 -->
        <h4>客户信息</h4>
        <div class="message">
            <div v-cloak>联系人: {{ list.nickname }}</div>
            <div v-cloak>手机号码: {{ list.mobile }}</div>
            <div v-cloak>详细地址: {{ list.address }}</div>
        </div>


        <!-- 商品信息 -->
        <div class="commodity">
            <div class="serial">
                <span>商品信息</span><span v-cloak>商品编号:{{ JSON.parse(list.goods_msg).sngoods }}</span>
            </div>
            <img :src="'/'+JSON.parse(list.goods_msg).pic" alt="">
            <div class="money">
                <div v-cloak>{{ list.goods_name }}</div>
                <div v-cloak>￥{{ list.actualpay }}×{{ list.num }}</div>
            </div>
        </div>

        <!-- 底部按钮 -->
        <div class="btn">
            <div>
                <a href="javascript:history.go(-1)">
                    确认
                </a>
            </div>
        </div>

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 单页数据
                list: []
            },
            created:function created() {
                var that = this;
                this.list = JSON.parse(window.localStorage.serial)
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var a = {
                        y: y,
                        m: m,
                        d: d
                    }
                    return a
                }
            },
        })
    </script>

</body>

</html>