body {
    background-color: #f2f0f5;
}


.add {
    width: 100%;
    /* padding: 0 10% 0 15%; */
}

.addForm {
    box-sizing: border-box;
    padding: 0 30% 0 5%;
}

.addForm>div {
    display: flex;
    margin-top: 32px;
}

.addForm .addTitle {
    flex: 2;
    box-sizing: border-box;
    padding-right: 2%;
}

.addForm span {
    float: right;
    font-size: 16px;
}

.addForm .addContent {
    flex: 4;
    display: flex;
}

.addForm .addContent span.Tips{
    color: #ccc;
    font-size: 14px;
}

.addForm .addContent .store {
    flex: 5;
    height: 25px;
    border: none;
    font-size: 16px;
}

.addForm .addContent input {
    flex: 5;
    height: 25px;
    border: none;
    padding: 0 2%;
}

.addForm .addContent #contactChoice2 ,
.addForm .addContent #contactChoice1 {
    flex: 0;
    height: 23px;
    margin: 0 5px;
}

.addForm .addContent label {
    font-size: 16px;
    line-height: 22px;
}

.addForm .addContent #contactChoice2{
    margin-left: 150px;
}

.addForm .Provinces {
    margin: 0 2%;
    box-sizing: border-box;
    flex: 1;
    height: 25px;
    border: none ;
    font-size: 16px;
}

.addForm .addContent input[name="latitude"] {
    margin-left: 10px;
}

.addForm .addContent textarea {
    height: 88px;
    flex: 5;
    border: none;
    font-size: 16px;
    resize: none;
}

.addForm .button {
    float: right;
    width: 20%;
}

.addForm .button input,
.addForm .button a {
    width: 40%;
    height: 35px;
    margin-left: 10%;
    margin-top: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d22c2c;
    color: #FFFFFF;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 35px;
    float: right;
}

/* .addContent img {
            width: 150px;
            height: 100px;
            background-color: #fff;
            float: left;
        } */

#editor {
  width: 100%!important;
  margin: 0!important;
}

#edui1 {
    width: 100%!important;
}

#edui1_iframeholder {
    width: 100%!important;
    height: 300px!important;
}
#edui1_toolbarboxouter {
    width: 100%!important;
}

.edui-editor-breadcrumb>span {
    font-size: 12px;
}

.tips {
    flex: 1;
}

#sta {
    width: 100%!important;
    height: 30px;
}