.ipt {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 5% 0 1%;
}

.ipt .iptA {
    width: 34%;
    height: 50px;
    float: left;
}

.ipt .iptB {
    width: 15%;
    height: 50px;
    float: left;
}

.ipt .iptC {
    width: 35%;
    height: 50px;
    float: left;
}

.ipt .iptA input[name="search"] {
    width: 70%;
    height: 30px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

.ipt .iptB select {
    width: 70%;
    height: 30px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

.ipt .iptC input {
    width: 15%;
    height: 30px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d22c2c;
    color: #FFFFFF;
    font-size: 14px;
}

#newshop {
    width: 18%;
    height: 30px;
    margin-left: 10%;
    float: left;
    margin-top: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d22c2c;
    color: #FFFFFF;
    font-size: 14px;
    display: block;
    line-height: 30px;
    text-align: center;
}

.ipt .iptC input[name="newshop"] {
    width: 25%;
}


#myModal #myModalLabel,
.modal-content .modal-footer {
    text-align: center;
}

#myModal .modal-dialog {
    width: 22%;
}

.modal-footer .btn-default {
    width: 50%;
}








