<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/order/auntdetails.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>订单详情</title>
</head>

<body>


  {include file="common/alerthb" /}
  <div id="app">
    <!-- 头部 -->
    <!--<div class="header">
      <a class="arrows" href="javascript:history.go(-1);">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <span>订单详情</span>
    </div>-->

    <!-- 等待接单 -->
    <div class="await" v-if="order.is_ask==0&&order.sfuserid==''" v-cloak>
      订单已发送，等待接单
    </div>


    <!-- 等待服务人员 -->
    <div class="await" v-if="order.status==0&&order.sfuserid!=''" v-cloak>
      等待服务人员服务
    </div>


    <!-- 服务中 -->
    <div class="await" v-if="order.status==1" v-cloak>
      服务中
    </div>

    <div class="await" v-if="order.status==4">
      <div>服务完成</div>
      <div v-cloak>订单完成时间:{{ formatDateTime(order.fu_end*1000) }}</div>
    </div>


    <!-- 产品 -->
    <div class="cleaning">
      <img :src="'/'+JSON.parse(commodity.goods_msg).pic" />
      <div class="right">
        <div v-cloak>{{ commodity.goods_name }}</div>
        <div v-cloak>￥ {{ commodity.actualpay }}</div>
        <div class="pingjia" v-if="order.assess==''&&order.status==4" @click="noComment">评价</div>
        <div class="nopingjia" v-if="order.status==4&&order.assess!=''" @click="examine">查看评价</div>
      </div>
    </div>


    <!-- 名字、号码、地址 -->
    <div class="location">
      <img src="{$Think.const.PUBLIC_RES}/png/iconic/weizhi.png" />
      <div class="nameSite">
        <div><span v-cloak>{{ user.nickname }}</span>&nbsp;<span v-cloak>{{ user.phone }}</span>&nbsp;&nbsp;
          <!-- <span>(服务人员不会看到此号)</span> -->
        </div>
        <div v-cloak>{{ order.address }}</div>
      </div>
    </div>


    <!-- 金额、抵扣、编号、时间、留言、人员、电话 -->
    <ul>
      <li>
        <div class="pocket">实付金额 :</div>
        <div class="money" v-cloak>￥ {{ append(order.order) }}</div>
      </li>
      <li>
        <div class="out-of-pocket">抵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣 :</div>
        <div v-cloak class="phone" v-if="commodity.virdiscount">￥{{ commodity.virdiscount.dismoney }}
          ({{ commodity.virdiscount.bean }}小哥豆)
        </div>
        <div class="phone" v-else>￥0 (0小哥豆)</div>
      </li>
      <li v-if="order.order.paylog.length>1">
        <div class="out-of-pocket">追加金额 :</div>
        <div v-cloak class="money">￥ {{ append1(order.order.paylog) }}</div>
      </li>
      <li>
        <div class="out-of-pocket">订单编号 :</div>
        <div v-cloak class="phone">{{ commodity.snorder }}</div>
      </li>
      <li class="staff" v-if="order.temp">
        <div class="out-of-pocket">预约时间 :</div>
        <div v-cloak class="phone">{{ order.temp.d_data + ' ' + order.temp.d_time }}</div>
      </li>
      <li class="staff" v-if="order.is_ask!=0&&order.sfuserid!=''">
        <div class="out-of-pocket">上门时间 :</div>
        <div v-cloak class="phone">{{ formatDateTime(order.fu_start * 1000) }}</div>
      </li>
      <li class="leave">
        <div class="out-of-pocket">订单留言 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div v-cloak class="asd">{{ order.note }}</div>
      </li>
      <li v-if="order.emp">
        <div class="out-of-pocket">服务人员 :</div>
        <!--<div class="phone"></div>-->
        <div v-cloak class="phone">{{ service }}</div>
      </li>
      <li>
        <div class="out-of-pocket">咨询电话 :</div>
        <div class="phone">400-8185-088</div>
      </li>
    </ul>


    <!-- 联系服务人员 -->
    <div class="relation">
      <a v-if="order.mobile_status==0&&order.sfuserid!=''&&order.status!=4" :href="'tel:'+order.emp[0].phone">
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/lxkf.png" /> &nbsp;<span>联系服务人员</span>
      </a>
      <a v-if="order.mobile_status==1&&order.sfuserid!=''&&order.status!=4" :href="'tel:'+order.mobile">
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/lxkf.png" /> &nbsp;<span>联系服务人员</span>
      </a>
    </div>
    <!-- 提示 -->
    <div class="prompt" v-if="order.mobile_status==0&&order.sfuserid!=''&&order.status!=4">
      <p>
        为了保证双方的隐私本订单开启了隐私号码保护功能，请使用的你
        <i>{{ user.phone }}</i>
        进行拨打，否则打不通。
      </p>
    </div>

  </div>


  <script>
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        // 订单id
        id: '',
        // 订单详情
        order: [],
        // 商品详情
        commodity: [],
        phone: 'tel:',
        time: '',
        user: [],
        // 服务人员
        service: ''
      },
      created: function created() {
        var that = this;
        // 获取id
        if (decodeURI(location.search)) {
          this.id = decodeURI(location.search).split('=')[1];
          // 获取订单信息
          axios.get('/index.php/mapiv2/myorder/detail', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              id: this.id
            }
          }).then(function (res) {
            that.order = res.data.data[0];
            that.commodity = JSON.parse(res.data.data[0].goods_msg);
            that.phone += that.order.emp[0].phone;
            that.time = that.formatDateTime(that.order.appoint_start * 1000);
          });
        }
        if (window.sessionStorage.orderData) {
          this.order = JSON.parse(window.sessionStorage.orderData)
          that.commodity = JSON.parse(window.sessionStorage.orderData).order;
        }
        if (window.localStorage.userContent) {
          this.user = JSON.parse(window.localStorage.userContent)
        }
        // 服务人员拼接
        if (that.order.emp != '') {
          for (var key in that.order.emp) {
            that.service += that.order.emp[key].name + ','
          }
          that.service = that.service.substring(0, that.service.length - 1);
        }
      },

      methods: {
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        },
        // 填写评价
        noComment: function noComment() {
          var that = this;
          window.sessionStorage.setItem('noComment', JSON.stringify(that.order))
          window.location.href = "/index.php/mobile/goods/no_comment/";
        },
        // 查看评价
        examine: function examine() {
          var that = this;
          window.sessionStorage.setItem('noComment', JSON.stringify(that.order))
          window.location.href = "/index.php/mobile/goods/examine/";
        },
        // 追加
        append1: function append1(data) {
          var a = 0;
          for (var i in data) if (data[i].attach == 3) a += data[i].total_fee - 0;
          return (a / 100).toFixed(2);
        },
        append: function append(row) {
          if (1 < row.paylog.length) {
            var sum = 0, d = row.paylog;
            for (var i in d) if (d[i].attach == 3) sum += d[i].total_fee - 0;
            sum = sum / 100 + (row.actualpay - 0);
            return sum;
          }
          return row.actualpay;
        },
      }
    });
  </script>
</body>

</html>