<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/order/aunt.css">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>


{include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
        <a class="arrows" href="javascript:history.go(-1)">
            <img src="{$Think.const.PUBLIC_RES}/png/iconic/return.png"/>
        </a>
        <span>选择服务人员</span>
    </div>


    <!-- 搜索框 -->
    <div class="search">
        <input type="text" placeholder="请输入职员昵称、职员名称、职员编号" v-model="search" @blur='srh'>
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/sousuo.png"/>
    </div>


    <!-- 阿姨列表 -->
    <ul>
        <li v-for="(item, index) in aunt" :key="item.id" @tap='Selected(item)'>
            <img :src="item.avatar"/>
            <div>
                <span v-cloak>{{ item.name }}</span>
                <p v-cloak>{{ item.cid }}</p>
            </div>
        </li>
    </ul>
</div>


<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>


<script>
  var app = new Vue({
    el: '#app',
    data: {
      // 阿姨列表
      aunt: [],
      // 搜索内容
      search: '',
      // 商品内容
      goods_detail: []
    },
    created() {
      var that = this;
      this.goods_detail = JSON.parse(window.localStorage.goods_detail)
      axios.get('/index.php/mapiv2/Sfuser/rest', {
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        },
        params: {
          cate: this.goods_detail.cate,
          search: this.search
        }
      }).then(function (res) {
        that.aunt = res.data.data.data;
      })
    },
    methods: {
      srh: function srh() {
        var that = this;
        axios.get('/index.php/mapiv2/Sfuser/rest', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            cate: this.goods_detail.cate,
            search: this.search
          }
        }).then(function (res) {
          that.aunt = res.data.data.data;
        })
      },
      Selected: function Selected(item) {
        window.localStorage.setItem('auntContent', JSON.stringify(item));
        history.back(-1);
      }
    },
  })
</script>


</body>

</html>