<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/js/laydate/theme/default/laydate.css?{$Think.config.fastadmin['v_api']}"> -->
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/css/LCalendar.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/order/await.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script
    src="{$Think.const.PUBLIC_RES}/js/LCalendar-master/public/js/LCalendar.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <span>订单详情</span>
    </div>


    <!-- 商品信息 -->
    <div class="middle">
      <ul>
        <li>
          <img :src="'/'+goods_detail.pic" v-cloak />
          <div class="name">
            <span v-cloak>{{ goods_detail.name }}</span>
            <p class="age" v-cloak>{{ goods_detail.brief }}</p>
          </div>
        </li>
      </ul>
      <!-- 服务类型 -->
      <div class="serve">
        <!-- 服务地址 -->
        <div class="location">
          <span class="site">区域:</span>
          <select class="area" v-model="refer.area">
            <option value="440304">福田区</option>
            <option value="440303">罗湖区</option>
            <option value="440305">南山区</option>
            <option value="440308">盐田区</option>
            <option value="440306">宝安区</option>
            <option value="440307">龙岗区</option>
            <option value="440311">光明新区</option>
            <option value="440312">坪山新区</option>
            <option value="440310">龙华新区</option>
            <option value="440313">大鹏新区</option>
          </select>
          <img src="{$Think.const.PUBLIC_RES}/png/icons/down.png" />
        </div>
        <textarea placeholder="请输入您的详细地址" v-model="refer.address"></textarea>

        <!-- 服务时间 -->
        <div class="times">
          <span class="time">服务时间:</span>
          <input id="demo2" type="text" readonly="" placeholder="日期和时间选择" value=""
            data-lcalendar="2019-03-26,2020-03-26" v-model="refer.time" />
          <img src="{$Think.const.PUBLIC_RES}/png/icons/down.png" />
        </div>

        <!-- 服务人员 -->
        <div class="crew">
          <span class="staffs">历史服务人员:</span>
          <select class="staff" v-model="worker">
            <option :value="item" v-for="(item, index) in workerAll" :key="index" v-cloak>{{ item.name }}
            </option>
            <option v-if="workerAll==''" value="">暂无历史服务人员</option>
          </select>
          <span class="staffs">服务人员查询:</span>
          <button class="determine" @tap="inquireStaff">查询</button>
          <input class="inquire" type="text" v-model="content" />
          <img src="{$Think.const.PUBLIC_RES}/png/icons/down.png" v-show="workerAll!=''" />
        </div>
        <img :src="refer.worker.avatar" v-if="refer.worker.avatar" class="show" v-cloak />
        <span class="workerName" v-if="refer.worker.avatar" v-cloak>
          {{ refer.worker.name }}
        </span>
        <!-- 咨询电话 -->
        <div class="phone">
          <span class="consult">咨询电话:400-8185-088</span>
          <img src="{$Think.const.PUBLIC_RES}/png/icons/dianhua.png" />
          <a class="relation" href="tel:4008185088">联系客服</a>
        </div>

        <!-- 确定按钮 -->
        <div class="confirm" v-show="click==1" @tap="details">
          <span>确定</span>
        </div>
        <div class="confirm" v-show="click==2">
          <span>确定</span>
        </div>
      </div>
    </div>
  </div>

  
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>


  <script>
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        // 用户数据
        user: [],
        // 历史服务人员
        workerAll: [],
        openid: '',
        // 订单id
        id: '',
        // 订单详情
        order: [],
        // 商品详情
        goods_detail: [],
        // 选择的服务人员
        worker: '',
        // 服务人员查询编号
        content: '',
        // 点击一次
        click: 1,
        // 提交数据
        refer: {
          // 区域
          area: '',
          // 地址
          address: '',
          // 时间戳
          time: '',
          // 选择的服务人员信息
          worker: ''
        },
      },
      methods: {

        details: function details() {
          var that = this;
          // 判断有无输入日期
          if (this.refer.time == '') {
            mui.toast('请选择日期', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          // 地址判断
          if (this.refer.address == '') {
            mui.toast('请填写地址', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          var time = new Date(this.refer.time.replace(/-/g, "/"));
          time = time.getTime();
          axios
            .post(
              '/mapiv2/myorder/edit', {
                uid: that.user.id,
                orderid: that.id,
                address: that.refer.address,
                time: time,
                worker: that.refer.worker.id,
                sfuserid: that.refer.worker.id,
                areaid: that.refer.area
              }, {
                headers: {
                  'X-Requested-With': 'xmlhttprequest'
                }
              }
            )
            .then(function (res) {
              console.log(res);
              if (res.data.data == '请求成功') {
                mui.toast(res.data.msg, {
                  duration: '1000ms',
                  type: 'div'
                });
                setInterval(function () {
                  window.location.href = '/index.php/mobile/order/number/';
                }, 1000);
              } else {
                mui.toast(res.data.msg, {
                  duration: '1000ms',
                  type: 'div'
                });
                that.click = 1;
              }
            });
        },
        // 查询服务人员
        inquireStaff: function inquireStaff() {
          var that = this;
          axios
            .get('/mapiv2/myorder/staff', {
              params: {
                code: that.content
              }
            })
            .then(function (res) {
              console.log(res);
              that.refer.worker = res.data.data;
            });
        },
      },
      created: function created() {
        var that = this;
        this.id = decodeURI(location.search)
          .split('&')[0]
          .split('=')[1];

        // 用户信息
        if (window.localStorage.userContent) {
          this.user = JSON.parse(window.localStorage.userContent);
        } else {
          this.openid = window.localStorage.openid;
          axios
            .get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              },
              params: {
                openid: this.openid
              }
            })
            .then(function (res) {
              // console.log(res);
              that.user = res.data.data;
              var userContent = JSON.stringify(that.user);
              window.localStorage.setItem('userContent', userContent);
            });
        }
        // 处理用户数据
        this.refer.area = this.user.area_id;
        this.refer.address = this.user.address;

        // 获取订单信息
        axios
          .get('/mapiv2/myorder/detail', {
            params: {
              id: that.id
            }
          })
          .then(function (res) {
            console.log(res);
            that.order = res.data.data[0];
            that.goods_detail = JSON.parse(that.order.goods_msg);
          });
        // 历史服务人员
        axios
          .get('/mapiv2/myorder/staff', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              uid: this.user.id,
              job: that.goods_detail.cate
            }
          })
          .then(function (res) {
            console.log(res);
            that.workerAll = res.data.data;
          });
      },
      mounted() {
        var that = this;
        function getNowFormatDate() {
          var date = new Date();
          var seperator1 = "-";
          var year = date.getFullYear();
          var month = date.getMonth() + 1;
          var strDate = date.getDate();
          if (month >= 1 && month <= 9) {
            month = "0" + month;
          }
          var day = date.getHours() + 3;
          if (date.getHours() > 16) {
            strDate += 1;
            day = 8;
          }
          if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
          }

          var currentdate = year + seperator1 + month + seperator1 + strDate;
          return [currentdate, day];
        }

        var day = getNowFormatDate();
        var calendardatetime = new LCalendar();
        calendardatetime.init({
          'trigger': '#demo2',
          'type': 'datetime',
          'minTime': day[1],//new Date().getHours()+ 2,
          'minDate': day[0],
        });
      },
      watch: {
        // 深度 watcher
        // 产品数量
        worker: {
          handler: function handler(val, oldVal) {
            var that = this;
            this.content = val.cid;
            this.refer.worker = val;
          },
          deep: true
        }
      }
    });
  </script>
</body>

</html>