<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/order/await_serve.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>

    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <span>订单详情</span>
        </div>

        <!-- 商品信息 -->
        <div class="middle">
            <ul>
                <li>
                    <img :src="'/'+commodity.pic" v-cloak />
                    <div class="name">
                        <span v-cloak>{{ commodity.name }}</span>
                        <p class="age" v-cloak>{{ commodity.brief }}</p>
                    </div>
                </li>
            </ul>
            <!-- 服务地址 -->
            <div class="staff">
                <span class="time">服务地址:</span>
                <span class="years" v-cloak>{{ order.service[0].address }}</span>
            </div>

            <!-- 服务时间 -->
            <div class="staff">
                <span class="time">服务时间:</span>
                <span class="years" v-cloak>{{ time }}</span>
            </div>

            <!-- 订单编号 -->
            <div class="staff">
                <span class="time">订单编号:</span>
                <span class="years" v-cloak>{{ order.snorder }}</span>
            </div>

            <!-- 服务人员 -->
            <div class="staffs">
                <span class="time">服务人员:</span>
                <span class="years" v-cloak>{{ order.name }}</span>
            </div>
            <div class="imgs">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg" />
            </div>

            <!-- 咨询电话 -->
            <div class="phone">
                <span class="consult">咨询电话:400-8185-088</span>
                <a href="tel:4008185088">
                    <img src="{$Think.const.PUBLIC_RES}/png/icons/dianhua.png" />
                    <span class="relation">联系客服</span>
                </a>
            </div>

            <!-- 订单已发送 -->
            <div class="confirm">
                <span>服务中...</span>
            </div>
        </div>
    </div>

    
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        'use strict';

        var app = new Vue({
            el: '#app',
            data: {
                // 订单id
                id: '',
                // 订单详情
                order: [],
                // 商品详情
                commodity: [],
                time: ''
            },
            created: function created() {
                var that = this;
                // 获取id
                if (decodeURI(location.search)) {
                    this.id = decodeURI(location.search).split('=')[1];
                }
                // 获取订单信息
                axios.get('/mapiv2/myorder/detail', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        id: this.id
                    }
                }).then(function (res) {
                    console.log(res);
                    that.order = res.data.data[0];
                    that.commodity = JSON.parse(res.data.data[0].goods_msg);
                    that.time = that.formatDateTime(that.order.appoint_start * 1000);
                });
            },

            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                }
            }
        });
    </script>
</body>

</html>