<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/order/details.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->

        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icon/return.png" />
            </a>
            <span>订&nbsp;单&nbsp;详&nbsp;情</span>

        </div>
        <div class="all">
            <div class="frame">
                <!-- 订单编号 -->
                <!--<p class="number">-->
                <!--<span>订单编号:{{order.snorder}}</span>-->
                <!--<span>下单时间:{{ new Date(order.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>-->
                <!--</p>-->
                <!-- 小哥帮旗舰店 -->
                <div class="flagship">
                    <span v-cloak>{{ order.store.nickname }}</span>
                </div>
                <div class="cleaning">
                    <a :href="'/index.php/mobile/goods/goods_detail?store_id='+order.store_id+'&id='+order.goods.id"
                        v-cloak>
                        <div class="list">
                            <a class="arrow" :href="'/index.php/mobile/goods/goods_detail?store_id='+order.store_id+'&id='+order.goods.id"
                                v-cloak>
                                <img :src="'/'+order.goods.pic" v-cloak />
                            </a>
                        </div>
                        <span class="spans" v-cloak>{{ order.goods_name }}</span>
                        <span class="price" v-cloak>￥{{ order.goods.commonprice }}</span>
                        <div class="quantity" v-cloak>×{{ order.num }}</div>
                        <div class="payment" v-cloak>实付款&nbsp;&nbsp;&nbsp;￥{{ order.actualpay }}</div>
                    </a>
                    <!--订单编号 -->
                    <p class="number">
                        <span v-cloak>订单编号:{{order.snorder}}</span>
                        <!--<span>下单时间:{{ new Date(order.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>-->
                        <a class="evaluate" :href="url" v-show="order.comment == null" v-cloak>商品评价</a>
                    </p>
                </div>
            </div>

            <!-- 服务次数 -->
            <!--<p class="time">-->
            <!--<span class="serve">剩余服务次数&nbsp;&nbsp;&nbsp;{{ order.card.times }}</span>-->
            <!--</p>-->
            <!--订单编号 -->
            <!--<p class="number">-->
            <!--<span>订单编号:{{order.snorder}}</span>-->
            <!--<span>下单时间:{{ new Date(order.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>-->
            <!--<a class="evaluate" :href="url">商品评价</a>-->
            <!--</p>-->
            <!-- 商品评价 -->

        </div>
    </div>


    <script>
        'use strict';

        var app = new Vue({
            el: '#app',
            data: {
                // 跳转链接
                url: '',
                // 订单详情
                order: null
            },
            created: function created() {
                console.log(JSON.parse(window.localStorage.order));
                console.log(window.localStorage.publish);
                this.url = window.localStorage.publish;
                this.order = JSON.parse(window.localStorage.order);
            }
        });
    </script>
</body>

</html>