<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/order/evaluate.css?{$Think.config.fastadmin['v_api']}" />
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img src="{$Think.const.PUBLIC_RES}/png/icon/return.png" />
      </a>
      <span>评价</span>
    </div>
    <!-- 日常保洁 -->
    <div class="center">
      <div class="everyday">
        <span class="rc">日常保洁三小时</span>
        <span @click="character" class="publish">发&nbsp;&nbsp;布</span>
      </div>
      <!-- 评星 -->
      <div class="rating">
        <span>服务评星</span>&nbsp;&nbsp;&nbsp;
        <div class="evaStar">
          <ul class="star">
            <li v-for="(itemClass,index) in itemClasses" :class="itemClass" class="star-item" @click="stars(index)"
              track-by="index" v-cloak>
              <img src="{$Think.const.PUBLIC_RES}/png/icon/stars.png" v-if="itemClass=='off'" v-cloak />
              <img src="{$Think.const.PUBLIC_RES}/png/icon/star.png" v-else v-cloak />
            </li>
            <!--性能优化 track-by 数据不改变时不会重新渲染-->
          </ul>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="sf" v-show="score==0"></span>
        <span class="sf" v-show="score==1">非常差</span>
        <span class="sf" v-show="score==2">差</span>
        <span class="sf" v-show="score==3">一般</span>
        <span class="sf" v-show="score==4">满意</span>
        <span class="sf" v-show="score==5">超赞</span>
      </div>

      <textarea v-model="cate" placeholder="阿姨/师傅有准时到吗？服务满足你的期待吗？写下感受与小伙伴分享吧！"></textarea>
      <img :src="item" v-for="(item, index) in localId" :key="index" class="images" v-cloak>
      <img src="{$Think.const.PUBLIC_RES}/png/icon/picture.png" @click="Upload" v-if="localId.length<3" class="images"
        v-cloak>
      <!-- 历史评价 -->
      <div class="history">
        <!--<span>历史评价（1）</span>-->
        <!--<p>很满意，阿姨提前到了，打扫的很干净，角角落落都擦了个遍，好评。</p>-->
        <!--<img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icon/picture.png" />-->
        <!--<img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icon/picture.png" />-->
        <!--<p>2019-1-25</p>-->
      </div>
    </div>
  </div>
  
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        // 星星的数量
        score: '',
        // 评价内容
        cate: '',
        // 图片的链接
        localId: [],
        // 上传服务器的id
        serverId: '',
        // 上传服务器的链接地址
        imgs: '',
        // 用户内容
        userContent: null,
        // 店铺内容
        store: null,
        // 评价类型
        type: 0,
        // 订单详情
        order: null,
        // 上传图片数量
        num: 3
      },
      methods: {
        // 选着图片
        Upload: function Upload() {
          var that = this;
          wx.config({
            debug: false,
            appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
            timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
            nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
            signature: '{$jssdk.signature}', // 必填，签名
            jsApiList: ['chooseImage', 'uploadImage', 'downloadImage', 'getLocalImgData']
          });
          wx.ready(function () {
            wx.chooseImage({
              count: that.num, // 默认9
              sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
              sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
              success: function success(res) {
                that.localId = [];
                // alert('已选择 ' + res.localIds.length + ' 张图片');
                var localIdsAll = res.localIds;
                that.num = that.num - res.localIds.length;
                // 遍历图片,单个上传
                for (var i = 0; i <= res.localIds.length - 1; i++) {
                  console.log(1);
                  console.log(res.localIds[i]);
                  var localIds = res.localIds[i]; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                  if (window.__wxjs_is_wkwebview) {
                    //判断当前使用的webview内核
                    //获取本地图片,此接口仅在 iOS WKWebview 下提供，用于兼容 iOS WKWebview 不支持 localId 直接显示图片的问题
                    wx.getLocalImgData({
                      localId: localIds, // 图片的localID
                      success: function success(res) {
                        var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                        //iOS 系统里面得到的数据，类型为 image/jgp,因此需要替换一下
                        localData = localData.replace('jgp', 'jpeg');
                        that.localId.push(localData); //img标签显示图片
                        // alert(that.localId);
                      }
                    });
                  } else {
                    that.localId.push(localIds); //img标签显示图片
                  }
                  // 上传图片
                  wx.uploadImage({
                    localId: localIds, // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function success(res) {
                      console.log(3);
                      console.log(res);
                      // alert(res.serverId);
                      that.serverId = res.serverId; // 返回图片的服务器端ID
                      axios.post('/index.php/mapi/commonapi.Ajaxcommon/ajax_curl_img', {
                        mediaid: that.serverId
                      }, {
                        headers: {
                          'X-Requested-With': 'xmlhttprequest'
                        }
                      }).then(function (res) {
                        console.log(res);
                        console.log(4);
                        alert(res.data.data)
                        that.imgs += res.data.data + ',';
                      });
                    }
                  });
                }
                // alert(that.imgs)
                console.log(that.imgs);
                console.log(that.localId);
              },
              error: function error(res) {
                // alert(res);
              }
            });
          });
        },
        // 评星点击事件
        stars: function stars(index) {
          this.score = index + 1;
        },
        // 发表内容
        character: function character() {
          var that = this;
          if (!/^.{10,100}$/.test(this.cate)) {
            alert('评价最少输入10个文字');
            return false;
          }
          axios.post('/index.php/mapi/comment/rest', {
            uid: that.userContent.id,
            order_id: that.order.id,
            star: that.score,
            comment: that.cate,
            type: that.type,
            imgs: that.imgs,
            gid: that.order.goodsid
          }, {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          }).then(function (res) {
            console.log(res);
            if (res.data.msg == '请求成功') {
              mui.toast('发表成功', {
                duration: '1000ms',
                type: 'div'
              });
              window.location.href = res.data.url;
            }
          });
        }
      },
      mounted: function mounted() {},
      created: function created() {
        console.log(JSON.parse(window.localStorage.userContent));
        // console.log(JSON.parse(window.localStorage.store));
        console.log(JSON.parse(window.localStorage.order));
        this.userContent = JSON.parse(window.localStorage.userContent);
        // this.store = JSON.parse(window.localStorage.store)
        this.order = JSON.parse(window.localStorage.order);
      },

      computed: {
        //计算属性
        itemClasses: function itemClasses() {
          var result = []; // 返回的是一个数组,用来遍历输出星星
          var score = Math.floor(this.score * 2) / 2; // 计算所有星星的数量
          var hasDecimal = score % 1 !== 0; // 非整数星星判断
          var integer = Math.floor(score); // 整数星星判断
          for (var i = 0; i < integer; i++) {
            // 整数星星使用on
            result.push('on'); // 一个整数星星就push一个CLS_ON到数组
          }
          while (result.length < 5) {
            // 余下的用无星星补全,使用off
            result.push('off');
          }
          return result;
        }
      }
    });
  </script>
</body>

</html>