<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>小哥帮</title>
	<script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
	<script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
	<link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
	<link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
	<link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/order/index.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
	{include file="common/alerthb" /}<div id="app">
		<div class="header">
			<div class="return">
				<a href="javascript:history.go(-1)">
					<img src="{$Think.const.PUBLIC_RES}/png/icon/return.png">
				</a>
			</div>
			我的订单
		</div>
		<div class="content">
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<li v-for="(item, index) in product" :key="item.id" v-cloak>
							<!-- <a href="javascript:;" class="mui-row" @click='processing(item)'> -->
							<div @tap='processing(item)' class="mui-row click">

								<div class="left mui-col-sm-5 mui-col-xs-5">
									<img :src="'/'+item.goods.pic" v-cloak>
								</div>
								<div class="right mui-col-sm-7 mui-col-xs-7">
									<h4 v-cloak>商品名称:{{ item.goods_name }}</h4>
									<div class="identifier">
										<span v-cloak>订单编号:{{ item.snorder }}</span>
									</div>
									<div class="shop">
										<span v-cloak>店铺名称:{{ item.store.nickname }}</span>
									</div>
									<div class="payment">
										<span>实付款: &nbsp;&nbsp;</span>
										<span v-cloak>¥{{ item.actualpay }}</span>
									</div>
									<div class="order">
										<span v-cloak>下单时间: &nbsp;&nbsp;{{ new Date(item.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>
									</div>
									<div class="service">
										<span>剩余服务次数 &nbsp;</span>
										<span v-cloak>{{ item.card.times }}</span>
									</div>
									<div class="completed" v-show="item.card.times==0">
										<img src="{$Think.const.PUBLIC_RES}/png/icon/complete.png">
									</div>
								</div>
								<!-- </a> -->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>

<script>
	'use strict';

	var app = new Vue({
		el: "#app",
		data: {
			// 用户id
			user_id: '',
			// 订单内容
			product: [],
			// 页码
			page: 0,
			// 跳转地址
			url: ''
		},
		methods: {
			// 订单跳转,数据处理
			processing: function processing(item) {
				// console.log(JSON.stringify(item));
				window.localStorage.setItem('order', JSON.stringify(item));
				var href = this.url + '?store_id=' + item.store_id + '&id=' + item.goods.id;
				window.location.href = href;
			}
		},
		created: function created() {
			var _this = this;

			// 获取id
			if (decodeURI(location.search)) {
				this.user_id = decodeURI(location.search).split('=')[1];
				// console.log(this.user_id);
			} else {
				this.user_id = JSON.parse(window.localStorage.userContent).id;
			}

			axios.get('/index.php/mapi/order/rest', {
				params: {
					uid: this.user_id,
					limit: 10
				}
			}).then(function (res) {
				// console.log(res);
				_this.page = 10;
				_this.product = res.data.data.data;
				_this.url = res.data.data.url_out;
				window.localStorage.setItem('publish', res.data.data.url);
			});
		},
		updated: function updated() {
			var that = this;
			// mui 控件
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				var _this2 = this;

				// console.log('刷新了');
				axios.get('/index.php/mapi/order/rest', {
					params: {
						uid: that.user_id,
						limit: 10
					}
				}).then(function (res) {
					that.page = 10;
					that.product = res.data.data.data;
					mui.toast('刷新成功', {
						duration: '1000ms',
						type: 'div'
					});
					_this2.endPullupToRefresh(false);
				});
				mui('#pullrefresh').pullRefresh().refresh(true);
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				var _this3 = this;

				// console.log('加载了');
				axios.get('/index.php/mapi/order/rest', {
					params: {
						uid: that.user_id,
						limit: that.page + ',10'
					}
				}).then(function (res) {
					that.page += 10;
					var arr = res.data.data.data;
					// console.log(res);
					for (var i in arr) {
						that.product.push(arr[i]);
					}
					if (res.data.data.is_ture == 0) {
						_this3.endPullupToRefresh(true);
						mui("#pullrefresh").endPullupToRefresh(true);
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了
					}

					_this3.endPullupToRefresh(false);
					mui('#pullrefresh').pullRefresh().endPullupToRefresh();
				});
			}
			mui('body').on('tap', 'a', function () {
				window.top.location.href = this.href;
			});
		}
	});
</script>

</html>