<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/order/number.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>

  {include file="common/alerthb" /}
  <div id="app">

    <div class="mui-content">
      <div id="slider" class="mui-slider mui-fullscreen">
        <div id="sliderSegmentedControl"
          class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
          <div class="mui-scroll switch">
            <a class="mui-control-item mui-active" href="#orders">
              待接单
            </a>
            <a class="mui-control-item" href="#contact">
              待联系
            </a>
            <a class="mui-control-item" href="#visit" v-cloak>
              待上门({{ visit.num }})
            </a>
            <a class="mui-control-item" href="#service">
              服务中
            </a>
            <a class="mui-control-item" href="#complete">
              已完成
            </a>
          </div>
        </div>
        <div class="mui-slider-group" id="scrol">
          <!-- 待接单 -->
          <div id="orders" class="mui-slider-item mui-control-content mui-active">
            <div id="scroll1" class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view Waiting">
                  <!-- 第1个选项卡子项 -->
                  <li class="receiving" v-if="item.order.schedule != 4" v-for="(item, index) in orders.data"
                    :key="item.id" @tap="jump(item)">
                    <div class="serial">
                      <span v-cloak>订单编号: {{ item.order.snorder }}</span>
                      <span>待接单</span>
                    </div>
                    <img style="width: 0.6rem" :src="'/'+JSON.parse(item.order.goods_msg).pic" />
                    <img src="{$Think.const.PUBLIC_RES}/png/share/exchange.png"
                      v-if="JSON.parse(item.order.goods_msg).origin_table == 'shop_goods_bargain'" class="exchange">
                    <span v-cloak class="daily">{{ item.order.goods_name }}</span>
                    <div v-cloak class="total">合计: ￥{{ append(item.order) }}</div>
                  </li>
                  <li class="not" v-if="orders.data==''">暂无数据</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 待联系 -->
          <div id="contact" class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view Waiting">
                  <!-- 第2个选项卡子项 -->
                  <li class="receiving" v-for="(item, index) in contact.data" :key="item.id"
                    v-if="item.order.schedule != 4" @tap="jump(item)">
                    <div class="serial">
                      <span v-cloak>订单编号: {{ item.order.snorder }}</span>
                      <span>待约时间</span>
                    </div>
                    <img style="width: 0.6rem" :src="'/'+JSON.parse(item.order.goods_msg).pic" />
                    <img src="{$Think.const.PUBLIC_RES}/png/share/exchange.png"
                      v-if="JSON.parse(item.order.goods_msg).origin_table == 'shop_goods_bargain'" class="exchange">
                    <div class="daily dailys">
                      <div v-cloak>{{ item.order.goods_name }}</div>
                      <div v-cloak v-if="item.emp">服务人员: {{ epmone(item.emp) }}</div>
                      <div>请等待工作人员与您预定具体时间</div>
                    </div>
                    <div v-cloak class="total">合计: ￥{{ append(item.order) }}</div>
                  </li>
                  <li class="not" v-if="contact.data==''">暂无数据</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 待上门 -->
          <div id="visit" class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view Waiting">
                  <!-- 第3个选项卡子项 -->
                  <li class="receiving" v-for="(item, index) in visit.data" :key="item.id"
                    v-if="item.order.schedule != 4" @tap="jump(item)">
                    <div class="serial">
                      <span v-cloak>订单编号: {{ item.order.snorder }}</span>
                      <span>等待上门</span>
                    </div>
                    <img style="width: 0.6rem" :src="'/'+JSON.parse(item.order.goods_msg).pic" />
                    <img src="{$Think.const.PUBLIC_RES}/png/share/exchange.png"
                      v-if="JSON.parse(item.order.goods_msg).origin_table == 'shop_goods_bargain'" class="exchange">
                    <div class="daily dailys">
                      <div v-cloak>{{ item.order.goods_name }}</div>
                      <div v-cloak v-if="item.emp">服务人员: {{ epmone(item.emp) }}</div>
                      <div v-cloak>上门时间: {{ formatDateTime(item.appoint_start*1000).time }}</div>
                      <div v-if="DateTime(item.appoint_start*1000).Timeout>0" v-cloak>
                        距离上门时间还剩{{ DateTime(item.appoint_start*1000).time }}</div>
                      <div v-else v-cloak>已超时</div>
                      <!--<div id="overtime">已超时</div>-->
                    </div>
                    <div v-cloak class="total totals">合计: ￥{{ append(item.order) }}</div>
                  </li>
                  <li class="not" v-if="visit.data==''">暂无数据</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 服务中 -->
          <div id="service" class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view Waiting">
                  <!-- 第4个选项卡子项 -->
                  <li class="receiving" v-for="(item, index) in service.data" :key="item.id"
                    v-if="item.order.schedule != 4">
                    <div @tap="jump(item)">
                      <div class="serial">
                        <span v-cloak>订单编号: {{ item.order.snorder }}</span>
                        <span>服务中</span>
                      </div>
                      <img style="width: 0.6rem" :src="'/'+JSON.parse(item.order.goods_msg).pic" />
                      <img src="{$Think.const.PUBLIC_RES}/png/share/exchange.png"
                        v-if="JSON.parse(item.order.goods_msg).origin_table == 'shop_goods_bargain'" class="exchange">
                      <div class="daily dailys">
                        <div v-cloak>{{ item.order.goods_name }}</div>
                        <div v-cloak v-if="item.emp">服务人员: {{ epmone(item.emp) }}</div>
                        <div v-cloak>上门时间: {{ formatDateTime(item.appoint_start*1000).time }}</div>
                        <div v-cloak>开始服务时间: {{ formatDateTime(item.fu_start*1000).time }}</div>
                      </div>
                    </div>
                    <div v-cloak class="total totals">
                      合计: ￥{{ append(item.order) }}<div class="end" @tap="stop_now(item,index)"><span>完成服务</span>
                      </div>
                    </div>
                  </li>
                  <li class="not" v-if="service.data==''">暂无数据</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 已完成 -->
          <div id="complete" class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                <ul class="mui-table-view Waiting">
                  <!-- 第5个选项卡子项 -->
                  <li class="receiving" v-for="(item, index) in complete.data" :key="item.id"
                    v-if="item.order.schedule != 4" @tap="jump(item)">
                    <div class="serial complete">
                      <span v-cloak>订单编号: {{ item.order.snorder }}</span>
                      <span>服务完成</span>
                    </div>
                    <img style="width: 0.6rem" :src="'/'+JSON.parse(item.order.goods_msg).pic" />
                    <img src="{$Think.const.PUBLIC_RES}/png/share/exchange.png"
                      v-if="JSON.parse(item.order.goods_msg).origin_table == 'shop_goods_bargain'" class="exchange">
                    <div class="daily dailys">
                      <div v-cloak>{{ item.order.goods_name }}</div>
                      <div v-cloak v-if="item.emp">服务人员: {{ epmone(item.emp) }}</div>
                      <div v-cloak>完成时间: {{ formatDateTime(item.fu_end*1000).time }}</div>
                    </div>
                    <div class="total totals">
                      <span>合计: ￥{{ append(item.order) }}</span>
                      <span class="Ncomment" v-if="item.assess != ''" @tap="examine(item)">已评价</span>
                      <span v-else @tap="noComment(item)">评价</span>

                    </div>
                  </li>
                  <li class="not" v-if="complete.data==''">暂无数据</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 底部按钮 -->
    <ul class="bottom">
      <li>
        <a :href="'/index.php/mobile/index/index/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/SY01.png">
          <p>首页</p>
        </a>
      </li>
      <li>
        <a :href="'/index.php/mobile/goods/classify/'+'cate/0'">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/FL01.png">
          <p>分类</p>
        </a>
      </li>
      <li>
        <!--<a href="javascript:;">-->
        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/DD02.png">
        <p class="order">订单</p>
        <!--</a>-->
      </li>
      <li>
        <a :href="'/index.php/mobile/user/index/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/GR01.png">
          <p>个人</p>
        </a>
      </li>
    </ul>
  </div>

  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rubber/rubber.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        date: '',
        // 当前订单
        // all: [],
        // 团购订单
        // group: [],
        // 历史订单
        // history: [],
        //   判断状态
        // type: 1,
        // 拼团订单
        // groupAll: [],
        // 历史订单
        // historyAll: []
        // 用户信息
        user: [],
        // 待接单
        orders: {
          // 列表
          data: []
        },
        // 待联系
        contact: {
          // 列表
          data: []
        },
        // 待上门
        visit: {
          // 列表
          data: [],
          // 有多少待上门的单
          num: 0
        },
        // 服务中
        service: {
          // 列表
          data: []
        },
        // 已完成
        complete: {
          // 列表
          data: []
        }
      },
      // 初始化后执行
      created: function created() {
        // this.date = new Date().valueOf();
        var that = this;
        // 判断有无用户数据
        if (window.localStorage.userContent) {
          this.user = JSON.parse(window.localStorage.userContent);
        } else {
          this.openid = window.localStorage.openid;
          axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              openid: this.openid
            }
          }).then(function (res) {
            // console.log(res);
            that.user = res.data.data;
            var userContent = JSON.stringify(that.user);
            window.localStorage.setItem("userContent", userContent);
          });
        }

        // 待接单
        axios.get('/index.php/mobileapi/v2/server/getMserverStatus', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.user.id,
            'other[sfuserid][0]': '<=',
            'other[sfuserid][1]': '0'
          }
        }).then(function (res) {
          that.orders.data = res.data.data.data
        })


        // 待联系
        axios.get('/index.php/mobileapi/v2/server/getMserverStatus', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.user.id,
            'other[sfuserid][0]': '>',
            'other[sfuserid][1]': '0',
            'other[is_ask][0]': '=',
            'other[is_ask][1]': '0'
          }
        }).then(function (res) {
          that.contact.data = res.data.data.data
        })

        // 待上门
        axios.get('/index.php/mobileapi/v2/server/getMserverStatus', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.user.id,
            'other[status][0]': '=',
            'other[status][1]': '0',
            'other[is_ask][0]': '>',
            'other[is_ask][1]': '0'
          }
        }).then(function (res) {
          that.visit.data = res.data.data.data;
          if (that.visit.data) that.visit.num = that.visit.data.length;
        })

        // 服务中
        axios.get('/index.php/mobileapi/v2/server/getMserverStatus', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.user.id,
            'other[status]': 1
          }
        }).then(function (res) {
          that.service.data = res.data.data.data
        })

        // 已完成
        axios.get('/index.php/mobileapi/v2/server/getMserverStatus', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            uid: this.user.id,
            'other[status]': 4
          }
        }).then(function (res) {
          that.complete.data = res.data.data.data
        })

      },
      methods: {
        // 停止服务
        stop_now: function stop_now(item, index) {
          var that = this;
          var btnArray = ['是', '否'];
          mui.confirm('', '确定完成服务?', btnArray, function (e) {
            if (e.index == 0) {
              axios.get('/index.php/api/commonapi.scan/stop_now', {
                params: {
                  id: item.codeid
                },
                headers: {
                  'X-Requested-With': 'xmlhttprequest'
                }
              }).then(function (res) {

                if (res.data.code == 1) {
                  mui.toast(res.data.msg, {
                    duration: '1000ms',
                    type: 'div'
                  });
                  that.service.data.splice(index, 1);
                  // 已完成
                  axios.get('/index.php/mobileapi/v2/server/getMserverStatus', {
                    headers: {
                      'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                      uid: this.user.id,
                      'other[status]': 4
                    }
                  }).then(function (res) {
                    that.complete.data = res.data.data.data
                  })
                } else {
                  mui.toast(res.data.msg, {
                    duration: '1000ms',
                    type: 'div'
                  });
                }
              });
            } else {
              mui.toast('已取消', {
                duration: '1000ms',
                type: 'div'
              });
            }
          })
        },
        // 追加
        append: function append(row) {
          if (1 < row.paylog.length) {
            var sum = 0, d = row.paylog;
            for (var i in d) if (d[i].attach == 3) sum += d[i].total_fee - 0;
            sum = sum / 100 + (row.actualpay - 0);
            return sum;
          }
          return row.actualpay;
        },
        append1: function append1(data) {
          var a = 0;
          data = data.paylog;
          for (var i in data) if (data[i].attach == 3) a += data[i].total_fee - 0;
          return (a / 100).toFixed(2);
        },
        epmone: function empone(order) {
          // 服务人员拼接
          if (order != '') {
            var service = '';
            for (var key in order) {
              service = service + order[key].name + ','
            }
            service = service.substring(0, service.length - 1);
          }
          return service;
        },
        // 拼团
        groupSee: function groupSee(item) {
          window.localStorage.setItem('group_id', item.groups.id);
          window.localStorage.setItem('goods_id', item.goodsid);
          window.localStorage.setItem('store_id', item.store_id);
          window.localStorage.setItem('goods_detail', item.goods_msg);
          window.location.href = "/mobile/fightgroup/group_order/v/" + this.date;
        },
        // 跳转
        jump: function jump(item) {
          window.sessionStorage.setItem('orderData', JSON.stringify(item));
          window.location.href = "/index.php/mobile/order/auntdetails";
        },
        // 跳转评价
        noComment: function noComment(item) {
          window.sessionStorage.setItem('noComment', JSON.stringify(item))
          window.location.href = "/index.php/mobile/goods/no_comment/";
        },
        // 跳转评价
        examine: function examine(item) {
          window.sessionStorage.setItem('noComment', JSON.stringify(item))
          window.location.href = "/index.php/mobile/goods/examine/";
        },
        // 时间处理
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          // return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
          return {
            y: y,
            m: m,
            d: d,
            h: h,
            minute: minute,
            time: y + '-' + m + '-' + d + ' ' + h + ':' + minute
          }
        },
        // 倒计时
        DateTime: function DateTime(time) {
          var that = this;
          var m = Number(that.formatDateTime(time).m - that.formatDateTime(new Date()).m)
          var d = Number(that.formatDateTime(time).d - that.formatDateTime(new Date()).d)
          var h = Number(that.formatDateTime(time).h - that.formatDateTime(new Date()).h)
          var minute = Number(that.formatDateTime(time).minute - that.formatDateTime(new Date()).minute)
          if (m != 0) {
            d = m * 30 + d;
          }
          if (d != 0) {
            h = d * 24 + h;
          }
          if (minute < 0) {
            minute = 60 + minute;
          }
          if (h > 0) {
            var Timeout = 1;
          } else {
            var Timeout = 0;
          }
          // return h + '小时' + minute + '分钟';
          return {
            time: h + '小时' + minute + '分钟',
            Timeout: Timeout
          };
        }
      },
      //  数据更改后执行
      updated: function updated() {
        var that = this;
        (function ($) {
          //阻尼系数
          var deceleration = mui.os.ios ? 0.003 : 0.0009;
          $('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: true,
            //是否显示滚动条
            deceleration: deceleration
          });
          // var amount = 5,
          //   last = 20,
          //   levelType = 0;
          // $.ready(function () {
          //     //循环初始化所有下拉刷新，上拉加载。
          //     $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
          //         $(pullRefreshEl).pullToRefresh({
          //             down: {
          //                 callback: function () {
          //                     var self = this;
          //                     setTimeout(function () {
          //                         // var ul = self.element.querySelector('.mui-table-view');
          //                         // var fragment = createFragment(ul, index, 10, true);
          //                         // if (fragment == null) {
          //                         self.endPullDownToRefresh(true);
          //                         // } else {
          //                         //     ul.insertBefore(fragment, ul.firstChild);
          //                         //     self.endPullDownToRefresh();
          //                         // }
          //                     }, 1000);
          //                 }
          //             },
          //             up: {
          //                 callback: function () {
          //                     var self = this;
          //                     setTimeout(function () {
          //                         // var ul = self.element.querySelector('.mui-table-view');
          //                         // var fragment = createFragment(ul, index, 5);
          //                         // if (fragment == null) {
          //                         self.endPullUpToRefresh(true);
          //                         // } else {
          //                         //     ul.appendChild(fragment);
          //                         //     self.endPullUpToRefresh();
          //                         // }
          //                     }, 1000);
          //                 }
          //             }
          //         });
          //     });
          // var createFragment = function (ul, index, count, reverse) {
          //     var length = ul.querySelectorAll('li').length;
          //     var fragment = null;
          //     var li;
          //     //for (var i = 0; i < count; i++) {
          //     //    li = document.createElement('li');
          //     //    li.className = 'mui-table-view-cell';
          //     //    li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
          //     //    fragment.appendChild(li);
          //     //}
          //     // 说明不到一页 没必要请求了
          //     if (length < pageSize) {
          //         return null;
          //     }
          //     last = length + amount;
          //     pageIndex = last / amount;
          //     if (index == 0) {
          //         levelType = -1;
          //     } else if (index == 1) {
          //         levelType = 0;
          //     } else {
          //         levelType = 1;
          //     }
          //     // 实现异步查询
          //     // mui.ajax({
          //     //     async: false,
          //     //     type: "post",
          //     //     dataType: "json",
          //     //     url: "/Comment/GetPullList",
          //     //     data: "levelType=" + levelType + "&pageIndex=" + pageIndex + "&pageSize=" + amount,
          //     //     complete: function () {
          //     //         //$("#load").hide();
          //     //     },
          //     //     success: function (result) {
          //     //         if (result.Status) {
          //     //             var data = result.Data;
          //     //             var tmp = '';
          //     //             fragment = document.createDocumentFragment();
          //     //             $.each(data, function (i, n) {
          //     //                 var li = document.createElement('li');
          //     //                 li.className = 'mui-table-view-cell';
          //     //                 li.innerHTML = (length + (reverse ? (count - i) : (i + 1))) + ',' + n.Comment;
          //     //                 fragment.appendChild(li);
          //     //                 //下拉刷新，新纪录插到最前面；
          //     //                 //table.insertBefore(li, table.firstChild);
          //     //             });
          //     //         }
          //     //     }
          //     // });
          //     return fragment;
          // };
          // var createFragment_old = function (ul, index, count, reverse) {
          //     var length = ul.querySelectorAll('li').length;
          //     var fragment = document.createDocumentFragment();
          //     var li;
          //     for (var i = 0; i < count; i++) {
          //         li = document.createElement('li');
          //         li.className = 'mui-table-view-cell';
          //         li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
          //         fragment.appendChild(li);
          //     }
          //     return fragment;
          // };
          // });
        })(mui);
        // mui 选项卡加上拉加载初始化代码
        mui.init({
          swipeBack: false
        });
      }
    });
  </script>
</body>

</html>