<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小哥帮</title>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/order/order_details.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
    <!-- 头部 -->
    <div class="home">
        <div class="header">
            <a href="javascript:history.go(-1)">
                <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
            </a>
            <span>订单确认</span>
        </div>
    </div>
    {include file="common/alerthb" /}<div id="app">

        <!-- 地址、年月 -->
        <div class="onw" v-if="goods_detail.cate!=5">
            <div class="years" v-show="address==''">
                <a href="/index.php/mobile/address/add">
                    <img class="arrow-s" src="{$Think.const.PUBLIC_RES}/png/iconic/dz.png" alt="">
                    <span>请添加服务地址</span>
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
                </a>
            </div>
            <div class="site" v-if="address!=''">
                <a href="/index.php/mobile/address/add">
                    <img class="imgS" src="{$Think.const.PUBLIC_RES}/png/iconic/dz.png" alt="">
                    <div class="name">
                        <div>
                            <span v-cloak>{{ address.name }}</span>
                            <span v-cloak>{{ address.phone.substr(0,3) + '****' + address.phone.substr(7,11) }}</span>
                        </div>
                        <p v-cloak>{{ address.address }}</p>
                    </div>
                    <img class="arrow-s" src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
                </a>
            </div>
            <!-- 年月 -->
            <div class="years" @tap='calendar.show = 1' v-if="goods_detail.cate!=5">
                <img class="arrow-s" src="{$Think.const.PUBLIC_RES}/png/iconic/sj.png" alt="">
                <span v-cloak>{{ calendar.showdate }}</span>
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
            </div>
        </div>
        <!-- 提示 -->
        <div class="prompt" v-if="goods_detail.cate!=5">
            温馨提示: 您选择的时间为期望上门时间,下单成功后服务人员会尽快与您联系确认最终上门时间
        </div>

        <!-- 服务产品 -->
        <div class="datail" :class="goods_detail.cate==5?'onw':''">
            <img :src="'/'+goods_detail.pic">
            <div class="text">
                <h4 v-cloak>{{ goods_detail.name }}</h4>
                <span v-cloak v-if="goods_detail.cate!=5">{{ goods_detail.brief }}</span>
                <span v-cloak v-if="goods_detail.cate==5">别忘记填写购买明细</span>
                <div v-if="user.interval == 1&&priceType == 1&&goods_detail.cate!=5" v-cloak>
                    ¥<span>{{ goods_detail.vipprice }}</span></div>
                <div v-if="priceType == 4&&goods_detail.cate!=5" v-cloak>¥<span>{{ goods_detail.grabprice }}</span>
                </div>
                <div v-if="priceType == 1&&user.interval != 1&&goods_detail.cate!=5" v-cloak>
                    ¥<span v-cloak>{{ goods_detail.commonprice }}</span>
                </div>
            </div>
            <div class="num" v-if="switchlist.data == ''&&goods_detail.cate!=5">
                <p class="subtract" @click=" quantity--"><img class="stop"
                        src="{$Think.const.PUBLIC_RES}/png/iconic/jian.png"></p>
                <input class="sum" type="number" v-model="quantity" @focus='quantity=0' v-cloak>
                <p class="plus" @click=" quantity++"><img class="stop"
                        src="{$Think.const.PUBLIC_RES}/png/iconic/jia.png"></p>
            </div>
            <div class="time" v-if="switchlist.data != ''&&goods_detail.cate!=5">
                <select v-model="numb" @change='cate'>
                    <option :value="index" v-for="(item, index) in switchlist.data" :key="index" v-cloak>{{ index }}小时
                    </option>
                </select>
            </div>
            <div class="entry" v-if="goods_detail.cate==5">
                <span>支付金额</span>
                <input type="number" v-model="quantity">
            </div>

        </div>

        <!-- 阿姨搜索 -->
        <!-- <div class="numbering" v-if="goods_detail.cate!=5">
            <a href="/index.php/mobile/order/aunt">
                <span>专属阿姨编号</span>

                <img v-show="content==''" src="{$Think.const.PUBLIC_RES}/png/iconic/jinru.png" alt="">
            </a>
            <div class="sshow" v-show="content!=''">
                <img class="img-s" v-cloak :src="content.avatar">
                <span v-cloak>{{ content.name }}</span>
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/guanb.png" @tap="rember" />
            </div>
        </div> -->
        <!-- 备注 -->
        <div class="remarks" v-if="goods_detail.cate!=5">
            <div class="tilt">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/remarks.png">
                <span>订单留言</span>
            </div>
            <textarea name="" placeholder="为了给你提供更好的服务，如有需要请添加详细备注。例:空调是2匹变频美的XT002，开机声音较大，制冷效果不明显。" maxlength='50'
                v-model="bak"></textarea>
        </div>

        <div class="remarks" v-if="goods_detail.cate==5">
            <div class="tilt">
                <img src="{$Think.const.PUBLIC_RES}/png/iconic/remarks.png">
                <span>购买明细</span>
            </div>
            <textarea name="" placeholder="为了给你提供更好的服务，如有需要请添加详细备注。例:空调是2匹变频美的XT002，开机声音较大，制冷效果不明显。"
                v-model="bak"></textarea>
        </div>

        <!-- 小哥豆 -->
        <div class="payment" v-if="priceType == 1">
            <i class="check" v-show="is_enable==1" @tap='is_enable=0'>
                <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/gouxuan.png" alt="">
            </i>
            <div class="circle" v-show="is_enable==0" @tap='is_enable=1'></div>
            <span v-cloak>{{ enable }}小哥豆可用，使用{{ bean }}小哥豆抵扣￥{{ bean }}</span>
        </div>

        <!-- 提示 -->
        <div class="prompt bottom_p">
            使用小哥豆最多抵扣50%
        </div>

        <!-- 微信支付 -->
        <!-- <div class="payment paymentlast">
            <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/iconic/wxzf.png" alt="">
            <span>微信支付</span>
        </!-->

        <!-- 立即支付 -->
        <div class="pay">
            <div class="mon" v-cloak>
                合计:
                <span v-cloak>¥{{ calculationPrice }}</span>
            </div>
            <!-- <div class="mon" v-else-if="is_enable == 0 && priceType == 1 && user.interval != 1" v-cloak>
                合计:
                <span v-cloak>¥{{ calculationPrice }}</span>
            </div>
            <div class="mon" v-if="is_enable == 1 && user.interval == 1 && priceType == 1" v-cloak>
                合计:
                <span v-cloak>¥{{ calculationPrice }}</span>
            </div>
            <div class="mon" v-else-if="is_enable == 1 && priceType == 1 && user.interval != 1" v-cloak>
                合计:
                <span v-cloak>¥{{ calculationPrice }}</span>
            </div>
            <div class="mon" v-if="priceType == 4" v-cloak>
                合计:
                <span v-cloak>¥{{ calculationPrice }}</span>
            </div> -->

            <div class="deduction" v-show="is_enable==1">已优惠¥<span v-cloak>{{ bean }}</span></div>
            <div class="but" @tap='order'>
                立即支付
            </div>
        </div>

        <!-- 日历样式 -->
        <transition name="fade">
            <div class="calendar" v-if="calendar.show==1">
                <div class="tilte">
                    <p>请选择预约上门时间</p>
                    <div @tap='calendar.show=0'>关闭</div>
                </div>
                <ul class="week">
                    <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
                </ul>

                <!-- 天数 -->
                <ul class="date">
                    <li v-for="(item, index) in calendar.week" class="not" :key="index" v-cloak>{{ Beyond(item) }}</li>
                    <li v-for="(item, index) in calendar.dadeDay" :key="index" :class="item==calendar.thatDay?'tap':''"
                        @tap="calendar.covenant[index].active==1?period(item):''"
                        :id="calendar.covenant[index].active==0?'full':''" v-cloak>{{ item }}
                        <div v-if="calendar.covenant[index].active==0">约满</div>
                        <div class="tday" v-if="item==calendar.date[2]&&calendar.covenant[index].active!=0">今天</div>
                    </li>
                </ul>

                <!-- 时间 -->
                <div class="period">
                    <div v-for="(item, index) in calendar.optional" :key="item.id"
                        :class="item.time==calendar.d_time&&calendar.d_data!=''&&calendar.thatDay==calendar.d_data.split('-')[2]?'man':''+''+item.count>0?'':'full'">
                        <span v-show="Number(item.count)<=0" v-cloak>{{ item.time }}</span>
                        <span v-show="Number(item.count)>0" @tap='deter(item)' v-cloak>{{ item.time }}</span>
                        <div class="ti" v-show="item.count<=0">
                            <img src="{$Think.const.PUBLIC_RES}/png/iconic/man.png">
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        'use strict';

        var app = new Vue({
            el: '#app',
            data: {
                // 用户内容
                user: null,
                // 商品信息
                goods_detail: [],
                openid: '',
                // 支付类型
                priceType: '',
                token: '{$__token__}',
                // 数量
                num: 1,
                // 店铺id
                store_id: '',
                // 商品id
                id: '',
                // 备注
                bak: '',
                // 时间
                date: '',
                // 发起状态
                participate: '',
                // 拼团id
                group_id: '',
                // 产品个数
                quantity: 1,
                // 地址信息
                address: [],
                // 阿姨数据
                content: [],
                // 数量时间切换
                switchlist: {
                    // 商品列表
                    data: [],
                },
                // 下标
                numb: '',
                // 是否使用小哥豆
                is_enable: 1,
                // 小哥豆
                enable: 0,
                // 使用多少小哥豆
                bean: 0,
                // 时间日历
                calendar: {
                    // 显示
                    show: 0,
                    // 月天数
                    dadeDay: [],
                    // 星期
                    week: [],
                    // 选中的天数
                    thatDay: Number,
                    // 当前的时间
                    date: [],
                    //  预约时间段
                    period: '',
                    // 显示时间的值
                    showdate: '请选择预约上门时间',
                    // 满约状态
                    covenant: [],
                    // 当天时间段
                    optional: [],
                    // 提交时间
                    d_time: '',
                    // 提交时间段
                    d_data: '',
                    time_part: ''
                }
            },
            computed: {
                // 价格计算
                calculationPrice: function calculationPrice() {
                    var nowPrice;
                    if (this.priceType == 1) {
                        if (this.is_enable == 0) {
                            if (this.user.interval == 1) {
                                nowPrice = Math.floor(this.goods_detail.vipprice * this.quantity * 100) / 100;
                            } else {
                                nowPrice = Math.floor(this.goods_detail.commonprice * this.quantity * 100) / 100;
                            }

                        } else {
                            if (this.user.interval == 1) {
                                nowPrice = Math.floor(this.goods_detail.vipprice * this.quantity * 100 - this.bean * 100) / 100;
                            } else {
                                nowPrice = Math.floor(this.goods_detail.commonprice * this.quantity * 100 - this.bean * 100) / 100;
                            }
                        }
                    } else if (this.priceType == 4) {
                        nowPrice = Math.floor(this.goods_detail.grabprice * this.quantity * 100) / 100;
                    }
                    if (nowPrice < 0) {
                        nowPrice = 0;
                    }
                    return nowPrice;
                }
            },
            created: function created() {
                var that = this;
                this.date = new Date().valueOf();

                // 获取本地的商品信息
                this.goods_detail = JSON.parse(window.localStorage.goods_detail);

                // 判断有无阿姨数据
                if (window.localStorage.auntContent) {
                    this.content = JSON.parse(window.localStorage.auntContent)
                }

                // 获取支付类型
                this.priceType = window.localStorage.priceType;

                // 获取下单数量
                if (window.sessionStorage.quantity) {
                    this.quantity = window.sessionStorage.quantity
                }

                //  获取链接
                if (window.localStorage.goods_id) {
                    // 本地取
                    this.group_id = window.localStorage.group_id;
                    this.id = window.localStorage.goods_id;
                    this.store_id = window.localStorage.store_id;
                    this.participate = window.localStorage.participate;
                } else {
                    // 判断是否是店铺列表进来还是商品列表进来
                    if (decodeURI(location.search).split('&').length == 2) {
                        // 店铺列表进来
                        this.store_id = decodeURI(location.search).split('&')[0].split('=')[1];
                        this.id = decodeURI(location.search).split('&')[1].split('=')[1];
                    } else {
                        // 直接进入商品详情
                        this.store_id = 1;
                        this.id = decodeURI(location.search).split('&')[0].split('=')[1];
                    }
                }

                // 获取类似商品
                // axios.get('/index.php/mapi/commonapi.ajaxcommon/getlike', {
                //     headers: {
                //         'X-Requested-With': 'xmlhttprequest'
                //     },
                //     params: {
                //         name: this.goods_detail.name,
                //         store_id: this.store_id
                //     }
                // }).then(function (res) {
                //     // console.log(res);
                //     that.switchlist.data = res.data.data
                //     // 产品绑定
                //     for (var key in that.switchlist.data) {
                //         if (that.switchlist.data[key].id == that.goods_detail.id) {
                //             that.numb = key
                //             that.quantity = 1
                //         }
                //     }
                // })
                // *********************日期组件处理*******************
                this.dayProcess()
                this.calendar.date = this.formatDateTime(this.date)
                this.calendar.thatDay = this.formatDateTime(this.date)[2];
                this.calendar.period = new Date((this.calendar.date[0] + '-' + this.calendar.date[1] + '-' + this.calendar.date[2]).replace(/-/g, "/")).valueOf();
                this.month = this.formatDateTime(this.date)[1];
                var numtoday = this.calendar.thatDay
                // 获取可预约的时间
                axios.get('/index.php/mapiv2/time/days', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        category: this.goods_detail.cate
                    }
                }).then(function (res) {
                    // console.log(res);
                    that.calendar.covenant = res.data.data
                })
                // 获取当天可预约时间段
                axios.get('/index.php/mapiv2/time', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        category: this.goods_detail.cate,
                        date: this.calendar.date[0] + '-' + this.calendar.date[1] + '-' + this.calendar.date[2]
                    }
                }).then(function (res) {
                    // console.log(res);
                    that.calendar.optional = res.data.data;
                })

                for (var i = 0; i <= 31; i++) {
                    switch (this.calendar.date[1]) {
                        case 1:
                        case 3:
                        case 5:
                        case 7:
                        case 8:
                        case 10:
                            // console.log(1);
                            if (numtoday > 31) {
                                this.month += 1;
                                numtoday = 1;
                            }
                            break;
                        case 12:
                            // console.log(1);
                            if (numtoday > 31) {
                                this.month = 1;
                                numtoday = 1;
                            }
                            break;
                        case 4:
                        case 6:
                        case 9:
                        case 11:
                            // console.log(2);
                            if (numtoday > 30) {
                                this.month += 1;
                                numtoday = 1;
                            }
                            break;
                        case 2:
                            // console.log(3);
                            if (numtoday > 27) {
                                this.month += 1;
                                numtoday = 1;
                            }
                            break;
                    }
                    if (this.month != this.calendar.date[1] && numtoday == this.calendar.thatDay) return false;
                    this.calendar.dadeDay.push(numtoday);
                    numtoday++;
                    if (numtoday == this.calendar.thatDay - 1) return false;
                }
            },
            mounted: function mounted() {
                var that = this;
                // 获取用户内容
                if (window.localStorage.userContent) {
                    that.user = JSON.parse(window.localStorage.userContent)
                    // 判断是否有无小哥豆信息
                    // if (window.localStorage.envelop) {
                    //     this.enable = JSON.parse(window.localStorage.envelop).enable
                    // } else {0.
                    //   小哥豆数据获取
                    axios.get('/index.php/mapiv2/bean', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            uid: that.user.id
                        }
                    }).then(function (res) {
                        that.enable = res.data.data.enable;
                        window.localStorage.setItem('envelop', JSON.stringify(res.data.data))
                    })
                    // }
                } else {
                    this.openid = window.localStorage.openid;
                    axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            openid: this.openid
                        }
                    }).then(function (res) {
                        // console.log(res);
                        that.user = res.data.data;
                        window.localStorage.setItem("userContent", JSON.stringify(that.user));
                        // 判断是否有无小哥豆信息
                        // if (window.localStorage.envelop) {
                        //     this.enable = JSON.parse(window.localStorage.envelop).enable
                        // } else {
                        //   小哥豆数据获取
                        axios.get('/index.php/mapiv2/bean', {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            },
                            params: {
                                uid: that.user.id
                            }
                        }).then(function (res) {
                            that.enable = res.data.data.enable;
                            window.localStorage.setItem('envelop', JSON.stringify(res.data.data))
                        })
                        // }
                    });
                }
                that.nowbean();
                // 获取服务地址信息
                // if (window.sessionStorage.address) {
                //     this.address = JSON.parse(window.sessionStorage.address);
                // } else {
                axios.get('/index.php/mapiv2/address/rest', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    for (var i = 0; i < res.data.data.data.length; i++) {
                        if (res.data.data.data[i].is_default == 1) {
                            that.address = res.data.data.data[i]
                            window.sessionStorage.setItem('address', JSON.stringify(that.address))
                        }
                    }
                });
                // }

                // 判断是否有时间
                if (window.sessionStorage.showdate) {
                    this.calendar.showdate = window.sessionStorage.showdate
                    this.calendar.thatDay = window.sessionStorage.showdate.split('周')[0].split('-')[2]
                    this.period(this.calendar.thatDay)
                    this.calendar.d_time = window.sessionStorage.showdate.split('周')[1].substr(1, 20)
                    var date = this.formatDateTime(this.calendar.period)
                    this.calendar.d_data = date[0] + '-' +
                        date[1] + '-' +
                        date[2];
                    // 获取当天可预约时间段
                    axios.get('/index.php/mapiv2/time', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            category: this.goods_detail.cate,
                            date: this.calendar.d_data
                        }
                    }).then(function (res) {
                        // console.log(res);
                        that.calendar.optional = res.data.data;
                    })
                }
            },
            methods: {
                // 下单
                order: function order(i) {
                    var that = this;
                    var url = JSON.parse(window.sessionStorage.goods_url);
                    if (url.jj) {
                        var jj = url.jj;
                    } else {
                        var jj = '';
                    }
                    if (this.goods_detail.is_scan == 1) {
                        if (url.event) {
                            var event = url.event;
                        } else {
                            var event = 'storescan';
                        }
                    } else {
                        var event = "";
                    }
                    if (this.goods_detail.cate == 5) {
                        // 正常下单
                        if (this.quantity == 0) {
                            mui.toast('请输入金额', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            return false;
                        }
                        // if (this.address == '') {
                        //     mui.toast('请选择地址', {
                        //         duration: '1000ms',
                        //         type: 'div'
                        //     });
                        //     return false;
                        // }
                        if (!(/^.{0,50}$/.test(this.bak))) {
                            mui.toast('留言最多50个字符', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            return false;
                        }
                        if (this.calculationPrice == 0) {
                            mui.toast('参数错误', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            return false;
                        }
                        if (this.is_enable == 1) {
                            var bean = this.bean
                        } else {
                            var bean = null
                        }
                        //店铺支付
                        //var areaid = this.address.region.split(',')[2]
                        axios.post('/index.php/mapi/order/rest', {
                            __token__: this.token,
                            bak: this.bak,
                            goodsid: this.goods_detail.id,
                            uid: this.user.id,
                            store_id: this.store_id,
                            num: this.quantity,
                            // address: this.address.address,
                            // areaid: areaid,
                            cate_id: this.goods_detail.cate,
                            bean: bean,
                            // address_id: this.address.id,
                            platform_code: jj,
                            event: event
                        }, {
                                headers: {
                                    'X-Requested-With': 'xmlhttprequest'
                                }
                            }).then(function (res) {
                                if (res.data.code == 1) {
                                    mui.toast('下单成功', {
                                        duration: '1000ms',
                                        type: 'div'
                                    });
                                    window.sessionStorage.setItem('expire', 0);
                                    window.localStorage.setItem('priceType', 1);
                                    window.sessionStorage.setItem('orderid', res.data.data.cache.orderid);
                                    window.localStorage.removeItem('auntContent');
                                    window.localStorage.setItem('orderId', res.data.data.data.data.id);
                                    window.location.href = res.data.data.url + '?id=' + res.data.data
                                        .data
                                        .data.id;
                                } else {
                                    window.location.reload();
                                }
                            });
                    } else {
                        if (this.priceType == 1) {
                            // 正常下单
                            if (this.quantity == 0) {
                                mui.toast('请输入正确数量', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                return false;
                            }
                            if (this.address == '') {
                                mui.toast('请选择地址', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                return false;
                            }
                            if (!this.calendar.d_time) {
                                mui.toast('请选择预约时间', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                return false;
                            }
                            if (!(/^.{0,50}$/.test(this.bak))) {
                                mui.toast('留言最多50个字符', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                return false;
                            }
                            if (Math.floor(this.goods_detail.commonprice * this.quantity * 100 - this.bean * 100) / 100 == 0) {
                                mui.toast('参数错误', {
                                    duration: '1000ms',
                                    type: 'div'
                                });
                                return false;
                            }
                            if (this.is_enable == 1) {
                                var bean = this.bean
                            } else {
                                var bean = null
                            }
                            var url = JSON.parse(window.sessionStorage.goods_url);
                            if (url.jj) {
                                var jj = url.jj;
                            } else {
                                var jj = '';
                            }
                            var areaid = this.address.region.split(',')[2]
                            axios.post('/index.php/mapi/order/rest', {
                                __token__: this.token,
                                bak: this.bak,
                                goodsid: this.goods_detail.id,
                                uid: this.user.id,
                                store_id: this.store_id,
                                num: this.quantity,
                                // address: this.address.address,
                                // areaid: areaid,
                                d_time: this.calendar.d_time,
                                d_data: this.calendar.d_data,
                                sfuserid: this.content.id,
                                time_part: this.time_part,
                                cate_id: this.goods_detail.cate,
                                bean: bean,
                                address_id: this.address.id,
                                platform_code: jj,
                                event: event
                            }, {
                                    headers: {
                                        'X-Requested-With': 'xmlhttprequest'
                                    }
                                }).then(function (res) {
                                    if (res.data.code == 1) {
                                        mui.toast('下单成功', {
                                            duration: '1000ms',
                                            type: 'div'
                                        });
                                        window.sessionStorage.removeItem('expire');
                                        window.localStorage.setItem('priceType', 1);
                                        window.sessionStorage.setItem('orderid', res.data.data.cache.orderid);
                                        window.localStorage.removeItem('auntContent');
                                        window.localStorage.setItem('orderId', res.data.data.data.data.id);
                                        window.location.href = res.data.data.url + '?id=' + res.data.data
                                            .data
                                            .data.id;
                                    } else {
                                        mui.toast('下单失败', {
                                            duration: '1000ms',
                                            type: 'div'
                                        });
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 1000);
                                    }
                                });
                        } else if (this.priceType == 4) {
                            if (that.participate == 2) {
                                // 参与拼团
                                axios.post('/index.php/mapiv2/groupdetails/rest', {
                                    group_id: that.group_id,
                                    uid: that.user.id,
                                    goodsid: that.id,
                                    bak: that.bak,
                                    store_id: that.store_id
                                }, {
                                        headers: {
                                            'X-Requested-With': 'xmlhttprequest'
                                        }
                                    }).then(function (res) {
                                        // console.log(res);
                                        if (res.data.msg == '请求成功') {
                                            window.localStorage.setItem('priceType', 4);
                                            window.localStorage.setItem('participate', 0);
                                            window.location.href = res.data.data.url + '?id=' + res.data
                                                .data
                                                .data.data.id;
                                        } else {
                                            mui.toast(res.data, {
                                                duration: '1000ms',
                                                type: 'div'
                                            });
                                        }
                                    });
                            } else {
                                // 拼团
                                this.shouldpay = this.goods_detail.grabprice;
                                this.actualpay = this.goods_detail.grabprice;
                                axios.post('/index.php//mapiv2/assemble/rest', {
                                    __token__: this.token,
                                    shouldpay: this.shouldpay,
                                    actualpay: this.actualpay,
                                    bak: this.bak,
                                    goodsid: this.id,
                                    uid: this.user.id,
                                    store_id: this.store_id,
                                    num: this.num
                                }, {
                                        headers: {
                                            'X-Requested-With': 'xmlhttprequest'
                                        }
                                    }).then(function (res) {
                                        // console.log(res);
                                        window.localStorage.setItem('group_id', res.data.data.data.data
                                            .group_id);

                                        if (res.data.msg == '请求成功') {
                                            window.localStorage.setItem('priceType', 4);
                                            window.location.href = res.data.data.url + '?id=' + res.data
                                                .data
                                                .data.data.id;
                                        } else {
                                            window.location.reload();
                                        }
                                    });
                            }
                        }
                    }
                },
                await: function await() {
                    window.location.href = '/index.php/mobile/order/await/' + this.date + '/';
                },
                // 获取时间的每个键
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    var h = date.getHours();
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return [
                        y = y,
                        m = m,
                        d = d,
                        h = h,
                        minute = minute,
                        second = second
                    ]
                },
                // 获取星期的空
                dayProcess: function dayProcess() {
                    var week = Number("1234567".charAt(new Date().getDay()))
                    for (var i = 1; i < week; i++) {
                        this.calendar.week.push(i)
                    }
                    this.calendar.week = this.calendar.week.reverse()
                },
                // 日期点击
                period: function period(item) {
                    var that = this;
                    var period;
                    var time;
                    if (item >= this.calendar.date[2]) {
                        time = this.calendar.date[0] + '-' + this.calendar.date[1] + '-' + item
                        period = new Date(time.replace(/-/g, "/")).valueOf();
                    }
                    if (item < this.calendar.date[2]) {
                        time = this.calendar.date[0] + '-' + (this.calendar.date[1] + 1) + '-' + item
                        period = new Date(time.replace(/-/g, "/")).valueOf();
                    }
                    this.calendar.thatDay = item;
                    this.calendar.period = period;
                    // 获取当天可预约时间段
                    axios.get('/index.php/mapiv2/time', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            category: this.goods_detail.cate,
                            date: time
                        }
                    }).then(function (res) {
                        // console.log(res);
                        that.calendar.optional = res.data.data;
                    })
                },
                // 处理1号前日期为负的情况
                Beyond: function Beyond(item) {
                    var day = this.calendar.date[2] - item;
                    if (day <= 0) {
                        console.log(day);
                        console.log(item);
                        switch (this.calendar.date[1] - 1) {
                            case 1:
                            case 3:
                            case 5:
                            case 7:
                            case 8:
                            case 10:
                            case 12:
                                day = (this.calendar.date[2] + 31) - item;
                                break;
                            case 4:
                            case 6:
                            case 9:
                            case 11:
                                day = (this.calendar.date[2] + 30) - item;
                                break;
                            case 2:
                                day = (this.calendar.date[2] + 27) - item;
                                break;
                        }
                    }
                    return day
                },
                // 日期显示
                deter: function deter(res) {
                    var date;
                    var week = "日一二三四五六".charAt(new Date(this.calendar.period).getDay())
                    date = this.formatDateTime(this.calendar.period)
                    if (res.count > 0) {
                        this.calendar.showdate = date[0] + '-' +
                            date[1] + '-' +
                            date[2] + '周' + week + res.time;
                        this.calendar.show = 0
                        window.sessionStorage.setItem('showdate', this.calendar.showdate)
                    } else {
                    }
                    this.calendar.d_data = date[0] + '-' +
                        date[1] + '-' +
                        date[2]
                    this.calendar.d_time = res.time
                    this.calendar.time_part = res.part
                },
                // 分类数量时间文案
                cate: function cate() {
                    this.goods_detail = this.switchlist.data[this.switchlist.num]

                },
                rember: function rember() {
                    this.content = '';
                    window.localStorage.removeItem('auntContent');
                },
                nowbean: function nowbean() {
                    var that = this;
                    this.quantity = Math.ceil(this.quantity);
                    // if (this.is_enable == 1) {
                        axios.get('/index.php/mobileapi/v2.Bean/GetBean', {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            },
                            params: {
                                uid: that.user.id,
                                num: that.quantity,
                                goodsid: that.id
                            }
                        }).then(function (res) {
                            that.bean = res.data.data;
                        })
                    // }
                }
                // 小哥豆使用多少
                // enablebean: function enablebean() {
                //     if (this.priceType == 1 && this.user.interval != 1 && this.enable <= Math.floor(this.goods_detail.commonprice * this.quantity * 100) / 200 && this.is_enable == 1) {
                //         this.bean = this.enable
                //     } else if (this.priceType == 1 && this.user.interval != 1 && this.enable > Math.floor(this.goods_detail.commonprice * this.quantity * 100) / 200 && this.is_enable == 1) {
                //         this.bean = Math.floor(this.goods_detail.commonprice * this.quantity * 100 / 2) / 100
                //     } else if (this.user.interval == 1 && this.priceType == 1 && this.enable <= Math.floor(this.goods_detail.vipprice * this.quantity * 100) / 200 && this.is_enable == 1) {
                //         this.bean = this.enable
                //     } else if (this.user.interval == 1 && this.priceType == 1 && this.enable > Math.floor(this.goods_detail.vipprice * this.quantity * 100) / 200 && this.is_enable == 1) {
                //         this.bean = Math.floor(this.goods_detail.vipprice * this.quantity * 100 / 2) / 100
                //     }
                // }
            },
            // updated: function updated() {
            // this.enablebean();
            // },
            watch: {
                // 深度 watcher
                // 产品数量
                quantity: {
                    handler: function handler(val, oldVal) {
                        var that = this;
                        if (this.quantity < 0) {
                            this.quantity = 0;
                        }
                        window.sessionStorage.setItem('quantity', this.quantity)
                        that.nowbean();
                    },
                    deep: true
                },
                numb: {
                    handler: function handler(val, oldVal) {
                        this.goods_detail = this.switchlist.data[this.numb];
                    },
                    deep: true
                },
                // goods_detail: {
                //     handler: function handler(val, oldVal) {
                //         // this.enablebean();
                //     },
                //     deep: true
                // },
            }
        });
    </script>
</body>

</html>