<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小哥帮</title>
    <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/order/record.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
    <!-- 头部 -->
    <div class="home">
        <div class="header">
            <a href="javascript:history.go(-1)">
                <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
            </a>
            <span>小哥豆记录</span>
        </div>
    </div>
    <div id="app">
        <ul>
            <li v-for="(item, index) in list" :key="item.id">
                <div class="imS">
                    <img :src="item.pic=='' ? '/resource/png/iconic/toux.png' : item.pic" alt="">
                </div>
                <div class="red">
                    <div v-cloak>{{ item.source }}</div>
                    <p v-cloak>{{ item.transaction_ime }}</p>
                </div>
                <div class="laddie">
                    <div v-cloak>{{ item.amount }}</div>
                    <div v-if="item.type==2">消费抵扣</div>
                    <div v-if="item.type==1">小哥豆提取</div>
                    <div v-if="item.type==3">红包领取</div>
                    <div v-if="item.type==4">消费返现</div>
                    <div v-if="item.type==5">红包领取</div>
                </div>
            </li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 用户数据
                user: [],
                // 红包记录
                list: []
            },
            created() {
                var that = this;
                // 用户数据
                this.user = JSON.parse(window.localStorage.userContent)
                // 请求记录
                axios.get('/index.php/mapiv2/bean/listing', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id,
                        limit: ''
                    }
                }).then(function (res) {
                    that.list = res.data.data
                })
            },
        })
    </script>

</body>

</html>