<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>追加付款</title>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/pay/center_pay.css?{$Think.config.fastadmin['v_api']}">
</head>

<body>
  {include file="common/alerthb" /}
  <div id="app">
    <!--<div class="top">
      <div class="return">
        <a href="javascript:history.go(-1)">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png">
        </a>
      </div>
      追加付款
    </div>-->
    <div class="header mui-row">
      <div class="header_right mui-col-sm-6 mui-col-xs-6">
        <div :class="payment== 3?'lok':''" @click='payment=3'>
          订单追加付款
        </div>
      </div>
      <div class="header_left mui-col-sm-6 mui-col-xs-6">
        <div :class="payment== 2?'lok':''" @click='payment=2'>
          自定义追加付款
        </div>
      </div>
    </div>
    <div class="box">
      <!-- 追加付款 -->
      <div class="append" v-show="payment==3" v-cloak>
        <!-- <div class="order_name mui-row rowtop">
          <span class="mui-col-sm-3 mui-col-xs-3 number">订单编号 : </span>
          <div class="chooseDiv">
            <i class="chooseI" @click="_openPop()">{{text}}</i>
            <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icon/down.png">
          </div>
        </div> -->
        <div class="chooseOrderItem marginTop" @click="_openPop()">
          <div class="chooseTit">选择订单</div>
          <div class="chooseCon">
            <div class="chooseOrderName overflow">{{text}}</div>
            <img class="rightIcon" src="{$Think.const.PUBLIC_RES}/png/iconic/fh.png">
          </div>
        </div>


        <div class="orderDetailBox" v-if='!choose==""' v-cloak>
          <div class="orderName overflow">{{ order.goods_name }}：{{ order.snorder }}</div>
          <div class="orderGoodsBox">
            <img class="chooseOrderImg" :src="'/'+order.goods.pic">
            <div class="chooseOrderImgRight">
              <div class="chooseOrderStore"><div>店铺名称：</div><span>{{order.store.nickname}}</span></div>
              <div class="chooseOrderPay"><div>实付款：</div><span>¥{{append(order)}}</span></div>
              <div class="chooseOrderCreatetime"><div>下单时间：</div><span>
                {{ new Date(order.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span></div>
            </div>
          </div>
        </div>

        <!-- <div class="show mui-row" v-if='!choose==""' v-cloak>
          <div class="left mui-col-sm-5 mui-col-xs-5">
            <img :src="'/'+order.goods.pic">
          </div>
          <div class="right mui-col-sm-7 mui-col-xs-7">
            <h4 v-cloak>商品名称:{{ order.goods_name }}</h4>
            <div class="identifier">
              <span v-cloak>编号:{{ order.snorder }}</span>
            </div>
            <div class="shop">
              <span v-cloak>店铺名称:{{ order.store.nickname }}</span>
            </div>
            <div class="payment">
              <span>实付款: &nbsp;&nbsp;</span>
              <span v-cloak>¥{{ append(order) }}</span>
            </div>
            <div class="order">
              <span v-cloak>下单时间: &nbsp;&nbsp;{{ new
                Date(order.create_time*1000).toLocaleDateString().replace(/\//g,"-") }}</span>
            </div>
            <div class="completed" v-show="order.card.times==0">
              <img src="{$Think.const.PUBLIC_RES}/png/icon/complete.png">
            </div>
          </div>
        </div> -->
        <!-- <div class="order mui-row">
          <span class="sum">追加金额 : </span>
          <div class="mui-col-sm-9 mui-col-xs-9 amount">
            <input type="number" v-model="price">
          </div>
        </div> -->

        <div class="chooseOrderItem marginBottom">
            <div class="chooseTit">追加金额</div>
            <div class="chooseCon">
              <div class="chooseOrderName overflow">
                <input 
                  class="priceOne"
                  v-model="price"
                  type="number"
                  placeholder="请输入金额"/>
              </div>
              <img style="opacity:0" class="rightIcon" src="{$Think.const.PUBLIC_RES}/png/iconic/fh.png">
            </div>
          </div>


        <div class="textAreaBox">
          <span>&nbsp;&nbsp;&nbsp;&nbsp;备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</span>
          <textarea v-model="bat2" cols="30" rows="10"></textarea>
        </div>
        <div class="useBeanBox" @click="_useBean">
          <div class="quanBox">
            <div v-show="!useBean" class="beanQuan"></div>
            <img v-show="useBean" class="beanQuan2" src="{$Think.const.PUBLIC_RES}/png/iconic/gouxuan.png">
          </div>
          <span>{{effective_bean}}小哥豆可用，使用{{disBean}}小哥豆抵扣{{disBean}}</span>
        </div>
        <div class="tips">使用小哥豆最多抵扣50%</div>
        <div class="submit" @click='_createOrder()'>
          <!--<button @click='refer'>确定付款</button>-->
          确定付款
          <!-- <a :href="'/index.php/mobile/pay/auth/id/5/type/'+payment+'/money/'+price+'/append_order/'+append_order">确定支付</a> -->
        </div>
      </div>

      <!-- 自定义付款 -->
      <div class="customize" v-show="payment==2" v-cloak>
        <!-- <div class="order mui-row">
                <span class="mui-col-sm-3 mui-col-xs-3">商品分类 : </span>
                <select class="mui-col-sm-9 mui-col-xs-9">
                    <option value="">全部</option>
                    <option :value="item.id" v-for="(item, index) in classification" :key="item.id">{{ item.name }}</option>
                </select>
            </div> -->
        <div class="mui-row">
          <span class="mui-col-sm-3 mui-col-xs-3 money">追加金额 : </span>
          <div class="mui-col-sm-9 mui-col-xs-9">
            <input class=" amoun" type="number" v-model="money">
          </div>
        </div>
        <div class="order mui-row">
          <span class="remark">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注 : </span>
          <div class="mui-col-sm-9 mui-col-xs-9 remarks">
            <textarea v-model="bat"></textarea>
          </div>
        </div>
        <div class="submit" @click='customize'>确定付款</div>
      </div>
    </div>
    <!-- 订单选择弹窗 -->
    <div class="popDivBg" v-show="showPop" @touchmove.prevent @click="_closePop()"></div>
    <div class="popDivBox" v-show="showPop">
      <div class="popHeader" @touchmove.prevent>选择订单</div>
      <div class="scrollBox">
        <!-- loop -->
        <div class="popItem" @click="chooseOrder(item,index)" v-for="(item, index) in orderList" :key="item.id" v-cloak>
          <div class="popTop">
            <div class="popQuanBox">
              <div class="popCheckBox">
                <span v-show="orderIndex != index" class="quan"><img
                    src="{$Think.const.PUBLIC_RES}/png/share/g.png"></span>
                <span v-show="orderIndex == index" class="quan"><img
                    src="{$Think.const.PUBLIC_RES}/png/share/c.png"></span>
              </div>
              <div>{{item.snorder}}</div>
            </div>
            <div class="popTime">{{new Date(item.update_time*1000).toLocaleDateString().replace(/\//g,"-") }}</div>
          </div>
          <div class="popBottom">
            <image :src="'/'+item.goods.pic"></image>
            <div class="popImgRight">
              <span class="popGoodsName overflow">{{item.goods_name}}</span>
              <div class="popGoodsPrice">￥{{ append(item) }}</div>
            </div>
          </div>
        </div>
        <!-- loop end -->
      </div>
    </div>
  </div>

  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        // 判断是追加付款还是自定义付款
        payment: 3,
        // 用户详情
        user: [],
        // 下拉框的订单列
        orderList: [],
        // 选中的订单
        order: [],
        // 选取第几个
        choose: '',
        // 分类列表
        // classification: [],
        //追加价格
        price: '',
        // 订单id
        append_order: '',
        // 备注
        bat: '',
        //订单追加付款备注
        bat2: '',
        // 自定义价格
        money: '',
        openid: '',
        //显示弹窗
        showPop: false,
        orderIndex: 'xxx',
        text: '请选择',
        useBean: true,
        userpaym: '',
        orderid: '',
        disBean: 0,
        effective_bean: 0,
        //最后实际支付的金额
        actualpayNum: 0

      },
      methods: {

        //选择追加的订单
        chooseOrder: function (item, index) {
          var that = this;
          that.text = item.goods_name;
          that.choose = 'xxx'
          that.orderIndex = index;
          that.showPop = false;
          that.order = item;
          that.orderid = item.id;
          that._jisuan();
          that.append_order = item.id;
        },
        // 追加
        append1: function append1(data) {
          var a = 0;
          for (var i in data) a += data[i].total_fee - 0;
          return (a / 100).toFixed(2);
        },
        append: function append(row) {
          var money = this.append1(row.extrorder)
          return (Number(money) * 100 + Number(row.actualpay) * 100) / 100
        },
        refer: function refer() {
          if (this.append_order == '') {
            mui.toast('请选择订单', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (this.price == '') {
            mui.toast('请填写价格', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          window.localStorage.setItem('priceType', 3);
          window.localStorage.setItem('customizeMoney', this.price);
          window.localStorage.setItem('goods_detail', JSON.stringify(this.order));
          window.location.href = '/index.php/mobile/pay/auth/id/5/type/' + this.payment + '/money/' + this.price +
            '/append_order/' + this.append_order;
        },
        customize: function customize() {
          if (this.money == '') {
            mui.toast('请填写金额', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (this.strlen(this.bat) <= 0) {
            mui.toast('请输入备注', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (this.strlen(this.bat)<4||this.strlen(this.bat) > 26) {
            mui.toast('最多输入13个字', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (this.money <= 0.1) {
            mui.toast('最低支付0.1元', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          window.localStorage.setItem('customizeMoney', this.money);
          window.localStorage.setItem('priceType', 2);
          var note = encodeURI(this.bat);
          var url = '/index.php/mobile/pay/auth/id/5/type/' + this.payment + '/money/' + this.money + '/note/' +
            note;
          window.location.href = url;
        },
        strlen: function strlen(str) {
          var len = 0;
          for (var i = 0; i < str.length; i++) {
            var c = str.charCodeAt(i);
            //单字节加1
            if ((c >= 0x0001 && c <= 0x007e) || (0xff60 <= c && c <= 0xff9f)) {
              len++;
            } else {
              len += 2;
            }
          }
          return len;
        },

        //根据输入的金额计算能用的小哥豆
        _jisuan: function _jisuan() {
          var that = this;
          var price = that.price;
          if(price<1){
            that.disBean = 0;
            return false
          }
          axios.post('/index.php/mobileapi/v2.Bean/disMoney', {
            uid: that.user.id,
            userpaym: that.price,
            orderid: that.orderid,
          }, {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              }
            }).then(function (res) {
              that.disBean = res.data.data;
            });
        },

        //预支付生成订单
        _createOrder: function _createOrder() {
          var that = this;
          var orderid = that.orderid;
          if(!orderid){
            mui.toast('请选择订单', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          var price = that.price;
          if (price == '') {
            mui.toast('请填写金额', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (price < 1) {
            mui.toast('最低支付1元', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          var bean = '';
          var note  = that.bat2;
          if (note.length<=0) {
            mui.toast('请输入备注', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (note.length<2||note.length>26) {
            mui.toast('备注为2-26个字', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          if (that.useBean) {
            bean = 1
          } else {
            bean = ''
          }
          axios.post('/index.php/mobileapi/v2.Virdiscount/AppendDis', {
            userpaym: price,
            orderid: orderid,
            bean: bean,
            note:note,
            uid: that.user.id
          }, {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              }
            }).then(function (res) {

            window.location.href = '/index.php/mobile/pay/auth/type/3/append_order/'+that.orderid+'/wantpay_id/'+res.data.data.id
            });
        },

        //选择是否使用小哥豆
        _useBean: function () {

          if (this.useBean) {
            this.useBean = false
          } else {
            this.useBean = true
          }
        },

        //关闭弹窗
        _closePop: function () {
          var that = this;
          that.showPop = false;
        },
        //显示弹窗
        _openPop: function () {
          var that = this;
          that.showPop = true;
        },
      },
      created: function created() {

        var that = this;
        // 获取用户内容
        if (window.localStorage.getItem('userContent')) {
          this.user = JSON.parse(window.localStorage.getItem('userContent'));
        } else {
          this.openid = window.localStorage.openid;
          axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              openid: that.openid
            }
          }).then(function (res) {
            that.user = res.data.data;
            var userContent = JSON.stringify(that.user);
            window.localStorage.setItem("userContent", userContent);
          });
        }

        // 获取用户所有订单
        axios.get('/index.php/mapi/order/rest', {
          params: {
            uid: this.user.id
          }
        }).then(function (res) {
          // console.log(res);
          that.orderList = res.data.data.data;
        });
        // 获取分类
        // axios.get('/index.php/mapi/Category/getall', {
        //     headers: {
        //         'X-Requested-With': 'xmlhttprequest'
        //     }
        // }).then(res => {
        //     console.log(res);
        //     this.classification = res.data.data
        // })
        that.effective_bean = that.user.bean.effective_bean
      },

      watch: {
        //监听输入金额变化
        price(newval) {
          if (this.orderid) {
            this._jisuan()
          }
        }
        // 深度 watcher
        // choose: {
        //   handler: function handler(val, oldVal) {
        //     if (this.choose == '') {
        //       this.order = '';
        //       this.append_order = ''
        //     } else {
        //       this.order = this.orderList[this.choose - 1];
        //       this.append_order = this.orderList[this.choose - 1].id;
        //     }
        //   },
        //   deep: true
        // }
      }
    });
  </script>
</body>

</html>