<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付成功</title>

    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/pay/pay_succeed.css?{$Think.config.fastadmin['v_api']}">
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <!-- <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <span>支付成功</span>
            <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/register.png" />
        </div> -->


        <!-- 支付成功 -->
        <!-- <div class="succeed">
            <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/correct.png" />
            <span>支付成功，等待服务人员接单...</span>
        </div> -->


        <!-- 订单消息 -->
        <!-- <div class="news">
            <h4>订单信息</h4>
            <div>
                <span class="dise">商品名称 :</span>
                <span class="everyday" v-show="priceType == 1 || priceType == 4" v-cloak>{{ goods_detail.name }}</span>
                <span class="everyday" v-show="priceType == 2 " v-cloak>自定义支付</span>
                <span class="everyday" v-show="priceType == 3 " v-cloak>订单追加</span>
            </div>
            <div>
                <span class="dise">商品价格 :</span>
                <span class="everyday" v-show="priceType == 1" v-cloak>￥{{ goods_detail.commonprice }}</span>
                <span class="everyday" v-show="priceType == 4" v-cloak>￥{{ goods_detail.grabprice }}</span>
                <span class="everyday" v-show="priceType == 2 || priceType == 3" v-cloak>{{ customizeMoney }}</span>

            </div>
            <div>
                <span class="dise">服务地址 :</span>
                <span class="everyday" v-if="address!=''" v-cloak>{{ address.address }}</span>
            </div> -->
        <!-- <div>
                <span class="dise">服务时间 :</span>
                <span class="everyday">2019年11月28日</span>
            </div> -->
        <!-- </div> -->


        <!-- 底部咨询客服信息 -->
        <!-- <div class="news-s">
            <p>感谢您选择小哥帮！</p>
            <p>服务人员会在2小时内与您联系，请保持手机畅通</p>
            <a href="tel:4008185088">
                <p>客服热线 : 400-8185-088</p>
            </a>
            <p v-show="priceType == 4" v-cloak><span>{{ time }}</span>秒后自动跳转</p>
            <p v-show="priceType == 1" v-cloak><span>{{ time }}</span>秒后自动跳转</p>
            <p v-show="priceType == 2 || priceType == 3" v-cloak><span>{{ time }}</span>秒后自动跳转</p>
        </div> -->


        <!-- 查看订单按钮 -->
        <!-- <div class="button">
            <div class="confirm">
                <span v-show="priceType == 1" @tap='order'>立即跳转</span>
                <span v-show="priceType == 4" @tap='jump'>立即跳转</span>
                <span v-show="priceType == 2 || priceType == 3" @tap='userjump'>立即跳转</span>
            </div>
            <div class="confirms">
                <span @tap='index'>返回首页</span>
            </div>
        </div> -->
        <div class="header">
            <p>等待服务人员接单</p>
            <img src="{$Think.const.PUBLIC_RES}/png/share/pay_succeed.png" alt="">
            <p class="tit">订单支付成功</p>
            <p class="price" v-show="priceType == 1" v-cloak><span>¥</span>{{ commonprice }}</p>
            <p class="price" v-show="priceType == 4" v-cloak><span>¥</span>{{  goods_detail.grabprice }}</p>
            <p class="price" v-show="priceType == 2 || priceType == 3" v-cloak><span>¥</span>{{ customizeMoney }}</p>
            <span class="Description">
                评论之后会员返现100%，非会员返现50%
                每天签到领取红包返现
            </span>
        </div>
        <div class="btn">
            <div class="left" @tap='order'>
                <span>查看订单</span>
            </div>
            <div class="right" @tap='index'>
                <span>返回首页</span>
            </div>
        </div>
        <!-- 会员广告 -->
        <div class="member" @tap='jumpvip'>
            <img class="member_img" src="{$Think.const.PUBLIC_RES}/png/share/pay_wenan.png">
            <!-- <div class="member_box">
                <div class="member_ab">
                    <div class="member_tit">
                        <span>VIP会员特权</span>
                    </div>
                    <p>会员返现100%，非会员返现50%</p>
                    <div class="privilege">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="Join" @tap='jumpvip'>
            <span>立即加入</span>
        </div>
    </div>

</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>


<script>
    "use strict";

    var app = new Vue({
        el: "#app",
        data: {
            // 商品详情
            goods_detail: [],
            // 支付类型
            priceType: '',
            // 时间戳
            date: '',
            // 用户数据
            user: [],
            time: 3,
            // 订单id
            orderId: '',
            // 自定义价格
            customizeMoney: "",
            // 地址
            address: '',
            commonprice: ''
        },
        // 事件
        // 初始化后
        created: function created() {
            var that = this;
            //   console.log(window.localStorage.store);
            // this.header = JSON.parse(window.localStorage.store);
            //   console.log(this.header);
            // 本地获取数据
            if (window.localStorage.goods_detail) {
                this.goods_detail = JSON.parse(window.localStorage.goods_detail);
            }
            // 本地获取数据
            if (window.sessionStorage.commonprice) {
                this.commonprice = JSON.parse(window.sessionStorage.commonprice);
            }

            if (window.localStorage.customizeMoney) {
                this.customizeMoney = window.localStorage.customizeMoney;
                console.log(this.customizeMoney);
            }

            this.user = JSON.parse(window.localStorage.userContent);
            this.priceType = window.localStorage.priceType;
            this.orderId = window.localStorage.orderId;
            this.orderId = window.localStorage.orderId;
            // if (window.sessionStorage.address) {
            //     this.address = JSON.parse(window.sessionStorage.address);
            // }

            this.date = new Date().valueOf();
            window.sessionStorage.removeItem('expire');

            // if (this.priceType == 4) {
            //     setInterval(function () {
            //         that.time--;
            //         if (that.time == 0) {
            //             that.time = 0;
            //             window.sessionStorage.removeItem('address');
            //             window.sessionStorage.removeItem('showdate');
            //             window.sessionStorage.removeItem('quantity');
            //             window.location.href = "/index.php/mobile/fightgroup/group_order/";
            //         }
            //     }, 1000);
            // } else if (this.priceType == 1) {
            //     setInterval(function () {
            //         that.time--;
            //         if (that.time == 0) {
            //             that.time = 0;
            //             window.sessionStorage.removeItem('address');
            //             window.sessionStorage.removeItem('showdate');
            //             window.sessionStorage.removeItem('quantity');
            //             window.location.href = "/index.php/mobile/user/index/";
            //         }
            //     }, 1000);
            // } else if (this.priceType == 2 || this.priceType == 3) {
            //     setInterval(function () {
            //         that.time--;
            //         if (that.time == 0) {
            //             that.time = 0;
            //             window.sessionStorage.removeItem('address');
            //             window.sessionStorage.removeItem('showdate');
            //             window.sessionStorage.removeItem('quantity');
            //             window.location.href = "/index.php/mobile/user/index/";
            //         }
            //     }, 1000);
            // }
        },
        methods: {
            jump: function jump() {
                window.sessionStorage.removeItem('address');
                window.sessionStorage.removeItem('showdate');
                window.sessionStorage.removeItem('quantity');
                window.location.href = "/index.php/mobile/fightgroup/group_order/";
            },
            order: function order() {
                window.sessionStorage.removeItem('address');
                window.sessionStorage.removeItem('showdate');
                window.sessionStorage.removeItem('quantity');
                window.location.href = "/index.php/mobile/order/number/";
            },
            index: function index() {
                window.sessionStorage.removeItem('address');
                window.sessionStorage.removeItem('showdate');
                window.sessionStorage.removeItem('quantity');
                window.location.href = "/index.php/mobile/index/index/";
            },
            userjump: function userjump() {
                window.sessionStorage.removeItem('address');
                window.sessionStorage.removeItem('showdate');
                window.sessionStorage.removeItem('quantity');
                window.location.href = "/index.php/mobile/user/index/";
            },
            jumpvip: function jumpvip() {
                window.location.href = "/index.php/mobile/vip/index/";
            }
        }
    });
</script>

</html>