<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>支付失败</title>

  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/pay/pay_come.css?{$Think.config.fastadmin['v_api']}">
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img class="imgs" src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <span>支付失败</span>
      <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/register.png" />
    </div>


    <!-- 支付成功 -->
    <div class="succeed">
      <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/wrong.png" />
      <span>最后一步出了点问题，重新支付...</span>
    </div>


    <!-- 中间部分 -->
    <div class="img-no">
      <img class="img-s" src="{$Think.const.PUBLIC_RES}/png/icons/not.png" />
      <p>不行，我还要再来一次...</p>
    </div>


    <!-- 底部咨询客服信息 -->
    <div class="news-s">
      <p>非常抱歉，此次支付失败！</p>
      <p>请检查手机网络状态或者联系客户！</p>
      <a href="tel:4008185088">
        <p>客服热线 : 400-8185-088</p>
      </a>
    </div>


    <!-- 查看订单按钮 -->
    <div class="button">
      <div class="confirm">
        <!-- <span @tap='order' v-if="vip==0">查看订单</span> -->
        <span @tap='VIP' v-if="vip==1">返回会员购买</span>
      </div>
      <div class="confirms">
        <span @tap='index'>返回首页</span>
      </div>
    </div>
  </div>

</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>


<script>
  "use strict";

  new Vue({
    el: "#app",
    data: {
      date: '',
      // 支付类型
      priceType: '',
      vip: ''
    },
    // 事件
    methods: {
      order: function () {
        window.location.href = "/index.php/mobile/user/index/"
      },
      index: function () {
        window.location.href = "/index.php/mobile/index/index/"
      },
      VIP: function () {
        window.location.href = "/index.php/mobile/vip/index/"
      }
    },
    // 初始化后
    created: function created() {
      this.date = new Date().valueOf();
      if (window.localStorage.vipOrder) {
        this.vip = window.localStorage.vipOrder
        if (window.localStorage.vipOrder == 1) {
          window.localStorage.vipOrder = 0
        }
      }
      window.sessionStorage.removeItem('expire');
      window.localStorage.removeItem('address');
      window.sessionStorage.removeItem('showdate');
      window.sessionStorage.removeItem('quantity');
    }
  });
</script>

</html>