<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>取消支付</title>

    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/pay/pay_cancel.css?{$Think.config.fastadmin['v_api']}">
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <div class="header">
            <a class="arrows" href="/index.php/mobile/goods/goods_list">
                <img src="{$Think.const.PUBLIC_RES}/png/icon/return.png" />
            </a>
            <a class="arrow" href="/index.php/mobile/user/index">
                <img src="{$Think.const.PUBLIC_RES}/png/2.png" />
            </a>
        </div>
        <div class="content">
            <!-- 顶部介绍 -->
            <div class="summary mui-row">
                <div class="mui-col-sm-5 mui-col-xs-5">
                    <img :src="header.ico" />
                </div>
                <div class="mui-col-sm-7 mui-col-xs-7 summary_content">
                    <h4 v-cloak>{{header.nickname}}</h4>
                    <div class="mui-row introduce">
                        <span class="mui-col-sm-3 mui-col-xs-3" v-cloak>介绍 : </span>
                        <div class="mui-col-sm-9 mui-col-xs-9">
                            <span class="writing" v-cloak>
                                {{header.back}}
                            </span>
                        </div>
                    </div>
                    <div class="mui-row phone">
                        <span class="mui-col-sm-3 mui-col-xs-3">电话 : </span>
                        <div class="mui-col-sm-9 mui-col-xs-9">
                            <span class="writing" v-cloak>
                                {{header.telphone}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 支付成功  客服 -->
        <div class="centers">
            <img src="{$Think.const.PUBLIC_RES}/png//icon/.png" />
            <p class="succeed">取消支付</p>
            <p class="thank">您取消了订单支付</p>
            <div class="service">请返回店铺下单支付。</div>
            <div class="service zd">如有疑问请致电:&nbsp;&nbsp;<span>400-8185-008</span></div>
            <!-- 返回图片 -->
            <div class="return">
                <button>返回</button>
            </div>
        </div>
    </div>
</body>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>


<script>
    "use strict";

    new Vue({
        el: "#app",
        data: {
            header: []

        },
        // 事件
        methods: {},
        // 初始化后
        created: function created() {
            //   console.log(window.localStorage.store);
            this.header = JSON.parse(window.localStorage.store);
            //   console.log(this.header);
        }
    });
</script>

</html>