<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">员工编号:</label>
        <div class="col-xs-12 col-sm-4">
            <span style="line-height: 32px">{$row.cid}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">注册时间:</label>
        <div class="col-xs-12 col-sm-4">
            <span style="line-height: 32px">{$row.create_time|date="Y-m-d H:i:s",###}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 员工照片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" data-msg="请上传员工照片" class="form-control" size="50" name="row[avatar]" type="hidden" value="{$row.avatar}">
                <div class="input-group-addon no-border no-padding n-left">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 重新上传</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"  data-template="template"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-2">* 员工姓名:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-bio" data-rule="required length[2~30]" data-msg="员工姓名不对呀" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">* 岗位:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::checkboxs('row[job][]', $jobs, $row['job'], ['data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-group_id" class="control-label col-xs-12 col-sm-2">* 区域:</label>
        <div class="col-xs-12 col-sm-2">
            {:Form::checkboxs('row[area_id][]',$area,$row['area_id'],['data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-level" class="control-label col-xs-12 col-sm-2">身份证号:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-level" data-rule="length[~20]" class="form-control" data-msg="身份证号太长了"  name="row[cards]" type="text" value="{$row.cards}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-score" class="control-label col-xs-12 col-sm-2">* 手机号码:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-score" data-rule="required tel"  data-rule-tel="[/^[\-\d]{8,20}$/, '请检查号码格式']" class="form-control" name="row[phone]" type="text" disabled='disabled' value="{$row.phone}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" onclick="Layer.closeAll()" class="btn btn-default btn-embossed"> 取 消 </button>
            <button type="submit" style="font-size:16px;margin-left: 1em" class="btn btn-success btn-embossed disabled">　保 存　</button>
        </div>
    </div>
</form>

<script type="text/html" id="template">
    <li class="col-xs-3">
        <a href="<%=fullurl%>" data-url="<%=url%>" target="_blank" class="thumbnail popup"><img src="<%=fullurl%>" class="img-responsive" onerror="$1()" /></a>
    </li>
</script>