
body {
    background: #f5f5f5;
}

/* 头部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    /*border-bottom: 0.15rem solid #f5f5f5;*/
}

.header strong {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    font-size: 0.14rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/*

!* 用户评价样式 *!
.user-onw {
    margin-top: 0.6rem;
}

.user {
    background-color: #fff;
    border-bottom: 0.05rem solid #F5F5F5;
}

.user .user-two {
    overflow: hidden;
    width: 100%;
    height: 0.7rem;
    background-color: #fff;
    margin-bottom: 0.08rem;
}

.user-two img {
    float: left;
    width: 12%;
    height: 0.45rem;
    border-radius: 0.025rem;
    margin: 0.15rem 0.1rem 0 0.15rem;
}

.user-two h5 {
    width: 50%;
    font-size: 0.14rem;
    color: #333333;
    float: left;
    !*background-color: #C8D8FF;*!
    margin-top: 0.19rem;
}

.user-two div {
    width: 80%;
    overflow: hidden;
    !*background-color: #FFC8BF;*!
    float: left;
    margin-top: 0.07rem;
}

.user-two div span {
    font-size: 0.12rem;
    color: #999;
}

.user-two div span:nth-child(1) {
    float: left;
}

.user-two div span:nth-child(2) {
    float: right;
}

.evaluate {
    width: 100%;
    height: 0.92rem;
    background-color: #fff;
    padding: 0 0.15rem;
}

.evaluate div {
    background-color: #F5F5F5;
}

.evaluate div p {
    font-size: 0.12rem;
    color: #000;
    margin: 0;
    padding-left: 0.1rem;
}

.evaluate div img {
    width: 0.245rem;
    height: 0.145rem;
    padding-left: 0.1rem;
    margin-bottom: 0.1rem;
}


.evaluate .serve {
    width: 0.31rem;
    height: 0.15rem;
    text-align: center;
    line-height: 0.16rem;
    background-color: #FF7223;
    border-radius: 0.025rem;
    font-size: 0.1rem;
    display: inline-block;
    color: #fff;
    margin-top: 0.1rem;
    float: left;
}

.evaluate .day-to-day {
    font-size: 0.12rem;
    display: inline-block;
    background: #fff;
    float: left;
    margin-top: 0.08rem;
    margin-left: 0.12rem;
}
*/



/* 活动中心 */
ul {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    margin-top: 0.65rem;
    text-align: center;
}

ul li {
    width: 94%;
    height: 2.17rem;
    background-color: #fff;
    margin: auto;
    padding: 0.1rem 0.05rem 0.15rem 0.05rem;
    margin-bottom: 0.1rem;
    border-radius: 0.05rem;
}

ul li img {
    width: 100%;
    height: 1.3rem;
    z-index: -1;
}

ul li h4 {
    font-size: 0.15rem;
    color: #666;
    height: 0.4rem;
    line-height: 0.4rem;
    /*background-color: #0ff;*/
    margin: 0;
    text-align: left;
    border-bottom: 0.01rem solid #ededed;
}

ul li p {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.12rem;
    color: #999;
    margin: 0;
    /*background-color: #C6CFFF;*/
    text-align: left;
}

ul li .img {
    position: relative;
}

ul li .masking {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
}

ul li .hdjs {
    width: 100%;
    height: 0.365rem;
    position: absolute;
    top: 0;
    z-index: 10;
    text-align: center;
    /*background-color: #f00;*/
    margin-top: 0.55rem;
}

ul li .hdjs img {
    width: 36%;
    height: 0.365rem;
}

ul li .hdjs span {
    height: 100%;
    line-height: 0.365rem;
    position: absolute;
    /*background-color: #0ff;*/
    color: #fff;
    font-size: 0.15rem;
    right: 39%;
}






































