* {
    margin: 0;
    padding: 0;
    /* font-size: 100px; */
}

body {
    background-color: #f2f2f2;
}

/* 顶部样式 */
.header {
    height: 50px;
    background-color: #ccc;
    width: 100%;
    position: fixed;
    top: 0;
}

.header>i {
    display: block;
    height: 50px;
    float: right;
    width: 50px;
}

.header span {
    line-height: 50px;
    font-size: 16px;
    margin-left: 25px;
    color: #fff;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}
/* 轮播图 */
.Carousel {
    width: 100%;
    margin-top: 50px;
    background-color: #555;
    height: 200px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    display: block;
}

/* 店铺列表 */
.content {
    margin: 20px 0 50px 0; 
    box-sizing: border-box;
    padding: 0 15px;
}

.content .phone {
    width: 100%;
    background-color: #fff;
    height: 32px;
}

.content .phone span {
    font-size: 18px;
    line-height: 18px;
}

.content li {
    margin-top: 10px;
    height: 150px;
}

.content li,
.right-title ,
.right-phone,
.right-footer {
    overflow: hidden;
}

.left {
    float: left;
    width: 124px;
    height: 150px;
}

.left img {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ccc;
    border-radius: 3px;
}

.right {
    float: right;
    margin-left: 10px;
    width: 210px;
    position: relative;
    height: 100%;
}

.right .right-title i ,
.right-phone i ,
.right-footer .distancc i{
    float: left;
    margin-right: 6px;
    width: 17px;
    margin-top: 3px;
}

.right .right-title i img {
    width: 100%;
    height: 100%;
    display: block;
}

.right .right-title h4{
    float: left;
    width: 130px;
    font-size: 16px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;/* （行数） */
    -webkit-box-orient: vertical;
}

.right .right-title span{
    float: right;
    font-size: 14px;
    margin-top: 3px;
}

.right-content {
    width: 100%;
    margin-top: 13px;
    font-size: 13px;
    margin-left: 25px;
}

.right-content span {
    word-wrap:break-word;
    display: block;
    width: 100%;
    color: #A6A6A6;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;/* （行数） */
    -webkit-box-orient: vertical;
}


.right-footer .distancc {
    float: left;
    margin: auto 0;
}

.right-footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}


.right-footer .distancc i img {
    width: 50%;
}
.right-footer .distancc span {
    font-size: 12px;
    color: #7b7e7d;
    position: absolute;
    top: 6px;
}

.right-footer .into {
    float: right;
    width: 50%;
}

.right-footer .into img {
    width: 100%;
    border-radius: 3px;
}

/* 底部样式 */
/*
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffb140;
    display: flex;
    height: 47px;
    text-align: center;
}

.footer i {
    flex: 1;
    height: 100%;
}

.footer i img {
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
}*/
/* 底部样式 */
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ADA98B;
    overflow: hidden;
}

.bottom li {
    width: 25%;
    height: 0.55rem;
    line-height: 0.3rem;
    /*background-color: #93FF8B;*/
    float: left;
    text-align: center;
    /*font-size: 0.12rem;*/
}

.bottom li a {
    display: block;
    height: 100%;
}

.bottom li p {
    font-size: 0.12rem;
    margin: 0;
    color: #8f8f94;
}

.bottom li .order {
    color: #7D5A40;
}

.bottom li img {
    width: 0.2rem;
    height: 0.18rem;
}
