* {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

body {
    font-size: 100px;
}

a {
    color: black;
}

.mui-scroll-wrapper {
    margin-bottom: 0.4rem;
}

/* 顶部样式 */
/* .header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
}

.header>a {
    display: block;
    height: 0.5rem;
    float: right;
    width: 0.5rem;
}

.header span {
    line-height: 0.5rem;
    font-size: 0.16rem;
    margin-left: 0.25rem;
    color: #fff;
    float: left;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
} */

/* 轮播图 */
.Carousel {
    width: 100%;
    /* margin-top: 0.5rem; */
    background-color: #555;
    height: 1.8rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
}

/* 标签样式 */
.sort {
    width: 100%;
    /* display: flex; */
    margin: 0.24rem 0;
    overflow: auto;
    /*background: #f00;*/
    box-sizing: border-box;
    /*padding: 0 0.22rem;*/
}

.sort a {
    width: 0.54rem;
    font-size: 0.14rem;
    /* margin-right: 0.28rem; */
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 0.31rem;
    height: 0.9rem;
}

/*.sort a:nth-child(5n) {
    margin: 0;
}*/

.sort a img {
    font-size: 0.18rem;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    height: 0.43rem;
    /*border: #cccccc solid 0.01rem;*/
    border-radius: 50%;
    width: 100%;
    height: 0.54rem;
}

.sort a span {
    margin-top: 0.12rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* 推荐商品 */
.recommend {
    width: 100%;
    padding: 0.1rem 0 0.18rem 0;
    border-top: #f2f2f2 solid 0.02rem;
    border-bottom: #f2f2f2 solid 0.09rem;
}

.recommend .piece {
    box-sizing: border-box;
    padding: 0 0.21rem;
    /* display: flex; */
}

.recommend .piece>div {
    /* flex: 1; */
    width: 1.5rem;
    height: 1.3rem;
    background-color: #f6f6f6;
    /*margin-right: 0.12rem;*/
    /*margin-top: 0.1rem;*/
    margin: 0.1rem 0 0 0.12rem;
    display: inline-block;
}

.recommend .piece>div:nth-child(4) {
    margin: 0;
}

.recommend .piece>div img {
    width: 100%;
    height: 100%;
    display: block;
}

/* 热门商品 */
.popular {
    width: 100%;
    margin-top: 0.17rem;
    box-sizing: border-box;
    padding: 0 0.18rem;
    margin-bottom: 0.45rem;
}

.popular-a {
    text-decoration: none;
    /*background: #0f0;*/
    width: 100%;
}

.popular>span {
    font-size: 0.15rem;
    font-weight: 700;
}

.popular .popular_commodity {
    padding-top: 0.14rem;
    padding-bottom: 0.18rem;
    border-bottom: #e6e6e6 solid 0.01rem;
    display: flex;
}

.popular .popular_commodity .right {
    /*flex: 1;*/
    display: inline-block;
    width: 0.84rem;
    height: 0.84rem;
    float: left;
}

.popular .popular_commodity .right img {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    /*display: block;*/
}

.popular .popular_commodity .left {
    /*flex: 3;*/
    width: 57%;
    box-sizing: border-box;
     padding: 0.12rem 0rem 0 0.18rem;
    display: inline-block;
}

.popular .popular_commodity .left h4 {
    font-size: 0.16rem;
    font-weight: 500;
}

.popular .popular_commodity .left span {
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.12rem;
    color: #A68C79;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    /*background-color: #0ff;*/
}

.popular .popular_commodity a:active {
    color: #000;
}

/* 底部样式 */
/*
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffb140;
    display: flex;
    height: 0.47rem;
    text-align: center;
}

.footer a {
    display: block;
    height: 100%;
    !*background-color: #f00;*!
}

.footer i {
    flex: 1;
    height: 100%;
}

.footer i img {
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
}

.mui-scroll-wrapper {
    !* top: 0.50rem; *!
    bottom: 0.45rem;
}

.mui-table-view {
    background: none;
}

.mui-table-view:before,
.mui-table-view:after {

    background: none;
}*/
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.49rem;
    /*background-color: #ADA98B;*/
    overflow: hidden;
    z-index: 999;
    box-shadow:0 -0.01rem 0.04rem 0 #DFDEDF;
}

.bottom li {
    width: 25%;
    height: 0.55rem;
    /*line-height: 0.3rem;*/
    /*background-color: #93FF8B;*/
    float: left;
    margin-top: 0.08rem;
    text-align: center;
    /*font-size: 0.12rem;*/
    /*box-shadow:0 -0.01rem 0.04rem 0 #DFDEDF;*/
}

.bottom li a {
    display: block;
    height: 100%;
}

.bottom li p {
    font-size: 0.12rem;
    margin: 0;
    color: #8f8f94;
}

.bottom li .order:hover {
    font-weight: 700;
}

.bottom li .order {
    color: #7D5A40;
}

.bottom li img {
    width: 0.15rem;
    height: 0.15rem;
}

