body {
  background: #fff;
}

/* 头部样式 */
.header {
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 3.75rem;
  height: 0.45rem;
  position: fixed;
  background-color: #ff7223;
}

.header select {
  padding: 0;
  line-height: 0.45rem;
  margin: 0;
  width: 10%;
  color: #fff;
  float: left;
  font-size: 0.15rem;
  position: relative;
  background: rgba(0, 0, 0, 0);
  margin-left: 0.4rem;
}

.header .xltb {
  top: 0.12rem;
  left: 0.15rem;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
}

.header .logo {
  float: left;
  width: 0.5rem;
  height: 0.2rem;
  margin-left: 0.9rem;
  margin-top: 0.125rem;
}

.header span {
  width: 11%;
  color: #fff;
  height: 100%;
  float: right;
  text-align: center;
  font-size: 0.12rem;
  line-height: 0.5rem;
  display: inline-block;
}

.header .name {
  margin-right: 0.12rem;
}

/* 头部搜索 */
.header .search {
  display: inline-block;
  float: right;
  width: 77%;
  height: 100%;
  padding: 0.07rem;
  box-sizing: border-box;
  /* padding: 0 0 0 0.1rem; */
  position: relative;
}

.header .search input {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 97%;
  /* margin-top: 0.11rem; */
  border-radius: 0.05rem;
  font-size: 0.12rem;
  color: #b2b2b2;
  padding-left: 0.05rem;
  border: none;
}

.header .search i {
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.16rem;
  height: 0.16rem;
}

.header .search i img {
  width: 100%;
  height: 100%;
}

/* 轮播图 */
.carousel {
  width: 100%;
  height: 1.75rem;
  padding: 0.15rem;
  margin-top: 0.45rem;
  background-color: #f5f5f5;
}

.carousel img {
  width: 100%;
  height: 1.45rem;
  text-align: center;
}

/* 限时优惠 */
.limit {
  width: 100%;
  height: 0.58rem;
  background: #fff;
  overflow: hidden;
  border-bottom: 0.15rem solid #f5f5f5;
}

.limit .logo {
  float: left;
  width: 0.095rem;
  height: 0.13rem;
  margin: 0.15rem 0.1rem 0.15rem 0.15rem;
}

.limit .swiper-slide {
  margin-left: 0.4rem;
  line-height: 0.43rem;
}

.limit .swiper-slide a {
  width: 80%;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.limit .swiper-container_1 {
  height: 0.43rem;
  font-size: 0.12rem;
  line-height: 0.16rem;
}

/* 活动中心样式 */
.activity {
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 0.15rem solid #f5f5f5;
}

.activity li {
  width: 20%;
  float: left;
  margin-top: 0.1rem;
  text-align: center;
}

.activity li img {
  width: 0.45rem;
  height: 0.45rem;
}

.activity li p {
  margin: 0;
  font-size: 0.12rem;
}

/* 明星产品 */
.star-product {
  width: 100%;
  height: 0.4rem;
  overflow: hidden;
  background-color: #fff;
}

.star-product div {
  float: left;
  height: 100%;
  font-weight: 500;
  font-size: 0.18rem;
  line-height: 0.4rem;
  margin-left: 0.15rem;
}

.star-product div span:nth-child(1) {
  color: #00bfae;
}

.star-product div span:nth-child(2) {
  color: #ff7223;
}

.star-product .gD {
  color: #666;
  float: right;
  height: 100%;
  font-size: 0.14rem;
  line-height: 0.4rem;
  margin-right: 0.15rem;
}

.star {
  margin: 0;
  width: 100%;
}

.star li {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 0.025rem solid #f5f5f5;
}

.star li:nth-child(2) {
  border-bottom: 0.15rem solid #f5f5f5;
}

.star li img {
  width: 38%;
  float: left;
  height: 1rem;
  margin: 0.15rem;
  border-radius: 0.05rem;
}

.star .right {
  width: 50%;
  float: left;
  margin-top: 0.15rem;
}

.right h4 {
  color: #000;
  font-weight: 400;
  overflow: hidden;
  font-size: 0.16rem;
  line-height: 0.18rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.right .price {
  overflow: hidden;
  margin: 0.15rem 0 0.26rem 0;
}

.price span:nth-child(1) {
  float: left;
  color: #ff7223;
  font-size: 0.18rem;
}

.price span:nth-child(2) {
  color: #999;
  float: right;
  font-size: 0.12rem;
}

.serve {
  overflow: hidden;
  text-align: center;
}

.serves {
  overflow: hidden;
  text-align: center;
}

.serve span {
  float: left;
  color: #999;
  width: 31.5%;
  height: 0.16rem;
  padding: 0 0.02rem;
  font-size: 0.12rem;
  line-height: 0.16rem;
  border-radius: 0.03rem;
  border: 0.01rem solid #999;
}

.serves span {
  width: 23%;
  float: left;
  color: #999;
  height: 0.16rem;
  text-align: center;
  font-size: 0.12rem;
  padding: 0 0.02rem;
  line-height: 0.16rem;
  border-radius: 0.03rem;
  border: 0.01rem solid #999;
}

.serves span:nth-child(2) {
  margin: 0 0.05rem;
}

.serves span:nth-child(3) {
  margin-right: 0.05rem;
}

.serve span:nth-child(2) {
  margin: 0 0.05rem;
}

/* 热门服务列表样式 */
.hot {
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 0.15rem solid #f5f5f5;
}

.hot li {
  width: 50%;
  float: left;
  overflow: hidden;
}

.hot li img {
  width: 45%;
  float: left;
  height: 0.635rem;
  border-radius: 0.05rem;
  margin: 0.15rem 0.05rem 0.15rem 0.15rem;
}

.hot li .align-right {
  float: left;
  width: 40%;
  margin-top: 0.2rem;
}

.align-right h5 {
  padding: 0;
  width: 100%;
  color: #333333;
  height: 0.28rem;
  text-align: left;
  overflow: hidden;
  font-size: 0.14rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.align-right p {
  color: #ff7223;
  font-size: 0.15rem;
}

/* 用户评价样式 */
.review {
  width: 100%;
  height: 1.8rem;
  overflow: hidden;
  background-color: #fff;
}

.user {
  width: 100%;
  float: left;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.025rem;
}

.user .user-two {
  width: 100%;
  height: 0.7rem;
  overflow: hidden;
  margin-bottom: 0.1rem;
}

.user-two img {
  width: 12%;
  float: left;
  height: 0.45rem;
  border-radius: 0.025rem;
  margin: 0.15rem 0.1rem 0 0.15rem;
}

.user-two h5 {
  width: 50%;
  float: left;
  color: #333333;
  font-size: 0.14rem;
  margin-top: 0.19rem;
}

.user-two div {
  width: 70%;
  float: left;
  overflow: hidden;
}

.user-two div span {
  color: #999;
  font-size: 0.12rem;
}

.user-two div span:nth-child(1) {
  float: left;
}

.user-two div span:nth-child(2) {
  float: right;
}

.evaluate {
  width: 100%;
  height: 0.92rem;
  padding: 0 0.15rem;
}

.evaluate div {
  background-color: #f5f5f5;
}

.evaluate div p {
  margin: 0;
  color: #000;
  font-size: 0.12rem;
  overflow: hidden;
  padding-left: 0.1rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.evaluate div img {
  width: 0.245rem;
  height: 0.145rem;
  margin-top: 0.05rem;
  padding-left: 0.1rem;
  margin-bottom: 0.1rem;
}

.evaluate .serve {
  color: #fff;
  float: left;
  width: 0.31rem;
  height: 0.15rem;
  font-size: 0.1rem;
  margin-top: 0.1rem;
  text-align: center;
  line-height: 0.15rem;
  display: inline-block;
  border-radius: 0.025rem;
  background-color: #ff7223;
}

.evaluate .day-to-day {
  float: left;
  background: #fff;
  font-size: 0.12rem;
  margin-top: 0.08rem;
  margin-left: 0.12rem;
  display: inline-block;
}

/* 关于小哥帮样式 */
.regard {
  width: 100%;
  height: 0.475rem;
  text-align: center;
  font-size: 0.16rem;
  line-height: 0.4rem;
  background-color: #fff;
  border-top: 0.075rem solid #f5f5f5;
}

/* 有家就有小哥帮 */
.home {
  width: 100%;
  height: 0.5rem;
  text-align: center;
  position: relative;
  line-height: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #f5f5f5;
}

.home div {
  width: 2rem;
  color: #999;
  margin: auto;
}

.home div:nth-child(1) {
  font-size: 0.14rem;
  border-bottom: 0.01rem solid #999;
}

.home div:nth-child(2) {
  left: -16%;
  width: 1.2rem;
  bottom: 0.01rem;
  margin-left: 50%;
  font-size: 0.1rem;
  position: absolute;
  background-color: #f5f5f5;
}

/* 底部按钮 */
.btn {
  margin: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 0.5rem;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 -0.01rem 0.04rem 0 #dfdedf;
  max-width: 3.75rem;
}

.btn li {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 0.05rem;
}

.btn li img {
  width: 0.23rem;
  height: 0.215rem;
}

.btn li p {
  margin: 0;
  font-size: 0.12rem;
}

.btn li .page {
  margin: 0;
  color: #d6541d;
  font-size: 0.12rem;
}

/* 视频样式 */
.large {
  width: 100%;
  height: 2.1rem;
  padding: 0 0.15rem;
  background-color: #fff;
  border-top: 0.075rem solid #f5f5f5;
}

.large h4 {
  margin: 0;
  color: #333;
  width: 100%;
  height: 0.55rem;
  text-align: left;
  font-size: 0.16rem;
  line-height: 0.55rem;
}

.large .video {
  width: 100%;
  height: 0.99rem;
  overflow: hidden;
}

.large .video video {
  width: 53%;
  float: left;
  height: 100%;
  background: url('../../../../resource/png/iconic/xgg.png') no-repeat;
  background-size: 100% 100%;
}

.large .video img {
  width: 44.888%;
  margin-left: 0.072rem;
}

.large p {
  width: 100%;
  margin: 0.12rem 0 0 0;
}

.large p img {
  width: 0.18rem;
  height: 0.28rem;
  margin-right: 0.08rem;
}

/* 小哥帮-专注家庭样式 */
.img-s {
  width: 100%;
  height: 0.475rem;
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: #f5f5f5;
}

.img-s img {
  width: 2.745rem;
  height: 0.15rem;
  margin-top: 0.16rem;
}
