html,
body {
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.15rem;
  margin-top: 0.16rem;
  position: relative;
}

.header input {
  background-color: #f2f2f2;
  border-radius: 0.05rem;
  border: none;
  height: 0.44rem;
  font-size: 0.15rem;
  padding-left: 0.42rem;
  text-align: left;
}

.header i {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
}

.header .las {
  top: 0.11rem;
  right: 0.35rem;
}

.header .fis {
  top: 0.11rem;
  left: 0.25rem;
}

.header i img {
  width: 100%;
}

.no_resolv {
  margin-top: 0.27rem;
  position: relative;
  overflow: hidden;
  z-index: 20;
}

.no_resolv img {
  width: 0.55rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.no_resolv .prompt {
  margin-top: 0.77rem;
  text-align: center;
}

.no_resolv .prompt p {
  font-size: 0.14rem;
  color: #333333;
}

.no_resolv .prompt span {
  font-size: 0.12rem;
  color: #999999;
}

.tag {
  margin-top: 0.43rem;
  box-sizing: border-box;
  padding: 0 0.15rem;
}

.tag p {
  font-size: 0.13rem;
  color: #999999;
}

.tag span {
  font-size: 0.13rem;
  color: #333333;
  padding: 0.06rem 0.11rem;
  background-color: #f5f5f5;
  border-radius: 0.11rem;
  margin: 0.1rem 0.1rem 0 0;
  display: inline-block;
}

/* 数据展示 */
#pullrefresh {
  margin-top: 0.7rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 0.15rem;
}
/* 
.list {
  margin-top: 0.2rem;
  box-sizing: border-box;
  padding: 0 0.15rem;
} */

.list ul li {
  margin-bottom: 0.15rem;
  height: 1.12rem;
}

.list ul li .left {
  width: 1.12rem;
  height: 1.12rem;
  background-color: #ccc;
  border-radius: 0.05rem;
  float: left;
}

.list ul li .left img {
  width: 100%;
  height: 100%;
}

.list ul li .right {
  margin-left: 0.16rem;
  float: left;
  position: relative;
  height: 100%;
  width: 60%;
  border-bottom: 0.01rem solid #f2f2f2;
}

.list ul li .right h4 {
  margin-top: 0.06rem;
  color: #333333;
  font-size: 0.17rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.list ul li .right p {
  font-size: 0.14rem;
  color: #999999;
  margin-top: 0.1rem;
}

.list ul li .right span {
  position: absolute;
  bottom: 0.07rem;
  font-size: 0.2rem;
  color: #fe6444;
}
