* {
    background-color: #fff;
}

/* 头部样式 */
.home {
    width: 100%;
    height: 100%;
    position: relative;
    /*background-color: #0ff;*/
}

.home .header {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.home .header span{
    font-size: 0.14rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrows {
    width: 0.135rem;
    height: 0.005rem;
    position: absolute;
    top:0.13rem;
    left: 0.14rem;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    width: 0.18rem;
    height: 0.18rem;
    position: absolute;
    top:0.13rem;
    right: 0.14rem;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}

/* 店铺列表 */
#pullrefresh {
    padding-top: 0.45rem;
    width: 100%;
}

.content {
    /*margin: 0.2rem 0 0 0;*/
    /* box-sizing: border-box;
    padding: 0 0.18rem; */
    background-color: #FAFAFA;
    z-index: 999;
}

.content .ul_list {
    /*padding: 0 0.15rem;*/
    background-color: #FAFAFA;
    overflow: hidden;
}

.ul_list a:hover {
    color: #000;
}

.content li {
    /*margin-bottom: 0.3rem;*/
    height: 1.42rem;
    box-sizing: border-box;
    padding:0.24rem 0.18rem;
    border-bottom: #E6E6E6 solid 0.01rem;
    position: relative;
}

.content li,
.right-title,
.right-phone,
.right-footer {
    overflow: hidden;
}

.left {
    width: 28%;
    height: 0.94rem; 
}

.left img {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ccc;
    border-radius: 0.03rem;
}

.right {
    width: 70%;
    position: relative;
    padding-left: 0.13rem;
    padding-top: 0.12rem;
    background-color: #fff;
}

.right .right-title {
    background-color: #fff;
}

.right .right-title h4 {
    margin: 0;
    color: black;
    float: left;
    font-size: 0.16rem;
    line-height: 0.2rem;
    letter-spacing: 0.01rem;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
}
.right-content {
    width: 100%;
    margin-top: 0.08rem;
    font-size: 0.12rem;
}

.right-content span {
    line-height: 0.18rem;
    color: #7D7D7D;
    word-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.01rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;                  
    /* （行数） */
    -webkit-box-orient: vertical;
    background-color: #fff;
}

.right-footer .distancc {
    float: left;
    color: black;
    font-size: 0.12rem;
}

.right-footer {
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.pull {
    position: absolute;
    top: 0;
    left: -0.95rem;
    width: 0.28rem;
    height: 0.28rem;
}

.right-footer .distancc i img {
    width: 0.09rem;
}

.null {
    text-align: center;
    color: #ccc;
    display: block;
}

.mui-table-view {
    background: none;
}

.mui-table-view:before,
.mui-table-view:after {

    background: none;
}


/* 区域样式 */
#area {
    overflow: hidden;
    width: 100%;
    height: 0.5rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 1px 2px rgba(69,69,69,0.05);
    position: relative;
    background-color: #FAFAFA;
}

#area .mui-control-item {
    line-height: 0.5rem;
    color: #7D7D7D;
}

#area .mui-active {
    color: #7D5A40;
    font-weight: 700;
}