<style>th{text-align: right}</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

	<div class="form-group">
		<label for="store_name" class="control-label col-xs-12 col-sm-3">店铺名称:</label>
		<div class="col-xs-8 col-sm-6">
			<input type="text" class="form-control" id="store_name" name="row[store_name]" value="{$info.store_name}" data-rule="required" />
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="control-label col-xs-12 col-sm-3">店主:</label>
		<div class="col-xs-8 col-sm-3">
			<input type="text" class="form-control" id="name" name="row[ruler]" value="{$info.admin_name}" data-rule="required" />
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="control-label col-xs-12 col-sm-3">店主电话:</label>
		<div class="col-xs-8 col-sm-3">
			<input type="text" class="form-control" id="ruler_phone" name="row[ruler_phone]" value="{$info.ruler_phone}" data-rule="required" />
		</div>
	</div>
	<div class="form-group">
		<label for="contact_name" class="control-label col-xs-12 col-sm-3">备用联系人:</label>
		<div class="col-xs-8 col-sm-3">
			<input type="text" class="form-control" id="contact_name" name="row[contact_name]" value="{$info.contact_name}" data-rule="" />
		</div>
	</div>
	<div class="form-group">
		<label for="contact_phone" class="control-label col-xs-12 col-sm-3">备用联系电话:</label>
		<div class="col-xs-8 col-sm-3">
			<input type="text" class="form-control" id="contact_phone" name="row[contact_phone]" value="{$info.contact_phone}" data-rule="" />
		</div>
	</div>
	<div class="form-group">
		<label for="store_type" class="control-label col-xs-12 col-sm-3">所属行业:</label>
		<div class="col-xs-8 col-sm-6">
			<input type="text" class="form-control" id="store_type" name="row[store_type]" value="{$info.store_type}" data-rule="required" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3">服务区域:</label>
		<div class="col-xs-8 col-sm-6">
			{assign name="region" value="$info.region|explode=',',###"}
			<div class="addContent form-inline" data-toggle="cxselect" data-selects="province,city,area">
				<select class="province form-control" style="padding: 0 12px" name="province_id" data-url="ajax/area">
					<option value="{$region.0|default=''}" selected>广东省</option>
				</select>
				<select class="city form-control" style="padding: 0 20px 0 8px" name="city_id" data-url="ajax/area">
					<option value="{$region.1|default=''}" selected>深圳市</option>
				</select>
				<select class="area form-control" style="padding: 0 8px" name="area_id" data-url="ajax/area">
					<option value="{$region.2|default=''}" selected>宝安区</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="address" class="control-label col-xs-12 col-sm-3">门店地址:</label>
		<div class="col-xs-8 col-sm-6">
			<input type="text" class="form-control" id="address" name="row[address]" value="{$info.address}" data-rule="required" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3">身份证:</label>
		<div class="col-xs-8 col-sm-6">
			<a href="/{$info.id_card_front|trim='/'}" class="popup2">
				<img src="/{$info.id_card_front|trim='/'}" style="max-height: 150px"></a>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3"></label>
		<div class="col-xs-8 col-sm-6">
			<a href="/{$info.id_card_back|trim='/'}" class="popup2">
				<img src="/{$info.id_card_back|trim='/'}" style="max-height: 150px"></a>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3">门店照:</label>
		<div class="col-xs-8 col-sm-6">
			<a href="/{$info.store_picture|trim='/'}" class="popup2">
				<img src="/{$info.store_picture|trim='/'}" style="max-height: 150px"></a>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3">营业执照:</label>
		<div class="col-xs-8 col-sm-6">
			<a href="/{$info.license_picture|trim='/'}" class="popup2">
				<img src="/{$info.license_picture|trim='/'}" style="max-height: 150px"></a>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3">邀请人电话:</label>
		<div class="col-xs-8 col-sm-3">
			<input type="text" class="form-control" id="invite" name="row[invite_phone]" value="{$info.invite}" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3">申请时间:</label>
		<div class="col-xs-8 col-sm-6">
			{$info.create_time}
		</div>
	</div>

	<input type="hidden" id="store_id" name="row[id]" value="{$info.id}" />
	<input type="hidden" id="result" name="row[result]" value="0" />
<div class="hide layer-footer">
	<label class="control-label col-xs-12 col-sm-2"></label>
	<div class="col-xs-12 col-sm-8">
		<button type="submit" class="btn btn-success btn-embossed disabled">
			<i class="fa fa-check-square-o"></i> 审核通过</button>
		<span class="col-xs-4 col-sm-4"></span>
		<button type="submit" class="btn btn-danger btn-embossed btn-close">
			<i class="fa fa-window-close"></i> 拒绝 </button>
	</div>
</div>
</form>
<script>top.store_id = '{$info.id}';</script>