<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <input type="hidden" name="row[admin_id]" value="{$admin.id}" />
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 首页图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[img_link]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding n-left">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <!--<div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">* {:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-joinip" data-rule="required range[~200]" class="form-control" name="row[pow]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-4">
            {:build_radios('row[status]', ['1'=>__('Normal'), '0'=>__('Hidden')], 1)}
        </div>
    </div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
