<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/user/distribution-contribute.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>贡献明细</title>
</head>

<body>

  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <a class="arrows" href="javascript:history.go(-1)">
        <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
      </a>
      <strong>贡献明细</strong>
    </div>


    <!-- 明细列表 -->
    <!--<ul>
        <li v-for="(item, index) in group_show" :key="item.id" v-show="group_show!=''">
            <img :src="item.userpic"/>
            <div>
                <h5 v-cloak>{{item.backup}}</h5>
                <p class="time" v-cloak>{{formatDateTime(item.create_time*1000)}}</p>
            </div>
            <div class="money" v-cloak>+￥{{item.points}}</div>
        </li>
        <li v-show="group_show==''" class="zan">暂无数据</li>
    </ul>-->
    <ul>
      <li v-for="(item, index) in group_show" :key="item.id" v-show="group_show!=''">

        <div class="img-s">
          <img :src="item.userpic" />
          <!--<img src="{$Think.const.PUBLIC_RES}/png/icons/rw.jpg"/>-->
        </div>
        <div class="meal">
          <p class="time" v-cloak>{{formatDateTime(item.create_time*1000)}}</p>
          <h5 v-cloak>{{item.backup}}</h5>
          <div v-cloak>姓名: {{ item.username }}</div>
          <div v-cloak>电话: {{ item.order.mobile }}</div>
        </div>
        <div class="site" v-cloak>
          地址: {{ item.order.address }}
        </div>
        <div class="money" v-cloak>+￥{{item.points}}</div>
      </li>
      <li v-show="group_show==''" class="zan">暂无数据</li>
    </ul>

  </div>

  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  

  <script>
    "use strict";

    var app = new Vue({
      el: '#app',
      data: {
        group_show: '',
        // 用户数据
        user: '',
        // 粉丝id
        fuid: ''
      },
      created: function created() {
        var that = this;
        this.fuid = decodeURI(location.search).split('=')[1];
        this.user = JSON.parse(window.localStorage.userContent);
        axios.get('/index.php/mapiv2/shopoutcome/rest', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            fansid: that.fuid
          }
        }).then(function (res) {
          console.log(res);
          that.group_show = res.data.data.data;
        });
      },
      methods: {
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? '0' + m : m;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? '0' + minute : minute;
          second = second < 10 ? '0' + second : second;
          return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
        }
      }
    });
  </script>

</body>

</html>