<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/user/bean.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>我的粉丝</title>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>我的粉丝</strong>
        </div>

        <!-- 粉丝总贡献 -->
        <div class="contribute" v-if="contribution!=null" v-cloak>粉丝总贡献<span v-cloak>￥{{ contribution }}</span></div>
        <div class="contribute" v-else v-cloak>暂无粉丝贡献</div>


        <!-- 中间列表 -->
        <div class="contributes">
            <img src="{$Think.const.PUBLIC_RES}/png/icons/fensi01.png" />
            <span>粉丝列表</span>
        </div>

        <!-- 底部粉丝列表 -->
        <ul>
            <li v-for="(item, index) in fan" :key="item.id" v-show="fan!=''" v-cloak>
                <img :src="item.userpic" />
                <div class="sum">
                    <h4 v-cloak>{{ item.name }}</h4>
                    <p v-cloak>总单数 : {{ item.sumorder }}</p>
                    <p v-cloak>总贡献 : ￥{{ item.sumoutcome }}</p>
                    <p v-cloak>总销售额 : ￥{{ item.sumsales }}</p>
                </div>
                <div class="btn">
                    <div v-cloak>{{ formatDateTime(item.create_time*1000) }}</div>
                    <a :href="url+'?fuid='+item.id">
                        <p>查看详情</p>
                    </a>
                </div>
            </li>
            <li class="nu" v-show='fan==""' v-cloak>暂无粉丝</li>
        </ul>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 用户数据
                user: '',
                // 粉丝明细
                fan: [],
                // 粉丝总贡献
                contribution: '',
                url: ''
            },
            created: function created() {
                var that = this;
                this.user = JSON.parse(window.localStorage.userContent);
                axios.get('/index.php/mapiv2/shopfans/rest', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    console.log(res);
                    that.fan = res.data.data.data;
                    that.url = res.data.data.url;
                }); // 粉丝总贡献

                axios.get('/index.php/mapiv2/shopfans/sum_income', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    console.log(res);
                    that.contribution = res.data.data.sumcome;
                });
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? '0' + minute : minute;
                    second = second < 10 ? '0' + second : second;
                    return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
                }
            }
        });
    </script>
</body>

</html>