* {
    margin: 0;
    padding: 0;
}

.couple {
    width: 100%;
    height: 100%;
}

/* 头部+箭头 */
.couple .heade_couple {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
}

.heade_arrows {
    width: 0.135rem;
    height: 0.005rem;
    position: absolute;
    top: 0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrow img {
    width: 0.09rem;
    height: 0.17rem;
}

.heade_couple p {
    margin: 0;
    font-size: 0.14rem;
    color: #000;
    text-align: center;
    line-height: 0.44rem;
    letter-spacing: 0.02rem;
}

/* 帮助与反馈内容/关于小哥帮 */
.help {
    width: 100%;
}

ul {
    width: 90%;
    height: 1.215rem;
    /*margin-top: 0.49rem;*/
    list-style: none;
    /*box-shadow: 0 0.005rem 0.03rem 0 rgba(69, 69, 69, 0.5);*/
    /*border-radius: 0.04rem;*/
    margin: 0.49rem auto 0;
    padding: 0 0.1rem 0;
}

ul li {
    width: 100%;
    height: 50%;
}

ul .u_li {
    position: relative;
    border-bottom: 1px solid rgb(230, 224, 224);
}

ul .u_li a {
    display: block;
    color: black;
}
.help ul li:last-child {
    /*border: none;*/
}

.u_li .mark {
    width: 0.14rem;
    height: 0.14rem;
    margin: 0.26rem 0.135rem 0.195rem 0.215rem;
}

.u_li span {
    font-size: 0.15rem;
    width: 0.75rem;
    height: 0.145rem;
    line-height: 0.145rem;
    position: absolute;
    top: 0.255rem;
    right: 1.825rem;
    bottom: 0.195rem;
    left: 0.5rem;
    color: #454545;
}

.u_li .boult {
    position: absolute;
    width: 0.07rem;
    height: 0.115rem;
    top: 0.275rem;
    right: 0.305rem;
    bottom: 0.205rem;
}

