/* 头部样式 */
.home {
    width: 100%;
    position: relative;
}

.home .header {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.home .header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrows {
    width: 0.135rem;
    height: 0.005rem;
    position: absolute;
    top: 0.12rem;
    left: 0.13rem;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0.12rem;
    right: 0.13rem;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}

/* 拼单 */
.group {
    margin-top: 0.45rem;
    width: 100%;
}

.group h3 {
    font-size: 0.14rem;
    padding: 0.43rem 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background: url("../../../png/icons/shs.png");
}

.group h3 i {
    color: #f00;
    font-style: normal;
}

.group .boxx {
    box-sizing: border-box;
    padding: 0 0.27rem 0 0.27rem;
    border-bottom: #E6E6E6 solid 0.09rem;
    /*background-color: #91B9EC;*/
}

.group .boxx span {
    display: block;
    width: 3.2rem;
     /*background-color: #A38A77;*/
    /*color: white; */
    text-align: center;
    /*border-radius: 0.18rem;*/
    line-height: 0.36rem;
    font-weight: 700;
    /*font-family: cursive;*/
}

.group .boxx .click {
    display: block;
    width: 3.2rem;
    background-color: #A38A77;
    /*color: white; */
    text-align: center;
    border-radius: 0.18rem;
    line-height: 0.36rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

.group .boxx span a {
    color: #000;
}

.details {
    width: 100%;
    margin-top: 0.17rem;
    box-sizing: border-box;
    padding: 0 0.18rem;
    border-bottom: #e6e6e6 solid 0.09rem;
}

.details .content {
    padding-top: 0.14rem;
    padding-bottom: 0.18rem;

    display: flex;
}

.details .content .right {
    flex: 1;
    height: 0.8rem;
}

.details .content .right img {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    display: block;
}

.details .content .left {
    flex: 3;
    box-sizing: border-box;
    padding: 0.12rem 0rem 0 0.18rem;
}

.details .content .left h4 {
    color: black;
    font-size: 0.16rem;
    margin: 0;
}

.details .content .left span {
    width: 2.15rem;
    height: 0.3rem;
    font-size: 0.12rem;
    margin-top: 0.13rem;
    color: #A68C79;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 0.15rem;
}

/* 拼单人数 */
.pop {
    margin-top: 0.24rem;
    width: 100%;
    position: relative;
}

.pop .personnel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pop .personnel .who {
    width: 0.32rem;
    height: 0.32rem;
    margin-right: 0.23rem;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
}

.pop .personnel .who img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 遮挡板 */
.share {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #161616;
    z-index: 40;
}

/* 遮挡板2 */
.share2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #161616;
    z-index: 80;
}

/* 分享弹框 */
.share_content {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.8rem;
    z-index: 50;
    background-color: #fff;
    border-radius: 0.05rem;
}

.share_content h3 {
    font-size: 0.16rem;
    padding: 0.23rem 0 0.1rem 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.share_content h3 i {
    color: #f00;
    font-style: normal;
}

.share_content span {
    font-size: 0.12rem;
    text-align: center;
    color: #a0a0a0;
    width: 100%;
    display: block;
    margin-bottom: 0.2rem;
}

.share_content .wx {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.share_content .wx div {
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 0.1rem;
    display: inline-block;
}

/* 分享成功 */
.share_success {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    z-index: 90;
    background-color: #fff;
    border-radius: 0.05rem;
    box-sizing: border-box;
    padding: 0.2rem 0.2rem;
    text-align: center;
}

.share_success .success {
    color: green;
    margin-bottom: 0.05rem;
    font-size: 0.16rem;
}

.share_success span {
    font-size: 0.14rem;
}

.share_success span i {
    color: #f00;
    font-style: normal;
}

.share_success .continue {
    width: 100%;
    background-color: #ff0000;
    border-radius: 0.05rem;
    color: white;
    line-height: 0.4rem;
    margin-top: 0.05rem;
}

.share_success .go {
    margin-top: 0.1rem;
    width: 100%;
    border-radius: 0.05rem;
    line-height: 0.4rem;
    border: #ccc solid 0.01rem;
    display: block;
}