
<table class="table">
	<caption style="text-align: center;">订单人工处理</caption>
   <thead>
      <tr>
         <th>用户信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>用户名</td>
         <td>电话</td>
         <td>区域</td>
         <td>详细地址</td>
         <td>用户留言</td>
      </tr>
      <tr>
         <td>{$list.order.nickname}</td>
         <td>{$list.order.mobile}</td>
         <td>{$list.region_name}</td>
         <td>{$list.order.address}</td>
         <td>{$list.order.bak}</td>
      </tr>
   </tbody>
</table>

<table class="table">
   <thead>
      <tr>
         <th>订单信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>购买项目</td>
         <td>来源</td>
         <td>订单编号</td>
         <td>数量</td>
         <td>下单时间</td>
         <td>客户预约时间</td>
         <td>归属店铺</td>
      </tr>
      <tr>
         <td>{$list.order.goods_name}</td>
         <td>{if condition="$list['order']['orgin'] eq 1"}公众号{else/}未定义{/if}</td>
         <td>{$list.order.snorder}</td>
         <td>{$list.order.num}</td>
         <td>{$list.create_time|(int)|date="Y-m-d H:i:s",###}</td>
         <td>{$list.appoint_start|(int)|date="Y-m-d H:i:s",###}</td>
         <td>{$list.order.store_id|is_get_val='store',###,'nickname','store_id'}</td>
      </tr>
   </tbody>
</table>

<table class="table">
   <thead>
      <tr>
         <th>付款信息</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>总价格</td>
         <td>实付</td>
         <td>抵扣</td>
      </tr>
      <tr>
         <td>{$list.shouldpay}</td>
         <td>{$list.actualpay}</td>
         <td>{$list.dismoney}</td>
      </tr>
   </tbody>
</table>

<table class="table">
   <thead>
      <tr>
         <th>服务人员信息</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>客服</td>
         <td>客服备注</td>
         <td>师傅备注</td>
         <td>师傅预约上门时间</td>
         <td>实际上门时间</td>
         <td>完成时间</td>
      </tr>
      <tr>
         <td>{$list.admin_id|is_get_val='admin',###,'nickname','id'}</td>
         <td>{$list.usernote}</td>
         <td>{$list.servernote}</td>
         <td>{$list.appoint_start|(int)|date="Y-m-d H:i:s",###}</td>
         <td>{$list.fu_start|(int)|date="Y-m-d H:i:s",###}</td>
         <td>{$list.fu_end|(int)|date="Y-m-d H:i:s",###}</td>
      </tr>
   </tbody>
</table>


<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">* 指派服务人员:</label>
        <div class="col-xs-12 col-sm-4">
        	{:Form::selectpages('row[sfuserid]',$list['sfuserid'],'shop/employee/all','name','id',['data-multiple'=>'true','data-max-select-limit'=>'1'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">师傅留言:</label>
        <div class="col-xs-12 col-sm-4">
             {:Form::textarea('row[usernote]',$list['usernote'],['data-rule'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">客服备注:</label>
        <div class="col-xs-12 col-sm-4">
             {:Form::textarea('row[servernote]',$list['servernote'],['data-rule'=>''])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-4"></label>
        <div class="col-xs-12 col-sm-4">
            <button type="button" onclick="Layer.closeAll()" class="btn btn-default btn-embossed"> 取 消 </button>
            <button type="submit" style="margin-left: 1em" class="btn btn-success btn-embossed button.btn-close">　 {:__('修改')} 　</button>
        </div>
    </div>
</form>