<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/aunt/user/personage.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <title>小哥帮</title>
</head>

<body>


  <div id="app">

    <!-- 蒙版 -->
    <div class="masking" v-show="xianshi==1">

    </div>

    <div class="star" v-show="xianshi==1">
      <img style="pointer-events: none; " class="xj" src="{$Think.const.PUBLIC_RES}/png/aunt/mb.png" />
      <h6>星级总评</h6>
      <p v-cloak>{{ pinglun.avg }}</p>
      <div>
        <span>五星好评订单数</span>
        <span v-cloak>{{ pinglun.analysis.goods.count }}</span>
      </div>
      <div>
        <span>中评订单数</span>
        <span v-cloak>{{ pinglun.analysis.mid.count }}</span>
      </div>
      <div>
        <span>差评订单数</span>
        <span v-cloak>{{ pinglun.analysis.bad.count }}</span>
      </div>
      <div>
        <span>今日收到评价数</span>
        <span v-if="pinglun.today" v-cloak>{{ pinglun.today }}</span>
        <span v-else v-cloak>0</span>
      </div>

      <!-- 取消按钮 -->
      <div class="cancel" @tap='xianshi=0'>
        <img style="pointer-events: none; " src="{$Think.const.PUBLIC_RES}/png/aunt/guanbi1.png" />
      </div>
    </div>

    <!-- 头部个人中心 -->
    <h5>
      <a href="/index.php/aunt/index/index">
        <img src="{$Think.const.PUBLIC_RES}/png/aunt/fanhui.png" />
      </a>
      <span>个人信息</span>
    </h5>

    <!-- 小哥帮logo部分 -->
    <div class="box">
      <div class="img"><img :src="user.avatar" /></div>
      <div class="earnings">
        <div>
          <strong v-cloak>{{ user.orders }}</strong>
          <p>累计完成(单)</p>
        </div>
        <div>
          <strong v-cloak>{{ user.money }}</strong>
          <p>累计收益(元)</p>
        </div>
      </div>
    </div>

    <!-- 客户信息 -->
    <ul>
      <li>
        <span>姓名</span>
        <span v-cloak>{{ user.name }}</span>
      </li>
      <!-- <li>
    <span>性别</span>
    <span>男</span>
</li>-->
      <li>
        <span>电话</span>
        <span v-cloak>{{ user.phone }}</span>
      </li>
      <li>
        <span>工号</span>
        <span v-cloak>{{ user.cid }}</span>
      </li>
      <li>
        <span>服务类别</span>
        <span v-cloak>{{ category }}</span>
      </li>
      <li class="pingjia" @tap='xianshi=1'>
        <span>星级总评</span>
        <span v-cloak>{{ pinglun.avg }} ></span>
      </li>
      <li class="pingjia">
        <a style="display: block;height: 100%;" href="http://cdn.xiaogebang.com/1f493277567d07948273cb2f3ff61c73.mp4">
          <span>视频教程</span>
          <span v-cloak> ></span>
        </a>

      </li>
      <!--  <li>
        <span>5星订单数</span>
        <span>100</span>
    </li>
    <li>
        <span>4星订单数</span>
        <span>80</span>
    </li>
    <li>
        <span>3星订单数</span>
        <span>60</span>
    </li>
    <li>
        <span>2星订单数</span>
        <span>40</span>
    </li>
    <li>
        <span>1星订单数</span>
        <span>20</span>
    </li>-->
    </ul>


    <!-- 按钮 -->
    <!-- <a href="/index.php/aunt/employee/clearbind"> -->
    <div class="btn" @tap='logout'>注销</div>
    <!-- </a> -->

  </div>


  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    new Vue({
      el: '#app',
      data: {
        // 用户数据
        user: [],
        auntopenid: '',
        date: '',
        // 用户分类
        category: '',
        // 分类列表
        list: [],
        xianshi: 0,
        pinglun: []
      },
      created: function created() {
        var that = this;
        this.date = new Date().valueOf();
        this.auntopenid = window.localStorage.auntopenid;
        axios.get('/index.php/mapiv2/staff/personal', {
          params: {
            auntopenid: that.auntopenid
          }
        }).then(function (res) {
          that.user = res.data.data[0];
          window.localStorage.setItem('auntUser', JSON.stringify(that.user));
          // 获取用户评论信息
          axios.get('/index.php/serverapi/v2.Assess/getAvgAssess', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              uid: that.user.id
            }
          }).then(function (res) {
            that.pinglun = res.data.data;
          })
        });

        // 分类数据
        axios.get('/index.php/mapi/Category/getall', {
          params: {},
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          }
        }).then(function (res) {
          that.list = res.data.data;
          window.localStorage.setItem('sort', JSON.stringify(that.list))
          // 处理展示的分类
          for (var i = 0; i < that.list.length; i++) {
            for (var j = 0; j < that.user.job.split(',').length; j++) {
              if (that.list[i].id == Number(that.user.job.split(',')[j])) {
                that.category += that.list[i].name + ' '
                // console.log(that.category);
              }
            }
          }
        });

      },
      methods: {
        logout: function logout() {
          axios.get('/index.php/aunt/employee/clearbind', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          }).then(function (res) {
            if (res.data.code == 1) {
              window.location.href = res.data.url
            } else {
              location.reload();
            }

          })
        }
      },
    });
  </script>
</body>

</html>