body {
  background-color: #f5f5f5;
}

#app {
  position: relative;
}

/* 全部分类样式 */
.all {
  position: fixed;
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 0.485rem;
  line-height: 0.485rem;
  border-bottom: 0.01rem solid #f2f2f2;
  top: 0;
  z-index: 10;
}

.all select {
  position: absolute;
  color: #333;
  font-size: 0.15rem;
  /* margin-left: 0.5rem; */
  left: 50%;
  transform: translateX(-20%);
  width: 52%;
  margin: 0;
  height: 0.48rem;
  z-index: 20;
  background-color: transparent;
}

.img-gr {
  margin: 0.12rem 0 0 0.15rem;
  width: 0.25rem;
  height: 0.25rem;
  float: left;
}

.all .imgs {
  /* float: right; */
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 0.25rem;
  margin: 0.12rem 0.15rem 0 0;
  z-index: 1;
}

/* 确认、上门、服务、完成样式 */
.top {
  margin: 0;
  width: 100%;
  height: 0.485rem;
  position: fixed;
  top: 0.485rem;
  z-index: 10;
}

.top li {
  text-align: center;
  width: 20%;
  height: 100%;
  background-color: #fff;
  line-height: 0.485rem;
  float: left;
  font-size: 0.15rem;
}

.top li a {
  color: #999;
}

.top li span {
  display: inline-block;
  height: 100%;
}

.top .accomplish span {
  color: #f95901;
}

.top .accomplish span:after {
  content: '';
  display: block;
  height: 0.015rem;
  border-bottom: 0.015rem solid #ff7223;
}

.temporarily {
  color: #999;
  text-align: center;
  line-height: 0.5rem;
  background-color: #f5f5f5;
}

/* 服务、订单样式 */
.box {
  width: 100%;
  margin-bottom: 0.1rem;
  /*background-color: #0ff;*/
  /* padding: 0.065rem 0.15rem 0 0.15rem; */
}

.gib {
  margin-top: 1.1rem;
  box-sizing: border-box;
  padding: 0 0.15rem;
}

.onw {
  width: 100%;
  background-color: #fff;
  padding: 0.145rem;
  position: relative;
  border-bottom: 0.01rem solid #f5f5f5;
  overflow: hidden;
}

.onw .triangle {
  text-align: center;
  line-height: 1.5rem;
  width: 0.9rem;
  height: 0.9rem;
  top: -0.45rem;
  right: -13%;
  position: absolute;
  font-size: 0.15rem;
  color: #fff;
  background-color: #f95901;
  transform: rotate(45deg);
}

.onw div:nth-child(1) {
  font-size: 0.18rem;
  color: #333;
  margin-bottom: 0.12rem;
}

.onw div:nth-child(1) span {
  color: #999;
  font-size: 0.12rem;
  float: right;
  margin-right: 0.375rem;
}

.onw div:nth-child(2),
.onw div:nth-child(3),
.onw div:nth-child(4) {
  color: #666;
  font-size: 0.15rem;
}

.onw img {
  width: 0.525rem;
  height: 0.525rem;
  top: 0;
  right: 0;
  position: absolute;
}

.keeping {
  position: relative;
  margin-bottom: 0.1rem;
  background-color: #fff;
  padding: 0.15rem 0 0.005rem 0.15rem;
  overflow: hidden;
}

.keeping h4 {
  color: #333;
  font-size: 0.18rem;
}

.keeping .TS {
  text-align: center;
}

.keeping .triangle {
  text-align: center;
  line-height: 1.5rem;
  width: 0.9rem;
  height: 0.9rem;
  top: -0.45rem;
  right: -13%;
  position: absolute;
  font-size: 0.15rem;
  color: #fff;
  background-color: #f95901;
  transform: rotate(45deg);
}

.keeping .note {
  color: #FF7223;
}

.keeping div {
  font-size: 0.15rem;
  color: #666;
}

.keeping .btn {
  width: 3.15rem;
  height: 0.44rem;
  margin: 0.195rem auto 0 auto;
  text-align: center;
  line-height: 0.44rem;
  color: #fff;
  font-size: 0.18rem;
  background-color: #f95901;
  border-radius: 0.05rem;
}

.keeping .price {
  color: #f95901;
}
/* 
  .keeping p {
    color: #999;
    margin-top: 0.1rem;
    text-align: center;
    font-size: 0.14rem;
  } */

.keeping #img {
  top: 0;
  right: 0;
  width: 0.525rem;
  height: 0.525rem;
  position: absolute;
}

.keeping #img-s {
  top: 0;
  right: 0;
  width: 0.525rem;
  height: 0.525rem;
  position: absolute;
}

.keeping #imgs {
  top: 0;
  right: 0;
  width: 0.525rem;
  height: 0.525rem;
  position: absolute;
}

.keeping .dbwz {
  color: #f95901;
  height: 0.4rem;
  margin-bottom: 0;
  margin-top: 0.1rem;
  font-size: 0.14rem;
  line-height: 0.43rem;
  border-top: 0.01rem solid #f5f5f5;
  position: relative;
}

.keeping .dbwz .botn {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  top: 0;
}

.keeping .dbwz .botn div,
.keeping .dbwz .botn a {
  height: 0.25rem;
  padding: 0 0.1rem;
  font-size: 0.14rem;
  display: inline-block;
  line-height: 0.25rem;
  border-radius: 0.05rem;
}

.keeping .dbwz .botn .contact {
  border: 0.01rem solid #999999;
  color: #999999;
}

.keeping .dbwz .botn .determine {
  background-color: #ff7223;
  color: #ffffff;
}

/* 时间弹框 */
.choose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
  /* display: none; */
}

/* 确定市价弹窗 */

.time {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.08rem;
  z-index: 99;
}

.time h4 {
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.6rem;
}

.time input {
  box-sizing: border-box;
  padding: 0 0.2rem;
  width: 80%;
  margin-left: 10%;
}

.time .determine {
  width: 50%;
  background-color: #f95901;
  color: #fff;
  margin-left: 25%;
  border-radius: 0.08rem;
  font-size: 0.18rem;
  text-align: center;
  line-height: 0.44rem;
  margin-bottom: 0.2rem;
}

.finished {
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem;
  border: none;
  /* margin-top: 0.05rem; */
  background-color: #fff;
}

.finished span {
  display: block;
  width: 100%;
  background-color: #ff7223;
  line-height: 0.35rem;
  text-align: center;
  color: #fff;
  border-radius: 0.05rem;
}
.btnBoxMax{
  margin-top: .15rem;
}
.btnBoxMax p{
  height: .2rem;
  line-height: .2rem;
  text-align: center;
  color: #333 !important;
}
.btnBox{
  display: flex;
  margin-bottom: .05rem;
}
.btnBox a{
  width: 1.58rem;
  height: .44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(-90deg,rgba(255,129,58,1),rgba(254,194,1,1));
  border-radius:.05rem 0px 0px .05rem;
  font-size: .2rem;
  color: #ffffff;
}
.btnBox div{
  width:1.58rem;
  height:.44rem;
  background:rgba(255,114,35,1);
  border-radius:0px .05rem .05rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .2rem;
  color: #ffffff;
}
.keeping .prompt {
  margin-top: 0.09rem;
  color: #333333;
  font-size: 0.12rem;
  box-sizing: border-box;
  padding: 0 0.15rem 0 0;
  text-align: center;
}

.keeping .prompt i {
  color: #ff7223;
  line-height: 0.3rem;
  text-align: center;
  font-style:normal;
}