body {
    background-color: #FAFAFA;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 0.5rem;
    position: fixed;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0.01rem 0.04rem 0 #F2F2F2;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
}

.header .arrows {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}

.arrows .imgs {
    width: 0.1rem;
    height: 0.2rem;
    display: block;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
    box-sizing: border-box;
}

.header .imgs {
    width: 50%;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
}

.header .img-s {
    float: right;
    width: 0.18rem;
    height: 0.18rem;
    margin: 0.13rem 0.13rem 0 0;
}

/* 列表样式 */
/*
.list {
    background-color: #fff;
    overflow: hidden;
    margin-top: 0.5rem;
}

.list img {
    width: 0.84rem;
    height: 0.84rem;
    float: left;
    margin: 0.18rem;
}

.product h4 {
    font-size: 0.16rem;
    font-weight: 500;
    color: black;
}

.list .product {
    !*background-color: #0f0;*!
    float: left;
    margin-top: 0.3rem;
    width: 43%;
}

.product div {
    font-size: 0.12rem;
}

.product .time,
.product .site {
    color: #7D6A5B;
}

.list .Grab {
    width: 21%;
    height: 0.24rem;
    line-height: 0.24rem;
    color: #fff;
    background-color: #7D5A40;
    border-radius: 0.24rem;
    float: left;
    font-size: 0.12rem;
    text-align: center;
    !*margin-left: 0.125rem;*!
    margin-top: 0.7rem;
}

!* 服务地址 *!
.sites {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    !*background-color: #0ff;*!
    padding: 0 0.18rem;
    font-size: 0.14rem;
    border-bottom: 0.01rem solid #E6E6E6;
}

.sites .area {
    float: right;
}

!* 服务时间 *!
.time {
    border-bottom: none;
}

!* 待服务 *!
.service {
    width: 100%;
    !*background-color: #0ff;*!
    text-align: center;
    position: fixed;
    bottom: 0.24rem;
}

.service p {
    font-size: 0.14rem;
    color: #7D5A40;
    margin: 0 0 0.315rem 0;
}

.service span {
    display: inline-block;
    background-color: #7D5A40;
    width: 3.2rem;
    height: 0.36rem;
    line-height: 0.36rem;
    color: #fff;
    font-size: 0.14rem;
    border-radius: 0.18rem;
}*/


/* -----------新样式------------ */

/* 等待接单 服务人员 服务中 已完成*/
.await {
    width: 100%;
    color: #fff;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.16rem;
    margin-top: 0.5rem;
    text-align: center;
    background:linear-gradient(90deg,rgba(253,124,62,1) 0%,rgba(255,197,87,1) 100%);
}

.await div {
    height: 0.2rem;
    font-size: 0.16rem;
}



/* 产品样式 */
.cleaning {
    width: 100%;
    height: 1.25rem;
    padding: 0.15rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.05rem solid #F6F6F6;
}

.cleaning img {
    float: left;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.15rem;
    border-radius: 0.05rem;
}

.cleaning .right {
    float: left;
    height: 100%;
}

.right div:nth-child(1) {
    height: 50%;
    font-size: 0.14rem;
}

.right div:nth-child(2) {
    height: 50%;
    color: #FF7223;
    font-size: 0.16rem;
    line-height: 0.75rem;
}


/* 名字、号码、地址样式 */
.location {
    width: 100%;
    height: 0.676rem;
    overflow: hidden;
    background-color: #fff;
    padding: 0.14rem 0.15rem;
    border-bottom: 0.01rem solid #f6f6f6;
}

.location img {
    float: left;
    height: 0.2rem;
    width: 0.185rem;
    margin-top: 0.13rem;
    margin-right: 0.13rem;
}

.location .nameSite {
    float: left;
    height: 100%;
}

.nameSite div {
    color: #999;
}

.nameSite div:nth-child(1) span:nth-child(1) {
    font-size: 0.16rem;
}

.nameSite div:nth-child(1) span:nth-child(2) {
    font-size: 0.14rem;
}

.nameSite div:nth-child(1) span:nth-child(3) {
    font-size: 0.12rem;
}

.nameSite div:nth-child(2) {
    font-size: 0.14rem;
}


/* 金额、抵扣、编号、时间、留言、人员、电话样式 */
ul {
    margin: 0;
    width: 100%;
    padding: 0 0.15rem;
    background-color: #fff;
    border-bottom: 0.05rem solid #f6f6f6;
}

ul li {
    width: 100%;
    height: 0.3rem;
    overflow: hidden;
}

ul li div {
    line-height: 0.3rem;
}

ul li .out-of-pocket {
    color: #666;
    float: left;
    font-size: 0.14rem;
}

li .pocket {
    color: #333;
    float: left;
    font-size: 0.14rem;
}

li .money {
    float: right;
    color: #FF7223;
    font-size: 0.14rem;
}

ul li .phone {
    color: #999;
    float: right;
    font-size: 0.14rem;
}

ul li .client {
    color: #999;
    float: right;
    width: 0.52rem;
    height: 0.2rem;
    text-align: center;
    font-size: 0.12rem;
    margin-top: 0.02rem;
    line-height: 0.2rem;
    border-radius: 0.025rem;
    border: 0.01rem solid #999;
}


/* 结束服务样式 */
.finish {
    width: 100%;
    color: #999;
    height: 0.625rem;
    text-align: center;
    font-size: 0.16rem;
    line-height: 0.625rem;
    background-color: #fff;
}







































