
body {
    background-color: #f5f5f5;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 0.5rem;
    position: fixed;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0.01rem 0.04rem 0 #F2F2F2;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}

.arrows .imgs {
    width: 0.1rem;
    height: 0.2rem;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
    padding: 0 0 0 0.15rem;
}

.header .imgs {
    width: 50%;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
}

/* 进度条样式 */
.progress {
    z-index: -2;
    width: 100%;
    height: 0.99rem;
    margin-top: 0.5rem;
    position: relative;
    background-color: #fff;
    border-bottom: 0.05rem solid #F5F5F5;
}

.progress .gray {
    left: 9%;
    top: 32%;
    margin: auto;
    z-index: -1;
    width: 80%;
    height: 0.05rem;
    position: absolute;
    background-color: #f2f2f2;
}

ul {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

ul li {
    z-index: 1;
    width: 25%;
    float: left;
    height: 100%;
    text-align: center;
    margin-top: 0.15rem;
}

ul li img {
    width: 0.4rem;
    height: 0.4rem;
}

ul li p {
    color: #262626;
    font-size: 0.135rem;
    margin: 0.1rem 0 0 0;
}

ul li:nth-child(1):before {
    content: '';
    width: 55%;
    top: 32.1%;
    z-index: -1;
    height: 0.05rem;
    position: absolute;
    background-color: #FF7223;
}

/* 客户信息样式 */

h5 {
    margin: 0;
    width: 100%;
    color: #333;
    height: 0.431rem;
    font-weight: 600;
    font-size: 0.13rem;
    line-height: 0.43rem;
    padding-left: 0.15rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #f0f0f0;
}

/* 客户信息样式 */
.client {
    width: 100%;
    height: 1.1rem;
    padding: 0 0.15rem;
    background-color: #fff;
    border-top: 0.01rem solid #fff;
    border-bottom: 0.05rem solid #F5F5F5;
}

.relation {

    overflow: hidden;
    margin-top: 0.1rem;
}

.left {
    float: left;
}

.left div {
    color: #868686;
    font-size: 0.13rem;
}

.right {
    float: right;
}

.right {
    color: #868686;
    width: 0.71rem;
    height: 0.25rem;
    text-align: center;
    font-size: 0.14rem;
    margin-top: 0.26rem;
    line-height: 0.25rem;
    border-radius: 0.05rem;
    border: 0.01rem solid #999;
}

.site {
    color: #868686;
    font-size: 0.13rem;
}

/* 订单信息样式 */
.project {
    background-color: #fff;
    padding: 0.1rem 0 0.1rem 0.15rem;
    border-bottom: 0.05rem solid #f5f5f5;
}

.project .everyday {
    color: #333;
}

.project div {
    color: #999;
    font-size: 0.13rem;
}

/* 服务已完成样式 */
.accomplish {
    color: #333;
    height: 1rem;
    font-weight: 600;
    font-size: 0.14rem;
    text-align: center;
    margin-top: 0.15rem;
}


















