body {
  background-color: #f5f5f5;
}

/* 顶部样式 */
.header {
  top: 0;
  width: 100%;
  z-index: 10;
  height: 0.5rem;
  position: fixed;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0.01rem 0.04rem 0 #f2f2f2;
}

.header span {
  font-size: 0.14rem;
  line-height: 0.5rem;
  padding-right: 0.4rem;
}

.header .arrows {
  float: left;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
}

.arrows .imgs {
  width: 0.1rem;
  height: 0.2rem;
  display: block;
  margin-top: 25%;
  box-sizing: border-box;
  padding: 0 0 0 0.15rem;
}

.header .imgs {
  width: 50%;
  display: block;
  margin-top: 25%;
  box-sizing: border-box;
}

/* 进度条样式 */
.progress {
  z-index: -2;
  width: 100%;
  height: 0.99rem;
  margin-top: 0.5rem;
  position: relative;
  background-color: #fff;
  border-bottom: 0.05rem solid #f5f5f5;
}

.progress .gray {
  left: 9%;
  top: 32%;
  margin: auto;
  z-index: -1;
  width: 80%;
  height: 0.05rem;
  position: absolute;
  background-color: #f2f2f2;
}

.progress .one {
}

.progress ul {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.progress ul li {
  z-index: 1;
  width: 25%;
  float: left;
  height: 100%;
  text-align: center;
  margin-top: 0.15rem;
}

.progress ul li img {
  width: 0.4rem;
  height: 0.4rem;
}

.progress ul li p {
  color: #262626;
  font-size: 0.135rem;
  margin: 0.1rem 0 0 0;
}

.progress ul .Bar:before {
  content: '';
  width: 25%;
  top: 32.1%;
  z-index: -1;
  height: 0.05rem;
  position: absolute;
  background-color: #ff7223;
}

/* 客户信息样式 */

h5 {
  margin: 0;
  width: 100%;
  color: #333;
  height: 0.431rem;
  font-weight: 600;
  font-size: 0.13rem;
  line-height: 0.43rem;
  padding-left: 0.15rem;
  background-color: #fff;
  border-bottom: 0.01rem solid #f0f0f0;
}

/* 客户信息样式 */
.client {
  width: 100%;
  padding: 0 0.15rem;
  background-color: #fff;
  border-top: 0.01rem solid #fff;
  border-bottom: 0.05rem solid #f5f5f5;
}

.relation {
  overflow: hidden;
  margin-top: 0.1rem;
}

.left {
  float: left;
}

.left div {
  color: #868686;
  font-size: 0.13rem;
}

.right {
  float: right;
}

.right {
  color: #868686;
  width: 0.71rem;
  height: 0.25rem;
  text-align: center;
  font-size: 0.14rem;
  margin-top: 0.26rem;
  line-height: 0.25rem;
  border-radius: 0.05rem;
  border: 0.01rem solid #999;
}

.site {
  color: #868686;
  font-size: 0.13rem;
}

/* 订单信息样式 */
.project {
  background-color: #fff;
  padding: 0.1rem 0 0.1rem 0.15rem;
  border-bottom: 0.05rem solid #f5f5f5;
}

.project .everyday {
  color: #333;
}

.project div {
  color: #999;
  font-size: 0.13rem;
}

.No-fault {
  text-align: center;
  font-size: 0.14rem;
  padding: 0.15rem 0;
}

/* 定时间、联系失败样式 */
.btn {
  overflow: hidden;
  padding: 0 0.15rem;
  margin-bottom: 0.3rem;
  margin-top: 0.2rem;
}

.btnS {
  margin: 0 auto 0.28rem auto;
  width: 3.45rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.15rem;
  color: #fff;
  text-align: center;
  background-color: #f95901;
  border-radius: 0.05rem;
}

.btn div {
  margin: 0;
  width: 50%;
  float: left;
  height: 0.3rem;
  font-size: 0.15rem;
  text-align: center;
  line-height: 0.3rem;
  background-color: #f00;
}

.btn div:nth-child(1) {
  color: #fff;
  background-color: #f95901;
  border-radius: 0.05rem 0 0 0.05rem;
}

.btn div:nth-child(2) {
  color: #999;
  background-color: #fff;
  border: 0.01rem solid #f9600c;
  border-radius: 0 0.05rem 0.05rem 0;
}

/* 放弃订单样式 */
a.abandon {
  width: 100%;
  color: #868686;
  padding: 0.08rem 0;
  text-align: center;
  text-decoration: underline;
  display: block;
  margin-bottom: 0.4rem;
}

/* 时间弹框 */
.choose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
  /* display: none; */
}

.time {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.08rem;
  z-index: 99;
}

.time h4 {
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.6rem;
}

.time input {
  box-sizing: border-box;
  padding: 0 0.2rem;
  width: 80%;
  margin-left: 10%;
}

.time .determine {
  width: 50%;
  background-color: #f95901;
  color: #fff;
  margin-left: 25%;
  border-radius: 0.08rem;
  font-size: 0.18rem;
  text-align: center;
  line-height: 0.44rem;
  margin-bottom: 0.2rem;
}

/* 订单完成样式 */
.prompt {
  box-sizing: border-box;
  padding: 0 0.15rem;
  color: #333333;
  font-size: 0.14rem;
  margin: 0.15rem 0;
}

.remark {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 0.14rem;
  font-size: 0.16rem;
  line-height: 0.44rem;
  border-top: 0.01rem solid #F5F5F5;
}

.remark .status {
  float: right;
  font-size: 0.12rem
}

.comment {
  box-sizing: border-box;
  padding: 0 0.14rem;
  background-color: #fff;
  margin-top: 0.1rem;
}

.comment .title {
  font-size: 0.16rem;
  line-height: 0.44rem;
  border-bottom: 0.01rem solid #F5F5F5;
}

.comment .aspect {
  font-size: 0.16rem;
  color: #666666;
  margin-top: 0.09rem;
} 

.comment .aspect>div span {
  line-height: 0.3rem;
  width: 75%;
  display: inline-grid;
}

.comment .aspect>div span:first-child {
  width: 22%;
}

.fulfill {
  width: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 0 0.15rem;
  background-color: #fff;
  border-radius: 0.05rem;
  z-index: 99;
}

.fulfill h4 {
   line-height: 0.2rem;
   margin-top: 0.1rem;
   font-size: 0.16rem;
   font-weight: 400;
   display: block;
   color: black;
}

.fulfill span {
  font-size: 0.16rem;
  color: #666;
}

.fulfill textarea {
  margin-top: 0.15rem;
  background-color: #F5F5F5;
  border-radius: 0.05rem;
  border: none;
  height: 1rem;
  color: #999;
  font-size: 0.16rem;
}

.fulfill .bottom {
  display: flex;
  border-top: 0.01rem solid #f5f5f5;
}

.fulfill .bottom>div {
  flex: 1;
  text-align: center;
  line-height: 0.5rem;
}

.fulfill .bottom .sib {
  border-left: 0.01rem solid #f5f5f5;
  color: #FF7223;
}

.shownow {
  min-height: 1rem;
  overflow: hidden;
}

.shownow .backnow h4,
.shownow .picnow h4  {
  text-align: center;
  font-weight: 700;
}

.shownow .backnow p {
  text-align: center;
  font-size: 0.14rem;
  margin-top: 0.1rem;
}

.shownow .picnow img {
  width: 100%;
  margin-bottom: 0.3rem;
}

.bott {
  margin-bottom: 0.4rem;
}