body {
    background-color: #f6f6f6;
}

/* 头部个人信息样式 */
h5 {
    margin: 0;
    width: 100%;
    color: #000;
    position: fixed;
    top: 0;
    height: 0.44rem;
    text-align: center;
    font-size: 0.14rem;
    line-height: 0.44rem;
    background-color: #fff;
}

h5 img {
    margin: 0.15rem 0 0 0.15rem;
    width: 0.09rem;
    height: 0.17rem;
    float: left;
}

h5 span {
    margin-right: 0.15rem;
}

/* 小哥帮logo部分样式 */
 .box {
     width: 100%;
     height: 2.01rem;
     margin-top: 0.44rem;
     background:url("../../../../resource/png/aunt/tbbjt.png") no-repeat;
     background-size: 100% 100%;
     border-bottom: 0.16rem solid #f6f6f6;
 }

 .img {
     width: 100%;
     height: 1.305rem;
     text-align: center;
     line-height: 1.305rem;
 }

.img img {
    width: 0.865rem;
    height: 0.865rem;
    margin-top: 0.28rem;
    border-radius: 50%;
}

.earnings {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.earnings div {
    float: left;
    width: 50%;
    color: #fff;
    height: 0.4rem;
}

.earnings div strong {
    font-size: 0.2rem;
}

.earnings div p {
    color: #fff;
    font-size: 0.12rem;
}

.earnings div:nth-child(1) {
    border-right: 0.01rem solid #fff;
}


/* 客户信息样式 */
ul {
    margin: 0;
    background-color: #fff;
}

ul li {
    width: 100%;
    height: 0.49rem;
    overflow: hidden;
    padding: 0 0.15rem;
    border-bottom: 0.01rem solid #f6f6f6;
}

ul li span {
    height: 100%;
    font-size: 0.18rem;
    line-height: 0.44rem;
}

ul li span:nth-child(1) {
    float: left;
    color: #333;
}

ul li span:nth-child(2) {
    float: right;
    color: #999;
}

ul li:nth-child(4) {
    max-height: 100%;
}

ul li:nth-child(4) span:nth-child(2) {
    width: 47%;
}


/* 按钮样式 */
.btn {
    color: #fff;
    width: 100%;
    height: 0.44rem;
    text-align: center;
    font-size: 0.18rem;
    margin-top: 1rem;
    line-height: 0.44rem;
    background-color: #FF7223;
}


/* 蒙版样式 */
.masking {
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    background: rgba(0, 0, 0, 1);
}

.star {
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: auto;
    height: 3.2rem;
    width: 2.865rem;
    position: fixed;
    text-align: center;
    border-radius: 0.09rem;
    transform: translate(-50%,-50%);
}

.star .xj {
    top: 0;
    left: 0;
    z-index: -1;
    width: 2.865rem;
    height: 2.755rem;
    position: absolute;
}

.star h6 {
    margin: 0;
    color: #fff;
    height: 0.45rem;
    font-size: 0.18rem;
    line-height: 0.64rem;
}

.star p {
    color: #fff;
    font-size: 0.25rem;
    margin-top: 0.05rem;
}

.star div {
    width: 100%;
    color: #333;
    margin: 0.1rem 0;
    overflow: hidden;
    padding: 0 0.4rem;
    font-size: 0.14rem;
}

.star div:nth-child(4) {
    margin-top: 0.55rem;
}

.star div span:nth-child(1) {
    float: left;
}

.star div span:nth-child(2) {
    float: right;
}

.star div:nth-child(7) {
    margin-top: 0.2rem;
}


/* 取消按钮样式 */
.star .cancel {
    margin: 0.4rem 0 0 0;
}

.cancel img {
    width: 0.345rem;
    height: 0.345rem;
}

.pingjia {
    /* margin-top: 0.1rem; */
    border-top: 0.1rem solid #f5f5f5;
    height: 0.55rem;
}












