body {
  background-color: #fafafa;
}
/* 列表样式 */
/* .noe {
  margin-bottom: 0.5rem;
}
.list {
  background-color: #fff;
  overflow: hidden;
  border-bottom: 0.01rem solid #E6E6E6;
}
.list img {
  width: 0.84rem;
  height: 0.84rem;
  float: left;
  margin: 0 0.18rem 0.18rem 0.18rem;
}
.list h4 {
  font-size: 0.16rem;
  font-weight: 400;
  margin: 0.18rem 0 0.15rem 0.18rem;
}
.list .product {
  float: left;
  width: 62%;
  height: 0.6rem;
}
.product div {
  font-size: 0.14rem;
}
.product .time,.product .site {
  color: #7D6A5B;
}
.list .Grab {
  width: 64%;
  height: 0.24rem;
  line-height: 0.24rem;
  color: #fff;
  background-color: #7D5A40;
  border-radius: 0.24rem;
  float: left;
  font-size: 0.12rem;
  text-align: center;
}
*/
/* 底部按钮 */
/* .button {
  background-color: #fff;
  width: 100%;
  height: 0.49rem;
  text-align: center;
  box-shadow:0 -0.01rem 0.04rem 0 #E4E4E4;
  position: fixed;
  bottom: 0;
}
.button div {
  width: 33.3%;
  margin-top: 0.03rem;
  float: left;
}
.button img {
  width: 0.21rem;
  height: 0.18rem;
}
.button .single {
  font-size: 0.12rem;
  margin: 0;
  color: #7D5A40;
}
.button p:hover {
  font-weight: 600;
}
*/
/* 新版 */

/* 全部分类样式 */
.all {
  width: 100%;
  height: 0.485rem;
  text-align: center;
  line-height: 0.485rem;
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
  position: relative;
  overflow: hidden;
}

.img-gr {
  margin: 0.12rem 0 0 0.15rem;
  width: 0.25rem;
  height: 0.25rem;
  float: left;
}

.all select {
  position: absolute;
  color: #333;
  font-size: 0.15rem;
  /* margin-left: 0.5rem; */
  left: 50%;
  transform: translateX(-20%);
  width: 52%;
  margin: 0;
  height: 0.48rem;
  z-index: 20;
  background-color: transparent;
}

.all .imgs {
  /* float: right; */
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 0.25rem;
  margin: 0.12rem 0.15rem 0 0;
  z-index: 1;
}

/* 确认、上门、服务、完成样式 */
.top {
  margin: 0;
  width: 100%;
  height: 0.485rem;
}

.top li {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.485rem;
  background-color: #fff;
}

ul li a {
  color: #999;
}

.top li span {
  height: 100%;
  display: inline-block;
}

.top .accomplish span {
  color: #f95901;
}

.top .accomplish span:after {
  content: '';
  display: block;
  height: 0.015rem;
  border-bottom: 0.015rem solid #ff7223;
}

.temporarily {
  color: #999;
  text-align: center;
  line-height: 0.5rem;
  background-color: #f5f5f5;
}

/* mui样式 */
html,
body {
  background-color: #f5f5f5;
}
.mui-bar ~ .mui-content .mui-fullscreen {
  top: 0.44rem;
  height: auto;
}

.mui-fullscreen {
  top: 1rem;
}

.mui-bar-nav {
  box-shadow: none;
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
}
.mui-pull-top-tips {
  left: 50%;
  top: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  border-radius: 100%;
  margin-left: -0.25rem;
}
.mui-bar ~ .mui-pull-top-tips {
  top: 0.24rem;
}
.mui-pull-top-wrapper {
  width: 0.42rem;
  display: block;
  height: 0.42rem;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #efeff4;
  background-clip: padding-box;
  box-shadow: 0 0.04rem 0.1rem #bbb;
}
.mui-pull-top-tips.mui-transitioning {
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
  /*-webkit-backface-visibility: hidden;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  */
  margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 0.07rem;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
  /*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
  color: #777;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.4rem;
  background-color: #efeff4;
}
.mui-pull-top-canvas {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: #fafafa;
  box-shadow: 0 0.02rem 0.1rem #bbb;
}
.mui-pull-top-canvas canvas {
  width: 0.4rem;
}
.mui-slider-indicator.mui-segmented-control {
  /* background-color: #fff;*/
  padding: 0 25%;
  margin-top: 0.16rem;
  box-sizing: border-box;
}
#sliderSegmentedControl .mui-control-item.mui-active {
  color: white;
  background-color: #ff7223;
  border-bottom: 0.01rem solid #ff7223;
}
#sliderSegmentedControl .switch {
  width: 50%;
  display: flex;
  height: 0.3rem;
}
#sliderSegmentedControl .mui-control-item {
  flex: 1;
  color: #999999;
  font-size: 0.15rem;
  line-height: 0.3rem;
  border: 0.01rem solid #ff7223;
}
#sliderSegmentedControl .mui-control-item:first-child {
  border-radius: 0.05rem 0 0 0.05rem;
}
#sliderSegmentedControl .mui-control-item:last-child {
  border-radius: 0 0.05rem 0.05rem 0;
}
#slider .mui-slider-item.mui-control-content.mui-active {
  border-top: none;
}

.mui-slider-group {
  margin-top: 0.22rem;
}

/* 列表样式 */
.list {
  padding: 0 0.15rem;
  background-color: #f5f5f5;
}

.list .keeping {
  position: relative;
  margin-bottom: 0.1rem;
  background-color: #fff;
  padding: 0.15rem 0 0.005rem 0.15rem;
  overflow: hidden;
}

.keeping h4 {
  color: #333;
  font-size: 0.18rem;
}

.keeping .triangle {
  text-align: center;
  line-height: 1.5rem;
  width: 0.9rem;
  height: 0.9rem;
  top: -0.45rem;
  right: -13%;
  position: absolute;
  font-size: 0.15rem;
  color: #fff;
  background-color: #f95901;
  transform: rotate(45deg);
}

.keeping .note {
  color: #ff7223;
}

.keeping div {
  font-size: 0.15rem;
  color: #666;
}

.keeping .btn {
  width: 3.15rem;
  height: 0.44rem;
  margin: 0.195rem auto 0 auto;
  text-align: center;
  line-height: 0.44rem;
  color: #fff;
  font-size: 0.18rem;
  background-color: #f95901;
  border-radius: 0.05rem;
}

.keeping .price {
  color: #f95901;
}
/* 
.keeping p {
  color: #999;
  margin-top: 0.1rem;
  text-align: center;
  font-size: 0.14rem;
} */

.keeping #img {
  top: 0;
  right: 0;
  width: 0.525rem;
  height: 0.525rem;
  position: absolute;
}

.keeping #img-s {
  top: 0;
  right: 0;
  width: 0.525rem;
  height: 0.525rem;
  position: absolute;
}

.keeping #imgs {
  top: 0;
  right: 0;
  width: 0.525rem;
  height: 0.525rem;
  position: absolute;
}

.keeping .dbwz {
  color: #f95901;
  height: 0.4rem;
  margin-bottom: 0;
  margin-top: 0.1rem;
  font-size: 0.14rem;
  line-height: 0.43rem;
  border-top: 0.01rem solid #f5f5f5;
  position: relative;
}

.keeping .dbwz .botn {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  top: 0;
}

.keeping .dbwz .botn div,
.keeping .dbwz .botn a {
  height: 0.25rem;
  padding: 0 0.1rem;
  font-size: 0.14rem;
  display: inline-block;
  line-height: 0.25rem;
  border-radius: 0.05rem;
}

.keeping .dbwz .botn .contact {
  border: 0.01rem solid #999999;
  color: #999999;
}

.keeping .dbwz .botn .determine {
  background-color: #ff7223;
  color: #ffffff;
}

/* 时间弹框 */
.choose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
  /* display: none; */
}

/* 确定市价弹窗 */

.time {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.08rem;
  z-index: 99;
}

.time h4 {
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.6rem;
}

.time input {
  box-sizing: border-box;
  padding: 0 0.2rem;
  width: 80%;
  margin-left: 10%;
}

.time .determine {
  width: 50%;
  background-color: #f95901;
  color: #fff;
  margin-left: 25%;
  border-radius: 0.08rem;
  font-size: 0.18rem;
  text-align: center;
  line-height: 0.44rem;
  margin-bottom: 0.2rem;
}
.btnBoxMax {
  margin-top: 0.15rem;
}
.btnBoxMax p {
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  color: #333 !important;
}
.btnBox {
  display: flex;
  margin-bottom: 0.05rem;
}
.btnBox a {
  width: 1.58rem;
  height: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -90deg,
    rgba(255, 129, 58, 1),
    rgba(254, 194, 1, 1)
  );
  border-radius: 0.05rem 0px 0px 0.05rem;
  font-size: 0.2rem;
  color: #ffffff;
}
.btnBox div {
  width: 1.58rem;
  height: 0.44rem;
  background: rgba(255, 114, 35, 1);
  border-radius: 0px 0.05rem 0.05rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.2rem;
  color: #ffffff;
}
.keeping .prompt {
  margin-top: 0.09rem;
  color: #333333;
  font-size: 0.12rem;
  box-sizing: border-box;
  padding: 0 0.15rem 0 0;
  text-align: center;
}

.keeping .prompt i {
  color: #ff7223;
  line-height: 0.3rem;
  text-align: center;
  font-style:normal;
}
