body {
    background-color: #FAFAFA;
}

/* 列表样式 */
.presents {
    /*background-color: #ffff00;*/
    overflow: hidden;
    border-bottom: 0.09rem solid #E6E6E6;
}

.bot {
    margin-bottom: 0.5rem;
}

.present {
    height: 0.475rem;
    line-height: 0.475rem;
    /* background-color: #0ff; */
    padding-left: 0.175rem;
}

.presentA {
    text-decoration:none;
    color:#000;
}

.list {
    background-color: #fff;
    overflow: hidden;
    border-bottom: 0.01rem solid #E6E6E6;
}

.list img {
    width: 0.84rem;
    height: 0.84rem;
    float: left;
    margin: 0.18rem;
}

.product h4 {
    font-size: 0.16rem;
    font-weight: 500;
    color: black;
}

.list .product {
    /*background-color: #0f0;*/
    float: left;
    margin-top: 0.3rem;
    width: 43%;
}

.product div {
    font-size: 0.12rem;
}

.product .time,.product .site {
    color: #7D6A5B;
}

.list .Grab {
    width: 21%;
    height: 0.24rem;
    line-height: 0.24rem;
    color: #fff;
    background-color: #7D5A40;
    border-radius: 0.24rem;
    float: left;
    font-size: 0.12rem;
    text-align: center;
    /*margin-left: 0.125rem;*/
    margin-top: 0.7rem;
}


/* 底部按钮 */
.button {
    background-color: #fff;
    width: 100%;
    height: 0.49rem;
    text-align: center;
    box-shadow:0 -0.01rem 0.04rem 0 #E4E4E4;
    position: fixed;
    bottom: 0;
}

.button div {
    width: 33.3%;
    margin-top: 0.03rem;
    float: left;
}

.button img {
    width: 0.21rem;
    height: 0.18rem;
}

.button .serve {
    font-size: 0.12rem;
    margin: 0;
    color: #7D5A40;
}

.button p:hover {
    /*color: #7D5A40;*/
    font-weight: 600;
}



















