<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*产品名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg=""  class="form-control" name="row[name]" maxlength="50"  type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*产品分类:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[cate]',$cate)}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*产品价格:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg="请输入正确产品价格"  class="form-control" name="row[commonprice]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*会员价:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg="请输入正确会员价"  class="form-control" name="row[vipprice]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*拼团价格:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg="请输入正确类目名称"  class="form-control" name="row[grabprice]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*成本价:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg="请输入正确成本价"  class="form-control" name="row[costprice]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">产品摘要:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[brief]')}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*总服务次数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile"  data-rule="required;" data-msg="只能输入整数"  class="form-control" name="row[times]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 产品缩略图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[inoc]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 产品图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar1" data-rule="required" class="form-control" size="50" name="row[pic]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar1" class="btn btn-danger plupload" data-input-id="c-avatar1" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar1"><i class="fa fa-upload"></i> {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar1"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar1"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否拼团商品:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_grob]', ['1'=>'是', '0'=>'否'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">内容:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::editor('row[detail]','请输入',array('class'=>'editor','id'=>'editor'))}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[bak]')}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
