<link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/js/layer/mobile/need/layer.css?{$Think.config.fastadmin['v_api']}">
<script src="{$Think.const.PUBLIC_RES}/js/layer/mobile/layer.js?{$Think.config.fastadmin['v_api']}"></script>
<style>
    .sfd {
        line-height: 31px;
        width: 80px;
        text-align: center;
        background-color: #18bc9c;
        color: white;
        border-radius: 5px;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*产品名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required;" data-msg="" class="form-control" name="row[name]" maxlength="50"
                type="text" value="{$row['name']}">
            <input type="checkbox" value='name' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*产品分类:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[cate]',$cate,$row['cate'])}
            <input type="checkbox" value='cate' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*产品价格:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required;" data-msg="请输入正确产品价格" class="form-control" name="row[commonprice]"
                type="text" value="{$row['commonprice']}">
            <input type="checkbox" value='commonprice' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*会员价:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required;" data-msg="请输入正确会员价" class="form-control" name="row[vipprice]"
                type="text" value="{$row['vipprice']}">
            <input type="checkbox" value='vipprice' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*拼团价格:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required;" data-msg="请输入正确类目名称" class="form-control" name="row[grabprice]"
                type="text" value="{$row['grabprice']}">
            <input type="checkbox" value='grabprice' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*成本价:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required;" data-msg="请输入正确成本价" class="form-control" name="row[costprice]"
                type="text" value="{$row['costprice']}">
            <input type="checkbox" value='name="costprice"' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">产品摘要:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[brief]',$row['brief'])}
            <input type="checkbox" value='brief' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">*总服务次数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required;" data-msg="只能输入整数" class="form-control" name="row[times]"
                type="text" value="{$row['times']}">
            <input type="checkbox" value='times' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 产品缩略图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[inoc]" type="hidden"
                    value="/{$row['inoc']}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload"
                            data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                            data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i>
                            {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
            <input type="checkbox" value='inoc' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">* 产品图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar1" data-rule="required" class="form-control" size="50" name="row[pic]" type="hidden"
                    value="/{$row['pic']}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar1" class="btn btn-danger plupload"
                            data-input-id="c-avatar1" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                            data-multiple="false" data-preview-id="p-avatar1"><i class="fa fa-upload"></i>
                            {:__('Upload')}图片</button></span>
                </div>
                <span style="margin:10px 0 0 90px" class="msg-box n-right" for="c-avatar1"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar1"></ul>
            <input type="checkbox" value='pic' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否拼团商品:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_grob]', ['1'=>'是', '0'=>'否'],$row['is_grob'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">内容:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::editor('row[detail]',$row['detail'],array('class'=>'editor','id'=>'editor'))}
            <input type="checkbox" value='detail' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[bak]',$row['bak'])}
            <input type="checkbox" value='bak' /> 是否同步
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">同步:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="sfd">
                开始同步
            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>

    <script src="{$Think.const.ADMIN_PUBLIC_PATH}/js/jq/jquery-3.3.1.min.js" type="text/javascript"
        charset="utf-8"></script>
    <script>
        $(function () {
            $('.sfd').on('click', function () {
                console.log($("input[type='checkbox']:checked"));
                var checkbox = new Array();
                $("input[type='checkbox']:checked").each(function () {
                    checkbox.push($(this).val())
                });
                var idstr = checkbox.join(',')
                $.ajax({
                    type: "post",
                    url: "/index.php/api/shopapi.goods/togetherUpdate",
                    data: {
                        id: "{$row['id']}",
                        field: idstr
                    },
                    dataType: "json",
                    success: function (res) {
                        // console.log(response);
                        layer.msg('同步成功'); 
                    }
                });
            })
        })

    </script>
</form>