body {
    background: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.couple {
    width: 100%;
    height: 100%;
}

.describe {
    /* padding-top:  0.44rem; */
}

/* 头部+箭头 */
.couple .heade_couple {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.heade_arrows {
    width: 0.135rem;
    height: 0.005rem;
    position: absolute;
    top:0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrow img {
    width: 0.09rem;
    height: 0.17rem;
}

.heade_couple p {
    margin: 0;
    font-size: 0.14rem;
    color:#000;
    text-align: center;
    line-height: 0.44rem;
    letter-spacing: 0.02rem;
}

/* 描述内容 */

/*.describe h5 {
    width: 0.75rem;
    height: 0.14rem;
    margin: 0.49rem 0 0 0.325rem;
    font-size: 0.15rem;
    color:#454545;
}*/

.describe textarea {
    color: #999;
    width: 3.45rem;
    height: 1.91rem;
    border-radius:4px;
    font-size: 0.14rem;
    margin: 0.3rem 0.15rem 0 0.15rem;
}

/*
.certificate h5 {
    width: 1.1rem;
    height: 0.14rem;
    font-size: 0.15rem;
    color:#454545;
    margin: 0 2.48rem 0.24rem 0.335rem;
}

.certificate ul {
    width: 100%;
    overflow: hidden;
}

.certificate ul li {
    position: relative;
    width: 26%;
    height: 1.34rem;
    float: left;
    box-shadow:0 0.01rem 0.03rem 0 rgba(69,69,69,0.2);
    border-radius:0.04rem;
    margin: 0.24rem 0.075rem 1.4rem 0.32rem;
    text-align: center;
}
*/

/* 图片选填 */
/*.certificate ul .lis {
    margin: 0.24rem 0 1.4rem 0;
}

.certificate ul .u_lis {
    margin: 0.24rem 0.075rem 1.4rem 0.075rem;
}*/

/*ul li img {
    position: absolute;
    top: 0.515rem;
    right: 0.335rem;
    bottom: 0.515rem;
    left: 0.33rem;
    width: 0.325rem;
    height: 0.31rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/

.submit {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    bottom: 0.3rem;
}

.submit span {
    display: inline-block;
    background-color: #FF7223;
    width: 3.2rem;
    height: 0.36rem;
    color: #fff;
    font-size: 0.14rem;
    line-height: 0.36rem;
    border-radius: 0.18rem;
}


/* 蒙版样式 */
.masking {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: fixed;
    z-index: 2;
}

.submits  {
    width: 2.79rem;
    height: 2.7rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    margin-left: -37%;
    margin-top: -50%;
}

.win {
    width: 2.79rem;
    height: 2.2rem;
    background-color: #fff;
    border-radius: 0.05rem;
    overflow: hidden;
}

.win .face {
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    background-color: #FF7223;
}

.win .face img {
    width: 0.28rem;
    height: 0.28rem;
}

.win .face span {
    color: #fff;
    font-size: 0.15rem;
}

.win .field {
    line-height: 0.25rem;
    font-size: 0.14rem;
    padding: 0 0.4rem;
    margin-top: 0.235rem;
    text-align: center;
}

.win .btn {
    width: 2.49rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    color: #fff;
    background-color: #FF7223;
    border-radius: 0.2rem;
    margin: 0.17rem auto 0 auto;
}

.submits .cancel {
    width: 0.25rem;
    height: 0.25rem;
    margin: 0.25rem auto 0 auto;
}

.submits .cancel img {
    width: 100%;
    height: 100%;
}

















