<!-- Logo -->
<a href="javascript:;" class="logo">
        <!-- 迷你模式下Logo的大小为50X50 -->
        <span class="logo-mini">小哥帮</span>
        <!-- 普通模式下Logo -->
        <span class="logo-lg"><b>小哥帮后台管理系统</b></span>
    </a>
    
    <!-- 顶部通栏样式 -->
    <nav class="navbar navbar-static-top">
    
        <!--第一级菜单-->
        <div id="firstnav">
            <!-- 边栏切换按钮-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">{:__('Toggle navigation')}</span>
            </a>
    
            <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
            <ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs" role="tablist">
                {$navlist}
            </ul>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
    {if in_array($auth->getGroupIds()[0], $Think.config.city_group_ids)}
                    <li class="dropdown city-menu">
                        <a href="javascript:;" data-toggle="dropdown" title="切换城市">
                            <span id="current_city">{$city_name}</span> <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu cm">
                            <li class="cen"><a href="javascript:" data-type="city_id">city_name</a></li>
                        </ul>
                    </li>
    {/if}
                    <li class="dropdown notifications-menu hidden-xs">

                        <ul class="dropdown-menu">
                            <li class="header">{:__('Latest news')}</li>
                            <li>
                                <!-- FastAdmin最新更新信息,你可以替换成你自己站点的信息,请注意修改public/assets/js/backend/index.js文件 -->
                                <ul class="menu">
    
                                </ul>
                            </li>
                            <li class="footer"><a href="#" target="_blank">{:__('View more')}</a></li>
                        </ul>
                    </li>
    
                    <!-- 清除缓存 -->
                    <li>
                        <a href="javascript:;" data-toggle="dropdown" title="{:__('Wipe cache')}">
                            <i class="fa fa-trash"></i>
                        </a>
                        <ul class="dropdown-menu wipecache">
                            <li><a href="javascript:;" data-type="all"><i class="fa fa-trash"></i> {:__('Wipe all cache')}</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" data-type="content"><i class="fa fa-file-text"></i> {:__('Wipe content cache')}</a></li>
                            <li><a href="javascript:;" data-type="template"><i class="fa fa-file-image-o"></i> {:__('Wipe template cache')}</a></li>
                            <li><a href="javascript:;" data-type="addons"><i class="fa fa-rocket"></i> {:__('Wipe addons cache')}</a></li>
                        </ul>
                    </li>
    
                    
    
                    <!-- 全屏按钮 -->
                    <li class="hidden-xs">
                        <a href="#" data-toggle="fullscreen" title="全屏"><i class="fa fa-arrows-alt"></i></a>
                    </li>
    
                    <!-- 账号信息下拉框 -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{$admin.avatar|cdnurl}" class="user-image" alt="{$admin.nickname}">
                            <span class="hidden-xs">{$admin.nickname}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{$admin.avatar|cdnurl}" class="img-circle" alt="">
    
                                <p>
                                    {$admin.nickname}
                                    <small>{$admin.logintime|date="Y-m-d H:i:s",###}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body"></li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="general/profile" title="修改密码" class="btn btn-primary dialogit"><i class="fa fa-user"></i>
                                        {:__('修改密码')}</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{:url('index/logout')}" class="btn btn-danger"><i class="fa fa-sign-out"></i>
                                        {:__('Logout')}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- 控制栏切换按钮 -->
                    <li class="hidden-xs">
                        <a href="javascript:;" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    
        {if $config.fastadmin.multiplenav}
        <!--第二级菜单,只有在multiplenav开启时才显示-->
        <div id="secondnav">
            <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist">
                {if $fixedmenu}
                <li role="presentation" id="tab_{$fixedmenu.id}" class="{:$referermenu?'':'active'}"><a href="#con_{$fixedmenu.id}" node-id="{$fixedmenu.id}" aria-controls="{$fixedmenu.id}" role="tab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> <span>{$fixedmenu.title}</span> <span class="pull-right-container"> </span></a></li>
                {/if}
                {if $referermenu}
                <li role="presentation" id="tab_{$referermenu.id}" class="active"><a href="#con_{$referermenu.id}" node-id="{$referermenu.id}" aria-controls="{$referermenu.id}" role="tab" data-toggle="tab"><i class="fa fa-list fa-fw"></i> <span>{$referermenu.title}</span> <span class="pull-right-container"> </span></a> <i class="close-tab fa fa-remove"></i></li>
                {/if}
            </ul>
        </div>
        {/if}
    </nav>