body {
  background-color: #f5f5f5;
}

/* 头部样式 */
.home {
  width: 100%;
  position: relative;
  /*background-color: #0ff;*/
}

.home .header {
  width: 100%;
  height: 0.44rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 0.14rem;
}

.arrows {
  width: 0.09rem;
  height: 0.17rem;
  position: absolute;
  top: 0.095rem;
  bottom: 0.09rem;
  left: 0.15rem;
}

.arrows img {
  width: 0.09rem;
  height: 0.17rem;
}

.character {
  position: absolute;
  top: 0.08rem;
  bottom: 0.08rem;
  right: 0.16rem;
}

.home .header .character span {
  color: red;
  width: 0.5rem;
}

/* 当没有地址时 */
.none {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0.73rem;
  margin-top: 1rem;
  position: relative;
}

.none img {
  width: 100%;
}

.none p {
  text-align: center;
  color: #999999;
  font-size: 0.15rem;
}

.none .new {
  font-size: 0.14rem;
  text-align: center;
  border: 0.01rem solid #ff7223;
  color: #ff7223;
  line-height: 0.3rem;
  margin-top: 0.52rem;
  border-radius: 0.05rem;
  width: 1.11rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.none .new a {
  color: #ff7223;
  display: block;
}

/* 选着地址 */
.list {
  width: 100%;
  margin-top: 0.7rem;
}

.list ul {
}

.list ul li {
  box-sizing: border-box;
  padding: 0 0.18rem;
  height: 1rem;
  margin-top: 0.05rem;
  background-color: #fff;
  position: relative;
}

.list ul li .but {
  float: left;
  width: 0.41rem;
  height: 100%;
  position: relative;
}

.list ul li .but .circle {
  border-radius: 50%;
  width: 0.16rem;
  height: 0.16rem;
  border: 0.01rem solid #bcbdbf;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.list ul li .but .selected {
  left: 0;
}

.list ul li .cont {
  display: inline-block;
  margin-top: 0.12rem;
  width: 80%;
}

.list ul li .cont h5 {
  font-size: 0.18rem;
  display: inline-block;
  color: black;
}

.list ul li .cont span {
  color: #999;
  font-size: 0.15rem;
}

.list ul li p {
  color: black;
  font-size: 0.15rem;
  margin-top: 0.08rem;
  /* display: inline-block; */
  box-sizing: border-box;
  padding: 0 0.35rem 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.list ul li .change {
  position: absolute;
  height: 100%;
  width: 15%;
  right: 0;
  top: 0;
}

.list ul li img {
  float: right;
  width: 0.16rem;
  height: 0.16rem;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.fresh {
  width: 66%;
  box-sizing: border-box;
  margin: 0 0.6rem;
  background: linear-gradient(
    0deg,
    rgba(254, 113, 34, 1),
    rgba(255, 144, 44, 1)
  );
  height: 0.4rem;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 0.4rem;
  margin-top: 0.5rem;
  color: white;
}

