body {
    background: #f5f5f5;
}

/* 顶部样式 */
.header {
    height: 0.55rem;
    background-color: #FF7223;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    border-bottom: 0.05rem solid #f5f5f5;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
    color: #fff;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 搜索框样式 */
.search {
    width: 100%;
    height: 0.77rem;
    line-height: 0.77rem;
    background-color: #fff;
    position: fixed;
    top: 0.5rem;
    text-align: center;
    border-bottom: 0.02rem solid #f5f5f5;
}

.search input {
    width: 92%;
    height: 0.4rem;
    margin: 0.2rem 0 0 0;
    border-radius: 1rem;
    font-size: 0.12rem;
    padding-left: 0.4rem;
}

.search img {
    width: 0.19rem;
    height: 0.19rem;
    position: absolute;
    left: -42%;
    margin-left: 50%;
    top: -20%;
    margin-top: 12%;
}

/* 阿姨列表样式 */
ul {
    width: 100%;
    background-color: #fff;
    margin: 1.28rem 0 0 0;
}

ul li {
    width: 100%;
    height: 0.73rem;
    line-height: 0.72rem;
    padding: 0 0.15rem;
    border-bottom: 0.01rem solid #f5f5f5;
}

ul li img {
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    margin-top: 0.15rem;
    margin-right: 0.08rem;
    float: left;
}

ul li div {
    display: inline-block;
    /*background-color: #666;*/
    height: 100%;
    line-height: 0.45rem;
}


ul li span {
    font-size: 0.14rem;
    /*background-color: #0ff;*/
}

ul li p {
    /*background-color: #DD0000;*/
    margin: 0;
    line-height: 0.1rem;
}



























