/** {
    margin: 0;
    padding: 0;
}*/
body {
    background-color: #FAFAFA;
}

/* 顶部样式 */
.header {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 0.5rem;
    position: fixed;
    text-align: center;
    background-color: #fff;
}

.header span {
    font-size: 0.14rem;
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}

.arrows img {
    width: 0.1rem;
    display: block;
    height: 0.2rem;
    margin-top: 25%;
    box-sizing: border-box;
    padding: 0 0 0 0.15rem;
}

.header img {
    width: 50%;
    display: block;
    margin-top: 25%;
    box-sizing: border-box;
}


/*

!* 商品信息 *!
.middle {
    margin-top: 0.6rem;
    width: 100%;
    height: 100%;
    !*background-color: #8CFFE2;*!
    !*padding: 0 0.1rem;*!
}
.middle .present {
    margin-top: 0.1rem;
    display: block;
}

.middle ul {
    width: 100%;
    !*background-color: #FFCCF6;*!
    border-bottom: 0.09rem solid #e6e6e6;
    margin: 0;
}

.middle li {
    width: 100%;
    height: 1.12rem;
    !* border: 1px solid #B7B7B7; *!
    !*margin-bottom: 0.1rem;*!
    background-color: #fff;
}
.middle li img {
    float: left;
    width: 0.84rem;
    height: 0.84rem;
    margin: 0.14rem 0.175rem;
}

.name {
    float: left;
    margin-top: 0.17rem;
    width: 50%;
}

.name span {
    display: inline-block;
    font-size: 0.16rem;
}

.name .age {
    font-size: 0.1rem;
    margin-top: 0.1rem;
    color: #A68C79;
    width: 2.2rem;
}

.examine {
    width: 20%;
    height: 0.35rem;
    line-height: 0.35rem;
    border: 1px solid #000;
    border-radius: 5%;
    text-align: center;
    float: right;
    margin: 0.28rem 0.1rem 0 0;
    font-size: 0.01rem;
}

!* 服务地址样式 *!
.staff  {
    background-color: #fff;
    font-size: 0.14rem;
    margin: 0;
    overflow: hidden;
    height: 0.5rem;
    border-bottom: 0.01rem solid #e6e6e6;
}

.staff .time {
    margin-left: 0.175rem;
    line-height: 0.5rem;
}

.staff .years {
    float: right;
    margin-right: 0.175rem;
    line-height: 0.5rem;
}

.times .time {
    display: inline-block;
    width: 20%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
    !*margin-left: 0.175rem;*!
}

.times .years {
    display: inline-block;
    width: 45%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
}
.staffs  {
    background-color: #fff;
    font-size: 0.14rem;
    margin: 0;
    overflow: hidden;
    height: 0.5rem;
    !*border-bottom: 0.01rem solid #e6e6e6;*!
}

.staffs .time {
    margin-left: 0.175rem;
    line-height: 0.5rem;
    width: 20%;
    display: inline-block;
}

.staffs .years {
    !*float: right;*!
    line-height: 0.5rem;
    width: 32%;
    display: inline-block;
    !*background: #f00;*!
}

.times .time {
    display: inline-block;
    width: 20%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
    !*margin-left: 0.175rem;*!
}

.times .years {
    display: inline-block;
    width: 45%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
}

.imgs {
    background-color: #fff;
    border-bottom: 0.01rem solid #e6e6e6;
}

.imgs img {
    width: 0.84rem;
    height: 0.84rem;
    !*margin-left: 0.175rem;*!
    !*margin-bottom: 0.18rem;*!
    margin: 0 0 0.18rem 0.175rem;
}

.staffs .relation {
    display: inline-block;
    width: 28%;
    border-radius: 0.12rem;
    text-align: center;
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #fff;
    background-color: #7D5A40;
    float: right;
    margin-right: 0.185rem;
    margin-top: 0.13rem;
}

.staffs img {
    width: 6%;
    height: 0.21rem;
    !*margin-left: 0.65rem;*!
}



!* 服务地址 *!
.times .centre {
    display: inline-block;
    width: 45%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
}

!* 服务人员 *!
.times .teacher {
    display: inline-block;
    width: 30%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
}

.times .staff {
    display: inline-block;
    border: 1px solid #000;
    width: 33%;
    !*height: 0.25rem;*!
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.25rem;
    !*margin-left: 0.2rem;*!
    font-size: 0.15rem;
}

!* 咨询电话样式 *!
.phone {
    !*background-color: #0ff;*!
    overflow: hidden;
    margin-top: 0.15rem;
    !*font-size: 0.14rem;*!
}

.phone .consult {
    display: inline-block;
    !*background-color: #f00;*!
    width: 40%;
    line-height: 0.25rem;
    !*margin: 0;*!
    border: none;
    font-size: 0.14rem;
    margin-left: 0.175rem;
}

.phone .relation {
    display: inline-block;
    !*border: 1px solid #000;*!
    width: 24%;
    !*height: 0.25rem;*!
    border-radius: 0.12rem;
    text-align: center;
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #fff;
    background-color: #7D5A40;
    float: right;
    margin-right: 0.185rem;
}

.phone img {
    width: 6%;
    height: 0.21rem;
    margin-left: 0.65rem;
}


!* 订单已发送样式 *!
.confirm {
    text-align: center;
    !*background-color: #FFA6B3;*!
    margin-top: 0.5rem;
}
.confirm span {
    display: inline-block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.14rem;
    color: #7D5A40;
    !*border: 1px solid #000;*!
    !*border-radius: 0.1rem;*!
}
*/

/* -------------新样式----------- */

/* 等待接单 服务人员 服务中 已完成*/
.await {
    width: 100%;
    color: #fff;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.16rem;
    /*margin-top: 0.5rem;*/
    text-align: center;
    background:linear-gradient(90deg,rgba(253,124,62,1) 0%,rgba(255,197,87,1) 100%);
}

.await div {
    height: 0.2rem;
    font-size: 0.16rem;
}



/* 产品样式 */
.cleaning {
    width: 100%;
    height: 1.25rem;
    padding: 0.15rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.05rem solid #F6F6F6;
    position: relative;
}

.cleaning img {
    float: left;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.15rem;
    border-radius: 0.05rem;
}

.cleaning .right {
    float: left;
    height: 100%;
}

.right div:nth-child(1) {
    height: 50%;
    font-size: 0.14rem;
}

.right div:nth-child(2) {
    height: 50%;
    color: #FF7223;
    font-size: 0.16rem;
    line-height: 0.75rem;
}


/* 名字、号码、地址样式 */
.location {
    width: 100%;
    height: 0.8rem;
    overflow: hidden;
    background-color: #fff;
    padding: 0.14rem 0.15rem;
    border-bottom: 0.01rem solid #f6f6f6;
}

.location img {
    float: left;
    height: 0.2rem;
    width: 0.185rem;
    margin-top: 0.13rem;
    margin-right: 0.13rem;
}

.location .nameSite {
    /*float: left;*/
    height: 100%;
}

.nameSite div {
    color: #999;
}

.nameSite div:nth-child(1) span:nth-child(1) {
     font-size: 0.16rem;
 }

.nameSite div:nth-child(1) span:nth-child(2) {
    font-size: 0.14rem;
}

.nameSite div:nth-child(1) span:nth-child(3) {
    font-size: 0.12rem;
}

.nameSite div:nth-child(2) {
    font-size: 0.14rem;
    padding: 0 0 0 0.3rem;
}


/* 金额、抵扣、编号、时间、留言、人员、电话样式 */
ul {
    margin: 0;
    width: 100%;
    padding: 0 0.15rem;
    background-color: #fff;
    border-bottom: 0.05rem solid #f6f6f6;
}

ul li .leave {
    height: 100%;
}

ul li .asd {
    width: 75%;
    color: #999;
    float: left;
    text-align: right;
    font-size: 0.14rem;
    line-height: 0.2rem;
    padding: 0.07rem 0 0 0;
}

ul li {
    width: 100%;
    /*height: 0.3rem;*/
    overflow: hidden;
}

ul li div {
    line-height: 0.3rem;
}

ul li .out-of-pocket {
    color: #666;
    float: left;
    font-size: 0.14rem;
}

li .pocket {
    color: #333;
    float: left;
    font-size: 0.14rem;
}

li .money {
    float: right;
    color: #FF7223;
    font-size: 0.14rem;
}

ul li .phone {
    color: #999;
    float: right;
    font-size: 0.14rem;
}


/* 联系服务人员 */
.relation {
    width: 100%;
    height: 0.625rem;
    text-align: center;
    line-height: 0.625rem;
    background-color: #fff;
}

.relation img {
    width: 0.22rem;
    height: 0.24rem;
}

.relation span {
    color: #999;
    font-size: 0.16rem;
}
.pingjia {
    position: absolute;
    right: 0.3rem;
    top: 45%;
    border: 0.01rem solid #FF7223;
    padding: 0.08rem 0.18rem;
    color: #FF7223;
    border-radius: 0.05rem;
}

.nopingjia {
    position: absolute;
    right: 0.3rem;
    top: 45%;
    border: 0.01rem solid #999999;
    padding: 0.08rem 0.18rem;
    color: #999999;
    border-radius: 0.05rem;
}

.prompt {
    margin-top: 0.09rem;
    color: #999999;
    font-size: 0.12rem;
    box-sizing: border-box;
    padding: 0 0.1rem;
    text-align: center;
}

.prompt i {
    color: #FF7223;
    line-height: 0.3rem;
    text-align: center;
    font-style:normal;
}




