* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

/* 顶部样式 */
.header {
  height: 0.5rem;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  text-align: center;
}

.header span {
  line-height: 0.5rem;
  padding-right: 0.4rem;
}

.header .arrows {
  display: inline-block;
  height: 0.5rem;
  float: left;
  width: 0.5rem;
}

.arrows img {
  display: block;
  width: 0.1rem;
  height: 0.2rem;
  box-sizing: border-box;
  margin-top: 25%;
  padding: 0 0 0 0.15rem;
}

.header img {
  display: block;
  width: 50%;
  box-sizing: border-box;
  margin-top: 25%;
}

/* 商品信息 */
.middle {
  margin-top: 0.6rem;
  width: 100%;
  /*background-color: #8CFFE2;*/
  /*padding: 0 0.1rem;*/
}

.middle .present {
  margin-top: 0.1rem;
  display: block;
}

.middle ul {
  width: 100%;
  /*background-color: #FFCCF6;*/
  border-bottom: 0.09rem solid #e6e6e6;
}

.middle li {
  width: 100%;
  height: 1.12rem;
  /* border: 1px solid #B7B7B7; */
  /*margin-bottom: 0.1rem;*/
  background-color: #fff;
}

.middle li img {
  float: left;
  width: 0.84rem;
  height: 0.84rem;
  margin: 0.14rem 0.175rem;
}

.name {
  float: left;
  margin-top: 0.17rem;
  width: 50%;
}

.name span {
  display: inline-block;
  font-size: 0.16rem;
}

.name .age {
  font-size: 0.1rem;
  margin-top: 0.1rem;
  color: #a68c79;
  width: 2.2rem;
}

.examine {
  width: 20%;
  height: 0.35rem;
  line-height: 0.35rem;
  border: 1px solid #000;
  border-radius: 5%;
  text-align: center;
  float: right;
  margin: 0.28rem 0.1rem 0 0;
  font-size: 0.01rem;
}

/* 服务类型 */

/* 服务地址样式 */
.serve .location {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-bottom: 0.01rem solid #e6e6e6;
}

.location img {
  width: 0.15rem;
  position: absolute;
  right: 0.18rem;
  top: 0.17rem;
}

.serve .site {
  display: inline-block;
  /* background-color: #f00; */
  width: 10%;
  /*margin-top: 0.12rem;*/
  /*margin-left: 0.175rem;*/
  border: none;
  font-size: 0.14rem;
  margin: 0.12rem 0 0 0.175rem;
}

.serve .area {
  width: 29%;
  font-size: 0.15rem;
  /*background-color: #0f0;*/
  /* height: 0.4rem; */
  margin: 0;
  float: right;
}

.serve textarea {
  width: 100%;
  /* margin-left: 0.82rem; */
  font-size: 0.13rem;
  border: none;
  border-bottom: 0.09rem solid #e6e6e6;
  border-radius: 0;
  margin: 0;
}

/* 服务时间样式 */
.times {
  background-color: #fff;
  overflow: hidden;
  border-bottom: 0.01rem solid #e6e6e6;
  position: relative;
  border-top: 0.01rem solid #fff;
}

.times div {
  width: 1.4rem;
  height: 0.38rem;
  line-height: 0.38rem;
  position: absolute;
  right: 0.35rem;
  bottom: 0;

}

.times img {
  width: 0.15rem;
  position: absolute;
  right: 0.17rem;
  top: 0.16rem;
}

.serve .time {
  display: inline-block;
  /*background-color: #f00;*/
  width: 26%;
  /*margin: 0;*/
  border: none;
  font-size: 0.14rem;
  line-height: 0.4rem;
  margin-left: 0.175rem;
}

.serve input {
  width: 60%;
  font-size: 0.14rem;
  margin: 0;
  float: right;
  border: 0;
  /*background-color: #f00;*/
}

/* 服务人员样式 */
.crew {
  background-color: #fff;
  overflow: hidden;
  border-bottom: 0.01rem solid #e6e6e6;
  position: relative;
  margin-bottom: 0.1rem;
}

.crew img {
  width: 0.15rem;
  position: absolute;
  right: 0.18rem;
  top: 0.17rem;
}

.serve .staffs {
  display: inline-block;
  /*background-color: #f00;*/
  width: 32%;
  /*margin: 0;*/
  border: none;
  font-size: 0.14rem;
  line-height: 0.47rem;
  margin-left: 0.175rem;
  /*float: right;*/
}

.serve .inquire {
  width: 42%;
  font-size: 0.14rem;
  margin: 0;
  float: right;
  display: block;
  line-height: 0.2rem;
  border-bottom: #aaa solid 0.01rem;
  padding: 0;
  border-radius: 0;
}

.serve .determine {
  width: 15%;
  font-size: 0.14rem;
  margin: 0;
  float: right;
  display: block;
  line-height: 0.27rem;
  background-color: #ddd;
}

.serve .staff {
  width: 38%;
  font-size: 0.14rem;
  margin: 0;
  float: right;
  margin-right: 0.25rem;
}

.show {
  width: 25%;
  /*margin: 0.1rem 0.1rem 0 0.175rem;*/
  margin-left: 0.175rem;
}

.workerName {
  float: right;
  margin-right: 20%;
  font-size: 0.18rem;
  line-height: 0.3rem;
}

/* 咨询电话样式 */
.phone {
  /*background-color: #0ff;*/
  overflow: hidden;
  margin-top: 0.1rem;
  width: 100%;
}

.serve .consult {
  display: inline-block;
  /*background-color: #f00;*/
  width: 40%;
  line-height: 0.25rem;
  /*margin: 0;*/
  border: none;
  font-size: 0.14rem;
  margin-left: 0.175rem;
}

.serve .relation {
  display: inline-block;
  /*border: 1px solid #000;*/
  width: 24%;
  /*height: 0.25rem;*/
  border-radius: 0.12rem;
  text-align: center;
  line-height: 0.25rem;
  font-size: 0.14rem;
  color: #fff;
  background-color: #7d5a40;
  /*float: right;*/
  margin-right: 0.185rem;
  /*color: white;*/
}

.phone img {
  width: 6%;
  height: 0.21rem;
  margin-left: 0.65rem;
}

.serve {
  position: relative;
  /*background-color: #f00;*/
  height: 4.5rem;
}

/* 确定按钮样式 */
.confirm {
  text-align: center;
  /*background-color: #FFA6B3;*/
  /*margin-top: 0.5rem;*/
  /*position: fixed;*/
  bottom: 0.5rem;
  position: absolute;
  width: 100%;
  /*left: 0;*/
}

.confirm span {
  display: inline-block;
  width: 3.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
  /*border: 1px solid #000;*/
  border-radius: 0.25rem;
  font-size: 0.14rem;
  color: #fff;
  font-weight: 500;
  background-color: #7d5a40;
}

.pop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  z-index: 50;
  background-color: #fff;
  /*border-radius: 0.1rem;*/
  /* background-color: #79c12f; */
}

.pop .xuan {
  display: flex;
  /* margin-top: 0.1rem; */
  background-color: #f2f2f2;
}

.pop > h4 {
  text-align: center;
  line-height: 0.35rem;
  margin: 0;
  background: #79c12f;
  color: #fff;
}

.pop .xuan .day {
  flex: 3;
  margin-left: 0;
}

.pop .xuan ul {
  border: 0.01rem solid #79c12f;
  position: relative;
  flex: 1;
  overflow: hidden;
  float: left;
  /*margin-left: 0.1rem;*/
  text-align: center;
  /* background-color: #fff; */
  height: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pop .xuan ul li {
  list-style: none;
  margin: 0 auto;
  letter-spacing: 0.02rem;
  line-height: 0.25rem;
  width: 100%;
}

.pop .th {
  background-color: #79c12f61;
}

.bak {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}

.cancel {
  float: left;
  font-size: 0.12rem;
  width: 35%;
  border: #ccc solid 0.01rem;
  /*border-radius: 0.05rem;*/
  /*margin-right: 0.4rem;*/
  /*margin-left: 0.3rem;*/
  text-align: center;
  background-color: #d5d5d5;
  margin: 0.1rem 0.25rem;
}

.determine {
  margin: 0.1rem 0;
  font-size: 0.12rem;
  float: left;
  width: 35%;
  border: #ccc solid 0.01rem;
  /*border-radius: 0.05rem;*/
  text-align: center;
  color: #fff;
  background-color: #79c12f;
}
