/** {
    margin: 0;
    padding: 0;
}*/

body {
    background-color: #FAFAFA;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 商品信息 */
.middle {
    margin-top: 0.6rem;
    width: 100%;
    height: 100%;
    /*background-color: #8CFFE2;*/
    /*padding: 0 0.1rem;*/
}
.middle .present {
    margin-top: 0.1rem;
    display: block;
}

.middle ul {
    width: 100%;
    /*background-color: #FFCCF6;*/
    border-bottom: 0.09rem solid #e6e6e6;
    margin: 0;
}

.middle li {
    width: 100%;
    height: 1.12rem;
    /* border: 1px solid #B7B7B7; */
    /*margin-bottom: 0.1rem;*/
    background-color: #fff;
}
.middle li img {
    float: left;
    width: 0.84rem;
    height: 0.84rem;
    margin: 0.14rem 0.175rem;
}

.name {
    float: left;
    margin-top: 0.17rem;
    width: 50%;
}

.name span {
    display: inline-block;
    font-size: 0.16rem;
}

.name .age {
    font-size: 0.1rem;
    margin-top: 0.1rem;
    color: #A68C79;
    width: 2.2rem;
}

.examine {
    width: 20%;
    height: 0.35rem;
    line-height: 0.35rem;
    border: 1px solid #000;
    border-radius: 5%;
    text-align: center;
    float: right;
    margin: 0.28rem 0.1rem 0 0;
    font-size: 0.01rem;
}

/* 服务地址样式 */
.staff  {
    background-color: #fff;
    font-size: 0.14rem;
    margin: 0;
    overflow: hidden;
    height: 0.5rem;
    border-bottom: 0.01rem solid #e6e6e6;
}

.staff .time {
    margin-left: 0.175rem;
    line-height: 0.5rem;
}

.staff .years {
    float: right;
    margin-right: 0.175rem;
    line-height: 0.5rem;
}

.times .time {
    display: inline-block;
    width: 20%;
    /*background-color: #f00;*/
    font-size: 0.15rem;
    /*margin-left: 0.175rem;*/
}

.times .years {
    display: inline-block;
    width: 45%;
    /*background-color: #f00;*/
    font-size: 0.15rem;
}

/* 服务人员 */
.staffs  {
    background-color: #fff;
    font-size: 0.14rem;
    margin: 0;
    overflow: hidden;
    height: 0.5rem;
    /*border-bottom: 0.01rem solid #e6e6e6;*/
}

.staffs .time {
    margin-left: 0.175rem;
    line-height: 0.5rem;
}

.staffs .years {
    float: right;
    margin-right: 0.175rem;
    line-height: 0.5rem;
}

.times .time {
    display: inline-block;
    width: 20%;
    /*background-color: #f00;*/
    font-size: 0.15rem;
    /*margin-left: 0.175rem;*/
}

.times .years {
    display: inline-block;
    width: 45%;
    /*background-color: #f00;*/
    font-size: 0.15rem;
}

.imgs {
    background-color: #fff;
    border-bottom: 0.01rem solid #e6e6e6;
}

.imgs img {
    width: 0.84rem;
    height: 0.84rem;
    /*margin-left: 0.175rem;*/
    /*margin-bottom: 0.18rem;*/
    margin: 0 0 0.18rem 0.175rem;
}

/*
!* 服务时间 *!
.times .centre {
    display: inline-block;
    width: 45%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
}

!* 服务人员 *!
.times .teacher {
    display: inline-block;
    width: 20%;
    !*background-color: #f00;*!
    font-size: 0.15rem;
}
*/

/* 咨询电话样式 */
.phone {
    /*background-color: #0ff;*/
    overflow: hidden;
    margin-top: 0.15rem;
    /*font-size: 0.14rem;*/
}

.phone .consult {
    display: inline-block;
    /*background-color: #f00;*/
    width: 40%;
    line-height: 0.25rem;
    /*margin: 0;*/
    border: none;
    font-size: 0.14rem;
    margin-left: 0.175rem;
}

.phone .relation {
    display: inline-block;
    /*border: 1px solid #000;*/
    width: 24%;
    /*height: 0.25rem;*/
    border-radius: 0.12rem;
    text-align: center;
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #fff;
    background-color: #7D5A40;
    float: right;
    margin-right: 0.185rem;
}

.phone img {
    width: 6%;
    height: 0.21rem;
    margin-left: 0.6rem;
}

/* 再来一单按钮样式 */
.confirm {
    text-align: center;
    /*background-color: #FFA6B3;*/
    /*margin-top: 0.5rem;*/
    position: fixed;
    bottom: 0.2rem;
    width: 100%;
    /*left: 0;*/
}
.confirm a {
    display: inline-block;
    width: 3.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    /*border: 1px solid #000;*/
    border-radius: 0.25rem;
    font-size: 0.14rem;
    color: #fff;
    font-weight: 500;
    background-color: #7D5A40;
}


















