/** {
    margin: 0;
    padding: 0;
}*/

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}


/* 商品信息 */
.middle {
    margin-top: 0.6rem;
    width: 100%;
    height: 100%;
    /*background-color: #8CFFE2;*/
    padding: 0 0.1rem;
}
.middle .present {
    margin-top: 0.1rem;
    display: block;
}

.middle ul {
    width: 100%;
    /*background-color: #FFCCF6;*/
}

.middle li {
    width: 100%;
    height: 1rem;
    border: 1px solid #B7B7B7;
    margin-bottom: 0.1rem;
}
.middle li img {
    float: left;
    width:17%;
    height: 0.7rem;
    margin: 0.12rem;
}

.name {
    float: left;
    margin-top: 0.17rem;
    width: 50%;
}

.name .age {
    margin-top: 0.2rem;
}

.examine {
    width: 20%;
    height: 0.35rem;
    line-height: 0.35rem;
    border: 1px solid #000;
    border-radius: 5%;
    text-align: center;
    float: right;
    margin: 0.28rem 0.1rem 0 0;
    font-size: 0.01rem;
}

/* 咨询电话样式 */
.middles span {
    display: inline-block;
    border: 1px solid #000;
    width: 33%;
    /*height: 0.25rem;*/
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.25rem;
    margin-left: 0.2rem;
}

.middle div{
    margin-bottom: 0.15rem;
}

/* 订单已发送样式 */
.confirm {
    text-align: center;
    /*background-color: #FFA6B3;*/
    margin-top: 0.5rem;
}
.confirm span {
    display: inline-block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    /*border: 1px solid #000;*/
    /*border-radius: 0.1rem;*/
}


















