.all {
    margin: 0.09rem 0.16rem 0;
    margin-top: 0.6rem;
    box-shadow: 0 0.005rem 0.03rem 0 rgba(69,69,69,0.3);
    border-radius: 0.04rem;
}

/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
}

.header span {
    color: #F7F7F7;
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 订单详情样式 */
.number {
    height: 0.3rem;
    /*background-color: #0ff;*/
    /*margin-top: 0.55rem;*/
    line-height: 0.2rem;
    /*text-align: center;*/
    font-size: 0.13rem;
    margin-top: 0.4rem;
}

.number span {
    margin-left: 0.06rem;
    line-height: 0.3rem;
    color: #454545;
    font-size: 0.12rem;
}

.number a:active {
    color:#FE9C13;
}

/* 小哥帮旗舰店 */
.flagship {
    width: 3.43rem;
    height: 0.32rem;
    background: #F7F7F7;
    overflow: hidden;
    border-bottom: 0.001rem solid #F7F7F7;
    border-radius: 0.04rem 0.04rem 0 0;
}

.flagship span {
    width: 100%;
    height: 30%;
    /*background: #ff0;*/
    /*line-height: 30%;*/
    color:#454545;
    font-size: 0.04rem;
    line-height: 0.32rem;
    margin-left: 0.07rem;
}

.cleaning {
    height: 100%;
    background: #fff;
    overflow: hidden;
    /*text-align: center;*/
    padding-top: 0.1rem;
}

.cleaning .list {
    width: 0.84rem;
    height: 0.84rem;
    /*background-color: #FFFD33;*/
    float: left;
    margin: 0 0.06rem 0.06rem;
    display: inline-block;
}

.cleaning .price {
    /*float: right;*/
    width: 23%;
    font-size: 0.16rem;
}

.cleaning .spans {
    /*float: left;*/
    margin-right: 1.125rem;
    font-size: 0.16rem;
    /*margin-right: 1.2rem;*/
}

.cleaning .quantity {
    /*float: right;*/
    margin: 0.07rem 0.07rem 0.07rem 2.12rem;
    display: inline-block;
    font-size: 0.16rem;
}

.arrow {
    height: 100%;
    width: 100%;
    display: block;
}

.arrow img {
    height: 100%;
    width: 100%;
}

/* 服务次数 */
.time {
    background-color: #EC83FF;
    border: 1px solid #000;
    overflow: hidden;
    margin-top: 0.1rem;
}

.time .serve {
    float: left;
    padding-left: 0.2rem;
}

.payment {
    float: right;
    padding-right:0.15rem;
    font-size: 0.16rem;
}

/* 商品评价 */
.evaluate {
    /*width: 1rem;*/
    /*height: 0.5rem;*/
    /*float: right;*/
    text-align: center;
    line-height: 0.22rem;
    /*background-color: #FF9900;*/
    display: inline-block;
    width: 0.74rem;
    height: 0.24rem;;
    border:1px solid rgba(255,176,65,1);
    border-radius:24px;
    margin-left: 0.65rem;
    color:#FE9C13;
}










