body {
  background-color: #fafafa;
}

/* 头部样式 */
.home {
  width: 100%;
  position: relative;
  /*background-color: #0ff;*/
}

.home .header {
  width: 100%;
  height: 0.44rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 0.14rem;
}

.arrows {
  width: 0.09rem;
  height: 0.17rem;
  position: absolute;
  top: 0.095rem;
  bottom: 0.09rem;
  left: 0.15rem;
}

.arrows img {
  width: 0.09rem;
  height: 0.17rem;
}

.character {
  position: absolute;
  top: 0.08rem;
  bottom: 0.08rem;
  right: 0.16rem;
}

.home .header .character button {
  color: red;
  width: 0.5rem;
  border: none;
}

.mui-btn-blue:enabled:active {
  background-color: red;
  border: none;
}

/* 联系，手机，服务，详细样式 */
.datum {
  width: 100%;
}

.datum div:nth-child(1) {
  margin-top: 0.48rem;
}

.datum div:nth-child(3) img {
  width: 0.09rem;
  height: 0.17rem;
}

.datum div {
  background-color: #fff;
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 0.01rem solid #f5f5f5;
  position: relative;
}

.datum div .position {
  position: absolute;
  width: 0.5rem;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  padding: 0.14rem;
}

.datum div .position > img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0;
}

.datum span {
  font-size: 0.14rem;
  color: #999;
  height: 100%;
  width: 16%;
  /*text-align: center;*/
  line-height: 0.5rem;
  margin: 0 0.2rem 0 0.15rem;
  float: left;
  /*background: #f00;*/
  display: inline-block;
}

.datum input,
.datum select {
  margin: 0.04rem 0 0 0;
  padding: 0;
  width: 74%;
  font-size: 0.14rem;
  float: left;
  line-height: 0.4rem;
  border: none;
}

.datum .city {
  width: 30%;
}

option {
  /* line-height: 0.4rem; */
}

.datum img {
  float: right;
  height: 0.16rem;
  margin: 0.17rem 0.16rem;
  margin-left: -0.81rem;
}

.datum .detail {
  width: 100%;
  height: 1.3rem;
  /*background: #0ff;*/
}

.datum .detail textarea {
  /*background-color: #f00;*/
  width: 50%;
  height: 1rem;
  padding: 0;
  margin: 0.15rem 0 0 0;
  font-size: 0.14rem;
  border: none;
}

.datum .xhx {
  height: 0.5rem;
  box-sizing: border-box;
  padding: 0.08rem 0;
}

.xhx input {
  margin: 0;
  width: 50%;
  float: left;
  border: none;
  border-radius: 0;
  font-size: 0.14rem;
  padding: 0 0 0 0.15rem;
  /*height: 0.24rem;*/
}

.xhx span {
  width: 25%;
  float: right;
  color: #ff7223;
  font-size: 0.14rem;
  line-height: 0.35rem;
  text-align: center;
  display: inline-block;
  border-left: 0.01rem solid #ff7223;
}

/* 底部按钮 */
.btn {
  width: 100%;
  height: 0.4rem;
  /*background-color: #0ff;*/
  margin-top: 0.5rem;
}

.btn div {
  width: 3.45rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  background-color: #ff7223;
  color: #fff;
  font-size: 0.18rem;
  margin: auto;
  border-radius: 0.2rem;
}
