/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}

/* 日常保洁 */
.center {
    height: 100%;
    /*background-color: #BDBDBD;*/
    overflow: hidden;
    margin-top: 0.55rem;
    /*padding: 0 0.1rem;*/
}

.center .everyday {
    width: 100%;
    /*background: #FFDB8C;*/
    overflow: hidden;
    padding: 0.1rem 0;
}

.everyday .rc {
    float: left;
    width: 69%;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-left: 10px;
}

.everyday .publish {
    float: right;
    width: 25%;
    height: 0.3rem;
    line-height: 0.32rem;
    background: #FF9900;
    text-align: center;
    /*border-radius: 0.06rem;*/
    margin-right: 0.1rem;
    color:#fff;
}

/* 评星样式 */
.center .rating {
    height: 0.4rem;
    /*line-height: 0.4rem;*/
    /*background-color: #F0ABFF;*/
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0.1rem;
}

.evaStar {
    display: inline-block;
    /* margin-top: 0.08rem; */
    position: relative;
    top: -0.16rem;
}

.star {
    font-size: 0;
}

.star-item {
    display: inline-block;
    background-repeat: no-repeat;
    width: .2rem;
    height: .2rem;
    line-height: .36rem;
    margin-left: .12rem;
    background-size: 100%;
}

/*.star-item.on {*/
    /*background-color: red;*/
/*}*/

/*.star-item.off {*/
    /*background-color: yellow;*/
/*}*/

.rating img {
    width: 0.2rem;
    height: 0.2rem;
    vertical-align: top;
}

.rating {
    padding: 0 0.1rem;
}

.rating .sf {
    color: #999;
}

.rating span {
    display: inline-block;
    /*vertical-align: sub;*/
    line-height: 0.4rem;
}

.center textarea {
    width: 100%;
    height: 0.9rem;
    margin: 0;
    padding: 0.1rem;
    font-size: 0.15rem;
    background-color: #EFEFF4;
    border: 0;
}

.images {
    width: 0.645rem;
    height: 0.645rem;
    margin-left: 0.1rem;
}

.imgs {
    width: 0.645rem;
    height: 0.645rem;
    margin: 0.1rem 0.1rem 0 0.1rem;
}

.history p {
    margin: 0 0.1rem;
}

/* 历史评价 */
.history {
    border-top: 0.02rem solid #E6E6E6;
    margin-top: .1rem;
    height: 100%;
    /*background-color: #5FCDFF;*/
}