/* 顶部样式 */
.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    line-height: 0.5rem;
    color: #fff;
    letter-spacing: 0.04rem;
    z-index: 999;
}

.header>a {
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}
.return {
    position: absolute;
    width: 0.2rem;
    left: 0;
    top: 0;
}

.return img {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}

.header img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15%;
}

/* 列表内容 */
.content {
    padding: 0.55rem 0.16rem 0 0.16rem;
}

.mui-scroll {
    padding: 0.5rem 0 0 0;
}

.content ul {
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 0 0.1rem;
    overflow: hidden;
}

.content li {
    height: 1.6rem;
    margin-bottom: 0.18rem;
    position: relative;
    box-shadow: 0 0 0.05rem #ccc;
    background-color: #fff;
    border-radius: 0.08rem;
    overflow: hidden;
}

.content li>a {
    color: black;
    display: block;
    height: 1.6rem;
}

.content .left {
    height: 100%;
    background-color: #ccc;
}

.content .left img {
    width: 100%;
    height: 100%;
    display: block;
}

.content span {
    font-size: 0.14rem;
}

.content .right {
    text-align: left;
    height: 100%;
    padding-left: 0.14rem;
}

.content .right h4 {
    font-size: 0.14rem;
    line-height: 0.16rem;
    letter-spacing: 0.02rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
}

.identifier {
    margin-top: 0.05rem;
}

.identifier span {
    font-size: 0.13rem;
    line-height: 0.13rem;
}

.shop {
    margin-top: 0.05rem;
}

.shop span {
    font-size: 0.13rem;
    line-height: 0.13rem;
}

.content .right .payment {
    margin-top: 0.05rem;
}

.content .right .order {
    margin-top: 0.05rem;
}

.content .right .service {
    position: absolute;
    bottom: 0.08rem;
}

.content .right .service span:last-child {
    color: #ffb041;
    margin-left: 0.36rem;
}

.click {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 999;
}

/* 完成图标 */
.content .right .completed {
    position: absolute;
    right: 0;
    bottom: 0.17rem;
    width: 0.52rem;
    height: 0.51rem;
}

.content .right .completed img {
    width: 100%;
    height: 100%;
    display: block;
}

