* {
    margin: 0;
    padding: 0;
    /* background-color: #fafafa; */
}

body {
    font-size: 100px;
}

a {
    color: black;
}

.mui-scroll-wrapper {
    margin-bottom: 0.4rem;
}

/* 顶部店铺样式 */
.one {
    width: 100%;
    /*background-color: #0ff;*/
    /* height: 1.7rem; */
    font-size: 0.14rem;
    border-top: 0.01rem solid #fff;
    position: relative;
}
.one .bg {
    height: 1.65rem;
    width: 100%;
    background-color: #f5f5f5;
}

.one .bg .top {
    height: 0.6rem;
    background-color: #e4e4e4;
    width: 100%;
}

.one .con {
    position: absolute;
    top: 0.1rem;
    box-sizing: border-box;
    margin: 0 0.15rem;
    height: 1.5rem;
    border-radius: 0.05rem;
    box-shadow: 0 0 0.1rem #ddd;
    width: 92%;
}

.one .con .bjtp {
    width: 100%;
    height: 100%;
    border-radius: 0.05rem;
    position: relative;
}

.one .con div {
    width: 100%;
    margin-top: 0.15rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    background:rgba(0,0,0,0);
    /*line-height: 0.5rem;*/
}

.one .con div .userpic {
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    margin: 0 0.15rem 0 0.15rem;
    vertical-align: top;
}

.one .con div span {
    display: inline-block;
    line-height: 0.4rem;
    font-size: 0.16rem;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    background:rgba(0,0,0,0);
}

.one .con div a {
    float: right;
    line-height: 0.4rem;
    text-decoration: underline;
    margin-right: 0.15rem;
    font-size: 0.13rem;
    color: #999999;
}

.one .con p {
    padding: 0;
    margin: 0;
    width: 100%;
    /*background-color: #0ff;*/
    margin-top: 0.18rem;
    padding: 0 0.18rem;
    color: #666666;
    background: rgba(0,0,0,0);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    position: absolute;
    top: 0.7rem;
}

/* 标签样式 */
.sort {
    width: 100%;
    /* display: flex; */
    margin: 0.24rem 0;
    overflow: auto;
    /*background: #f00;*/
    box-sizing: border-box;
    /*padding: 0 0.22rem;*/
}

.sort a {
    width: 0.54rem;
    font-size: 0.14rem;
    /* margin-right: 0.28rem; */
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 0.31rem;
    height: 0.9rem;
}

/*.sort a:nth-child(5n) {
    margin: 0;
}*/

.sort a img {
    font-size: 0.18rem;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    /*height: 0.43rem;*/
    /*border: #cccccc solid 0.01rem;*/
    border-radius: 50%;
    width: 100%;
    height: 0.54rem;
}

.sort a span {
    margin-top: 0.12rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* 推荐商品 */
.recommend {
    width: 100%;
    padding: 0.1rem 0 0.18rem 0;
    border-top: #f2f2f2 solid 0.02rem;
    border-bottom: #f2f2f2 solid 0.09rem;
}

.recommend .piece {
    box-sizing: border-box;
    padding: 0 0.21rem;
    /* display: flex; */
}

.recommend .piece > div {
    /* flex: 1; */
    width: 1.5rem;
    height: 1.3rem;
    background-color: #f6f6f6;
    /*margin-right: 0.12rem;*/
    /*margin-top: 0.1rem;*/
    margin: 0.1rem 0 0 0.12rem;
    display: inline-block;
}

.recommend .piece > div:nth-child(4) {
    margin: 0;
}

.recommend .piece > div img {
    width: 100%;
    height: 100%;
    display: block;
}

/* 热门商品 */
.popular {
    width: 100%;
    margin-top: 0.17rem;
    box-sizing: border-box;
    padding: 0 0.18rem;
    margin-bottom: 0.45rem;
}

.popular-a {
    text-decoration: none;
    /*background: #0f0;*/
    width: 100%;
}

.popular > span {
    font-size: 0.15rem;
    font-weight: 700;
}

.popular .popular_commodity {
    padding-top: 0.14rem;
    padding-bottom: 0.18rem;
    border-bottom: #e6e6e6 solid 0.01rem;
    display: flex;
}

.popular .popular_commodity .right {
    /*flex: 1;*/
    display: inline-block;
    width: 0.84rem;
    height: 0.84rem;
    float: left;
}

.popular .popular_commodity .right img {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    /*display: block;*/
}

.popular .popular_commodity .left {
    /*flex: 3;*/
    width: 57%;
    box-sizing: border-box;
    padding: 0.12rem 0rem 0 0.18rem;
    display: inline-block;
}

.popular .popular_commodity .left h4 {
    font-size: 0.16rem;
    font-weight: 500;
}

.popular .popular_commodity .left span {
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.12rem;
    color: #A68C79;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* （行数） */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    /*background-color: #0ff;*/
}

.popular .popular_commodity a:active {
    color: #000;
}

/* 底部样式 */
/*
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffb140;
    display: flex;
    height: 0.47rem;
    text-align: center;
}

.footer a {
    display: block;
    height: 100%;
    !*background-color: #f00;*!
}

.footer i {
    flex: 1;
    height: 100%;
}

.footer i img {
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
}

.mui-scroll-wrapper {
    !* top: 0.50rem; *!
    bottom: 0.45rem;
}

.mui-table-view {
    background: none;
}

.mui-table-view:before,
.mui-table-view:after {

    background: none;
}*/
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.49rem;
    /*background-color: #ADA98B;*/
    overflow: hidden;
    z-index: 999;
    box-shadow: 0 -0.01rem 0.04rem 0 #DFDEDF;
}

.bottom li {
    width: 25%;
    height: 0.55rem;
    /*line-height: 0.3rem;*/
    /*background-color: #93FF8B;*/
    float: left;
    margin-top: 0.08rem;
    text-align: center;
    /*font-size: 0.12rem;*/
    /*box-shadow:0 -0.01rem 0.04rem 0 #DFDEDF;*/
}

.bottom li a {
    display: block;
    height: 100%;
}

.bottom li p {
    font-size: 0.12rem;
    margin: 0;
    color: #8f8f94;
}

.bottom li .order:hover {
    font-weight: 700;
}

.bottom li .order {
    color: #7D5A40;
}

.bottom li img {
    width: 0.15rem;
    height: 0.15rem;
}

.dpn {
    display: none;
}

/* 图签浏览 */
.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
  }
  .mui-preview-header,
  .mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
  }
  .mui-preview-header {
    height: 44px;
    top: 0;
  }
  .mui-preview-footer {
    height: 50px;
    bottom: 0px;
  }
  .mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
  }
  .mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  .mui-preview-image.mui-preview-out .mui-preview-header,
  .mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
  }
  .mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
  }
  .mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
  }
  .mui-android-4-1
    .mui-slider.mui-preview-image
    .mui-slider-group
    .mui-slider-item {
    display: inline-table;
  }
  .mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
  }
  .mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
  }
  .mui-preview-loading.mui-active {
    display: block;
  }
  .mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
  }
  .mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  p img {
    max-width: 100%;
    height: auto;
  }
  
 .one .con .mui-content {
    position: absolute;
    right: 0.2rem;
    top: 0.15rem;
    width: 0.7rem;
    height: 0.7rem;
    box-sizing: border-box;
    padding: 0.1rem;
  }
  
  .one .con .mui-content img {
    width: 0.42rem;
  }
  