* {
  margin: 0;
  padding: 0;
}

/* 顶部样式 */
/*.header {
    height: 0.5rem;
    background-color: #ffb140;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
}

.header span {
    line-height: 0.5rem;
    padding-right: 0.4rem;
}

.header .arrows {
    display: inline-block;
    height: 0.5rem;
    float: left;
    width: 0.5rem;
}

.arrows img {
    display: block;
    width: 0.1rem;
    height: 0.2rem;
    box-sizing: border-box;
    margin-top: 25%;
    padding: 0 0 0 0.15rem;
}

.header img {
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-top: 25%;
}*/

/* 全部·团购·历史订单列表 */
.ul_list {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0.01rem 0.04rem 0 rgba(26, 25, 26, 0.05);
}

.ul_list li {
  float: left;
  height: 0.45rem;
  font-size: 0.16rem;
  line-height: 0.45rem;
  width: 33.333333333%;
}

.ul_list li:hover {
  color: #ff7223;
  border-bottom: 0.04rem solid #ff7223;
}

.ul_list .hover {
  color: #ff7223;
  border-bottom: 0.04rem solid #ff7223;
}

.ul_list .list {
  border-right: none;
}

.bot {
  margin-bottom: 0.45rem;
}

/*全部·团购·历史订单*/
.form {
  width: 100%;
  margin-top: 0.45rem;
}

.zanwu {
  line-height: 0.3rem;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 0.14rem;
}

.form .present {
  display: block;
  height: 0.35rem;
  font-size: 0.15rem;
  line-height: 0.4rem;
  background: #fafafa;
  padding-left: 0.15rem;
}

.form .history {
  margin-bottom: 0.45rem;
}

.form ul {
  width: 100%;
  background-color: #e6e6e6;
}

.form li {
  width: 100%;
  height: 1rem;
  background-color: #fff;
  border-bottom: 0.14rem solid #fafafa;
}

.form .service {
  border-bottom: 0.09rem solid #e6e6e6;
}

.form li img {
  width: 17%;
  float: left;
  height: 0.7rem;
  margin: 0.15rem;
}

.name {
  width: 50%;
  float: left;
  margin-top: 0.2rem;
  line-height: 0.35rem;
}

.name span {
  color: black;
  font-size: 0.16rem;
}

.name p {
  color: #7d5a40;
  font-size: 0.1rem;
  margin: 0;
}

.examine {
  width: 20%;
  color: #fff;
  float: right;
  height: 0.25rem;
  font-size: 0.1rem;
  text-align: center;
  background: #ff7223;
  line-height: 0.25rem;
  border-radius: 0.12rem;
  margin: 0.55rem 0.1rem 0 0;
}

/* 团购订单样式 */
.examines {
  width: 20%;
  float: right;
  height: 0.35rem;
  border-radius: 5%;
  text-align: center;
  font-size: 0.01rem;
  line-height: 0.35rem;
  border: 1px solid #000;
  margin: 0.28rem 0.1rem 0 0;
}

/* 底部样式 */
.bottom {
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 0.49rem;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 -0.01rem 0.04rem 0 #d3d2d3;
}

.bottom li {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 0.05rem;
}

.bottom li a {
  height: 100%;
  display: block;
}

.bottom li p {
  color: #8f8f94;
  margin: 0;
  font-size: 0.12rem;
}

.bottom li .order {
  color: #d6541d;
}

.bottom li:active.order {
  font-weight: 700;
}

.bottom li img {
  width: 0.23rem;
  height: 0.215rem;
}

/* mui样式 */
html,
body {
  background-color: #f5f5f5;
}

.mui-bar ~ .mui-content .mui-fullscreen {
  top: 0.44rem;
  height: auto;
}

.mui-bar-nav {
  box-shadow: none;
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
}

.mui-pull-top-tips {
  left: 50%;
  top: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  border-radius: 100%;
  margin-left: -0.25rem;
}

.mui-bar ~ .mui-pull-top-tips {
  top: 0.24rem;
}

.mui-pull-top-wrapper {
  display: block;
  width: 0.42rem;
  height: 0.42rem;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #efeff4;
  background-clip: padding-box;
  box-shadow: 0 0.04rem 0.1rem #bbb;
}

.mui-pull-top-tips.mui-transitioning {
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
  /*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    */
  margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 0.07rem;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
  /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
  color: #777;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.4rem;
  background-color: #efeff4;
}

.mui-pull-top-canvas {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: #fafafa;
  box-shadow: 0 0.02rem 0.1rem #bbb;
}

.mui-pull-top-canvas canvas {
  width: 0.4rem;
}

.mui-slider-indicator.mui-segmented-control {
  box-sizing: border-box;
  height: 0.5rem;
}

#sliderSegmentedControl .mui-control-item.mui-active {
  color: #ff7223;
  border-bottom: 0.01rem solid #ff7223;
}

#sliderSegmentedControl .switch {
  width: 100%;
  display: flex;
  height: 0.5rem;
  background-color: white;
}

#sliderSegmentedControl .mui-control-item {
  flex: 1;
  line-height: 0.5rem;
}

#slider .mui-slider-item.mui-control-content.mui-active {
  border-top: none;
}

.mui-slider-group {
  margin-top: 0.22rem;
}

.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
  padding: 0;
}

/* 待接单 */
.Waiting {
  background-color: #f5f5f5;
  padding: 0 0.15rem 0 0.15rem;
}

.Waiting .receiving {
  width: 100%;
  background-color: #fff;
  border: 0.01rem solid #e6e6e6;
  padding: 0 0.15rem 0.1rem 0.15rem;
  margin-bottom: 0.1rem;
  position: relative;
}

.receiving .serial {
  width: 100%;
  height: 0.475rem;
  line-height: 0.4rem;
}

.receiving .serial span:nth-child(1) {
  color: #999;
  font-size: 0.14rem;
}

.receiving .serial span:nth-child(2) {
  float: right;
  color: #f95901;
  font-size: 0.12rem;
}

.receiving img {
  height: 0.6rem;
}

.receiving .daily {
  color: #333;
  font-size: 0.15rem;
  vertical-align: top;
  margin-left: 0.15rem;
}

.receiving .total {
  color: #999;
  font-size: 0.15rem;
  margin-top: 0.2rem;
}

/* 待联系 */
.receiving .dailys {
  display: inline-block;
}

.receiving .dailys div:nth-child(2),
.receiving .dailys div:nth-child(3),
.receiving .dailys div:nth-child(4) {
  color: #797979;
  font-size: 0.12rem;
}

/* 待上门 */
.receiving .totals {
  /* overflow: hidden; */
  margin-top: 0.1rem;
  position: relative;
}

.end {
  position: absolute;
  bottom: -0.05rem;
  right: 0;
  width: 0.7rem;
  height: 0.3rem;
  background-color: #ff7223;
  border-radius: 0.05rem;
}

.end > span {
  line-height: 0.3rem;
  font-size: 0.14rem;
  color: #fff;
  display: block;
  text-align: center;
}

.receiving #overtime {
  color: #f95901;
  font-size: 0.12rem;
}

/* 已完成 */
.totals span:nth-child(2) {
  float: right;
  width: 0.7rem;
  color: #f95901;
  height: 0.3rem;
  text-align: center;
  font-size: 0.12rem;
  line-height: 0.3rem;
  display: inline-block;
  border-radius: 0.05rem;
  border: 0.01rem solid #f95d08;
}

.remark span:nth-child(2) {
  color: #999;
  float: right;
  width: 0.7rem;
  height: 0.3rem;
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.3rem;
  display: inline-block;
  border-radius: 0.05rem;
  border: 0.01rem solid #a3a3a3;
}

.receiving .complete span:nth-child(2) {
  color: #333;
}

.not {
  width: 100%;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.14rem;
  color: #999;
}

.totals.total .Ncomment {
  border-color: #999;
  color: #999;
}

ul li:last-child {
  margin-bottom: 0.6rem !important;
}

/* 已兑换商品 */
.exchange {
  position: absolute;
  right: 0.05rem;
  top: 0.5rem;
  width: 0.52rem !important;
  height: 0.5rem !important;
}
