body {
  background-color: #f5f5f5;
}

/* 头部样式 */
.home {
  width: 100%;
  position: relative;
  /*background-color: #0ff;*/
}

.home .header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 0.44rem;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
  top: 50%;
  left: 50%;
  color: #000;
  font-size: 0.14rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.arrows {
  left: 0.15rem;
  top: 0.095rem;
  width: 0.09rem;
  height: 0.17rem;
  bottom: 0.09rem;
  position: absolute;
}

.arrows img {
  width: 0.09rem;
  height: 0.17rem;
}

.character {
  top: 0.08rem;
  width: 0.28rem;
  right: 0.16rem;
  bottom: 0.08rem;
  height: 0.28rem;
  position: absolute;
}

.character img {
  width: 0.18rem;
  height: 0.18rem;
}

/* *****************新版下单页面************** */
/* 地址、年月样式 */
.onw {
  width: 100%;
  margin-top: 0.6rem;
  border-bottom: 0.05rem solid #f5f5f5;
}

.onw .site {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 0 0.15rem 0 0.15rem;
  border-bottom: 0.01rem solid #f5f5f5;
}

.onw .site a {
  width: 100%;
  display: block;
}

.onw .site .imgS {
  float: left;
  width: 0.23rem;
  height: 0.23rem;
  margin: 0.26rem 0.15rem 0.26rem 0;
}

.onw .site .name {
  width: 80%;
  float: left;
  margin-bottom: 0.1rem;
}

.site .name div {
  width: 100%;
  height: 0.375rem;
  line-height: 0.4rem;
}

.site .name p {
  margin: 0;
  color: #000;
  width: 100%;
  overflow: hidden;
  font-size: 0.16rem;
  line-height: 0.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* （行数） */
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.name div span:nth-child(1) {
  color: black;
  font-size: 0.18rem;
}

.name div span:nth-child(2) {
  color: #999;
  font-size: 0.15rem;
  margin-left: 0.15rem;
}

.onw .site .arrow-s {
  float: right;
  width: 0.09rem;
  height: 0.17rem;
  margin: 0.29rem 0 0.29rem 0;
}

/* 年月样式 */
.onw .years {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  padding: 0 0.15rem 0 0.15rem;
}

.onw .years .arrow-s {
  float: left;
  width: 0.23rem;
  height: 0.23rem;
  margin: 0.085rem 0.11rem 0 0;
}

.onw .years span {
  float: left;
  font-size: 0.15rem;
  line-height: 0.4rem;
  display: inline-block;
}

.onw .years > a {
  width: 100%;
  height: 100%;
  display: block;
}

.onw .years > a span {
  color: black;
}

.onw .years img {
  float: right;
  width: 0.09rem;
  height: 0.17rem;
  margin: 0.115rem 0;
}

.datail {
  width: 100%;
  height: 1.1rem;
  padding: 0.15rem;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
}

.datail img {
  float: left;
  width: 0.8rem;
  height: 0.8rem;
}

.datail .text {
  width: 50%;
  float: left;
  height: 0.8rem;
  position: relative;
  margin-left: 0.17rem;
}

.datail .text h4 {
  font-size: 0.16rem;
  overflow: hidden;
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* （行数） */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  margin: 0;
}

.datail .text > span {
  color: #999999;
  overflow: hidden;
  font-size: 0.14rem;
  line-height: 0.15rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* （行数） */
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.datail .text div {
  bottom: 0;
  color: #ff7223;
  font-size: 0.12rem;
  position: absolute;
  height: 0.15rem;
}

.datail .text div > span {
  font-size: 0.15rem;
}

.datail .num {
  right: 0.15rem;
  bottom: 0.15rem;
  position: absolute;
}
.num .subtract,
.num .sum,
.num .plus {
  margin: 0;
  padding: 0;
}

.num img {
  width: 100%;
  height: 100%;
}

.num .subtract {
  width: 0.16rem;
  height: 0.16rem;
  font-size: 0.16rem;
  text-align: center;
  display: inline-block;
}

.num .sum {
  color: #000;
  border: none;
  width: 0.5rem;
  height: 0.22rem;
  font-size: 0.18rem;
  text-align: center;
  display: inline-block;
}

.num .plus {
  width: 0.16rem;
  height: 0.16rem;
  font-size: 0.16rem;
  text-align: center;
  display: inline-block;
}

.datail .time {
  width: 0.7rem;
  right: 0.15rem;
  bottom: 0.15rem;
  position: absolute;
  border-radius: 0.05rem;
  border: 0.01rem solid #ccc;
}

.datail .time select {
  margin: 0;
  padding: 0;
  font-size: 0.12rem;
  padding-left: 0.2rem;
}

.datail .entry {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.datail .entry span {
  font-size: 0.12rem;
  color: #666666;
  margin-right: 0.05rem;
}

.datail .entry input {
  display: inline-block;
  margin: 0;
  width: 60%;
  margin-right: 0.15rem;
  margin-bottom: 0.06rem;
  border: none;
  text-align: center;
  background-color: #f6f6f6;
}

.numbering {
  width: 100%;
  height: 0.4rem;
  padding: 0 0.15rem;
  position: relative;
  margin-top: 0.05rem;
  box-sizing: border-box;
  background-color: #fff;
}

.numbering a {
  color: black;
  display: inline-block;
}

.numbering a > img {
  top: 0.12rem;
  right: 0.1rem;
  width: 0.09rem;
  height: 0.17rem;
  position: absolute;
}

.numbering span {
  font-size: 0.14rem;
  line-height: 0.4rem;
}

.numbering .sshow {
}

.numbering .sshow {
  width: 30%;
  height: 100%;
  float: right;
  overflow: hidden;
  text-align: right;
}

.numbering .sshow > img {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
}

.numbering .sshow > img:last-child {
  width: 0.17rem;
  height: 0.17rem;
}

.numbering .sshow span {
  color: #ff7223;
  font-size: 0.14rem;
}

/* 微信支付  */
.payment {
  height: 0.4rem;
  overflow: hidden;
  padding: 0.13rem 0;
  margin-top: 0.05rem;
  line-height: 0.16rem;
  background-color: #fff;
  box-sizing: border-box;
}

.paymentlast {
  margin-bottom: 0.55rem;
}

.payment img {
  width: 0.15rem;
  height: 0.13rem;
}

.payment .check {
  float: left;
  width: 0.16rem;
  height: 0.16rem;
  font-size: 0.14rem;
  margin: 0 0 0 0.15rem;
}

.payment .circle {
  width: 0.16rem;
  height: 0.16rem;
  font-size: 0.14rem;
  margin: 0 0 0 0.15rem;
  display: inline-block;
  float: left;
  border-radius: 50%;
  border: 0.01rem solid #ccc;
}

.payment .img-s {
  margin: 0 0 0 0.15rem;
  float: left;
}

.payment span {
  float: left;
  font-size: 0.14rem;
  margin-left: 0.085rem;
  display: inline-block;
}

/* 备注 */
.remarks {
  overflow: hidden;
  margin-top: 0.05rem;
  line-height: 0.16rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 0.15rem 0.1rem 0.15rem;
}

.remarks .tilt {
  height: 0.35rem;
  line-height: 0.35rem;
}

.remarks .tilt img {
  width: 0.14rem;
  height: 0.14rem;
}

.remarks .tilt span {
  font-size: 0.14rem;
}

.remarks textarea {
  margin: 0;
  border: none;
  height: 0.8rem;
  font-size: 0.14rem;
  line-height: 0.2rem;
  border-radius: 0.03rem;
  padding: 0.1rem 0.12rem;
  background-color: #f5f5f5;
}

.remarks textarea::-webkit-input-placeholder {
  color: #ddd;
}

/* 支付 */
.pay {
  bottom: 0;
  width: 100%;
  z-index: 40;
  height: 0.5rem;
  position: fixed;
  background-color: #fff;
  border-top: 0.01rem solid #b3b3b3;
}

.pay .mon {
  float: left;
  height: 100%;
  color: #999999;
  font-size: 0.14rem;
  line-height: 0.4rem;
  margin-left: 0.09rem;
}

.pay .deduction {
  position: absolute;
  bottom: 0;
  font-size: 0.12rem;
  color: #999999;
  left: 0.09rem;
}

.pay .mon span {
  color: #ff7223;
  font-size: 0.16rem;
}

.pay .but {
  float: right;
  width: 35%;
  color: #fff;
  height: 100%;
  text-align: center;
  line-height: 0.5rem;
  background-color: #ff7223;
}

/* 日历样式 */
.calendar {
  bottom: 0;
  z-index: 50;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 -0.05rem 0.2rem #ccc;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.fade-enter,
.fade-leave-to {
  transform: translate(0, 0%);
  -webkit-transform: translate(0, 0%);
}

.calendar .tilte {
  height: 0.45rem;
  font-size: 0.14rem;
  position: relative;
  background-color: #f5f5f5;
}

.calendar .tilte p {
  margin: 0;
  color: black;
  text-align: center;
  line-height: 0.45rem;
  border-bottom: 0.01rem solid #eee;
}

.calendar .tilte div {
  top: 0;
  color: #999;
  right: 0.16rem;
  position: absolute;
  line-height: 0.45rem;
}

.calendar .week {
  margin: 0;
  width: 100%;
  display: flex;
  height: 0.45rem;
  background-color: #f5f5f5;
}

.calendar .week li {
  flex: 1;
  text-align: center;
  line-height: 0.45rem;
}

/* 月份样式 */
.calendar .date {
  width: 100%;
  overflow: hidden;
  line-height: 0.1rem;
  margin: 0.15rem 0 0 0;
  background-color: #fff;
  border-bottom: 0.01rem solid #eee;
}

.calendar .date li {
  float: left;
  width: 0.31rem;
  height: 0.31rem;
  font-size: 0.15rem;
  text-align: center;
  position: relative;
  line-height: 0.31rem;
  margin: 0 0.13rem 0.15rem 0.1rem;
}

.calendar .date li div {
  width: 100%;
  color: #c0c0c0;
  bottom: -0.25rem;
  font-size: 0.12rem;
  text-align: center;
  position: absolute;
}

.calendar .date li .tday {
  color: #999;
}

.calendar .date .tap {
  color: #fff;
  border-radius: 50%;
  background-color: #ff7223;
}

.calendar .date .not {
  color: #ccc;
}

.calendar .date li:nth-child(7n) {
  margin-right: 0;
}

/* 时间样式 */
.calendar .period {
  width: 100%;
  background: #fff;
  overflow: hidden;
  padding: 0 0.15rem;
  margin-top: 0.08rem;
  margin-bottom: 0.1rem;
}

.calendar .period div {
  width: 28%;
  float: left;
  color: #666;
  height: 0.3rem;
  text-align: center;
  font-size: 0.14rem;
  position: relative;
  line-height: 0.3rem;
  border-radius: 0.15rem;
  margin-bottom: 0.05rem;
  border: 0.01rem solid #999;
}

.calendar .period div:nth-child(2) {
  margin: 0 0.25rem 0 0.3rem;
}

/* 约满样式 */
.calendar .period .full {
  border: none;
  background-color: #f2f2f2;
}

#full {
  color: #c0c0c0;
}

.prompt {
  color: #999;
  font-size: 0.14rem;
  box-sizing: border-box;
  padding: 0.05rem 0.15rem;
  background-color: #f5f5f5;
}

.bottom_p {
  margin-bottom: 0.8rem;
}

.calendar .period .man {
  color: white;
  background-color: #ff7223;
}

.calendar .period .ti {
  top: 0;
  border: none;
  right: -0.1rem;
  width: 0.18rem;
  height: 0.18rem;
  position: absolute;
}

.calendar .period .ti img {
  width: 100%;
  height: 100%;
  display: block;
}
