body {
    background-color: #f5f5f5;
}

/* 头部样式 */
.home {
    width: 100%;
    position: relative;
    /*background-color: #0ff;*/
}

.home .header {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.01rem 0.04rem 0 #e6e6e6;
}

.home .header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 0.14rem;
}

.arrows {
    width: 0.09rem;
    height: 0.17rem;
    position: absolute;
    top: 0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0.08rem;
    bottom: 0.08rem;
    right: 0.16rem;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}


/* 记录列表样式 */
ul {
    margin: 0.44rem 0 0 0;
}

ul li {
    width: 100%;
    height: 0.83rem;
    padding: 0 0.15rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.01rem solid #F7F7F7;
}

li .imS {
    height: 100%;
    line-height: 0.84rem;
    float: left;
}

.imS img {
    width: 0.47rem;
    height: 0.47rem;
    border-radius: 0.05rem;
    margin-top: 0.18rem;
}

li .red {
    height: 100%;
    float: left;
    margin-left: 0.15rem;
}

.red div {
    color: #333;
    font-size: 0.15rem;
    margin-top: 0.235rem;
}

.red p {
    color: #999999;
    font-size: 0.12rem;
}

li .laddie {
    text-align: right;
    height: 100%;
    float: right;
}

li .laddie div:nth-child(1) {
    margin-top: 0.265rem;
    font-size: 0.12rem;
    color: #FF7223;
}

li .laddie div:nth-child(2) {
    font-size: 0.12rem;
    color: #51A938;
}




























