/* * {
  background-color: #f2f2f2;
} */

/* 头部样式 */
.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 0.44rem;
    position: fixed;
    background-color: #fff;
    border-bottom: 0.01rem solid #F5F5F5;
}

.header span {
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 0.14rem;
    transform: translate(-50%, -50%);
}

.arrows {
    top: 0.13rem;
    left: 0.14rem;
    width: 0.135rem;
    height: 0.005rem;
    position: absolute;
}

.arrows img {
    width: 0.09rem;
    height: 0.17rem;
}

.character {
    top: 0.13rem;
    right: 0.14rem;
    width: 0.18rem;
    height: 0.18rem;
    position: absolute;
}

.character img {
    width: 0.18rem;
    height: 0.18rem;
}



/* 订单编号样式 */
.order {
    width: 100%;
    height: 0.98rem;
    padding: 0.15rem;
    margin-top: 0.44rem;
    background-color: #fff;
    border-bottom: 0.05rem solid #f5f5f5;
}

.order div {
    color: #868686;
    font-size: 0.13rem;
}


/* 客户信息 */
h4 {
    margin: 0;
    width: 100%;
    font-weight: 400;
    height: 0.425rem;
    font-size: 0.13rem;
    padding: 0 0.15rem;
    line-height: 0.425rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
}

.message {
    width: 100%;
    height: 0.98rem;
    line-height: 0.22rem;
    background-color: #fff;
    padding: 0.15rem 0 0.15rem 0.15rem;
    border-bottom: 0.05rem solid #f5f5f5;
}

.message div {
    color: #868686;
    font-size: 0.13rem;
}


/* 商品信息样式 */
.commodity {
    width: 100%;
    height: 1.49rem;
    background-color: #fff;
    padding: 0 0.15rem 0.15rem 0.15rem;
}

.serial {
    width: 100%;
    height: 0.47rem;
    line-height: 0.47rem;
    /*background-color: #FFF3DD;*/
}

.serial span {
    font-size: 0.13rem;
}

.serial span:nth-child(2) {
    float: right;
    color: #999;
}

.commodity img {
    width: 0.83rem;
    height: 0.83rem;
    vertical-align: top;
}

.money {
    display: inline-block;
    /*background-color: #f00;*/
}

.money div {
    color: #333;
}

.money div:nth-child(1) {
    font-size: 0.14rem;
    line-height: 0.2rem;
}

.money div:nth-child(2) {
    font-size: 0.15rem;
    margin-top: 0.35rem;
}


/* 底部按钮样式 */
.btn {
    width: 100%;
    height: 0.4rem;
    margin-top: 0.415rem;
}

.btn div a {
    display: block;
    color: #fff;
}

.btn div {
    color: #fff;
    margin: auto;
    width: 3.45rem;
    height: 0.4rem;
    text-align: center;
    font-size: 0.15rem;
    line-height: 0.4rem;
    border-radius: 0.04rem;
    background-color: #FF7223;
}


























