/* * {
  background-color: #f2f2f2;
} */

/* 头部样式 */
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 0.44rem;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.header .asdf {
  float: left;
  width: 0.09rem;
  height: 0.17rem;
  margin: 0.14rem 0 0 0.15rem;
}

.header .character {
  float: right;
  width: 0.26rem;
  height: 0.26rem;
}

.header .character img {
  width: 100%;
  height: 100%;
}

.header .name {
  top: 50%;
  left: 50%;
  font-size: 0.14rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.header .name p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.arrows {
  top: 0.13rem;
  left: 0.14rem;
  width: 0.135rem;
  height: 0.005rem;
  position: absolute;
}

.arrows img {
  width: 0.09rem;
  height: 0.17rem;
}

.character {
  color: #999;
  top: 0.1rem;
  right: 0.14rem;
  height: 0.18rem;
  position: absolute;
}

.character img {
  width: 0.18rem;
  height: 0.18rem;
}

/* mui样式 */
html,
body {
  background-color: #f5f5f5;
}

.mui-bar ~ .mui-content .mui-fullscreen {
  top: 0.44rem;
  height: auto;
}

.mui-bar-nav {
  box-shadow: none;
  background-color: #fff;
  border-bottom: 0.01rem solid #f2f2f2;
}

.mui-pull-top-tips {
  left: 50%;
  z-index: 50;
  top: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  border-radius: 100%;
  margin-left: -0.25rem;
}

.mui-bar ~ .mui-pull-top-tips {
  top: 0.24rem;
}

.mui-pull-top-wrapper {
  display: block;
  width: 0.42rem;
  height: 0.42rem;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #efeff4;
  background-clip: padding-box;
  box-shadow: 0 0.04rem 0.1rem #bbb;
}

.mui-pull-top-tips.mui-transitioning {
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
  margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 0.07rem;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
  /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
  color: #777;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.4rem;
  background-color: #efeff4;
}

.mui-pull-top-canvas {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: #fafafa;
  box-shadow: 0 0.02rem 0.1rem #bbb;
}

.mui-pull-top-canvas canvas {
  width: 0.4rem;
}

#sliderSegmentedControl .mui-control-item.mui-active {
  color: #ff7223;
  border-bottom: 0.02rem solid #ff7223;
}

#sliderSegmentedControl .switch {
  margin: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 0.44rem;
  background-color: #fff;
  border-top: 0.04rem solid #f5f5f5;
}

#sliderSegmentedControl .mui-control-item {
  flex: 1;
  padding: 0 0.15rem;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.4rem;
  box-sizing: border-box;
}

#slider .mui-slider-item.mui-control-content.mui-active {
  border-top: none;
}

.mui-slider-group {
  margin-top: 0.48rem;
}

/* 点击切换 */
.switch {
  display: flex;
  margin: 0;
  z-index: 20;
  width: 100%;
  position: relative;
  margin-top: 0.44rem;
  background-color: #fff;
  border-top: 0.04rem solid #f5f5f5;
}

.switch li {
  flex: 1;
  padding: 0 0.15rem;
  text-align: center;
  font-size: 0.15rem;
  line-height: 0.4rem;
  box-sizing: border-box;
}

.cli {
  color: #ff7223;
  border-bottom: 0.02rem solid #ff7223;
}

.money {
  color: #ff7223;
  display: block;
  font-weight: 400;
  font-size: 0.3rem;
  text-align: center;
  line-height: 0.48rem;
  background-color: #fff;
  border-top: 0.01rem solid #f2f2f2;
  border-bottom: 0.05rem solid #f5f5f5;
}

/* 列表 */

.list {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

#pullrefresh {
  margin-top: 1.43rem;
}

.list li {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0 0.15rem 0.15rem;
  border-bottom: 0.05rem solid #f5f5f5;
}

.list li:first-child {
  padding: 0;
  border: none;
}

.list li div {
  color: #666;
  font-size: 0.14rem;
  margin-top: 0.12rem;
  line-height: 0.14rem;
}

.list li div .price span {
  color: #ff7223;
}

.list li .right {
  top: 50%;
  margin: 0;
  right: 0.15rem;
  position: absolute;
}

.list li .right .details {
  margin: 0;
  color: #999;
  padding: 0 0.12rem;
  line-height: 0.25rem;
  border-radius: 0.05rem;
  transform: translateY(-50%);
  border: 0.01rem solid rgba(153, 153, 153, 1);
}

.list .noData {
  padding: 0;
  color: #999;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.4rem;
}

.mtime {
  width: 100%;
  overflow: hidden;
}

.Month .date,
.day .date {
  width: 0.16rem;
  height: 0.16rem;
  background: url("../../../../resource/png/aunt/calendar.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 0.15rem;
}

.mtime div {
  width: 100%;
  height: 0.45rem;
  line-height: 0.05rem;
  padding-left: 0.15rem;
  background-color: #fff;
  border-bottom: 0.01rem solid #f5f5f5;
}

.mtime div>span {
  width: 50%;
  color: #999;
  font-size: 0.15rem;
}

.mtime .Month {
  float: left;
}

.mtime .day {
  float: right;
}

.mtime input {
  width: 50%;
  border: none;
  font-size: 0.14rem;
}


/* 查询按钮样式 */
.btn {
  color: #fff;
  width: 3.45rem;
  height: 0.44rem;
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.44rem;
  border-radius: 0.05rem;
  background-color: #FF7223;
  margin: 0.3rem auto 0.3rem auto;
}

.wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}













