<form id="send-form" class="edit-form form-horizontal" role="form" data-toggle="validator" method="POST">
    <div class="form-group">
        <label for="value" class="control-label col-xs-12 col-sm-2">接收人(openid)：</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control" id="value" name="user" value="" data-rule="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">模板数据：</label>
        <div class="col-sm-8 col-xs-12">
            <dl class="fieldlist" data-name="data" data-listidx="1">
                <dd>
                    <ins>{:__('key')}</ins>
                    <ins>{:__('value')}</ins>
                </dd>
                <dd><a href="javascript:" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                <textarea name="data" class="form-control hide" cols="30" rows="5">{"":""}</textarea>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-4">
            <button type="submit" class="btn btn-success btn-embossed">发送</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>