<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#template" data-toggle="tab">模板列表</a></li>
            <li><a href="#wechat" data-toggle="tab">公众号设置</a></li>
            <li><a href="#addcfg" data-toggle="tab">公众号接入</a></li>
        </ul>
    </div>

    <div class="panel-body">

        <form id="add-form" class="form-horizontal nice-validator n-default n-bootstrap"
              role="form" data-toggle="validator" method="POST" action="" novalidate="novalidate">
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in" id="template">
                    <div class="widget-body no-padding">
                        <div id="toolbar" class="toolbar">
                            {:build_toolbar('refresh,del')}
                            <a href="javascript:;" class="btn btn-facebook btn-setting" title="公众号推送消息"><i class="fa fa-commenting"></i> 群发消息</a>
                        </div>
                        <table id="table" class="table table-striped table-bordered table-hover"
                               data-operate-del="{:$auth->check('wechat/index/del')}"
                               width="100%">
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="wechat">
                    <div class="form-group">
                        <label for="name" class="control-label col-xs-12 col-sm-2">公众号名称：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="name" name="name" value="{$conf.name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weid" class="control-label col-xs-12 col-sm-2">微信号：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="weid" name="weid" value="{$conf.weid}">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-xs-12" style="width: 18%"></label>公众平台应用ID</div>
                    <div class="form-group">
                        <label for="appid" class="control-label col-xs-12 col-sm-2">AppID（公众号）：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="appid" name="appid" value="{$conf.appid}"
                                   data-rule="">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-xs-12" style="width: 18%"></label>应用凭证密钥</div>
                    <div class="form-group">
                        <label for="secret" class="control-label col-xs-12 col-sm-2">AppSecret：</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="secret" name="secret" value="{$conf.secret}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="submit" class="btn btn-success btn-embossed" value="保存配置"/>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="addcfg">
                    <div class="form-group">
                        <label for="url" class="control-label col-xs-12 col-sm-2">URL:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="url" name="url" value="{$conf.url}">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-xs-12" style="width: 18%"></label>微信公众平台-开发-基本配置：Token
                    </div>
                    <div class="form-group">
                        <label for="token" class="control-label col-xs-12 col-sm-2">Token:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="token" name="token" value="{$conf.token}">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-xs-12" style="width: 18%"></label>微信公众平台-开发-基本配置：EncodingAesKey
                    </div>
                    <div class="form-group">
                        <label for="key" class="control-label col-xs-12 col-sm-2">EncodingAESKey:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="key" name="key" value="{$conf.key}"
                                   data-rule="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">保存配置</button>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
