<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-body no-padding">
                <div id="toolbar" class="toolbar">
                    {:build_toolbar('refresh')}
                </div>
                <table id="table" class="table table-striped table-bordered table-hover"
                       data-operate-edit="{:$auth->check('user/stats/gift')}"
                       width="100%">
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">首行:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" data-rule="required" autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="control-label col-xs-12 col-sm-2">内容:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="remark"  data-rule="required" name="row[remark]"></textarea>
            <textarea class="form-control hide" name="row[ids]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">跳转链接:</label>
        <div class="col-xs-8 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[link]" type="text" data-rule="required" autocomplete="off">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-4 col-sm-4"></label>
        <div class="col-xs-8 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled"> 发 送 </button>
            <button type="button" onclick="Layer.closeAll()" style="margin-left: 30%" class="btn btn-default btn-embossed"> 取 消 </button>
        </div>
    </div>
</form>