<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/index/activity.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>用户评价</title>
</head>

<body>


    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>用户评价</strong>
        </div>

        <!-- 用户评价 -->
        <div class="user-onw">
            <div class="user" v-for="(item, index) in date" :key="item.id">
                <div class="user-two">
                    <img :src="item.icon">
                    <h5 v-cloak>{{ item.uname }}</h5>
                    <div>
                        <!-- <span v-cloak>{{ item.address }}</span> -->
                        <span v-cloak>{{ formatDateTime(item.create_time * 1000) }}</span>
                    </div>
                </div>
                <div class="evaluate">
                    <div>
                        <p v-cloak>{{ item.commit }}</p>
                        <img v-if="item.star-1<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                        <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                        <img v-if="item.star-2<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                        <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                        <img v-if="item.star-3<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                        <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                        <img v-if="item.star-4<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                        <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                        <img v-if="item.star-5<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                        <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                    </div>
                    <div class="serve">服务</div>
                    <div class="day-to-day" v-cloak>{{ item.goodsname }}</div>
                </div>
            </div>
        </div>
    </div>


    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                date: [],
            },
            created: function created() {
                // this.date=new Date().valueOf();
                var that = this;

                axios.get('/index.php/mobileapi/v2/Assess/getGodosAssessMix', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                }).then(function (res) {
                    // console.log(res);
                    that.date = res.data.data.data;
                })
            },
            methods: {
                // 时间戳处理
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    var h = date.getHours();
                    h = h < 10 ? '0' + h : h;
                    var minute = date.getMinutes();
                    minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h + ' ' + minute;

                    return y + '-' + m + '-' + d + ' ' + h + ':' + minute

                },
            },
        })
    </script>

</body>

</html>