<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/index/comment.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>活动中心</title>
</head>

<body>


    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="header">
            <a class="arrows" href="javascript:history.go(-1)">
                <img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" />
            </a>
            <strong>活动中心</strong>
        </div>


        <!-- 活动中心列表 -->
        <ul>
            <li v-for="(item, index) in activity" :key="item.id" v-cloak>
                <a :href="item.link" v-if="item.is_end==0">
                    <div class="img">
                        <img :src="item.pic" />
                    </div>
                    <h4 v-cloak>{{ item.title }}</h4>
                    <p v-cloak>活动时间: {{ formatDateTime(item.create_time*1000) }} - {{ formatDateTime(item.endtime*1000) }}
                    </p>
                </a>
                <a v-else>
                    <div class="img">
                        <img :src="item.pic" />
                        <div class="masking"></div>
                        <div class="hdjs">
                            <img src="{$Think.const.PUBLIC_RES}/png/iconic/zz.png" />
                            <span>活动已结束</span>
                        </div>
                    </div>
                    <h4 v-cloak>{{ item.title }}</h4>
                    <p v-cloak>活动时间: {{ formatDateTime(item.create_time*1000) }} - {{ formatDateTime(item.endtime*1000) }}</p>
                </a>

            </li>

            <!-- <li>
                <div class="img">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/img_hd02.png" />
                    <div class="masking"></div>
                    <div class="hdjs">
                        <img src="{$Think.const.PUBLIC_RES}/png/iconic/zz.png" />
                        <span>活动已结束</span>
                    </div>
                </div>
                <h4>激情盛夏，福利大派送</h4>
                <p>活动时间: 2019.04.03-2019.04.31</p>
            </li>

            <li>
                <div class="img">
                    <img src="{$Think.const.PUBLIC_RES}/png/iconic/img_hd03.png" />
                    <div class="masking"></div>
                    <div class="hdjs">
                        <img src="{$Think.const.PUBLIC_RES}/png/iconic/zz.png" />
                        <span>活动已结束</span>
                    </div>
                </div>
                <h4>激情盛夏，福利大派送</h4>
                <p>活动时间: 2019.04.03-2019.04.31</p>
            </li> -->
        </ul>
    </div>

    
    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 活动列表
                activity: ""
            },
            created() {
                var that = this;
                axios.get('/index.php/mapiv2/active/rest', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: 18
                    }
                }).then(function (res) {
                    console.log(res);
                    that.activity = res.data.data.data
                })
            },
            methods: {
                formatDateTime: function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? '0' + d : d;
                    return y + '-' + m + '-' + d;
                }
            }
        })
    </script>

</body>

</html>