<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/index/nwe-index.css?{$Think.config.fastadmin['v_api']}">
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
  <title>小哥帮</title>
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <!-- 头部 -->
    <div class="header">
      <img class="xltb" src="{$Think.const.PUBLIC_RES}/png/share/dw.png">
      <select @change="difang" v-model="selected">
        <option v-for="(item, index) in dizhi" :key="item.id" :value="item.id">{{ item.city_name }}</option>
      </select>

      <div class="search" @tap="searchjump">
        <input type="text" placeholder="请输入关键词" readonly>
        <i><img src="{$Think.const.PUBLIC_RES}/png/share/syss.png" alt=""></i>
      </div>
      <!-- <img class="logo" src="{$Think.const.PUBLIC_RES}/png/iconic/xgbLoGo.png">
      <span class="name">名用户</span>
      <span id="time" v-cloak>{{showNum}}</span>
      <span>已服务</span> -->
    </div>

    <!-- 轮播图 -->
    <div class="carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, index) in banner" :key="item.id" v-cloak>
            <a :href="item.href">
              <img :src="item.img_url" v-cloak />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 限时优惠 -->
    <div class="limit">
      <img class="logo" src="{$Think.const.PUBLIC_RES}/png/iconic/shalou.png">
      <div class="swiper-container_1">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-no-swiping" v-for="(item, index) in Article" :key="item.id" v-cloak>
            <a :href="item.link">
              {{ item.text }}
            </a></div>
        </div>
      </div>
    </div>

    <!-- 活动中心列表 -->
    <ul class="activity">
      <li v-for="(item, index) in tip_data" :key="item.id" v-cloak>
        <a :href="item.link">
          <img class="logo" v-cloak :src="item.icon">
          <p v-cloak>{{ item.name }}</p>
        </a>
      </li>
    </ul>

    <!-- 明星产品 -->
    <div class="star-product">
      <div>
        <span>明星</span>
        <span>产品</span>
      </div>
    </div>

    <ul class="star">
      <li v-for="(item, index) in Core" :key="item.id" v-cloak>
        <a :href="Coreurl+'/id/'+item.goods.id">
          <img :src="item.pic">
          <div class="right">
            <h4 v-cloak>{{ item.goods.name }}</h4>
            <div class="price">
              <span v-cloak>￥{{ item.goods.vipprice }}</span>
              <span v-cloak>已售{{ item.goods.virtual_times }}</span>
            </div>
            <div class="serve">
              <span v-for="(it, id) in item.label[0]" :key="id">{{ it }}</span>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- 热门服务 -->
    <div class="star-product">
      <div>
        <span>热门</span>
        <span>服务</span>
      </div>
      <a :href="'/index.php/mobile/goods/classify/'+date+'/'" class="gD">更多></a>
    </div>
    <!-- 热门服务列表 -->
    <ul class="hot">
      <li v-for="(item, index) in Hot" :key="item.id">
        <a :href="Hoturl+'/id/'+item.goods.id">
          <img :src="item.pic">
          <div class="align-right">
            <h5 v-cloak>{{ item.goods.name }}</h5>
            <p v-cloak>￥{{ item.goods.commonprice }}</p>
          </div>
        </a>
      </li>
    </ul>

    <!-- 用户评价 -->
    <div class="star-product">
      <div>
        <span>用户</span>
        <span>评价</span>
      </div>
      <a class="gD" :href="commentUrl">更多></a>
    </div>
    <div class="review">
      <div class="swiper-container-comment">
        <div class="swiper-wrapper">
          <div class="swiper-slide user" v-for="(item, index) in comment" :key="item.id" v-cloak>
            <div class="user-two">
              <img :src="item.icon">
              <h5 v-cloak>{{ item.uname }}</h5>
              <div v-cloak><span>{{ formatDateTime(item.create_time * 1000) }}</span></div>
            </div>
            <div class="evaluate">
              <div>
                <p v-cloak>{{ item.commit }}</p>
                <img v-if="item.star-1<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                <img v-if="item.star-2<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                <img v-if="item.star-3<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                <img v-if="item.star-4<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
                <img v-if="item.star-5<0" src="{$Think.const.PUBLIC_RES}/png/iconic/unwxhp.png">
                <img v-else src="{$Think.const.PUBLIC_RES}/png/iconic/wxhp.png">
              </div>
              <div class="serve">服务</div>
              <div v-cloak class="day-to-day">{{ item.goodsname }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 视频 -->
    <div class="large">
      <h4>我们不会做生意，只会用心做好服务！</h4>
      <div class="video">
        <video src="{$Think.const.PUBLIC_RES}/png/iconic/shiping.mp4" controls="controls">
        </video>
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/fwxm.png">
      </div>
      <p>
        <img src="{$Think.const.PUBLIC_RES}/png/iconic/jianbei.png">
        <span>2018年小哥帮入围o2o行业中国优选品牌</span>
      </p>
    </div>

    <!-- 小哥帮-专注家庭 -->
    <div class="img-s">
      <img src="{$Think.const.PUBLIC_RES}/png/iconic/yjjyxgb.png">
    </div>

    <!-- 弹窗红包 -->
    <!-- <div class="envelop" v-if="money!=0">
      <div class="envelop_big">
        <div class="envelop_cash">
          <div class="envelop_circle">
          </div>
          <img class="envelop_tlile" src="{$Think.const.PUBLIC_RES}/png/iconic/logo.png">
          <span>给您发个现金红包</span>
          <img @tap="money=2" v-show="money==1" class="envelop_open" src="{$Think.const.PUBLIC_RES}/png/iconic/XIAOKAI.png">
        </div>

        <transition name="enveloph">
          <div class="envelop_circleShow" v-show="money==2">
            <div class="envelop_board">
              <h3>恭喜已获得</h3>
              <span><strong>2</strong>元</span>
              <p>价值2小哥豆</p>
            </div>
          </div>
        </transition>

        <div class="envelop_closed" @tap="money=0">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/guanbi.png">
        </div>
        <div class="envelop_use" v-show="money==2">
          立即使用
        </div>
      </div>
    </div> -->

    <!-- 底部按钮 -->
    <ul class="btn">
      <li>
        <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/SY02.png">
        <p class="page">首页</p>
      </li>
      <li>
        <a :href="'/index.php/mobile/goods/classify/'+'cate/0'">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/FL01.png">
          <p>分类</p>
        </a>
      </li>
      <li>
        <a :href="'/index.php/mobile/order/number/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/DD01.png">
          <p>订单</p>
        </a>
      </li>
      <li>
        <a :href="'/index.php/mobile/user/index/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/iconic/GR01.png">
          <p>个人</p>
        </a>
      </li>
    </ul>
  </div>


  <script src="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/zepto/zepto.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    "use strict";

    var app = new Vue({
      el: '#app',
      data: {
        date: '',
        // 轮播数据
        banner: [],
        // 标签数据
        tip_data: [],
        // 核心文字
        Article: [],
        // 热门服务
        Hot: [],
        // 热门服务跳转
        Hoturl: [],
        // 核心服务
        Core: [],
        // 核心服务跳转
        CoreUrl: '',
        // 用户人数
        userPop: '',
        // 服务人数
        num: 0,
        // 评价内容
        comment: [],
        // 滚动距离
        animate: false,
        // 评价跳转
        commentUrl: '',
        openid: '',
        user: [],
        money: 1,
        // 显示的服务人数
        showNum: 0,
        // 地区
        dizhi: '',
        //默认选中的地区
        selected: '',
        //当前用户所在地理位置(城市)
        nowCity: '',
        // --------------------------------注册-----------------------------
        // 判断有无注册弹层
        is_bind: 0,
        // 注册手机号
        phone: '',
        // 验证码
        verification: '',
        // 返回的验证码
        message: '',
        // 获取验证码判断
        for_if: 0,
        // 倒计时
        countdown: 60,
      },
      //  初始化后执行
      created: function created() {
        // this.date = new Date().valueOf();
        var that = this;
        // 获取首页数据

        axios.get('/index.php/mapiv2/index/rest', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          }
        }).then(function (res) {
          that.banner = res.data.msg.banner_data;
          that.tip_data = res.data.msg.tip_data;
          that.Article = res.data.msg.Article.data;
          that.Hot = res.data.msg.Hot.data;
          that.Hoturl = res.data.msg.Hot.url;
          that.Core = res.data.msg.Core.data;
          that.Coreurl = res.data.msg.Core.url;
          that.dizhi = res.data.msg.city;

          var _loop = function _loop(i) {
            //设置当前城市是否已经开通（能否下单）
            if (res.data.msg.city[i].selected == 1) {
              that.selected = res.data.msg.city[i].id;
              window.sessionStorage.setItem('city_status', res.data.msg.city[i].status);
            } //提示是否切换城市


            showLocationPop = setInterval(function () {
              if (window.sessionStorage.location_pop == '1') {
                return false;
              }

              if (that.nowCity) {
                if (res.data.msg.city[i].city_name == that.nowCity && res.data.msg.city[i].selected != 1) {
                  var c = res.data.msg.city[i].city_code.toString();
                  mui.confirm('系统检测到您在' + that.nowCity + '市，切换城市？', '提示', function (e) {
                    if (e.index == 1) {
                      //确定
                      that.difang(c);
                      console.log("确定");
                    } else {
                      //取消
                      console.log("取消");
                    }
                  });
                  window.sessionStorage.setItem('location_pop', '1');
                }
              }
            }, 2000);
          };

          for (var i = 0; i < res.data.msg.city.length; i++) {
            var showLocationPop;

            _loop(i);
          }

          setTimeout(function () {
            var mySwiper = new Swiper('.swiper-container_1', {
              direction: 'vertical',
              autoplay: 2000,
              //可选选项，自动滑动
              loop: true,
              // 无限轮播
              noSwiping: true,
              observer: true,
              //修改swiper自己或子元素时，自动初始化swiper
              observeParents: true
              //修改swiper的父元素时，自动初始化swiper
            });
            var mySwiper = new Swiper('.swiper-container', {
              autoplay: 2500,
              //可选选项，自动滑动
              loop: true,
              // 无限轮播
              observer: true,
              //修改swiper自己或子元素时，自动初始化swiper
              observeParents: true
              //修改swiper的父元素时，自动初始化swiper
            });
          }, 1000);
        });

        if (window.sessionStorage.dizhi) {
          this.dizhi = window.sessionStorage.dizhi;
        }

        window.localStorage.setItem('userstore', 0);
        window.localStorage.setItem('mystore', 0);
        // 获取已服务人数
        // axios.get('/index.php/mapiv2/Servernum/rest', {
        //   headers: {
        //     'X-Requested-With': 'xmlhttprequest'
        //   }
        // }).then(function (res) {
        //   that.num = res.data.data;
        //   that.NumAutoPlusAnimation("time", {
        //     time: 500,
        //     num: that.num,
        //     regulator: 150
        //   });
        // });
        // 获取用户评价

        axios.get('/index.php/mobileapi/v2/Assess/getGodosAssessMix', {
          headers: {
            'X-Requested-With': 'xmlhttprequest'
          },
          params: {
            limit: 10
          }
        }).then(function (res) {
          that.comment = res.data.data.data;
          that.commentUrl = res.data.data.url;
          var swiper = new Swiper('.swiper-container-comment', {
            pagination: '.swiper-pagination',
            // slidesPerView: 1.2,
            freeMode: false,
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 30,
            observer: true,
            //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true,
            //修改swiper的父元素时，自动初始化swiper
            autoplay: 2500
            //可选选项，自动滑动
          });
        });
      },
      mounted: function mounted() {
        var that = this;
        this.order()
        var lo = setInterval(function () {
          if (!that.nowCity) {
            that.qq_position();
          } else {
            return false;
          }
        }, 2000);
        // that.access();
        // setInterval(function () {
        //   // 获取已服务人数
        //   that.access();
        // }, 5000);
        mui('body').on('tap', 'a', function () {
          window.top.location.href = this.href;
        });
        // 获取用户数据

        if (window.localStorage.userContent) {
          that.user = JSON.parse(window.localStorage.userContent);
        } else {
          this.openid = window.localStorage.openid;
          axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              openid: this.openid
            }
          }).then(function (res) {
            // console.log(res);
            that.user = res.data.data;
            var userContent = JSON.stringify(that.user);
            window.localStorage.setItem("userContent", userContent);
          });
        }
      },
      methods: {
        // 时间戳处理
        formatDateTime: function formatDateTime(inputTime) {
          var date = new Date(inputTime);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          var d = date.getDate();
          d = d < 10 ? '0' + d : d;
          var h = date.getHours();
          h = h < 10 ? '0' + h : h;
          var minute = date.getMinutes();
          minute = minute < 10 ? '0' + minute : minute; // return y + '-' + m + '-' + d + ' ' + h + ' ' + minute;

          return y + '-' + m + '-' + d + ' ' + h + ':' + minute

        },
        order: function order(i) {
          var _this = this;
          axios.post('/index.php/mapiv2/myorder/checkbind', {
            uid: _this.user.id
          }, {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              }
            }).then(function (res) {
              if (res.data.code == 0) {
                _this.is_bind = 1;
                return false;
              }
            });
        },
        //获取位置
        qq_position: function qq_position() {
          if (window.sessionStorage.location_ask == '1') {
            return false;
          }

          var geolocation = new qq.maps.Geolocation("H6OBZ-35X3X-Y4Z4J-TLKLV-3CER7-JUBYP", "myapp");

          if (geolocation) {
            var options = {
              timeout: 8000
            };
            geolocation.getLocation(this.showPosition, this.showErr, options);
          } else {
            // console.log("定位尚未加载");
          }
        },
        showPosition: function showPosition(position) {
          var that = this;
          console.log(position);
          that.nowCity = position.city.substring(0, 2);
          window.sessionStorage.setItem('location_ask', '1');
        },
        showErr: function showErr(err) {
          //所有可能的错误
          // console.log(err);
        },
        //数字自增到某一值动画参数（目标元素,自定义配置）
        // NumAutoPlusAnimation: function NumAutoPlusAnimation(targetEle, options) {
        //   /*可以自己改造下传入的参数，按照自己的需求和喜好封装该函数*/
        //   //不传配置就把它绑定在相应html元素的data-xxxx属性上吧
        //   var that = this;
        //   var $this = document.getElementById(targetEle),
        //     time = options.time,
        //     //总时间--毫秒为单位
        //     total = Number(options.num),
        //     // 总数值
        //     actual = Number(options.nowNum) || 0,
        //     // 实际数值
        //     finalNum = Number(options.num) - (Number(options.nowNum) || 0),
        //     //实际要增加的真实数值
        //     regulator = options.regulator || 100,
        //     //调速器，改变regulator的数值可以调节数字改变的速度
        //     step = finalNum / (time / regulator);
        //   /*每30ms增加的数值--*/

        //   var timer = setInterval(function () {
        //     actual += step;

        //     if (actual >= total) {
        //       clearInterval(timer);
        //       actual = total;
        //     }
        //     //t未发生改变的话就直接返回
        //     //避免调用text函数，提高DOM性能


        //     var t = Math.ceil(actual);
        //     if (t == actual) return;
        //     actual = t;
        //     that.showNum = actual;
        //   }, 30);
        // },
        // 获取访问的人数
        // access: function access() {
        //   var that = this;
        //   axios.get('/index.php/mapiv2/Servernum/rest', {
        //     headers: {
        //       'X-Requested-With': 'xmlhttprequest'
        //     }
        //   }).then(function (res) {
        //     that.num = res.data.data;
        //     that.NumAutoPlusAnimation("time", {
        //       time: 500,
        //       num: that.num,
        //       nowNum: that.showNum,
        //       regulator: 150
        //     });
        //   });
        // },
        difang: function difang(city_code) {
          var that = this;
          var city_codes = '';

          if (Object.prototype.toString.call(city_code) === '[object String]') {
            city_codes = city_code;
          } else {
            city_codes = that.dizhi[that.selected - 1].city_code;
          }

          axios.post('/index.php/mapiv2/index/setCity', {
            city_code: city_codes,
            open_id: window.localStorage.openid
          }, {
              headers: {
                'X-Requested-With': 'xmlhttprequest'
              }
            }).then(function (res) {
              window.sessionStorage.setItem('location_pop', '1');
              window.location.reload();
              //window.sessionStorage.setItem('dizhi', res.data.msg.data.use_city_code)
              // window.sessionStorage.setItem('dizhi', that.dizhi[that.selected-1].city_name)
            });
        },
        // 获取验证码
        msg: function msg() {
          var _this = this;
          axios.get('/index.php/mapi/commonapi.ajaxcommon/sms', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            },
            params: {
              phone: this.phone,
              type: 2
            }
          }).then(function (res) {
            _this.message = res.data.data;
            if (res.data.code == 0) {
              mui.toast(res.data.msg, {
                duration: '1000ms',
                type: 'div'
              });
              return false;
            }
            mui.toast('验证码已发送', {
              duration: '1000ms',
              type: 'div'
            });
            $('.identifying').css('background-color', '#ccc');
            _this.for_if = 1;
            var that = _this;
            _this.time = setInterval(that.timeout, 1000);
          });
        },
        // 验证码样式更改
        timeout: function timeout() {
          this.countdown--;
          $('.identifying').text('请稍等(' + this.countdown + 's)');

          if (this.countdown == 0) {
            clearTimeout(this.time);
            $('.identifying').css('background-color', '');
            $('.identifying').text('获取验证码');
            this.countdown = 60;
            this.for_if = 0;
          }
        },
        // 注册
        register: function register() {
          var that = this;
          if (!this.phone) {
            mui.toast('请输入手机号', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          ;
          if (!this.verification) {
            mui.toast('请输入验证码', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
          ;
          // 判断验证码
          if (this.message == this.verification) {
            // 上传
            axios.post('/index.php/mapi/Binduser/rest', {
              phone: this.phone
            }, {
                headers: {
                  'X-Requested-With': 'xmlhttprequest'
                }
              }).then(function (res) {
                that.user = res.data.data.id;
                window.localStorage.setItem('userContent', JSON.stringify(res.data.data))
                if (res.data.code == 1) {
                  mui.toast('注册成功', {
                    duration: '1000ms',
                    type: 'div'
                  });
                  that.is_bind = 0;
                } else {
                  mui.toast('注册失败,' + res.data.msg, {
                    duration: '1000ms',
                    type: 'div'
                  });
                  setTimeout(function () {
                    window.location.reload();
                  }, 1000);
                }
              });
          } else {
            mui.toast('短信输入错误', {
              duration: '1000ms',
              type: 'div'
            });
            return false;
          }
        },
        // 跳转搜索界面
        searchjump: function searchjump() {
          window.location.href = "/index.php/mobile/index/search/";
        }
      },
    });
  </script>
  <!-- 移动数据统计 -->
  <script>
    var _mtac = {};
    (function () {
      var mta = document.createElement("script");
      mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
      mta.setAttribute("name", "MTAH5");
      mta.setAttribute("sid", "500686583");
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(mta, s);
    })();
  </script>
</body>

</html>