<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>小哥帮</title>
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <!-- <script type="text/javascript" src='http://res2.wx.qq.com/open/js/jweixin-1.4.0.js'></script> -->
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/mobile/index/index-dome.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <!--<div id="pullrefresh" class="mui-content mui-scroll-wrapper">-->
    <!--<div class="mui-scroll">-->
    <!-- 轮播图 -->
    <div class="Carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, index) in index.banner_data" :key="item.id" v-cloak>
            <a :href="item.href">
              <img :src="item.img_url" v-cloak />
            </a>

          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- 标签 -->
    <div class="sort">
      <a v-for="(item, index) in index.tip_data" :key="item.id" :href="item.link" v-cloak>
        <img :src="item.icon" v-cloak>
        <span v-cloak>{{ item.name }}</span>
      </a>
    </div>
    <!-- 推荐商品 -->
    <!--         <div class="recommend">
          <div class="piece">
            <div v-for="(item, index) in index.top_goods.data" :key="item.id" v-cloak>
              <a :href="url+'?id='+item.id" v-cloak>
                <img :src="'/'+item.pic" v-cloak>
              </a>
            </div>
          </div>
        </div> -->
    <!-- 热门商品 -->
    <div class="popular">
      <span>热门推荐</span>
      <div class="popular_commodity" v-for="(item, index) in commodity" :key="item.id" v-cloak>
        <a :href="url+'?id='+item.id" class="popular-a" v-cloak>
          <div class="right">
            <img :src="'/'+item.pic" v-cloak>
          </div>
          <div class="left">
            <h4 v-cloak>{{ item.name }}</h4>
            <span v-cloak>{{ item.brief }}</span>
          </div>
        </a>
      </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <ul class="bottom">
      <li>
        <img src="{$Think.const.PUBLIC_RES}/png/icons/SY1.png">
        <p class="order">首页</p>
      </li>
      <li>
        <a :href="'/index.php/mobile/goods/classify/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/FL2.png">
          <p>分类</p>
        </a>
      </li>
      <li>
        <a :href="'/index.php/mobile/order/number/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/DD2.png">
          <p>订单</p>
        </a>
      </li>
      <li>
        <a :href="'/index.php/mobile/user/index/'+date+'/'">
          <img src="{$Think.const.PUBLIC_RES}/png/icons/GR2.png">
          <p>个人</p>
        </a>
      </li>
    </ul>
    <!-- <div class="footer">
      <i>
        <a href="javascript:;"><img src="{$Think.const.PUBLIC_RES}/png/7.png" /></a>
      </i>
      <i>
        <a :href="'/index.php/mobile/user/index/'+date"><img src="{$Think.const.PUBLIC_RES}/png/10.png" /></a>
      </i>

    </div>-->
  </div>
</body>

<script src="{$Think.const.PUBLIC_RES}/swiper/swiper3.min.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>

<script>
  'use strict';

  var app = new Vue({
    el: '#app',
    data: {
      // 热门商品数据
      commodity: [],
      // 轮播图
      banner: [],
      // 请求时间
      create_time: '',
      // 加载页面的条数
      frequency: 0,
      // url地址
      url: '',
      // 用户id
      openid: "",
      // 时间戳
      date: '',
      area_id: '',
      // 首页数据
      index: [],
      // 热门商品url
      storeUrl: '',
      // 用户数据
      user: []
    },
    // 事件
    methods: {},
    // 初始化后执行
    created: function created() {
      this.date = new Date().valueOf();
      var that = this;

      window.localStorage.setItem('userstore', 0)
      window.localStorage.setItem('mystore', 0);

      // 获取轮播图,标签,推荐
      axios.get('/index.php/mapiv2/index/rest').then(function (res) {
        // console.log(res);
        that.index = res.data.msg;
        that.url = res.data.msg.top_goods.url;
      });

      // 热门商品
      axios.get('/index.php/mapiv2/Goods/rest', {
        params: {
          limit: 8
        }
      }).then(function (res) {
        // console.log(res);
        that.storeUrl = res.data.data.url + '?id=';
        that.commodity = res.data.data.data;
        that.create_time = res.data.data.create_time;
        that.frequency += 15;
      });
      // 获取用户数据
      this.openid = window.localStorage.openid;
      axios.get('/index.php/mapi/commonapi.ajaxcommon/getUserData', {
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        },
        params: {
          openid: this.openid
        }
      }).then(function (res) {
        // console.log(res);
        that.user = res.data.data;
        var userContent = JSON.stringify(that.user);
        window.localStorage.setItem("userContent", userContent);
      });
    },

    // 渲染后执行
    mounted: function mounted() { },

    //  数据更改后执行
    updated: function updated() {
      // var that = this;
      // // mui 控件
      // mui.init({
      //   pullRefresh: {
      //     container: '#pullrefresh',
      //     down: {
      //       callback: pulldownRefresh
      //     },
      //     up: {
      //       contentrefresh: '正在加载...',
      //       contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
      //       callback: pullupRefresh
      //     }
      //   }
      // });

      /**
       * 下拉刷新具体业务实现
       */
      // function pulldownRefresh() {
      //   var that_1 = this;
      // console.log('刷新了');
      // axios.get('/index.php/mapiv2/Goods/rest', {
      //   params: {
      //     limit: "0,15"
      //   }
      // }).then(function (res) {
      //   that.storeUrl = res.data.data.url + '?id=';
      //   // console.log(that.longitude);
      //   that.frequency = 15;
      //   that.commodity = res.data.data.data;
      //   that.create_time = res.data.data.create_time;
      //   mui.toast('刷新成功', {
      //     duration: '1000ms',
      //     type: 'div'
      //   });
      //   that_1.endPullupToRefresh(false);
      //   mui('#pullrefresh').pullRefresh().refresh(true);
      //   mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
      //
      //   setTimeout(function () {
      //     that_1.endPullupToRefresh(false);
      //     mui('#pullrefresh').pullRefresh().refresh(true);
      //     mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
      //   }, 500);
      // });
      // setTimeout(function () {
      //   that_1.endPullupToRefresh(false);
      //   mui('#pullrefresh').pullRefresh().refresh(true);
      //   mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
      // }, 500);
      // }

      // var count = 0;

      /**
       * 上拉加载具体业务实现
       */
      // function pullupRefresh() {
      // var that_2 = this;
      // // console.log('加载了');
      // axios.get('/index.php/mapiv2/Goods/rest', {
      //   params: {
      //     limit: that.frequency + ',15',
      //     create_time: that.create_time
      //   }
      // }).then(function (res) {
      //   that.storeUrl = res.data.data.url + '?id=';
      //   that.frequency += 15;
      //   var arr = res.data.data.data;
      //   that.create_time = res.data.data.create_time;
      //   // console.log(res);
      //   for (var i in arr) {
      //     that.commodity.push(arr[i]);
      //   }
      //   if (res.data.data.is_ture == 0) {
      //     that_2.endPullupToRefresh(true);
      //     mui("#pullrefresh").endPullupToRefresh(true);
      //     mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了
      //   }
      //
      //   that_2.endPullupToRefresh(false);
      //   mui('#pullrefresh').pullRefresh().endPullupToRefresh();
      // });
      // }

      var mySwiper = new Swiper('.swiper-container', {
        autoplay: 2500, //可选选项，自动滑动
        loop: true, // 无限轮播
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true //修改swiper的父元素时，自动初始化swiper
      });
      mui('body').on('tap', 'a', function () {
        window.top.location.href = this.href;
      });
    }

  });
</script>

</html>