<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/index/search.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>小哥帮</title>
</head>

<body>
    <div id="app">
        <!-- 搜索框 -->
        <div class="header">
            <i class="fis"><img src="{$Think.const.PUBLIC_RES}/png/share/syss.png"></i>
            <input type="search" placeholder="请输入搜索内容" v-model="search" @blur="searchnow" @keypress="searchnow">
            <i class="las" v-show="search!=''" @tap="search=''"><img
                    src="{$Think.const.PUBLIC_RES}/png/share/close.png"></i>
        </div>
        <!-- 搜索内容为空的时候显示的内容 -->
        <div class="no_resolv" v-show="is_search==0">
            <div></div>
            <img src="{$Think.const.PUBLIC_RES}/png/share/sousuo123.png">
            <div class="prompt">
                <p>
                    抱歉，没有发现的相关内容
                </p>
                <span>
                    换个关键词试试吧
                </span>
            </div>
            <div class="tag">
                <p>推荐搜索</p>
                <div class="label">
                    <span @tap="nowsearch(item)" v-for="(item, index) in recommend"
                        :key="index">{{ item.keyword }}</span>
                </div>
            </div>
        </div>
        <div id="pullrefresh" class="mui-content mui-scroll-wrapper" v-show="is_search==1">
            <div class="mui-scroll">

                <!-- 搜索内容展示 -->
                <div class="list">
                    <ul>
                        <li v-for="(item, index) in searchList" :key="item.id" @tap="jump(item)">
                            <div class="left">
                                <img :src="'/'+item.pic">
                            </div>
                            <div class="right">
                                <h4>{{ item.name }}</h4>
                                <p>已售{{ item.virtual_times }}</p>
                                <span>￥{{ item.commonprice }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: "#app",
            data: {
                // 搜索内容
                search: '',
                // 搜索内容存取
                search_text: '',
                // 是否显示无数据
                is_search: 0,
                // 搜索返回列表
                searchList: {},
                // 页数
                page: 0,
                // 加载数量
                num: 20,
                // 跳转链接
                url: '',
                // 推荐搜索
                recommend: {}
            },
            created: function created() {
                var _this = this;

                axios.get('/index.php/mapi/Goods/get_hot_search_keywords').then(function (res) {
                    _this.recommend = res.data.data;
                });
            },
            mounted: function mounted() {
                // this.searchnow();
                var that = this;
                mui.init({
                    pullRefresh: {
                        container: '#pullrefresh',
                        down: {
                            callback: pulldownRefresh
                        },
                        up: {
                            contentrefresh: '正在加载...',
                            callback: pullupRefresh
                        }
                    }
                });
                /**
                 * 下拉刷新具体业务实现
                 */

                function pulldownRefresh() {
                    var _this = this;

                    if (!that.search) {
                        that.is_search = 0;
                        return false;
                    }

                    axios.get('/index.php/mapi/Goods/search', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            search: that.search_text,
                            limit: '0,' + that.num
                        }
                    }).then(function (res) {
                        that.is_search = 1;
                        that.searchList = res.data.data.data;

                        if (res.data.data.is_ture == 0) {
                            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed

                            mui('#pullrefresh').pullRefresh().refresh(true);
                            return false;
                        }

                        mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed

                        mui('#pullrefresh').pullRefresh().refresh(true);
                        that.page = that.num;
                    });
                }
                /**
                 * 上拉加载具体业务实现
                 */


                function pullupRefresh() {
                    var _this = this;

                    if (!that.search) {
                        _this.is_search = 0;
                        return false;
                    }

                    axios.get('/index.php/mapi/Goods/search', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            search: that.search_text,
                            limit: that.page + ',' + that.num
                        }
                    }).then(function (res) {
                        for (var key in res.data.data.data) {
                            that.searchList.push(res.data.data.data[key]);
                        }

                        if (res.data.data.is_ture == 0) {
                            _this.endPullupToRefresh(true); // mui("#pullrefresh").endPullupToRefresh(true);


                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了

                            return false;
                        }

                        _this.endPullupToRefresh(false);

                        mui('#pullrefresh').pullRefresh().endPullupToRefresh();
                        that.page += that.num;
                    });
                }
            },
            methods: {
                searchnow: function searchnow() {
                    var _this = this;

                    if (!this.search) {
                        _this.is_search = 0;
                        return false;
                    }

                    axios.get('/index.php/mapi/Goods/search', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            search: this.search,
                            limit: '0,' + this.num
                        }
                    }).then(function (res) {
                        _this.is_search = 1;
                        _this.search_text = _this.search;

                        if (res.data.data.data) {
                            _this.searchList = res.data.data.data;
                        } else {
                            _this.is_search = 0;
                        }

                        _this.url = res.data.data.url;
                        mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed

                        mui('#pullrefresh').pullRefresh().refresh(true);
                        _this.page = _this.num;
                    });
                },
                // 跳转
                jump: function jump(item) {
                    window.location.href = this.url + "/store_id/" + item.store.store_id + "/id/" + item.id;
                },
                // 点击搜索
                nowsearch: function nowsearch(item) {
                    this.search = item.keyword;
                    this.searchList = [];

                    if (this.search == '') {
                        this.is_search = 0;
                        this.search_text = '';
                    }

                    document.activeElement.blur();
                    this.searchnow();
                }
            }
        });
    </script>
</body>

</html>