<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>店铺列表</title>
  <script src="{$Think.const.PUBLIC_RES}/js/jssdk/jdk.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
<script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
  <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
  <link rel="stylesheet"
    href="{$Think.const.PUBLIC_RES}/css/mobile/index/store.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
  {include file="common/alerthb" /}<div id="app">
    <div class="home">
      <div class="header">
        <a href="/index.php/mobile/index/index">
          <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
        </a>
        <span>店铺列表</span>
        <!-- <a href="/index.php/mobile/user/index">
                <div class="character"><img src="{$Think.const.PUBLIC_RES}/png/icons/register.png" alt=""></div>
            </a> -->
      </div>
    </div>
    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll">
        <!-- 区域 -->
        <div id="area">
          <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll">
              <div class="mui-control-item mui-active" @tap="area_id=''">
                全部
              </div>
              <div v-for="(item, index) in arealist" :key="item.id" v-cloak class="mui-control-item" @tap="area_id=item.region_id">
                {{item.region_name}}
              </div>
            </div>
          </div>
        </div>

        <!-- 店铺列表 -->
        <div class="content">
          <ul class="mui-table-view mui-table-view-chevron ul_list" v-if="store !=''">
            <li v-for="(item, index) in store" :key="item.store_id" v-cloak>
              <a :href="url+item.store_id">
                <div class="mui-row">
                  <div class="left mui-col-sm-4 mui-col-xs-4">
                    <img v-if="item.shop_index==''" :src="item.ico" />
                    <img v-else :src="item.shop_index[0].img_link" />
                  </div>
                  <div class="right mui-col-sm-8 mui-col-xs-8 list">
                    <div class="right-title">
                      <h4 v-cloak>
                        {{ item.nickname }}
                      </h4>
                    </div>
                    <div class="right-content">
                      <span v-cloak>{{ item.back }}</span>
                    </div>
                    <div class="right-footer">
                      <div class="distancc">
                        <span v-if="item.distance!=undefined" v-cloak>
                          <i>
                            <img src="{$Think.const.PUBLIC_RES}/png/icons/weizhi3.png" />
                          </i>
                          &nbsp;&nbsp;{{ item.distance }}km</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <img class="pull" v-if="item.mandan==1" v-cloak
                      src="{$Think.const.PUBLIC_RES}/png/icon/fulls.png" />
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <span class='null' v-else v-cloak>当前没有店铺</span>
        </div>
      </div>
    </div>
  </div>

  
  <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
  <script>
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        //地区
        arealist:[],
        // 店铺数据
        store: [],
        // 轮播图
        banner: [],
        //经度
        longitude: null,
        //纬度
        latitude: null,
        // 请求时间
        create_time: '',
        // 加载页面的条数
        frequency: 0,
        // url地址
        url: '',
        // 用户id
        openid: "",
        // 时间戳
        date: '',
        area_id: '',
        // 分享
        cans: {}

      },
      // 事件
      methods: {
        Share: function Share() {
          wx.ready(function () {
            var that = this;
            if (that.sort == 1) {
              var Copywriting = '8大服务项目，7大服务区域，4无服务标准，专业更安心'
            } else if (that.sort == 2) {
              var Copywriting = '10年经验清洗师，专业清洗工具，给您创造健康家居环境'
            } else if (that.sort == 3) {
              var Copywriting = `故障报修30天，配件报修90天
	                            服务就近安排，30分钟极速上门`
            } else {
              var Copywriting = `有家就有小哥帮，专注家庭秘书服务！
	                            保洁、清洗、维修、月嫂、保姆、消杀…..`
            }
            // 是不是分享来的

            if (window.localStorage.toid != 'undefined') {
              var toid = window.localStorage.toid;
            } else {
              var toid = that.user.id;
            }
            // 自己店铺推荐
            if (window.localStorage.mystore == 1) {
              var tourl = '/mystore/1/' + 'to/' + toid
              var title = that.store_name
            } else {
              var tourl = ''
              var title = "小哥帮"
            }
            var shareData = {
              title: title,
              //标题
              desc: Copywriting,
              //简介，这里请特别注意是要去除html
              link: window.location.href + tourl,
              imgUrl: "{$Think.config.web_host}" + "{$Think.const.PUBLIC_RES}/png/icons/xgblogo.png",
              success: function success(res) {
                // 用户确认分享后执行的回调函数
                if (res.errMsg == 'sendAppMessage:ok' || 'ShareTimeline:ok' || 'ShareQQ:ok' ||
                  'ShareWeibo:ok') {
                  mui.toast('分享成功', {
                    duration: '1000ms',
                    type: 'div'
                  });
                } else {
                  mui.toast('分享失败', {
                    duration: '1000ms',
                    type: 'div'
                  });
                }
              },
              cancel: function cancel(res) { // 用户取消分享后执行的回调函数
              }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
          });

        },

        getAreaList:function(){
          var that = this;
          axios.get('/index.php/mapi/commonapi.ajaxcommon/get_region', {
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          }).then(function (res) {
            console.log(res.data.data.data)
            for(var i in res.data.data.data){
              if (res.data.data.data[i].constructor === Object){
                that.arealist.push(res.data.data.data[i])
              }
            }
            console.log(that.arealist)
          });
        }
      },
      // 初始化后执行
      created: function created() {
        this.date = new Date().valueOf();
        var that = this;
        this.getAreaList()
        wx.config({
          debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
          appId: "{$jssdk.appId}", // 必填，公众号的唯一标识
          timestamp: "{$jssdk.timestamp}", // 必填，生成签名的时间戳
          nonceStr: "{$jssdk.nonceStr}", // 必填，生成签名的随机串
          signature: "{$jssdk.signature}", // 必填，签名
          jsApiList: ['getLocation', 'onMenuShareTimeline', //分享给好友
            'onMenuShareAppMessage', //分享到朋友圈
            'onMenuShareQQ', //分享到QQ
            'onMenuShareWeibo', //分享到微博
            'checkJsApi', 'scanQRCode' //如果需要调扫码  侧加入至列表
          ]
        });
        // 获取链接数据
        var can = decodeURI(location.href).split('?')[0];
        can = can.split('mobile/')[1].split('/');

        for (var i = 0; i < can.length; i += 2) {
          this.cans[can[i]] = can[i + 1];
        }

        if (this.cans.to) {
          window.localStorage.setItem('toid', this.cans.to);
          window.localStorage.setItem('mystore', 1);
          window.localStorage.setItem('userstore', 0);
        }
        this.Share()
        // 判断本地是否存经纬度
        if (window.localStorage.latitude) {
          // 判断经纬度是否失效
          if (--window.localStorage.methodTime + 60 * 60 * 1000 < new Date().valueOf()) {
            // console.log('过期了');
            // 微信获取地理位置
            if (!"{$jssdk.appId}") {
              axios.get('/index.php/mapi/store/rest', {
                params: {
                  longitude: that.longitude,
                  latitude: that.latitude,
                  limit: "0,10",
                  'other[area_id]': that.area_id
                }
              }).then(function (res) {
                mui.toast('请登入后操作', {
                  duration: '1000ms',
                  type: 'div'
                });
                // console.log(res);
                that.frequency = 10;
                that.url = res.data.data.url + '?id=';
                that.store = res.data.data.data;
                that.create_time = res.data.data.create_time;
              });
            } else {
              wx.ready(function () {
                wx.getLocation({
                  type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                  // 成功时回调
                  success: function success(res) {
                    that.latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    // console.log(that.latitude);
                    that.longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    // console.log(that.longitude);
                    // 经纬度存本地
                    window.localStorage.setItem('latitude', that.latitude);
                    window.localStorage.setItem('longitude', that.longitude);
                    window.localStorage.setItem('methodTime', new Date()
                      .valueOf());

                    // 获取店铺列表
                    axios.get('/index.php/mapi/store/rest', {
                      params: {
                        longitude: that.longitude,
                        latitude: that.latitude,
                        limit: "0,10",
                        'other[area_id]': that.area_id
                      }
                    }).then(function (res) {
                      // console.log(res);
                      that.frequency = 10;
                      that.url = res.data.data.url +
                        '?id=';
                      that.store = res.data.data.data;
                      that.create_time = res.data.data.create_time;
                    });
                  },
                  // 取消时回调
                  cancel: function cancel(ress) {
                    // console.log(ress);
                    // 店铺
                    axios.get('/index.php/mapi/store/rest', {
                      params: {
                        longitude: that.longitude,
                        latitude: that.latitude,
                        limit: "0,10",
                        'other[area_id]': that.area_id
                      }
                    }).then(function (res) {
                      mui.toast('暂未获取地址', {
                        duration: '1000ms',
                        type: 'div'
                      });
                      // console.log(res);
                      that.frequency = 10;
                      that.url = res.data.data.url +
                        '?id=';
                      that.store = res.data.data.data;
                      // console.log(this.store);
                      that.create_time = res.data.data.create_time;
                    });
                  }
                });
              });
            }
          } else {
            // console.log('没过期');
            this.latitude = window.localStorage.latitude;
            this.longitude = window.localStorage.longitude;
            axios.get('/index.php/mapi/store/rest', {
              params: {
                longitude: this.longitude,
                latitude: this.latitude,
                limit: "0,10"
              }
            }).then(function (res) {
              that.frequency = 10, that.url = res.data.data.url + '?id=';
              that.store = res.data.data.data;
              that.create_time = res.data.data.create_time;
            });
            // 更新地理位置
            wx.ready(function () {
              wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                // 成功时回调
                success: function success(res) {
                  that.latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                  // console.log(that.latitude);
                  that.longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                  // console.log(that.longitude);
                  // let b = (new Date()).valueOf();
                  // 经纬度存本地
                  window.localStorage.setItem('latitude', that.latitude);
                  window.localStorage.setItem('longitude', that.longitude);
                  window.localStorage.setItem('methodTime', new Date()
                    .valueOf());
                }
              });
            });
          }
        } else {
          // 微信获取地理位置
          if (!"{$jssdk.appId}") {
            axios.get('/index.php/mapi/store/rest', {
              params: {
                longitude: that.longitude,
                latitude: that.latitude,
                limit: "0,10",
                'other[area_id]': that.area_id
              }
            }).then(function (res) {
              mui.toast('请登入后操作', {
                duration: '1000ms',
                type: 'div'
              });
              // console.log(res);
              that.frequency = 10;
              that.url = res.data.data.url + '?id=';
              that.store = res.data.data.data;
              that.create_time = res.data.data.create_time;
            });
          } else {

            wx.ready(function () {
              wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                // 成功时回调
                success: function success(res) {
                  that.latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                  // console.log(that.latitude);
                  that.longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                  // console.log(that.longitude);
                  // 经纬度存本地
                  window.localStorage.setItem('latitude', that.latitude);
                  window.localStorage.setItem('longitude', that.longitude);
                  window.localStorage.setItem('methodTime', new Date()
                    .valueOf());
                  // 获取店铺列表
                  axios.get('/index.php/mapi/store/rest', {
                    params: {
                      longitude: that.longitude,
                      latitude: that.latitude,
                      limit: "0,10",
                      'other[area_id]': that.area_id
                    }
                  }).then(function (res) {
                    // console.log(res);
                    that.frequency = 10;
                    that.url = res.data.data.url + '?id=';
                    that.store = res.data.data.data;
                    that.create_time = res.data.data.create_time;
                  });
                },
                // 取消时回调
                cancel: function cancel(ress) {

                  // console.log(ress);
                  // 店铺
                  axios.get('/index.php/mapi/store/rest', {
                    params: {
                      longitude: that.longitude,
                      latitude: that.latitude,
                      limit: "0,10",
                      'other[area_id]': that.area_id
                    }
                  }).then(function (res) {
                    mui.toast('暂未获取地址', {
                      duration: '1000ms',
                      type: 'div'
                    });
                    // console.log(res);
                    that.frequency = 10;
                    that.url = res.data.data.url + '?id=';
                    that.store = res.data.data.data;
                    // console.log(this.store);
                    that.create_time = res.data.data.create_time;
                  });
                }
              });
            });
          }
        }
        // axios.get('/index.php/mapi/store/rest', {
        //     params: {
        //         longitude: that.longitude,
        //         latitude: that.latitude,
        //         limit: "0,10",
        //         'other[area_id]': that.area_id
        //     }
        // }).then(function (res) {
        //     // mui.toast('暂未获取地址', {
        //     //     duration: '1000ms',
        //     //     type: 'div'
        //     // });
        //     // console.log(res);
        //     that.frequency = 10;
        //     that.url = res.data.data.url + '?id=';
        //     that.store = res.data.data.data;
        //     // console.log(this.store);
        //     that.create_time = res.data.data.create_time;
        // });
      },

      // 渲染后执行
      mounted: function mounted() {
      },

      //  数据更改后执行
      updated: function updated() {
        var that = this;
        // mui 控件
        mui.init({
          pullRefresh: {
            container: '#pullrefresh',
            down: {
              callback: pulldownRefresh
            },
            up: {
              contentrefresh: '正在加载...',
              contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
              callback: pullupRefresh
            }
          }
        });

        /**
         * 下拉刷新具体业务实现
         */
        function pulldownRefresh() {
          var that_1 = this;
          // console.log('刷新了');
          axios.get('/index.php/mapi/store/rest', {
            params: {
              longitude: that.longitude,
              latitude: that.latitude,
              limit: "0,10",
              'other[area_id]': that.area_id
            }
          }).then(function (res) {
            that.url = res.data.data.url + '?id=';
            // console.log(that.longitude);
            that.frequency = 10;
            that.store = res.data.data.data;
            that.create_time = res.data.data.create_time;
            mui.toast('刷新成功', {
              duration: '1000ms',
              type: 'div'
            });
            that_1.endPullupToRefresh(false);
            mui('#pullrefresh').pullRefresh().refresh(true);
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed

            setTimeout(function () {
              that_1.endPullupToRefresh(false);
              mui('#pullrefresh').pullRefresh().refresh(true);
              mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
            }, 500);
          });
          setTimeout(function () {
            that_1.endPullupToRefresh(false);
            mui('#pullrefresh').pullRefresh().refresh(true);
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
          }, 500);
        }

        var count = 0;

        /**
         * 上拉加载具体业务实现
         */
        function pullupRefresh() {
          var that_2 = this;
          // console.log('加载了');
          axios.get('/index.php/mapi/store/rest', {
            params: {
              longitude: that.longitude,
              latitude: that.latitude,
              limit: that.frequency + ',5',
              create_time: that.create_time,
              'other[area_id]': that.area_id
            }
          }).then(function (res) {
            // that.url = res.data.data.url + '?id='
            that.frequency += 5;
            var arr = res.data.data.data;
            that.create_time = res.data.data.create_time;
            // console.log(res);
            for (var i in arr) {
              that.store.push(arr[i]);
            }
            if (res.data.data.is_ture == 0) {
              that_2.endPullupToRefresh(true);
              mui("#pullrefresh").endPullupToRefresh(true);
              mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //true加载的那个会变成，没有更多数据了
            }

            that_2.endPullupToRefresh(false);
            mui('#pullrefresh').pullRefresh().endPullupToRefresh();
          });
        }

        mui('body').on('tap', 'a', function () {
          window.top.location.href = this.href;
        });
      },

      // 区域绑定
      watch: {
        // 深度 watcher
        area_id: {
          handler: function handler(val, oldVal) {
            var that = this;
            axios.get('/index.php/mapi/store/rest', {
              params: {
                longitude: that.longitude,
                latitude: that.latitude,
                limit: "0,10",
                'other[area_id]': that.area_id
              }
            }).then(function (res) {
              // console.log(res);
              that.frequency = 10;
              that.url = res.data.data.url + '?id=';
              that.store = res.data.data.data;
              that.create_time = res.data.data.create_time;

              if (that.store == '') {
                mui.toast('此区域暂无店铺', {
                  duration: '1000ms',
                  type: 'div'
                });
              } else if (that.store !== []) {
                mui('#pullrefresh').pullRefresh().refresh(true);
                mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
                mui.toast('区域更新', {
                  duration: '1000ms',
                  type: 'div'
                });
              }
            });
          },
          deep: true
        }
      }
    });
  </script>
</body>

</html>