<form id="edit-form" class="form-horizontal form-ajax" role="form" method="POST" action="">
    <div class="form-group cg">
        <label  class="control-label col-xs-12 col-sm-2">添加一个商品:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="cate,goods">
                <select class="cate form-control" data-url="shop/core_goods/cate" name="row[cate]">
                    <option value="{$row.goods.cate}"></option>
                </select>
                <select class="goods form-control" data-query-name="gid" data-url="shop/core_goods/goods?gid={$row.goods.cate}" name="row[goodsid]" disabled="">
                    <option value="{$row.goodsid}"></option>
                </select>
                <span class="msg-box n-right" for="row[gid]" style=""></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('平台/券号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="plat">
                <select class="plat form-control" data-url="shop/other/plat" name="row[orgin]">
                    <option value="{$row.orgin}"></option>
                </select>
                <input type="text" class="form-control" id="coupons" name="row[coupons]" value="" data-rule="required" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2">{:__('客户姓名')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input type="text" class="form-control" id="name" name="row[nickname]"  value="{$row.nickname}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('电话')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input type="text" class="form-control" id="mobile" name="row[mobile]" value="{$row.mobile}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="weigh" class="control-label col-xs-12 col-sm-2">{:__('预约时间')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" class="form-control datetimepicker" id="weigh" name="time" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('服务地址')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="address" name="row[address]" value="{$row.address}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="control-label col-xs-12 col-sm-2">{:__('订单备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="remark" name="row[bak]">{$row.bak}</textarea>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>