body {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

.couple {
    width: 100%;
    height: 100%;
}

/* 头部+箭头 */
.couple .heade_couple {
    width: 100%;
    height: 0.44rem;
    background-color: #fff;
}

.heade_arrows {
    width: 0.135rem;
    height: 0.005rem;
    position: absolute;
    top: 0.095rem;
    bottom: 0.09rem;
    left: 0.15rem;
}

.arrow img {
    width: 0.09rem;
    height: 0.17rem;
}

.heade_couple p {
    margin: 0;
    font-size: 0.17rem;
    color: #000;
    text-align: center;
    line-height: 0.44rem;
    letter-spacing: 0.02rem;
    border-bottom: 0.01rem solid #E6E6E6;
}

/* 手机姓名内容 */
.table {
    font-size: 0.14rem;
    width: 100%;
    /*padding: 0 0.15rem 0;*/
    /*text-align: center;*/
}

.table .table_input {
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    border-bottom: 0.01rem solid #FAFAFA;
}

.table .lx {
    margin-left: 0.18rem;
    float: left;
}

.table_input {
    /*padding-bottom: 0.2rem;*/
    color: #454545;
    border-bottom: 0.01rem solid #FAFAFA;
}

.table_input .size_s {
    font-size: 0.14rem;
    float: right;
    margin-right: 0.18rem;
}

.site {
    width: 100%;
    /*background-color: #f00;*/
    border-bottom: 0.01rem solid #E6E6E6;
}

.address .spacingbig {
    display: inline-block;
    padding: 0.12rem 0 0 0;
    margin-left: 0.18rem;
    float: left;
}

textarea {
    font-size: 0.14rem;
    border-left: 0;
    border-right:0;
    border-top: 0;
    color: #7D7D7D;
}

.mui-row .spacing {
    display: inline-block;
    padding: 0.12rem 0.1rem 0 0;
    font-size: 0.14rem;
}

/* 保存内容 */
.table p {
    width: 100%;
    text-align: center;
    /*padding: 2.0rem 0 0.24rem 0;*/
    position: fixed;
    bottom: 0;
}

.table p span {
    width: 3.2rem;
    height: 0.36rem;
    line-height: 0.36rem;
    background-color: #7D5A40;
    color: #fff;
    display: inline-block;
    border-radius: 0.18rem;
}

span.tesu_select {
    width: 1.1rem;
    height: 0.45rem;
    /*margin: 0 0 0.1rem 0.19rem;*/
    display: inline-block;
    border-radius: 0.03rem;
    text-align: center;
    position: relative;
    float: right;
    margin-right: 0.05rem;
    border: none;
}

.tesu_select img {
    width: 0.14rem;
    height: 0.07rem;
    position: absolute;
    right: 0.14rem;
    top: 50%;
    transform: translateY(-50%);
}

span.tesu_select select {
    /*height: 26px;*/
    outline: none;
    border: none;
    width: 0.9rem;
    padding: 0.1rem 0 0 0.075rem;
    /*padding: 0.1rem 0.075rem; */
    margin-bottom: 0;
    /*line-height: 0.45rem;*/
    /*padding-right: 0.4rem;*/
    /* appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;*/
    color: #383838;
    /*opacity:0.5;*/
}




























