<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小哥帮</title>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/order/add.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>
    <!-- 头部 -->
    <div class="home">
        <div class="header">
            <a href="javascript:history.go(-1)">
                <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
            </a>
            <span>服务地址选择</span>

        </div>
    </div>
    {include file="common/alerthb" /}<div id="app">
        <div v-show="is_presence==0" class="none" v-cloak>
            <img src="{$Think.const.PUBLIC_RES}/png/iconic/shu.png" alt="">
            <p>你还没有服务地址哦~</p>
            <div class="new" @tap='fresh'>
                + 新建服务地址
            </div>
        </div>
        <div v-show="is_presence==1" v-cloak class="list">
            <ul>
                <li v-for="(item, index) in list" :key="item.id">
                    <!-- <div class="but" @tap='Switch(index,item)'>
                        <div class="circle" v-show="selected!=index">

                        </div>
                        <img src="{$Think.const.PUBLIC_RES}/png/iconic/XZ01.png" v-show="selected==index"
                            class="selected">
                    </div> -->
                    <div class="cont" @tap='Switch(index,item)'>
                        <h5 v-cloak>{{ item.name }}</h5>
                        <span v-cloak>{{ item.phone.substring(0,3) }}****{{ item.phone.substring(7,11) }}</span>
                    </div>
                    <p v-cloak @tap='Switch(index,item)'>{{ item.address }}</p>
                    <div class="change" @tap="modify(item)">
                        <img src="{$Think.const.PUBLIC_RES}/png/iconic/bianji.png" alt="">
                    </div>
                </li>
            </ul>
            <div class="fresh" @tap='fresh'>
                + 新建服务地址
            </div>
        </div>
    </div>

    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 地址列表
                list: [],
                // 判断是否有地址
                is_presence: 0,
                // 选中的地址
                selected: '',
                // 获取用户数据
                user: []
            },
            created: function created() {
                var that = this;
                this.user = JSON.parse(window.localStorage.userContent);
                axios.get('/index.php/mapiv2/address/rest', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    },
                    params: {
                        uid: this.user.id
                    }
                }).then(function (res) {
                    console.log(res);
                    that.list = res.data.data.data;

                    if (that.list != []) {
                        that.is_presence = 1;
                    }
                });
                window.sessionStorage.removeItem('addName');
                window.sessionStorage.removeItem('addDetail');
            },
            methods: {
                // 跳转地址修改
                modify: function modify(item) {
                    item.is_add = 0;
                    console.log(item);
                    window.localStorage.setItem('modify', JSON.stringify(item));
                    window.location.href = "/index.php/mobile/address/edit";
                },
                Switch: function Switch(index, add) {
                    this.selected = index;
                    window.sessionStorage.setItem('address', JSON.stringify(add));
                    mui.toast('选择成功', {
                        duration: '1000ms',
                        type: 'div'
                    });
                    axios.post('/index.php/mapiv2/address/setdefault', {
                        id: add.id
                    }, {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }

                        }).then(function (res) {
                            history.go(-1);
                        })

                },
                fresh: function fresh() {
                    window.localStorage.removeItem('modify');
                    window.location.href = "/index.php/mobile/address/edit";
                }
            },
            watch: {
                list: {
                    handler: function handler(val, oldVal) {
                        if (this.list == '') {
                            this.is_presence = 0;
                        } else {
                            this.is_presence = 1;
                        }
                    },
                    deep: true
                }
            }
        });
    </script>
</body>

</html>