<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小哥帮</title>
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/order/edit.css?{$Think.config.fastadmin['v_api']}" />
</head>

<body>


    {include file="common/alerthb" /}<div id="app">
        <!-- 头部 -->
        <div class="home">
            <div class="header">
                <a href="javascript:history.go(-1)">
                    <div class="arrows"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
                </a>
                <span>服务地址</span>
                <div class="character">
                    <!-- <span>删除</span> -->
                    <button v-if="modify.is_add==0" type="button" class="mui-btn mui-btn-blue mui-btn-outlined"
                        @tap="dele">删除</button>
                </div>
            </div>
        </div>


        <!-- 联系，手机，服务，详细 -->
        <div class="datum">
            <div>
                <span>联系人</span>
                <input type="text" placeholder="请输入联系人" v-model.trim="name">
                <img v-show="name!=''" src="{$Think.const.PUBLIC_RES}/png/iconic/guanb.png" @tap="name=''" />
            </div>
            <div>
                <span>手机号</span>
                <input type="number" placeholder="请输入手机号码" v-model.trim="phone">
                <img v-show="phone!=''" src="{$Think.const.PUBLIC_RES}/png/iconic/guanb.png" @tap="phone=''" />
            </div>
            <div>
                <span>服务地址</span>
                <select class="city" @change='setab()' v-model="optionalcity">
                    <option value="">请选择城市</option>
                    <option v-cloak :value="item.city_code" v-for="(item, index) in city" :key="item.id">
                        {{ item.city_name }}</option>
                </select>
                <select class="city" v-model="specific">
                    <option value="">请选择区域</option>
                    <option v-cloak :value="item.region_id" v-for="(item, index) in region" :key="item.id">
                        {{ item.region_name }}</option>
                </select>
                <div @tap="search" class="position">
                    <img class="stop" src="{$Think.const.PUBLIC_RES}/png/iconic/position.png" />
                </div>

            </div>
            <div>
                <span>街道名称</span>
                <input type="text" placeholder="请输入街道" v-model.trim="street">
                <img v-show="street!=''" src="{$Think.const.PUBLIC_RES}/png/iconic/guanb.png" @tap="street=''" />
            </div>
            <div class="detail">
                <span>详细地址</span>
                <textarea placeholder="详细地址:如道路、门牌号、小区、楼栋号、单元等..." v-model.trim="address"></textarea>
                <img v-show="address!=''" src="{$Think.const.PUBLIC_RES}/png/iconic/guanb.png" @tap="address=''" />
            </div>
        </div>


        <!-- 底部按钮 -->
        <div class="btn" @tap='sib'>
            <div>保存并使用</div>
        </div>

    </div>


    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>

    <script>
        "use strict";

        var app = new Vue({
            el: '#app',
            data: {
                // 用户名称
                name: '',
                // 用户手机
                phone: '',
                // 详细地址
                address: '',
                // 用户id
                uid: '',
                // 区域选择
                specific: '',
                // 用户数据
                user: [],
                // 所有区
                region: [],
                // 地址数据
                modify: {},
                // 所有可选城市
                city: [],
                // 选中的城市
                optionalcity: '',
                // 省份id
                province: '',
                // 街道名称
                street: '',
                // 地图返回的信息
                addDetail: {},
                // 返回的省市区编号
                field: {
                    province: null,
                    city: null,
                    district: null
                },
                // 判断是否
            },
            created: function created() {
                var that = this;
                this.user = JSON.parse(window.localStorage.userContent);
                // mui.init({
                //     swipeBack: true //启用右滑关闭功能
                // });

                // 判断是否新建
                if (window.localStorage.modify) {
                    var modify = JSON.parse(window.localStorage.modify);
                    if (modify.is_add == 0) {
                        var specific = modify.region.split(',')[2];
                        this.name = modify.name;
                        this.phone = modify.phone;
                        this.address = modify.address;
                        this.street = modify.street;
                        this.specific = specific;
                        this.optionalcity = modify.region.split(',')[1];
                        this.province = modify.region.split(',')[0];
                        this.modify = modify;
                        // 获取所有区
                        axios.get('/index.php/mapi/commonapi.ajaxcommon/get_region', {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            },
                            params: {
                                region_id: this.optionalcity
                            }
                        }).then(function (res) {
                            // that.region = res.data.data.data;
                            var arr = res.data.data.data;
                            for (var index in arr) {
                                var obj = arr[index];
                                if (typeof obj === "object") {
                                    that.region.push(obj)
                                } else {
                                }
                            }
                        });
                    } else { }
                } else {
                    // 获取所有区
                    axios.get('/index.php/mapi/commonapi.ajaxcommon/get_region', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        // params: {
                        //     region_id: this.optionalcity
                        // }
                    }).then(function (res) {
                        // that.region = res.data.data.data;
                        var arr = res.data.data.data;
                        for (var index in arr) {
                            var obj = arr[index];
                            if (typeof obj === "object") {
                                that.region.push(obj)
                            } else {
                            }
                        }
                    });
                }

                // 获取地址
                axios.get("/index.php/mapiv2/index/rest").then(function (res) {
                    that.city = res.data.msg.city;
                })
            },
            mounted: function mounted() {
                var _this = this;
                if (window.sessionStorage.addName) {
                    this.name = JSON.parse(window.sessionStorage.addName).name;
                    this.phone = JSON.parse(window.sessionStorage.addName).phone;
                }
                if (window.sessionStorage.addDetail) {
                    this.addDetail = JSON.parse(window.sessionStorage.addDetail)
                    this.street = this.addDetail.result.address_reference.town.title;
                    this.address =
                        // this.addDetail.result.address_component.province +
                        // this.addDetail.result.address_component.city +
                        this.addDetail.result.address_component.district +
                        this.addDetail.result.address_reference.town.title +
                        this.addDetail.result.address_component.street_number +
                        this.addDetail.result.address_reference.landmark_l2.title

                    var city = String(this.addDetail.result.ad_info.city_code).substring(3, 10)
                    axios.post("/index.php/mapiv2/address/transform_city_code_from_tx", {
                        // "province": 440000,
                        "city": city,
                        "district": this.addDetail.result.ad_info.adcode
                    },
                        {
                            headers: {
                                'X-Requested-With': 'xmlhttprequest'
                            }
                        }).then(function (res) {
                            _this.field.province = res.data.data.province;
                            _this.field.city = res.data.data.city;
                            _this.field.district = res.data.data.district;
                            _this.optionalcity = _this.field.city;
                            _this.specific = _this.field.district;
                            // 判断是否开通当前城市
                            setTimeout(function () {
                                if (_this.city) {
                                    if (_this.field.city) {
                                        var is_ture = 0;
                                        for (var i in _this.city) {
                                            if (_this.city[i].city_code == _this.field.city) {
                                                _this.setab();
                                                is_ture = 1;
                                                return false;
                                            }
                                        }
                                        if (is_ture == 0) {
                                            _this.optionalcity = '';
                                            _this.specific = '';
                                            _this.street = '';
                                            _this.address = '';
                                            window.sessionStorage.removeItem('addDetail');
                                            mui.alert('此城市暂未开放', '', '确定', function () { })
                                        }
                                    }
                                }
                            }, 500);
                        })
                }
            },
            methods: {
                // 提交请求
                sib: function sib() {
                    var that = this;

                    if (!/^.{1,6}$/.test(this.name)) {
                        mui.toast('请输入正确的姓名', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }

                    if (!/^1[23456789]\d{9}$/.test(this.phone)) {
                        mui.toast('请输入正确的手机号码', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.address) {
                        mui.toast('请输入地址', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!/^.{1,50}$/.test(this.address)) {
                        mui.toast('最多输入50个字符', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.specific) {
                        mui.toast('请选择区域', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.optionalcity) {
                        mui.toast('请选择城市', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (!this.street) {
                        mui.toast('请选择街道', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (that.addDetail == {}) {
                        var lat = that.addDetail.latlng.lat;
                        var lng = that.addDetail.latlng.lng;
                    } else {
                        var lat = '';
                        var lng = '';
                    }
                    var btnArray = ['是', '否'];
                    mui.confirm('是否已填写门牌号', '', btnArray, function (e) {
                        if (e.index == 0) {
                            if (that.modify.is_add == 0) {
                                // 修改地址
                                axios.put('/index.php/mapiv2/address/rest', {
                                    __token__: "{$__token__}",
                                    name: that.name,
                                    phone: that.phone,
                                    address: that.address,
                                    uid: that.user.id,
                                    id: that.modify.id,
                                    region: {
                                        0: that.province,
                                        1: that.optionalcity,
                                        2: that.specific
                                    },
                                    street: that.street,
                                    lat: lat,
                                    lng: lng
                                }, {
                                        headers: {
                                            'X-Requested-With': 'xmlhttprequest'
                                        }
                                    }).then(function (res) {
                                        if (res.data.data.data.code == 1) {
                                            that.modify.name = that.name;
                                            that.modify.phone = that.phone;
                                            that.modify.address = that.address;
                                            window.sessionStorage.setItem('address', JSON.stringify(res.data.data.data.data));
                                            axios.post('/index.php/mapiv2/address/setdefault', {
                                                id: res.data.data.data.data.id
                                            }, {
                                                    headers: {
                                                        'X-Requested-With': 'xmlhttprequest'
                                                    }

                                                }).then(function (res) {
                                                    mui.toast('修改成功', {
                                                        duration: '1000ms',
                                                        type: 'div'
                                                    });
                                                    setTimeout(function () {
                                                        history.go(-2);
                                                    }, 1000);
                                                })
                                        } else {
                                            mui.toast('修改失败', {
                                                duration: '1000ms',
                                                type: 'div'
                                            });
                                            setTimeout(function () {
                                                location.reload();
                                            }, 1000);
                                        }
                                    });
                            } else {
                                // 新建地址
                                axios.post('/index.php/mapiv2/address/rest', {
                                    __token__: "{$__token__}",
                                    name: that.name,
                                    phone: that.phone,
                                    address: that.address,
                                    uid: that.user.id,
                                    region: {
                                        0: that.province,
                                        1: that.optionalcity,
                                        2: that.specific
                                    },
                                    street: that.street,
                                    lat: lat,
                                    lng: lng
                                }, {
                                        headers: {
                                            'X-Requested-With': 'xmlhttprequest'
                                        }
                                    }).then(function (res) {
                                        if (res.data.data.code == 1) {
                                            that.modify.name = that.name;
                                            that.modify.phone = that.phone;
                                            that.modify.address = that.address;
                                            that.modify.region = "440000,440300," + that.specific;
                                            that.modify.id = res.data.data.data;
                                            window.sessionStorage.setItem('address', JSON.stringify(that.modify));
                                            axios.post('/index.php/mapiv2/address/setdefault', {
                                                id: res.data.data.data
                                            }, {
                                                    headers: {
                                                        'X-Requested-With': 'xmlhttprequest'
                                                    }

                                                }).then(function (res) {
                                                    mui.toast('新建成功', {
                                                        duration: '1000ms',
                                                        type: 'div'
                                                    });
                                                    setTimeout(function () {
                                                        history.go(-2);
                                                    }, 1000);
                                                })
                                        } else {
                                            mui.toast('新建失败', {
                                                duration: '1000ms',
                                                type: 'div'
                                            });
                                            setTimeout(function () {
                                                location.reload();
                                            }, 1000);
                                        }
                                    });
                            }
                        } else { }
                    });

                },
                dele: function dele() {
                    var that = this; // mui.toast('欢迎体验Hello MUI');

                    var btnArray = ['是', '否'];
                    mui.confirm('是否确定删除地址？', '删除', btnArray, function (e) {
                        if (e.index == 0) {
                            that.d();
                        } else { }
                    });
                },
                // 删除请求
                d: function d() {
                    axios.delete('/index.php/mapiv2/address/rest', {
                        params: {
                            __token__: "{$__token__}",
                            id: this.modify.id
                        },
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        }
                    }).then(function (res) {
                        console.log(res);

                        if (res.data.data.data.code == 1) {
                            mui.toast('删除成功', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                history.back(-1);
                            }, 1000);
                        } else {
                            mui.toast('删除失败', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        }
                    });
                },
                // 切换城市
                setab: function setab() {
                    var that = this;
                    // 获取所有区
                    axios.get('/index.php/mapi/commonapi.ajaxcommon/get_region', {
                        headers: {
                            'X-Requested-With': 'xmlhttprequest'
                        },
                        params: {
                            region_id: this.optionalcity
                        }
                    }).then(function (res) {
                        // that.region = res.data.data.data;
                        var arr = res.data.data.data;
                        that.region = [];
                        // that.specific = '';
                        for (var index in arr) {
                            var obj = arr[index];
                            if (typeof obj === "object") {
                                that.region.push(obj)
                            } else {
                                that.province = arr[index];
                            }
                        }
                    });
                },
                search: function search() {
                    var add = {
                        name: this.name,
                        phone: this.phone
                    };
                    console.log(add);
                    add = JSON.stringify(add)
                    window.sessionStorage.setItem('addName', add)
                    window.location.href = "/index.php/mobile/address/position"
                }
            }
        });
    </script>
</body>

</html>