<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/mui/css/mui.min.css?{$Think.config.fastadmin['v_api']}" />
    <link rel="stylesheet" href="{$Think.const.PUBLIC_RES}/css/base.css?{$Think.config.fastadmin['v_api']}">
    <link rel="stylesheet"
        href="{$Think.const.PUBLIC_RES}/css/mobile/address/index.css?{$Think.config.fastadmin['v_api']}">
    <script src="{$Think.const.PUBLIC_RES}/vue/vue.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/rem/rem.js?{$Think.config.fastadmin['v_api']}"></script>
    <script src="{$Think.const.PUBLIC_RES}/js/axios/axios.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <title>地址管理</title>
    <style>
    </style>
</head>

<body>
    {include file="common/alerthb" /}<div id="app">
        <div class="couple">
            <!-- 头部 -->
            <div class="heade_couple">
                <a href="javascript:history.go(-1)">
                    <div class="heade_arrows">
                        <div class="arrow"><img src="{$Think.const.PUBLIC_RES}/png/icons/fanhui.png" alt=""></div>
                    </div>
                </a>
                <p>我的地址</p>
            </div>
            <!-- 手机姓名 -->
            <!--<img src="../../../../public/resource/png/icon/down.png" height="14" width="28"/>-->
            <div class="table">
                <div class="table_input mui-row">
                    <span class="mui-col-sm-3 lx">联系人 :</span><span class="mui-col-sm-9 size_s" v-cloak>{{
                        user.nickname }}</span>
                </div>
                <div class="table_input mui-row">
                    <span class="mui-col-sm-3 lx">手机号码：</span><span class="mui-col-sm-9  size_s" v-cloak>{{ user.phone
                        }}</span>
                </div>
                <div class="address mui-row">

                    <div class=" mui-col-sm-9 mui-col-xs-9 mui-row site">
                        <span class="mui-col-sm-3 mui-col-xs-3 spacingbig">区域 :</span>
                        <!--<span class="mui-col-sm-6 mui-col-xs-6 spacing">广东省深圳市</span>-->
                        <span class="tesu_select">
                            <img src="{$Think.const.PUBLIC_RES}/png/icons/subscript.png" />
                            <select v-model="area_fuzhi">
                                <option value="">请选择</option>
                                <option :value="item.region_id+','+item.region_name" v-for="(item, index) in region"
                                    :key="item.id">{{ item.region_name }}</option>

                            </select>
                        </span>
                    </div>
                    <div class="mui-row">
                        <span class="mui-col-sm-3 mui-col-xs-3"></span>
                        <textarea v-cloak v-model="address" class="mui-col-sm-9" placeholder="请填写详细地址......"></textarea>
                    </div>
                </div>
                <!-- 保存 -->
                <p><span @click="manag" v-cloak>保存</span></p>
            </div>
        </div>
    </div>


    <script src="{$Think.const.PUBLIC_RES}/mui/js/mui.min.js?{$Think.config.fastadmin['v_api']}"></script>
    <script>
        'use strict';

        var app = new Vue({
            el: "#app",
            data: {
                // 	地址管理
                site: '',
                //令牌
                token: '',
                //用户id
                id: '',
                //区域（中文）
                area: '',
                // 地址
                address: '',
                // 区域region_id
                area_id: '',
                // 用户数据
                user: [],
                // 区域赋值
                area_fuzhi: 1,
                // 分类详情
                region: []
            },
            // 事件
            methods: {
                manag: function manag() {
                    // 处理地址
                    if (this.area_fuzhi == '') {
                        mui.toast('请选择正确区域', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    if (this.address == '') {
                        mui.toast('请填写详细地址', {
                            duration: '1000ms',
                            type: 'div'
                        });
                        return false;
                    }
                    this.area_id = this.area_fuzhi.split(',')[0];
                    this.area = this.area_fuzhi.split(',')[1];

                    // 提交数据
                    axios.put('/index.php/mapi/Address/rest', {
                        __token__: this.token,
                        id: this.id,
                        area: this.area,
                        address: this.address,
                        area_id: this.area_id
                    }).then(function (res) {
                        if (res.data.msg == '请求成功') {
                            mui.toast('修改成功', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                window.location.href = "/index.php/mobile/user/index";
                            }, 1000);
                        } else {
                            mui.toast('修改失败,请重填', {
                                duration: '1000ms',
                                type: 'div'
                            });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    });
                }
            },
            // 初始化后
            created: function created() {
                var that = this;
                this.token = '{$__token__}';
                // console.log(decodeURI(location.search));
                this.user = JSON.parse(window.localStorage.userContent);
                this.id = this.user.id;
                this.area = this.user.area;
                this.address = this.user.address;
                this.area_id = this.user.area_id;
                if (this.area_id == 'undefined') {
                    this.area_fuzhi = '';
                } else {
                    this.area_fuzhi = this.area_id + ',' + this.area;
                }
                // 获取所有区

                axios.get('/index.php/mapi/commonapi.ajaxcommon/get_region', {
                    headers: {
                        'X-Requested-With': 'xmlhttprequest'
                    }
                    // ,
                    // params: {
                    //     region_id: 440300
                    // }
                }).then(function (res) {
                    // that.region = res.data.data.data;
                    var arr = res.data.data.data;
                    for (var index in arr) {
                        var obj = arr[index];
                        if (typeof obj === "object") {
                            that.region.push(obj)
                        } else {
                        }
                    }
                });
            },
            mounted: function mounted() { }
        });
    </script>
</body>

</html>