body {
    background-color: #f1f1f1;
}

.row {
    width: 100%;
    padding: 0 20% 0 15%;
    margin-bottom: 25px;
}

.row .order,
.row .customer {
    width: 100%;
    display: flex;
    text-align: center;
}

.row .title {
    flex: 1;
    margin: auto auto;
    height: 100%;
    /* display: block; */
    /* box-sizing: border-box; */
    /* border: 10px solid #f1f1f1;
    background-color: #fff; */
}

.row .title>span {
    width: 38px;
    font-size: 20px;
    display: block;
    line-height: 25px;
    height: 100%;
}

.row .information {
    flex: 15;
    background: none;
    /* border: 1px solid #cccccc; */
    background-color: #f7f7f7;
    margin: auto 0;
}

.row .identifier,
.row .commodity,
.row .waiter,
.row .service,
.row .contacts,
.row .add {
    display: flex;
    text-align: center;
}

.row .add .address {
    flex: 3;
}

.row span {
    flex: 1;
    line-height: 50px;
    font-size: 16px;
}

.con {
    text-align: left;
}

.button {
    float: right;
    width: 15%;
    background-color: #d22c2c;
    text-align: center;
    margin-top: 4%;
    border-radius: 2px;
}
.button a {
    color: #fff;
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    width: 100%;
    display: block;
    text-decoration:none;
}
.multi {
    flex: 2;
    width: 100%;
}
.data {
    margin: auto auto;
    width: 25%;
}

.data input {
    width: 100%;
    padding: 0 5%;
    height: 28px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
 
.personnel {
    width: 25%;
    margin: auto auto;
}

.ms-parent  {
    width: 100%!important;
    border-radius: 3px;
}

.ms-choice>span {
    line-height: 25px;
}

form {
    width: 100%;
    margin-top: 25px;
}

.submit {
    width: 12%;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    float: right;
    background-color: #d22c2c;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
}
form a {
    width: 12%;
    font-size: 16px;
    line-height: 32px;
    height: 30px;
    float: right;
    background-color: #d22c2c;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-align: center;
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:#fff;
}


form {
    width: 100%;
    margin-top: 25px;
}
.submit {
    width: 12%;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    float: right;
    background-color: #d22c2c;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
}
form a {
    width: 12%;
    font-size: 16px;
    line-height: 32px;
    height: 30px;
    float: right;
    background-color: #d22c2c;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-align: center;
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:#fff;
}

.ms-drop {
    text-align: left;
}

/* .ms-drop>ul>li {
    height: 40px;
    line-height: 40px;
} */
.personnel {
    flex: 3;
}
.Keep {
    text-align: right;
}