<form id="edit-form" class="form-horizontal form-ajax" role="form" method="post" action="">
    <input type="hidden" name="row[rules]" value="" />
    <div class="form-group">
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('审核通过')], $row['status'])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2 col-xs-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" style="margin-left: 30%" class="btn btn-success btn-embossed disabled">　{:__('OK')}　</button>
        </div>
    </div>
</form>
