<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <span id="type-area">
                        <a class="btn btn-success btn-change btn-month" data-url="count/index" href="javascript:;"><i class="fa fa-moon-o"></i> 月统计</a>
                        <a class="btn btn-danger btn-change btn-day" data-url="count/index/of/day" href="javascript:;"><i class="fa fa-dot-circle-o"></i> 日统计</a>
                        <a class="btn btn-danger btn-change btn-weak" data-url="count/index/of/week" href="javascript:;"><i class="fa fa-clock-o"></i> 周统计</a>
                        <a class="btn btn-danger btn-change btn-year" data-url="count/index/of/year" href="javascript:;"><i class="fa fa-area-chart"></i> 年统计</a>
                        </span>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
