<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a class="btn btn-default btn-change btn-bt-default" href="javascript:;"><i class="fa fa-globe" aria-hidden="true"></i>全部</a>
                        <a class="btn btn-success btn-change btn-visit-off" href="javascript:;"><i class="fa fa-comment-o" aria-hidden="true"></i>待回访</a>
                        <a class="btn btn-info btn-change btn-visit-on" href="javascript:;"><i class="fa fa-comments-o" aria-hidden="true"></i>待跟进</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-edit="{:$auth->check('shop/employee/edit')}"
                           data-operate-del="{:$auth->check('shop/employee/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var ids = "{$ids}";
</script>