<style type="text/css">
  .right{
        text-align: right;
  }
</style>
<table class="table">
	<caption style="text-align: center;">订单人工处理</caption>

   <tbody>
      <tr>
         <td>用户名</td>
         <td class="right">{$list.order.nickname}</td>
      </tr>
      <tr>
         <td>电话</td>
         <td class="right">{$list.mobile}</td>
      </tr>
      <tr>
         <td>购买项目</td>
         <td class="right">{$list.goods_name}</td>
      </tr>
      <tr>
         <td>区域</td>
         <td class="right">{$list.region_name}</td>
      </tr>
      <tr>
         <td>详细地址</td>
         <td class="right">{$list.address}</td>
      </tr>
      <tr>
         <td>成本价</td>
         <td class="right">{$list.order.mobile}</td>
      </tr>
      <tr>
         <td>来源</td>
         <td class="right">{if condition="$list['order']['orgin'] eq 1"}公众号{else/}未定义{/if}</td>
      </tr>
      <tr>
         <td>用户留言</td>
         <td class="right">{$list.order.bak}</td>
      </tr>
      <tr>
         <td>服务人员</td>
         <td class="right">{assign name="var" value="$list.sfuserid|explode=',',###"/}
                {foreach name='var' id='kv'}
                {$kv|is_get_val='employee',###,'name'}
                 &nbsp
                {/foreach}
          </td class="right">
      </tr>
      <tr>
         <td>上门时间</td>
         <td class="right">{$list.appoint_start|(int)|date="Y-m-d H:i:s",###}</td>
      </tr>
      <tr>
         <td>完成时间</td>
         <td class="right">{$list.fu_end|(int)|date="Y-m-d H:i:s",###}</td>
      </tr>
      <tr>
         <td>服务时长</td>
         <td class="servertime right"></td>
      </tr>

   </tbody>
</table>



<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <input type="hidden" id="visit" name="row[visit]" value="1">
        <label for="c-bio" class="control-label col-xs-12 col-sm-4">客户反馈:</label>
        <div class="col-xs-12 col-sm-4">
             {:Form::textarea('row[visit_note]',$list['visit_note'],['data-rule'=>''])}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-3"></label>
        <div class="col-xs-12 col-sm-8">
            <input type="submit" id="success" value="回访成功" class="btn btn-success btn-embossed" />
            <input type="button" id="fail" value="回访失败" style="margin-left: 5em" class="btn btn-danger btn-embossed button.btn-close" />
        </div>
    </div>
</form>
<script type="text/javascript">
    window.onload=function(){
          var dateBegin="{$list.fu_start}";
          var dateEnd="{$list.fu_end}";
          var res=getdat(dateBegin,dateEnd);
          document.getElementsByClassName('servertime')[0].innerText=res
    }
    function getdat(dateBegin,dateEnd){
          dateEnd=dateEnd*1000;
          dateBegin=dateBegin*1000;
          var dateDiff = dateEnd - dateBegin;//时间差的毫秒数
          var dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));//计算出相差天数
          var leave1=dateDiff%(24*3600*1000)    //计算天数后剩余的毫秒数
          var hours=Math.floor(leave1/(3600*1000))//计算出小时数
          //计算相差分钟数
          var leave2=leave1%(3600*1000)    //计算小时数后剩余的毫秒数
          var minutes=Math.floor(leave2/(60*1000))//计算相差分钟数
          //计算相差秒数
          var leave3=leave2%(60*1000)      //计算分钟数后剩余的毫秒数
          var seconds=Math.round(leave3/1000)
          return dayDiff+"天"+hours+'小时'+minutes+'分钟'+seconds+'秒';
    }
</script>